USE [Ventas]
GO
/****** Object:  Table [dbo].[FACT_Objetivo_Vendedor_Cliente]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[FACT_Objetivo_Vendedor_Cliente](
	[VendedorID] [varchar](10) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[ObjetivoID] [int] NOT NULL,
	[PeriodoID] [int] NOT NULL,
	[PathFoto] [varchar](255) NULL,
	[FileName] [varchar](255) NULL,
	[isValid] [int] NULL,
	[DateAdded] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[FACT_Objetivo_Vendedor_Cliente] ADD [Mensaje] [varchar](1000) NULL
 CONSTRAINT [PK_FACT_Objetivo_Vendedor_Cliente] PRIMARY KEY CLUSTERED 
(
	[VendedorID] ASC,
	[ClienteID] ASC,
	[ObjetivoID] ASC,
	[PeriodoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FACT_Objetivo_Vendedor_Cliente] ADD  DEFAULT ((0)) FOR [isValid]
GO
ALTER TABLE [dbo].[FACT_Objetivo_Vendedor_Cliente] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
