USE [Ventas]
GO
/****** Object:  Table [dbo].[temp.ClientesXVendedorDaniel]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp.ClientesXVendedorDaniel](
	[Código ] [nvarchar](255) NULL,
	[F2] [float] NULL,
	[Nombre ] [nvarchar](255) NULL,
	[Razón Social ] [nvarchar](255) NULL,
	[Subcanales ] [nvarchar](255) NULL,
	[Categoría ] [nvarchar](255) NULL,
	[Razón Social - Descripción ] [nvarchar](255) NULL
) ON [PRIMARY]

GO
