USE [Ventas]
GO
/****** Object:  StoredProcedure [dbo].[Vendedor_Clientes_List]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Vendedor_Clientes_List] 
@VendedorID VARCHAR(10),
@PeriodoID INT
AS
SET NOCOUNT ON 

SELECT 
	RowID = ROW_NUMBER() oVER (ORDER BY c.canalid,c.clientenombre),
	a.ClienteID,UPPER(C.ClienteNombre) as ClienteNombre ,C.RazonSocial,
	COUNT(DISTINCT a.ObjetivoID) TotalObjetivos, COUNT(DISTINCT F.ObjetivoID) TotalSubidas,  
	SUM(CASE WHEN ISNULL(f.isValid,0)=1 THEN 1 ELSE 0 END) TotalValido,
	CumplimientoValidadas =  SUM(CASE WHEN ISNULL(f.isValid,0)=1 THEN 1 ELSE 0 END)  *100 /COUNT(DISTINCT a.ObjetivoID) ,
	CumplimientoSubidas =  COUNT(DISTINCT F.ObjetivoID) *100 /COUNT(DISTINCT a.ObjetivoID),
	SUM(CASE WHEN f.isValid=0 THEN 1 ELSE 0 END) TotalPendientes,
	c.CanalID
FROM DIM_Objetivo_Vendedor_Cliente a
INNER JOIN Clientes C ON C.ClienteID= a.ClienteID
LEFT JOIN FACT_Objetivo_Vendedor_Cliente F ON F.VendedorID = a.VendedorID AND F.ClienteID=a.ClienteID AND F.ObjetivoID=a.ObjetivoID AND F.PeriodoID = A.PeriodoID
WHERE a.VendedorID= @VendedorID and a.PeriodoID=@PeriodoID
GROUP BY a.ClienteID,C.ClienteNombre,C.RazonSocial,c.CanalID


GO
