USE [Ventas]
GO
/****** Object:  Table [dbo].[Supervisores]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supervisores](
	[SupervisorID] [varchar](10) NULL,
	[Nombre] [varchar](255) NULL,
	[sPassword] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
