USE [Ventas]
GO
/****** Object:  StoredProcedure [dbo].[usp_test]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_test]
AS
SET NOCOUNT ON
  
select top 10 * from PeriodosNew
GO
