USE [Ventas]
GO
/****** Object:  Table [dbo].[DIM_Objetivo_Vendedor_Cliente]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[DIM_Objetivo_Vendedor_Cliente](
	[VendedorID] [varchar](10) NULL,
	[ClienteID] [int] NULL,
	[ObjetivoID] [int] NULL,
	[PeriodoID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
