USE [Ventas]
GO
/****** Object:  Table [dbo].[PeriodosNew]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PeriodosNew](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[PeriodoAnio] [varchar](4) NOT NULL,
	[PeriodoID] [int] NOT NULL,
	[PeriodoCodigo] [char](2) NULL,
	[PeriodoNombre] [varchar](15) NULL,
	[Inicio] [char](8) NULL,
	[Fin] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[PeriodoAnio] ASC,
	[PeriodoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
