USE [Ventas]
GO
/****** Object:  StoredProcedure [dbo].[Vendedor_Login]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Vendedor_Login]
@UserName VARCHAR(8),
@Password VARCHAR(8)
AS
SET NOCOUNT ON 

DECLARE @Pass VARCHAR(8), @Nombre varchar(255)

IF exists(SELECT  NULL FROM Vendedores WHERE VendedorID=@UserName )
BEGIN
	SELECT @Pass= sPassWord, @Nombre = Nombre
	FROM Vendedores 
	WHERE VendedorID=@UserName

END 
ELSE
BEGIN
	SELECT @Pass= sPassWord, @Nombre = Nombre
	FROM Supervisores
	WHERE SupervisorID=@UserName
END

SELECT CASE WHEN @Pass= @Password THEN 1 ELSE 0 END AS isValid, @Nombre as Nombre

RETURN 


GO
