USE [Ventas]
GO
/****** Object:  StoredProcedure [dbo].[GeneratePeriodos]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GeneratePeriodos]
AS

DECLARE @Today DATETIME
SET @Today = GETDATE() 

IF NOT EXISTS ( SELECT  NULL FROM dbo.PeriodosNew WHERE PeriodoAnio=DATEPART(yyyy,@Today) AND PeriodoCodigo = RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(MM,@Today)),2) )
BEGIN
	-- INSERTO PERIODO

	INSERT INTO PeriodosNew(
			PeriodoAnio,
			PeriodoID,
			PeriodoCodigo,
			PeriodoNombre,
			Inicio,
			Fin)
	VALUES (	
			DATEPART(yyyy,@Today),
			DATEPART(MM,@Today),
			RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(MM,@Today)),2), 
			DATENAME(month,@Today),
			DATEPART(yyyy,@Today)+ RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(MM,@Today)),2)+'01',
			DATEPART(yyyy,@Today)+ RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(MM,@Today)),2)+'99')
END  
DECLARE @PeriodoID INT, @PeriodoAnt INT
 
SELECT @PeriodoID= MAX(RowID) from PeriodosNew where CONVERT(VARCHAR(8),@Today,112) between Inicio and fin

IF @PeriodoID IS NOT NULL AND
	NOT EXISTS ( SELECT NULL FROM DIM_Objetivo_Vendedor_Cliente WHERE PeriodoID=@PeriodoID)
BEGIN
	SELECT @PeriodoAnt = MAX(RowID) FROM PeriodosNew WHERE Rowid<@PeriodoID
	select @PeriodoAnt,@PeriodoID
	INSERT INTO DIM_Objetivo_Vendedor_Cliente (VendedorID,ClienteID,ObjetivoID,PeriodoID)
	SELECT VendedorID,ClienteID,ObjetivoID,@PeriodoID
	FROM DIM_Objetivo_Vendedor_Cliente
	WHERE PeriodoID=@PeriodoAnt
 
	
	SELECT @@ROWCOUNT
END 
 

GO
