USE [Ventas]
GO
/****** Object:  StoredProcedure [dbo].[Vendedor_Cliente_Sel]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Vendedor_Cliente_Sel]
@VendedorID VARCHAR(10),
@ClienteID INT
AS
SET NOCOUNT ON 

DECLARE @Vendedor VARCHAR(255), @ClienteNombre VARCHAR(255)

SELECT @Vendedor = Nombre
FROM Vendedores
WHERE VendedorID = @VendedorID

SELECT @ClienteNombre = ClienteNombre 
FROM Clientes
WHERE ClienteID = @ClienteID
 

SELECT @Vendedor AS VendedorNombre, @ClienteNombre AS ClienteNombre

GO
