USE [Ventas]
GO
/****** Object:  StoredProcedure [super].[Vendedor_Clientes_Objetivo_Guardar]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [super].[Vendedor_Clientes_Objetivo_Guardar]
@VendedorID VARCHAR(10),
@ClienteID INT,
@ObjetivoID INT,
@PeriodoID INT,
@Action INT,
@Mensaje VARCHAR(1000)
AS
SET NOCOUNT ON 
  
UPDATE FACT_Objetivo_Vendedor_Cliente  SET 
	isValid = @Action,
	Mensaje = @Mensaje
WHERE  VendedorID = @VendedorID AND ClienteID= @ClienteID AND ObjetivoID=@ObjetivoID AND PeriodoID=@PeriodoID 



GO
