USE [Ventas]
GO
/****** Object:  StoredProcedure [super].[Vendedor_Clientes_Objetivo_Sel]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [super].[Vendedor_Clientes_Objetivo_Sel] '073', 1018, 21
CREATE PROCEDURE [super].[Vendedor_Clientes_Objetivo_Sel]
@VendedorID VARCHAR(10),
@ClienteID INT,
@PeriodoID INT
AS
SET NOCOUNT ON  
 
SELECT a.ObjetivoID,o.Nombre,
	uploaded = CASE WHEN F.VendedorID IS NOT NULL THEN 1 ELSE 0 END,
	isValid, o.Descripcion,
	
	REPLACE(REPLACE(PathFoto,'C:\',''),'\','/') + Replace(FileName,'\','/') AS NombreArchivo,
	ToolTip= CONVERT(VARCHAR(1000),ISNULL(F.Mensaje,'No tiene mensajes'))


FROM DIM_Objetivo_Vendedor_Cliente a
INNER JOIN Clientes C ON C.ClienteID= a.ClienteID
INNER JOIN Objetivos O ON O.Id = a.ObjetivoID
LEFT JOIN FACT_Objetivo_Vendedor_Cliente F ON F.VendedorID = a.VendedorID AND F.ClienteID=a.ClienteID AND F.ObjetivoID=a.ObjetivoID AND F.PeriodoID = A.PeriodoID -- AND F.isValid=1
WHERE a.VendedorID= @VendedorID and a.PeriodoID=@PeriodoID AND a.ClienteID = @ClienteID



GO
