USE [Ventas]
GO
/****** Object:  StoredProcedure [super].[Supervisor_Vendedores_List]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--[super].[Supervisor_Vendedores_List]1001,22

CREATE PROCEDURE [super].[Supervisor_Vendedores_List]
@SupervisorID VARCHAR(10),
@PeriodoID INT=21
AS
SET NOCOUNT ON 

IF @SupervisorID IN ('admin','bancos','vsaffe')
BEGIN 
	SET @SupervisorID = 1001
END

SELECT V.VendedorID,V.Nombre,
	COUNT(DISTINCT a.ClienteID) TotalClientes, 
	--COUNT(a.ObjetivoID) TotalObjetivos,  
	90 TotalObjetivos,  
	SUM(CASE WHEN F.VendedorID is not null THEN 1 ELSE 0 END) Subidas,
	SUM(CASE WHEN F.VendedorID is not null AND f.isvalid=2 THEN 1 ELSE 0 END) SubidasDescartadas,
	SUM(CASE WHEN ISNULL(f.isValid,0)=1 THEN 1 ELSE 0 END) TotalValido,
	--CumplimientoValidadas =  SUM(CASE WHEN ISNULL(f.isValid,0)=1 THEN 1 ELSE 0 END)  *100 /NULLIF(COUNT(a.ObjetivoID),0) ,
	CumplimientoValidadas =  SUM(CASE WHEN ISNULL(f.isValid,0)=1 THEN 1 ELSE 0 END)  *100 /90 ,
	CumplimientoSubidas =  COUNT(DISTINCT F.ObjetivoID) *100 /COUNT(DISTINCT a.ObjetivoID) ,
	SUM(CASE WHEN f.isValid=0 THEN 1 ELSE 0 END) TotalPendientes

FROM DIM_Objetivo_Vendedor_Cliente a
INNER JOIN Vendedores V ON V.VendedorID = a.VendedorID 
LEFT JOIN FACT_Objetivo_Vendedor_Cliente F ON F.VendedorID = a.VendedorID AND F.ClienteID=a.ClienteID AND F.ObjetivoID=a.ObjetivoID AND F.PeriodoID = A.PeriodoID
WHERE V.SupervisorID= @SupervisorID and a.PeriodoID=@PeriodoID
GROUP BY V.VendedorID,V.Nombre


GO
