USE [Ventas]
GO
/****** Object:  StoredProcedure [ven].[Periodos_Combo]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ven].[Periodos_Combo]
AS

SELECT TOP 3 *, Descripcion = CONVERT(CHAR(4),PeriodoAnio) + '-' + PeriodoNombre
FROM PeriodosNew P
WHERE P.Inicio <= CONVERT(VARCHAR(8),GETDATE(),112)
ORDER BY RowID DESC

GO
