USE [Ventas]
GO
/****** Object:  StoredProcedure [ven].[usp_Periodo_Actual]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ven].[usp_Periodo_Actual]
AS
SET NOCOUNT ON
 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
  
--SELECT 21 as PeriodoID
 
SELECT MAX(RowID) PeriodoID
FROM PeriodosNew N WITH(NOLOCK) 
WHERE CONVERT(INT,CONVERT(VARCHAR(8),GETDATE(),112),112) BETWEEN N.Inicio and N.Fin 
 
GO
