USE [Ventas]
GO
/****** Object:  StoredProcedure [ven].[Vendedor_Clientes_Objetivo_Guardar]    Script Date: 30/04/2026 12:45:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ven].[Vendedor_Clientes_Objetivo_Guardar]
@VendedorID VARCHAR(10),
@ClienteID INT,
@ObjetivoID INT,
@PeriodoID INT,
@FileName VARCHAR(255)
AS
SET NOCOUNT ON 
 

DECLARE @Dir VARCHAR(100), @sFileName VARCHAR(100)

SELECT @Dir = LEFT(@FileName,LEN(@FileName) - charindex('\',reverse(@FileName),1) + 1), 
       @sFileName  = RIGHT(@FileName, CHARINDEX('\', REVERSE(@FileName)) -1)   


INSERT INTO FACT_Objetivo_Vendedor_Cliente (VendedorID,ClienteID,ObjetivoID,PeriodoID,PathFoto,FileName,isValid)
SELECT @VendedorID, @ClienteID, @ObjetivoID, @PeriodoID,@Dir,@sFileName,0
WHERE NOT EXISTS (
		SELECT  NULL 
		FROM  FACT_Objetivo_Vendedor_Cliente x 
		WHERE x.VendedorID = @VendedorID AND x.ClienteID= @ClienteID AND x.ObjetivoID=@ObjetivoID AND x.PeriodoID=@PeriodoID )
		
UPDATE FACT_Objetivo_Vendedor_Cliente  SET
	PathFoto = @Dir,
	FileName= @sFileName,
	isValid = 0,
	Mensaje = ''
WHERE  VendedorID = @VendedorID AND ClienteID= @ClienteID AND ObjetivoID=@ObjetivoID AND PeriodoID=@PeriodoID AND isValid in (0,2)


GO
