USE [RRHH]
GO
/****** Object:  Table [dbo].[aaaa]    Script Date: 30/04/2026 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aaaa](
	[Legajo] [float] NULL,
	[Apellido] [nvarchar](255) NULL,
	[Nombre ] [nvarchar](255) NULL,
	[fecha de ingreso] [datetime] NULL,
	[Telefono Personal] [float] NULL
) ON [PRIMARY]

GO
