USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Empleado_Recibo_Firmar_Archivo_Upd]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [empleado].[usp_Empleado_Recibo_Firmar_Archivo_Upd]
    @EmpleadoID            INT,
    @ReciboID              INT,
    @NombreArchivo         VARCHAR(260),
    @RutaArchivo           VARCHAR(1000),
    @HashArchivo           VARCHAR(200),
    @ObservacionFirma      VARCHAR(500) = NULL,
    @NombreFirmante        VARCHAR(150) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoFirmadoID INT;

    SELECT @EstadoFirmadoID = EstadoID
    FROM rrhh.ReciboEstado
    WHERE UPPER(Descripcion) = 'FIRMADO';

    UPDATE rrhh.Recibos
       SET FechaLectura = ISNULL(FechaLectura, GETDATE()),
           FechaFirma = GETDATE(),
           NombreArchivoFirmado = @NombreArchivo,
           RutaArchivoFirmado = @RutaArchivo,
           HashArchivoFirmado = @HashArchivo,
           ObservacionEmpleado =
                LTRIM(RTRIM(
                    ISNULL(@ObservacionFirma, '') +
                    CASE
                        WHEN ISNULL(@ObservacionFirma,'') <> '' THEN ' | '
                        ELSE ''
                    END +
                    'Firmado portal por: ' + ISNULL(@NombreFirmante,'')
                )),
           EstadoID = CASE
                        WHEN @EstadoFirmadoID IS NOT NULL THEN @EstadoFirmadoID
                        ELSE EstadoID
                      END
     WHERE ReciboID = @ReciboID
       AND EmpleadoID = @EmpleadoID;
END

GO
