USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Empleado_Recibo_PDF_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [empleado].[usp_Empleado_Recibo_PDF_Sel]
    @EmpleadoID INT,
    @ReciboID   INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReciboID,
        r.EmpleadoID,

        r.NombreArchivo,
        r.RutaArchivo,
        r.HashArchivo,

        r.NombreArchivoFirmado,
        r.RutaArchivoFirmado,
        r.HashArchivoFirmado,

        r.Periodo,
        r.FechaPago,
        r.Neto,
        r.FechaLectura,
        r.FechaFirma,

        e.Legajo,
        e.ApellidoNombre,

        d.RutaPDFIndividual AS RutaArchivoOriginalLote,

        RutaArchivoOriginal =
            ISNULL(NULLIF(r.RutaArchivo, ''), d.RutaPDFIndividual)
    FROM rrhh.Recibos r
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = r.EmpleadoID
    LEFT JOIN rrhh.RecibosLoteDetalle d
        ON d.LoteDetalleID = r.LoteDetalleID
    WHERE r.ReciboID = @ReciboID
      AND r.EmpleadoID = @EmpleadoID
	  AND e.Activo=1;
END

GO
