USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Empleado_Recibo_Firmar]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [empleado].[usp_Empleado_Recibo_Firmar]
    @EmpleadoID        INT,
    @ReciboID          INT,
    @ObservacionFirma  VARCHAR(500) = NULL --,
	--@RutaArchivoFirmado  VARCHAR(500) = NULL,
	--@NombreArchivoFirmado  VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoFirmadoID INT;

    SELECT @EstadoFirmadoID = EstadoID
    FROM rrhh.ReciboEstado
    WHERE UPPER(Descripcion) = 'FIRMADO';

    UPDATE rrhh.Recibos
       SET FechaLectura = ISNULL(FechaLectura, GETDATE()),
           FechaFirma = ISNULL(FechaFirma, GETDATE()),
		   --RutaArchivoFirmado = ISNULL(RutaArchivoFirmado,@RutaArchivoFirmado),
		   --NombreArchivoFirmado = ISNULL(NombreArchivoFirmado,@NombreArchivoFirmado),
           ObservacionEmpleado = @ObservacionFirma,
           EstadoID = CASE
                        WHEN @EstadoFirmadoID IS NOT NULL THEN @EstadoFirmadoID
                        ELSE EstadoID
                      END
     WHERE ReciboID = @ReciboID
       AND EmpleadoID = @EmpleadoID;
END

GO
