USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Empleado_Recibo_Detalle_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [empleado].[usp_Empleado_Recibo_Detalle_Sel]
    @EmpleadoID INT,
    @ReciboID   INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReciboID,
        r.EmpleadoID,
        r.LoteID,
        r.LoteDetalleID,
        r.Periodo,
        r.FechaPago,
        r.Neto,

        r.NombreArchivo,
        r.RutaArchivo,
        r.HashArchivo,

        r.NombreArchivoFirmado,
        r.RutaArchivoFirmado,
        r.HashArchivoFirmado,

        r.EstadoID,
        r.FechaAlta,
        r.FechaPublicacion,
        r.FechaLectura,
        r.FechaFirma,
        r.ObservacionEmpleado AS ObservacionFirma,
        est.Descripcion AS Estado,
        e.Legajo,
        e.CUIL,
        e.ApellidoNombre,

        d.RutaPDFIndividual AS RutaArchivoOriginalLote,

        RutaArchivoOriginal =
            ISNULL(NULLIF(r.RutaArchivo, ''), d.RutaPDFIndividual),

        RutaArchivoVista =
            CASE
                WHEN ISNULL(r.RutaArchivoFirmado, '') <> '' THEN r.RutaArchivoFirmado
                WHEN ISNULL(r.RutaArchivo, '') <> '' THEN r.RutaArchivo
                ELSE d.RutaPDFIndividual
            END
    FROM rrhh.Recibos r
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = r.EmpleadoID
    INNER JOIN rrhh.ReciboEstado est
        ON est.EstadoID = r.EstadoID
    LEFT JOIN rrhh.RecibosLoteDetalle d
        ON d.LoteDetalleID = r.LoteDetalleID
    WHERE r.ReciboID = @ReciboID
      AND r.EmpleadoID = @EmpleadoID
	  AND e.Activo=1;
END

GO
