USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Empleado_Recibo_MarcarLeido]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [empleado].[usp_Empleado_Recibo_MarcarLeido]
    @EmpleadoID INT,
    @ReciboID   INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoLeidoID INT;
    DECLARE @EstadoFirmadoID INT;

    SELECT @EstadoLeidoID = EstadoID
    FROM rrhh.ReciboEstado
    WHERE UPPER(Descripcion) = 'LEIDO';

    SELECT @EstadoFirmadoID = EstadoID
    FROM rrhh.ReciboEstado
    WHERE UPPER(Descripcion) = 'FIRMADO';

    UPDATE rrhh.Recibos
       SET FechaLectura = ISNULL(FechaLectura, GETDATE()),
           EstadoID = CASE 
                        WHEN EstadoID = @EstadoFirmadoID THEN EstadoID
                        WHEN @EstadoLeidoID IS NOT NULL THEN @EstadoLeidoID
                        ELSE EstadoID
                      END
     WHERE ReciboID = @ReciboID
       AND EmpleadoID = @EmpleadoID;
END

GO
