USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Empleado_Recibos_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [empleado].[usp_Empleado_Recibos_Sel]
    @EmpleadoID INT,
    @Periodo    CHAR(7) = NULL,
    @EstadoID   INT     = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 3
        r.ReciboID,
        r.EmpleadoID,
        r.LoteID,
        r.Periodo,
        r.FechaPago,
        r.Neto,
        r.NombreArchivo,
        r.RutaArchivo,
        r.FechaAlta,
        r.FechaPublicacion,
        r.FechaLectura,
        r.FechaFirma,
        r.ObservacionEmpleado,
        r.EstadoID,
        est.Descripcion AS Estado,
        e.Legajo,
        e.ApellidoNombre
    FROM rrhh.Recibos r
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = r.EmpleadoID
    INNER JOIN rrhh.ReciboEstado est
        ON est.EstadoID = r.EstadoID
    WHERE r.EmpleadoID = @EmpleadoID
      AND (@Periodo IS NULL OR r.Periodo = @Periodo)
      AND (@EstadoID IS NULL OR r.EstadoID = @EstadoID)
	  AND e.Activo=1
    ORDER BY r.Periodo DESC, r.ReciboID DESC;
END

GO
