USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Empleado_Login]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [empleado].[usp_Empleado_Login]
    @Usuario        VARCHAR(100),
    @PasswordPlano  VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.UsuarioID,
        u.EmpleadoID,
        u.Usuario,
        u.RolID,
        e.Legajo,
		UPPER(CONCAT(e.Apellido , ', ', e.nombre)) as ApellidoNombre,
        UPPER(e.ApellidoNombre) AS ApellidoNombreXXX ,
        CAST(ISNULL(u.DebeCambiarClave,0) AS BIT) AS DebeCambiarClave
    FROM rrhh.Usuarios u
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = u.EmpleadoID
    WHERE u.Usuario = @Usuario
      AND ISNULL(u.Activo,1) = 1
      AND u.PasswordHash = CONVERT(VARCHAR(128), HASHBYTES('SHA2_256', @PasswordPlano), 2);
END

GO
