USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Usuario_Clave_Cambiar]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [empleado].[usp_Usuario_Clave_Cambiar]
    @UsuarioID            INT,
    @PasswordNuevaPlano   VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NuevoHash VARCHAR(128);

    IF ISNULL(@UsuarioID,0) = 0
    BEGIN
        SELECT CAST(0 AS BIT) AS Ok, 'Usuario inválido.' AS Mensaje;
        RETURN;
    END

    IF LTRIM(RTRIM(ISNULL(@PasswordNuevaPlano,''))) = ''
    BEGIN
        SELECT CAST(0 AS BIT) AS Ok, 'La nueva contraseña es obligatoria.' AS Mensaje;
        RETURN;
    END

    SET @NuevoHash = CONVERT(VARCHAR(128), HASHBYTES('SHA2_256', @PasswordNuevaPlano), 2);

    IF NOT EXISTS
    (
        SELECT 1
        FROM rrhh.Usuarios
        WHERE UsuarioID = @UsuarioID
          AND ISNULL(Activo,1) = 1
    )
    BEGIN
        SELECT CAST(0 AS BIT) AS Ok, 'El usuario no existe o está inactivo.' AS Mensaje;
        RETURN;
    END

    IF EXISTS
    (
        SELECT 1
        FROM rrhh.Usuarios
        WHERE UsuarioID = @UsuarioID
          AND PasswordHash = @NuevoHash
    )
    BEGIN
        SELECT CAST(0 AS BIT) AS Ok, 'La nueva contraseña no puede ser igual a la actual.' AS Mensaje;
        RETURN;
    END

    UPDATE rrhh.Usuarios
       SET PasswordHash       = @NuevoHash,
           DebeCambiarClave   = 0,
           FechaCambioClave   = GETDATE()
     WHERE UsuarioID = @UsuarioID;

    SELECT CAST(1 AS BIT) AS Ok, 'Contraseña actualizada correctamente.' AS Mensaje;
END

GO
