USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_ReciboEstado_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [empleado].[usp_ReciboEstado_Sel]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        EstadoID,
        Descripcion
    FROM rrhh.ReciboEstado
    ORDER BY EstadoID;
END

GO
