USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Usuario_UltimoLogin_Upd]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [empleado].[usp_Usuario_UltimoLogin_Upd]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE rrhh.Usuarios
       SET UltimoLogin = GETDATE()
     WHERE UsuarioID = @UsuarioID;
END

GO
