USE [RRHH]
GO
/****** Object:  StoredProcedure [empleado].[usp_Usuario_MarcarCambioClave_Vencido]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [empleado].[usp_Usuario_MarcarCambioClave_Vencido]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE u
       SET u.DebeCambiarClave = 1
    FROM rrhh.Usuarios u
    WHERE ISNULL(u.Activo,1) = 1
      AND
      (
            u.FechaCambioClave IS NULL
            OR DATEDIFF(DAY, u.FechaCambioClave, GETDATE()) >= 45
      );
END

GO
