USE [RRHH]
GO
/****** Object:  Table [rrhh].[Usuarios]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NULL,
	[Usuario] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RolID] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[UltimoLogin] [datetime] NULL,
	[DebeCambiarClave] [bit] NOT NULL,
	[FechaCambioClave] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [rrhh].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaAlta]  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [rrhh].[Usuarios] ADD  CONSTRAINT [DF_Usuario_DebeCambiarClave]  DEFAULT ((1)) FOR [DebeCambiarClave]
GO
ALTER TABLE [rrhh].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empleados] FOREIGN KEY([EmpleadoID])
REFERENCES [rrhh].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [rrhh].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empleados]
GO
ALTER TABLE [rrhh].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolID])
REFERENCES [rrhh].[Roles] ([RolID])
GO
ALTER TABLE [rrhh].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
