USE [RRHH]
GO
/****** Object:  Table [rrhh].[Recibos]    Script Date: 30/04/2026 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[Recibos](
	[ReciboID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[LoteID] [int] NOT NULL,
	[LoteDetalleID] [int] NULL,
	[Periodo] [char](7) NOT NULL,
	[FechaPago] [date] NULL,
	[Neto] [decimal](18, 2) NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[RutaArchivo] [varchar](500) NOT NULL,
	[HashArchivo] [varchar](64) NULL,
	[EstadoID] [int] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[UsuarioAltaID] [int] NOT NULL,
	[FechaPublicacion] [datetime] NULL,
	[FechaLectura] [datetime] NULL,
	[FechaFirma] [datetime] NULL,
	[ObservacionEmpleado] [varchar](1000) NULL,
	[Notificado] [bit] NOT NULL,
	[FechaNotificacion] [datetime] NULL,
	[UsuarioNotificacionID] [int] NULL,
	[CantidadNotificaciones] [int] NOT NULL,
	[RutaArchivoFirmado] [varchar](500) NULL,
	[NombreArchivoFirmado] [varchar](255) NULL,
	[HashArchivoFirmado] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReciboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[Recibos] ADD  CONSTRAINT [DF_Recibos_EstadoID]  DEFAULT ((3)) FOR [EstadoID]
GO
ALTER TABLE [rrhh].[Recibos] ADD  CONSTRAINT [DF_Recibos_FechaAlta]  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [rrhh].[Recibos] ADD  CONSTRAINT [DF_rrhh_Recibos_Notificado]  DEFAULT ((0)) FOR [Notificado]
GO
ALTER TABLE [rrhh].[Recibos] ADD  CONSTRAINT [DF_rrhh_Recibos_CantidadNotificaciones]  DEFAULT ((0)) FOR [CantidadNotificaciones]
GO
ALTER TABLE [rrhh].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibos_Empleado] FOREIGN KEY([EmpleadoID])
REFERENCES [rrhh].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [rrhh].[Recibos] CHECK CONSTRAINT [FK_Recibos_Empleado]
GO
ALTER TABLE [rrhh].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibos_Estado] FOREIGN KEY([EstadoID])
REFERENCES [rrhh].[ReciboEstado] ([EstadoID])
GO
ALTER TABLE [rrhh].[Recibos] CHECK CONSTRAINT [FK_Recibos_Estado]
GO
ALTER TABLE [rrhh].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibos_Lote] FOREIGN KEY([LoteID])
REFERENCES [rrhh].[RecibosLote] ([LoteID])
GO
ALTER TABLE [rrhh].[Recibos] CHECK CONSTRAINT [FK_Recibos_Lote]
GO
ALTER TABLE [rrhh].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibos_LoteDetalle] FOREIGN KEY([LoteDetalleID])
REFERENCES [rrhh].[RecibosLoteDetalle] ([LoteDetalleID])
GO
ALTER TABLE [rrhh].[Recibos] CHECK CONSTRAINT [FK_Recibos_LoteDetalle]
GO
ALTER TABLE [rrhh].[Recibos]  WITH CHECK ADD  CONSTRAINT [FK_Recibos_UsuarioAlta] FOREIGN KEY([UsuarioAltaID])
REFERENCES [rrhh].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [rrhh].[Recibos] CHECK CONSTRAINT [FK_Recibos_UsuarioAlta]
GO
