USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibo_Notificaciones_Historial_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibo_Notificaciones_Historial_Sel]
    @ReciboID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        n.NotificacionID,
        n.ReciboID,
        n.EmpleadoID,
        n.FechaEnvio,
        n.UsuarioEnvioID,
        n.Medio,
        n.TipoNotificacion,
        n.Mensaje,
        n.EstadoEnvio,
        n.Observacion
    FROM rrhh.RecibosNotificaciones n
    WHERE n.ReciboID = @ReciboID
    ORDER BY n.FechaEnvio DESC, n.NotificacionID DESC;
END

GO
