USE [RRHH]
GO
/****** Object:  Table [rrhh].[RecibosFirmaDROPIT]    Script Date: 30/04/2026 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[RecibosFirmaDROPIT](
	[FirmaID] [int] IDENTITY(1,1) NOT NULL,
	[ReciboID] [int] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[FechaFirma] [datetime] NOT NULL,
	[IP] [varchar](50) NULL,
	[UserAgent] [varchar](500) NULL,
	[Observacion] [varchar](1000) NULL,
	[HashArchivoFirmado] [varchar](64) NULL,
	[TokenFirma] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[FirmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[RecibosFirmaDROPIT] ADD  CONSTRAINT [DF_RecibosFirma_Fecha]  DEFAULT (getdate()) FOR [FechaFirma]
GO
ALTER TABLE [rrhh].[RecibosFirmaDROPIT]  WITH CHECK ADD  CONSTRAINT [FK_RecibosFirma_Empleado] FOREIGN KEY([EmpleadoID])
REFERENCES [rrhh].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [rrhh].[RecibosFirmaDROPIT] CHECK CONSTRAINT [FK_RecibosFirma_Empleado]
GO
ALTER TABLE [rrhh].[RecibosFirmaDROPIT]  WITH CHECK ADD  CONSTRAINT [FK_RecibosFirma_Recibo] FOREIGN KEY([ReciboID])
REFERENCES [rrhh].[Recibos] ([ReciboID])
GO
ALTER TABLE [rrhh].[RecibosFirmaDROPIT] CHECK CONSTRAINT [FK_RecibosFirma_Recibo]
GO
