USE [RRHH]
GO
/****** Object:  Table [rrhh].[Empleados]    Script Date: 30/04/2026 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[Empleados](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Legajo] [varchar](20) NOT NULL,
	[CUIL] [varchar](20) NULL,
	[DNI] [varchar](20) NULL,
	[Apellido] [varchar](100) NULL,
	[Nombre] [varchar](100) NULL,
	[ApellidoNombre] [varchar](250) NULL,
	[TelefonoWhatsApp] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
	[Activo] [bit] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[FechaBaja] [datetime] NULL,
	[Observaciones] [varchar](500) NULL,
	[FechaIngreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[Empleados] ADD  CONSTRAINT [DF_Empleados_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [rrhh].[Empleados] ADD  CONSTRAINT [DF_Empleados_FechaAlta]  DEFAULT (getdate()) FOR [FechaAlta]
GO
