USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Ins]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [rrhh].[usp_Vacaciones_Ins]
    @EmpleadoID  INT,
    @FechaDesde  DATE,
    @FechaHasta  DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF @EmpleadoID IS NULL OR @EmpleadoID <= 0
    BEGIN
        RAISERROR('Empleado inválido.',16,1);
        RETURN;
    END

    IF @FechaDesde IS NULL OR @FechaHasta IS NULL
    BEGIN
        RAISERROR('Debe indicar fecha desde y fecha hasta.',16,1);
        RETURN;
    END

    IF @FechaHasta < @FechaDesde
    BEGIN
        RAISERROR('La fecha hasta no puede ser menor que la fecha desde.',16,1);
        RETURN;
    END

    IF @FechaDesde < CAST(GETDATE() AS DATE)
    BEGIN
		print 'No se pueden solicitar vacaciones en fechas pasadas'
       -- RAISERROR('No se pueden solicitar vacaciones en fechas pasadas.',16,1);
       -- RETURN;
    END

    IF EXISTS (
        SELECT 1
        FROM rrhh.Vacaciones
        WHERE EmpleadoID = @EmpleadoID
          AND Estado IN ('PENDIENTE','APROBADO')
          AND @FechaDesde <= FechaHasta
          AND @FechaHasta >= FechaDesde
    )
    BEGIN
        RAISERROR('Ya existe una solicitud de vacaciones que se superpone con esas fechas.',16,1);
        RETURN;
    END

    INSERT INTO rrhh.Vacaciones
    (
        EmpleadoID,
        FechaDesde,
        FechaHasta,
        CantidadDias,
        Estado,
        FechaSolicitud,
        Observaciones
    )
    VALUES
    (
        @EmpleadoID,
        @FechaDesde,
        @FechaHasta,
        DATEDIFF(DAY, @FechaDesde, @FechaHasta) + 1,
        'PENDIENTE',
        GETDATE(),
        NULL
    );
END

GO
