USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Empleado_Upd]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [rrhh].[usp_Empleado_Upd]
    @EmpleadoID        INT,
    @Legajo            VARCHAR(50),
    @CUIL              VARCHAR(20),
    @DNI               VARCHAR(20),
    @Apellido          VARCHAR(100),
    @Nombre            VARCHAR(100),
    @TelefonoWhatsApp  VARCHAR(50),
    @Email             VARCHAR(150),
    @Activo            BIT,
    @FechaIngreso      DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF ISNULL(@EmpleadoID,0) <= 0
    BEGIN
        RAISERROR('EmpleadoID inválido.',16,1);
        RETURN;
    END

    UPDATE rrhh.Empleados
       SET Legajo           = LTRIM(RTRIM(ISNULL(@Legajo,''))),
           CUIL             = LTRIM(RTRIM(ISNULL(@CUIL,''))),
           DNI              = LTRIM(RTRIM(ISNULL(@DNI,''))),
           Apellido         = LTRIM(RTRIM(ISNULL(@Apellido,''))),
           Nombre           = LTRIM(RTRIM(ISNULL(@Nombre,''))),
           TelefonoWhatsApp = LTRIM(RTRIM(ISNULL(@TelefonoWhatsApp,''))),
           Email            = LTRIM(RTRIM(ISNULL(@Email,''))),
           Activo           = ISNULL(@Activo,0),
           FechaIngreso     = @FechaIngreso
     WHERE EmpleadoID = @EmpleadoID;
END

GO
