USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Notificaciones_Procesar]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [rrhh].[usp_Recibos_Notificaciones_Procesar]
    
AS
BEGIN
	SET NOCOUNT ON;
    
	DECLARE
	@Periodo        varchar(7),
    @UsuarioEnvioID int = NULL,
	@UsuarioNombre VARCHAR(50)    

	IF OBJECT_ID('tempdb..#RecibosProcesar') IS NOT NULL
        DROP TABLE #RecibosProcesar;

    CREATE TABLE #RecibosProcesar
    (
        ID         int IDENTITY(1,1) PRIMARY KEY,
		Periodo VARCHAR(7),
        UsuarioNombre VARCHAR(50) 
    );

    INSERT INTO #RecibosProcesar
    (
        Periodo ,
        UsuarioNombre 
    )
    SELECT Periodo,UsuarioEnvio FROM rrhh.RecibosNotificacionCola
         
    WHILE EXISTS (SELECT 1 FROM #RecibosProcesar)
    BEGIN
        SELECT TOP 1
            @Periodo   = Periodo,
            @UsuarioNombre = UsuarioNombre
        FROM #RecibosProcesar
        ORDER BY ID;

		SET @UsuarioEnvioID=NULL
		SELECT @UsuarioEnvioID = EmpleadoID FROM rrhh.Usuarios WHERE Usuario like @UsuarioNombre
		SET @UsuarioEnvioID = ISNULL(@UsuarioEnvioID,40)
		 			 
        EXEC rrhh.usp_Recibos_Notificaciones_Run
            @Periodo       = @Periodo,
            @UsuarioEnvioID = @UsuarioEnvioID;
				  
		DELETE 
		FROM rrhh.RecibosNotificacionCola
		WHERE Periodo=@Periodo and UsuarioEnvio=@UsuarioNombre

        DELETE TOP (1)
        FROM #RecibosProcesar
        WHERE Periodo = @Periodo
            AND UsuarioNombre = @UsuarioNombre;
    END
END


GO
