USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Empleado_Disponibles]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [rrhh].[usp_Vacaciones_Empleado_Disponibles]
@EmpleadoID INT = NULL,
@DiasDisponibles INT= 0  OUTPUT 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AnioActual INT = YEAR(GETDATE());
    DECLARE @MesActual  INT = MONTH(GETDATE());

    ;WITH EmpleadosBase AS
    (
        SELECT
            e.EmpleadoID, 
            e.FechaIngreso,
            CASE
                WHEN e.FechaIngreso IS NULL THEN 0
                ELSE DATEDIFF(YEAR, e.FechaIngreso, GETDATE())
                     - CASE
                         WHEN DATEADD(YEAR, DATEDIFF(YEAR, e.FechaIngreso, GETDATE()), e.FechaIngreso) > CAST(GETDATE() AS DATE)
                         THEN 1
                         ELSE 0
                       END
            END AS AntiguedadBase
        FROM rrhh.Empleados e
    ),
    EmpleadosVacaciones AS
    (
        SELECT
            eb.*,
            CASE
                WHEN eb.FechaIngreso IS NULL THEN 0
                WHEN @MesActual >= 10 THEN eb.AntiguedadBase + 1
                ELSE eb.AntiguedadBase
            END AS AntiguedadVacaciones
        FROM EmpleadosBase eb
    ),
    VacacionesTomadas AS
    (
        SELECT
            v.EmpleadoID,
            SUM(ISNULL(v.CantidadDias,0)) AS DiasTomados
        FROM rrhh.Vacaciones v
        WHERE v.Estado = 'APROBADO'
          --AND YEAR(v.FechaDesde) = CASE WHEN @MesActual >= 10 THEN @AnioActual + 1 ELSE @AnioActual END
        GROUP BY v.EmpleadoID
    )
	   
    SELECT
       @DiasDisponibles=
		ISNULL(CASE
            WHEN ev.FechaIngreso IS NULL THEN 0
			WHEN ev.AntiguedadVacaciones = 0 THEN 14
            WHEN ev.AntiguedadVacaciones < 5 THEN 14
            WHEN ev.AntiguedadVacaciones >= 5 AND ev.AntiguedadVacaciones < 10 THEN 21
            WHEN ev.AntiguedadVacaciones >= 10 AND ev.AntiguedadVacaciones < 20 THEN 28
            ELSE 35
        END * (ev.AntiguedadVacaciones ),0) -  ISNULL(vt.DiasTomados, 0) 
      
    FROM EmpleadosVacaciones ev
    LEFT JOIN VacacionesTomadas vt
        ON vt.EmpleadoID = ev.EmpleadoID
	WHERE  ev.EmpleadoID=@EmpleadoID
END


GO
