USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibo_Notificacion_Ins_DEL]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibo_Notificacion_Ins_DEL]
    @ReciboID               INT,
    @EmpleadoID             INT,
    @UsuarioEnvioID         INT = NULL,
    @Medio                  VARCHAR(30),
    @TipoNotificacion       VARCHAR(30),
    @Mensaje                VARCHAR(500) = NULL,
    @EstadoEnvio            VARCHAR(30) = 'ENVIADA',
    @Observacion            VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM rrhh.Recibos
        WHERE ReciboID = @ReciboID
          AND EmpleadoID = @EmpleadoID
    )
    BEGIN
        RAISERROR('No existe el recibo indicado para el empleado.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO rrhh.RecibosNotificaciones
        (
            ReciboID,
            EmpleadoID,
            FechaEnvio,
            UsuarioEnvioID,
            Medio,
            TipoNotificacion,
            Mensaje,
            EstadoEnvio,
            Observacion
        )
        VALUES
        (
            @ReciboID,
            @EmpleadoID,
            GETDATE(),
            @UsuarioEnvioID,
            @Medio,
            @TipoNotificacion,
            @Mensaje,
            @EstadoEnvio,
            @Observacion
        );

        UPDATE rrhh.Recibos
           SET Notificado = 1,
               FechaNotificacion = GETDATE(),
               UsuarioNotificacionID = @UsuarioEnvioID,
               CantidadNotificaciones = ISNULL(CantidadNotificaciones, 0) + 1
         WHERE ReciboID = @ReciboID
           AND EmpleadoID = @EmpleadoID;

        COMMIT TRANSACTION;

        SELECT
            OK = 1,
            Mensaje = 'Notificación registrada correctamente.',
            ReciboID = @ReciboID,
            EmpleadoID = @EmpleadoID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage VARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        RETURN;
    END CATCH
END

GO
