USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Dashboard_Notificaciones_DEL]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibos_Dashboard_Notificaciones_DEL]
    @PeriodoDesde           VARCHAR(20) = NULL,
    @PeriodoHasta           VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH Base AS
    (
        SELECT
            r.ReciboID,
            r.EmpleadoID,
            r.Periodo,
            r.FechaPublicacion,
            r.Notificado,
            r.FechaNotificacion,
            r.FechaLectura,
            r.FechaFirma
        FROM rrhh.Recibos r
        WHERE
            (@PeriodoDesde IS NULL OR @PeriodoDesde = '' OR r.Periodo >= @PeriodoDesde)
            AND (@PeriodoHasta IS NULL OR @PeriodoHasta = '' OR r.Periodo <= @PeriodoHasta)
    )
    SELECT
        TotalRecibos         = COUNT(*),
        Publicados           = SUM(CASE WHEN FechaPublicacion IS NOT NULL THEN 1 ELSE 0 END),
        Notificados          = SUM(CASE WHEN Notificado = 1 THEN 1 ELSE 0 END),
        Leidos               = SUM(CASE WHEN FechaLectura IS NOT NULL THEN 1 ELSE 0 END),
        Firmados             = SUM(CASE WHEN FechaFirma IS NOT NULL THEN 1 ELSE 0 END),
        PendientesLectura    = SUM(CASE WHEN FechaPublicacion IS NOT NULL AND FechaLectura IS NULL THEN 1 ELSE 0 END),
        PendientesFirma      = SUM(CASE WHEN FechaLectura IS NOT NULL AND FechaFirma IS NULL THEN 1 ELSE 0 END),
        NoNotificados        = SUM(CASE WHEN ISNULL(Notificado,0) = 0 THEN 1 ELSE 0 END)
    FROM Base;

    ;WITH Base AS
    (
        SELECT
            r.Periodo,
            r.FechaPublicacion,
            r.Notificado,
            r.FechaLectura,
            r.FechaFirma
        FROM rrhh.Recibos r
        WHERE
            (@PeriodoDesde IS NULL OR @PeriodoDesde = '' OR r.Periodo >= @PeriodoDesde)
            AND (@PeriodoHasta IS NULL OR @PeriodoHasta = '' OR r.Periodo <= @PeriodoHasta)
    )
    SELECT
        Periodo,
        TotalRecibos         = COUNT(*),
        Publicados           = SUM(CASE WHEN FechaPublicacion IS NOT NULL THEN 1 ELSE 0 END),
        Notificados          = SUM(CASE WHEN Notificado = 1 THEN 1 ELSE 0 END),
        Leidos               = SUM(CASE WHEN FechaLectura IS NOT NULL THEN 1 ELSE 0 END),
        Firmados             = SUM(CASE WHEN FechaFirma IS NOT NULL THEN 1 ELSE 0 END),
        PendientesLectura    = SUM(CASE WHEN FechaPublicacion IS NOT NULL AND FechaLectura IS NULL THEN 1 ELSE 0 END),
        PendientesFirma      = SUM(CASE WHEN FechaLectura IS NOT NULL AND FechaFirma IS NULL THEN 1 ELSE 0 END)
    FROM Base
    GROUP BY Periodo
    ORDER BY Periodo DESC;
END

GO
