USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Documento_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Vacaciones_Documento_Sel]
    @VacacionID INT,
    @EmpleadoID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AnioActual INT = YEAR(GETDATE());
    DECLARE @MesActual  INT = MONTH(GETDATE());
	 

    ;WITH EmpleadosBase AS
    (
        SELECT
            e.EmpleadoID, 
            e.FechaIngreso,
            CASE
                WHEN e.FechaIngreso IS NULL THEN 0
                ELSE DATEDIFF(YEAR, e.FechaIngreso, GETDATE())
                     - CASE
                         WHEN DATEADD(YEAR, DATEDIFF(YEAR, e.FechaIngreso, GETDATE()), e.FechaIngreso) > CAST(GETDATE() AS DATE)
                         THEN 1
                         ELSE 0
                       END
            END AS AntiguedadBase
        FROM rrhh.Empleados e
    ),
    EmpleadosVacaciones AS
    (
        SELECT
            eb.*,
            CASE
                WHEN eb.FechaIngreso IS NULL THEN 0
                WHEN @MesActual >= 10 THEN eb.AntiguedadBase + 1
                ELSE eb.AntiguedadBase
            END AS AntiguedadVacaciones
        FROM EmpleadosBase eb
    ),
    VacacionesTomadas AS
    (
        SELECT
            v.EmpleadoID,
            SUM(ISNULL(v.CantidadDias,0)) AS DiasTomados
        FROM rrhh.Vacaciones v
        WHERE v.Estado = 'APROBADO'
          --AND YEAR(v.FechaDesde) = CASE WHEN @MesActual >= 10 THEN @AnioActual + 1 ELSE @AnioActual END
        GROUP BY v.EmpleadoID
    )

    SELECT
        v.VacacionID,
        v.EmpleadoID,
        e.ApellidoNombre AS NombreYApellido,
        e.Legajo,
        v.FechaDesde,
        v.FechaHasta,
        DATEADD(DAY, 1, v.FechaHasta) AS FechaReincorporacion,
        v.CantidadDias,
        v.Estado,
        v.FechaSolicitud,
        v.FechaFirma,  

	ISNULL(CASE
				WHEN e.FechaIngreso IS NULL THEN 0
				WHEN ev.AntiguedadVacaciones = 0 THEN 14
				WHEN ev.AntiguedadVacaciones < 5 THEN 14
				WHEN ev.AntiguedadVacaciones >= 5 AND ev.AntiguedadVacaciones < 10 THEN 21
				WHEN ev.AntiguedadVacaciones >= 10 AND ev.AntiguedadVacaciones < 20 THEN 28
				ELSE 35
			END * (ev.AntiguedadVacaciones ),0) -  ISNULL(vt.DiasTomados, 0) 

	AS Pendientes,
        CONVERT(VARCHAR(10), v.FechaDesde, 105) AS Desde,
        CONVERT(VARCHAR(10), v.FechaHasta, 105) AS Hasta,
        CONVERT(VARCHAR(10), DATEADD(DAY, 1, v.FechaHasta), 105) AS HastaFin
    FROM rrhh.Vacaciones v
	INNER JOIN rrhh.Empleados e on e.EmpleadoID= v.EmpleadoID
	INNER JOIN EmpleadosVacaciones ev on ev.EmpleadoID= v.EmpleadoID
    LEFT JOIN VacacionesTomadas vt
        ON vt.EmpleadoID = ev.EmpleadoID
	WHERE  ev.EmpleadoID=@EmpleadoID
END

GO
