USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibo_Notificacion_WhatsApp_Ins]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibo_Notificacion_WhatsApp_Ins]
    @ReciboID        INT,
    @EmpleadoID      INT,
    @UsuarioEnvioID  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @TelefonoWhatsApp           VARCHAR(20),
        @Periodo            VARCHAR(20),
        @PeriodoMMYYYY      VARCHAR(7),
        @NombreTemplate     VARCHAR(50),
        @Payload            VARCHAR(MAX),
        @MensajeHistorial   VARCHAR(500),
        @Observacion        VARCHAR(500),
		@EmpleadoNombre		VARCHAR(250),
		@NotificacionID		INT;


    SET @NombreTemplate = 'empleado_notificacion_recibo';

    SELECT
        @TelefonoWhatsApp = LTRIM(RTRIM(ISNULL(e.TelefonoWhatsApp, ''))),
        @Periodo  = LTRIM(RTRIM(ISNULL(r.Periodo, ''))),
		@EmpleadoNombre = e.ApellidoNombre
    FROM rrhh.Recibos r
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = r.EmpleadoID
    WHERE r.ReciboID = @ReciboID
      AND r.EmpleadoID = @EmpleadoID
	  AND e.Activo=1;

    IF ISNULL(@TelefonoWhatsApp, '') = ''
    BEGIN
        RAISERROR('El empleado no tiene teléfono cargado.', 16, 1);
        RETURN;
    END

    IF ISNULL(@Periodo, '') = ''
    BEGIN
        RAISERROR('El recibo no tiene período informado.', 16, 1);
        RETURN;
    END

    IF CHARINDEX('-', @Periodo) > 0
       AND LEN(LEFT(@Periodo, CHARINDEX('-', @Periodo) - 1)) = 4
    BEGIN
        SET @PeriodoMMYYYY = RIGHT(@Periodo, 2) + '-' + LEFT(@Periodo, 4);
    END
    ELSE
    BEGIN
        SET @PeriodoMMYYYY = @Periodo;
    END

    SET @MensajeHistorial = 'Tu recibo del período ' + @PeriodoMMYYYY + ' se encuentra pendiente de firma';
    SET @Observacion = 'WhatsApp OnDemand';

  

	SET @Payload=	'{
		"messaging_product": "whatsapp",
		"to": "'+@TelefonoWhatsApp+'",
		"type": "template",
		"template": {
		"name": "'+@NombreTemplate+'", 
		"language": {
			"code": "es_AR"
		},
			"components": [
				{
				"type": "body",
				"parameters": [
					{
					"type": "text",
					"text": "'+CONVERT(VARCHAR(250),@EmpleadoNombre)+'"   
					},
					{
						"type": "text",
						"text": "'+CONVERT(VARCHAR(20),@PeriodoMMYYYY)+'"
					} 
				]
				}
			]
			}
		}' 

    BEGIN TRY
        BEGIN TRANSACTION;


        INSERT INTO rrhh.RecibosNotificaciones
        (
            ReciboID,
            EmpleadoID,
            FechaEnvio,
            UsuarioEnvioID,
            Medio,
            TipoNotificacion,
            Mensaje,
            EstadoEnvio,
            Observacion
        )
        VALUES
        (
            @ReciboID,
            @EmpleadoID,
            GETDATE(),
            @UsuarioEnvioID,
            'WHATSAPP',
            'MANUAL',
            @MensajeHistorial,
            'PENDIENTE',
            @Observacion
        );
		SELECT @NotificacionID= @@IDENTITY

        INSERT INTO WhatsAppAPI.tmp.WhatsAPP_API_OnDemand_Envios
        (
            PayLoad,
            NombreTemplate,
            Telefono,
            CampaniaID
        )
        VALUES
        (
            @Payload,
            @NombreTemplate,
            @TelefonoWhatsApp,
            @NotificacionID
        );

        UPDATE rrhh.Recibos
           SET Notificado = 1,
               FechaNotificacion = GETDATE(),
               UsuarioNotificacionID = @UsuarioEnvioID,
               CantidadNotificaciones = ISNULL(CantidadNotificaciones, 0) + 1
         WHERE ReciboID = @ReciboID
           AND EmpleadoID = @EmpleadoID;

        COMMIT TRANSACTION;

        SELECT
            OK = 1,
            Mensaje = 'Notificación WhatsApp registrada correctamente.',
            TelefonoWhatsApp = @TelefonoWhatsApp,
            Periodo = @PeriodoMMYYYY,
            NombreTemplate = @NombreTemplate,
            Payload = @Payload;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE
            @ErrMsg VARCHAR(4000),
            @ErrSev INT,
            @ErrSta INT;

        SELECT
            @ErrMsg = ERROR_MESSAGE(),
            @ErrSev = ERROR_SEVERITY(),
            @ErrSta = ERROR_STATE();

        RAISERROR(@ErrMsg, @ErrSev, @ErrSta);
        RETURN;
    END CATCH
END


GO
