USE [RRHH]
GO
/****** Object:  Table [rrhh].[RecibosLecturaDROPIT]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[RecibosLecturaDROPIT](
	[LecturaID] [int] IDENTITY(1,1) NOT NULL,
	[ReciboID] [int] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[FechaLectura] [datetime] NOT NULL,
	[IP] [varchar](50) NULL,
	[UserAgent] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[RecibosLecturaDROPIT] ADD  CONSTRAINT [DF_RecibosLectura_Fecha]  DEFAULT (getdate()) FOR [FechaLectura]
GO
ALTER TABLE [rrhh].[RecibosLecturaDROPIT]  WITH CHECK ADD  CONSTRAINT [FK_RecibosLectura_Empleado] FOREIGN KEY([EmpleadoID])
REFERENCES [rrhh].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [rrhh].[RecibosLecturaDROPIT] CHECK CONSTRAINT [FK_RecibosLectura_Empleado]
GO
ALTER TABLE [rrhh].[RecibosLecturaDROPIT]  WITH CHECK ADD  CONSTRAINT [FK_RecibosLectura_Recibo] FOREIGN KEY([ReciboID])
REFERENCES [rrhh].[Recibos] ([ReciboID])
GO
ALTER TABLE [rrhh].[RecibosLecturaDROPIT] CHECK CONSTRAINT [FK_RecibosLectura_Recibo]
GO
