USE [RRHH]
GO
/****** Object:  Table [rrhh].[ReciboNotificacion_DELETE]    Script Date: 30/04/2026 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[ReciboNotificacion_DELETE](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[ReciboID] [int] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[TipoNotificacion] [varchar](50) NOT NULL,
	[Medio] [varchar](30) NOT NULL,
	[Mensaje] [varchar](500) NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[UsuarioEnvio] [varchar](100) NULL,
	[EstadoEnvio] [varchar](30) NULL,
	[Observacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[ReciboNotificacion_DELETE] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
