USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Empleado_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Vacaciones_Empleado_Sel]
    @EmpleadoID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.VacacionID,
        v.EmpleadoID,
        v.FechaDesde,
        v.FechaHasta,
        v.CantidadDias,
        v.Estado,
        v.FechaSolicitud,
        v.FechaResolucion,
        v.FechaFirma,
        v.Observaciones,
        v.RutaArchivo,
        v.NombreArchivo,
        v.FirmadoPor
    FROM rrhh.Vacaciones v
    WHERE v.EmpleadoID = @EmpleadoID
	AND V.FechaDesde>'2025-01-01'
	AND V.Hidden=0
    ORDER BY v.FechaDesde DESC, v.VacacionID DESC;
END

GO
