USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibos_Sel]
    @Periodo        CHAR(7)       = NULL,
    @Legajo         VARCHAR(20)   = NULL,
    @ApellidoNombre VARCHAR(150)  = NULL,
    @EstadoID       INT           = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReciboID,
        r.Periodo,
        r.FechaPago,
        r.Neto,
        --r.NombreArchivo,
        --r.RutaArchivo,
        --r.FechaAlta,
        --r.FechaPublicacion,
        r.FechaLectura,
        r.FechaFirma,
        --r.EstadoID,
        est.Descripcion AS Estado,
        e.EmpleadoID,
        e.Legajo,
        --e.CUIL,
        e.ApellidoNombre,
       l.LoteID
    FROM rrhh.Recibos r WITH(NOLOCK)
    INNER JOIN rrhh.Empleados e  WITH(NOLOCK)
        ON e.EmpleadoID = r.EmpleadoID
    INNER JOIN rrhh.ReciboEstado est  WITH(NOLOCK)
        ON est.EstadoID = r.EstadoID
    INNER JOIN rrhh.RecibosLote l  WITH(NOLOCK)
        ON l.LoteID = r.LoteID
    WHERE (@Periodo IS NULL OR r.Periodo = @Periodo)
	  AND e.Activo=1
      AND (@Legajo IS NULL OR LTRIM(RTRIM(e.Legajo)) like '%' + LTRIM(RTRIM(@Legajo))   + '%' )
      AND (@ApellidoNombre IS NULL OR e.ApellidoNombre LIKE '%' + LTRIM(RTRIM(@ApellidoNombre)) + '%')
      AND (@EstadoID IS NULL OR r.EstadoID = @EstadoID)
    ORDER BY  1 -- r.Periodo DESC, e.ApellidoNombre ASC, r.ReciboID DESC;
END

GO
