USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Notificaciones_Run]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [rrhh].[usp_Recibos_Notificaciones_Run]
    @Periodo        varchar(7),
    @UsuarioEnvioID int = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE 
        @ReciboID   int,
        @EmpleadoID int,
        @Procesados int,
        @Total      int;

    SET @Procesados = 0;
    SET @Total      = 0;

    BEGIN TRY
        BEGIN TRAN;

        IF OBJECT_ID('tempdb..#RecibosANotificar') IS NOT NULL
            DROP TABLE #RecibosANotificar;

        CREATE TABLE #RecibosANotificar
        (
            ID         int IDENTITY(1,1) PRIMARY KEY,
            ReciboID   int NOT NULL,
            EmpleadoID int NOT NULL
        );

        INSERT INTO #RecibosANotificar
        (
            ReciboID,
            EmpleadoID
        )
        SELECT
            r.ReciboID,
            r.EmpleadoID
        FROM rrhh.Recibos r
		INNER JOIN rrhh.Empleados e on e.EmpleadoID = r.EmpleadoID
        WHERE r.Periodo =  @Periodo
          AND ISNULL(r.ReciboID, 0) > 0
          AND ISNULL(r.EmpleadoID, 0) > 0
		  AND e.Activo=1;

        SELECT @Total = COUNT(*)
        FROM #RecibosANotificar;

        WHILE EXISTS (SELECT 1 FROM #RecibosANotificar)
        BEGIN
            SELECT TOP 1
                @ReciboID   = ReciboID,
                @EmpleadoID = EmpleadoID
            FROM #RecibosANotificar
            ORDER BY ID;
			 
            EXEC rrhh.usp_Recibo_Notificacion_WhatsApp_Ins
                @ReciboID       = @ReciboID,
                @EmpleadoID     = @EmpleadoID,
                @UsuarioEnvioID = @UsuarioEnvioID;
				 
            SET @Procesados = @Procesados + 1;

            DELETE TOP (1)
            FROM #RecibosANotificar
            WHERE ReciboID = @ReciboID
              AND EmpleadoID = @EmpleadoID;
        END

        COMMIT TRAN;

        SELECT
            OK = 1,
            Periodo = @Periodo,
            TotalEncontrados = @Total,
            TotalProcesados = @Procesados;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        DECLARE
            @ErrMsg      nvarchar(4000),
            @ErrSeverity int,
            @ErrState    int;

        SELECT
            @ErrMsg      = ERROR_MESSAGE(),
            @ErrSeverity = ERROR_SEVERITY(),
            @ErrState    = ERROR_STATE();

        RAISERROR(@ErrMsg, @ErrSeverity, @ErrState);
    END CATCH
END


GO
