USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_RecibosLote_Cabecera_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_RecibosLote_Cabecera_Sel]
    @LoteID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.LoteID,
        l.Periodo,
        l.NombreArchivoOriginal,
        l.RutaArchivoOriginal,
        l.CantidadPaginas,
        l.CantidadOK,
        l.CantidadError,
        l.Estado,
        l.FechaCarga,
        l.FechaProcesoInicio,
        l.FechaProcesoFin,
        u.Usuario
    FROM rrhh.RecibosLote l
    LEFT JOIN rrhh.Usuarios u
        ON u.UsuarioID = l.UsuarioCargaID
    WHERE l.LoteID = @LoteID;
END

GO
