USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_RRHH_Ins]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [rrhh].[usp_Vacaciones_RRHH_Ins]
    @EmpleadoID           INT,
    @FechaDesde           DATE,
    @FechaHasta           DATE,
    @UsuarioResolucionID  INT = NULL,
    @Observaciones        VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF ISNULL(@EmpleadoID,0) <= 0
    BEGIN
        RAISERROR('Empleado inválido.',16,1);
        RETURN;
    END

    IF @FechaDesde IS NULL OR @FechaHasta IS NULL
    BEGIN
        RAISERROR('Debe indicar fecha desde y fecha hasta.',16,1);
        RETURN;
    END

    IF @FechaHasta < @FechaDesde
    BEGIN
        RAISERROR('La fecha hasta no puede ser menor que la fecha desde.',16,1);
        RETURN;
    END

    IF EXISTS (
        SELECT 1
        FROM rrhh.Vacaciones
        WHERE EmpleadoID = @EmpleadoID
          AND Estado IN ('PENDIENTE','APROBADO')
          AND @FechaDesde <= FechaHasta
          AND @FechaHasta >= FechaDesde
    )
    BEGIN
        RAISERROR('Ya existe una solicitud o vacación aprobada que se superpone con esas fechas.',16,1);
        RETURN;
    END

    INSERT INTO rrhh.Vacaciones
    (
        EmpleadoID,
        FechaDesde,
        FechaHasta,
        CantidadDias,
        Estado,
        FechaSolicitud,
        UsuarioResolucionID,
        FechaResolucion,
        MotivoRechazo,
        Observaciones
    )
    VALUES
    (
        @EmpleadoID,
        @FechaDesde,
        @FechaHasta,
        DATEDIFF(DAY, @FechaDesde, @FechaHasta) + 1,
        'APROBADO',
        GETDATE(),
        @UsuarioResolucionID,
        GETDATE(),
        NULL,
        @Observaciones
    );
END

GO
