USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Emplado_GetAll]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [rrhh].[usp_Emplado_GetAll]
@EmpleadoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AnioActual INT = YEAR(GETDATE());
    DECLARE @MesActual  INT = MONTH(GETDATE());

    ;WITH EmpleadosBase AS
    (
        SELECT
            e.EmpleadoID,
            e.Legajo,
            e.CUIL,
            e.DNI,
            e.Apellido,
            e.Nombre,
            e.TelefonoWhatsApp,
            e.Email,
            CAST(ISNULL(e.Activo,0) AS INT) AS Activo,
            e.FechaIngreso,
            CASE
                WHEN e.FechaIngreso IS NULL THEN 0
                ELSE DATEDIFF(YEAR, e.FechaIngreso, GETDATE())
                     - CASE
                         WHEN DATEADD(YEAR, DATEDIFF(YEAR, e.FechaIngreso, GETDATE()), e.FechaIngreso) > CAST(GETDATE() AS DATE)
                         THEN 1
                         ELSE 0
                       END
            END AS AntiguedadBase
        FROM rrhh.Empleados e
    ),
    EmpleadosVacaciones AS
    (
        SELECT
            eb.*,
            CASE
                WHEN eb.FechaIngreso IS NULL THEN 0
                WHEN @MesActual >= 10 THEN eb.AntiguedadBase + 1
                ELSE eb.AntiguedadBase
            END AS AntiguedadVacaciones
        FROM EmpleadosBase eb
    ),
    VacacionesTomadas AS
    (
        SELECT
            v.EmpleadoID,
            SUM(ISNULL(v.CantidadDias,0)) AS DiasTomados
        FROM rrhh.Vacaciones v
        WHERE v.Estado = 'APROBADO'
          --AND YEAR(v.FechaDesde) = CASE WHEN @MesActual >= 10 THEN @AnioActual + 1 ELSE @AnioActual END
        GROUP BY v.EmpleadoID
    )
    SELECT
        ev.EmpleadoID,
        ev.Legajo,
        ev.CUIL,
        ev.DNI,
        UPPER(ev.Apellido) AS Apellido,
        UPPER(ev.Nombre) AS Nombre,
        ev.TelefonoWhatsApp,
        ev.Email,
        ev.Activo,
        ev.FechaIngreso,
        CASE
            WHEN ev.FechaIngreso IS NULL THEN ''
            ELSE CAST(ev.AntiguedadVacaciones AS VARCHAR(10)) + ' años'
        END AS Antiguedad,
        CASE
            WHEN ev.FechaIngreso IS NULL THEN 0
			WHEN ev.AntiguedadVacaciones = 0 THEN 14
            WHEN ev.AntiguedadVacaciones < 5 THEN 14
            WHEN ev.AntiguedadVacaciones >= 5 AND ev.AntiguedadVacaciones < 10 THEN 21
            WHEN ev.AntiguedadVacaciones >= 10 AND ev.AntiguedadVacaciones < 20 THEN 28
            ELSE 35
        END * (ev.AntiguedadVacaciones ) AS DiasCorrespondientes,
        ISNULL(vt.DiasTomados, 0) AS DiasTomados,
		ISNULL(CASE
            WHEN ev.FechaIngreso IS NULL THEN 0
			WHEN ev.AntiguedadVacaciones = 0 THEN 14
            WHEN ev.AntiguedadVacaciones < 5 THEN 14
            WHEN ev.AntiguedadVacaciones >= 5 AND ev.AntiguedadVacaciones < 10 THEN 21
            WHEN ev.AntiguedadVacaciones >= 10 AND ev.AntiguedadVacaciones < 20 THEN 28
            ELSE 35
        END * (ev.AntiguedadVacaciones ),0) -  ISNULL(vt.DiasTomados, 0) AS DiasDisponibles
        --CASE
        --    WHEN ev.FechaIngreso IS NULL THEN 0
        --    WHEN ev.AntiguedadVacaciones = 0 THEN 14
        --    ELSE
        --        CASE
        --            WHEN (
        --                CASE
        --                    WHEN ev.AntiguedadVacaciones < 5 THEN 14
        --                    WHEN ev.AntiguedadVacaciones >= 5 AND ev.AntiguedadVacaciones < 10 THEN 21
        --                    WHEN ev.AntiguedadVacaciones >= 10 AND ev.AntiguedadVacaciones < 20 THEN 28
        --                    ELSE 35
        --                END
        --            ) - ISNULL(vt.DiasTomados, 0) < 0 THEN 0
        --            ELSE
        --                (
        --                    CASE
        --                        WHEN ev.AntiguedadVacaciones < 5 THEN 14
        --                        WHEN ev.AntiguedadVacaciones >= 5 AND ev.AntiguedadVacaciones < 10 THEN 21
        --                        WHEN ev.AntiguedadVacaciones >= 10 AND ev.AntiguedadVacaciones < 20 THEN 28
        --                        ELSE 35
        --                    END
        --                ) 
        --        END * (ev.AntiguedadVacaciones ) 
        --END AS DiasDisponibles
    FROM EmpleadosVacaciones ev
    LEFT JOIN VacacionesTomadas vt
        ON vt.EmpleadoID = ev.EmpleadoID
	WHERE @EmpleadoID IS NULL OR ev.EmpleadoID=@EmpleadoID
    ORDER BY ev.Apellido, ev.Nombre;
END


GO
