USE [RRHH]
GO
/****** Object:  Table [rrhh].[LogProceso]    Script Date: 30/04/2026 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[LogProceso](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LoteID] [int] NULL,
	[LoteDetalleID] [int] NULL,
	[ReciboID] [int] NULL,
	[Modulo] [varchar](50) NOT NULL,
	[Nivel] [varchar](20) NOT NULL,
	[Mensaje] [varchar](2000) NOT NULL,
	[FechaLog] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[LogProceso] ADD  CONSTRAINT [DF_LogProceso_Fecha]  DEFAULT (getdate()) FOR [FechaLog]
GO
