USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Usuario_Blanqueo]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [rrhh].[usp_Usuario_Blanqueo]
    @EmpleadoID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Resultado INT = 0;

    BEGIN TRY

        -- Validar que exista el usuario
        IF NOT EXISTS (
            SELECT 1
            FROM rrhh.Usuarios U
            WHERE U.EmpleadoID = @EmpleadoID
        )
        BEGIN
            SELECT 0 AS Resultado;
            RETURN;
        END

        ---------------------------------------------------------
        -- BLANQUEO
        ---------------------------------------------------------
        UPDATE rrhh.Usuarios
        SET 
            PasswordHash =  CONVERT(VARCHAR(128), HASHBYTES('SHA2_256', Usuario), 2) ,
            DebeCambiarClave = 1,
            FechaCambioClave = NULL
        WHERE EmpleadoID = @EmpleadoID;

        ---------------------------------------------------------
        -- OK
        ---------------------------------------------------------
        SET @Resultado = 1;

    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
    END CATCH

    SELECT @Resultado AS Resultado;

END

GO
