USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibo_Detalle_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibo_Detalle_Sel]
    @ReciboID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReciboID,
        r.EmpleadoID,
        r.LoteID,
        r.LoteDetalleID,
        r.Periodo,
        r.FechaPago,
        r.Neto,
        r.NombreArchivo,
        r.RutaArchivo,
        r.HashArchivo,
        r.EstadoID,
        r.FechaAlta,
        r.UsuarioAltaID,
        r.FechaPublicacion,
        r.FechaLectura,
        r.FechaFirma,
        r.ObservacionEmpleado,

        e.Legajo,
        e.CUIL,
        e.DNI,
        e.Apellido,
        e.Nombre,
        e.ApellidoNombre,
        e.Email,
        e.TelefonoWhatsApp,

        est.Descripcion AS Estado,

        l.NombreArchivoOriginal,
        l.RutaArchivoOriginal,
        l.CantidadPaginas,
        l.CantidadOK,
        l.CantidadError,
        l.Estado AS EstadoLote,
        l.FechaCarga,

        d.PaginaNumero,
        d.LegajoDetectado,
        d.CUILDetectado,
        d.ApellidoNombreDetectado,
        d.PeriodoDetectado,
        d.FechaPagoDetectada,
        d.NetoDetectado,
        d.EstadoProceso,
        d.MensajeError,
        d.RutaPDFIndividual,

        u.Usuario AS UsuarioAlta
    FROM rrhh.Recibos r
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = r.EmpleadoID
    INNER JOIN rrhh.ReciboEstado est
        ON est.EstadoID = r.EstadoID
    LEFT JOIN rrhh.RecibosLote l
        ON l.LoteID = r.LoteID
    LEFT JOIN rrhh.RecibosLoteDetalle d
        ON d.LoteDetalleID = r.LoteDetalleID
    LEFT JOIN rrhh.Usuarios u
        ON u.UsuarioID = r.UsuarioAltaID
    WHERE r.ReciboID = @ReciboID
	AND e.Activo=1;
END

GO
