USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Firmar_Upd]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Vacaciones_Firmar_Upd]
    @VacacionID    INT,
    @EmpleadoID    INT,
    @RutaArchivo   VARCHAR(500) = NULL,
    @NombreArchivo VARCHAR(255) = NULL,
    @HashArchivo   VARCHAR(128) = NULL,
    @FirmadoPor    VARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF ISNULL(@VacacionID,0) <= 0
    BEGIN
        RAISERROR('VacacionID inválido.',16,1);
        RETURN;
    END

    IF ISNULL(@EmpleadoID,0) <= 0
    BEGIN
        RAISERROR('EmpleadoID inválido.',16,1);
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1
        FROM rrhh.Vacaciones
        WHERE VacacionID = @VacacionID
          AND EmpleadoID = @EmpleadoID
    )
    BEGIN
        RAISERROR('La vacación no existe o no pertenece al empleado.',16,1);
        RETURN;
    END

    UPDATE rrhh.Vacaciones
       SET FechaFirma   = GETDATE(),
           RutaArchivo  = @RutaArchivo,
           NombreArchivo = @NombreArchivo,
           HashArchivo  = @HashArchivo,
           FirmadoPor   = @FirmadoPor
     WHERE VacacionID = @VacacionID
       AND EmpleadoID = @EmpleadoID;
END

GO
