USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Documento_Sel_20260421]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Vacaciones_Documento_Sel_20260421]
    @VacacionID INT,
    @EmpleadoID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AnioActual INT = YEAR(GETDATE());
    DECLARE @MesActual  INT = MONTH(GETDATE());

    ;WITH EmpleadoBase AS
    (
        SELECT
            e.EmpleadoID,
            e.Legajo,
            e.Apellido,
            e.Nombre,
            e.Apellido + ' ' + e.Nombre AS NombreYApellido,
            e.FechaIngreso,
            CASE
                WHEN e.FechaIngreso IS NULL THEN 0
                ELSE DATEDIFF(YEAR, e.FechaIngreso, GETDATE())
                     - CASE
                         WHEN DATEADD(YEAR, DATEDIFF(YEAR, e.FechaIngreso, GETDATE()), e.FechaIngreso) > CAST(GETDATE() AS DATE)
                         THEN 1 ELSE 0
                       END
            END AS AntiguedadBase
        FROM rrhh.Empleados e
        WHERE e.EmpleadoID = @EmpleadoID
    ),
    EmpleadoVac AS
    (
        SELECT
            eb.*,
            CASE
                WHEN eb.FechaIngreso IS NULL THEN 0
                WHEN @MesActual >= 10 THEN eb.AntiguedadBase + 1
                ELSE eb.AntiguedadBase
            END AS AntiguedadVacaciones
        FROM EmpleadoBase eb
    ),
    DiasBase AS
    (
        SELECT
            ev.*,
            CASE
                WHEN ev.FechaIngreso IS NULL THEN 0
                WHEN ev.AntiguedadVacaciones < 5 THEN 14
                WHEN ev.AntiguedadVacaciones >= 5 AND ev.AntiguedadVacaciones < 10 THEN 21
                WHEN ev.AntiguedadVacaciones >= 10 AND ev.AntiguedadVacaciones < 20 THEN 28
                ELSE 35
            END AS DiasCorrespondientes
        FROM EmpleadoVac ev
    ),
    VacAprobadas AS
    (
        SELECT
            v.EmpleadoID,
            SUM(ISNULL(v.CantidadDias,0)) AS DiasAprobados
        FROM rrhh.Vacaciones v
        WHERE v.EmpleadoID = @EmpleadoID
          AND v.Estado = 'APROBADO'
        GROUP BY v.EmpleadoID
    )
    SELECT
        v.VacacionID,
        db.EmpleadoID,
        db.NombreYApellido,
        db.Legajo,
        v.FechaDesde,
        v.FechaHasta,
        DATEADD(DAY, 1, v.FechaHasta) AS FechaReincorporacion,
        v.CantidadDias,
        v.Estado,
        v.FechaSolicitud,
        v.FechaFirma,
        db.DiasCorrespondientes,
        ISNULL(va.DiasAprobados, 0) AS DiasAprobados,
        CASE
            WHEN db.DiasCorrespondientes - ISNULL(va.DiasAprobados, 0) < 0 THEN 0
            ELSE db.DiasCorrespondientes - ISNULL(va.DiasAprobados, 0)
        END AS Pendientes,
        CONVERT(VARCHAR(10), v.FechaDesde, 105) AS Desde,
        CONVERT(VARCHAR(10), v.FechaHasta, 105) AS Hasta,
        CONVERT(VARCHAR(10), DATEADD(DAY, 1, v.FechaHasta), 105) AS HastaFin
    FROM rrhh.Vacaciones v
    INNER JOIN DiasBase db
        ON db.EmpleadoID = v.EmpleadoID
    LEFT JOIN VacAprobadas va
        ON va.EmpleadoID = v.EmpleadoID
    WHERE v.VacacionID = @VacacionID
      AND v.EmpleadoID = @EmpleadoID;
END

GO
