USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_RecibosLoteDetalle_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_RecibosLoteDetalle_Sel]
    @LoteID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        d.LoteDetalleID,
        d.PaginaNumero,
        d.LegajoDetectado,
        d.CUILDetectado,
        d.ApellidoNombreDetectado,
        e.ApellidoNombre AS EmpleadoBD,
        d.PeriodoDetectado,
        d.FechaPagoDetectada,
        d.NetoDetectado,
        d.EstadoProceso,
        d.MensajeError,
        d.RutaPDFIndividual,
        r.ReciboID
    FROM rrhh.RecibosLoteDetalle d
    LEFT JOIN rrhh.Empleados e
        ON e.EmpleadoID = d.EmpleadoID
    LEFT JOIN rrhh.Recibos r
        ON r.LoteDetalleID = d.LoteDetalleID
    WHERE d.LoteID = @LoteID
    ORDER BY d.PaginaNumero;
END

GO
