USE [RRHH]
GO
/****** Object:  Table [rrhh].[RecibosNotificaciones]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[RecibosNotificaciones](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[ReciboID] [int] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[UsuarioEnvioID] [int] NULL,
	[Medio] [varchar](30) NOT NULL,
	[TipoNotificacion] [varchar](30) NOT NULL,
	[Mensaje] [varchar](500) NULL,
	[EstadoEnvio] [varchar](30) NULL,
	[Observacion] [varchar](500) NULL,
 CONSTRAINT [PK_rrhh_RecibosNotificaciones] PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[RecibosNotificaciones] ADD  CONSTRAINT [DF_rrhh_RecibosNotificaciones_FechaEnvio]  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [rrhh].[RecibosNotificaciones]  WITH CHECK ADD  CONSTRAINT [FK_rrhh_RecibosNotificaciones_Recibos] FOREIGN KEY([ReciboID])
REFERENCES [rrhh].[Recibos] ([ReciboID])
GO
ALTER TABLE [rrhh].[RecibosNotificaciones] CHECK CONSTRAINT [FK_rrhh_RecibosNotificaciones_Recibos]
GO
