USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Empleado_Ins]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [rrhh].[usp_Empleado_Ins]
    @Legajo            VARCHAR(50),
    @CUIL              VARCHAR(20),
    @DNI               VARCHAR(20),
    @Apellido          VARCHAR(100),
    @Nombre            VARCHAR(100),
    @TelefonoWhatsApp  VARCHAR(50),
    @Email             VARCHAR(150),
    @Activo            BIT,
    @FechaIngreso      DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO rrhh.Empleados
    (
        Legajo,
        CUIL,
        DNI,
        Apellido,
        Nombre,
        ApellidoNombre,
        TelefonoWhatsApp,
        Email,
        Activo,
        FechaIngreso
    )
    VALUES
    (
        LTRIM(RTRIM(ISNULL(@Legajo,''))),
        LTRIM(RTRIM(ISNULL(@CUIL,''))),
        LTRIM(RTRIM(ISNULL(@DNI,''))),
        LTRIM(RTRIM(ISNULL(@Apellido,''))),
        LTRIM(RTRIM(ISNULL(@Nombre,''))),
        LTRIM(RTRIM(ISNULL(@Apellido,''))) + ' ' + LTRIM(RTRIM(ISNULL(@Nombre,''))),
        LTRIM(RTRIM(ISNULL(@TelefonoWhatsApp,''))),
        LTRIM(RTRIM(ISNULL(@Email,''))),
        ISNULL(@Activo,1),
        @FechaIngreso
    );

    SELECT SCOPE_IDENTITY() AS EmpleadoID;
END

GO
