USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Resumen_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Vacaciones_Resumen_Sel]
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL,
    @Estado     VARCHAR(20) = NULL,
    @EmpleadoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        v.VacacionID,
        v.EmpleadoID,
        e.Legajo,
        e.CUIL,
        e.ApellidoNombre,
        e.TelefonoWhatsApp,
        v.FechaDesde,
        v.FechaHasta,
        v.CantidadDias,
        v.Estado,
        v.FechaSolicitud,
		v.RutaArchivo,
        v.FechaFirma,
		CASE WHEN v.FechaFirma IS NOT NULL THEN 'FIRMADO' ELSE 'PENDIENTE' END AS EstadoFirma
    FROM rrhh.Vacaciones v
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = v.EmpleadoID
    WHERE
        (@FechaDesde IS NULL OR v.FechaHasta >= @FechaDesde)
        AND (@FechaHasta IS NULL OR v.FechaDesde <= @FechaHasta)
        AND (@Estado IS NULL OR v.Estado = @Estado)
        AND (@EmpleadoID IS NULL OR v.EmpleadoID = @EmpleadoID)
		AND V.Hidden=0
    ORDER BY
        v.FechaDesde DESC,
        e.ApellidoNombre ASC;
END

GO
