USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Empleados_Combo_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [rrhh].[usp_Empleados_Combo_Sel]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        EmpleadoID,
        ApellidoNombre
    FROM rrhh.Empleados
	WHERE Activo=1
    ORDER BY ApellidoNombre;
END

GO
