USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Periodo_Detalle_Notificar_SelDELETE]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibos_Periodo_Detalle_Notificar_SelDELETE]
    @Periodo varchar(7)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReciboID,
        r.EmpleadoID,
        r.Periodo
    FROM rrhh.Recibos r
    WHERE r.Periodo = @Periodo
    ORDER BY
        r.ReciboID;
END

GO
