USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Resolver]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Vacaciones_Resolver]
    @VacacionID           INT,
    @Estado               VARCHAR(20),
    @MotivoRechazo        VARCHAR(500) = NULL,
    @UsuarioResolucionID  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF ISNULL(@VacacionID,0) <= 0
    BEGIN
        RAISERROR('VacacionID inválido.',16,1);
        RETURN;
    END

    SET @Estado = UPPER(LTRIM(RTRIM(ISNULL(@Estado,''))));

    IF @Estado NOT IN ('APROBADO','RECHAZADO')
    BEGIN
        RAISERROR('Estado inválido. Debe ser APROBADO o RECHAZADO.',16,1);
        RETURN;
    END

    IF @Estado = 'RECHAZADO' AND LTRIM(RTRIM(ISNULL(@MotivoRechazo,''))) = ''
    BEGIN
        RAISERROR('Debe indicar un motivo de rechazo.',16,1);
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1
        FROM rrhh.Vacaciones
        WHERE VacacionID = @VacacionID
    )
    BEGIN
        RAISERROR('La solicitud no existe.',16,1);
        RETURN;
    END

    UPDATE rrhh.Vacaciones
       SET Estado              = @Estado,
           UsuarioResolucionID = @UsuarioResolucionID,
           FechaResolucion     = GETDATE(),
           MotivoRechazo       = CASE WHEN @Estado = 'RECHAZADO' THEN @MotivoRechazo ELSE NULL END
     WHERE VacacionID = @VacacionID;

    EXEC rrhh.usp_Vacaciones_Notificacion_WhatsApp_Ins @VacacionID = @VacacionID;
END

GO
