USE [RRHH]
GO
/****** Object:  Table [rrhh].[Notificaciones_DELETE]    Script Date: 30/04/2026 12:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[Notificaciones_DELETE](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[ReciboID] [int] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[Medio] [varchar](30) NOT NULL,
	[Destino] [varchar](150) NULL,
	[Mensaje] [varchar](1000) NULL,
	[FechaEnvio] [datetime] NULL,
	[EstadoEnvio] [varchar](30) NOT NULL,
	[MessageIDExterno] [varchar](150) NULL,
	[FechaEntrega] [datetime] NULL,
	[FechaLectura] [datetime] NULL,
	[RespuestaProveedor] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[Notificaciones_DELETE] ADD  CONSTRAINT [DF_Notificaciones_Estado]  DEFAULT ('PENDIENTE') FOR [EstadoEnvio]
GO
ALTER TABLE [rrhh].[Notificaciones_DELETE]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Empleado] FOREIGN KEY([EmpleadoID])
REFERENCES [rrhh].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [rrhh].[Notificaciones_DELETE] CHECK CONSTRAINT [FK_Notificaciones_Empleado]
GO
ALTER TABLE [rrhh].[Notificaciones_DELETE]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Recibo] FOREIGN KEY([ReciboID])
REFERENCES [rrhh].[Recibos] ([ReciboID])
GO
ALTER TABLE [rrhh].[Notificaciones_DELETE] CHECK CONSTRAINT [FK_Notificaciones_Recibo]
GO
