USE [RRHH]
GO
/****** Object:  Table [rrhh].[Vacaciones]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[Vacaciones](
	[VacacionID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NULL,
	[FechaDesde] [date] NULL,
	[FechaHasta] [date] NULL,
	[CantidadDias] [int] NULL,
	[Estado] [varchar](20) NULL,
	[FechaSolicitud] [datetime] NULL,
	[UsuarioAprobacionID] [int] NULL,
	[FechaAprobacion] [datetime] NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioResolucionID] [int] NULL,
	[FechaResolucion] [datetime] NULL,
	[MotivoRechazo] [varchar](500) NULL,
	[FechaNotificacion] [datetime] NULL,
	[FechaFirma] [datetime] NULL,
	[RutaArchivo] [varchar](500) NULL,
	[NombreArchivo] [varchar](255) NULL,
	[HashArchivo] [varchar](128) NULL,
	[FirmadoPor] [varchar](200) NULL,
	[hidden] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VacacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[Vacaciones] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [rrhh].[Vacaciones] ADD  DEFAULT ((0)) FOR [hidden]
GO
