USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Dashboard]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [rrhh].[usp_Recibos_Dashboard]
    @Periodo        CHAR(7)       = NULL,
    @Legajo         VARCHAR(20)   = NULL,
    @ApellidoNombre VARCHAR(150)  = NULL,
    @EstadoID       INT           = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
			r.Periodo	, 
			Cantidad	= COUNT(r.ReciboID) ,
			Leidos		= SUM(CASE WHEN est.Descripcion='LEIDO' THEN 1 ELSE 0 END),
			Firmados	= SUM(CASE WHEN est.Descripcion='FIRMADO' THEN 1 ELSE 0 END),
			Pendientes	= SUM(CASE WHEN est.Descripcion='FIRMADO' THEN 0 ELSE 1 END)
  
    FROM rrhh.Recibos r
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = r.EmpleadoID
    INNER JOIN rrhh.ReciboEstado est
        ON est.EstadoID = r.EstadoID
    INNER JOIN rrhh.RecibosLote l
        ON l.LoteID = r.LoteID
    WHERE (@Periodo IS NULL OR r.Periodo = @Periodo)
	  AND e.Activo=1
      AND (@Legajo IS NULL OR LTRIM(RTRIM(e.Legajo)) like '%' + LTRIM(RTRIM(@Legajo))   + '%' )
      AND (@ApellidoNombre IS NULL OR e.ApellidoNombre LIKE '%' + LTRIM(RTRIM(@ApellidoNombre)) + '%')
      AND (@EstadoID IS NULL OR r.EstadoID = @EstadoID)
    GROUP BY r.Periodo
END


GO
