USE [RRHH]
GO
/****** Object:  Table [rrhh].[RecibosNotificacionCola]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[RecibosNotificacionCola](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Periodo] [varchar](7) NULL,
	[UsuarioEnvio] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
