USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Vacaciones_Notificacion_WhatsApp_Insxxx]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Vacaciones_Notificacion_WhatsApp_Insxxx]
    @VacacionID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @Telefono           VARCHAR(50),
        @ApellidoNombre     VARCHAR(200),
        @Estado             VARCHAR(20),
        @FechaDesde         DATE,
        @FechaHasta         DATE,
        @MotivoRechazo      VARCHAR(500),
        @Payload            VARCHAR(MAX),
        @EstadoTexto        VARCHAR(50),
        @MotivoTexto        VARCHAR(500);

    SELECT
        @Telefono       = NULLIF(LTRIM(RTRIM(e.TelefonoWhatsApp)), ''),
        @ApellidoNombre = e.ApellidoNombre,
        @Estado         = v.Estado,
        @FechaDesde     = v.FechaDesde,
        @FechaHasta     = v.FechaHasta,
        @MotivoRechazo  = ISNULL(v.MotivoRechazo, '')
    FROM rrhh.Vacaciones v
    INNER JOIN rrhh.Empleados e
        ON e.EmpleadoID = v.EmpleadoID
    WHERE v.VacacionID = @VacacionID;

    IF ISNULL(@Telefono, '') = ''
        RETURN;

    SET @EstadoTexto =
        CASE
            WHEN @Estado = 'APROBADO' THEN 'APROBADA'
            WHEN @Estado = 'RECHAZADO' THEN 'RECHAZADA'
            ELSE @Estado
        END;

    SET @MotivoTexto =
        CASE
            WHEN @Estado = 'RECHAZADO' AND LTRIM(RTRIM(ISNULL(@MotivoRechazo,''))) <> ''
                THEN @MotivoRechazo
            WHEN @Estado = 'RECHAZADO'
                THEN 'Sin observaciones.'
            ELSE 'Tu solicitud fue aprobada.'
        END;

    SET @Payload =
    '{' +
      '"messaging_product":"whatsapp",' +
      '"type":"template",' +
      '"template":{' +
        '"name":"EmpVacacionesEstado",' +
        '"language":{"code":"es_AR"},' +
        '"components":[{' +
          '"type":"body",' +
          '"parameters":[' +
            '{"type":"text","text":"' + REPLACE(ISNULL(@ApellidoNombre,''), '"', '\"') + '"},' +
            '{"type":"text","text":"' + REPLACE(ISNULL(@EstadoTexto,''), '"', '\"') + '"},' +
            '{"type":"text","text":"' + CONVERT(VARCHAR(10), @FechaDesde, 105) + '"},' +
            '{"type":"text","text":"' + CONVERT(VARCHAR(10), @FechaHasta, 105) + '"},' +
            '{"type":"text","text":"' + REPLACE(ISNULL(@MotivoTexto,''), '"', '\"') + '"}' +
          ']' +
        '}]' +
      '}' +
    '}';

    INSERT INTO WhatsAppAPI.tmp.WhatsAPP_API_OnDemand_Envios
    (
        FechaAgregado,
        NombreTemplate,
        Telefono,
        payload,
        CampaniaID
    )
    VALUES
    (
        GETDATE(),
        'EmpVacacionesEstado',
        @Telefono,
        @Payload,
        NULL
    );

    UPDATE rrhh.Vacaciones
       SET FechaNotificacion = GETDATE()
     WHERE VacacionID = @VacacionID;
END

GO
