USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Periodos_Notificar_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibos_Periodos_Notificar_Sel]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.Periodo,
        CantidadRecibos = COUNT(*)
    FROM rrhh.Recibos r
    GROUP BY
        r.Periodo
    ORDER BY
        r.Periodo DESC;
END

GO
