USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Notificaciones_Cola_Ins]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE  [rrhh].[usp_Recibos_Notificaciones_Cola_Ins]
@Periodo        varchar(7),
@UsuarioEnvioID varchar(50) = NULL
AS
SET NOCOUNT ON

INSERT INTO [rrhh].[RecibosNotificacionCola] (periodo,UsuarioEnvio)
SELECT @periodo,@UsuarioEnvioID
WHERE NOT EXISTS (SELECT NULL FROM  [rrhh].[RecibosNotificacionCola] WHERE Periodo=@Periodo)
DECLARE @Total INT
SELECT @Total= COUNT(*) FROM [rrhh].[Recibos] where Periodo= @Periodo

SELECT
OK = 1,
Periodo = @Periodo,
TotalEncontrados = @Total,
TotalProcesados = @Total;
 


GO
