USE [RRHH]
GO
/****** Object:  Table [rrhh].[RecibosLote]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[RecibosLote](
	[LoteID] [int] IDENTITY(1,1) NOT NULL,
	[Periodo] [char](7) NOT NULL,
	[NombreArchivoOriginal] [varchar](255) NOT NULL,
	[RutaArchivoOriginal] [varchar](500) NOT NULL,
	[HashArchivoOriginal] [varchar](64) NULL,
	[CantidadPaginas] [int] NULL,
	[CantidadOK] [int] NOT NULL,
	[CantidadError] [int] NOT NULL,
	[Estado] [varchar](30) NOT NULL,
	[FechaCarga] [datetime] NOT NULL,
	[UsuarioCargaID] [int] NOT NULL,
	[FechaProcesoInicio] [datetime] NULL,
	[FechaProcesoFin] [datetime] NULL,
	[Observaciones] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[RecibosLote] ADD  CONSTRAINT [DF_RecibosLote_CantidadOK]  DEFAULT ((0)) FOR [CantidadOK]
GO
ALTER TABLE [rrhh].[RecibosLote] ADD  CONSTRAINT [DF_RecibosLote_CantidadError]  DEFAULT ((0)) FOR [CantidadError]
GO
ALTER TABLE [rrhh].[RecibosLote] ADD  CONSTRAINT [DF_RecibosLote_Estado]  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [rrhh].[RecibosLote] ADD  CONSTRAINT [DF_RecibosLote_FechaCarga]  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [rrhh].[RecibosLote]  WITH CHECK ADD  CONSTRAINT [FK_RecibosLote_Usuarios] FOREIGN KEY([UsuarioCargaID])
REFERENCES [rrhh].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [rrhh].[RecibosLote] CHECK CONSTRAINT [FK_RecibosLote_Usuarios]
GO
