USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Recibos_Notificaciones_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_Recibos_Notificaciones_Sel]
    @Periodo                VARCHAR(20) = NULL,
    @EmpleadoID             INT = NULL,
    @Legajo                 VARCHAR(50) = NULL,
    @Estado                 VARCHAR(20) = NULL,
    @SoloPendientes         BIT = 0,
	@Nombre					VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.ReciboID,
        r.EmpleadoID,
        Legajo = ISNULL(e.Legajo, ''),
        Nombre = LTRIM(RTRIM(
                    ISNULL(e.Apellido, '') +
                    CASE
                        WHEN ISNULL(e.Apellido, '') <> '' AND ISNULL(e.Nombre, '') <> '' THEN ', '
                        ELSE ''
                    END +
                    ISNULL(e.Nombre, '')
                 )),
        r.LoteID,
        r.LoteDetalleID,
        r.Periodo,
        r.FechaPago,
        r.NombreArchivo,
        r.RutaArchivo,
        r.HashArchivo,
        r.NombreArchivoFirmado,
        r.RutaArchivoFirmado,
        r.HashArchivoFirmado,
        r.EstadoID,
        r.FechaAlta,
        r.UsuarioAltaID,
        r.FechaPublicacion,
        r.FechaLectura,
        r.FechaFirma,
        r.Notificado,
        r.FechaNotificacion,
        r.UsuarioNotificacionID,
        r.CantidadNotificaciones,
        EstadoGeneral =
            CASE
                WHEN r.FechaFirma IS NOT NULL THEN 'Firmado'
                WHEN r.FechaLectura IS NOT NULL THEN 'Leido'
                WHEN r.Notificado = 1 THEN 'Notificado'
                WHEN r.FechaPublicacion IS NOT NULL THEN 'Publicado'
                ELSE 'Pendiente'
            END,
        PendienteLectura =
            CASE
                WHEN r.FechaPublicacion IS NOT NULL
                 AND r.FechaLectura IS NULL THEN 1 ELSE 0
            END,
        PendienteFirma =
            CASE
                WHEN r.FechaLectura IS NOT NULL
                 AND r.FechaFirma IS NULL THEN 1 ELSE 0
            END
    FROM rrhh.Recibos r
    LEFT JOIN rrhh.Empleados e
        ON r.EmpleadoID = e.EmpleadoID
    WHERE
        (@Periodo IS NULL OR @Periodo = '' OR r.Periodo = @Periodo)
		AND (@Nombre IS NULL OR LTRIM(RTRIM(
                    ISNULL(e.Apellido, '') +
                    CASE
                        WHEN ISNULL(e.Apellido, '') <> '' AND ISNULL(e.Nombre, '') <> '' THEN ', '
                        ELSE ''
                    END +
                    ISNULL(e.Nombre, '')
                 )) like '%'+@Nombre+'%')
		AND e.Activo=1
        AND (@EmpleadoID IS NULL OR r.EmpleadoID = @EmpleadoID)
        AND (@Legajo IS NULL OR @Legajo = '' OR ISNULL(e.Legajo, '') LIKE '%' + @Legajo + '%')
        AND (
            @Estado IS NULL OR @Estado = ''
            OR (@Estado = 'Firmado' AND r.FechaFirma IS NOT NULL)
            OR (@Estado = 'Leido' AND r.FechaLectura IS NOT NULL AND r.FechaFirma IS NULL)
            OR (@Estado = 'Notificado' AND r.Notificado = 1 AND r.FechaLectura IS NULL)
            OR (@Estado = 'Publicado' AND r.FechaPublicacion IS NOT NULL AND ISNULL(r.Notificado,0) = 0)
            OR (@Estado = 'Pendiente' AND r.FechaPublicacion IS NULL)
        )
        AND (
            @SoloPendientes = 0
            OR r.FechaFirma IS NULL
        )
    ORDER BY
        r.Periodo DESC,
        ISNULL(e.Legajo, ''),
        r.EmpleadoID,
        r.ReciboID DESC;
END

GO
