USE [RRHH]
GO
/****** Object:  Table [rrhh].[RecibosLoteDetalle]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [rrhh].[RecibosLoteDetalle](
	[LoteDetalleID] [int] IDENTITY(1,1) NOT NULL,
	[LoteID] [int] NOT NULL,
	[PaginaNumero] [int] NOT NULL,
	[LegajoDetectado] [varchar](20) NULL,
	[CUILDetectado] [varchar](20) NULL,
	[ApellidoNombreDetectado] [varchar](250) NULL,
	[PeriodoDetectado] [char](7) NULL,
	[FechaPagoDetectada] [date] NULL,
	[NetoDetectado] [decimal](18, 2) NULL,
	[TextoExtraido] [varchar](max) NULL,
	[EmpleadoID] [int] NULL,
	[EstadoProceso] [varchar](30) NOT NULL,
	[MensajeError] [varchar](1000) NULL,
	[RutaPDFIndividual] [varchar](500) NULL,
	[HashArchivo] [varchar](64) NULL,
	[FechaProceso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoteDetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [rrhh].[RecibosLoteDetalle] ADD  CONSTRAINT [DF_RecibosLoteDetalle_Estado]  DEFAULT ('PENDIENTE') FOR [EstadoProceso]
GO
ALTER TABLE [rrhh].[RecibosLoteDetalle]  WITH CHECK ADD  CONSTRAINT [FK_RecibosLoteDetalle_Empleado] FOREIGN KEY([EmpleadoID])
REFERENCES [rrhh].[Empleados] ([EmpleadoID])
GO
ALTER TABLE [rrhh].[RecibosLoteDetalle] CHECK CONSTRAINT [FK_RecibosLoteDetalle_Empleado]
GO
ALTER TABLE [rrhh].[RecibosLoteDetalle]  WITH CHECK ADD  CONSTRAINT [FK_RecibosLoteDetalle_Lote] FOREIGN KEY([LoteID])
REFERENCES [rrhh].[RecibosLote] ([LoteID])
GO
ALTER TABLE [rrhh].[RecibosLoteDetalle] CHECK CONSTRAINT [FK_RecibosLoteDetalle_Lote]
GO
