USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_RecibosLote_Sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [rrhh].[usp_RecibosLote_Sel]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        l.LoteID,
        l.Periodo,
        l.NombreArchivoOriginal,
        l.CantidadPaginas,
        l.CantidadOK,
        l.CantidadError,
        l.Estado,
        l.FechaCarga,
        u.Usuario
    FROM rrhh.RecibosLote l
    LEFT JOIN rrhh.Usuarios u
        ON u.UsuarioID = l.UsuarioCargaID
    ORDER BY l.LoteID DESC;
END

GO
