USE [RRHH]
GO
/****** Object:  StoredProcedure [rrhh].[usp_Empleado_sel]    Script Date: 30/04/2026 12:43:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [rrhh].[usp_Empleado_sel]
    @EmpleadoID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        EmpleadoID,
        Legajo,
        CUIL,
        DNI,
        Apellido,
        Nombre,
        TelefonoWhatsApp,
        Email,
        Activo,
        FechaIngreso,
		iActivo = CASE WHEN Activo =1 THEN CAST(1 as int) ELSE CAST(0 AS INT) END
    FROM rrhh.Empleados
    WHERE EmpleadoID = @EmpleadoID;
END

GO
