USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Reporte_Deposito_Resumen_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Sensores_Reporte_Deposito_Resumen_Sel]
  @DepositoID INT,
  @Posicion NVARCHAR(20) = NULL,
  @Desde DATETIME,
  @Hasta DATETIME
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    COUNT(*) AS Cantidad,
    MIN(L.Temperatura) AS TempMin,
    MAX(L.Temperatura) AS TempMax,
    AVG(CONVERT(DECIMAL(10,4), L.Temperatura)) AS TempProm
  FROM dbo.Lecturas L
  WHERE L.Tipo='DEPOSITO'
    AND L.DepositoID=@DepositoID
    AND (@Posicion IS NULL OR @Posicion='' OR L.Posicion=@Posicion)
    AND L.FechaHora >= @Desde
    AND L.FechaHora < DATEADD(DAY,1,CONVERT(date,@Hasta));
END

GO
