USE [Sensores]
GO
/****** Object:  Table [dbo].[Lecturas]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturas](
	[LecturaID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](10) NOT NULL,
	[DepositoID] [int] NULL,
	[Posicion] [nvarchar](20) NULL,
	[Patente] [nvarchar](20) NULL,
	[Temperatura] [decimal](6, 2) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Usuario] [nvarchar](100) NULL,
	[Observacion] [nvarchar](300) NULL,
	[TipoTemp] [nvarchar](20) NULL,
	[RepartidorID] [int] NULL,
	[AyudanteID] [int] NULL,
	[ResponsableID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Lecturas] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
