USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Vehiculo_Ins]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Sensores_Vehiculo_Ins]
    @Patente NVARCHAR(20),
    @Temperatura DECIMAL(6,2),
    @Usuario NVARCHAR(100) = NULL,
    @Observacion NVARCHAR(300) = NULL,
    @TipoTemp NVARCHAR(20) = NULL,      -- 'ABASTO' / 'CARGA'
    @RepartidorID INT = NULL,
    @AyudanteID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @Patente = UPPER(LTRIM(RTRIM(@Patente)));
    SET @TipoTemp = UPPER(LTRIM(RTRIM(ISNULL(@TipoTemp,''))));

    IF @Patente = ''
        RAISERROR('Patente requerida.',16,1);

    -- Validación soft de TipoTemp (si viene algo raro, lo dejamos NULL)
    IF @TipoTemp NOT IN ('','ABASTO','CARGA')
        SET @TipoTemp = NULL;

    INSERT INTO dbo.Lecturas
        (Tipo, Patente, Temperatura, Usuario, Observacion, TipoTemp, RepartidorID, AyudanteID)
    VALUES
        ('VEHICULO', @Patente, @Temperatura, @Usuario, @Observacion, NULLIF(@TipoTemp,''), @RepartidorID, @AyudanteID);

    SELECT SCOPE_IDENTITY() AS LecturaID;
END

GO
