USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Depositos_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Lista depósitos activos */
CREATE   PROCEDURE [dbo].[usp_Sensores_Depositos_Sel]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT DepositoID, Nombre
  FROM dbo.Depositos
  WHERE Activo=1
  ORDER BY Nombre;
END

GO
