USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Deposito_Ins]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2) SP (ajustá si tu tabla/columnas tienen otros nombres)
CREATE PROCEDURE [dbo].[usp_Sensores_Deposito_Ins]
    @DepositoID     INT,
    @Posicion       VARCHAR(20),
    @Temperatura    DECIMAL(6,2),
    @Usuario        VARCHAR(100) = NULL,
    @Observacion    VARCHAR(300) = NULL,
    @ResponsableID  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @DepositoID IS NULL OR @DepositoID <= 0
        RAISERROR('Deposito requerido.',16,1);

    IF ISNULL(LTRIM(RTRIM(@Posicion)),'') = ''
        RAISERROR('Posicion requerida.',16,1);

    IF @ResponsableID IS NULL OR @ResponsableID <= 0
        RAISERROR('Responsable requerido.',16,1);

    INSERT INTO dbo.Lecturas
      (Tipo, DepositoID, Posicion, Temperatura, Usuario, Observacion, ResponsableID)
    VALUES
      ('DEPOSITO', @DepositoID, @Posicion, @Temperatura, @Usuario, @Observacion, @ResponsableID);

    SELECT SCOPE_IDENTITY() AS LecturaID;
END

GO
