USE [Sensores]
GO
/****** Object:  Table [dbo].[Deposito_Posiciones]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposito_Posiciones](
	[DepositoPosicionID] [int] IDENTITY(1,1) NOT NULL,
	[DepositoID] [int] NOT NULL,
	[Posicion] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepositoPosicionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_DepPos] UNIQUE NONCLUSTERED 
(
	[DepositoID] ASC,
	[Posicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Deposito_Posiciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Deposito_Posiciones]  WITH CHECK ADD  CONSTRAINT [FK_DepPos_Dep] FOREIGN KEY([DepositoID])
REFERENCES [dbo].[Depositos] ([DepositoID])
GO
ALTER TABLE [dbo].[Deposito_Posiciones] CHECK CONSTRAINT [FK_DepPos_Dep]
GO
