USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Dashboard_Depositos_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Sensores_Dashboard_Depositos_Sel]
AS
BEGIN
  SET NOCOUNT ON;

  SELECT TOP (25)
      Deposito      = d.Nombre,
      l.Posicion,
      l.Temperatura,
      l.FechaHora,
      l.Usuario,
      l.Observacion,
      l.ResponsableID,
      Responsable   = COALESCE(r.Apellido + ', ' + r.Nombre , NULL)
  FROM dbo.Lecturas l
  INNER JOIN dbo.Depositos d
    ON d.DepositoID = l.DepositoID
  LEFT JOIN Sensores.dbo.Responsables t
    ON t.ResponsableID = l.ResponsableID
  LEFT JOIN Reclamos.dbo.Nomina r on r.EmpleadoID=t.EmpleadoID
  WHERE l.Tipo = 'DEPOSITO'
  ORDER BY 1, l.FechaHora DESC, l.LecturaID DESC;
END

GO
