USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Dashboard_Vehiculos_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Sensores_Dashboard_Vehiculos_Sel]
AS
BEGIN
  SET NOCOUNT ON;

  ;WITH V AS (
    SELECT
      L.LecturaID,
      L.Patente,
      L.TipoTemp,
      L.Temperatura,
      L.FechaHora,
      L.Usuario,
      L.Observacion,
      L.RepartidorID,
      L.AyudanteID,
      rn = ROW_NUMBER() OVER (PARTITION BY L.Patente, ISNULL(L.TipoTemp,'') ORDER BY L.FechaHora DESC, L.LecturaID DESC)
    FROM dbo.Lecturas L
    WHERE L.Tipo='VEHICULO'
      AND ISNULL(L.TipoTemp,'') IN ('ABASTO','CARGA')  -- si alguna viene NULL, no entra (podés sacarlo si querés)
  ),
  A AS (
    SELECT * FROM V WHERE TipoTemp='ABASTO' AND rn=1
  ),
  C AS (
    SELECT * FROM V WHERE TipoTemp='CARGA' AND rn=1
  ),
  U AS (
    -- última lectura (para usuario/obs/repartidor/ayudante "actual" por patente)
    SELECT
      L.Patente,
      L.Usuario,
      L.Observacion,
      L.RepartidorID,
      L.AyudanteID,
      L.FechaHora,
      rn = ROW_NUMBER() OVER (PARTITION BY L.Patente ORDER BY L.FechaHora DESC, L.LecturaID DESC)
    FROM dbo.Lecturas L
    WHERE L.Tipo='VEHICULO'
  )
  SELECT TOP (25)
      Patente = COALESCE(U.Patente, A.Patente, C.Patente),

      TempAbasto  = A.Temperatura,
      FechaAbasto = A.FechaHora,

      TempCarga   = C.Temperatura,
      FechaCarga  = C.FechaHora,

      Repartidor = T1.Nombre,
      Ayudante   = T2.Nombre,

      Usuario = U.Usuario,
      Observacion = U.Observacion,
      FechaUltima = U.FechaHora
  FROM U
  LEFT JOIN A ON A.Patente = U.Patente
  LEFT JOIN C ON C.Patente = U.Patente
  LEFT JOIN Reparto.dbo.Transportista T1 ON T1.TransportistaID = U.RepartidorID
  LEFT JOIN Reparto.dbo.Transportista T2 ON T2.TransportistaID = U.AyudanteID
  WHERE U.rn=1
  ORDER BY U.FechaHora DESC;
END

GO
