USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_sel]
@EmpleadoID INT = 0,
@TransportistaID INT=0
AS

SET NOCOUNT ON
 

SELECT TransportistaID, Apellido + ', ' + Nombre AS Nombre
FROM Reparto.dbo.Transportista 
WHERE (@EmpleadoID= 0 OR EmpleadoID = @EmpleadoID)
AND 
	(@TransportistaID=0 OR TransportistaID=@TransportistaID)
AND Activo=1
AND Nombre not like 'ANULADO%'
ORDER BY Apellido
GO
