USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Reporte_Vehiculo]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Sensores_Reporte_Vehiculo]
    @Patente NVARCHAR(20),
    @Desde DATETIME,
    @Hasta DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SET @Patente = UPPER(LTRIM(RTRIM(@Patente)));

    SELECT 
        FechaHora,
        Patente,
        Temperatura,
        Usuario,
        Observacion
    FROM dbo.Lecturas
    WHERE Tipo='VEHICULO'
      AND Patente=@Patente
      AND FechaHora >= @Desde
      AND FechaHora < DATEADD(DAY,1,@Hasta)
    ORDER BY FechaHora DESC;
END

GO
