USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Reporte_Deposito_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Reporte Depósito (posición opcional) */
CREATE PROCEDURE [dbo].[usp_Sensores_Reporte_Deposito_Sel] 
  @DepositoID INT,
  @Posicion NVARCHAR(20) = NULL,   -- NULL o '' => todas
  @Desde DATETIME,
  @Hasta DATETIME
AS
BEGIN
  SET NOCOUNT ON;

  SELECT Top 25
    L.FechaHora,
    D.Nombre AS Deposito,
    L.Posicion,
    L.Temperatura,
    L.Usuario,
    L.Observacion
  FROM dbo.Lecturas L
  INNER JOIN dbo.Depositos D ON D.DepositoID = L.DepositoID
  WHERE L.Tipo='DEPOSITO' 
    AND L.DepositoID=@DepositoID
    AND (@Posicion IS NULL OR @Posicion='' OR L.Posicion=@Posicion)
    AND L.FechaHora >= @Desde
    AND L.FechaHora < DATEADD(DAY,1,CONVERT(date,@Hasta))
  ORDER BY D.Nombre, L.FechaHora DESC;
END

GO
