USE [Sensores]
GO
/****** Object:  Table [dbo].[Responsables]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsables](
	[ResponsableID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NULL,
	[Activo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponsableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
