USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Deposito_Posiciones_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Lista posiciones activas de un depósito */
CREATE  PROCEDURE [dbo].[usp_Sensores_Deposito_Posiciones_Sel]
  @DepositoID INT
AS
BEGIN
  SET NOCOUNT ON;

  SELECT Posicion
  FROM dbo.Deposito_Posiciones
  WHERE DepositoID=@DepositoID AND Activo=1
  ORDER BY CASE Posicion WHEN 'ALTA' THEN 1 WHEN 'MEDIA' THEN 2 WHEN 'BAJA' THEN 3 ELSE 99 END, Posicion;
END

GO
