USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Responsables_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Sensores_Responsables_Sel]
AS

SET NOCOUNT ON

SELECT r.ResponsableID, n.Apellido+ ', '+ N.Nombre AS Nombre
FROM Responsables r
INNER JOIN Reclamos.dbo.Nomina n ON n.EmpleadoID = r.EmpleadoID 
WHERE r.Activo=1

GO
