USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Reporte_Vehiculo_Resumen_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Sensores_Reporte_Vehiculo_Resumen_Sel]
  @Patente NVARCHAR(20),
  @Desde   DATETIME,
  @Hasta   DATETIME,
  @TipoTemp NVARCHAR(20) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  SET @Patente = UPPER(LTRIM(RTRIM(@Patente)));
  SET @TipoTemp = UPPER(LTRIM(RTRIM(ISNULL(@TipoTemp,''))));
  IF @TipoTemp NOT IN ('','ABASTO','CARGA') SET @TipoTemp = '';

  SELECT
    COUNT(*) AS Cantidad,
    MIN(L.Temperatura) AS TempMin,
    MAX(L.Temperatura) AS TempMax,
    AVG(CONVERT(DECIMAL(10,4), L.Temperatura)) AS TempProm
  FROM dbo.Lecturas L
  WHERE L.Tipo='VEHICULO'
    AND L.Patente=@Patente
    AND L.FechaHora >= @Desde
    AND L.FechaHora < DATEADD(DAY,1,CONVERT(date,@Hasta))
    AND (@TipoTemp = '' OR L.TipoTemp=@TipoTemp);
END

GO
