USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Dashboard_Hoy_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 3) Contador de lecturas de hoy */
CREATE PROCEDURE [dbo].[usp_Sensores_Dashboard_Hoy_Sel]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      COUNT(*) AS Total,
      SUM(CASE WHEN Tipo='DEPOSITO' THEN 1 ELSE 0 END) AS Deposito,
      SUM(CASE WHEN Tipo='VEHICULO' THEN 1 ELSE 0 END) AS Vehiculo
    FROM dbo.Lecturas
    WHERE CAST(FechaHora AS DATE) = CAST(GETDATE() AS DATE);
END

GO
