USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Reporte_Deposito]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Sensores_Reporte_Deposito]
    @DepositoID INT,
    @Desde DATETIME,
    @Hasta DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        L.FechaHora,
        D.Nombre AS Deposito,
        L.Posicion,
        L.Temperatura,
        L.Usuario,
        L.Observacion
    FROM dbo.Lecturas L
    INNER JOIN dbo.Depositos D ON D.DepositoID = L.DepositoID
    WHERE L.Tipo='DEPOSITO'
      AND L.DepositoID=@DepositoID
      AND L.FechaHora >= @Desde
      AND L.FechaHora < DATEADD(DAY,1,@Hasta)
    ORDER BY L.FechaHora DESC;
END

GO
