USE [Sensores]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sensores_Reporte_Vehiculo_Sel]    Script Date: 30/04/2026 12:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[usp_Sensores_Reporte_Vehiculo_Sel]
  @Patente NVARCHAR(20),
  @Desde   DATETIME,
  @Hasta   DATETIME,
  @TipoTemp NVARCHAR(20) = NULL   -- NUEVO (ABASTO/CARGA o NULL)
AS
BEGIN
  SET NOCOUNT ON;

  SET @Patente = UPPER(LTRIM(RTRIM(@Patente)));
  SET @TipoTemp = UPPER(LTRIM(RTRIM(ISNULL(@TipoTemp,''))));
  IF @TipoTemp NOT IN ('','ABASTO','CARGA') SET @TipoTemp = '';

  SELECT
      L.FechaHora,
      L.Patente,
      L.TipoTemp,
      L.Temperatura,
      L.Usuario,
      L.Observacion,
      Repartidor = T1.Nombre,
      Ayudante   = T2.Nombre
  FROM dbo.Lecturas L
  LEFT JOIN Reparto.dbo.Transportista T1 ON T1.TransportistaID = L.RepartidorID
  LEFT JOIN Reparto.dbo.Transportista T2 ON T2.TransportistaID = L.AyudanteID
  WHERE L.Tipo='VEHICULO'
    AND L.Patente=@Patente
    AND L.FechaHora >= @Desde
    AND L.FechaHora < DATEADD(DAY,1,CONVERT(date,@Hasta))
    AND (@TipoTemp = '' OR L.TipoTemp=@TipoTemp)
  ORDER BY L.FechaHora DESC;
END

GO
