USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones_Cabecera]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones_Cabecera](
	[CabeceraID] [int] IDENTITY(1,1) NOT NULL,
	[CamionID] [int] NOT NULL,
	[OrdenCompra] [varchar](100) NULL,
	[Empresa] [varchar](200) NULL,
	[NroFactura] [varchar](50) NULL,
	[NroRemito] [varchar](50) NULL,
	[TotalBultosEmpresa] [decimal](18, 2) NULL,
	[Estado] [varchar](30) NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CabeceraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones_Cabecera] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Camiones_Cabecera]  WITH CHECK ADD  CONSTRAINT [FK_Camiones_Cabecera_Camiones] FOREIGN KEY([CamionID])
REFERENCES [dbo].[Camiones] ([CamionID])
GO
ALTER TABLE [dbo].[Camiones_Cabecera] CHECK CONSTRAINT [FK_Camiones_Cabecera_Camiones]
GO
