USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_Ins]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_Ins]
    @CamionID                INT,
    @OrdenCompra             VARCHAR(100) = NULL,
    @Empresa                 VARCHAR(200) = NULL,
    @NroFactura              VARCHAR(50) = NULL,
    @NroRemito               VARCHAR(50) = NULL,
    @TotalBultosEmpresa      DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Camiones_Cabecera
    (
        CamionID, OrdenCompra, Empresa, NroFactura, NroRemito, TotalBultosEmpresa
    )
    VALUES
    (
        @CamionID, @OrdenCompra, @Empresa, @NroFactura, @NroRemito, @TotalBultosEmpresa
    );

    SELECT SCOPE_IDENTITY() AS CabeceraID;
END

GO
