USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_upd]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Camiones_upd]
    @CamionID INT,
    @Estado INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Camiones
    SET 
        Estado = @Estado,
        FechaModificacion = GETDATE(),
        FechaCierre = CASE WHEN @Estado = 2 THEN GETDATE() ELSE FechaCierre END
    WHERE CamionID = @CamionID;

END

GO
