USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones_FacturaDetalleControl]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones_FacturaDetalleControl](
	[ControlID] [int] IDENTITY(1,1) NOT NULL,
	[FacturaDetalleID] [int] NOT NULL,
	[CantidadControlada] [varchar](50) NULL,
	[Completo] [bit] NOT NULL,
	[Observacion] [varchar](300) NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario] [varchar](100) NULL,
 CONSTRAINT [PK_Camiones_FacturaDetalleControl] PRIMARY KEY CLUSTERED 
(
	[ControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalleControl] ADD  CONSTRAINT [DF_Camiones_FacturaDetalleControl_Completo]  DEFAULT ((0)) FOR [Completo]
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalleControl] ADD  CONSTRAINT [DF_Camiones_FacturaDetalleControl_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalleControl]  WITH CHECK ADD  CONSTRAINT [FK_Camiones_FacturaDetalleControl_Detalle] FOREIGN KEY([FacturaDetalleID])
REFERENCES [dbo].[Camiones_FacturaDetalle] ([FacturaDetalleID])
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalleControl] CHECK CONSTRAINT [FK_Camiones_FacturaDetalleControl_Detalle]
GO
