USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_Items_Ins]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_Items_Ins]
    @CabeceraID              INT,
    @CodigoEAN               VARCHAR(50) = NULL,
    @Producto                VARCHAR(50) = NULL,
    @Descripcion             VARCHAR(500) = NULL,
    @UnidadMedida            VARCHAR(100) = NULL,
    @Cantidad                DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Camiones_Cabecera_Items
    (
        CabeceraID, CodigoEAN, Producto, Descripcion, UnidadMedida, Cantidad
    )
    VALUES
    (
        @CabeceraID, @CodigoEAN, @Producto, @Descripcion, @UnidadMedida, @Cantidad
    );
END

GO
