USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Sel]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Sel]
    @CamionID     INT = NULL,
    @NumeroCarga  VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.CamionID,
        c.FechaImportacion,
        c.ArchivoNombre,
        c.NroCarga,
        c.FechaCarga,
        c.NroCuenta,
        c.EmpresaTransporte,
        c.Chofer,
        c.Telefono,
        c.CantidadPallets,
        c.TemperaturaControl,
        c.FechaTemperatura,
        c.UsuarioTemperatura,
		c.estado
    FROM dbo.Camiones c
    WHERE (@CamionID IS NULL OR c.CamionID = @CamionID)
      AND (@NumeroCarga IS NULL OR c.NroCarga = @NumeroCarga)
	 
    ORDER BY c.CamionID DESC;
END


 
GO
