USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_FacturaDetalle_Control_Ins]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_FacturaDetalle_Control_Ins]
    @FacturaDetalleID       INT,
    @CantidadControlada     VARCHAR(50) = NULL,
    @Completo               BIT = 0,
    @Observacion            VARCHAR(300) = NULL,
    @Usuario                VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @FacturaID INT;

    BEGIN TRAN;

    SELECT @FacturaID = FacturaID
    FROM dbo.Camiones_FacturaDetalle
    WHERE FacturaDetalleID = @FacturaDetalleID;

    INSERT INTO dbo.Camiones_FacturaDetalleControl
    (
        FacturaDetalleID,
        CantidadControlada,
        Completo,
        Observacion,
        Usuario
    )
    VALUES
    (
        @FacturaDetalleID,
        @CantidadControlada,
        ISNULL(@Completo, 0),
        @Observacion,
        @Usuario
    );

    UPDATE dbo.Camiones_FacturaDetalle
    SET
        CantidadControlada   = @CantidadControlada,
        Completo             = ISNULL(@Completo, 0),
        Confirmado           = 1,
        EstadoControl        = CASE WHEN ISNULL(@Completo,0) = 1 THEN 'COMPLETO' ELSE 'PARCIAL' END,
        FechaConfirmacion    = GETDATE(),
        UsuarioConfirmacion  = @Usuario
    WHERE FacturaDetalleID = @FacturaDetalleID;

    EXEC dbo.usp_Camiones_Factura_RecalcularEstado @FacturaID = @FacturaID;

    COMMIT TRAN;
END

GO
