USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Items_Exportar]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Items_Exportar]
    @CamionID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.ItemID,
        i.CabeceraID,
		ISNULL(NULLIF(cc.Empresa, ''), c.EmpresaTransporte) AS ProveedorNombre,
        ISNULL(NULLIF(cc.NroFactura, ''), '(Sin factura)') AS NumeroFactura,
        c.FechaImportacion AS FechaFactura,
		cc.NroRemito,
		cc.OrdenCompra,
        i.CodigoEAN,
        i.Producto AS Articulo,
        i.Descripcion,
        i.UnidadMedida,
        i.Cantidad,
		i.ItemID AS FacturaDetalleID,
        CAST(i.Cantidad AS VARCHAR(50)) + CASE WHEN ISNULL(i.UnidadMedida,'')='' THEN '' ELSE ' ' + i.UnidadMedida END AS CantidadTexto,
		ic.Observacion,
		ic.CantidadControlada,
		CASE WHEN ISNULL(ic.Completo, 0) = 1 THEN 'SI' ELSE 'NO' END AS Completo,
		c.Chofer,
		c.NroCarga
    FROM dbo.Camiones_Cabecera_Items i
	
	INNER JOIN dbo.Camiones_Cabecera cc ON cc.CabeceraID=i.CabeceraID

	INNER JOIN dbo.Camiones c ON c.CamionID = cc.CamionID


    LEFT JOIN dbo.Camiones_Cabecera_Items_Control ic
        ON i.ItemID = ic.ItemID
    WHERE c.CamionID = @CamionID
 
    ORDER BY i.ItemID;
END



GO
