USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_Control_Sel]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_Control_Sel]
    @CabeceraID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ch.CabeceraID,
        c.CamionID,
        c.FechaImportacion AS FechaFactura,
        c.NroCarga AS NumeroCarga,
        c.FechaCarga,
        c.NroCuenta,
        c.EmpresaTransporte,
        c.Chofer,
        c.Telefono,
        c.CantidadPallets,
        c.TemperaturaControl,
        ISNULL(NULLIF(ch.Empresa, ''), c.EmpresaTransporte) AS ProveedorNombre,
        ISNULL(NULLIF(ch.NroFactura, ''), '(Sin factura)') AS NumeroFactura,
        ch.NroRemito,
        ch.OrdenCompra,
        CASE 
            WHEN EXISTS (
                SELECT 1
                FROM dbo.Camiones_Cabecera_Items i
                LEFT JOIN dbo.Camiones_Cabecera_Items_Control ic
                    ON i.ItemID = ic.ItemID
                WHERE i.CabeceraID = ch.CabeceraID
                  AND ic.ItemID IS NULL
            ) THEN 'CARGADA'
            ELSE 'CERRADA'
        END AS Estado
    FROM dbo.Camiones_Cabecera ch
    INNER JOIN dbo.Camiones c
        ON ch.CamionID = c.CamionID
    WHERE ch.CabeceraID = @CabeceraID;
END

GO
