USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones](
	[CamionID] [int] IDENTITY(1,1) NOT NULL,
	[FechaImportacion] [datetime] NOT NULL,
	[UsuarioImportacion] [varchar](100) NULL,
	[ArchivoNombre] [varchar](260) NULL,
	[NroCarga] [varchar](50) NULL,
	[FechaCarga] [varchar](50) NULL,
	[NroCuenta] [varchar](50) NULL,
	[EmpresaTransporte] [varchar](200) NULL,
	[Chofer] [varchar](200) NULL,
	[Telefono] [varchar](100) NULL,
	[CantidadPallets] [varchar](50) NULL,
	[CabeceraLinea01] [varchar](500) NULL,
	[CabeceraLinea02] [varchar](500) NULL,
	[CabeceraLinea03] [varchar](500) NULL,
	[CabeceraLinea04] [varchar](500) NULL,
	[CabeceraLinea05] [varchar](500) NULL,
	[CabeceraLinea06] [varchar](500) NULL,
	[CabeceraLinea07] [varchar](500) NULL,
	[CabeceraLinea08] [varchar](500) NULL,
	[CabeceraLinea09] [varchar](500) NULL,
	[CabeceraLinea10] [varchar](500) NULL,
	[CabeceraLinea11] [varchar](500) NULL,
	[CabeceraLinea12] [varchar](500) NULL,
	[CabeceraLinea13] [varchar](500) NULL,
	[CabeceraLinea14] [varchar](500) NULL,
	[CabeceraLinea15] [varchar](500) NULL,
	[CabeceraLinea16] [varchar](500) NULL,
	[CabeceraLinea17] [varchar](500) NULL,
	[TemperaturaControl] [decimal](10, 2) NULL,
	[FechaTemperatura] [datetime] NULL,
	[UsuarioTemperatura] [varchar](100) NULL,
	[Estado] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[FechaCierre] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CamionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones] ADD  DEFAULT (getdate()) FOR [FechaImportacion]
GO
ALTER TABLE [dbo].[Camiones] ADD  DEFAULT ((0)) FOR [Estado]
GO
