USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Factura_Cabecera_Sel]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Factura_Cabecera_Sel]
    @FacturaID        INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        FacturaID,
        ArchivoNombre,
        ArchivoRuta,
        FechaCarga,
        UsuarioCarga,
        ProveedorNombre,
        ProveedorCUIT,
        TipoComprobante,
        PuntoVenta,
        NumeroComprobante,
        NumeroFactura,
        FechaFactura,
        ClienteNombre,
        ClienteCUIT,
        DomicilioEntrega,
        CondicionPago,
        OrdenCompra,
        NumeroRemito,
        NumeroCarga,
        NroPedido,
        CAEA,
        Subtotal,
        IVA,
        PercepcionIVA,
        PercepcionIIBB,
        TotalFactura,
        TotalBU,
        TotalKG,
        Estado,
        ObservacionImportacion
    FROM dbo.Camiones_Factura
    WHERE FacturaID = @FacturaID;
END

GO
