USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Factura_Existe]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Factura_Existe]
    @ProveedorCUIT      VARCHAR(20),
    @NumeroFactura      VARCHAR(30),
    @ArchivoHash        VARCHAR(64) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        FacturaID,
        ArchivoNombre,
        ProveedorCUIT,
        NumeroFactura
    FROM dbo.Camiones_Factura
    WHERE
        (ISNULL(ProveedorCUIT, '') = ISNULL(@ProveedorCUIT, '')
         AND ISNULL(NumeroFactura, '') = ISNULL(@NumeroFactura, ''))
        OR
        (@ArchivoHash IS NOT NULL AND ArchivoHash = @ArchivoHash)
    ORDER BY FacturaID DESC;
END

GO
