USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_Items_Pendientes_Sel]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_Items_Pendientes_Sel]
    @CabeceraID INT,
	@Articulo VARCHAR(50) = ''
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.ItemID,
        i.CabeceraID,
        i.CodigoEAN,
        i.Producto AS Articulo,
        i.Descripcion,
        i.UnidadMedida,
        i.Cantidad,
        CAST(i.Cantidad AS VARCHAR(50)) + CASE WHEN ISNULL(i.UnidadMedida,'')='' THEN '' ELSE ' ' + i.UnidadMedida END AS CantidadTexto
    FROM dbo.Camiones_Cabecera_Items i
    LEFT JOIN dbo.Camiones_Cabecera_Items_Control ic
        ON i.ItemID = ic.ItemID
    WHERE i.CabeceraID = @CabeceraID
	  AND ( @Articulo  = '' OR i.Producto like '%'+ rtrim(ltrim(@Articulo))  +'%' )
      AND ic.ItemID IS NULL
    ORDER BY i.ItemID;
END

GO
