USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_FacturaDetalleControl_Sel]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_FacturaDetalleControl_Sel]
    @FacturaDetalleID     INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ControlID,
        FacturaDetalleID,
        CantidadControlada,
        Completo,
        Observacion,
        Fecha,
        Usuario
    FROM dbo.Camiones_FacturaDetalleControl
    WHERE FacturaDetalleID = @FacturaDetalleID
    ORDER BY Fecha DESC, ControlID DESC;
END

GO
