USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones_Cabecera_Items]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones_Cabecera_Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[CabeceraID] [int] NOT NULL,
	[CodigoEAN] [varchar](50) NULL,
	[Producto] [varchar](50) NULL,
	[Descripcion] [varchar](500) NULL,
	[UnidadMedida] [varchar](100) NULL,
	[Cantidad] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones_Cabecera_Items]  WITH CHECK ADD  CONSTRAINT [FK_Camiones_Cabecera_Items_Cabecera] FOREIGN KEY([CabeceraID])
REFERENCES [dbo].[Camiones_Cabecera] ([CabeceraID])
GO
ALTER TABLE [dbo].[Camiones_Cabecera_Items] CHECK CONSTRAINT [FK_Camiones_Cabecera_Items_Cabecera]
GO
