USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Factura_Importacion_Finalizar]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Factura_Importacion_Finalizar]
    @FacturaID        INT
AS
BEGIN
    SET NOCOUNT ON;

    EXEC dbo.usp_Camiones_Factura_RecalcularEstado @FacturaID = @FacturaID;

    SELECT
        F.FacturaID,
        F.ArchivoNombre,
        F.NumeroFactura,
        F.ProveedorNombre,
        F.Estado,
        TotalItems = COUNT(D.FacturaDetalleID)
    FROM dbo.Camiones_Factura F
    LEFT JOIN dbo.Camiones_FacturaDetalle D
        ON F.FacturaID = D.FacturaID
    WHERE F.FacturaID = @FacturaID
    GROUP BY
        F.FacturaID, F.ArchivoNombre, F.NumeroFactura, F.ProveedorNombre, F.Estado;
END

GO
