USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_ImportacionLog_Ins]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_ImportacionLog_Ins]
    @ArchivoNombre        VARCHAR(255) = NULL,
    @Usuario              VARCHAR(100) = NULL,
    @Nivel                VARCHAR(20),
    @Mensaje              VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Camiones_ImportacionLog
    (
        ArchivoNombre,
        Usuario,
        Nivel,
        Mensaje
    )
    VALUES
    (
        @ArchivoNombre,
        @Usuario,
        @Nivel,
        @Mensaje
    );
END

GO
