USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_Sel]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_Sel]
    @CamionID     INT,
    @Proveedor    VARCHAR(200) = NULL,
    @FechaDesde   DATE = NULL,
    @FechaHasta   DATE = NULL,
    @Estado       VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH X AS
    (
        SELECT
            ch.CabeceraID,
            c.CamionID,
            c.FechaImportacion AS FechaFactura,
            ISNULL(NULLIF(ch.Empresa, ''), c.EmpresaTransporte) AS ProveedorNombre,
            ISNULL(NULLIF(ch.NroFactura, ''), '(Sin factura)') AS NumeroFactura,
            ch.NroRemito,
            ch.OrdenCompra,
            c.NroCarga AS NumeroCarga,
            COUNT(i.ItemID) AS TotalItems,
            SUM(CASE WHEN ic.ItemID IS NULL THEN 1 ELSE 0 END) AS Pendientes,
            SUM(CASE WHEN ic.ItemID IS NOT NULL THEN 1 ELSE 0 END) AS Confirmados,
            ISNULL(ch.TotalBultosEmpresa, 0) AS TotalBultosEmpresa
        FROM dbo.Camiones c
        INNER JOIN dbo.Camiones_Cabecera ch
            ON c.CamionID = ch.CamionID
        LEFT JOIN dbo.Camiones_Cabecera_Items i
            ON ch.CabeceraID = i.CabeceraID
        LEFT JOIN dbo.Camiones_Cabecera_Items_Control ic
            ON i.ItemID = ic.ItemID
        WHERE c.CamionID = @CamionID
          AND (@Proveedor IS NULL OR ISNULL(ch.Empresa, '') LIKE '%' + @Proveedor + '%')
          AND (@FechaDesde IS NULL OR CONVERT(DATE, c.FechaImportacion) >= @FechaDesde)
          AND (@FechaHasta IS NULL OR CONVERT(DATE, c.FechaImportacion) <= @FechaHasta)
        GROUP BY
            ch.CabeceraID,
            c.CamionID,
            c.FechaImportacion,
            c.EmpresaTransporte,
            ch.Empresa,
            ch.NroFactura,
            ch.NroRemito,
            ch.OrdenCompra,
            c.NroCarga,
            ch.TotalBultosEmpresa
    )
    SELECT
        CabeceraID,
        CamionID,
        FechaFactura,
        ProveedorNombre,
        NumeroFactura,
        NroRemito,
        OrdenCompra,
        NumeroCarga,
        TotalItems,
        Pendientes,
        Confirmados,
        CASE WHEN Pendientes > 0 THEN 'CARGADA' ELSE 'CERRADA' END AS Estado,
        TotalBultosEmpresa
    FROM X
    WHERE (@Estado IS NULL OR @Estado = '' OR 
          (CASE WHEN Pendientes > 0 THEN 'CARGADA' ELSE 'CERRADA' END) = @Estado)
    ORDER BY CabeceraID DESC;
END

GO
