USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Facturas_Sel]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Facturas_Sel]
    @Estado          VARCHAR(20) = NULL,
    @FechaDesde      DATE = NULL,
    @FechaHasta      DATE = NULL,
    @Proveedor       VARCHAR(200) = NULL,
    @NumeroCarga     VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        F.FacturaID,
        F.FechaFactura,
        F.ProveedorNombre,
        F.NumeroFactura,
        F.NumeroCarga,
        F.ArchivoNombre,
        F.TotalFactura,
        F.Estado,
        TotalItems      = COUNT(D.FacturaDetalleID),
        Pendientes      = SUM(CASE WHEN ISNULL(D.Confirmado, 0) = 0 THEN 1 ELSE 0 END),
        Confirmados     = SUM(CASE WHEN ISNULL(D.Confirmado, 0) = 1 THEN 1 ELSE 0 END)
    FROM dbo.Camiones_Factura F
    LEFT JOIN dbo.Camiones_FacturaDetalle D
        ON F.FacturaID = D.FacturaID
    WHERE
        (@Estado IS NULL OR F.Estado = @Estado)
        AND (@FechaDesde IS NULL OR F.FechaFactura >= @FechaDesde)
        AND (@FechaHasta IS NULL OR F.FechaFactura <= @FechaHasta)
        AND (@Proveedor IS NULL OR F.ProveedorNombre LIKE '%' + @Proveedor + '%')
        AND (@NumeroCarga IS NULL OR F.NumeroCarga = @NumeroCarga)
    GROUP BY
        F.FacturaID, F.FechaFactura, F.ProveedorNombre, F.NumeroFactura,
        F.NumeroCarga, F.ArchivoNombre, F.TotalFactura, F.Estado
    ORDER BY
        F.FechaFactura DESC, F.FacturaID DESC;
END

GO
