USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Temperatura_Upd]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Temperatura_Upd]
    @CamionID             INT,
    @TemperaturaControl   DECIMAL(10,2),
    @UsuarioTemperatura   VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Camiones
       SET TemperaturaControl = @TemperaturaControl,
           FechaTemperatura   = GETDATE(),
           UsuarioTemperatura = @UsuarioTemperatura,
		   Estado  = 1 
     WHERE CamionID = @CamionID;

    SELECT @@ROWCOUNT AS FilasAfectadas;
END

GO
