USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones_FacturaDetalle]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones_FacturaDetalle](
	[FacturaDetalleID] [int] IDENTITY(1,1) NOT NULL,
	[FacturaID] [int] NOT NULL,
	[Articulo] [varchar](50) NOT NULL,
	[CantidadTexto] [varchar](50) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[Importe] [decimal](18, 2) NULL,
	[EstadoControl] [varchar](20) NOT NULL,
	[Confirmado] [bit] NOT NULL,
	[CantidadControlada] [varchar](50) NULL,
	[Completo] [bit] NOT NULL,
	[FechaConfirmacion] [datetime] NULL,
	[UsuarioConfirmacion] [varchar](100) NULL,
 CONSTRAINT [PK_Camiones_FacturaDetalle] PRIMARY KEY CLUSTERED 
(
	[FacturaDetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalle] ADD  CONSTRAINT [DF_Camiones_FacturaDetalle_Estado]  DEFAULT ('PENDIENTE') FOR [EstadoControl]
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalle] ADD  CONSTRAINT [DF_Camiones_FacturaDetalle_Confirmado]  DEFAULT ((0)) FOR [Confirmado]
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalle] ADD  CONSTRAINT [DF_Camiones_FacturaDetalle_Completo]  DEFAULT ((0)) FOR [Completo]
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_Camiones_FacturaDetalle_Factura] FOREIGN KEY([FacturaID])
REFERENCES [dbo].[Camiones_Factura] ([FacturaID])
GO
ALTER TABLE [dbo].[Camiones_FacturaDetalle] CHECK CONSTRAINT [FK_Camiones_FacturaDetalle_Factura]
GO
