USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Factura_Ins]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Factura_Ins]
    @ArchivoNombre          VARCHAR(255),
    @ArchivoRuta            VARCHAR(500) = NULL,
    @ArchivoHash            VARCHAR(64) = NULL,
    @UsuarioCarga           VARCHAR(100) = NULL,

    @ProveedorNombre        VARCHAR(200) = NULL,
    @ProveedorCUIT          VARCHAR(20) = NULL,

    @TipoComprobante        VARCHAR(10) = NULL,
    @PuntoVenta             VARCHAR(10) = NULL,
    @NumeroComprobante      VARCHAR(20) = NULL,
    @NumeroFactura          VARCHAR(30) = NULL,

    @FechaFactura           DATE = NULL,

    @ClienteNombre          VARCHAR(200) = NULL,
    @ClienteCUIT            VARCHAR(20) = NULL,
    @DomicilioEntrega       VARCHAR(300) = NULL,

    @CondicionPago          VARCHAR(100) = NULL,
    @OrdenCompra            VARCHAR(50) = NULL,
    @NumeroRemito           VARCHAR(50) = NULL,
    @NumeroCarga            VARCHAR(50) = NULL,
    @NroPedido              VARCHAR(50) = NULL,
    @CAEA                   VARCHAR(50) = NULL,

    @Subtotal               DECIMAL(18,2) = NULL,
    @IVA                    DECIMAL(18,2) = NULL,
    @PercepcionIVA          DECIMAL(18,2) = NULL,
    @PercepcionIIBB         DECIMAL(18,2) = NULL,
    @TotalFactura           DECIMAL(18,2) = NULL,
    @TotalBU                DECIMAL(18,3) = NULL,
    @TotalKG                DECIMAL(18,3) = NULL,

    @ObservacionImportacion VARCHAR(500) = NULL,
    @FacturaID              INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Camiones_Factura
    (
        ArchivoNombre, ArchivoRuta, ArchivoHash, UsuarioCarga,
        ProveedorNombre, ProveedorCUIT,
        TipoComprobante, PuntoVenta, NumeroComprobante, NumeroFactura,
        FechaFactura,
        ClienteNombre, ClienteCUIT, DomicilioEntrega,
        CondicionPago, OrdenCompra, NumeroRemito, NumeroCarga, NroPedido, CAEA,
        Subtotal, IVA, PercepcionIVA, PercepcionIIBB, TotalFactura, TotalBU, TotalKG,
        ObservacionImportacion
    )
    VALUES
    (
        @ArchivoNombre, @ArchivoRuta, @ArchivoHash, @UsuarioCarga,
        @ProveedorNombre, @ProveedorCUIT,
        @TipoComprobante, @PuntoVenta, @NumeroComprobante, @NumeroFactura,
        @FechaFactura,
        @ClienteNombre, @ClienteCUIT, @DomicilioEntrega,
        @CondicionPago, @OrdenCompra, @NumeroRemito, @NumeroCarga, @NroPedido, @CAEA,
        @Subtotal, @IVA, @PercepcionIVA, @PercepcionIIBB, @TotalFactura, @TotalBU, @TotalKG,
        @ObservacionImportacion
    );

    SET @FacturaID = SCOPE_IDENTITY();

    SELECT @FacturaID AS FacturaID;
END

GO
