USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_BuscarArticulo_Sel]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_BuscarArticulo_Sel]
    @CamionID   INT,
    @Articulo   VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SET @Articulo = LTRIM(RTRIM(ISNULL(@Articulo, '')));

    ;WITH FacturasFiltradas AS
    (
        SELECT DISTINCT
            cc.CabeceraID
        FROM dbo.Camiones_Cabecera cc
        INNER JOIN dbo.Camiones_Cabecera_Items ci
            ON ci.CabeceraID = cc.CabeceraID
        WHERE
            cc.CamionID = @CamionID
            AND ISNULL(cc.Estado, '') <> 'CERRADA'
            AND (
                    LTRIM(RTRIM(ISNULL(ci.Producto, '')))  LIKE '%' + @Articulo + '%'
                 OR LTRIM(RTRIM(ISNULL(ci.CodigoEAN, ''))) LIKE '%' + @Articulo + '%'
                )
    ),
    Totales AS
    (
        SELECT
            ci.CabeceraID,
            COUNT(*) AS TotalItems
        FROM dbo.Camiones_Cabecera_Items ci
        GROUP BY ci.CabeceraID
    )
    SELECT
        cc.CabeceraID,
        cc.FechaAlta                         AS FechaFactura,
        cc.Empresa                          AS ProveedorNombre,
        cc.NroFactura                       AS NumeroFactura,
        cc.NroRemito                        AS NroRemito,
        cc.OrdenCompra                      AS OrdenCompra,
        c.NroCarga                          AS NumeroCarga,
        ISNULL(t.TotalItems, 0)             AS TotalItems,
        ISNULL(t.TotalItems, 0)             AS Pendientes,
        0                                   AS Confirmados,
        cc.Estado                           AS Estado
    FROM FacturasFiltradas f
    INNER JOIN dbo.Camiones_Cabecera cc
        ON cc.CabeceraID = f.CabeceraID
    INNER JOIN dbo.Camiones c
        ON c.CamionID = cc.CamionID
    LEFT JOIN Totales t
        ON t.CabeceraID = cc.CabeceraID
    ORDER BY
        cc.FechaAlta DESC,
        cc.CabeceraID DESC;
END

GO
