USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_Items_Exportar_Sel]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_Items_Exportar_Sel]
    @CabeceraID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ch.CabeceraID,
        c.CamionID,
        c.NroCarga,
        c.FechaImportacion,
        ISNULL(NULLIF(ch.Empresa, ''), c.EmpresaTransporte) AS ProveedorNombre,
        ISNULL(NULLIF(ch.NroFactura, ''), '(Sin factura)') AS NumeroFactura,
        ch.NroRemito,
        ch.OrdenCompra,

        i.ItemID,
        i.CodigoEAN,
        i.Producto AS Articulo,
        i.Descripcion,
        i.UnidadMedida,
        i.Cantidad AS CantidadFactura,

        ic.CantidadControlada,
        CASE WHEN ISNULL(ic.Completo, 0) = 1 THEN 'SI' ELSE 'NO' END AS Completo,
        ic.Observacion,
        ic.Usuario,
        ic.FechaControl,
		c.TemperaturaControl,
		c.FechaTemperatura,
		c.UsuarioTemperatura

    FROM dbo.Camiones_Cabecera ch
    INNER JOIN dbo.Camiones c
        ON ch.CamionID = c.CamionID
    INNER JOIN dbo.Camiones_Cabecera_Items i
        ON ch.CabeceraID = i.CabeceraID
    LEFT JOIN dbo.Camiones_Cabecera_Items_Control ic
        ON i.ItemID = ic.ItemID
    WHERE ch.CabeceraID = @CabeceraID
    ORDER BY i.ItemID;
END

GO
