USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones_Cabecera_Items_Control]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones_Cabecera_Items_Control](
	[ControlID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[CantidadControlada] [varchar](100) NULL,
	[Completo] [bit] NOT NULL,
	[Observacion] [varchar](300) NULL,
	[Usuario] [varchar](100) NULL,
	[FechaControl] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones_Cabecera_Items_Control] ADD  CONSTRAINT [DF_Camiones_Items_Control_Completo]  DEFAULT ((0)) FOR [Completo]
GO
ALTER TABLE [dbo].[Camiones_Cabecera_Items_Control] ADD  CONSTRAINT [DF_Camiones_Items_Control_Fecha]  DEFAULT (getdate()) FOR [FechaControl]
GO
