USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones_ImportacionLog]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones_ImportacionLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ArchivoNombre] [varchar](255) NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario] [varchar](100) NULL,
	[Nivel] [varchar](20) NOT NULL,
	[Mensaje] [varchar](max) NULL,
 CONSTRAINT [PK_Camiones_ImportacionLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones_ImportacionLog] ADD  CONSTRAINT [DF_Camiones_ImportacionLog_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
