USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Factura_RecalcularEstado]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Factura_RecalcularEstado]
    @FacturaID        INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Total INT, @Confirmados INT, @NuevoEstado VARCHAR(20);

    SELECT
        @Total = COUNT(*),
        @Confirmados = SUM(CASE WHEN ISNULL(Confirmado,0) = 1 THEN 1 ELSE 0 END)
    FROM dbo.Camiones_FacturaDetalle
    WHERE FacturaID = @FacturaID;

    IF ISNULL(@Total, 0) = 0
        SET @NuevoEstado = 'CARGADA';
    ELSE IF ISNULL(@Confirmados, 0) = 0
        SET @NuevoEstado = 'CARGADA';
    ELSE IF @Confirmados < @Total
        SET @NuevoEstado = 'EN_CONTROL';
    ELSE
        SET @NuevoEstado = 'CERRADA';

    UPDATE dbo.Camiones_Factura
    SET Estado = @NuevoEstado
    WHERE FacturaID = @FacturaID;

    SELECT Estado = @NuevoEstado;
END

GO
