USE [Logistica]
GO
/****** Object:  Table [dbo].[Camiones_Factura]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Camiones_Factura](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[ArchivoNombre] [varchar](255) NOT NULL,
	[ArchivoRuta] [varchar](500) NULL,
	[ArchivoHash] [varchar](64) NULL,
	[FechaCarga] [datetime] NOT NULL,
	[UsuarioCarga] [varchar](100) NULL,
	[ProveedorNombre] [varchar](200) NULL,
	[ProveedorCUIT] [varchar](20) NULL,
	[TipoComprobante] [varchar](10) NULL,
	[PuntoVenta] [varchar](10) NULL,
	[NumeroComprobante] [varchar](20) NULL,
	[NumeroFactura] [varchar](30) NULL,
	[FechaFactura] [date] NULL,
	[ClienteNombre] [varchar](200) NULL,
	[ClienteCUIT] [varchar](20) NULL,
	[DomicilioEntrega] [varchar](300) NULL,
	[CondicionPago] [varchar](100) NULL,
	[OrdenCompra] [varchar](50) NULL,
	[NumeroRemito] [varchar](50) NULL,
	[NumeroCarga] [varchar](50) NULL,
	[NroPedido] [varchar](50) NULL,
	[CAEA] [varchar](50) NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[IVA] [decimal](18, 2) NULL,
	[PercepcionIVA] [decimal](18, 2) NULL,
	[PercepcionIIBB] [decimal](18, 2) NULL,
	[TotalFactura] [decimal](18, 2) NULL,
	[TotalBU] [decimal](18, 3) NULL,
	[TotalKG] [decimal](18, 3) NULL,
	[Estado] [varchar](20) NOT NULL,
	[ObservacionImportacion] [varchar](500) NULL,
 CONSTRAINT [PK_Camiones_Factura] PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Camiones_Factura] ADD  CONSTRAINT [DF_Camiones_Factura_FechaCarga]  DEFAULT (getdate()) FOR [FechaCarga]
GO
ALTER TABLE [dbo].[Camiones_Factura] ADD  CONSTRAINT [DF_Camiones_Factura_Estado]  DEFAULT ('CARGADA') FOR [Estado]
GO
