USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Cabecera_Item_Control_Ins]    Script Date: 30/04/2026 12:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_Cabecera_Item_Control_Ins]
    @ItemID               INT,
    @CantidadControlada   VARCHAR(100) = NULL,
    @Completo             BIT = 0,
    @Observacion          VARCHAR(300) = NULL,
    @Usuario              VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Camiones_Cabecera_Items WHERE ItemID = @ItemID)
    BEGIN
        RAISERROR('El ItemID indicado no existe.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Camiones_Cabecera_Items_Control WHERE ItemID = @ItemID)
    BEGIN
        RAISERROR('El item ya fue controlado.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Camiones_Cabecera_Items_Control
    (
        ItemID,
        CantidadControlada,
        Completo,
        Observacion,
        Usuario
    )
    VALUES
    (
        @ItemID,
        @CantidadControlada,
        @Completo,
        @Observacion,
        @Usuario
    );

    SELECT SCOPE_IDENTITY() AS ControlID;
END

GO
