USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_FacturaDetalle_Ins]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_FacturaDetalle_Ins]
    @FacturaID            INT,
    @Articulo             VARCHAR(50),
    @CantidadTexto        VARCHAR(50),
    @Descripcion          VARCHAR(300) = NULL,
    @PrecioUnitario       DECIMAL(18,2) = NULL,
    @Importe              DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Camiones_FacturaDetalle
    (
        FacturaID,
        Articulo,
        CantidadTexto,
        Descripcion,
        PrecioUnitario,
        Importe
    )
	SELECT 
        @FacturaID,
        @Articulo,
        @CantidadTexto,
        --RTRIM(LTRIM(REPLACE(@Descripcion,'.',''))),
		RTRIM(LTRIM(@Descripcion)),
        @PrecioUnitario,
        @Importe
	WHERE NOT EXISTS (SELECT  NULL FROM dbo.Camiones_FacturaDetalle D WHERE D.FacturaID = @FacturaID AND D.Articulo = @Articulo )

END

GO
