USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_Ins]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Camiones_Ins]
    @UsuarioImportacion      VARCHAR(100) = NULL,
    @ArchivoNombre           VARCHAR(260) = NULL,
    @NroCarga                VARCHAR(50) = NULL,
    @FechaCarga              VARCHAR(50) = NULL,
    @NroCuenta               VARCHAR(50) = NULL,
    @EmpresaTransporte       VARCHAR(200) = NULL,
    @Chofer                  VARCHAR(200) = NULL,
    @Telefono                VARCHAR(100) = NULL,
    @CantidadPallets         VARCHAR(50) = NULL,
    @CabeceraLinea01         VARCHAR(500) = NULL,
    @CabeceraLinea02         VARCHAR(500) = NULL,
    @CabeceraLinea03         VARCHAR(500) = NULL,
    @CabeceraLinea04         VARCHAR(500) = NULL,
    @CabeceraLinea05         VARCHAR(500) = NULL,
    @CabeceraLinea06         VARCHAR(500) = NULL,
    @CabeceraLinea07         VARCHAR(500) = NULL,
    @CabeceraLinea08         VARCHAR(500) = NULL,
    @CabeceraLinea09         VARCHAR(500) = NULL,
    @CabeceraLinea10         VARCHAR(500) = NULL,
    @CabeceraLinea11         VARCHAR(500) = NULL,
    @CabeceraLinea12         VARCHAR(500) = NULL,
    @CabeceraLinea13         VARCHAR(500) = NULL,
    @CabeceraLinea14         VARCHAR(500) = NULL,
    @CabeceraLinea15         VARCHAR(500) = NULL,
    @CabeceraLinea16         VARCHAR(500) = NULL,
    @CabeceraLinea17         VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Camiones
    (
        UsuarioImportacion, ArchivoNombre,
        NroCarga, FechaCarga, NroCuenta, EmpresaTransporte, Chofer, Telefono, CantidadPallets,
        CabeceraLinea01, CabeceraLinea02, CabeceraLinea03, CabeceraLinea04, CabeceraLinea05,
        CabeceraLinea06, CabeceraLinea07, CabeceraLinea08, CabeceraLinea09, CabeceraLinea10,
        CabeceraLinea11, CabeceraLinea12, CabeceraLinea13, CabeceraLinea14, CabeceraLinea15,
        CabeceraLinea16, CabeceraLinea17
    )
    VALUES
    (
        @UsuarioImportacion, @ArchivoNombre,
        @NroCarga, @FechaCarga, @NroCuenta, @EmpresaTransporte, @Chofer, @Telefono, @CantidadPallets,
        @CabeceraLinea01, @CabeceraLinea02, @CabeceraLinea03, @CabeceraLinea04, @CabeceraLinea05,
        @CabeceraLinea06, @CabeceraLinea07, @CabeceraLinea08, @CabeceraLinea09, @CabeceraLinea10,
        @CabeceraLinea11, @CabeceraLinea12, @CabeceraLinea13, @CabeceraLinea14, @CabeceraLinea15,
        @CabeceraLinea16, @CabeceraLinea17
    );

    SELECT SCOPE_IDENTITY() AS CamionID;
END

GO
