USE [Logistica]
GO
/****** Object:  StoredProcedure [dbo].[usp_Camiones_FacturaDetalle_Sel]    Script Date: 30/04/2026 12:41:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Camiones_FacturaDetalle_Sel]
    @FacturaID        INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        FacturaDetalleID,
        FacturaID,
        Articulo,
        CantidadTexto,
        Descripcion,
        PrecioUnitario,
        Importe,
        EstadoControl,
        Confirmado,
        CantidadControlada,
        Completo,
        FechaConfirmacion,
        UsuarioConfirmacion
    FROM dbo.Camiones_FacturaDetalle
    WHERE FacturaID = @FacturaID
    ORDER BY FacturaDetalleID;
END

GO
