USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_Comprobante_Sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cobranza].[Transportista_Comprobante_Sel]
(
    @HojaDeRutaID  INT,
    @ClienteID    INT
)
AS
BEGIN
    SET NOCOUNT ON;

	select * from cobranza.Transportista_Comprobantes WHERE HojaDeRutaID = @HojaDeRutaID and ClienteID= @ClienteID
END

GO
