USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_Comprobante_Del]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cobranza].[Transportista_Comprobante_Del]
    @ComprobanteID INT
AS
BEGIN
    SET NOCOUNT ON;

	IF EXISTS (
    SELECT 1
    FROM cobranza.Transportista_Comprobantes C
    JOIN dbo.Transportista_HojaDeRuta H
      ON H.HojaDeRutaID = C.HojaDeRutaID
    WHERE C.ComprobanteID = @ComprobanteID
      AND H.Estado = 3
)
BEGIN
    RAISERROR('La hoja de ruta está cerrada',16,1)
    RETURN
END


    DELETE FROM cobranza.Transportista_Comprobantes
    WHERE ComprobanteID = @ComprobanteID
END

GO
