USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso3]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso3]
@HojaDeRutaID INT,
@ClienteID INT,
@Cond VARCHAR(100) ='',
@DNI VARCHAR(50) = NULL,
@Observaciones NVARCHAR(1000) = NULL

AS
SET NOCOUNT ON 
BEGIN
  
	UPDATE dbo.Transportista_HojaDeRutaDatos SET 
		Estado = 1,
		ObservacionCC = @DNI,
		ObservacionReparto = @Observaciones,
		Motivo = NULL,
		MotivoID = NULL
	WHERE   HojaDeRutaID = @HojaDeRutaID
	AND ClienteID = @ClienteID
	AND (@cond=''  or FormaPago= @Cond)
END


GO
