USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[usp_Transportista_HojaDeRuta_Cliente_Detalle]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cobranza].[usp_Transportista_HojaDeRuta_Cliente_Detalle]
	@HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@Cond VARCHAR(20) = ''
AS
SET NOCOUNT ON 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

DECLARE @CantidadFacturas INT, @ImporteAPagar NUMERIC(18,2), @ClienteNombre VARCHAR(100)
SELECT @CantidadFacturas = COUNT(DISTINCT FB.FacturaID) 
FROM WhatsAppAPI.dbo.Factura_Cliente FB 
LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%' 
WHERE FB.HojaDeRutaID=@HojaDeRutaID 
and FB.ClienteID=@ClienteID 
AND (@Cond='' or FB.FormaPago=@Cond)

SELECT  
       b.[HojaDeRutaID]
      ,b.[ClienteID]
	  ,CONVERT(VARCHAR(10),b.[ClienteID]) + ' - ' + b.ClienteNombre AS ClienteNombre
      ,ISNULL(a.[ImporteTotalACobrar],0.00) [ImporteTotalACobrar]
      ,ISNULL(a.[ImporteTotalCobrado],0.00) [ImporteTotalCobrado]
      ,ISNULL(a.[Efectivo]			 ,0.00) [Efectivo]
      ,ISNULL(a.[Cheque]			 ,0.00) [Cheque]
      ,ISNULL(a.[Transferencia]		 ,0.00) [Transferencia]
      ,a.[FormaPago]
      ,b.[DateAdded]
	  ,		CASE 
			WHEN b.Estado = 0 THEN 'No iniciada' 
			WHEN b.Estado = 1 THEN 'Entregado' 
			--WHEN b.Estado = 3 THEN 'Entregado c/descuento'
			WHEN b.Estado IN  ( 2, 3) THEN  ISNULL((c.Motivo),'') 
		END AS EstadoEntrega
	  ,b.ObservacionCC
	  ,b.ObservacionReparto

	  ,@CantidadFacturas AS CantidadFacturas
  FROM dbo.Transportista_HojaDeRutaDatos b
  Left JOIN [Reparto].[cobranza].[Transportista_HojaDeRutaDatos] a on b.HojaDeRutaDatosID=a.HojaDeRutaDatosID and b.HojaDeRutaID=a.HojaDeRutaID
  LEFT JOIN dbo.Transportista_HojaDeRuta_MotivosRechazo c on c.MotivoID=b.MotivoID
  WHERE b.HojaDeRutaID=@HojaDeRutaID
  AND b.ClienteID=@ClienteID
  AND b.FormaPago= @Cond
GO
