USE [Reparto]
GO
/****** Object:  Table [cobranza].[Transportista_HojaDeRutaDatos_Factura_Detalle]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [cobranza].[Transportista_HojaDeRutaDatos_Factura_Detalle](
	[Id] [int] NOT NULL,
	[FacturaID] [int] NOT NULL,
	[Articulo] [varchar](20) NULL,
	[Cantidad] [int] NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Dto] [numeric](20, 2) NULL,
	[PrecioUnitario] [numeric](20, 4) NULL,
	[PercepIIBB] [numeric](20, 4) NULL,
 CONSTRAINT [PK_cobranzaTransportista_HojaDeRutaDatos_Factura_Detalle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
