USE [Reparto]
GO
/****** Object:  Table [cobranza].[Transportista_HojaDeRutaDatos_Factura_Cabecera]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cobranza].[Transportista_HojaDeRutaDatos_Factura_Cabecera](
	[HojaDeRutaDatosID] [int] NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FacturaID] [int] NOT NULL,
	[Subtotal] [numeric](20, 4) NULL,
	[IVA] [numeric](20, 4) NULL,
	[PercepIVA] [numeric](20, 4) NULL,
	[PercepIIBB] [numeric](20, 4) NULL,
	[Total] [numeric](20, 4) NULL,
 CONSTRAINT [PK_CobranzaTransportista_HojaDeRutaDatos_Factura_Cabecera] PRIMARY KEY CLUSTERED 
(
	[HojaDeRutaDatosID] ASC,
	[HojaDeRutaID] ASC,
	[ClienteID] ASC,
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
