USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso1]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso1]
    @HojaDeRutaID INT,
    @ClienteID INT, 
    @PagosXml XML,
    @DetallesXml XML,
	@Cond VARCHAR(100) ='',
	@Latitud DECIMAL(10,6),
	@Longitud DECIMAL(10,6)

AS
BEGIN
SET NOCOUNT ON;

	DECLARE @Efecitvo NUMERIC(20,3), @Cheque NUMERIC(20,3), @Transferencia NUMERIC(20,3) 

	IF NOT EXISTS (SELECT NULL FROM [cobranza].[Transportista_HojaDeRutaDatos] WHERE HojaDeRutaID = @HojaDeRutaID and ClienteID= @ClienteID AND FormaPago=@Cond)
	BEGIN 
		INSERT INTO [cobranza].[Transportista_HojaDeRutaDatos] (HojaDeRutaDatosID,HojaDeRutaID,ClienteID,FormaPago,[ImporteTotalACobrar],[ImporteTotalCobrado],Efectivo,Cheque,Transferencia)
		SELECT HojaDeRutaDatosID,HojaDeRutaID,ClienteID,HDR.FormaPago,HDR.ImporteAPagar,NULL,NULL,NULL,NULL
		FROM dbo.Transportista_HojaDeRutaDatos HDR
		WHERE HojaDeRutaID = @HojaDeRutaID
		AND HDR.ClienteID= @ClienteID
		AND (@cond='' or FormaPago=@Cond)

	END
	ELSE
	BEGIN
		-- REINICIO
		UPDATE dbo.[Transportista_HojaDeRutaDatos] SET Motivo=NULL, MotivoID=NULL,ObservacionCC=NULL, DateAdded=GETDATE()
		WHERE HojaDeRutaID = @HojaDeRutaID
		AND ClienteID= @ClienteID
		AND (@cond='' or FormaPago=@Cond)


		UPDATE [cobranza].[Transportista_HojaDeRutaDatos] SET ImporteTotalCobrado=NULL,Efectivo=NULL,Cheque=NULL,Transferencia=NULL, DateAdded=GETDATE()
		FROM [cobranza].[Transportista_HojaDeRutaDatos] UPD
		INNER JOIN dbo.Transportista_HojaDeRutaDatos HDR ON HDR.HojaDeRutaDatosID=UPD.HojaDeRutaDatosID
		WHERE HDR.HojaDeRutaID = @HojaDeRutaID
		AND HDR.ClienteID= @ClienteID
		AND (@cond='' or HDR.FormaPago=@Cond)

	END


	SELECT Fd.id, FC.FacturaID, FD.Articulo,FD.Cantidad, FD.Descripcion, FD.Dto, FD.PrecioUnitario,
		--PrecioUnitario*0.21  AS ImporteConIva, 
		PrecioUnitario*(PercepIIBB/Subtotal) AS IIBB,
		--Importe*(PercepIIBB/Subtotal) AS PercepcionIIBB, 
		--Total = CAST(ROUND(Importe*1.21+ Importe*(PercepIIBB/Subtotal),2) AS NUMERIC(18,2)),
		RowID = ROW_NUMBER() OVER (ORDER BY FC.Id,FD.Id)
	INTO #FacturaDetalle
	FROM WhatsAppAPI.dbo.FacturaCabecera FC 
	INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
	INNER JOIN dbo.Transportista_HojaDeRutaDatos HDR ON HDR.FacturaID = FC.FacturaID
	WHERE HDR.HojaDeRutaID = @HojaDeRutaID
	AND HDR.ClienteID= @ClienteID 
	AND (@cond='' or HDR.FormaPago=@Cond)


	-- Inserto foto de cabecera ( no se puede sobreescribir, por eso el not exists)
	DELETE dbo.Transportista_HojaDeRutaDatos_Factura_Detalle
	FROM dbo.Transportista_HojaDeRutaDatos_Factura_Detalle DEL
	INNER JOIN dbo.Transportista_HojaDeRutaDatos_Factura_Cabecera CAB ON CAB.FacturaID=DEL.FacturaID AND CAB.HojaDeRutaID = @HojaDeRutaID AND CAB.ClienteID=@ClienteID
	WHERE DEL.FacturaID IN (SELECT FacturaID FROM #FacturaDetalle)

	DELETE dbo.Transportista_HojaDeRutaDatos_Factura_Cabecera  
	WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID=@ClienteID
	AND FacturaID IN (SELECT FacturaID FROM #FacturaDetalle)
	----------------------------------------------------------------------------------------------------------------------------------
	 
	INSERT INTO dbo.Transportista_HojaDeRutaDatos_Factura_Cabecera (HojaDeRutaDatosID,HojaDeRutaID,ClienteID,FacturaID,Subtotal,IVA,PercepIVA,PercepIIBB,Total)
	SELECT HDR.HojaDeRutaDatosID,HDR.HojaDeRutaID,HDR.ClienteID,HDR.FacturaID,FC.Subtotal,FC.IVA,FC.PercepIVA,FC.PercepIIBB,FC.Total
	FROM WhatsAppAPI.dbo.FacturaCabecera FC  
	INNER JOIN dbo.Transportista_HojaDeRutaDatos HDR ON HDR.FacturaID = FC.FacturaID
	WHERE HDR.HojaDeRutaID = @HojaDeRutaID   
	AND HDR.ClienteID= @ClienteID
	AND (@cond='' or HDR.FormaPago=@Cond)
	AND NOT EXISTS (SELECT NULL FROM dbo.Transportista_HojaDeRutaDatos_Factura_Cabecera CB WHERE CB.HojaDeRutaDatosID=HDR.HojaDeRutaDatosID)
	
	-- Inserto foto de detalle ( no se puede sobreescribir, por eso el not exists)
	INSERT INTO dbo.Transportista_HojaDeRutaDatos_Factura_Detalle (Id,FacturaID,Articulo,Cantidad,Descripcion,Dto,PrecioUnitario,PercepIIBB)
	SELECT Id,FacturaID,Articulo,Cantidad,Descripcion,Dto,PrecioUnitario,IIBB 
	FROM #FacturaDetalle 	f
	WHERE NOT EXISTS (SELECT NULL FROM dbo.Transportista_HojaDeRutaDatos_Factura_Detalle det WHERE det.Id=f.id)
	---ORDER BY Id, RowID
	----------------------------------------------------------------------------------------------

	-- Inserto foto esquema cobranza, si existe borro.
	DELETE cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle 
	FROM cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle DEL 
	INNER JOIN Cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera CB ON CB.FacturaID=DEL.FacturaID 
	INNER JOIN dbo.Transportista_HojaDeRutaDatos HDR ON HDR.FacturaID = CB.FacturaID
	WHERE HDR.HojaDeRutaID = @HojaDeRutaID   
	AND HDR.ClienteID= @ClienteID
	AND (@cond='' or HDR.FormaPago=@Cond)
 
	DELETE Cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera   
	WHERE HojaDeRutaID = @HojaDeRutaID
	AND ClienteID= @ClienteID
	AND FacturaID IN (SELECT FacturaID FROM #FacturaDetalle)

	INSERT INTO cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera (HojaDeRutaDatosID,HojaDeRutaID,ClienteID,FacturaID,Subtotal,IVA,PercepIVA,PercepIIBB,Total)
	SELECT HojaDeRutaDatosID,HojaDeRutaID,ClienteID,FacturaID,Subtotal,IVA,PercepIVA,PercepIIBB,Total
	FROM dbo.Transportista_HojaDeRutaDatos_Factura_Cabecera   
	WHERE HojaDeRutaID = @HojaDeRutaID
	AND ClienteID= @ClienteID
	AND FacturaID IN (SELECT FacturaID FROM #FacturaDetalle)

	INSERT INTO cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle (Id,FacturaID,Articulo,Cantidad,Descripcion,Dto,PrecioUnitario,PercepIIBB)
	SELECT DISTINCT Id,FacturaID,Articulo,Cantidad,Descripcion,Dto,PrecioUnitario,IIBB FROM #FacturaDetalle -- 	ORDER BY Id, RowID
	----------------------------------------------------------------------------------------------
	
 

	SELECT   
            pagos.value('(FormaDePagoID)[1]', 'INT') AS FormaDePagoID,
            pagos.value('(FormaDePagoID)[1]', 'VARCHAR(100)') AS FormaDePago, -- usar código como nombre (podés mapear si querés)
            pagos.value('(Importe)[1]', 'NUMERIC(18,2)') AS Importe
	INTO #FormaDePago
	FROM @PagosXml.nodes('/Pagos/Pago') AS X(pagos);
	
	SELECT @Efecitvo		= Importe FROM #FormaDePago WHERE FormaDePagoID=1
	SELECT @Cheque			= Importe FROM #FormaDePago WHERE FormaDePagoID=2
	SELECT @Transferencia	= Importe FROM #FormaDePago WHERE FormaDePagoID=3


	UPDATE [cobranza].[Transportista_HojaDeRutaDatos]  SET 
		Efectivo = @Efecitvo, Cheque = @Cheque, Transferencia = @Transferencia, 
		ImporteTotalCobrado = @Efecitvo + @Cheque + @Transferencia,
		Latitud= @Latitud,
		Longitud = @Longitud
	FROM  [cobranza].[Transportista_HojaDeRutaDatos]  UPD
	--INNER JOIN (
	--	SELECt HojaDeRutaID,ClienteID, MIN(HojaDeRutaDatosID) HojaDeRutaDatosID 
	--	FROM  [cobranza].[Transportista_HojaDeRutaDatos]  
	--	GROUP BY HojaDeRutaID,ClienteID) X on X.HojaDeRutaID=UPD.HojaDeRutaID AND X.ClienteID=UPD.ClienteID AND X.HojaDeRutaDatosID = UPD.HojaDeRutaDatosID
	WHERE UPD.HojaDeRutaID = @HojaDeRutaID AND UPD.ClienteID= @ClienteID
	AND (@cond='' or FormaPago=@Cond)


	UPDATE dbo.[Transportista_HojaDeRutaDatos]  SET 
		Latitud= @Latitud,
		Longitud = @Longitud
	FROM  dbo.[Transportista_HojaDeRutaDatos]  UPD
	WHERE UPD.HojaDeRutaID = @HojaDeRutaID AND UPD.ClienteID= @ClienteID
	AND (@cond='' or FormaPago=@Cond)

	 
END


GO
