USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso4]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso4]
@HojaDeRutaID INT,
@ClienteID INT,
@FacturaID INT = -1

AS
SET NOCOUNT ON 
BEGIN
  
	UPDATE dbo.Transportista_HojaDeRutaDatos SET 
		AnuladaCompleta = 1
	WHERE   HojaDeRutaID = @HojaDeRutaID
	AND ClienteID = @ClienteID
	AND FacturaID=@FacturaID

	UPDATE Cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle SET Cantidad=0
	FROM Cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle UPD
		INNER JOIN Cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera C ON C.FacturaID= UPD.FacturaID
		WHERE C.HojaDeRutaID = @HojaDeRutaID
		AND c.ClienteID = @ClienteID
		AND UPD.FacturaID = @FacturaID


END


GO
