USE [Reparto]
GO
/****** Object:  Table [cobranza].[Transportista_Comprobantes]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cobranza].[Transportista_Comprobantes](
	[ComprobanteID] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[RutaArchivo] [varchar](500) NOT NULL,
	[Extension] [varchar](10) NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComprobanteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [cobranza].[Transportista_Comprobantes] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
