USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso2]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cobranza].[Transportista_HojaDeRuta_RegistrarPago_Paso2]
@HojaDeRutaID INT,
@ClienteID INT,
@FacturaID  INT,
@ArticuloId VARCHAR(20),
@Cantidad INT
AS
SET NOCOUNT ON 
BEGIN


	UPDATE UPD SET Cantidad= @Cantidad
	FROM Cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle UPD
	INNER JOIN Cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera C ON C.FacturaID= UPD.FacturaID
	WHERE C.HojaDeRutaID = @HojaDeRutaID
	AND c.ClienteID = @ClienteID
	AND UPD.FacturaID = @FacturaID
	AND UPD.Articulo = @ArticuloId

END


GO
