USE [Reparto]
GO
/****** Object:  Table [cobranza].[Transportista_HojaDeRutaDatos]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [cobranza].[Transportista_HojaDeRutaDatos](
	[HojaDeRutaDatosID] [int] NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[ImporteTotalACobrar] [numeric](20, 2) NULL,
	[ImporteTotalCobrado] [numeric](20, 2) NULL,
	[Efectivo] [numeric](20, 2) NULL,
	[Cheque] [numeric](20, 2) NULL,
	[Transferencia] [numeric](20, 2) NULL,
	[FormaPago] [varchar](100) NULL,
	[DateAdded] [datetime] NULL,
	[Latitud] [decimal](10, 6) NULL,
	[Longitud] [decimal](10, 6) NULL,
 CONSTRAINT [PK_HojaDeRutaDatos_Cobranza] PRIMARY KEY CLUSTERED 
(
	[HojaDeRutaDatosID] ASC,
	[HojaDeRutaID] ASC,
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [cobranza].[Transportista_HojaDeRutaDatos] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
