USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_HojaDeRuta_RegistrarPago]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [cobranza].[Transportista_HojaDeRuta_RegistrarPago]
    @HojaDeRutaID INT,
    @ClienteID INT, 
	@PagosXml XML,
	@DetallesXml XML,
	@Cond VARCHAR(100) = '',
	@DNI VARCHAR(50) = NULL,
    @Observaciones NVARCHAR(1000) = NULL,
	@facturasAnuladasXml XML,
	@Latitud DECIMAL(10,6),
	@Longitud DECIMAL(10,6)

AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

		--IF (
		--	SELECT count(*)
		--	FROM @DetallesXml.nodes('/Detalles/Item') AS X(D) 
		--	)=0
		--BEGIN
		--	SELECT 1 AS hasError, 'Detalles vacios' AS ErrorMessage
		--	RETURN 0
		--END
		
        BEGIN TRAN;
        -- 1. Registrar el pago principal
        EXEC cobranza.Transportista_HojaDeRuta_RegistrarPago_Paso1 
            @HojaDeRutaID	= @HojaDeRutaID,
            @ClienteID		= @ClienteID, 
			@PagosXml		= @PagosXml,
			@DetallesXml	= @DetallesXml,
			@Cond			= @Cond,
			@Latitud		= @Latitud,
			@Longitud		= @Longitud
			 

        -- 2. Registrar cada ítem de factura
        DECLARE @FacturaID INT, @ArticuloId VARCHAR(20), @Cantidad INT

        DECLARE detalle_cursor CURSOR FOR 
        SELECT
            D.value('(FacturaID)[1]', 'INT'),
            D.value('(Articulo)[1]', 'VARCHAR(20)'),
            D.value('(Cantidad)[1]', 'INT')
        FROM @DetallesXml.nodes('/Detalles/Item') AS X(D);

        OPEN detalle_cursor;
        FETCH NEXT FROM detalle_cursor INTO @FacturaID, @ArticuloId, @Cantidad;

        WHILE @@FETCH_STATUS = 0
        BEGIN
			-- select @ArticuloId AS ArticuloId, @Cantidad as Cantidad, @FacturaID AS FacturaID , @ClienteID AS ClienteID
            EXEC cobranza.Transportista_HojaDeRuta_RegistrarPago_Paso2
                @HojaDeRutaID = @HojaDeRutaID,
                @ClienteID = @ClienteID,
                @FacturaID = @FacturaID,
                @ArticuloId = @ArticuloId,
                @Cantidad = @Cantidad;

            FETCH NEXT FROM detalle_cursor INTO @FacturaID, @ArticuloId, @Cantidad;
        END

        CLOSE detalle_cursor;
        DEALLOCATE detalle_cursor;
		
        -- 3. Cerrar la cobranza
        EXEC cobranza.Transportista_HojaDeRuta_RegistrarPago_Paso3 
            @HojaDeRutaID	= @HojaDeRutaID,
            @ClienteID		= @ClienteID,
			@Cond			= @Cond,
			@DNI			= @DNI,
			@Observaciones	= @Observaciones


        -- 4. Anulada
        DECLARE @FacturaID2 INT 

        DECLARE detalle_cursor2 CURSOR FOR 
        SELECT
            D.value('(FacturaID)[1]', 'INT') 
        FROM @facturasAnuladasXml.nodes('/FacturasAnuladas') AS X(D);

        OPEN detalle_cursor2;
        FETCH NEXT FROM detalle_cursor2 INTO @FacturaID2 

        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC cobranza.Transportista_HojaDeRuta_RegistrarPago_Paso4
                @HojaDeRutaID = @HojaDeRutaID,
                @ClienteID = @ClienteID,
                @FacturaID = @FacturaID2 

            FETCH NEXT FROM detalle_cursor2 INTO @FacturaID2 
        END

        CLOSE detalle_cursor2;
        DEALLOCATE detalle_cursor2;

		SELECT 0 AS hasError, '' AS ErrorMessage
        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK;

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
        
		
		SELECT 1 AS hasError, @ErrMsg AS ErrorMessage

		RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END


GO
