USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_Comprobante_Get]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cobranza].[Transportista_Comprobante_Get]
    @ComprobanteID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ComprobanteID,
        RutaArchivo,
        NombreArchivo
    FROM cobranza.Transportista_Comprobantes
    WHERE ComprobanteID = @ComprobanteID
END

GO
