USE [Reparto]
GO
/****** Object:  StoredProcedure [cobranza].[Transportista_Comprobante_Ins]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [cobranza].[Transportista_Comprobante_Ins]
(
    @HojaDeRutaID  INT,
    @ClienteID    INT,
    @NombreArchivo VARCHAR(255),
    @RutaArchivo   VARCHAR(500) = null,
    @Extension     VARCHAR(10) = null,
    @Usuario       VARCHAR(100)= null
)
AS
BEGIN
    SET NOCOUNT ON;

	IF NOT EXISTS( SELECT  NULL FROM cobranza.Transportista_Comprobantes WHERE HojaDeRutaID =  @HojaDeRutaID AND ClienteID= @ClienteID AND NombreArchivo = @NombreArchivo)
	BEGIN
    INSERT INTO cobranza.Transportista_Comprobantes
    (
        HojaDeRutaID,
        ClienteID,
        NombreArchivo,
        RutaArchivo,
        Extension,
        Usuario
    )
    VALUES
    (
        @HojaDeRutaID,
        @ClienteID,
        @NombreArchivo,
        @RutaArchivo,
        @Extension,
        @Usuario
    );
	END
END

GO
