USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Activos]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculos_Activos]
@Patente nvarchar(40) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT VehiculoID, Patente
    FROM dbo.Vehiculos
    WHERE Activo = 1
	AND ( @Patente is null or Patente=@Patente)
    ORDER BY Patente;
END;

GO
