USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_Refrescar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_Refrescar]
AS

SET NOCOUNT ON


SELECT *
INTO #Transportistas
FROM Reclamos.dbo.Nomina
WHERE esTransportista=1 
-- and esActivo=1


-- INSERTA LOS NUEVOS
INSERT INTO Transportista ( EmpleadoID,Nombre,Apellido)
SELECT t.EmpleadoID,t.Nombre,t.Apellido
FROM #Transportistas t 
LEFT JOIN dbo.Transportista t2 on t2.EmpleadoID=t.EmpleadoID 
WHERE t2.EmpleadoID is null

GO
