USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cabecera_powerpivot]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cabecera_powerpivot] 
AS
SET NOCOUNT ON
BEGIN   
 
	SELECT a.HojaDeRutaID, a.ClienteID,a.ClienteNombre,a.RazonSocial,a.FacturaID,a.FormaPago,a.Estado
	, a.Justifica, a.Validado , CONVERT(DATETIME,ISNULL(CONVERT(DATE,a.DateAdded,112 ),'2025-07-01'),112 ) Fecha,
	CASE 
		WHEN b.Estado IN (0)	THEN 'En Proceso'    
		WHEN b.Estado IN (1)		THEN 'Abierta'    
		WHEN b.Estado IN (2)		THEN 'Cerrada'    
		WHEN b.Estado IN (3)	THEN 'Terminada' 
		ELSE NULL END   AS EstadoHoja,
	z.Nombre NombreZona 
	,t.Apellido +' ' + t.Nombre Transportista
	,t2.Apellido +' ' + t2.Nombre Ayudante, 
	Errores= CASE WHEN a.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY a.HojaDeRutaID, ClienteID order by a.HojaDeRutaID, ClienteID) 
		AND (CASE 
			WHEN Validado=1 THEN 0 
			WHEN Validado=0 THEN 1 
			ELSE 0 END) = 1 THEN 1 ELSE 0 END ,
	--Pendientes= CASE WHEN a.Estado = 3 THEN 1 ELSE 0 END,
	Pendientes =	CASE WHEN a.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY a.HojaDeRutaID, ClienteID order by a.HojaDeRutaID, ClienteID) 
	AND (CASE WHEN a.Estado = 3 THEN 1 ELSE 0 END) = 1  THEN 1 ELSE 0 END,

	--Anuladas= CASE WHEN a.Estado = 2 THEN 1 ELSE 0 END,
	Anuladas = CASE WHEN a.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY a.HojaDeRutaID, ClienteID order by a.HojaDeRutaID, ClienteID) 
	AND ( CASE WHEN a.Estado = 2 THEN 1 ELSE 0 END ) = 1  THEN 1 ELSE 0 END,


	RowID = ROW_NUMBER() OVER (PARTITION BY a.HojaDeRutaID, ClienteID order by a.HojaDeRutaID, ClienteID) ,
		
	--Justificadas= CASE WHEN a.Justifica = 2 THEN 1 ELSE 0 END,
	Justificadas = CASE WHEN a.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY a.HojaDeRutaID, ClienteID order by a.HojaDeRutaID, ClienteID) 
	AND ( CASE WHEN ISNULL(a.Justifica,0) = 1 THEN 1 ELSE 0 END ) = 1  THEN 1 ELSE 0 END

	FROM Transportista_HojaDeRutaDatos a 
	INNER JOIN Transportista_HojaDeRuta b on b.HojaDeRutaID=a.HojaDeRutaID
	LEFT JOIN dbo.Zona z on z.ZonaID= b.ZonaID
	LEFT JOIN dbo.Transportista t on t.TransportistaID=b.TransportistaID
	LEFT JOIN dbo.Transportista t2 on t2.TransportistaID=b.TransportistaID2





END


GO
