USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Checklist_CorregirItem]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Vehiculos_Checklist_CorregirItem]
    @ChecklistID INT,
    @Item NVARCHAR(200)
AS
BEGIN
    UPDATE [dbo].[Vehiculos_Checklist_Detalle]
    SET Corregido = 1
    WHERE ChecklistID = @ChecklistID AND Item = @Item;
END
GO
