USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HDR_Login]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transportista_HDR_Login](
	[HojaDeRutaID] [int] NOT NULL,
	[Patente] [varchar](20) NULL,
	[sPassword] [varchar](6) NULL,
	[CantidadDeIntentosFallidos] [int] NULL,
	[LimiteIntentosFallidos] [int] NULL,
	[Bloqueado] [int] NULL,
	[dateadded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HojaDeRutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Transportista_HDR_Login] ADD  DEFAULT ((0)) FOR [CantidadDeIntentosFallidos]
GO
ALTER TABLE [dbo].[Transportista_HDR_Login] ADD  DEFAULT ((10)) FOR [LimiteIntentosFallidos]
GO
ALTER TABLE [dbo].[Transportista_HDR_Login] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Transportista_HDR_Login] ADD  DEFAULT (getdate()) FOR [dateadded]
GO
