USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel_v2]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC dbo.[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel] 90908,3317,'13 DIAS FECHA F'
--GO
--EXEC dbo.[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel_v2] 90908,3317,'13 DIAS FECHA F'

--select * from Transportista_HojaDeRutaDatos s inner join  WhatsAppAPI.dbo.Factura_Cliente fc on fc.HojaDeRutaID=s.HojaDeRutaID where s.HojaDeRutaid=90908
-- EXEC dbo.[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel] 90908,13222,'CONTADO'
-- EXEC dbo.[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel_v2] 90908,13222,'CONTADO'
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel_v2] 
	@HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@Cond VARCHAR(20) = ''

AS
-- sin factura, posible error en america
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
DECLARE @CantidadFacturas INT, @ImporteAPagar NUMERIC(18,2), @ClienteNombre VARCHAR(100)

IF NOT EXISTS (SELECt NULL FROM WhatsAppAPI.dbo.Factura_Cliente WHERE HojaDeRutaID=@HojaDeRutaID AND ClienteID=@ClienteID)
BEGIN
		SELECT @CantidadFacturas = COUNT(DISTINCT FB.FacturaID) 
		FROM dbo.Transportista_HojaDeRutaDatos FB   
		WHERE FB.HojaDeRutaID=@HojaDeRutaID 
		and FB.ClienteID=@ClienteID 
		AND (@Cond='' or FB.FormaPago=@Cond)

	SELECT b.FacturaID as Factura, b.ClienteID,b.FacturaID,MAX(b.ImporteAPagar) as TotalFacturas, @CantidadFacturas  AS Facturas, ISNULL(l.Nombre,b.ClienteNombre) as ClienteNombre, 
		CASE WHEN b.FormaPago like '%Contado%' THEN 0 ELSE 1 END AS CuentaCorriente, 
		CASE WHEN b.FormaPago like '%retir%' THEN 1 ELSE 0 END AS isOR, 
		Sum(b.ImporteFactura) ImporteTotal 
  
    FROM dbo.Transportista_HojaDeRuta a 
    INNER JOIN dbo.Transportista_HojaDeRutaDatos b on b.HojaDeRutaID=a.HojaDeRutaID   
	LEFT JOIN Reclamos.dbo.Cliente l on l.Id=b.ClienteID 
    WHERE a.HojaDeRutaID = @HojaDeRutaID   
	AND ( @ClienteID= 0 OR b.ClienteID = @ClienteID ) 
	AND (@Cond='' or b.FormaPago=@Cond)
	GROUP BY  b.FacturaID, b.ClienteID,b.FormaPago,ISNULL(l.Nombre,b.ClienteNombre)
	ORDER BY  b.FacturaID, b.ClienteID,b.FormaPago
	 

END
ELSE
	BEGIN   
		
		SELECT @CantidadFacturas = COUNT(DISTINCT FB.FacturaID) 
		FROM WhatsAppAPI.dbo.Factura_Cliente FB 
		LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
		--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
		WHERE FB.HojaDeRutaID=@HojaDeRutaID 
		and FB.ClienteID=@ClienteID 
		AND (@Cond='' or FB.FormaPago=@Cond)

		-- BUSCAMOS REASIGNADAS
		SELECT  @CantidadFacturas = @CantidadFacturas + COUNT(DISTINCT FB.FacturaID) 
		FROM Transportista_HojaDeRuta_Reasignada R
		INNER JOIN WhatsAppAPI.dbo.Factura_Cliente FB ON FB.HojaDeRutaID=R.HojaDeRutaIDOrigen AND FB.ClienteID=R.ClienteID
		LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
		--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
		WHERE R.HojaDeRutaIDDestino = @HojaDeRutaID
			AND FB.ClienteID=@ClienteID 
			AND (@Cond='' or FB.FormaPago=@Cond)
		 
		SELECT FB.ClienteID,FB.FacturaID, FC.Factura, ImporteAPagar=  ISNULL(SUM(FB.ImporteFactura),0) ,  FormaPago
		INTO #Datos 
		FROM WhatsAppAPI.dbo.Factura_Cliente FB 
		LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
		--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
		WHERE (FB.HojaDeRutaID=@HojaDeRutaID )   
		AND FB.ClienteID=@ClienteID 
		AND (@Cond='' or FB.FormaPago=@Cond)
		GROUP BY FB.ClienteID,FB.FacturaID, FC.Factura,  FormaPago
	UNION
		SELECT FB.ClienteID,FB.FacturaID, FC.Factura, ImporteAPagar=  ISNULL(SUM(FB.ImporteFactura),0) ,  FormaPago
		FROM Transportista_HojaDeRuta_Reasignada R
		INNER JOIN WhatsAppAPI.dbo.Factura_Cliente FB ON FB.HojaDeRutaID=R.HojaDeRutaIDOrigen AND FB.ClienteID=R.ClienteID
		LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
		--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
		WHERE R.HojaDeRutaIDDestino = @HojaDeRutaID
			AND FB.ClienteID=@ClienteID 
			AND (@Cond='' or FB.FormaPago=@Cond)
	
		GROUP BY FB.ClienteID,FB.FacturaID, FC.Factura,  FormaPago


		SELECT ClienteID, ISNULL(SUM(ImporteApagar),0) ImporteTotal
		INTO #DatosCliente
		FROM #Datos 
		GROUP BY ClienteID
	 
		SELECT FB.Factura,Fb.ClienteID, FB.FacturaID, FB.ImporteAPagar as TotalFacturas,@CantidadFacturas CantidadFacturas, c.Nombre AS ClienteNombre, CASE WHEN FormaPago like '%Contado%' THEN 0 ELSE 1 END AS CuentaCorriente, 0 AS isOR, (d.ImporteTotal) ImporteTotal
		FROM #Datos FB
		LEFT JOIN #DatosCliente d on  d.ClienteID=FB.ClienteID
		LEFT JOIN Reclamos.dbo.Cliente c on c.Id=d.ClienteID
	UNION
		SELECT d.Factura, fb.ClienteID,  fb.FacturaID AS FacturaID,ISNULL(FB.ImporteFactura,0),0,c.Nombre, 1, 1, (d2.ImporteTotal) ImporteTotal
		FROM WhatsAppAPI.dbo.Factura_Cliente FB
		INNER JOIN Reclamos.dbo.Cliente C on C.Id= fb.ClienteID
		LEFT JOIN #Datos d on d.FacturaID= FB.FacturaID AND d.ClienteID=c.Id
		LEFT JOIN #DatosCliente d2 on  d2.ClienteID=c.Id
		WHERE FB.HojaDeRutaID=@HojaDeRutaID and FB.ClienteID=@ClienteID AND  FB.FormaPago like '%retir%'
			AND (@Cond='' or FB.FormaPago=@Cond)
 
 		ORDER BY 1 --, fd.Id
	 
	END

 

GO
