USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Terminar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Terminar]  
@HojaDeRutaID INT = 0,
@TotalHDR NUMERIC(18,2)=NULL,
@Gastos NUMERIC(18,2)=NULL,
@Efectivo NUMERIC(18,2)=NULL,
@Cheques NUMERIC(18,2)=NULL,
@Transferencia NUMERIC(18,2)=NULL,
@DepositoBancario NUMERIC(18,2)=NULL,
@Diferencia NUMERIC(18,2)=NULL,
@Pendientes INT=NULL,
@Errores INT=NULL,
@Anuladas INT=NULL,
@PendientesJustificadas INT=NULL,
@Observaciones VARCHAR(1000)=NULL
AS

BEGIN
    SET NOCOUNT ON;
  
	BEGIN TRY

	UPDATE dbo.Transportista_HojaDeRuta SET Estado=3 , FechaTerminado = GETDATE()
	WHERE HojaDeRutaID=@HojaDeRutaID 


	IF NOT EXISTS(SELECT  NULL FROM dbo.Transportista_HojaDeRuta_Termianda_Resumen WHERE HOjaDeRutaID=@HojaDeRutaID)
	BEGIN 
		INSERT INTO dbo.Transportista_HojaDeRuta_Termianda_Resumen ( HojaDeRutaID,TotalHDR,Gastos,Efectivo,Cheques,Transferencias,Deposito,Diferencia,Pendientes,Anuladas
																	,Errores,PendientesJustificadas,Observacion) 
		VALUES (@HojaDeRutaID,@TotalHDR,@Gastos,@Efectivo,@Cheques,@Transferencia,@DepositoBancario,@Diferencia,@Pendientes,@Anuladas
																	,@Errores,@PendientesJustificadas,@Observaciones)
	END
	ELSE
	BEGIN
		UPDATE 	dbo.Transportista_HojaDeRuta_Termianda_Resumen SET
				TotalHDR				= @TotalHDR					,
				Gastos					= @Gastos					,
				Efectivo				= @Efectivo					,
				Cheques					= @Cheques					,
				Transferencias			= @Transferencia			,
				Deposito				= @DepositoBancario			,
				Diferencia				= @Diferencia				,
				Pendientes				= @Pendientes				,
				Anuladas				= @Anuladas					,
				Errores					= @Errores					,
				PendientesJustificadas	= @PendientesJustificadas		,
				Observacion				= @Observaciones			
		WHERE HOjaDeRutaID=@HojaDeRutaID

	END 
	
		SELECT 0 hasError, 'Hoja de Ruta cerrada correctamente' ErrorMessage

	END TRY
	BEGIN CATCH
		
		SELECT -1 hasError, 'Ha ocurrido un error ' + ERROR_MESSAGE()  ErrorMessage

	END CATCH

RETURN
END


GO
