USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_powerpivot]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_powerpivot] 
AS
SET NOCOUNT ON
BEGIN 
	
	-- obtengo los descuentos  
	-- drop table #descuentos
	--select CFC.FacturaID,CFC.ClienteID, MAX(CFC.Total)-( 
	select CFC.HojaDeRutaID, CFC.FacturaID,CFC.ClienteID, CFD.Articulo, Cantidad= CASE WHEN CFD.Cantidad=0 THEN OFD.Cantidad ELSE OFD.Cantidad-CFD.Cantidad END, CASE WHEN CFD.Cantidad=0 THEN OFD.Cantidad ELSE OFD.Cantidad-CFD.Cantidad END AS CantidadDescontada, OFD.PrecioUnitario, CFD.PercepIIBB, CFD.Descripcion,OFD.Cantidad AS CantidadOriginal, PercepIIBBUnitario = CAST((CFD.PercepIIBB/CASE WHEN CFD.Cantidad=0 THEN OFD.Cantidad ELSE OFD.Cantidad-CFD.Cantidad END) AS Decimal(18,3))
	INTO #descuentos
	from cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera CFC 
	INNER JOIN cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle CFD ON CFD.FacturaID = CFC.FacturaID  
	INNER JOIN dbo.Transportista_HojaDeRutaDatos_Factura_Detalle OFD ON OFD.FacturaID = CFC.FacturaID   and OFD.Id=CFD.Id
	WHERE  CFD.Cantidad<>OFD.Cantidad  

	SELECT HojaDeRutaID,FacturaID,ClienteID,Articulo,cantidad,descuento=CAST(CantidadDescontada*(PrecioUnitario*1.21+PercepIIBBUnitario) AS NUMERIC(20,3)),PrecioUnitario, PercepIIBBUnitario
	INTO #descuentos_detalle
	FROM #descuentos

	SELECT ClienteID, FacturaID,
         stuff( (select concat(' FacturaID:', FacturaID, ' - Articulo:', Articulo,' - Cantidad:', CONVERT(VARCHAR(3),Cantidad),' - Unitario: ', '$ ' + CONVERT(VARCHAR(20),PrecioUnitario ) ,' - PercepIIBB: ', '$ ' + CONVERT(VARCHAR(20),PercepIIBBUnitario ) , ' - Descuento: ', '$ ' +  CONVERT(VARCHAR(20),CAST(descuento AS DECIMAL(20,2)) ) )
               from #descuentos_detalle t2
               where t2.FacturaID = t.FacturaID
			   AND t2.ClienteID = t.ClienteID
               FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '')  as Detalle
	INTO #facturas
	from #descuentos_detalle t
	group by  ClienteID,FacturaID;

	SELECT a.HojaDeRutaID, CONVERT(DATE,a.DateAdded ) Fecha, b.ClienteID,b.RazonSocial AS ClienteNombre, 
		CASE 
			WHEN b.Estado = 0 THEN 'No iniciada' 
			WHEN b.Estado = 1 THEN 'Entregado' 
			--WHEN b.Estado = 3 THEN 'Entregado c/descuento'
			WHEN b.Estado IN  ( 2, 3) THEN  ISNULL(MAX(c.Motivo),'') 
		END AS EstadoEntrega, 
		b.Estado,
		COUNT(*) TotalFacturas, Sum(b.ImporteFactura) ImporteACobrar,
		ISNULL(MAX(d.Efectivo)+MAX(d.Cheque)+MAX(d.Transferencia),0) AS TotalCobrado,
		ISNULL(MAX(d.Efectivo),0) AS Efectivo,
		ISNULL(MAX(d.Cheque),0) AS Cheque,
		ISNULL(MAX(d.transferencia),0) AS Transferencia,
		ISNULL((SELECT sum(X.descuento) FROM #descuentos_detalle x where x.HojaDeRutaID = a.HojaDeRutaID and x.ClienteID=b.ClienteID),0) AS Descuentos, 
		Observacion = isnull(MAX(b.Motivo),'') + ' ' +  isnull(MAX(b.ObservacionCC),'')
		,FormaPago2=CASE 
			WHEN b.Estado = 2 THEN 'ANULADA'
			WHEN b.Estado = 3 THEN 'PENDIENTE' 
			ELSE b.FormaPago END, b.FormaPago 

		 ,Reasignado = MAX(r.HojaDeRutaIDDestino)
		 ,b.Validado
		 ,b.ValidadoMensaje
		 ,t.Apellido +' ' + t.Nombre Transportista
		 ,t2.Apellido +' ' + t2.Nombre Ayudante
    FROM dbo.Transportista_HojaDeRuta a 
    INNER JOIN dbo.Transportista_HojaDeRutaDatos b on b.HojaDeRutaID=a.HojaDeRutaID 
	LEFT JOIN dbo.Transportista_HojaDeRuta_MotivosRechazo c on c.MotivoID=b.MotivoID
	LEFT JOIN (SELECT HojaDeRutaID,ClienteID,FormaPago, MAX(Efectivo) AS Efectivo, Max(Cheque) AS Cheque, MAX(Transferencia) AS Transferencia FROM cobranza.Transportista_HojaDeRutaDatos    GROUP BY HojaDeRutaID,ClienteID,FormaPago)
			d on d.HojaDeRutaID=b.HojaDeRutaID  
		and d.ClienteID=b.ClienteID --AND d.HojaDeRutaDatosID=b.HojaDeRutaDatosID
		and d.FormaPago=b.FormaPago

	LEFT JOIN dbo.Transportista_HojaDeRuta_Reasignada r on r.hojaderutaidOrigen=a.HojaDeRutaID and r.clienteID=b.ClienteID
	
	LEFT JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID
	LEFT JOIN dbo.Transportista t2 on t2.TransportistaID=a.TransportistaID2

	GROUP BY a.HojaDeRutaID, CONVERT(DATE,a.DateAdded ) , b.ClienteID,b.RazonSocial,b.Estado,CASE 
			WHEN b.Estado = 2 THEN 'ANULADA'
			WHEN b.Estado = 3 THEN 'PENDIENTE' 
			ELSE b.FormaPago END, b.FormaPago, 
		b.Validado,
		b.ValidadoMensaje,
		t.Apellido +' ' + t.Nombre,t2.Apellido +' ' + t2.Nombre 
END
 
GO
