USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Para_Reasignar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --EXEC dbo.[usp_Transportista_HojaDeRuta_Para_Reasignar] 0 ,0,03387

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Para_Reasignar]
    @HojaDeRutaID INT = 0,
	@TransportistaID INT=0,
	@ClienteID INT=0
AS
BEGIN
 
    SELECT 
		a.HojaDeRutaID, 
		a.DateAdded,z.Nombre AS Zona,t.TransportistaID,t.Apellido +', ' +t.Nombre transportista  ,
		Reasignado = CASE WHEN EXISTS(SELECT  NULL FROM Transportista_HojaDeRuta_Reasignada H WHERE   H.HojaDeRutaIDDestino = a.HojaDeRutaID AND H.ClienteID = @ClienteID) THEN 1 ELSE 0 END
    FROM Reparto.dbo.Transportista_HojaDeRuta a
	INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID
	INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID
	LEFT JOIN dbo.Zona z on z.ZonaID=a.ZonaID
	--LEFT JOIN cobranza.Transportista_HojaDeRutaDatos c on c.HojaDeRutaID=d.HojaDeRutaID and c.ClienteID=d.ClienteID 
    WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
	AND(@TransportistaID= 0  or  a.TransportistaID= @TransportistaID)
	AND a.Estado in (0,1,2) -- solo las nuevas
	--AND NOT EXISTS(SELECT  NULL FROM Transportista_HojaDeRuta_Reasignada H WHERE H.HojaDeRutaIDDestino = a.HojaDeRutaID AND H.ClienteID = d.ClienteID)
	
	-- 0 no inciiada
	-- 1 pendiente
	GROUP BY a.HojaDeRutaID, a.DateAdded,z.Nombre,t.TransportistaID,t.Apellido +', ' +t.Nombre
	ORDER BY a.HojaDeRutaID desc
END


GO
