USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_KM_Service]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2	AD213AH	2024-12-12	6000	2025-12-14	2025-12-14	2025-12-14
CREATE PROCEDURE [dbo].[usp_Vehiculos_KM_Service]
AS

WITH UltimoServ AS (
    SELECT
        c.VehiculoID,
        v.Patente,
        TRY_CONVERT(date, d.Valor) AS UltimoServicio,
        c.KmActual AS KmServicio,
        ROW_NUMBER() OVER (
            PARTITION BY TRY_CONVERT(date, d.Valor)
            ORDER BY  
                TRY_CONVERT(date, d.Valor)  ,  
                c.Fecha ASC,
                c.ChecklistID DESC  
        ) AS rn
    FROM dbo.Vehiculos_Checklist c
    INNER JOIN dbo.Vehiculos_Checklist_Detalle d
        ON d.ChecklistID = c.ChecklistID
    INNER JOIN dbo.Vehiculos v
        ON v.VehiculoID = c.VehiculoID
    WHERE d.Item = 'Ultimo Servicio'
	AND V.Activo=1
)
SELECT
    VehiculoID,
    Patente,
    UltimoServicio,
    KmServicio,
	rto = (select max(Valor)  FROM dbo.Vehiculos_Checklist c
    INNER JOIN dbo.Vehiculos_Checklist_Detalle d
        ON d.ChecklistID = c.ChecklistID
		WHERE c.VehiculoID=u.VehiculoID
		AND d.Categoria='Documentación vehiculo'
		AND d.Item='RTO Vencimiento'),
	broma = (select max(Valor)  FROM dbo.Vehiculos_Checklist c
    INNER JOIN dbo.Vehiculos_Checklist_Detalle d
        ON d.ChecklistID = c.ChecklistID
		WHERE c.VehiculoID=u.VehiculoID
		AND d.Categoria='Documentación vehiculo'
		AND d.Item='BROMATOLOGIA Vencimiento'),
	seguro = (select max(Valor)  FROM dbo.Vehiculos_Checklist c
    INNER JOIN dbo.Vehiculos_Checklist_Detalle d
        ON d.ChecklistID = c.ChecklistID
		WHERE c.VehiculoID=u.VehiculoID
		AND d.Categoria='Documentación vehiculo'
		AND d.Item='SEGURO Vencimiento')

INTO #UltimoServicio
FROM UltimoServ u
WHERE rn = 1;

 
select * from #UltimoServicio WHERE UltimoServicio = (select max(UltimoServicio) FROM #UltimoServicio)
 

GO
