USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_Telefono_upd]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_Telefono_upd]
@EmpleadoID INT=0,
@Telefono VARCHAR(20) = NULL
AS
SET NOCOUNT ON 



DECLARE @tel VARCHAR(20), @Cli INT
SET @tel  = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','')
 
IF ISNUMERIC(@tel)<>1
BEGIN 
	SELECT 1 hasError, 'Numero de telefono no númerico' ErrorMessage
	RETURN
END


BEGIN TRY 
	
	UPDATE dbo.Transportista SET Telefono= @tel
	WHERE EmpleadoID=@EmpleadoID

	SELECT 0 hasError, 'El telefono fue registrado correctamente' ErrorMessage

END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH



GO
