USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_Reasignar_HDR]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_Reasignar_HDR]
@HojaDeRutaIDOrigen INT,
@HojaDeRutaIDDestino INT,
@ClienteID INT 
AS

SET NOCOUNT ON 
SET XACT_ABORT ON 

DECLARE @totalfacturas int 
 
BEGIN TRY 
	BEGIN TRANSACTION
  
	IF OBJECT_ID('tempdb.#tmp') IS NOT NULL
	BEGIN	
		DROP TABLE #tmp
	END

	SELECT d.RowID, @HojaDeRutaIDDestino AS HDRDestino,d.TipoFact,d.CodigoFact,d.FacturaID,d.ClienteID,d.ClienteNombre,d.RazonSocial,d.FormaPago,d.ImporteFactura,d.ImporteAPagar
	INTO #tmp
	FROM WhatsAppAPI.dbo.HojaDeRuta a 
	INNER JOIN WhatsAppAPI.dbo.HojaDeRutaDatos d on d.HojaDeRutaID=a.RowID 
	WHERE a.RowID=@HojaDeRutaIDOrigen
	AND d.ClienteID=@ClienteID
	AND ISNULL(d.Excluido,0)=0
	AND d.FormaPago  NOT like 'Micr%'

	INSERT INTO #tmp (RowID,HDRDestino,TipoFact,CodigoFact,FacturaID,ClienteID,ClienteNombre,RazonSocial,FormaPago,ImporteFactura,ImporteAPagar)
	SELECT MAX(d.RowID), @HojaDeRutaIDDestino ,d.TipoFact,d.CodigoFact,d.FacturaID,d.ClienteID,d.ClienteNombre,d.RazonSocial,d.FormaPago,SUM(d.ImporteFactura),SUM(d.ImporteAPagar)
	FROM WhatsAppAPI.dbo.HojaDeRuta a 
	INNER JOIN WhatsAppAPI.dbo.HojaDeRutaDatos d on d.HojaDeRutaID=a.RowID 
	WHERE a.RowID=@HojaDeRutaIDOrigen
	AND d.ClienteID=@ClienteID
	AND ISNULL(d.Excluido,0)=0
	AND d.FormaPago  like 'Micr%'
	GROUP BY d.HojaDeRutaID,d.TipoFact,d.CodigoFact,d.FacturaID,d.ClienteID,d.ClienteNombre,d.RazonSocial,d.FormaPago

	SELECT @totalfacturas = COUNT(DISTINCT FacturaID) FROM #tmp
	 
	INSERT INTO [dbo].[Transportista_HojaDeRutaDatos] ([HojaDeRutaDatosID],HojaDeRutaID,TipoFact,CodigoFact,FacturaID,ClienteID,ClienteNombre,RazonSocial,FormaPago,ImporteFactura,ImporteAPagar)
	SELECT d.RowID,d.HDRDestino,d.TipoFact,d.CodigoFact,d.FacturaID,d.ClienteID,d.ClienteNombre,d.RazonSocial,d.FormaPago,d.ImporteFactura,d.ImporteAPagar
	FROM #tmp d

	IF @@ROWCOUNT>0 
	BEGIN
		UPDATE [dbo].[Transportista_HojaDeRuta] SET
			Clientes = Clientes +1,
			Facturas = Facturas +@totalfacturas

		WHERE HojaDeRutaID = @HojaDeRutaIDDestino 

		-- CREATE TABLE dbo.Transportista_HojaDeRuta_Reasignada (HojaDeRutaIDOrigen INT, HojaDeRutaIDDestino INT, ClienteID INT, DateAdded DATETIME NULL DEFAULT (GETDATE())) 
		INSERT INTO dbo.Transportista_HojaDeRuta_Reasignada (HojaDeRutaIDOrigen, HojaDeRutaIDDestino, ClienteID)
		SELECT @HojaDeRutaIDOrigen, @HojaDeRutaIDDestino, @ClienteID
		WHERE NOT EXISTS (SELECT  NULL FROM Transportista_HojaDeRuta_Reasignada D WHERE D.HojaDeRutaIDOrigen=@HojaDeRutaIDOrigen AND D.HojaDeRutaIDDestino= @HojaDeRutaIDDestino AND D.ClienteID=@ClienteID)

	END
	 
	SELECT 0 hasError, 'La hoja de ruta fue reaasignada correctamente' ErrorMessage
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
 	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage

    -- Test XACT_STATE:
    -- If 1, the transaction is committable.
    -- If -1, the transaction is uncommittable and should
    --     be rolled back.
    -- XACT_STATE = 0 means that there is no transaction and
    --     a commit or rollback operation would generate an error.
    -- Test whether the transaction is uncommittable.
    IF (XACT_STATE()) = -1
    BEGIN
        PRINT N'The transaction is in an uncommittable state. Rolling back transaction.'

        ROLLBACK TRANSACTION;
    END;

    -- Test whether the transaction is committable.
    -- You may want to commit a transaction in a catch block if you want to commit changes to statements that ran prior to the error.
    IF (XACT_STATE()) = 1
    BEGIN
        PRINT N'The transaction is committable. Committing transaction.'

        COMMIT TRANSACTION;
    END;
END CATCH;



GO
