USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cliente_Cerrar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cliente_Cerrar]  
@HojaDeRutaID INT = 0,
@ClienteID INT =0 ,
@MotivoID INT =NULL,
@texto VARCHAR(500) = null,
@Latitud DECIMAL(10,6),
@Longitud DECIMAL(10,6)
AS
BEGIN
    SET NOCOUNT ON;
	/* * * * * * * * * * * * * * * * * * * */
	-- ESTADO
	-- Motivo entre 0 y 1 entonces es un pendiente que tiene que reasiganrse
	-- MOTIVOS
	-- 0 Cerrado
	-- 1 Sin Dinero,
	-- 2 Condicion de venta
	-- 3 No lo pidio
	-- 4 Fuera de termino
	-- 5 Otros
	-- 6 No lo pidio 

	UPDATE dbo.Transportista_HojaDeRutaDatos SET 
		Estado=	
			CASE 
				WHEN @MotivoID in (0,1,6) THEN 3
				WHEN @MotivoID in (2,3,4,5) THEN 2 
			ELSE 1 END,
		Motivo= case when @MotivoID=5 THEN @texto ELSE NULL END,
		MotivoID= @MotivoID,
		ObservacionCC=NULL,
		ObservacionReparto=NULL,
		anuladacompleta = 0,
		Latitud = @Latitud,
		Longitud = @Longitud
	WHERE HojaDeRutaID=@HojaDeRutaID AND ClienteID=@ClienteID

	
	DELETE from cobranza.Transportista_HojaDeRutaDatos where  HojaDeRutaID=@HojaDeRutaID AND ClienteID=@ClienteID


END

GO
