USE [Reparto]
GO
/****** Object:  Table [dbo].[Vehiculos_Checklist]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos_Checklist](
	[ChecklistID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[Fecha] [date] NOT NULL,
	[KmActual] [int] NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[Usuario] [nvarchar](50) NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChecklistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Vehiculos_Checklist] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Vehiculos_Checklist]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Checklist_Vehiculo] FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[Vehiculos] ([VehiculoID])
GO
ALTER TABLE [dbo].[Vehiculos_Checklist] CHECK CONSTRAINT [FK_Vehiculos_Checklist_Vehiculo]
GO
