USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HojaDeRuta_Termianda_Resumen]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transportista_HojaDeRuta_Termianda_Resumen](
	[HojaDeRutaID] [int] NOT NULL,
	[TotalHDR] [numeric](20, 3) NULL,
	[Gastos] [numeric](9, 2) NULL,
	[Efectivo] [numeric](20, 3) NULL,
	[Cheques] [numeric](20, 3) NULL,
	[Transferencias] [numeric](20, 3) NULL,
	[Deposito] [numeric](20, 3) NULL,
	[Diferencia] [numeric](20, 3) NULL,
	[Pendientes] [int] NULL,
	[Anuladas] [int] NULL,
	[Errores] [int] NULL,
	[PendientesJustificadas] [int] NULL,
	[Observacion] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[HojaDeRutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
