USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Vehiculos_Sel]
@VehiculoID INT = 0
AS

SET NOCOUNT ON 

SELECT  * 
FROM Vehiculo 
WHERE Activo=1 AND
(
@VehiculoID=0 OR ID=@VehiculoID
)



GO
