USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HojaDeRutaDatos]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transportista_HojaDeRutaDatos](
	[HojaDeRutaDatosID] [int] NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[TipoFact] [varchar](10) NULL,
	[CodigoFact] [varchar](10) NULL,
	[FacturaID] [int] NULL,
	[ClienteID] [int] NULL,
	[ClienteNombre] [varchar](255) NULL,
	[RazonSocial] [varchar](255) NULL,
	[FormaPago] [varchar](100) NULL,
	[ImporteFactura] [numeric](18, 2) NULL,
	[ImporteAPagar] [numeric](18, 2) NULL,
	[Estado] [int] NULL,
	[Motivo] [varchar](500) NULL,
	[MotivoID] [int] NULL,
	[ObservacionCC] [varchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[CambioCondicionVentaOriginal] [varchar](50) NULL,
	[CambioCondicionVentaFecha] [datetime] NULL,
	[CambioCondicionVentaObservacion] [varchar](1000) NULL,
	[Validado] [int] NULL,
	[ValidadoMensaje] [varchar](1000) NULL,
	[ValidadoPor] [varchar](20) NULL,
	[ValidadoFecha] [datetime] NULL,
	[Justifica] [int] NULL,
	[JustificaFecha] [datetime] NULL,
	[JustificaMensaje] [varchar](1000) NULL,
	[JustificaPor] [varchar](50) NULL,
	[CambioEstadoObservacion] [varchar](1000) NULL,
	[ObservacionReparto] [varchar](1000) NULL,
	[AnuladaCompleta] [tinyint] NULL,
	[Latitud] [decimal](10, 6) NULL,
	[Longitud] [decimal](10, 6) NULL,
 CONSTRAINT [PK_HojaDeRutaDatos] PRIMARY KEY CLUSTERED 
(
	[HojaDeRutaDatosID] ASC,
	[HojaDeRutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Transportista_HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Transportista_HojaDeRutaDatos] ADD  DEFAULT (NULL) FOR [MotivoID]
GO
ALTER TABLE [dbo].[Transportista_HojaDeRutaDatos] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Transportista_HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [AnuladaCompleta]
GO
