USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HojaDeRuta]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transportista_HojaDeRuta](
	[HojaDeRutaID] [int] NOT NULL,
	[TransportistaID] [int] NOT NULL,
	[ZonaID] [int] NOT NULL,
	[Clientes] [int] NOT NULL,
	[Facturas] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[Kilos] [numeric](18, 2) NOT NULL,
	[ImporteTotal] [numeric](20, 3) NULL,
	[DateAdded] [datetime] NOT NULL,
	[RepartoComentarioRecibe] [varchar](100) NULL,
	[TransportistaID2] [int] NULL,
	[FechaCierre] [datetime] NULL,
	[FechaTerminado] [datetime] NULL,
	[RepartidorDeposito] [numeric](20, 2) NULL,
	[RepartidorDepositoObs] [varchar](500) NULL,
	[RepartidorGastos] [numeric](20, 2) NULL,
	[RepartidorGastosObs] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HojaDeRutaID] ASC,
	[TransportistaID] ASC,
	[ZonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Transportista_HojaDeRuta] ADD  CONSTRAINT [DF_Transportista_HojaDeRuta_DateAdded]  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Transportista_HojaDeRuta] ADD  DEFAULT ((0)) FOR [TransportistaID2]
GO
