USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_DBA_BorrarHDR_MalAsignada]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DBA_BorrarHDR_MalAsignada]
AS


delete from Transportista_HojaDeRuta where HojaDeRutaID=97583

delete from Transportista_HojaDeRutaDatos where HojaDeRutaID=97583



DELETE Transportista_HojaDeRutaDatos_Factura_Detalle  
FROM Transportista_HojaDeRutaDatos_Factura_Detalle d
inner join Transportista_HojaDeRutaDatos_Factura_Cabecera c on c.FacturaID=d.FacturaID
 where c.HojaDeRutaID=97583

 
delete from Transportista_HojaDeRutaDatos_Factura_Cabecera where HojaDeRutaID=97583

delete from Transportista_HDR_Login  where HojaDeRutaID=97583 
GO
