USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Reenvio_ins]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Reenvio_ins]     
@HojaDeRutaID INT = 0 ,
@ClienteID INT,
@TelefonoNew VARCHAR(20) = NULL
AS

SET NOCOUNT ON

EXEC  WhatsAppAPI.[dbo].[usp_HojaDeRuta_Reenvio_ins]  @HojaDeRutaID, @ClienteID, @TelefonoNew
GO
