USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_Condicion_upd]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_Condicion_upd] 
    @HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@CondicionVenta VARCHAR(50) = '',
	@Observacion VARCHAR(1000)= ''
AS
SET NOCOUNT ON
 
--select 1 hasError, 'caca' AS ErrorMessage
--RETURN 
DECLARE @OldFormaPago VARCHAR(50)
IF EXISTS (SELECT  NULL FROM  cobranza.Transportista_HojaDeRutaDatos WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID ) 
BEGIN
	SELECT 1 AS hasError, 'Este cliente tiene una cobranza asociada, no puede cambiar la condición.' AS ErrorMessage
	RETURN 
END

BEGIN TRY 
	-- aca yp creo que se le cambia la condicion de venta a todas las facturas del cliente
	 -- ALTER TABLE dbo.Transportista_HojaDeRutaDatos ADD CambioCondicionVentaOriginal VARCHAR(50) NULL, CambioCondicionVentaFecha DATETIME NULL, CambioCondicionVentaObservacion VARCHAR(1000)
	SELECT @OldFormaPago = FormaPago FROM  dbo.Transportista_HojaDeRutaDatos WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID
	
	UPDATE WhatsAppAPI.DBO.Factura_Cliente SET 
		FormaPago=@CondicionVenta 
	WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID

	UPDATE dbo.Transportista_HojaDeRutaDatos SET 
		FormaPago						= @CondicionVenta, 
		CambioCondicionVentaOriginal	= @OldFormaPago,
		CambioCondicionVentaFecha		= GETDATE(),
		CambioCondicionVentaObservacion	= @Observacion
	WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID

	SELECT 0 HasError, 'Se actulizaron:' + CONVERT(VARCHAR(20), +@@ROWCOUNT) + ' facturas'  ErrorMessage
 

	 
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK;

    DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
    SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
		
	SELECT 1 AS hasError, @ErrMsg AS ErrorMessage
	 
END CATCH


GO
