USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Buscar_Cerradas]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Buscar_Cerradas]
    @HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@FacturaID INT=0
AS
BEGIN 
	-- EXEC usp_Transportista_HojaDeRuta_Buscar_Cerradas 85238, 0, 0
	-- [dbo].[usp_Transportista_HojaDeRuta_Buscar_Cerradas]    85238,3410 
	IF OBJECT_ID('tempdb..#descuentos') IS NOT NULL
		DROP TABLE #descuentos
	IF OBJECT_ID('tempdb..#descuentos_detalle') IS NOT NULL
		DROP TABLE #descuentos_detalle
	IF OBJECT_ID('tempdb..#facturas') IS NOT NULL
		DROP TABLE #facturas
	IF OBJECT_ID('tempdb..#transferencias') IS NOT NULL
		DROP TABLE #transferencias
	
	IF OBJECT_ID('tempdb..#transferencias') IS NOT NULL
		DROP TABLE #comprobantes
	
    SELECT 
        HojaDeRutaID,
        ClienteID,
        COUNT(*) AS CantidadComprobantes
		INTO #comprobantes
    FROM cobranza.Transportista_Comprobantes a
    WHERE  a.HojaDeRutaID = @HojaDeRutaID   
	AND ( @ClienteID= 0 OR a.ClienteID = @ClienteID ) 
    GROUP BY HojaDeRutaID, ClienteID


	-- Busco las transferencias del cliente
	SELECT Fecha, Monto,OK,NroRecibo,NroCliente
	INTO #transferencias
	FROM Administracion.dbo.Transferencias WITH(NOLOCK)
	WHERE CONVERT(INT,CONVERT(VARCHAR(10),Fecha,112),112)>= CONVERT(int,CONVERT(VARCHAR(10),DATEADD(DD,-15,GETDATE()),112),112)
	and FechaDepositoECheck not like '%Center%' 

	
	-- obtengo los descuentos  
	--select CFC.FacturaID,CFC.ClienteID, MAX(CFC.Total)-( 
	select  CFC.HojaDeRutaID,CFC.FacturaID,CFC.ClienteID, CFD.Articulo, Cantidad= CASE WHEN CFD.Cantidad=0 THEN OFD.Cantidad ELSE OFD.Cantidad-CFD.Cantidad END, CASE WHEN CFD.Cantidad=0 THEN OFD.Cantidad ELSE OFD.Cantidad-CFD.Cantidad END AS CantidadDescontada, OFD.PrecioUnitario, CFD.PercepIIBB, CFD.Descripcion,OFD.Cantidad AS CantidadOriginal, PercepIIBBUnitario = CAST((CFD.PercepIIBB/CASE WHEN CFD.Cantidad=0 THEN OFD.Cantidad ELSE OFD.Cantidad-CFD.Cantidad END) AS Decimal(6,3))
	INTO #descuentos
	from cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera CFC 
	INNER JOIN cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle CFD ON CFD.FacturaID = CFC.FacturaID  
	INNER JOIN dbo.Transportista_HojaDeRutaDatos_Factura_Detalle OFD ON OFD.FacturaID = CFC.FacturaID   and OFD.Id=CFD.Id
	WHERE ( @HojaDeRutaID= 0 OR CFC.HojaDeRutaID = @HojaDeRutaID )   
	AND CFD.Cantidad<>OFD.Cantidad  

	SELECT HojaDeRutaID, FacturaID,ClienteID,Articulo,cantidad,descuento=CAST(CantidadDescontada*(PrecioUnitario*1.21+PercepIIBBUnitario) AS NUMERIC(20,3)),PrecioUnitario, PercepIIBBUnitario
	INTO #descuentos_detalle
	FROM #descuentos

	SELECT HojaDeRutaID, ClienteID, FacturaID,
         stuff( (select concat(' FacturaID:', FacturaID, ' - Articulo:', Articulo,' - Cantidad:', CONVERT(VARCHAR(3),Cantidad),' - Unitario: ', '$ ' + CONVERT(VARCHAR(20),PrecioUnitario ) ,' - PercepIIBB: ', '$ ' + CONVERT(VARCHAR(20),PercepIIBBUnitario ) , ' - Descuento: ', '$ ' +  CONVERT(VARCHAR(20),CAST(descuento AS DECIMAL(20,2)) ) )
               from #descuentos_detalle t2
               where t2.HojaDeRutaID=t.HojaDeRutaID
			   AND t2.FacturaID = t.FacturaID
			   AND t2.ClienteID = t.ClienteID
               FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '')  as Detalle
	INTO #facturas
	from #descuentos_detalle t
	group by HojaDeRutaID,ClienteID,FacturaID 


	SELECT b.HojaDeRutaID, b.ClienteID,b.ClienteNombre AS ClienteNombre, 
		CASE 
			WHEN b.Estado = 0 THEN 'No iniciada' 
			WHEN b.Estado = 1 THEN 'Entregado' 
			--WHEN b.Estado = 3 THEN 'Entregado c/descuento'
			WHEN b.Estado IN  ( 2, 3) THEN  ISNULL(MAX(c.Motivo),'') 
		END AS EstadoEntrega, 
		b.Estado,
		COUNT(*) TotalFacturas, Sum(b.ImporteFactura) ImporteACobrar,
		ISNULL(MAX(d.Efectivo)+MAX(d.Cheque)+MAX(d.Transferencia),0) AS TotalCobrado,
		ISNULL(MAX(d.Efectivo),0) AS Efectivo,
		ISNULL(MAX(d.Cheque),0) AS Cheque,
		ISNULL(MAX(d.transferencia),0) AS Transferencia,
		ISNULL((SELECT sum(X.descuento) FROM #descuentos_detalle x where x.ClienteID=b.ClienteID),0) AS Descuentos,
		Facturas=ISNULL(CAST(
		(SELECT   stuff( (select concat('-', t2.FacturaID)
               from dbo.Transportista_HojaDeRutaDatos t2
               where t2.HojaDeRutaID = b.HojaDeRutaID
			   AND t2.ClienteID = b.ClienteID 
			   AND t2.FormaPago= b.FormaPago
               FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '') 
		) AS VARCHAR(4000) ),'')
		,
		ISNULL(CAST(
		(SELECT   stuff( (select concat(' ', t2.Detalle)
               from #facturas t2
               where t2.ClienteID = b.ClienteID
			   and t2.HojaDeRutaID=b.HojaDeRutaID
               FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '') 
		) AS VARCHAR(4000) ),'')  + ISNULL('Reasignada a:' +  CONVERT(VARCHAR(10), MAX(r.HojaDeRutaIDDestino)),'') AS Detalles ,
		color= 
			CASE 
				WHEN b.Estado = 2 THEN '#FF0000' -- Rojo
				WHEN b.Estado = 3 THEN '#FFF9E6' -- Amarillo
				WHEN SUM(d.Transferencia) >0 THEN '#ff9ad1'  -- Rosa
				WHEN SUM(d.Cheque) >0 THEN '#512E5F'  -- Violeta
				WHEN SUM(d.Efectivo) >0 THEN '#00ff6c'  -- Verde
			ELSE '' END,
		CASE 
			WHEN b.Estado = 2 THEN 'ANULADA'
			WHEN b.Estado = 3 THEN 'PENDIENTE' 
			ELSE b.FormaPago END AS FormaPago,
		CASE 
			WHEN b.Estado=2 THEN 'YYYY'
			WHEN b.Estado = 3 THEN 'ZZZZ' 
			ELSE  b.FormaPago

		END xx, 
		Observacion = isnull(MAX(b.Motivo),'') + ' ' +  isnull(MAX(b.ObservacionCC),''),
		PosibleTransferencia = ISNULL(CAST(
		(SELECT   stuff( (select concat(' ', t2.Monto, ' - OK: ', t2.OK, ' - NroRecibo: ', t2.NroRecibo,' - NroCli: ' ,NroCliente)
               from #transferencias t2
               where t2.Monto BETWEEN SUM(d.Transferencia) - 1 and SUM(d.transferencia) + 1  AND t2.NroCliente=CONVERT(VARCHAR,b.ClienteID)
			   --or ( t2.NroCliente LIKE  '%' +  CONVERT(VARCHAR(10),b.ClienteID) + '%' AND  t2.Monto BETWEEN SUM(d.Transferencia) - 1500 and SUM(d.transferencia) + 1500 ) 
               FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '') 
		) AS VARCHAR(4000) ),'')

		--Registrada
		 ,Reasignado = MAX(r.HojaDeRutaIDDestino)
		 ,b.Validado
		 ,b.ValidadoMensaje
		 ,MAX(CantidadComprobantes) CantidadComprobantes
    FROM dbo.Transportista_HojaDeRuta a 
    INNER JOIN dbo.Transportista_HojaDeRutaDatos b on b.HojaDeRutaID=a.HojaDeRutaID 
	LEFT JOIN dbo.Transportista_HojaDeRuta_MotivosRechazo c on c.MotivoID=b.MotivoID
	LEFT JOIN (SELECT HojaDeRutaID,ClienteID,FormaPago, MAX(Efectivo) AS Efectivo, Max(Cheque) AS Cheque, MAX(Transferencia) AS Transferencia FROM cobranza.Transportista_HojaDeRutaDatos WHERE  ( @HojaDeRutaID= 0 OR HojaDeRutaID= @HojaDeRutaID )  AND ( @ClienteID= 0 OR ClienteID = @ClienteID) GROUP BY HojaDeRutaID,ClienteID,FormaPago)
			d on d.HojaDeRutaID=b.HojaDeRutaID  
		and d.ClienteID=b.ClienteID --AND d.HojaDeRutaDatosID=b.HojaDeRutaDatosID
		and d.FormaPago=b.FormaPago

	LEFT JOIN dbo.Transportista_HojaDeRuta_Reasignada r on r.hojaderutaidOrigen=a.HojaDeRutaID and r.clienteID=b.ClienteID
	
	LEFT JOIN #comprobantes T ON T.HojaDeRutaID = b.HojaDeRutaID AND T.ClienteID = b.ClienteID

    WHERE  ( @HojaDeRutaID= 0 OR b.HojaDeRutaID = @HojaDeRutaID ) 
	AND ( @ClienteID= 0 OR b.ClienteID = @ClienteID ) 
	AND ( @FacturaID= 0 OR b.FacturaID = @FacturaID ) 
	AND a.Estado>2
	GROUP BY b.HojaDeRutaId, b.ClienteID,b.ClienteNombre,b.Estado,CASE 
			WHEN b.Estado = 2 THEN 'ANULADA'
			WHEN b.Estado = 3 THEN 'PENDIENTE' 
			ELSE b.FormaPago END, b.FormaPago,
		CASE WHEN b.Estado=2 THEN 'ZZZZ'
			WHEN b.FormaPago = 'CONTADO' THEN b.FormaPago
			WHEN b.FormaPago LIKE '%CASA%' THEN b.FormaPago 
			ELSE 'CUENTA CORRIENTE' 
		END,
		b.Validado,
		b.ValidadoMensaje
	ORDER BY 
		xx,
		CASE 
			WHEN b.Estado = 2 THEN 'ANULADA'
			WHEN b.Estado = 3 THEN 'PENDIENTE' 
			ELSE b.FormaPago END   ,
 
		b.ClienteID



END


GO
