USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cerradas]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC [dbo].[usp_Transportista_HojaDeRuta_Cerradas] 0, @Fecha = '2025-06-05', @TransportistaID = 0

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cerradas] 
    @HojaDeRutaID INT = 0,
	@Fecha DATE = NULL,
	@TransportistaID INT = 0
AS
BEGIN


	DECLARE @MaxList INT
	SELECT @MaxList =  Valor FROM Configuracion WHERE Nombre = 'MaxList'
	
	SET @MaxList = ISNULL(@MaxList,10)

 
	SELECT TOP (@MaxList)  
		a.HojaDeRutaID,
		t.Apellido +', ' +t.Nombre AS Transportista,
        COUNT(DISTINCT d.ClienteID) AS TotalClientes,
        COUNT(DISTINCT d.FacturaID) AS TotalFacturas,
        SUM(CASE WHEN d.Estado <> 0 THEN 1 ELSE 0 END) AS ClientesEntregados,
        SUM(CASE WHEN d.Estado = 0 THEN 1 ELSE 0 END) AS ClientesPendientes,
		ISNULL(SUM(d.ImporteAPagar),0) TotalACobrar,
		ISNULL(SUM(cb.ImporteTotalCobrado),0) TotalCobrado,
		t.TransportistaID

    FROM Reparto.dbo.Transportista_HojaDeRuta a
	INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID
	INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID
	LEFT JOIN cobranza.Transportista_HojaDeRutaDatos cb on cb.HojaDeRutaDatosID=d.HojaDeRutaDatosID and cb.HojaDeRutaID=d.HojaDeRutaID and cb.ClienteID=d.ClienteID 
    WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
	AND a.Estado = 2
	-- AND (@Fecha IS NULL OR DATEDIFF(dd,a.DateAdded,ISNULL(@Fecha,'2020-01-01'))=0)
	AND (@Fecha IS NULL OR a.DateAdded > DATEADD(DD,0,@Fecha))
	AND (@TransportistaID = 0 OR a.TransportistaID=@TransportistaID)

	-- 0 no inciiada
	-- 1 pendiente
	GROUP BY a.HojaDeRutaID,t.Apellido +', ' +t.Nombre,
		t.TransportistaID
	ORDER BY a.HojaDeRutaID DESC

END

GO
