USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Zona_sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Zona_sel]
@ZonaID INT =0
AS

SET NOCOUNT ON

SELECT * 
FROM dbo.Zona z
WHERE @ZonaID=0 or z.ZonaID=@ZonaID



GO
