USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Dashboard]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Dashboard] 
@FechaInicio DATE,
@FechaFin DATE,
@TransportistaID INT = NULL,
@ClienteNombre NVARCHAR(100) = NULL
AS
SET NOCOUNT ON
BEGIN  
  
	BEGIN TRY DROP TABLE #tmp END TRY BEGIN CATCH END CATCH

	SELECT a.*, CONVERT(DATE,a.DateAdded ) Fecha,
	CASE 
		WHEN b.Estado IN (0)	THEN 'En Proceso'    
		WHEN b.Estado IN (1)		THEN 'Abierta'    
		WHEN b.Estado IN (2)		THEN 'Cerrada'    
		WHEN b.Estado IN (3)	THEN 'Terminada' 
		ELSE NULL END   AS EstadoHoja,
	z.Nombre NombreZona 
	,t.Apellido +' ' + t.Nombre Transportista
	,t2.Apellido +' ' + t2.Nombre Ayudante, 
	Errores=
		(CASE 
			WHEN Validado=1 THEN 0 
			WHEN Validado=0 THEN 1 
			ELSE 0 END) ,
	Pendientes= CASE WHEN a.Estado = 3 THEN 1 ELSE 0 END,
	Anuladas= CASE WHEN a.Estado = 2 THEN 1 ELSE 0 END
	INTO #tmp
	FROM Transportista_HojaDeRutaDatos a 
	INNER JOIN Transportista_HojaDeRuta b on b.HojaDeRutaID=a.HojaDeRutaID
	LEFT JOIN dbo.Zona z on z.ZonaID= b.ZonaID
	LEFT JOIN dbo.Transportista t on t.TransportistaID=b.TransportistaID
	LEFT JOIN dbo.Transportista t2 on t2.TransportistaID=b.TransportistaID2
	WHERE  b.DateAdded between @FechaInicio and @FechaFin
	AND (@TransportistaID IS NULL OR b.TransportistaID=@TransportistaID or b.TransportistaID2=@TransportistaID)
	AND (@ClienteNombre IS NULL OR a.ClienteNombre LIKE '%' + @ClienteNombre + '%')


	SELECT NombreZona as Categoria, Transportista Subcategoria,  SUM(Errores) AS Valor1, Sum(Pendientes) AS Valor2, SUM(Anuladas) AS Valor3
	FROM #tmp
	GROUP BY NombreZona, Transportista 

	--EXEC [dbo].[usp_Transportista_HojaDeRuta_Dashboard] '2025-07-01','2025-07-16',NULL,NULL

END


GO
