USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Mantenimiento_Eliminar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculos_Mantenimiento_Eliminar]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Vehiculos_Mantenimiento
    WHERE ID = @ID;
END

GO
