USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_Vincular_HDR]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_Vincular_HDR]
@HojaDeRutaID INT,
@TransportistaID INT,
@VehiculoID INT,
@ZonaID INT,
@Kilos NUMERIC(18,2),
@TransportistaID2 INT =0
AS

SET NOCOUNT ON 
SET XACT_ABORT ON

DECLARE @telefono VARCHAR(20) = NULL, @patente VARCHAR(20) = NULL
DECLARE @payload VARCHAR(4000) = NULL, @password varchar(6) = NULL, @Zona VARCHAR(100)

-- Validaciones 
IF NOT EXISTS (SELECT NULL FROM Zona WHERE ZonaID=@ZonaID)
BEGIN
	SELECT 1 hasError, 'No existe zona asiganada' ErrorMessage
	RETURN
END
SELECT @Zona= Nombre  FROM Zona WHERE ZonaID=@ZonaID

IF @Zona is null or @Zona = ''
BEGIN
	SELECT 1 hasError, 'NOmbre de zona incorrecta' ErrorMessage
	RETURN
END

IF NOT EXISTS (SELECT NULL FROM Transportista WHERE TransportistaID=@TransportistaID)
BEGIN
	SELECT 1 hasError, 'No existe transportista' ErrorMessage
	RETURN
END
--IF NOT EXISTS (SELECT NULL FROM Transportista WHERE TransportistaID=@TransportistaID2)
--BEGIN
--	SELECT 1 hasError, 'No existe el segundo transportista' ErrorMessage
--	RETURN
--END

IF EXISTS (SELECT NULL FROM dbo.Transportista_HojaDeRuta WHERE HojaDeRutaID=@HojaDeRutaID)
BEGIN
	SELECT 1 hasError, 'HDR ya asiganda' ErrorMessage
	RETURN
END

SELECT @telefono = telefono FROM dbo.Transportista WHERE TransportistaID=@TransportistaID

IF @telefono is NULL
BEGIN
	SELECT 1 hasError, 'El transportista no tiene telefono asignado' ErrorMessage
	RETURN
END


SELECT @patente = patente FROM dbo.Vehiculo WHERE ID=@VehiculoID

IF @patente is NULL or @patente=''
BEGIN
	SELECT 1 hasError, 'El transportista no tiene vehiculo asignado' ErrorMessage
	RETURN
END

SET @password = CAST((ABS(CHECKSUM(NEWID()))%10) AS VARCHAR(1)) + CHAR(ASCII('a')+(ABS(CHECKSUM(NEWID()))%25)) + CHAR(ASCII('A')+(ABS(CHECKSUM(NEWID()))%25)) + LEFT(NEWID(),3) 

BEGIN TRY 
	BEGIN TRANSACTION

	SET @payload=	'{
	  "messaging_product": "whatsapp",
	  "to": "'+@telefono+'",
	  "type": "template",
	  "template": {
		"name": "repartoing", 
		"language": {
		  "code": "es"
		},
	      "components": [
			  {
				"type": "body",
				"parameters": [
				  {
					"type": "text",
					"text": "'+CONVERT(VARCHAR(10),@HojaDeRutaID)+'"   
				  }
				]
			  },
			  {
				"type": "button",
				"sub_type": "url",
				"index": 0,
				"parameters": [
				  {
					"type": "text",
					"text": "?patente='+@patente+'&password='+CONVERT(VARCHAR(6),@password)+'" 
				  }
				]
			  }
			]
		  }
		}' 
	

	--SET @payload=	'{
	--  "messaging_product": "whatsapp",
	--  "to": "'+@telefono+'",
	--  "type": "template",
	--  "template": {
	--	"name": "reparto", 
	--	"language": {
	--	  "code": "es_AR"
	--	},
	--  "components": [
	--	{
	--		"type": "body",
	--		"parameters": [{
	--			"type": "text",
	--			"text":"'+CONVERT(VARCHAR(10),@HojaDeRutaID)+'"
	--		},
	--		{
	--			"type": "text",
	--			"text": "'+CONVERT(VARCHAR(10),@kilos)+'"
	--		},
	--		{
	--			"type": "text",
	--			"text": "'+CONVERT(VARCHAR(50),@Zona)+'"
	--		},
	--		{
	--			"type": "text",
	--			"text": "'+@patente+'"
	--		},
	--		{
	--			"type": "text",
	--			"text": "'+CONVERT(VARCHAR(6),@password)+'"
	--		}]
	--	}]
	--  }
	--}' 
	
	-- depuro esquema dbo
	DELETE FROM dbo.Transportista_HojaDeRuta WHERE HojaDeRutaID= @HojaDeRutaID
	DELETE FROM dbo.Transportista_HojaDeRutaDatos WHERE HojaDeRutaID= @HojaDeRutaID
	DELETE DEL
	FROM dbo.Transportista_HojaDeRutaDatos_Factura_Detalle DEL
	INNER JOIN Transportista_HojaDeRutaDatos_Factura_Cabecera C on C.FacturaID = DEL.FacturaID
	WHERE c.HojaDeRutaID= @HojaDeRutaID	
	DELETE FROM dbo.Transportista_HojaDeRutaDatos_Factura_Cabecera WHERE HojaDeRutaID= @HojaDeRutaID
	-- cobranza
	DELETE FROM cobranza.Transportista_HojaDeRutaDatos WHERE HojaDeRutaID= @HojaDeRutaID
	DELETE DEL 
	FROM cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle DEL
	INNER JOIN cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera C ON C.FacturaID = DEL.FacturaID
	WHERE c.HojaDeRutaID= @HojaDeRutaID
	DELETE FROM cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera WHERE HojaDeRutaID= @HojaDeRutaID
	--ALTER TABLE dbo.Transportista_HojaDeRuta ADD TransportistaID2 INT DEFAULT 0
	
	INSERT INTO dbo.Transportista_HojaDeRuta (HojaDeRutaID,TransportistaID,ZonaID,Clientes,Facturas,Estado,Kilos,TransportistaID2)
	SELECT @HojaDeRutaID,@TransportistaID,@ZonaID,Clientes,Facturas,0,@Kilos,CASE WHEN @TransportistaID2 IN ( 0,-1) Then NULL ELSE @TransportistaID2 END 
	FROM WhatsAppAPI.dbo.HojaDeRuta a 
	WHERE a.RowID=@HojaDeRutaID

	-- hay un problema con el microcredito que genera la misma factura y divide el importe en la cantidad de coutas
	INSERT INTO [dbo].[Transportista_HojaDeRutaDatos] ([HojaDeRutaDatosID],HojaDeRutaID,TipoFact,CodigoFact,FacturaID,ClienteID,ClienteNombre,RazonSocial,FormaPago,ImporteFactura,ImporteAPagar)
	SELECT d.RowID,d.HojaDeRutaID,d.TipoFact,d.CodigoFact,d.FacturaID,d.ClienteID,d.ClienteNombre,d.RazonSocial,d.FormaPago,d.ImporteFactura,d.ImporteAPagar
	FROM WhatsAppAPI.dbo.HojaDeRuta a 
	INNER JOIN WhatsAppAPI.dbo.HojaDeRutaDatos d on d.HojaDeRutaID=a.RowID 
	WHERE a.RowID=@HojaDeRutaID
	AND ISNULL(d.Excluido,0)=0
	AND d.FormaPago NOT like 'Micr%'

	INSERT INTO [dbo].[Transportista_HojaDeRutaDatos] ([HojaDeRutaDatosID],HojaDeRutaID,TipoFact,CodigoFact,FacturaID,ClienteID,ClienteNombre,RazonSocial,FormaPago,ImporteFactura,ImporteAPagar)
	SELECT MAX(d.RowID),d.HojaDeRutaID,d.TipoFact,d.CodigoFact,d.FacturaID,d.ClienteID,d.ClienteNombre,d.RazonSocial,d.FormaPago,SUM(d.ImporteFactura),SUM(d.ImporteAPagar)
	FROM WhatsAppAPI.dbo.HojaDeRuta a 
	INNER JOIN WhatsAppAPI.dbo.HojaDeRutaDatos d on d.HojaDeRutaID=a.RowID 
	WHERE a.RowID=@HojaDeRutaID
	AND ISNULL(d.Excluido,0)=0
	AND d.FormaPago  like 'Micr%'
	GROUP BY d.HojaDeRutaID,d.TipoFact,d.CodigoFact,d.FacturaID,d.ClienteID,d.ClienteNombre,d.RazonSocial,d.FormaPago

	INSERT INTO dbo.Transportista_HDR_Login (HojaDeRutaID , Patente, sPassword ) VALUES ( @HojaDeRutaID,@patente,@password )
	  
	INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono) VALUES (@payload,'reparto',@telefono)

	-- agregado para enviar tambien a ADM 
	SET @payload=	'{
	  "messaging_product": "whatsapp",
	  "to": "2995360747",
	  "type": "template",
	  "template": {
		"name": "repartoing", 
		"language": {
		  "code": "es"
		},
	      "components": [
			  {
				"type": "body",
				"parameters": [
				  {
					"type": "text",
					"text": "'+CONVERT(VARCHAR(10),@HojaDeRutaID)+'"   
				  }
				]
			  },
			  {
				"type": "button",
				"sub_type": "url",
				"index": 0,
				"parameters": [
				  {
					"type": "text",
					"text": "?patente='+@patente+'&password='+CONVERT(VARCHAR(6),@password)+'" 
				  }
				]
			  }
			]
		  }
		}' 
	
	INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono) VALUES (@payload,'reparto','2995360747')


	-- agregado para enviar tambien a ADM 
	SET @payload=	'{
	  "messaging_product": "whatsapp",
	  "to": "2995360766",
	  "type": "template",
	  "template": {
		"name": "repartoing", 
		"language": {
		  "code": "es"
		},
	      "components": [
			  {
				"type": "body",
				"parameters": [
				  {
					"type": "text",
					"text": "'+CONVERT(VARCHAR(10),@HojaDeRutaID)+'"   
				  }
				]
			  },
			  {
				"type": "button",
				"sub_type": "url",
				"index": 0,
				"parameters": [
				  {
					"type": "text",
					"text": "?patente='+@patente+'&password='+CONVERT(VARCHAR(6),@password)+'" 
				  }
				]
			  }
			]
		  }
		}' 
	
	INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono) VALUES (@payload,'reparto','2995360766')



	SELECT 0 hasError, 'La hoja de ruta fue asignada correctamente, el mensaje será inviado en los proximos 5 minutos.' ErrorMessage
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
 	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage

    -- Test XACT_STATE:
    -- If 1, the transaction is committable.
    -- If -1, the transaction is uncommittable and should
    --     be rolled back.
    -- XACT_STATE = 0 means that there is no transaction and
    --     a commit or rollback operation would generate an error.
    -- Test whether the transaction is uncommittable.
    IF (XACT_STATE()) = -1
    BEGIN
        PRINT N'The transaction is in an uncommittable state. Rolling back transaction.'

        ROLLBACK TRANSACTION;
    END;

    -- Test whether the transaction is committable.
    -- You may want to commit a transaction in a catch block if you want to commit changes to statements that ran prior to the error.
    IF (XACT_STATE()) = 1
    BEGIN
        PRINT N'The transaction is committable. Committing transaction.'

        COMMIT TRANSACTION;
    END;
END CATCH;



GO
