USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_upsert]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Vehiculos_upsert]
@Patente VARCHAR(20),
@Accion INT = 1
AS


IF @Accion = 1
	INSERT INTO Vehiculo (Patente,Activo) 
	SELECT UPPER(@Patente), 1
	WHERE NOT EXISTS (SELECT NULL FROM  Vehiculo WHERE Patente=@Patente)
	
IF @Accion = 2
	UPDATE Vehiculo SET activo=0 WHERE Patente= UPPER(@Patente)
IF @Accion = 3
	UPDATE Vehiculo SET activo=1 WHERE Patente= UPPER(@Patente)
 



GO
