USE [Reparto]
GO
/****** Object:  Table [dbo].[Vehiculos_Checklist_Detalle]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos_Checklist_Detalle](
	[DetalleID] [int] IDENTITY(1,1) NOT NULL,
	[ChecklistID] [int] NOT NULL,
	[Categoria] [nvarchar](100) NOT NULL,
	[SubCategoria] [nvarchar](100) NULL,
	[Item] [nvarchar](150) NOT NULL,
	[Valor] [nvarchar](50) NOT NULL,
	[Corregido] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Vehiculos_Checklist_Detalle] ADD  DEFAULT ((0)) FOR [Corregido]
GO
ALTER TABLE [dbo].[Vehiculos_Checklist_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Checklist_Detalle_Checklist] FOREIGN KEY([ChecklistID])
REFERENCES [dbo].[Vehiculos_Checklist] ([ChecklistID])
GO
ALTER TABLE [dbo].[Vehiculos_Checklist_Detalle] CHECK CONSTRAINT [FK_Vehiculos_Checklist_Detalle_Checklist]
GO
