USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HDR_Login_Log]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transportista_HDR_Login_Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Patente] [varchar](50) NULL,
	[FechaHoraIntento] [datetime] NULL,
	[Exitoso] [bit] NULL,
	[IP_Origen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Transportista_HDR_Login_Log] ADD  DEFAULT (getdate()) FOR [FechaHoraIntento]
GO
