USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cerrar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cerrar]  
@HojaDeRutaID INT = 0,
@RepartidorDeposito		NUMERIC(20,2) = NULL,
@RepartidorGastos		NUMERIC(20,2) = NULL,
@RepartidorDepositoObs	VARCHAR(500) = NULL,
@RepartidorGastosObs	VARCHAR(500) = NULL



-- ,@DNI VARCHAR(100)= NULL
AS
BEGIN
    SET NOCOUNT ON;
	
	DECLARE @TieneClientesSinProcesar INT
	select @TieneClientesSinProcesar  = COUNT(DISTINCT ClienteID) from Transportista_HojaDeRutaDatos where HojaDeRutaID=@HojaDeRutaID AND Estado=0


	IF @TieneClientesSinProcesar >0 
	BEGIN
		SELECT 1 hasError, 'Tiene ' + CONVERT(VARCHAR(10),@TieneClientesSinProcesar) + ' cliente' +CASE WHEN @TieneClientesSinProcesar>1 THEN 's' ELSE '' END+ ' sin cerrar.' ErrorMessage
		
		RETURN 
	END


	UPDATE dbo.Transportista_HojaDeRuta SET 
		Estado					 = 2, 
		FechaCierre				 = GETDATE(),
		RepartidorDeposito		 = @RepartidorDeposito		,
		RepartidorDepositoObs	 = @RepartidorDepositoObs	,
		RepartidorGastos		 = @RepartidorGastos		,
		RepartidorGastosObs		 = @RepartidorGastosObs		 
	--, RepartoComentarioRecibe= @DNI  
	WHERE HojaDeRutaID=@HojaDeRutaID 

	
	SELECT 0 hasError, 'Hoja de Ruta cerrada correctamente' ErrorMessage
	 
END


GO
