USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Buscar_Analudas]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Buscar_Analudas]
    @HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@FacturaID INT=0
AS
BEGIN

    SELECT  d.HojaDeRutaID,d.FacturaID,d.ClienteID,d.ClienteNombre,d.FormaPago,d.ImporteFactura,d.Estado,a.DateAdded as Fecha,d.Justifica,d.JustificaFecha,d.JustificaMensaje
    FROM Reparto.dbo.Transportista_HojaDeRuta a
	INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID  
    WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
	AND(@ClienteID= 0  or  d.ClienteID= @ClienteID)
	AND(@FacturaID= 0  or  d.FacturaID= @FacturaID)
	--AND d.Estado>=2
	--AND d.Estado = 2 and d.MotivoID in (2,3,4,5) 
	--AND a.Estado IN (0)
 
END



GO
