USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cliente_Facturas_Detalle_Sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cliente_Facturas_Detalle_Sel] 
	@FacturaID INT = 0
AS
BEGIN 
	IF OBJECT_ID('tempdb..#Results') IS NOT NULL
		DROP TABLE #Results

	DECLARE @iibb FLOAT
	DECLARE @iibbfact NUMERIC(20,3)
	 
	  
	SELECT Fd.id, FD.Factura, FD.Articulo,FD.Cantidad 
		,FD.Descripcion, FD.Dto, FD.PrecioUnitario,PrecioUnitario*(CASE WHEN FD.Factura LIKE 'FB%' THEN 1 ELSE 0.21 END)  AS ImporteConIva, Importe*(PercepIIBB/Subtotal) AS PercepcionIIBB, 
		TotalConImpuestos = CAST(ROUND(Importe*(CASE WHEN FD.Factura LIKE 'FB%' THEN 1 ELSE 1.21 END) + Importe*(PercepIIBB/Subtotal),4) AS NUMERIC(18,2))
	INTO #Results
	FROM WhatsAppAPI.dbo.FacturaCabecera FC 
	INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
	WHERE FC.FacturaID = @FacturaID 
	ORDER BY fd.Id 
	
	UPDATE #Results SET TotalConImpuestos =0 WHERE Descripcion LIKE 'COMBO%'
	UPDATE #Results SET TotalConImpuestos =0 WHERE Descripcion LIKE 'GRAFFITAZO%'
	UPDATE #Results SET TotalConImpuestos =0 WHERE Descripcion LIKE 'BOMBA%'
	UPDATE #Results SET TotalConImpuestos =0 WHERE Descripcion LIKE 'REMATE%'

	SELECT * FROM #Results ORDER BY 1 

	
	IF OBJECT_ID('tempdb..#Results') IS NOT NULL
		DROP TABLE #Results
END


GO
