USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_America_sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_America_sel]
@TransportistaCodigoAmerica VARCHAR(10) = ''

AS

SET NOCOUNT ON
 
SELECT * 
FROM dbo.Transportista 
WHERE TransportistaCodigoAmerica = @TransportistaCodigoAmerica 
AND Activo=1
AND Nombre not like 'ANULADO%'
ORDER BY Apellido
GO
