USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Mantenimiento_Historial]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculos_Mantenimiento_Historial]
    @VehiculoID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ID,
        Fecha,
        Usuario,
        Comentario,
        FechaModificacion,
        UsuarioModificacion
    FROM dbo.Vehiculos_Mantenimiento
    WHERE VehiculoID = @VehiculoID
    ORDER BY Fecha DESC;
END

GO
