USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HojaDeRuta_Reasignada]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportista_HojaDeRuta_Reasignada](
	[HojaDeRutaIDOrigen] [int] NULL,
	[HojaDeRutaIDDestino] [int] NULL,
	[ClienteID] [int] NULL,
	[DateAdded] [datetime] NULL,
	[Justifica] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Transportista_HojaDeRuta_Reasignada] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Transportista_HojaDeRuta_Reasignada] ADD  DEFAULT ((0)) FOR [Justifica]
GO
