USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transportista_sel]
@EmpleadoID INT = 0,
@TransportistaID INT=0
AS

SET NOCOUNT ON

insert into Transportista (EmpleadoID,Nombre,Apellido,Telefono,FechaAlta,Activo)
select r.EmpleadoID,r.nombre,r.Apellido,null,getdate(),1 
from reclamos.dbo.Nomina r
LEFT JOIN Transportista t on t.EmpleadoID=r.EmpleadoID
where t.EmpleadoID is null and r.esTransportista=1 and r.esActivo=1
  

SELECT * 
FROM dbo.Transportista 
WHERE (@EmpleadoID= 0 OR EmpleadoID = @EmpleadoID)
AND 
	(@TransportistaID=0 OR TransportistaID=@TransportistaID)
AND Activo=1
AND Nombre not like 'ANULADO%'
ORDER BY Apellido
GO
