USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cabecera_selV3]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cabecera_selV3]
    @HojaDeRutaID INT = 0,
	@ClienteID INT = 0
AS
BEGIN
 -- se usa esde el celular
 -- [dbo].[usp_Transportista_HojaDeRuta_Cabecera_selV3]    3594

	SELECT b.ClienteID,ISNULL(l.MaestroNombre,b.ClienteNombre) as ClienteNombre, 
		l.Direccion, 
		CASE 
			WHEN b.Estado = 0 THEN 'No iniciada' 
			WHEN b.Estado = 1 THEN 'Entregado'  
			WHEN b.Estado = 2 THEN ISNULL(MAX(c.Motivo),'') 
			WHEN b.Estado = 3 THEN ISNULL(MAX(c.Motivo),'') 
		END AS EstadoEntrega, 
		b.Estado,
		COUNT(DISTINCT b.FacturaID) TotalFacturas, Sum(b.ImporteFactura) ImporteACobrar,
		ISNULL(MAX(d.Efectivo)+MAX(d.Cheque)+MAX(d.Transferencia),0) AS TotalCobrado, 
		b.FormaPago/*, ISNULL( O.Orden ,b.ClienteID ) Orden*/, l.latitud, l.longitud,
		MAX(d.Efectivo) efectivo, MAX(d.Cheque) cheque, max(d.Transferencia) as transferencia,
		SUM(
			CASE WHEN b.FormaPago like '%Contado%' THEN 0 
			ELSE 
				CASE WHEN b.Estado = 3  THEN 0
				ELSE ISNULL(b.ImporteFactura,0)  END
			END
		) - 			CASE WHEN b.FormaPago like '%Contado%' THEN 0 
			ELSE 
				CASE WHEN b.Estado = 3  THEN 0 
				ELSE ISNULL(MAX(d.Efectivo)+MAX(d.Cheque)+MAX(d.Transferencia),0)   END
			END
			   as CC,
			CantidadComprobantes = (SELECT COUNT(1) FROM cobranza.Transportista_Comprobantes ZZ WHERE ZZ.HojaDeRutaID = @HojaDeRutaID AND ZZ.ClienteID= b.ClienteID )
		
	into #Result
    FROM dbo.Transportista_HojaDeRuta a 
    INNER JOIN dbo.Transportista_HojaDeRutaDatos b on b.HojaDeRutaID=a.HojaDeRutaID 
	LEFT JOIN dbo.Transportista_HojaDeRuta_MotivosRechazo c on c.MotivoID=b.MotivoID
	LEFT JOIN (SELECT HojaDeRutaID,ClienteID,FormaPago, MAX(Efectivo) AS Efectivo, Max(Cheque) AS Cheque, MAX(Transferencia) AS Transferencia FROM cobranza.Transportista_HojaDeRutaDatos WHERE HojaDeRutaID = @HojaDeRutaID AND ( @ClienteID= 0 OR ClienteID = @ClienteID) GROUP BY HojaDeRutaID,ClienteID,FormaPago)
			d on d.HojaDeRutaID=b.HojaDeRutaID  
		and d.ClienteID=b.ClienteID --AND d.HojaDeRutaDatosID=b.HojaDeRutaDatosID
		and d.FormaPago=b.FormaPago
	LEFT JOIN Reclamos.dbo.Cliente l on l.Id=b.ClienteID 
	--LEFT JOIN dbo.Transportista_HojaDeRuta_Clientes_Ruta_Optimizada O ON O.HojaDeRutaID= b.HojaDeRutaID and O.ClienteID = b.ClienteID
    WHERE a.HojaDeRutaID = @HojaDeRutaID   
	AND ( @ClienteID= 0 OR b.ClienteID = @ClienteID ) 
	GROUP BY  /*( O.Orden ,b.ClienteID ),*/  b.ClienteID,ISNULL(l.MaestroNombre,b.ClienteNombre),l.Direccion, b.Estado, b.FormaPago, l.latitud, l.longitud 
	ORDER BY  /*ISNULL( O.Orden ,b.ClienteID ), */ b.ClienteID,b.FormaPago
 
	select *, 1 as CheckListOK  --- siempre ok porque valida la pagina  anterior
	 from #Result order by /*Orden,*/ ClienteID, FormaPago

 	SELECT Sum(ISNULL(b.ImporteACobrar,0)) ImporteACobrar, Sum(ISNULL(b.TotalCobrado,0)) + SUM(ISNULL(cc,0))  as TotalCobrado, 
		SUM(ISNULL(efectivo,0)) AS efectivo, 
		SUM(ISNULL(cheque,0)) AS cheque, 
		SUM(ISNULL(transferencia,0)) AS transferencia,
		SUM(ISNULL(cc,0)) AS CC
    FROM  #Result b 


END

GO
