USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_ABM_SetActivo]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Vehiculos_ABM_SetActivo]
    @VehiculoID INT,
    @Activo BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Vehiculos
    SET Activo = @Activo
    WHERE VehiculoID = @VehiculoID;
END

GO
