USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Resumen]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Resumen]  
@TransportistaID INT = 0,
@HojaDeRutaID INT = 0 
AS
SET NOCOUNT ON
BEGIN  
	-- usado por el reparto, para ver como vienen
	-- Como principal
	SELECT a.HojaDeRutaID,a.Clientes,a.Facturas,a.Kilos,CONVERT(DATE,a.DateAdded) AS Fecha,
	b.Gastos,b.Deposito,b.Diferencia,b.Pendientes,b.Anuladas,b.Errores, b.Pendientes - b.PendientesJustificadas AS PendientesJustificadas,
	b.Observacion
	FROM Transportista_HojaDeRuta a
	INNER JOIN Transportista_HojaDeRuta_Termianda_Resumen b ON b.HojaDeRutaID = a.HojaDeRutaID 
	INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID 

	WHERE 
		(@HojaDeRutaID=0 OR a.HojaDeRutaID= @HojaDeRutaID)
		AND 
		(@TransportistaID=0 OR a.TransportistaID=@TransportistaID)
		AND
		--controlada y cerrada
		a.Estado>=3
	UNION 
	-- como ayudante
	SELECT a.HojaDeRutaID,a.Clientes,a.Facturas,a.Kilos,CONVERT(DATE,a.DateAdded) AS Fecha,
	b.Gastos,b.Deposito,b.Diferencia,b.Pendientes,b.Anuladas,b.Errores, b.Pendientes - b.PendientesJustificadas AS PendientesJustificadas,
	b.Observacion
	FROM Transportista_HojaDeRuta a
	INNER JOIN Transportista_HojaDeRuta_Termianda_Resumen b ON b.HojaDeRutaID = a.HojaDeRutaID 
	INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID2 

	WHERE 
		(@HojaDeRutaID=0 OR a.HojaDeRutaID= @HojaDeRutaID)
		AND 
		(@TransportistaID=0 OR a.TransportistaID2=@TransportistaID)
		AND
		--controlada y cerrada
		a.Estado>=3
	ORDER BY Fecha desc 
  
  --EXEC  [dbo].[usp_Transportista_HojaDeRuta_Resumen]  1032

END


GO
