USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cerradas_Pendientes]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC dbo.usp_Transportista_HojaDeRuta_Cerradas_Pendientes '2025-08-22',92444

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cerradas_Pendientes] 
@Fecha DATE,
@HojaDeRutaID INT =0,
@TransportistaID INT =0
AS
SET NOCOUNT ON 
DECLARE @ConfiguracionReasigancion INT =10
SELECT @ConfiguracionReasigancion = valor FROM Configuracion WHERE Nombre = 'Reasignaciones' 

BEGIN
	
	SELECT  a.HojaDeRutaID,d.RazonSocial AS ClienteNombre,
		t.Apellido +', ' +t.Nombre AS Transportista,
		a.DateAdded as Fecha,
		d.ClienteID, t.TransportistaID, d.FormaPago, sum(d.ImporteFactura) ImporteFactura, sum(d.ImporteAPagar) ImporteAPagar, COUNT(1) TotalFacturas,
		(SELECT COUNT(DISTINCT HojaDeRutaIDDestino) FROM Transportista_HojaDeRuta_Reasignada R WHERE R.HojaDeRutaIDOrigen=a.HojaDeRutaID and R.ClienteID = d.ClienteID) Reasignaciones,
		@ConfiguracionReasigancion AS ReasignacionesAllowed 
--select *
    FROM dbo.Transportista_HojaDeRuta a
	INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID
	INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID 
	WHERE a.Estado IN (1, 2, 3)
	AND (@HojaDeRutaID =0 OR a.HojaDeRutaID = @HojaDeRutaID)
	AND (@TransportistaID =0 OR a.TransportistaID = @TransportistaID) 
	-- rechazado o ni procesado.
	AND ( d.Estado=3 AND d.MotivoID in (0,1,2,6,100)) 
	AND a.DateAdded>=@Fecha

	-- que no haya sido reasiganda y anulada
	--AND not exists (
	--	SELECT  NULL 
	--	FROM Transportista_HojaDeRuta_Reasignada r 
	--	INNER JOIN Transportista_HojaDeRutaDatos rr on rr.HojaDeRutaID=r.HojaDeRutaIDDestino AND  r.ClienteID=rr.ClienteID AND rr.Estado=3 and rr.MotivoID IN (2,3,4,5,6,100)
	--	WHERE r.HojaDeRutaIDOrigen = a.HojaDeRutaID  
	--	)
	--AND not exists (
	--	SELECT  NULL 
	--	FROM Transportista_HojaDeRuta_Reasignada r 
	--	INNER JOIN Transportista_HojaDeRutaDatos rr on rr.HojaDeRutaID=r.HojaDeRutaIDOrigen AND  r.ClienteID=rr.ClienteID AND rr.Estado=3 and rr.MotivoID IN (2,3,4,5,100)
	--	WHERE r.HojaDeRutaIDOrigen = a.HojaDeRutaID  
	--	)

	--Intentar mostrar solo la hdr original
	AND not exists (
		SELECT NULL FROM Transportista_HojaDeRuta_Reasignada r WHERE r.HojaDeRutaIDDestino = a.HojaDeRutaID AND r.ClienteID= d.ClienteID
		)
	GROUP BY a.HojaDeRutaID,d.RazonSocial,t.Apellido +', ' +t.Nombre,a.DateAdded , d.ClienteID, t.TransportistaID , d.FormaPago
	--HAVING (SELECT COUNT(DISTINCT HojaDeRutaIDDestino) FROM Transportista_HojaDeRuta_Reasignada R WHERE R.HojaDeRutaIDOrigen=a.HojaDeRutaID and R.ClienteID = d.ClienteID)<@ConfiguracionReasigancion

END


--select * from Transportista_HojaDeRuta_Reasignada where ClienteID=13110
 
GO
