USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Estado_Combo]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Estado_Combo]
AS

--SELECT UPPER(FormaPago) AS Valor, UPPER(FormaPago) AS Descripcion
--INTO dbo.FormasDePago
--From dbo.Transportista_HojaDeRutaDatos
--GROUP BY FormaPago


SELECT UPPER(3) AS Valor, UPPER('Pendiente') AS Descripcion
UNION 
SELECT UPPER(2) AS Valor, UPPER('Anulado') AS Descripcion
 

--INTO dbo.FormasDePago
--From dbo.Transportista_HojaDeRutaDatos 




GO
