USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HojaDeRuta_Clientes_Ruta_Optimizada]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportista_HojaDeRuta_Clientes_Ruta_Optimizada](
	[HojaDeRutaID] [int] NULL,
	[ClienteID] [int] NULL,
	[Orden] [int] NULL,
	[dateadded] [datetime] NULL,
	[Longitud] [decimal](9, 6) NULL,
	[Latitud] [decimal](9, 6) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Transportista_HojaDeRuta_Clientes_Ruta_Optimizada] ADD  DEFAULT (getdate()) FOR [dateadded]
GO
