USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Checklist_Resumen]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Vehiculos_Checklist_Resumen]
    @Tipo NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TotalVehiculos = COUNT(DISTINCT v.VehiculoID),
        ConFallas = COUNT(DISTINCT CASE WHEN d.Valor = 'NO' AND ISNULL(d.Corregido,0)=0 THEN v.VehiculoID END),
        SinFallas = COUNT(DISTINCT CASE WHEN (d.Valor <> 'NO' OR ISNULL(d.Corregido,0)=1) THEN v.VehiculoID END)
    FROM [dbo].[Vehiculos_Checklist] a
    INNER JOIN [dbo].[Vehiculos_Checklist_Detalle] d ON d.ChecklistID = a.ChecklistID
    INNER JOIN [dbo].[Vehiculos] v ON v.VehiculoID = a.VehiculoID 
    WHERE a.Tipo = @Tipo
	AND v.Activo=1;
END



GO
