USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Checklist_NoItems]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[usp_Vehiculos_Checklist_NoItems]
    @Tipo NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        v.VehiculoID,
        v.Patente,
        d.Item,
        d.Valor,
        d.Corregido,
        a.ChecklistID,
        a.Fecha
    FROM [dbo].[Vehiculos_Checklist] a
    INNER JOIN [dbo].[Vehiculos_Checklist_Detalle] d 
        ON a.ChecklistID = d.ChecklistID
    INNER JOIN [dbo].[Vehiculos] v 
        ON v.VehiculoID = a.VehiculoID
    WHERE a.Tipo = @Tipo
      AND d.Valor = 'NO'
      AND ISNULL(d.Corregido,0) = 0
	  AND v.Activo=1
    ORDER BY v.Patente, d.Item;
END

GO
