USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Mantenimiento_Alertas]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculos_Mantenimiento_Alertas]  
    @VehiculoID INT
AS
BEGIN
    SET NOCOUNT ON;

	IF @VehiculoID IS NULL OR @VehiculoID = 0
	BEGIN
		SELECT TOP 0 
			Item = '',
			Valor = NULL,
			Dias = NULL,
			Estado = ''
		WHERE 1 = 0; 
		RETURN;
	END


    --------------------------------------------
    -- 1) Vencimientos RTO / Bromatología / Seguro
    --------------------------------------------
    ;WITH Base AS (
        SELECT 
            d.Item,
            TRY_CONVERT(date, d.Valor) AS FechaVto
        FROM dbo.Vehiculos_Checklist c
        INNER JOIN dbo.Vehiculos_Checklist_Detalle d ON d.ChecklistID = c.ChecklistID
        WHERE c.VehiculoID = @VehiculoID
          AND c.Tipo = 'Mensual'
          AND d.Item IN ('RTO Vencimiento','BROMATOLOGIA Vencimiento','SEGURO Vencimiento')
    ),
    Ultimo AS (
        SELECT Item, MAX(FechaVto) AS FechaVto
        FROM Base
        GROUP BY Item
    )
    SELECT 
        Item,
        FechaVto AS Valor,
        ABS(DATEDIFF(DAY, FechaVto, GETDATE())) AS Dias,
        CASE 
            WHEN ABS(DATEDIFF(DAY, FechaVto, GETDATE())) BETWEEN 0 AND 15 THEN 'ROJO'
            WHEN ABS(DATEDIFF(DAY, FechaVto, GETDATE())) BETWEEN 16 AND 30 THEN 'AMARILLO'
            WHEN ABS(DATEDIFF(DAY, FechaVto, GETDATE())) > 30 THEN 'VERDE'
            ELSE 'VERDE'
        END AS Estado
    FROM Ultimo

    UNION ALL

    --------------------------------------------
    -- 2) ALERTA DE ÚLTIMO SERVICIO
    --------------------------------------------
    SELECT
        'Ultimo Servicio' AS Item,
        MAX(TRY_CONVERT(date, d.Valor)) AS Valor,
        NULL AS Dias,
        CASE 
            WHEN DATEDIFF(DAY, MAX(TRY_CONVERT(date, d.Valor)), GETDATE()) >= 365
                 OR (MAX(c.KmActual) - MIN(c.KmActual)) >= 10000
            THEN 'ROJO'
            ELSE 'OK'
        END AS Estado
    FROM dbo.Vehiculos_Checklist c
    INNER JOIN dbo.Vehiculos_Checklist_Detalle d ON d.ChecklistID = c.ChecklistID
    WHERE c.VehiculoID = @VehiculoID
      AND d.Item = 'Ultimo Servicio';
END

GO
