USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cerrar_Auto]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cerrar_Auto]  
 
AS
BEGIN
    SET NOCOUNT ON;
	 
	UPDATE dbo.Transportista_HojaDeRuta SET Estado=2, FechaCierre=GETDATE() 
	WHERE Estado in (0,1)

	  
END
 

 
GO
