USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transportista](
	[TransportistaID] [int] IDENTITY(1,1) NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[FechaAlta] [datetime] NOT NULL,
	[Activo] [int] NOT NULL,
	[TransportistaCodigoAmerica] [varchar](10) NULL,
	[esterciarizado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransportistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Transportista] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Transportista] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Transportista] ADD  CONSTRAINT [DF_Transportista_esterciarizado]  DEFAULT ((0)) FOR [esterciarizado]
GO
