USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Facturas_Anuladas_Sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Facturas_Anuladas_Sel]
@TransportistaID INT = NULL,
@HojaDeRutaID INT = NULL,
@ClienteID INT = NULL
AS
SET NOCOUNT ON


SELECT d.HojaDeRutaID, d.FacturaID,d.ImporteFactura,ISNULL(d.Validado,0) Validado
FROM dbo.Transportista_HojaDeRutaDatos d 
INNER JOIN dbo.Transportista_HojaDeRuta a on a.HojaDeRutaID=d.HojaDeRutaID
WHERE (@TransportistaID IS NULL OR a.TransportistaID = @TransportistaID)
  AND (@HojaDeRutaID IS NULL OR d.HojaDeRutaID = @HojaDeRutaID)
  AND (@ClienteID IS NULL OR d.ClienteID = @ClienteID)
  AND  d.Estado=2 and d.Validado is null and a.estado=3
   
ORDER BY d.HojaDeRutaID

GO
