USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Login_ValidarTransportista]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [dbo].[usp_Login_ValidarTransportista] 'AC216GD','2aOACE',''
CREATE PROCEDURE [dbo].[usp_Login_ValidarTransportista]  
    @Patente VARCHAR(50),
    @Contrasena VARCHAR(50),
    @IPCliente VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ID INT, 
            @Nombre NVARCHAR(100), 
            @PassBD VARCHAR(50), 
            @Intentos INT, 
            @LimiteIntentosFallidos INT, 
            @HojaDeRutaID INT, 
            @bloqueado INT;

    -- Buscar transportista por patente
    SELECT TOP 1 
        @PassBD = sPassword, 
        @HojaDeRutaID = HojaDeRutaID, 
        @Intentos = CantidadDeIntentosFallidos, 
        @LimiteIntentosFallidos = LimiteIntentosFallidos
    FROM Reparto.dbo.Transportista_HDR_Login
    WHERE Patente = @Patente AND sPassword=@Contrasena
	ORDER BY HojaDeRutaID DESC

    IF @@ROWCOUNT = 0
    BEGIN 
        -- Patente no encontrada → intento fallido
        INSERT INTO Reparto.dbo.[Transportista_HDR_Login_Log] (Patente, Exitoso, IP_Origen)
        VALUES (@Patente, 0, @IPCliente);

        SELECT 0 AS ID, '' AS Patente, '' AS NombreTransportista, 0 AS Bloqueado;
        RETURN;
    END

    IF @PassBD = @Contrasena 
    BEGIN
        IF @Intentos < @LimiteIntentosFallidos
        BEGIN
            -- Login exitoso → registrar en log
            INSERT INTO Reparto.dbo.[Transportista_HDR_Login_Log] (Patente, Exitoso, IP_Origen)
            VALUES (@Patente, 1, @IPCliente);

            SELECT 
                t.TransportistaID AS ID, 
                Patente, 
                t.Apellido + ' ' + Nombre AS NombreTransportista,
                a.Bloqueado
            FROM [dbo].[Transportista_HDR_Login] a
            INNER JOIN Transportista_HojaDeRuta b ON b.HojaDeRutaID = a.HojaDeRutaID   
            INNER JOIN Transportista t ON t.TransportistaID = b.TransportistaID
            WHERE Patente = @Patente AND sPassword = @Contrasena;
        END
        ELSE
        BEGIN
            -- Superó límite: aún con contraseña correcta está bloqueado
            UPDATE dbo.Transportista_HDR_Login 
            SET CantidadDeIntentosFallidos = CantidadDeIntentosFallidos + 1,
                Bloqueado = CASE WHEN CantidadDeIntentosFallidos + 1 <= @LimiteIntentosFallidos THEN 0 ELSE 1 END
            WHERE HojaDeRutaID = @HojaDeRutaID;

            SELECT @bloqueado = Bloqueado 
            FROM Transportista_HDR_Login 
            WHERE HojaDeRutaID = @HojaDeRutaID;

            -- Registrar intento como fallido por bloqueo
            INSERT INTO Reparto.dbo.[Transportista_HDR_Login_Log] (Patente, Exitoso, IP_Origen)
            VALUES (@Patente, 0, @IPCliente);

            SELECT CASE WHEN @bloqueado = 1 THEN -1 ELSE 0 END AS ID, '' AS Patente, '' AS NombreTransportista, @bloqueado AS Bloqueado;
        END
    END
    ELSE
    BEGIN 
        -- Contraseña incorrecta → registrar como intento fallido
        UPDATE dbo.Transportista_HDR_Login 
        SET CantidadDeIntentosFallidos = CantidadDeIntentosFallidos + 1,
            Bloqueado = CASE WHEN CantidadDeIntentosFallidos + 1 <= @LimiteIntentosFallidos THEN 0 ELSE 1 END
        WHERE HojaDeRutaID = @HojaDeRutaID;

        SELECT @bloqueado = Bloqueado 
        FROM Transportista_HDR_Login 
        WHERE HojaDeRutaID = @HojaDeRutaID;

        INSERT INTO Reparto.dbo.[Transportista_HDR_Login_Log] (Patente, Exitoso, IP_Origen)
        VALUES (@Patente, 0, @IPCliente);

        SELECT CASE WHEN @bloqueado = 1 THEN -1 ELSE 0 END AS ID, '' AS Patente, '' AS NombreTransportista, @bloqueado AS Bloqueado;
    END
END

GO
