USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Transportista_sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [dbo].[usp_HojaDeRuta_Transportista_sel] 85043
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Transportista_sel] 
@HojaDeRutaID INT=0
AS
   
SET NOCOUNT ON

--SELECT t.Apellido +', ' +t.Nombre
--FROM dbo.Transportista_HojaDeRuta a
--INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID 
--WHERE a.HojaDeRutaID=@HojaDeRutaID

--SELECT (
--SELECT t.Apellido +' ' +t.Nombre + ' - '
--FROM dbo.Transportista_HojaDeRuta a
--INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID 
----WHERE a.HojaDeRutaID=@HojaDeRutaID
--FOR XML PATH (''), TYPE) .value('text()[1]','nvarchar(max)') transportista

SELECT RTRIM(LTRIM( STUFF(
        (
            SELECT ' - ' + t.Apellido +' ' +t.Nombre AS [text()]
			FROM dbo.Transportista_HojaDeRuta a
			INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID 
			WHERE a.HojaDeRutaID=@HojaDeRutaID
            FOR XML PATH (''), TYPE
        ).value('text()[1]','nvarchar(max)'), 2, 1, '') )) Nombre

GO
