USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cabecera_selV4]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cabecera_selV4] 
    @HojaDeRutaID INT = 0,
	@ClienteID INT = 0
AS
BEGIN

 -- [dbo].[usp_Transportista_HojaDeRuta_Cabecera_sel]    3594
	--IF OBJECT_ID('tempdb..#descuentos') IS NOT NULL
	--	DROP TABLE #descuentos
	--IF OBJECT_ID('tempdb..#descuentos_detalle') IS NOT NULL
	--	DROP TABLE #descuentos_detalle
	--IF OBJECT_ID('tempdb..#facturas') IS NOT NULL
	--	DROP TABLE #facturas
	
	---- obtengo los descuentos  
	----select CFC.FacturaID,CFC.ClienteID, MAX(CFC.Total)-( 
	--select CFC.FacturaID,CFC.ClienteID, CFD.Articulo, Cantidad= CASE WHEN CFD.Cantidad=0 THEN 1 ELSE OFD.Cantidad-CFD.Cantidad END, OFD.PrecioUnitario, CFD.PercepIIBB, CFD.Descripcion
	--INTO #descuentos
	--from cobranza.Transportista_HojaDeRutaDatos_Factura_Cabecera CFC 
	--INNER JOIN cobranza.Transportista_HojaDeRutaDatos_Factura_Detalle CFD ON CFD.FacturaID = CFC.FacturaID  
	--INNER JOIN dbo.Transportista_HojaDeRutaDatos_Factura_Detalle OFD ON OFD.FacturaID = CFC.FacturaID   and OFD.Id=CFD.Id
	--WHERE CFC.HojaDeRutaID = @HojaDeRutaID  
	--AND CFD.Cantidad<>OFD.Cantidad 
	--AND ( @ClienteID= 0 OR CFC.ClienteID = @ClienteID ) 

	--SELECT FacturaID,ClienteID,Articulo,cantidad,descuento=CAST(ROUND(cantidad*PrecioUnitario*1.21+PercepIIBB,2) AS NUMERIC(20,2))
	--INTO #descuentos_detalle
	--FROM #descuentos

	--SELECT ClienteID, FacturaID,
 --        stuff( (select concat(' FacturaID:', FacturaID, ' - Articulo:', Articulo,' - Cantidad:', CONVERT(VARCHAR(3),Cantidad), ' - Importe: ', '$ ' + CONVERT(VARCHAR(20),descuento ))
 --              from #descuentos_detalle t2
 --              where t2.FacturaID = t.FacturaID
	--		   AND t2.ClienteID = t.ClienteID
 --              FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '')  as Detalle
	--INTO #facturas
	--from #descuentos_detalle t
	--group by  ClienteID,FacturaID;


	SELECT b.ClienteID,ISNULL(l.MaestroRazon,b.ClienteNombre) as ClienteNombre, 
		CASE 
			WHEN b.Estado = 0 THEN 'No iniciada' 
			WHEN b.Estado = 1 THEN 'Entregado' 
			--WHEN b.Estado = 3 THEN 'Entregado c/descuento'
			WHEN b.Estado = 2 THEN 'Rechazada: ' + ISNULL(MAX(c.Motivo),'')
			--WHEN b.Estado = 3 THEN 'Anulada'
		END AS EstadoEntrega, 
		b.Estado,
		COUNT(*) TotalFacturas, Sum(b.ImporteFactura) ImporteACobrar,
		ISNULL(MAX(d.Efectivo)+MAX(d.Cheque)+MAX(d.Transferencia),0) AS TotalCobrado,
		--ISNULL(SUM(d.Efectivo),0) AS Efectivo,
		--ISNULL(SUM(d.Cheque),0) AS Cheque,
		--ISNULL(SUM(d.transferencia),0) AS Transferencia,
		--ISNULL((SELECT sum(X.descuento) FROM #descuentos_detalle x where x.ClienteID=b.ClienteID),0) AS Descuentos,
		--ISNULL(CAST(
		--(SELECT   stuff( (select concat(' ', t2.Detalle)
  --             from #facturas t2
  --             where t2.ClienteID = b.ClienteID
  --             FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '') 
		--) AS VARCHAR(4000) ),'') AS Detalles ,
		--color= 
		--	CASE 
		--		WHEN b.Estado = 2 THEN '#FF0000' -- Rojo
		--		WHEN SUM(d.Transferencia) >0 THEN '#ff9ad1'  -- Rosa
		--		WHEN SUM(d.Cheque) >0 THEN '#512E5F'  -- Violeta
		--		WHEN SUM(d.Efectivo) >0 THEN '#00ff6c'  -- Verde
		--		---- Errores CONTADO
		--		--WHEN CASE WHEN b.FormaPago<>'CONTADO' THEN 'CUENTA CORRIENTE' ELSE 'CONTADO' END  = 'CONTADO' AND CASE WHEN SUM(d.Efectivo)>0 AND SUM(d.Cheque)=0.00 and SUM(d.Transferencia)=0.00 THEN 1 ELSE 0 END = 1 Then '#33ffa5'
		--		--WHEN CASE WHEN b.FormaPago<>'CONTADO' THEN 'CUENTA CORRIENTE' ELSE 'CONTADO' END  = 'CONTADO' AND Sum(b.ImporteAPagar) <> ISNULL(SUM(d.Efectivo+d.Cheque+d.Transferencia),0)  Then '#FG45D4'
				
		--		---- Errores CONTADO
		--		--WHEN CASE WHEN b.FormaPago<>'CONTADO' THEN 'CUENTA CORRIENTE' ELSE 'CONTADO' END  = 'CUENTA CORRIENTE' AND 0.00 <> ISNULL(SUM(d.Efectivo+d.Cheque+d.Transferencia),0)  Then '#FF98AH'
				
		--		--- fin marcar problema
		--		--WHEN Sum(b.ImporteAPagar) <> ISNULL(SUM(d.Efectivo+d.Cheque+d.Transferencia),0)  Then '#ffd6e0'
		--	ELSE '' END,
		--CASE 
		--	WHEN b.FormaPago = 'CONTADO' THEN b.FormaPago
		--	WHEN b.FormaPago LIKE '%CASA%' THEN b.FormaPago 
		--	ELSE 'CUENTA CORRIENTE' 
		--END AS FormaDePago, 
		b.FormaPago
    FROM dbo.Transportista_HojaDeRuta a 
    INNER JOIN dbo.Transportista_HojaDeRutaDatos b on b.HojaDeRutaID=a.HojaDeRutaID 
	LEFT JOIN dbo.Transportista_HojaDeRuta_MotivosRechazo c on c.MotivoID=b.MotivoID
	LEFT JOIN (SELECT HojaDeRutaID,ClienteID, MAX(Efectivo) AS Efectivo, Max(Cheque) AS Cheque, MAX(Transferencia) AS Transferencia FROM cobranza.Transportista_HojaDeRutaDatos WHERE HojaDeRutaID = @HojaDeRutaID AND ( @ClienteID= 0 OR ClienteID = @ClienteID) GROUP BY HojaDeRutaID,ClienteID)
		d on d.HojaDeRutaID=b.HojaDeRutaID  and d.ClienteID=b.ClienteID --AND d.HojaDeRutaDatosID=b.HojaDeRutaDatosID
	LEFT JOIN Reclamos.dbo.Cliente l on l.Id=b.ClienteID 
    WHERE a.HojaDeRutaID = @HojaDeRutaID   
	AND ( @ClienteID= 0 OR b.ClienteID = @ClienteID )
	--AND b.Estado<>2
	GROUP BY b.ClienteID,ISNULL(l.MaestroRazon,b.ClienteNombre),b.Estado, b.FormaPago--,
	--	CASE 
		--		WHEN b.FormaPago = 'CONTADO' THEN b.FormaPago
	--		WHEN b.FormaPago LIKE '%CASA%' THEN b.FormaPago 
	--		ELSE 'CUENTA CORRIENTE' 
	--	END
	ORDER BY b.ClienteID,b.FormaPago
	--	CASE 
	--		WHEN b.FormaPago = 'CONTADO' THEN b.FormaPago
	--		WHEN b.FormaPago LIKE '%CASA%' THEN b.FormaPago 
	--		ELSE 'CUENTA CORRIENTE' 
	--	END 

END



GO
