USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cliente_Justificacion_upd]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cliente_Justificacion_upd] 
    @HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@FacturaID INT=0,
	@Accion INT=0,
	@Observacion VARCHAR(1000)= '' ,
	@usr VARCHAR(50) = '' 
AS
SET NOCOUNT ON 

BEGIN TRY 
	UPDATE dbo.Transportista_HojaDeRutaDatos SET 
		Justifica		= @Accion, 
		JustificaMensaje= @Observacion,
		JustificaFecha	= GETDATE(),
		JustificaPor		= @usr
	WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID AND FacturaID = @FacturaID

	SELECT 0 HasError, 'Se actulizaron:' +@@ROWCOUNT + ' filas'  ErrorMessage

	COMMIT;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK;

    DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
    SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
		
	SELECT 1 AS hasError, @ErrMsg AS ErrorMessage
	 
END CATCH

GO
