USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Mantenimiento_Guardar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Vehiculos_Mantenimiento_Guardar]
    @VehiculoID INT,
    @Usuario    VARCHAR(50),
    @Comentario NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Vehiculos_Mantenimiento (VehiculoID, Fecha, Usuario, Comentario)
    VALUES (@VehiculoID, GETDATE(), @Usuario, @Comentario);
END

GO
