USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Reasignacion_Resumen]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--dbo.usp_Transportista_HojaDeRuta_Reasignacion_Resumen 90804,1339

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Reasignacion_Resumen]
@HojaDeRutaID INT,
@ClienteID INT
AS
SET NOCOUNT ON

SELECT  HojaDeRutaID AS HojaDeRutaOrigen, NULL AS HojaDeRutaDestino, MAX(DateAdded) FechaHDR, NULL FechaReasignacion, FormaPago, SUM(ImporteFactura) ImporteFactura, a.Estado
FROM dbo.Transportista_HojaDeRutaDatos a 
WHERE a.HojaDeRutaID=@HojaDeRutaID and ClienteID = @ClienteID
GROUP BY HojaDeRutaID,FormaPago, Estado
UNION 
SELECT  HojaDeRutaIDOrigen AS HojaDeRutaOrigen, R.HojaDeRutaIDDestino,MAX(a.DateAdded) , R.DateAdded Fecha, a.FormaPago, SUM(ImporteFactura) ImporteFactura, a.Estado
FROM dbo.Transportista_HojaDeRuta_Reasignada R
INNER JOIN dbo.Transportista_HojaDeRutaDatos a ON a.HojaDeRutaID=R.HojaDeRutaIDDestino AND a.ClienteID=R.ClienteID
--LEFT JOIN dbo.Transportista_HojaDeRutaDatos b ON b.HojaDeRutaID=R.HojaDeRutaIDDestino AND b.ClienteID=R.ClienteID
WHERE R.HojaDeRutaIDOrigen=@HojaDeRutaID and r.ClienteID=@ClienteID
GROUP BY R.HojaDeRutaIDOrigen,R.HojaDeRutaIDDestino,a.FormaPago,R.DateAdded,a.Estado



GO
