USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_ABM_Insertar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[usp_Vehiculos_ABM_Insertar]
    @Patente VARCHAR(20),
    @Marca   VARCHAR(50),
    @Modelo  VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM dbo.Vehiculos WHERE Patente = @Patente)
    BEGIN
        RAISERROR('La patente ya existe.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Vehiculos (Patente, Marca, Modelo, Activo)
    VALUES (@Patente, @Marca, @Modelo, 1);

    SELECT SCOPE_IDENTITY() AS VehiculoID;
END

GO
