USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Buscar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Buscar]
    @HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@estado int=0
AS
BEGIN
    SELECT  d.HojaDeRutaID,d.FacturaID,d.ClienteID,d.ClienteNombre,d.FormaPago,d.ImporteFactura,d.Estado
    FROM Reparto.dbo.Transportista_HojaDeRuta a
	INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID 
    WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
	AND(@ClienteID= 0  or  d.ClienteID= @ClienteID)
	AND a.Estado = 0
	ORDER BY d.HojaDeRutaID, d.ClienteID
	 

END


GO
