USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Checklist_Guardar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculos_Checklist_Guardar]
    @VehiculoID      INT,
    @Tipo            NVARCHAR(20),
    @Fecha           DATE,
    @KmActual        INT,
    @Observaciones   NVARCHAR(MAX),
    @DNI             NVARCHAR(20),
    @Usuario         NVARCHAR(50),
    @DetallesXml     XML
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ChecklistID INT;
	
	IF EXISTS(SELECT NULL FROM dbo.Vehiculos_Checklist WHERE VehiculoID = @VehiculoID AND Fecha=@Fecha and Tipo = @Tipo )
	BEGIN
		DELETE DEL
		FROM Vehiculos_Checklist_Detalle DEL
		INNER JOIN Vehiculos_Checklist D ON D.ChecklistID = DEL.ChecklistID
		WHERE D.VehiculoID = @VehiculoID AND D.Fecha=@Fecha and D.Tipo = @Tipo

		DELETE dbo.Vehiculos_Checklist WHERE VehiculoID = @VehiculoID AND Fecha=@Fecha AND  Tipo = @Tipo
	END

    INSERT INTO dbo.Vehiculos_Checklist (VehiculoID, Tipo, Fecha, KmActual, Observaciones, DNI, Usuario)
    VALUES (@VehiculoID, @Tipo, @Fecha, @KmActual, @Observaciones, @DNI, @Usuario);

    SET @ChecklistID = SCOPE_IDENTITY();

    INSERT INTO dbo.Vehiculos_Checklist_Detalle (ChecklistID, Categoria, SubCategoria, Item, Valor)
    SELECT
        @ChecklistID,
        T.N.value('@Categoria','nvarchar(100)'),
        T.N.value('@SubCategoria','nvarchar(100)'),
        T.N.value('@Item','nvarchar(150)'),
        T.N.value('@Valor','nvarchar(50)')
    FROM @DetallesXml.nodes('/Detalles/D') AS T(N);

    SELECT @ChecklistID AS ChecklistID;
END;

GO
