USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Detalle_sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Detalle_sel]
    @HojaDeRutaID INT = 0
AS
BEGIN
	SELECT * 
    FROM Reparto.dbo.Transportista_HojaDeRutaDatos a 
    WHERE a.HojaDeRutaID = @HojaDeRutaID  
 
END

GO
