USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_ABM_Listar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculos_ABM_Listar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        VehiculoID,
        Patente,
        Marca,
        Modelo,
        Activo
    FROM dbo.Vehiculos
    ORDER BY Activo DESC, Patente ASC;
END

GO
