USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_SinAsignar_Sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_SinAsignar_Sel]
 AS
SELECT  a.RowID AS HojaDeRutaID, a.Clientes,a.Facturas,a.Estado,a.AgrupacionDeFacturas
FROM WhatsAppAPI.dbo.HojaDeRuta a WITH(NOLOCK)
LEFT JOIN dbo.Transportista_HojaDeRuta b WITH(NOLOCK) ON b.HojaDeRutaID=a.RowID  
WHERE b.HojaDeRutaID IS NULL
-- >=9 Enviados, con o sin errores
AND a.Estado>=9
AND NOT EXISTS (SELECT NULL FROM Transportista_HojaDeRuta_Excluida x WHERE x.HojaDeRutaID=a.RowID )
--UNION 
--SELECT  a.RowID AS HojaDeRutaID, a.Clientes,a.Facturas,a.Estado,a.AgrupacionDeFacturas
--FROM WhatsAppAPI.dbo.HojaDeRuta a WITH(NOLOCK)
--LEFT JOIN dbo.Transportista_HojaDeRuta b WITH(NOLOCK) ON b.HojaDeRutaID=a.RowID 
--WHERE  1=0 and a.RowID = 3594


GO
