USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Buscar_Pendientes]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC usp_Transportista_HojaDeRuta_Buscar_Pendientes '2025-09-04', 0, 0, 558581
--EXEC usp_Transportista_HojaDeRuta_Buscar_Pendientes '2025-02-22', 0, 0, 0 

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Buscar_Pendientes]
	@Fecha DATE,
    @HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@FacturaID INT=0,
	@Justifica INT=1
AS
BEGIN

-- si se usa desde reparto con justifica 1
IF @Justifica=1
BEGIN 

		SELECT  d.HojaDeRutaID,d.FacturaID,d.ClienteID,d.ClienteNombre,d.FormaPago,d.ImporteFactura,d.Estado,a.DateAdded as Fecha,d.Justifica,d.JustificaFecha,d.JustificaMensaje
		FROM Reparto.dbo.Transportista_HojaDeRuta a
		INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID  
		WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
		AND(@ClienteID= 0  or  d.ClienteID= @ClienteID)
		AND(@FacturaID= 0  or  d.FacturaID= @FacturaID)
		AND d.Estado in (3)
		AND d.JustificaFecha IS NULL		
		AND a.DateAdded>=@Fecha
		--AND a.Estado IN (0)
	UNION 
		SELECT  d.HojaDeRutaID,d.FacturaID,d.ClienteID,d.ClienteNombre,d.FormaPago,d.ImporteFactura,d.Estado,a.DateAdded as Fecha,d.Justifica,d.JustificaFecha,d.JustificaMensaje
		FROM Reparto.dbo.Transportista_HojaDeRuta a
		INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID  
		INNER JOIN dbo.Transportista_HojaDeRuta_Reasignada r on r.HojaDeRutaIDDestino=d.HojaDeRutaID and r.ClienteID=d.ClienteID 
		WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
		AND(@ClienteID= 0  or  d.ClienteID= @ClienteID)
		AND(@FacturaID= 0  or  d.FacturaID= @FacturaID)
		AND d.Estado in (1)
		AND d.JustificaFecha IS NULL
		AND a.DateAdded>=@Fecha
	ORDER BY 3,1,8

END
ELSE
BEGIN
		SELECT  d.HojaDeRutaID,d.FacturaID,d.ClienteID,d.ClienteNombre,d.FormaPago,d.ImporteFactura,d.Estado,a.DateAdded as Fecha,d.Justifica,d.JustificaFecha,d.JustificaMensaje
		FROM Reparto.dbo.Transportista_HojaDeRuta a
		INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID  
		WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
		AND(@ClienteID= 0  or  d.ClienteID= @ClienteID)
		AND(@FacturaID= 0  or  d.FacturaID= @FacturaID)
		AND d.Estado in (3) 	
		AND a.DateAdded>=@Fecha
		--AND a.Estado IN (0)
	UNION 
		SELECT  d.HojaDeRutaID,d.FacturaID,d.ClienteID,d.ClienteNombre,d.FormaPago,d.ImporteFactura,d.Estado,a.DateAdded as Fecha,d.Justifica,d.JustificaFecha,d.JustificaMensaje
		FROM Reparto.dbo.Transportista_HojaDeRuta a
		INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID  
		INNER JOIN dbo.Transportista_HojaDeRuta_Reasignada r on r.HojaDeRutaIDDestino=d.HojaDeRutaID and r.ClienteID=d.ClienteID 
		WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
		AND(@ClienteID= 0  or  d.ClienteID= @ClienteID)
		AND(@FacturaID= 0  or  d.FacturaID= @FacturaID)
		AND d.Estado in (1) 
		AND a.DateAdded>=@Fecha
	ORDER BY 3,1,8
END
	 
END



GO
