USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Terminadas_Resumen]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- EXEC [dbo].[usp_Transportista_HojaDeRuta_Terminadas_Resumen]   3594
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Terminadas_Resumen]  
    @HojaDeRutaID INT = 0 
AS
BEGIN

	DECLARE @TotalHDR NUMERIC(20,2) ,
			@Gastos NUMERIC(9,2) ,
			@Efectivo NUMERIC(20,2) ,
			@Cheques NUMERIC(20,3) ,
			@Transferencias NUMERIC(20,2)  ,
			@Deposito NUMERIC(20,2) ,
			@Diferencia NUMERIC(20,2) ,
			@Pendientes INT,
			@Anuladas INT,
			@Errores INT,
			@PendientesJustificadas INT,
			@Observacion VARCHAR(1000)

	SELECT  @TotalHDR			= TotalHDR			,
			@Gastos				= Gastos			,
			@Efectivo			= Efectivo			,
			@Cheques			= Cheques			,
			@Transferencias		= Transferencias	,
			@Deposito			= Deposito			,
			@Diferencia			= Diferencia		,
			@Pendientes  		= Pendientes  		,
			@Anuladas			= Anuladas			,
			@Errores			= Errores			,
			@PendientesJustificadas= PendientesJustificadas,
			@Observacion		= Observacion

	FROM dbo.Transportista_HojaDeRuta_Termianda_Resumen
	WHERE HOjaDeRutaID=@HojaDeRutaID

	IF @TotalHDR IS NULL
	BEGIN
		
		IF OBJECT_ID('tempdb..#Resumen') IS NOT NULL
			DROP TABLE #Resumen

		SELECT  a.HojaDeRutaID,b.ClienteID, Sum(b.ImporteFactura) ImporteACobrar,
		ISNULL(MAX(d.Efectivo)+MAX(d.Cheque)+MAX(d.Transferencia),0) AS TotalCobrado,
		ISNULL(MAX(d.Efectivo),0) AS Efectivo,
		ISNULL(MAX(d.Cheque),0) AS Cheque,
		ISNULL(MAX(d.transferencia),0) AS Transferencia,
		Errores= CASE WHEN b.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY a.HojaDeRutaID, b.ClienteID order by a.HojaDeRutaID, b.ClienteID) 
			AND (CASE 
				WHEN Validado=1 THEN 0 
				WHEN Validado=0 THEN 1 
				ELSE 0 END) = 1 THEN 1 ELSE 0 END ,
		--Pendientes= CASE WHEN a.Estado = 3 THEN 1 ELSE 0 END,
		Pendientes =	CASE WHEN b.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY  a.HojaDeRutaID, b.ClienteID order by a.HojaDeRutaID, b.ClienteID) 
		AND (CASE WHEN b.Estado = 3 THEN 1 ELSE 0 END) = 1  THEN 1 ELSE 0 END,

		--Anuladas= CASE WHEN a.Estado = 2 THEN 1 ELSE 0 END,
		Anuladas = CASE WHEN b.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY  a.HojaDeRutaID, b.ClienteID  order by a.HojaDeRutaID, b.ClienteID  ) 
		AND ( CASE WHEN b.Estado = 2 THEN 1 ELSE 0 END ) = 1  THEN 1 ELSE 0 END,
	
		--Justificadas= CASE WHEN a.Justifica = 2 THEN 1 ELSE 0 END,
		Justificadas = CASE WHEN b.FacturaID = FIRST_VALUE(FacturaID) OVER (PARTITION BY a.HojaDeRutaID, b.ClienteID order by a.HojaDeRutaID, b.ClienteID) 
		AND ( CASE WHEN b.Estado = 3 AND ISNULL(b.Justifica,0) = 1 THEN 1 ELSE 0 END ) = 1  THEN 1 ELSE 0 END
		INTO #Resumen
		FROM dbo.Transportista_HojaDeRuta a 
		INNER JOIN dbo.Transportista_HojaDeRutaDatos b on b.HojaDeRutaID=a.HojaDeRutaID 
		LEFT JOIN dbo.Transportista_HojaDeRuta_MotivosRechazo c on c.MotivoID=b.MotivoID
		LEFT JOIN (SELECT HojaDeRutaID,ClienteID,FormaPago, MAX(Efectivo) AS Efectivo, Max(Cheque) AS Cheque, MAX(Transferencia) AS Transferencia FROM cobranza.Transportista_HojaDeRutaDatos    GROUP BY HojaDeRutaID,ClienteID,FormaPago)
				d on d.HojaDeRutaID=b.HojaDeRutaID  
			and d.ClienteID=b.ClienteID --AND d.HojaDeRutaDatosID=b.HojaDeRutaDatosID
			and d.FormaPago=b.FormaPago
			 
		WHERE a.HojaDeRutaID=@HojaDeRutaID
		GROUP BY a.HojaDeRutaID, b.ClienteID, b.FacturaID,b.Validado,b.Estado,b.Justifica


		SELECT 
			@TotalHDR		= Sum(d.ImporteACobrar)  ,
			@Gastos			= 0.00,
			@Efectivo		= ISNULL(MAX(d.Efectivo),0),
			@Cheques		= ISNULL(MAX(d.Cheque),0) ,
			@Transferencias	= ISNULL(MAX(d.transferencia),0),
			@Deposito		= 0.00,
			@Diferencia		= Sum(d.TotalCobrado) - ISNULL(SUM(d.Efectivo),0) - ISNULL(SUM(d.Cheque),0)-  ISNULL(SUM(d.Transferencia),0),
			@Pendientes		= SUM(Pendientes),
			@Anuladas		= SUM(Anuladas),
			@Errores		= SUM(Errores),
			@PendientesJustificadas = SUM(Justificadas)

		FROM #Resumen d

	END


	SELECT  TotalHDR		= @TotalHDR			,
			Gastos			= @Gastos			,
			Efectivo		= @Efectivo			,
			Cheques			= @Cheques			,
			Transferencias	= @Transferencias	,
			Deposito		= @Deposito			,
			Diferencia		= @Diferencia		,
			Pendientes  	= @Pendientes  		,
			Anuladas		= @Anuladas			,
			Errores			= @Errores			,
			PendientesJustificadas =  @PendientesJustificadas,
			Observacion		= @Observacion
			 
			  
END

 


GO
