USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Abiertas]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --EXEC dbo.usp_Transportista_HojaDeRuta_Abiertas 100142 ,0

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Abiertas]
    @HojaDeRutaID INT = 0,
	@TransportistaID INT=0
AS
BEGIN
DECLARE @ControlVehiculo INT=0

SELECT @ControlVehiculo  = convert(int,Valor) FROM Configuracion WHERE Nombre='ControlVehiculo'


    SELECT 
		a.HojaDeRutaID,
        COUNT(DISTINCT d.ClienteID) AS TotalClientes,
        COUNT(DISTINCT d.FacturaID) AS TotalFacturas,
        COUNT(DISTINCT CASE WHEN d.Estado <> 0 THEN d.ClienteID ELSE NULL END) AS ClientesEntregados,
        COUNT(DISTINCT CASE WHEN d.Estado = 0 THEN d.ClienteID ELSE NULL END) AS ClientesPendientes,
		a.DateAdded,z.Nombre AS Zona,t.TransportistaID,t.Apellido +', ' +t.Nombre transportista,
		CheckListOK = 
			CASE 
				WHEN t.esterciarizado = 1 THEN 1 
				WHEN @ControlVehiculo=1  AND 
					EXISTS (
							select NULL 
							from   dbo.Vehiculos V 
							INNER JOIN dbo.Vehiculos_Checklist  C ON C.VehiculoID=V.VehiculoID
							WHERE V.Patente= L.Patente AND DATEDIFF(DD,C.Fecha, a.dateadded)=0
							) THEN 1 
							 
				WHEN @ControlVehiculo=0  THEN 1
			ELSE 0 END,
		RIGHT(CONCAT('0',CONVERT(VARCHAR(4),DATEPART(DD,a.DateAdded))),2)+ '/' + RIGHT(CONCAT('0',CONVERT(VARCHAR(4),DATEPART(MONTH,a.DateAdded))),2) + '/' + CONVERT(VARCHAR(4),DATEPART(YYYY,a.DateAdded)) AS Fecha,
		L.Patente

        --SUM(c.Efectivo+c.Cheque+c.Transferencia) AS TotalCobrado
    FROM Reparto.dbo.Transportista_HojaDeRuta a
	INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID
	INNER JOIN dbo.Transportista t on t.TransportistaID=a.TransportistaID
	LEFT JOIN dbo.Zona z on z.ZonaID=a.ZonaID
	LEFT JOIN dbo.Transportista_HDR_Login L ON L.HojaDeRutaID=a.HojaDeRutaID
	--LEFT JOIN cobranza.Transportista_HojaDeRutaDatos c on c.HojaDeRutaID=d.HojaDeRutaID and c.ClienteID=d.ClienteID 
    WHERE (@HojaDeRutaID= 0  or  d.HojaDeRutaID = @HojaDeRutaID)
	AND(@TransportistaID= 0  or  a.TransportistaID= @TransportistaID)
	AND a.Estado in (0,1)
	-- 0 no inciiada
	-- 1 pendiente
	GROUP BY a.HojaDeRutaID, a.DateAdded,z.Nombre,t.TransportistaID,t.Apellido +', ' +t.Nombre,L.Patente,t.esterciarizado  

END


GO
