USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cliente_Estado_upd]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cliente_Estado_upd] 
    @HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@Estado VARCHAR(50) = '',
	@Observacion VARCHAR(1000)= ''
AS
SET NOCOUNT ON
 
DECLARE @OldFormaPago VARCHAR(50)
IF NOT EXISTS (SELECT  NULL FROM  dbo.Transportista_HojaDeRutaDatos WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID ) 
BEGIN
	SELECT 1 AS hasError, 'No existe el cliente' AS ErrorMessage
	RETURN 
END

BEGIN TRY
	-- alter table Transportista_HojaDeRutaDatos add CambioEstadoObservacion VARCHAR(1000) NULL 
	UPDATE dbo.Transportista_HojaDeRutaDatos SET 
		Estado = @Estado,  
		MotivoID =	100, 
		CambioEstadoObservacion	= @Observacion
	WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID

	SELECT 0 HasError, 'Se actulizaron:' +@@ROWCOUNT + ' registros'  ErrorMessage

	COMMIT;
END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK;

    DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
    SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
		
	SELECT 1 AS hasError, @ErrMsg AS ErrorMessage
	 
END CATCH

GO
