USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Vehiculos_Mantenimiento_Editar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Vehiculos_Mantenimiento_Editar]
    @ID INT,
    @Comentario NVARCHAR(500),
    @Usuario VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Vehiculos_Mantenimiento
    SET 
        Comentario = @Comentario,
        UsuarioModificacion = @Usuario,
        FechaModificacion = GETDATE()
    WHERE ID = @ID;
END

GO
