USE [Reparto]
GO
/****** Object:  Table [dbo].[Transportista_HojaDeRuta_Excluida]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportista_HojaDeRuta_Excluida](
	[HojaDeRutaID] [int] NULL
) ON [PRIMARY]

GO
