USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel_test]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- EXEC dbo.[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel_test] 85197, 3524, '3 DIAS FECHA FC'

CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Cliente_Facturas_Sel_test] 
	@HojaDeRutaID INT = 0,
	@ClienteID INT=0,
	@Cond VARCHAR(20) = ''

AS
BEGIN   
	DECLARE @CantidadFacturas INT, @ImporteAPagar NUMERIC(18,2), @ClienteNombre VARCHAR(100)
	SELECT @CantidadFacturas = COUNT(DISTINCT FB.FacturaID) 
	FROM WhatsAppAPI.dbo.Factura_Cliente FB 
	LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
	--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
	WHERE FB.HojaDeRutaID=@HojaDeRutaID 
	and FB.ClienteID=@ClienteID 
	AND (@Cond='' or FB.FormaPago=@Cond)

	-- BUSCAMOS REASIGNADAS
	SELECT  @CantidadFacturas = @CantidadFacturas + COUNT(DISTINCT FB.FacturaID) 
	FROM Transportista_HojaDeRuta_Reasignada R
	INNER JOIN WhatsAppAPI.dbo.Factura_Cliente FB ON FB.HojaDeRutaID=R.HojaDeRutaIDOrigen AND FB.ClienteID=R.ClienteID
	LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
	--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
	WHERE R.HojaDeRutaIDDestino = @HojaDeRutaID
		AND FB.ClienteID=@ClienteID 
		AND (@Cond='' or FB.FormaPago=@Cond)
		 
	SELECT FB.ClienteID,FB.FacturaID, FC.Factura, ImporteAPagar=  ISNULL(SUM(FB.ImporteFactura),0) ,  FormaPago
	INTO #Datos 
	FROM WhatsAppAPI.dbo.Factura_Cliente FB 
	LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
	--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
	WHERE (FB.HojaDeRutaID=@HojaDeRutaID )   
	AND FB.ClienteID=@ClienteID 
	AND (@Cond='' or FB.FormaPago=@Cond)
	GROUP BY FB.ClienteID,FB.FacturaID, FC.Factura,  FormaPago
UNION
	SELECT FB.ClienteID,FB.FacturaID, FC.Factura, ImporteAPagar=  ISNULL(SUM(FB.ImporteFactura),0) ,  FormaPago
	FROM Transportista_HojaDeRuta_Reasignada R
	INNER JOIN WhatsAppAPI.dbo.Factura_Cliente FB ON FB.HojaDeRutaID=R.HojaDeRutaIDOrigen AND FB.ClienteID=R.ClienteID
	LEFT JOIN WhatsAppAPI.dbo.FacturaCabecera FC ON FC.Factura LIKE '%'+CONVERT(VARCHAR,FB.FacturaID)+'%'
	--INNER JOIN WhatsAppAPI.dbo.FacturaDetalle FD ON FD.CabeceraID=FC.Id
	WHERE R.HojaDeRutaIDDestino = @HojaDeRutaID
		AND FB.ClienteID=@ClienteID 
		AND (@Cond='' or FB.FormaPago=@Cond)
	
	GROUP BY FB.ClienteID,FB.FacturaID, FC.Factura,  FormaPago


	SELECT ClienteID, ISNULL(SUM(ImporteApagar),0) ImporteTotal
	INTO #DatosCliente
	FROM #Datos 
	GROUP BY ClienteID
	 
	SELECT FB.Factura,Fb.ClienteID, FB.FacturaID, FB.ImporteAPagar as TotalFacturas,@CantidadFacturas CantidadFacturas, c.Nombre AS ClienteNombre, CASE WHEN FormaPago like '%Contado%' THEN 0 ELSE 1 END AS CuentaCorriente, 0 AS isOR, (d.ImporteTotal) ImporteTotal
	FROM #Datos FB
	LEFT JOIN #DatosCliente d on  d.ClienteID=FB.ClienteID
	LEFT JOIN Reclamos.dbo.Cliente c on c.Id=d.ClienteID
UNION
	SELECT d.Factura, fb.ClienteID,  fb.FacturaID AS FacturaID,ISNULL(FB.ImporteFactura,0),0,c.Nombre, 1, 1, (d2.ImporteTotal) ImporteTotal
	FROM WhatsAppAPI.dbo.Factura_Cliente FB
	INNER JOIN Reclamos.dbo.Cliente C on C.Id= fb.ClienteID
	LEFT JOIN #Datos d on d.FacturaID= FB.FacturaID AND d.ClienteID=c.Id
	LEFT JOIN #DatosCliente d2 on  d2.ClienteID=c.Id
	WHERE FB.HojaDeRutaID=@HojaDeRutaID and FB.ClienteID=@ClienteID AND  FB.FormaPago like '%retir%'
		AND (@Cond='' or FB.FormaPago=@Cond)
 
 	ORDER BY 1 --, fd.Id
	 
END

 
GO
