USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_DesVincular_HDR]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_DesVincular_HDR]
@HojaDeRutaID INT 
AS

SET NOCOUNT ON 
SET XACT_ABORT ON 

BEGIN TRY 
	BEGIN TRANSACTION

	DELETE Transportista_HDR_Login  where HojaDeRutaID=@HojaDeRutaID
	DELETE Transportista_HojaDeRuta  where HojaDeRutaID=@HojaDeRutaID
	DELETE Transportista_HojaDeRutaDatos  where HojaDeRutaID=@HojaDeRutaID
	DELETE Transportista_HojaDeRuta_Termianda_Resumen where HojaDeRutaID=@HojaDeRutaID
	 
	SELECT 0 hasError, 'La hoja de ruta fue desvinculada correctamente.' ErrorMessage
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
 	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
	 
    IF (XACT_STATE()) = -1
    BEGIN
        PRINT N'The transaction is in an uncommittable state. Rolling back transaction.'

        ROLLBACK TRANSACTION;
    END;

    -- Test whether the transaction is committable.
    -- You may want to commit a transaction in a catch block if you want to commit changes to statements that ran prior to the error.
    IF (XACT_STATE()) = 1
    BEGIN
        PRINT N'The transaction is committable. Committing transaction.'

        COMMIT TRANSACTION;
    END;
END CATCH;



GO
