USE [Reparto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_HojaDeRuta_Asociadas_Sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transportista_HojaDeRuta_Asociadas_Sel]
 AS

DECLARE @MaxList INT
SELECT @MaxList =  Valor FROM Configuracion WHERE Nombre = 'MaxList'

SET @MaxList = ISNULL(@MaxList,10)

SELECT  TOP (@MaxList) a.RowID AS HojaDeRutaID, 
	
	T1.Apellido +' '+ T1.Nombre AS Repartidor1, T2.Apellido +' '+ T2.Nombre AS Repartidor2 , t1.Telefono,
	L.Patente, L.sPassword AS pass, 'https://illanes-encuesta.ddns.net/reparto/login.asp?patente='+L.Patente+'&password='+ L.sPassword as Link
FROM WhatsAppAPI.dbo.HojaDeRuta a WITH(NOLOCK)
INNER JOIN dbo.Transportista_HojaDeRuta b WITH(NOLOCK) ON b.HojaDeRutaID=a.RowID  
INNER JOIN dbo.Transportista_HDR_Login L ON L.HojaDeRutaID=b.HojaDeRutaID 
LEFT JOIN dbo.Transportista T1 on T1.TransportistaID=b.TransportistaID
LEFT JOIN dbo.Transportista T2 ON T2.TransportistaID=b.TransportistaID2
WHERE   a.Estado>=9
ORDER BY  1 desc
--AND (datediff(dd,a.DateAdded,GETDATE())<5)

GO
