USE [Reparto]
GO
/****** Object:  StoredProcedure [python].[usp_HojasDeRuta_Clientes_Ruta_upd]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojasDeRuta_Clientes_Ruta_upd]
@HojaDeRutaID INT,
@ClienteID INT,
@Orden INT
AS
SET NOCOUNT ON


UPDATE dbo.Transportista_HojaDeRuta_Clientes_Ruta_Optimizada SET Orden = @Orden
WHERE HojaDeRutaID = @HojaDeRutaID AND ClienteID = @ClienteID
IF @@ROWCOUNT =0
BEGIN
	INSERT INTO dbo.Transportista_HojaDeRuta_Clientes_Ruta_Optimizada (HojaDeRutaID,ClienteID,Orden) VALUES(@HojaDeRutaID,@ClienteID,@Orden)
END

GO
