USE [Reparto]
GO
/****** Object:  StoredProcedure [python].[usp_HojasDeRuta_Clientes_Direcciones]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojasDeRuta_Clientes_Direcciones]
@HojaDeRutaID INT
AS

SET NOCOUNT ON 



SELECT ClienteID,c.Latitud, c.Longitud
FROM dbo.Transportista_HojaDeRutaDatos d
INNER JOIN Reclamos.dbo.Cliente c on c.Id=d.ClienteID
WHERE d.HojaDeRutaID=@HojaDeRutaID and c.Latitud<>0.000000 and c.Latitud<>380.942400
GROUP BY ClienteID,c.Latitud, c.Longitud



GO
