USE [Reparto]
GO
/****** Object:  StoredProcedure [python].[usp_HojasDeRuta_PendientesOptimizar]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [python].[usp_HojasDeRuta_PendientesOptimizar]
AS

SET NOCOUNT ON 

SELECT a.HojaDeRutaID 
FROM dbo.Transportista_HDR_Login a
INNER JOIN dbo.Transportista_HojaDeRutaDatos d on d.HojaDeRutaID=a.HojaDeRutaID
WHERE NOT exists( SELECT NULL FROM dbo.Transportista_HojaDeRuta_Clientes_Ruta_Optimizada o WHERE o.HojaDeRutaID = d.HojaDeRutaID )
GROUP BY a.HojaDeRutaID
HAVING COUNT(DISTINCT d.ClienteID)>2

GO
