USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_GPS_Recorrido_Grupo_Detalle]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [tracking].[usp_GPS_Recorrido_Grupo_Detalle]
    @HojaDeRutaID INT,
    @GrupoID INT
AS
BEGIN
    SET NOCOUNT ON;


	    ;WITH Datos AS (
        SELECT
            FechaHoraGPS,
            Latitud,
            Longitud,
			Speed as Velocidad,
			Accuracy,
            LAG(Latitud)  OVER (ORDER BY FechaHoraGPS) AS LatPrev,
            LAG(Longitud) OVER (ORDER BY FechaHoraGPS) AS LonPrev
        FROM tracking.Transportista_GPS_Historico
        WHERE HojaDeRutaID = @HojaDeRutaID
          AND Latitud IS NOT NULL
          AND Longitud IS NOT NULL
		  AND Accuracy < 100
    ),
    Distancias AS (
        SELECT *,
            CASE
                WHEN LatPrev IS NULL THEN 0
                ELSE geography::Point(LatPrev, LonPrev, 4326)
                     .STDistance(geography::Point(Latitud, Longitud, 4326))
            END AS DistanciaMetros
        FROM Datos
    ),
    Grupos AS (
        SELECT *,
            SUM(CASE WHEN DistanciaMetros > 500 THEN 1 ELSE 0 END)
                OVER (ORDER BY FechaHoraGPS ROWS UNBOUNDED PRECEDING) AS GrupoID
        FROM Distancias
    )
	    SELECT
        FechaHoraGPS AS FechaGPS,
        Latitud,
        Longitud,
		Velocidad,
		Accuracy
    FROM Grupos
    WHERE GrupoID = @GrupoID
    ORDER BY FechaHoraGPS;
END
	/*
    ;WITH Datos AS (
        SELECT
            FechaHoraGPS,
            Latitud,
            Longitud,
            LAG(Latitud)  OVER (ORDER BY FechaHoraGPS) AS LatPrev,
            LAG(Longitud) OVER (ORDER BY FechaHoraGPS) AS LonPrev
        FROM tracking.Transportista_GPS_Historico
        WHERE HojaDeRutaID = @HojaDeRutaID
		   AND Latitud IS NOT NULL
          AND Longitud IS NOT NULL
		  AND Accuracy < 100
    ),
    Grupos AS (
        SELECT *,
            SUM(CASE
                WHEN geography::Point(LatPrev, LonPrev, 4326)
                     .STDistance(geography::Point(Latitud, Longitud, 4326)) > 500
                THEN 1 ELSE 0 END)
            OVER (ORDER BY FechaHoraGPS) AS GrupoID
        FROM Datos
    )
    SELECT
        FechaHoraGPS,
        Latitud,
        Longitud
    FROM Grupos
    WHERE GrupoID = @GrupoID
    ORDER BY FechaHoraGPS;
END
*/
GO
