USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_Transportista_HojaDeRuta_Dia]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from transportista order by 1 desc

-- [tracking].[usp_Transportista_HojaDeRuta_Dia] '21'

CREATE PROCEDURE [tracking].[usp_Transportista_HojaDeRuta_Dia] 
    @TransportistaID INT 
AS
BEGIN
    SET NOCOUNT ON;



    SELECT HojaDeRutaID, HojaDeRutaID as descripcion
	INTO #HDR
    FROM dbo.Transportista_HojaDeRuta h 
    WHERE h.TransportistaID = @TransportistaID
	  AND h.Estado=0
      AND DATEDIFF(dd,CAST(h.DateAdded AS DATE) ,GETDATE())=0 

	INSERT INTO #HDR
	SELECT 	H.RowID, RowID as descripcion
	FROM WhatsAppAPI.dbo.HojaDeRuta h 
	WHERE  h.Estado<8
		AND DATEDIFF(dd,CAST(h.DateAdded AS DATE) ,GETDATE())=0 

 
 	SELECT DISTINCT * FROM #HDR ORDER BY HojaDeRutaID

END

 
GO
