USE [Reparto]
GO
/****** Object:  Table [tracking].[Transportista_GPS_Historico]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tracking].[Transportista_GPS_Historico](
	[GPSID] [bigint] IDENTITY(1,1) NOT NULL,
	[TransportistaID] [int] NOT NULL,
	[HojaDeRutaID] [int] NULL,
	[Latitud] [decimal](9, 6) NOT NULL,
	[Longitud] [decimal](9, 6) NOT NULL,
	[PrecisionMetros] [int] NULL,
	[FechaHoraGPS] [datetime] NOT NULL,
	[FechaHoraServidor] [datetime] NOT NULL,
	[Origen] [varchar](20) NOT NULL,
	[DispositivoID] [varchar](100) NULL,
	[Bateria] [int] NULL,
	[Velocidad] [decimal](6, 2) NULL,
	[FueOffline] [bit] NOT NULL,
	[Accuracy] [decimal](10, 2) NULL,
	[Speed] [decimal](10, 2) NULL,
	[Provider] [varchar](20) NULL,
	[EsValidoRuta] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GPSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [tracking].[Transportista_GPS_Historico] ADD  DEFAULT (getdate()) FOR [FechaHoraServidor]
GO
ALTER TABLE [tracking].[Transportista_GPS_Historico] ADD  DEFAULT ('AUTO') FOR [Origen]
GO
ALTER TABLE [tracking].[Transportista_GPS_Historico] ADD  CONSTRAINT [DF_GPS_FueOffline]  DEFAULT ((0)) FOR [FueOffline]
GO
ALTER TABLE [tracking].[Transportista_GPS_Historico] ADD  DEFAULT ((1)) FOR [EsValidoRuta]
GO
