USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_GPS_HojaRuta_Dia]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [tracking].[usp_GPS_HojaRuta_Dia] 
    @TransportistaID INT,
    @Fecha DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        HojaDeRutaID
    FROM Transportista_HojaDeRuta
    WHERE TransportistaID = @TransportistaID
      AND CAST(DateAdded AS DATE) = @Fecha  
    ORDER BY HojaDeRutaID;
END

GO
