USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_GPS_Clientes_HojaRuta]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [tracking].[usp_GPS_Clientes_HojaRuta] 97299

CREATE PROCEDURE [tracking].[usp_GPS_Clientes_HojaRuta]  
    @HojaDeRutaID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validación básica
    IF @HojaDeRutaID IS NULL OR @HojaDeRutaID = 0
    BEGIN
        SELECT
            CAST(NULL AS INT)          AS ClienteID,
            CAST(NULL AS VARCHAR(200)) AS Nombre,
            CAST(NULL AS DECIMAL(9,6)) AS Latitud,
            CAST(NULL AS DECIMAL(9,6)) AS Longitud,
            CAST(NULL AS VARCHAR(300)) AS Direccion,
            CAST(NULL AS INT)          AS Orden,
            CAST(NULL AS INT)          AS HojaDeRutaID
        WHERE 1 = 0;
        RETURN;
    END
	 

    -- Clientes planificados en la hoja
    SELECT
        HRC.ClienteID,
        HRC.RazonSocial        AS Nombre,
        ISNULL(c.Latitud, -38.946025) AS Latitud,
        ISNULL(c.Longitud, -68.005185) AS Longitud, 
        R.Orden,
		'' AS Direccion,
        HRC.HojaDeRutaID
    FROM dbo.Transportista_HojaDeRutaDatos HRC
	LEFT JOIN Administracion.dbo.Clientes  C ON c.ClienteID=HRC.ClienteID
	LEFT JOIN dbo.Transportista_HojaDeRuta_Clientes_Ruta_Optimizada R ON R.HojaDeRutaID= HRC.HojaDeRutaID and R.ClienteID=HRC.ClienteID 
	
   
    WHERE HRC.HojaDeRutaID = @HojaDeRutaID
	GROUP BY HRC.ClienteID,
        HRC.RazonSocial ,
        ISNULL(c.Latitud, -38.946025) ,
        ISNULL(c.Longitud, -68.005185),
        R.Orden,
        HRC.HojaDeRutaID
    ORDER BY R.Orden;
END


GO
