USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_Transportista_GPS_Ins]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [tracking].[usp_Transportista_GPS_Ins]
    @TransportistaID INT,
    @HojaDeRutaID INT = NULL,

    @Latitud VARCHAR(20),
    @Longitud VARCHAR(20),

    @PrecisionMetros INT = NULL,
    @FechaHoraGPS VARCHAR(19),
    @Origen VARCHAR(20) = 'AUTO',
    @DispositivoID VARCHAR(100) = NULL,
    @Bateria INT = NULL,
    @Velocidad VARCHAR(10) = NULL,
    -- ✅ NUEVOS
    @Accuracy VARCHAR(20) = NULL,
    @Speed VARCHAR(20) = NULL,
    @Provider VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- =============================
        -- Normalización
        -- =============================
        SET @HojaDeRutaID    = NULLIF(@HojaDeRutaID, 0);
        SET @PrecisionMetros = NULLIF(@PrecisionMetros, 0);
        SET @Bateria         = NULLIF(@Bateria, 0);
        SET @Velocidad       = NULLIF(@Velocidad, '');

        DECLARE 
            @Lat DECIMAL(9,6),
            @Lon DECIMAL(9,6),
			@FechaGPS DATETIME,
			@Acc DECIMAL(10,2) 

		-- =====================================================
		-- Normalizar FechaHoraGPS (insertar espacio si falta)
		-- =====================================================
		IF  SUBSTRING(@FechaHoraGPS, 11, 1) <> ' '
		BEGIN
			SET @FechaHoraGPS =
				SUBSTRING(@FechaHoraGPS, 1, 10) + ' ' +
				SUBSTRING(@FechaHoraGPS, 11, 9);
		END
        -- =============================
        -- Conversión segura
        -- =============================

		SET @FechaGPS = TRY_CONVERT(DATETIME, @FechaHoraGPS, 120);

		IF @FechaGPS IS NULL
		BEGIN
			SET @FechaGPS = TRY_CONVERT(DATETIME, @FechaHoraGPS, 121);
		END

		IF @FechaGPS IS NULL
		BEGIN
			SET @FechaGPS = TRY_CONVERT(DATETIME, @FechaHoraGPS);
		END

		IF @FechaGPS IS NULL
		BEGIN
			INSERT INTO tracking.GPS_Errores_Log
			(
				TransportistaID,
				Latitud,
				Longitud,
				FechaHoraGPS,
				ErrorNumero,
				ErrorDescripcion,
				Origen
			)
			VALUES
			(
				@TransportistaID,
				@Latitud,
				@Longitud,
				@FechaHoraGPS,
				50001,
				'Formato de FechaHoraGPS inválido' + CONVERT(VARCHAR(19),@FechaHoraGPS),
				'SP-CONVERSION'
			);
			RETURN;
		END

        BEGIN TRY
            SET @Lat = CONVERT(DECIMAL(9,6), REPLACE(@Latitud, ',', '.'));
            SET @Lon = CONVERT(DECIMAL(9,6), REPLACE(@Longitud, ',', '.')); 
			SET @Acc = TRY_CONVERT(DECIMAL(10,2), REPLACE(ISNULL(@Accuracy,''), ',', '.'));
			SET @Speed = TRY_CONVERT(DECIMAL(10,2), REPLACE(ISNULL(@Speed,''), ',', '.'));
        END TRY
        BEGIN CATCH
            INSERT INTO tracking.GPS_Errores_Log
            (
                TransportistaID,
                Latitud,
                Longitud,
                FechaHoraGPS,
                ErrorNumero,
                ErrorDescripcion,
                Origen
            )
            VALUES
            (
                @TransportistaID,
                @Latitud,
                @Longitud,
                @FechaHoraGPS,
                50002,
                ERROR_MESSAGE(),
                'SP-CONVERSION'
            );
            RETURN;
        END CATCH;

        -- =============================
        -- Evitar duplicados (ÍNDICE UX_GPS_NoDup)
        -- =============================
        IF EXISTS (
            SELECT 1
            FROM tracking.Transportista_GPS_Historico
            WHERE TransportistaID = @TransportistaID
              AND FechaHoraGPS = @FechaGPS
        )
        BEGIN
            INSERT INTO tracking.GPS_Errores_Log
            (
                TransportistaID,
                Latitud,
                Longitud,
                FechaHoraGPS,
                ErrorNumero,
                ErrorDescripcion,
                Origen
            )
            VALUES
            (
                @TransportistaID,
                @Latitud,
                @Longitud,
                @FechaHoraGPS,
                50003,
                'GPS duplicado (mismo TransportistaID + FechaHoraGPS)',
                'SP-DUPLICATE'
            );
            RETURN;
        END

		IF @Provider IS NOT NULL AND LEN(@Provider) > 20
			SET @Provider = LEFT(@Provider, 20);

		-- Validaciones mínimas
		IF @Lat IS NULL OR @Lon IS NULL OR @FechaGPS IS NULL
		BEGIN
            INSERT INTO tracking.GPS_Errores_Log
            (
                TransportistaID,
                Latitud,
                Longitud,
                FechaHoraGPS,
                ErrorNumero,
                ErrorDescripcion,
                Origen
            )
            VALUES
            (
                @TransportistaID,
                @Latitud,
                @Longitud,
                @FechaHoraGPS,
                50004,
                'SP-CONVERSION: lat/lon inválidos',
                'SP-CONVERSION'
            );
			RETURN;
		END

        -- =============================
        -- Histórico
        -- =============================
        INSERT INTO tracking.Transportista_GPS_Historico
        (
            TransportistaID, HojaDeRutaID,
            Latitud, Longitud, PrecisionMetros,
            FechaHoraGPS, Origen,
            DispositivoID, Bateria, Velocidad,
			Accuracy, Speed, Provider
        )
        VALUES
        (
            @TransportistaID, @HojaDeRutaID,
            @Lat, @Lon, @PrecisionMetros,
            @FechaGPS, @Origen,
            @DispositivoID, @Bateria,
            NULLIF(@Velocidad,''),
			@Acc, @Speed, @Provider
        );

        -- =============================
        -- Estado actual
        -- =============================
        MERGE tracking.Transportista_GPS_Actual AS T
        USING (SELECT @TransportistaID AS TransportistaID) AS S
        ON T.TransportistaID = S.TransportistaID
        WHEN MATCHED THEN
            UPDATE SET
                Latitud = @Lat,
                Longitud = @Lon,
                FechaHoraGPS = @FechaGPS,
                HojaDeRutaID = @HojaDeRutaID,
                UltimaActualizacion = GETDATE(),
				Accuracy = @Acc,
				SpeedKmh = @Speed,
				Provider = @Provider
        WHEN NOT MATCHED THEN
			INSERT (TransportistaID, HojaDeRutaID, Latitud, Longitud, FechaHoraGPS, Accuracy, SpeedKmh, Provider)
			VALUES (@TransportistaID, @HojaDeRutaID, @Lat, @Lon, @FechaGPS, @Acc, @Speed, @Provider);

    END TRY
    BEGIN CATCH
        -- =============================
        -- Error general SQL
        -- =============================
        INSERT INTO tracking.GPS_Errores_Log
        (
            TransportistaID,
            Latitud,
            Longitud,
            FechaHoraGPS,
            ErrorNumero,
            ErrorDescripcion,
            Origen
        )
        VALUES
        (
            @TransportistaID,
            @Latitud,
            @Longitud,
            @FechaHoraGPS,
            ERROR_NUMBER(),
            ERROR_MESSAGE(),
            'SP-GENERAL'
        );
    END CATCH
END

GO
