USE [Reparto]
GO
/****** Object:  Table [tracking].[Transportista_Dispositivo]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tracking].[Transportista_Dispositivo](
	[TransportistaID] [int] NOT NULL,
	[AndroidID] [varchar](100) NOT NULL,
	[FechaAlta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransportistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [tracking].[Transportista_Dispositivo] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
