USE [Reparto]
GO
/****** Object:  Table [tracking].[gps_pendientes]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tracking].[gps_pendientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transportista_id] [int] NULL,
	[lat] [decimal](9, 6) NULL,
	[lon] [decimal](9, 6) NULL,
	[fecha] [datetime] NULL,
	[accuracy] [decimal](9, 2) NULL,
	[speed] [decimal](9, 2) NULL,
	[provider] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
