USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_GPS_Recorrido_Agrupado]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [tracking].[usp_GPS_Recorrido_Agrupado] 
    @HojaDeRutaID INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH Datos AS (
        SELECT
            FechaHoraGPS,
            Latitud,
            Longitud,
            LAG(Latitud)  OVER (ORDER BY FechaHoraGPS) AS LatPrev,
            LAG(Longitud) OVER (ORDER BY FechaHoraGPS) AS LonPrev
        FROM tracking.Transportista_GPS_Historico
        WHERE HojaDeRutaID = @HojaDeRutaID
          AND Latitud IS NOT NULL
          AND Longitud IS NOT NULL
		  AND Accuracy < 100
    ),
    Distancias AS (
        SELECT *,
            CASE
                WHEN LatPrev IS NULL THEN 0
                ELSE geography::Point(LatPrev, LonPrev, 4326)
                     .STDistance(geography::Point(Latitud, Longitud, 4326))
            END AS DistanciaMetros
        FROM Datos
    ),
    Grupos AS (
        SELECT *,
            SUM(CASE WHEN DistanciaMetros > 500 THEN 1 ELSE 0 END)
                OVER (ORDER BY FechaHoraGPS ROWS UNBOUNDED PRECEDING) AS GrupoID
        FROM Distancias
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY MIN(FechaHoraGPS)) AS Orden,
        GrupoID,
        COUNT(*) AS CantidadPuntos,
        MIN(FechaHoraGPS) AS Inicio,
        MAX(FechaHoraGPS) AS Fin,
        DATEDIFF(MINUTE, MIN(FechaHoraGPS), MAX(FechaHoraGPS)) AS DuracionMin,
        AVG(Latitud) AS Latitud,
        AVG(Longitud) AS Longitud
    FROM Grupos
    GROUP BY GrupoID
    ORDER BY Orden;
END
 
GO
