USE [Reparto]
GO
/****** Object:  Table [tracking].[GPS_Errores_Log]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tracking].[GPS_Errores_Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[TransportistaID] [int] NULL,
	[Latitud] [varchar](50) NULL,
	[Longitud] [varchar](50) NULL,
	[FechaHoraGPS] [varchar](30) NULL,
	[ErrorNumero] [int] NULL,
	[ErrorDescripcion] [varchar](4000) NULL,
	[Origen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [tracking].[GPS_Errores_Log] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
