USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_Transportista_ValidarDispositivo]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [tracking].[usp_Transportista_ValidarDispositivo]
    @TransportistaID INT,
    @AndroidID VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1
        FROM tracking.Transportista_Dispositivo
        WHERE TransportistaID = @TransportistaID
    )
    BEGIN
        INSERT INTO tracking.Transportista_Dispositivo
            (TransportistaID, AndroidID)
        VALUES
            (@TransportistaID, @AndroidID)

        SELECT 'OK' AS Estado
        RETURN
    END

    IF EXISTS (
        SELECT 1
        FROM tracking.Transportista_Dispositivo
        WHERE TransportistaID = @TransportistaID
          AND AndroidID = @AndroidID
    )
    BEGIN
        SELECT 'OK' AS Estado
    END
    ELSE
    BEGIN
        SELECT 'BLOQUEADO' AS Estado
    END
END

GO
