USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_GPS_Recorrido_Sel]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [tracking].[usp_GPS_Recorrido_Sel]
    @TransportistaID INT,
    @Fecha VARCHAR(10),      -- 👈 CAMBIO
    @DesdeHora TIME = '00:00:00.000',
    @HastaHora TIME = '23:59:00.000'
AS
BEGIN
    SET NOCOUNT ON;

 
	--select * from tracking.gps_log
	--create table tracking.gps_log( Id bigint IDENTITY(1,1) PRIMARY KEY, TransportistaID INT NULL, Fecha VARCHAR(10) NULL, Desde TIME NULL, Hasta Time, Fbase DATE)
    DECLARE @FechaBase DATE;
    SET @FechaBase = CONVERT(DATE, @Fecha, 120);
  
    
	DECLARE @Desde DATETIME;
	DECLARE @Hasta DATETIME;
	SET @Desde =  CAST(@Fecha AS DATETIME) + CAST(@DesdeHora AS DATETIME);
	SET @Hasta =  CAST(@Fecha AS DATETIME) + CAST(@HastaHora AS DATETIME); 
	 
    SELECT
        FechaHoraGPS,
        Latitud,
        Longitud,
        Velocidad,
        PrecisionMetros
    FROM tracking.Transportista_GPS_Historico
    WHERE TransportistaID = @TransportistaID
      AND FechaHoraGPS BETWEEN @Desde AND @Hasta
    ORDER BY FechaHoraGPS;

	
	--INSERT INTO tracking.gps_log (TransportistaID,Fecha,Desde,Hasta,Fbase) VALUES (@TransportistaID,@Fecha,@DesdeHora,@HastaHora,@FechaBase)


END
--GO



--EXEC [tracking].[usp_GPS_Recorrido_Sel] 12,'2026-01-08'


--    SELECT
--        FechaHoraGPS,
--        Latitud,
--        Longitud,
--        Velocidad,
--        PrecisionMetros 
--    FROM tracking.Transportista_GPS_Historico
--    WHERE TransportistaID = 12
--      AND FechaHoraGPS BETWEEN '2026-01-08 07:00:00.000' AND '2026-01-08 21:00:00.000'
--    ORDER BY FechaHoraGPS;


GO
