USE [Reparto]
GO
/****** Object:  Table [tracking].[Transportista_GPS_Actual]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tracking].[Transportista_GPS_Actual](
	[TransportistaID] [int] NOT NULL,
	[HojaDeRutaID] [int] NULL,
	[Latitud] [decimal](9, 6) NULL,
	[Longitud] [decimal](9, 6) NULL,
	[FechaHoraGPS] [datetime] NULL,
	[UltimaActualizacion] [datetime] NULL,
	[Accuracy] [decimal](10, 2) NULL,
	[SpeedKmh] [decimal](10, 2) NULL,
	[Provider] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransportistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [tracking].[Transportista_GPS_Actual] ADD  DEFAULT (getdate()) FOR [UltimaActualizacion]
GO
