USE [Reparto]
GO
/****** Object:  Table [tracking].[gps_log]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tracking].[gps_log](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TransportistaID] [int] NULL,
	[Fecha] [varchar](10) NULL,
	[Desde] [time](7) NULL,
	[Hasta] [time](7) NULL,
	[Fbase] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
