USE [Reparto]
GO
/****** Object:  StoredProcedure [tracking].[usp_GPS_Puntos_Dia]    Script Date: 30/04/2026 12:42:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [tracking].[usp_GPS_Puntos_Dia]
    @TransportistaID INT = NULL,
    @Fecha VARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Fecha IS NULL
        SET @Fecha = CAST(GETDATE() AS DATE);

	  DECLARE @FechaBase DATE;
		SET @FechaBase = CONVERT(DATE, @Fecha, 120);

    SELECT 
		FechaHoraGPS as Fecha,
        TransportistaID,
        Latitud,
        Longitud,
        FechaHoraGPS,
        Accuracy,
        Speed,
        Provider,
        Origen
    FROM tracking.Transportista_GPS_Historico
     WHERE
         FechaHoraGPS >= @FechaBase
         AND FechaHoraGPS < DATEADD(DAY, 1, @FechaBase)
         AND (@TransportistaID IS NULL OR TransportistaID = @TransportistaID)
		 AND accuracy < 100
		 and EsValidoRuta = 1
    ORDER BY Fecha ASC;
END

GO
