USE [Administracion]
GO
/****** Object:  Table [dbo].[FacturaDetalle]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FacturaDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CabeceraID] [int] NOT NULL,
	[Factura] [varchar](20) NULL,
	[Articulo] [varchar](20) NULL,
	[Cantidad] [int] NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Dto] [numeric](20, 3) NULL,
	[PrecioUnitario] [numeric](20, 3) NULL,
	[PrecioSugerido] [numeric](20, 3) NULL,
	[Importe] [numeric](20, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
