USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_EnvioPDFWhatsAPP_Manual]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_EnvioPDFWhatsAPP_Manual]
AS
SET NOCOUNT ON 



IF OBJECT_ID('tempdb..#Telefono') IS NOT NULL
	DROP TABLE #Telefono

CREATE TABLE  #Telefono(Telefono varchar(50))

INSERT INTO #Telefono
SELECT TOP 100 CONVERT(varchar(50),CONVERT(BIGINT,Telefonos))
FROM [dbo].[TelefonosAEnviar]
 

INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono) 
select N'{
   "messaging_product":"whatsapp",
   "to":"'+CONVERT(NVARCHAR(50),Telefono)+'",
   "type":"template",
   "template":{
      "name":"navidad2025",
      "language":{
         "code":"es_AR"
      },
        "components": [
            {
                "type": "header",
                "parameters": [
                    {
                        "type": "document",
                        "document": {
                            "link": "https://drive.google.com/uc?export=download&id=1EzWZ7254qJxYWE8GnvF2PNz-8oV1lA43",
                            "filename": "GRUPO_ILLANES_NAVIDAD_2025.PDF"
                        }
                    }
                ]
            },
            {
                "type": "body",
                "parameters": [
                    {
                        "type": "text",
                        "text": "2996273524"
                    } 
                ]
            }
        ]
    }
}
','navidad2025', Telefono
FROM #Telefono


DELETE DEL
FROM  [TelefonosAEnviar] DEL
INNER JOIN #Telefono T ON T.Telefono =  CONVERT(varchar(50),CONVERT(BIGINT,Del.Telefonos))


IF OBJECT_ID('tempdb..#Telefono') IS NOT NULL
	DROP TABLE #Telefono



GO
