USE [Administracion]
GO
/****** Object:  Table [dbo].[Transferencias]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transferencias](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[BancoID] [int] NULL,
	[Cliente] [varchar](500) NULL,
	[Monto] [numeric](36, 2) NULL,
	[FechaDepositoECheck] [varchar](200) NULL,
	[OK] [varchar](10) NULL,
	[NroRecibo] [varchar](50) NULL,
	[NroCliente] [varchar](50) NULL,
	[AppliedBy] [varchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[UpdatedBY] [varchar](50) NULL,
	[LastUpdated] [datetime] NULL,
	[CUIT_Valido] [varchar](13) NULL,
	[ExtractoID] [int] NULL,
	[ExtractoDatosID] [int] NULL,
	[PUNTO_VENTA_ID] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Transferencias] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Transferencias] ADD  DEFAULT ((1)) FOR [PUNTO_VENTA_ID]
GO
