USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Pendientes_sel]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Ordenes_Pendientes_sel]
 
AS

SET NOCOUNT ON 
  
SELECT P.RowID, P.PeriodoAnio + ' - '+ P.PeriodoNombre Periodo, COUNT(*) TotalPendientes, sum(monto) Importe
FROM OrdenesCobranza c
INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
WHERE ISNULL(c.OK,'') = ''
GROUP BY P.RowID, P.PeriodoAnio + ' - '+ P.PeriodoNombre
ORDER BY 1  DESC

GO
