USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_EnProceso]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Campania_EnProceso]
AS 
SET NOCOUNT ON

SELECT c.CampaniaID,c.NombreCampania,c.Canal,c.TotalDestinatarios, c.CantidadDiaria, c.Estado, SUM(CASE WHEN d.Estado=1 THEN 1 ELSE 0 END) Enviados
FROM Campanias c
INNER JOIN Campanias_Destinatarios D ON D.CampaniaID=c.CampaniaID
WHERE c.Estado >=2  
GROUP BY c.CampaniaID,c.NombreCampania,c.Canal,c.TotalDestinatarios, c.CantidadDiaria, c.Estado
ORDER BY 1 DESC
GO
