USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Step_0_upd]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Campania_Step_0_upd]
@CampaniaID INT,
@NombreCampania nvarchar(400),
@Descripcion nvarchar(1000)
AS

UPDATE Campanias SET
	NombreCampania = NombreCampania,
	Descripcion = @Descripcion
WHERE CampaniaID = @CampaniaID


GO
