USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Destinatarios_load]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Campania_Destinatarios_load]
@CampaniaID INT
AS
SET NOCOUNT ON

DECLARE @TotalDestinatarios INT =0 

SELECT @TotalDestinatarios = COUNT(*)
FROM tmp.Campanias_Destinatarios d
LEFT JOIN WhatsAppAPI.[sofia].[WhatsAPP_API_Blacklist] T ON T.Destinatario = d.Destinatario
WHERE d.CampaniaID = @CampaniaID 
AND T.Destinatario is null 

DELETE FROM dbo.Campanias_Destinatarios WHERE CampaniaID=@CampaniaID

INSERT INTO dbo.Campanias_Destinatarios (CampaniaID,Destinatario)
SELECT  CampaniaID, d.Destinatario
FROM tmp.Campanias_Destinatarios d
LEFT JOIN WhatsAppAPI.[sofia].[WhatsAPP_API_Blacklist] T ON T.Destinatario = d.Destinatario
WHERE d.CampaniaID = @CampaniaID 
AND T.Destinatario is null
 
UPDATE dbo.Campanias SET 
	Estado = 0, TotalDestinatarios = @TotalDestinatarios  
WHERE CampaniaID = @CampaniaID 

GO
