USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transferencias_Buscar]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transferencias_Buscar]
@Pendientes INT,
@Monto NUMERIC(36,2) =0,
@Cliente VARCHAR(500) = '',
@ByRange INT=0,
@StartMonto NUMERIC(36,2)=0,
@EndMonto NUMERIC(36,2)=0,
@Cuit varchar(13)='',
@PUNTO_VENTA_ID TINYINT =1
AS

SET NOCOUNT ON 
 

DECLARE @filterbymonto INT = CASE WHEN @Monto >0 THEN 1 ELSE 0 END 
DECLARE @filterbycliente INT = CASE WHEN @Cliente <> '' THEN 1 ELSE 0 END 
DECLARE @filterbycuit INT = CASE WHEN @Cuit <> '' THEN 1 ELSE 0 END 

IF @PUNTO_VENTA_ID=1
BEGIN


	IF @ByRange=0
	BEGIN
		SELECT c.RowID, c.Fecha,b.Nombre as Banco,c.Cliente,c.Monto,c.ok,c.NroRecibo,c.NroCliente,FechaDepositoECheck
		FROM Transferencias c
		INNER JOIN Bancos b on b.BancoID=c.BancoID
		WHERE c.PUNTO_VENTA_ID = @PUNTO_VENTA_ID
			AND
			(
			@Pendientes=0 
			OR 
			(@pendientes=1 AND ISNULL(OK,'') = '')
			)
			AND
			(
				(@filterbymonto = 1 AND Monto = @Monto)
				OR 
				(@filterbycliente = 1 AND cliente  like '%' + @Cliente + '%')
				OR 
				(@filterbyCuit = 1 AND CUIT_Valido like '%'+@Cuit+'%')
			)
		ORDER BY  c.Monto DESC, c.Fecha DESC
	END
	ELSE
	BEGIN 
		SELECT C.RowID, c.Fecha,b.Nombre as Banco,c.Cliente,c.Monto,c.ok,c.NroRecibo,c.NroCliente,FechaDepositoECheck
		FROM Transferencias c
		INNER JOIN Bancos b on b.BancoID=c.BancoID
		WHERE c.PUNTO_VENTA_ID = @PUNTO_VENTA_ID
			AND
			(
			@Pendientes=0 
			OR 
			(@pendientes=1 AND ISNULL(OK,'') = '')
			)
			AND(Monto Between @StartMonto AND @EndMonto)
			AND (@filterbycliente = 0  OR (@filterbycliente = 1 AND cliente  like '%' + @Cliente + '%') OR (@filterbyCuit = 1 AND CUIT_Valido like '%'+@Cuit+'%') )
 
		ORDER BY c.Monto DESC, c.Fecha  DESC

	END
 END


IF @PUNTO_VENTA_ID=2
BEGIN


	IF @ByRange=0
	BEGIN
		SELECT c.RowID, c.Fecha,b.Nombre as Banco,c.Cliente,c.Monto,c.ok,c.NroRecibo,c.NroCliente,FechaDepositoECheck
		FROM Transferencias c
		INNER JOIN Bancos b on b.BancoID=c.BancoID
		WHERE b.BancoID in (3,7)
			AND
			(
			@Pendientes=0 
			OR 
			(@pendientes=1 AND ISNULL(OK,'') = '')
			)
			AND
			(
				(@filterbymonto = 1 AND Monto = @Monto)
				OR 
				(@filterbycliente = 1 AND cliente  like '%' + @Cliente + '%')
				OR 
				(@filterbyCuit = 1 AND CUIT_Valido like '%'+@Cuit+'%')
			)
		ORDER BY  c.Monto DESC, c.Fecha DESC
	END
	ELSE
	BEGIN 
		SELECT C.RowID, c.Fecha,b.Nombre as Banco,c.Cliente,c.Monto,c.ok,c.NroRecibo,c.NroCliente,FechaDepositoECheck
		FROM Transferencias c
		INNER JOIN Bancos b on b.BancoID=c.BancoID
		WHERE  b.BancoID in (3,7)
			AND
			(
			@Pendientes=0 
			OR 
			(@pendientes=1 AND ISNULL(OK,'') = '')
			)
			AND(Monto Between @StartMonto AND @EndMonto)
			AND (@filterbycliente = 0  OR (@filterbycliente = 1 AND cliente  like '%' + @Cliente + '%') OR (@filterbyCuit = 1 AND CUIT_Valido like '%'+@Cuit+'%') )
 
		ORDER BY c.Monto DESC, c.Fecha  DESC

	END
 END


GO
