USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transferencias_All]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transferencias_All] 
@PUNTO_VENTA_ID TINYINT =1
AS

SET NOCOUNT ON

SET LANGUAGE Spanish;

select CONVERT(VARCHAR(10),CONVERT(VARCHAR(2),DATEPART(DD,T.Fecha)) + '/' + CONVERT(VARCHAR(2),datepart(MM,T.Fecha),2) + '/' + CONVERT(VARCHAR(4),datepart(YYYY,T.Fecha))) AS FechaDate,t.*,b.Nombre,b.NombreCorto, 
YEAR(T.Fecha) as [Año],MONTH(T.Fecha) Mes,CAST((MONTH(T.Fecha)+2)/3 as int) Trimestre,DATENAME(MONTH,t.fecha) NombreMes
FROM Transferencias t
LEFT JOIN Bancos B ON B.BancoID=T.BancoID
WHERE t.PUNTO_VENTA_ID  = @PUNTO_VENTA_ID
GO
