USE [Administracion]
GO
/****** Object:  Table [dbo].[FacturaCabecera]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FacturaCabecera](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Factura] [varchar](20) NULL,
	[Subtotal] [numeric](20, 3) NULL,
	[IVA] [numeric](20, 3) NULL,
	[PercepIVA] [numeric](20, 3) NULL,
	[PercepIIBB] [numeric](20, 3) NULL,
	[Total] [numeric](20, 3) NULL,
	[FacturaID]  AS (CONVERT([int],substring([Factura],(10),(9)))),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
