USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Save_Missing]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Ordenes_Save_Missing]    
@FileID INT = 0,
@OrdenID INT = 0,
@clientenro VARCHAR(10) = '',
@vendedornro VARCHAr(10) = '',
@CUIT VARCHAR(13) = NULL,
@Facturanro VARCHAR(20) = NULL
--@chksincu,xit INT = 0
AS
SET NOCOUNT ON 
 

DECLARE @ClienteID INT = NULL, @VendedorID INT = NULL, @facturaID VARCHAR(20)=NULL

SELECT  @ClienteID = ClienteID FROM Clientes C WHERE ClienteID = @clientenro
SELECT  @VendedorID = VendedorID FROM Vendedores C WHERE rtrim(ltrim(C.codigo)) = @vendedornro
--SELECT  @Facturanro = FacturaID FROM Reclamos.dbo.Cliente_Factura where FacturaID=@Facturanro  
 
IF @ClienteID IS NULL
BEGIN
	SELECT 1 hasError, 'El cliente ingresado no existe, verifique en america o vuelva espere a actulizacion.' ErrorMessage
	RETURN
END

IF @VendedorID IS NULL
BEGIN
	SELECT 1 hasError, 'El vendedor ingresado no existe, verifique en america o vuelva espere a actulizacion.' ErrorMessage
	RETURN
END

--IF @FacturaNro IS NULL
--BEGIN
--	SELECT 1 hasError, 'La factura ingresada no existe, verifique en america o vuelva espere a actulizacion.' ErrorMessage
--	RETURN
--END

BEGIN TRY    

	UPDATE OrdenesDatos SET
		ClienteID = @ClienteID,
		VendedorID = @VendedorID,
		CUIT_Valido = @CUIT,
		MatchManual=1,
		FacturaNro = @Facturanro,
		FechaAsignacionFactura = GETDATE()
	WHERE FileID=@FileID
	AND OrdenID = @OrdenID

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH



 

GO
