USE [Administracion]
GO
/****** Object:  Table [dbo].[OrdenesDatos]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdenesDatos](
	[FileID] [int] NOT NULL,
	[OrdenID] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Cliente] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Telefono] [nvarchar](255) NULL,
	[Pago] [nvarchar](255) NULL,
	[FormaPago] [nvarchar](255) NULL,
	[Envio] [nvarchar](255) NULL,
	[FormaEnvio] [nvarchar](255) NULL,
	[CostoEnvio] [nvarchar](255) NULL,
	[Total] [nvarchar](255) NULL,
	[TipoDeEnvio] [nvarchar](255) NULL,
	[Sucursal] [nvarchar](255) NULL,
	[Envio_Nombre] [nvarchar](255) NULL,
	[Envio_Apellido] [nvarchar](255) NULL,
	[Envio_TipoDeDocumento] [nvarchar](255) NULL,
	[Envio_NumeroDeDocumento] [nvarchar](255) NULL,
	[Envio_Calle] [nvarchar](255) NULL,
	[Envio_Numero] [nvarchar](255) NULL,
	[Envio_Piso] [nvarchar](255) NULL,
	[Envio_Dpto] [nvarchar](255) NULL,
	[Envio_Ciudad] [nvarchar](255) NULL,
	[Envio_Provincia] [nvarchar](255) NULL,
	[Envio_CP] [nvarchar](255) NULL,
	[Fact_Razonsocial] [nvarchar](255) NULL,
	[Fact_TipoDeDocumento] [nvarchar](255) NULL,
	[Fact_NumeroDeDocumento] [nvarchar](255) NULL,
	[Fact_Calle] [nvarchar](255) NULL,
	[Fact_Numero] [nvarchar](255) NULL,
	[Fact_Piso] [nvarchar](255) NULL,
	[Fact_Dpto] [nvarchar](255) NULL,
	[Fact_Ciudad] [nvarchar](255) NULL,
	[Fact_Provincia] [nvarchar](255) NULL,
	[Fact_CP] [nvarchar](255) NULL,
	[Facturada] [nvarchar](255) NULL,
	[Observaciones] [varchar](2000) NULL,
	[Productos] [nvarchar](255) NULL,
	[ClienteID] [int] NULL,
	[VendedorID] [varchar](5) NULL,
	[FechaEnvio] [datetime] NULL,
	[SkipIT] [int] NULL,
	[CUIT_Archivo] [varchar](13) NULL,
	[CUIT_Valido] [varchar](13) NULL,
	[Nombre_Cuit_Valido] [varchar](255) NULL,
	[RazonSocial_CUIT_Valido] [varchar](255) NULL,
	[MatchCUITs] [tinyint] NULL,
	[MatchPython] [tinyint] NULL,
	[MatchManual] [tinyint] NULL,
	[MatchCUITsObservaciones] [tinyint] NULL,
	[EntregaIllanes] [int] NULL,
	[FacturaNro] [varchar](50) NULL,
	[FacturaArchivo] [varchar](255) NULL,
	[FechaAsignacionFactura] [datetime] NULL,
	[Deleted] [int] NULL,
	[FacturaValidada] [tinyint] NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC,
	[OrdenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OrdenesDatos] ADD  DEFAULT ((0)) FOR [SkipIT]
GO
ALTER TABLE [dbo].[OrdenesDatos] ADD  DEFAULT ((0)) FOR [EntregaIllanes]
GO
ALTER TABLE [dbo].[OrdenesDatos] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[OrdenesDatos] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
