USE [Administracion]
GO
/****** Object:  Table [dbo].[OrdenesDatosItems]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdenesDatosItems](
	[FileID] [int] NOT NULL,
	[OrdenID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Producto] [varchar](200) NOT NULL,
	[SkipIT] [int] NULL,
	[Deleted] [int] NULL,
	[Modificado] [int] NULL,
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC,
	[OrdenID] ASC,
	[Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OrdenesDatosItems] ADD  DEFAULT ((0)) FOR [SkipIT]
GO
ALTER TABLE [dbo].[OrdenesDatosItems] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[OrdenesDatosItems] ADD  DEFAULT ((0)) FOR [Modificado]
GO
ALTER TABLE [dbo].[OrdenesDatosItems] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
