USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_GetRow_Missing]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Extractos_GetRow_Missing]      
@ExtractoRow INT = 0 
AS
SET NOCOUNT ON 
 
SELECT 
	CASE WHEN CUIT_Archivo<>'' THEN CONVERT(CHAR(2),left(CUIT_Archivo,2))+'-'+SUBSTRING(CONVERT(VARCHAR(20),CUIT_Archivo),3,len(CUIT_Archivo)-3)+'-'+RIGHT(CUIT_Archivo,1)  ELSE NULL END AS CUIT_Archivo 
FROM dbo.ExtractosBancariosDatos 
WHERE RowID=@ExtractoRow


GO
