USE [Administracion]
GO
/****** Object:  Table [dbo].[CUITs]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUITs](
	[NumeroDocumento] [varchar](20) NULL,
	[CUIT] [varchar](13) NULL,
	[Nombre] [varchar](255) NULL,
	[RazonSocial] [varchar](255) NULL,
	[CUIT_NUMERO] [bigint] NULL,
	[DateAdded] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CUITs] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
