USE [Administracion]
GO
/****** Object:  Table [dbo].[MaestroGeneral]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaestroGeneral](
	[Código ] [nvarchar](255) NULL,
	[Nombre ] [nvarchar](255) NULL,
	[Razón Social ] [nvarchar](255) NULL,
	[Sucursal ] [nvarchar](255) NULL,
	[Grupo Económico ] [nvarchar](255) NULL,
	[Genérico ] [nvarchar](255) NULL,
	[Tipo de Sociedad ] [nvarchar](255) NULL,
	[Tipo de Documento ] [nvarchar](255) NULL,
	[Número de Documento ] [nvarchar](255) NULL,
	[CUIT ] [nvarchar](255) NULL,
	[Vto# CUIT ] [nvarchar](255) NULL,
	[Categoría de IVA ] [nvarchar](255) NULL,
	[País ] [nvarchar](255) NULL,
	[Condición de Venta ] [nvarchar](255) NULL,
	[Lista de Precios ] [nvarchar](255) NULL,
	[Lista de Precios Digital ] [nvarchar](255) NULL,
	[Concepto Facturable ] [nvarchar](255) NULL,
	[Vendedor 1 ] [nvarchar](255) NULL,
	[Vendedor 2 ] [nvarchar](255) NULL,
	[Vendedor 3 ] [nvarchar](255) NULL,
	[Vendedor 4 ] [nvarchar](255) NULL,
	[Vendedor 5 ] [nvarchar](255) NULL,
	[Esquema Comercial ] [nvarchar](255) NULL,
	[Estado ] [nvarchar](255) NULL,
	[Motivo ] [nvarchar](255) NULL,
	[Fecha de Alta ] [nvarchar](255) NULL,
	[Fecha Cambio de Estado ] [nvarchar](255) NULL,
	[Suspende por Grupo Económico ] [nvarchar](255) NULL,
	[Límite de Crédito Moneda ] [nvarchar](255) NULL,
	[Límite de Crédito Monto Máximo ] [float] NULL,
	[Otorgamiento ] [nvarchar](255) NULL,
	[Vto# Crédito ] [nvarchar](255) NULL,
	[Días Toleración Facturas Vencidas ] [float] NULL,
	[Días Tolerancia Cobranza ] [float] NULL,
	[Grupo de Canal ] [nvarchar](255) NULL,
	[Canal ] [nvarchar](255) NULL,
	[Subcanales ] [nvarchar](255) NULL,
	[Apertura Adicional ] [nvarchar](255) NULL,
	[Categoría ] [nvarchar](255) NULL,
	[Zona de Ventas ] [nvarchar](255) NULL,
	[Zona de Reparto ] [nvarchar](255) NULL,
	[Plazo de Entrega ] [nvarchar](255) NULL,
	[Convenio Estaciones de Servicios ] [nvarchar](255) NULL,
	[Observaciones ] [nvarchar](255) NULL,
	[Dirección de Mail ] [nvarchar](255) NULL,
	[Fecha Ult# Modif# ] [nvarchar](255) NULL,
	[Usuario ] [nvarchar](255) NULL,
	[Razón Social - Descripción ] [nvarchar](255) NULL,
	[Calle ] [nvarchar](255) NULL,
	[Altura ] [nvarchar](255) NULL,
	[Esquina ] [nvarchar](255) NULL,
	[Manzana ] [nvarchar](255) NULL,
	[Torre ] [nvarchar](255) NULL,
	[Piso ] [nvarchar](255) NULL,
	[Departamento ] [nvarchar](255) NULL,
	[Lat# ] [float] NULL,
	[Long# ] [float] NULL,
	[Localidad ] [nvarchar](255) NULL,
	[Cód# Postal ] [nvarchar](255) NULL,
	[Provincia ] [nvarchar](255) NULL,
	[País 1] [nvarchar](255) NULL,
	[Barrio ] [nvarchar](255) NULL,
	[Teléfono ] [nvarchar](255) NULL,
	[Fax ] [nvarchar](255) NULL,
	[Observaciones de la Dirección ] [nvarchar](255) NULL,
	[Nombre del Contacto ] [nvarchar](255) NULL,
	[Cargo ] [nvarchar](255) NULL,
	[Transportista Defecto ] [nvarchar](255) NULL,
	[Agente de Retención ] [nvarchar](255) NULL,
	[Nro# Inscripción IIBB ] [nvarchar](255) NULL,
	[Percepción IIBB ] [nvarchar](255) NULL,
	[Categoría Percepción IIBB ] [nvarchar](255) NULL,
	[Inscripto Convenio ] [nvarchar](255) NULL,
	[Gran Contribuyente ] [nvarchar](255) NULL,
	[Vigencia Fecha Hasta ] [nvarchar](255) NULL,
	[Emisor de Comprobantes Electrónicos] [nvarchar](255) NULL,
	[Percepción IVA ] [nvarchar](255) NULL,
	[Categoría Percepción IVA ] [nvarchar](255) NULL,
	[Porcentaje Exento ] [float] NULL,
	[Fecha Desde Exención IVA ] [nvarchar](255) NULL,
	[Fecha Hasta Exención IVA ] [nvarchar](255) NULL,
	[Plan de Fidelización ] [nvarchar](255) NULL,
	[Plan ] [nvarchar](255) NULL,
	[Tipo de Cliente ] [nvarchar](255) NULL,
	[Nro# de Tarjeta ] [nvarchar](255) NULL,
	[Conc# Fact# NC Aut# ] [nvarchar](255) NULL,
	[Impuestos Internos] [nvarchar](255) NULL
) ON [PRIMARY]

GO
