USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_View_Missing]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 --[dbo].[usp_Extractos_View_Missing]    28
CREATE PROCEDURE [dbo].[usp_Extractos_View_Missing]    
@ExtractoID INT = 0
AS
SET NOCOUNT ON 


SELECT d.RowID,
Fecha,
Credito,
DescripcionCompleta AS NombreArchivo,
CUIT_Archivo,
CUIT_Valido,
Nombre_Cuit_Valido,
CONVERT(VARCHAR(255), RazonSocial_CUIT_Valido COLLATE SQL_Latin1_General_CP1_CI_AS ) AS RazonSocial ,*
FROM ExtractosBancariosDatos d  
WHERE  d.ExtractoID=@ExtractoID
and d.SkipIT = 0
and (d.CUIT_Valido IS NULL AND d.RazonSocial_CUIT_Valido IS NULL)
GO
