USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transferencias_Pendientes_PorClientes_Sel]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transferencias_Pendientes_PorClientes_Sel] 
@RowID INT,
@PUNTO_VENTA_ID TINYINT = 1
AS

SET NOCOUNT ON 
  
  
IF @PUNTO_VENTA_ID = 1
BEGIN 

	SELECT c.Fecha, b.Nombre,c.cliente,c.Monto as Importe, c.RowID
	FROM Transferencias c
	INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
	INNER JOIN Bancos b on b.BancoID=c.BancoID and c.PUNTO_VENTA_ID=b.PUNTO_VENTA_ID
	WHERE c.PUNTO_VENTA_ID = @PUNTO_VENTA_ID
	AND ISNULL(c.OK,'') = ''
	AND p.RowID = @RowID
	--GROUP BY c.fecha, b.Nombre, c.Cliente 
	ORDER BY 4 desc
END
IF @PUNTO_VENTA_ID = 2
BEGIN 

	SELECT c.Fecha, b.Nombre,c.cliente,c.Monto as Importe, c.RowID
	FROM Transferencias c
	INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
	INNER JOIN Bancos b on b.BancoID=c.BancoID and c.PUNTO_VENTA_ID=b.PUNTO_VENTA_ID
	WHERE  c.BancoID IN (7,3) 
	AND ISNULL(c.OK,'') = ''
	AND p.RowID = @RowID
	--GROUP BY c.fecha, b.Nombre, c.Cliente 
	ORDER BY 4 desc
END
GO
