USE [Administracion]
GO
/****** Object:  Table [dbo].[Cliente_Factura_TMP]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente_Factura_TMP](
	[codigo] [char](5) NULL,
	[facturanro] [int] NULL,
	[sucursal] [smallint] NULL,
	[cliente] [varchar](10) NULL,
	[total] [numeric](20, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
