USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transferencias_Pendientes_sel]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Transferencias_Pendientes_sel]
@PUNTO_VENTA_ID TINYINT =1
 
AS

SET NOCOUNT ON  

IF @PUNTO_VENTA_ID = 1
BEGIN 

	SELECT P.RowID, P.PeriodoAnio + ' - '+ P.PeriodoNombre Periodo, COUNT(*) TotalPendientes, sum(monto) Importe
	FROM Transferencias c
	INNER JOIN Bancos b on b.BancoID=c.BancoID  and c.PUNTO_VENTA_ID=b.PUNTO_VENTA_ID
	INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
	WHERE c.PUNTO_VENTA_ID = @PUNTO_VENTA_ID  
	AND ISNULL(c.OK,'') = ''
	GROUP BY P.RowID, P.PeriodoAnio + ' - '+ P.PeriodoNombre
	ORDER BY 1  DESC

 END
 
IF @PUNTO_VENTA_ID = 2
	BEGIN 
	SELECT P.RowID, P.PeriodoAnio + ' - '+ P.PeriodoNombre Periodo, COUNT(*) TotalPendientes, sum(monto) Importe
	FROM Transferencias c
	INNER JOIN Bancos b on b.BancoID=c.BancoID  and c.PUNTO_VENTA_ID=b.PUNTO_VENTA_ID
	INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
	WHERE  c.BancoID IN (7,3)
	AND ISNULL(c.OK,'') = ''
	GROUP BY P.RowID, P.PeriodoAnio + ' - '+ P.PeriodoNombre
	ORDER BY 1  DESC
END



GO
