USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Process_External_Data]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Process_External_Data]
@type varchar(20) = 'clientes'
AS

IF @type= 'facturas'
BEGIN
	--CREATE TABLE Client ( Id INT NOT NULL PRIMARY KEY, Name VARCHAR(200)) 
	--TRUNCATE TABLE  Clientes 

	INSERT INTO Cliente_Factura (codigo,facturanro,sucursal,cliente,total) 
	SELECT codigo,facturanro,sucursal,cliente,total
	FROM Cliente_Factura_TMP stg 
	WHERE NOT EXISTS (SELECT NULL FROM Cliente_Factura c WHERE c.codigo = stg.codigo AND c.facturanro = stg.facturanro and c.cliente=stg.cliente)
	 

	DELETE DEL
	FROM Cliente_Factura_TMP DEL
	INNER JOIN Cliente_Factura C ON c.codigo = del.codigo AND c.facturanro = del.facturanro and c.cliente=del.cliente

END

IF @type= 'clientes'
BEGIN
	--CREATE TABLE Client ( Id INT NOT NULL PRIMARY KEY, Name VARCHAR(200)) 
	--TRUNCATE TABLE  Clientes
	UPDATE Clientes_TMP SET Cuit= ISNULL(Cuit,'') 

	INSERT INTO Clientes (ClienteID,codigo,nombre,razonsocial,cuit,numero_doc,email,latitud,longitud) 
	SELECT CONVERT(INT,REPLACE(stg.codigo,'.','')),REPLACE(stg.codigo,'.',''),nombre,razonsocial,replace(cuit,'-',''),stg.numero_doc,email,stg.Latitud,stg.longitud
	FROM Clientes_TMP stg 
	WHERE NOT EXISTS (SELECT NULL FROM Clientes c WHERE c.ClienteID = CONVERT(INT,REPLACE(stg.codigo,'.','')) AND c.cuit=replace(stg.cuit,'-','') AND c.numero_doc=stg.numero_doc)

	UPDATE CLientes SET nombre= T.nombre, razonsocial= t.razonsocial, email=T.email, Latitud=T.latitud, Longitud = T.Longitud
	FROM Clientes UPD
	INNER JOIN  Clientes_TMP T ON REPLACE(T.codigo,'.','') =UPD.codigo and ( replace(t.cuit,'-','') = UPD.cuit or  replace(ISNULL(t.numero_doc,''),'-','') = UPD.cuit )
	WHERE UPD.nombre<> T.nombre or UPD.razonsocial<>T.razonsocial or UPD.email<>T.email or ISNULL(UPD.Latitud,0) <> ISNULL(T.Latitud,0) or ISNULL(UPD.longitud,0) <> ISNULL(T.longitud,0) 

	TRUNCATE TABLE Clientes_TMP
	/*

	DELETE DEL
	FROM Clientes_TMP DEL
	INNER JOIN Clientes CF ON CF.codigo= REPLACE(DEL.codigo,'.','')
	and replace(DEL.cuit,'-','') = CF.cuit 
	AND  DEL.numero_doc = cf.numero_doc
	*/
END


IF @type= 'vendedores'
BEGIN
 
	INSERT INTO Vendedores (VendedorID,codigo,nombre,super) 
	SELECT CONVERT(VARCHAR(4),REPLACE(stg.codigo,'.','')),REPLACE(stg.codigo,'.',''),nombre,stg.super
	FROM Vendedores_TMP stg 
	WHERE NOT EXISTS (SELECT NULL FROM Vendedores c WHERE c.VendedorID = CONVERT(VARCHAR(4),REPLACE(stg.codigo,'.','')) )

	UPDATE Vendedores SET nombre= T.nombre 
	FROM Vendedores UPD
	INNER JOIN  Vendedores_TMP T ON REPLACE(T.codigo,'.','') =UPD.codigo 
	WHERE UPD.nombre<> T.nombre 


	DELETE DEL
	FROM Vendedores_TMP DEL
	INNER JOIN Vendedores CF ON CF.codigo= REPLACE(DEL.codigo,'.','')
END


GO
