USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Bancos_Combo]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Bancos_Combo]
AS
SET NOCOUNT ON 

SELECT *
FROM Bancos
ORDER BY Orden
GO
