USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Step_3_upd]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Campania_Step_3_upd]
@CampaniaID INT,
@AsuntoEmail nvarchar(400),
@CuerpoEmail nvarchar(max) 
AS
SET NOCOUNT ON

UPDATE Campanias SET	
	AsuntoEmail= @AsuntoEmail,
	CuerpoEmail= N''+@CuerpoEmail
WHERE CampaniaID = @CampaniaID 
 
GO
