USE [Administracion]
GO
/****** Object:  Table [dbo].[OrdenesOndemand]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesOndemand](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[FileID] [int] NULL
) ON [PRIMARY]

GO
