USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Pendientes_Sel]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Campania_Pendientes_Sel]
AS

SET NOCOUNT ON 


SELECT *
FROM Campanias
WHERE Estado =0 AND Enviado=0
order by 1 desc

GO
