USE [Administracion]
GO
/****** Object:  Table [dbo].[PeriodosNew]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PeriodosNew](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[PeriodoAnio] [varchar](4) NOT NULL,
	[PeriodoID] [int] NOT NULL,
	[PeriodoCodigo] [char](2) NULL,
	[PeriodoNombre] [varchar](15) NULL,
	[Inicio] [char](8) NULL,
	[Fin] [char](8) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
