USE [Administracion]
GO
/****** Object:  Table [dbo].[MaestroClientes]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaestroClientes](
	[Codigo] [nvarchar](255) NULL,
	[Nombre] [nvarchar](255) NULL,
	[RazonSocial] [nvarchar](255) NULL,
	[Sucursal] [nvarchar](255) NULL,
	[GrupoEconomico] [nvarchar](255) NULL,
	[Generico] [nvarchar](255) NULL,
	[TipoSociedad] [nvarchar](255) NULL,
	[TipoDocumento] [nvarchar](255) NULL,
	[NúmeroDocumento] [nvarchar](255) NULL,
	[CUIT] [nvarchar](255) NULL,
	[VtoCUIT] [nvarchar](255) NULL,
	[CategoríaIVA] [nvarchar](255) NULL,
	[Pais] [nvarchar](255) NULL,
	[CondicionVenta] [nvarchar](255) NULL,
	[ListaPrecios] [nvarchar](255) NULL,
	[ListaPreciosDigital] [nvarchar](255) NULL,
	[ConceptoFacturable] [nvarchar](255) NULL,
	[Vendedor1] [nvarchar](255) NULL,
	[Vendedor2] [nvarchar](255) NULL,
	[Vendedor3] [nvarchar](255) NULL,
	[Vendedor4] [nvarchar](255) NULL,
	[Vendedor5] [nvarchar](255) NULL,
	[EsquemaComercial] [nvarchar](255) NULL,
	[Estado] [nvarchar](255) NULL,
	[Motivo] [nvarchar](255) NULL,
	[FechaAlta] [nvarchar](255) NULL,
	[FechaCambioEstado] [nvarchar](255) NULL,
	[SuspendeporGrupoEconomico] [nvarchar](255) NULL,
	[LímiteCreditoMoneda] [nvarchar](255) NULL,
	[LímiteCreditoMonto Máximo] [float] NULL,
	[Otorgamiento] [nvarchar](255) NULL,
	[VtoCredito] [nvarchar](255) NULL,
	[DíasToleracion Facturas Vencidas] [float] NULL,
	[DíasTolerancia Cobranza] [float] NULL,
	[GrupoCanal] [nvarchar](255) NULL,
	[Canal] [nvarchar](255) NULL,
	[Subcanales] [nvarchar](255) NULL,
	[Apertura Adicional] [nvarchar](255) NULL,
	[Categoría] [nvarchar](255) NULL,
	[ZonaVentas] [nvarchar](255) NULL,
	[ZonaReparto] [nvarchar](255) NULL,
	[PlazoEntrega] [nvarchar](255) NULL,
	[ConvenioEstacionesServicios] [nvarchar](255) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[DireccionMail] [nvarchar](255) NULL,
	[FechaUltModif] [nvarchar](255) NULL,
	[Usuario] [nvarchar](255) NULL,
	[RazonSocial-Descripcion] [nvarchar](255) NULL,
	[Calle] [nvarchar](255) NULL,
	[Altura] [nvarchar](255) NULL,
	[Esquina] [nvarchar](255) NULL,
	[Manzana] [nvarchar](255) NULL,
	[Torre] [nvarchar](255) NULL,
	[Piso] [nvarchar](255) NULL,
	[Departamento] [nvarchar](255) NULL,
	[Lat] [float] NULL,
	[Long] [float] NULL,
	[Localidad] [nvarchar](255) NULL,
	[CodPostal] [nvarchar](255) NULL,
	[Provincia] [nvarchar](255) NULL,
	[Pais1] [nvarchar](255) NULL,
	[Barrio] [nvarchar](255) NULL,
	[Telefono] [nvarchar](255) NULL,
	[Fax] [nvarchar](255) NULL,
	[ObservacioneslaDireccion] [nvarchar](255) NULL,
	[NombredelContacto] [nvarchar](255) NULL,
	[Cargo] [nvarchar](255) NULL,
	[Transportista Defecto] [nvarchar](255) NULL,
	[AgenteRetencion] [nvarchar](255) NULL,
	[NroInscripcion IIBB] [nvarchar](255) NULL,
	[PercepcionIIBB] [nvarchar](255) NULL,
	[CategoríaPercepcion IIBB] [nvarchar](255) NULL,
	[InscriptoConvenio] [nvarchar](255) NULL,
	[GranContribuyente] [nvarchar](255) NULL,
	[VigenciaFechaHasta] [nvarchar](255) NULL,
	[EmisorComprobantesElectronicos] [nvarchar](255) NULL,
	[PercepcionIVA] [nvarchar](255) NULL,
	[CategoríaPercepcionIVA] [nvarchar](255) NULL,
	[PorcentajeExento] [float] NULL,
	[FechaDesdeExencionIVA] [nvarchar](255) NULL,
	[FechaHastaExencionIVA] [nvarchar](255) NULL,
	[PlanFidelizacion] [nvarchar](255) NULL,
	[Plan] [nvarchar](255) NULL,
	[TipoCliente] [nvarchar](255) NULL,
	[NroTarjeta] [nvarchar](255) NULL,
	[ConcFactNCAut] [nvarchar](255) NULL,
	[ImpuestosInternos] [nvarchar](255) NULL
) ON [PRIMARY]

GO
