USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_WhastAPP_Templates]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_WhastAPP_Templates]
AS 
SET NOCOUNT ON

SELECT  * from WhatsAppTemplates WHERE Activo=1

GO
