USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Eliminar_Ordenes_Item_NoProcesado]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Eliminar_Ordenes_Item_NoProcesado]
@FileID INT,
@OrdenID INT
AS

SET NOCOUNT ON

DELETE d
from OrdenesDatos D
INNER JOIN Ordenes R ON R.FileID = D.FileID 
WHERE R.Estado<>5 and R.FileID = @FileID AND D.OrdenID=@OrdenID

DELETE d
from OrdenesDatosItems D
INNER JOIN Ordenes R ON R.FileID = D.FileID 
WHERE R.Estado<>5 and R.FileID = @FileID AND D.OrdenID=@OrdenID
 


GO
