USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Pendientes_Detalle_Sel]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Campania_Pendientes_Detalle_Sel]
@CampaniaID INT
AS

SET NOCOUNT ON 


SELECT *
FROM Campanias
WHERE CampaniaID = @CampaniaID

GO
