USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Step_5_upd]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Campania_Step_5_upd]
@CampaniaID INT,
@CantidadDiaria INT = 200
AS
SET NOCOUNT ON 

UPDATE Campanias SET	
	CantidadDiaria = @CantidadDiaria,
	Estado = 1 
WHERE CampaniaID = @CampaniaID 
 

GO
