USE [Administracion]
GO
/****** Object:  Table [dbo].[TelefonosAEnviar]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonosAEnviar](
	[Telefonos] [float] NULL
) ON [PRIMARY]

GO
