USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_download]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[usp_Extractos_download]   23
CREATE PROCEDURE [dbo].[usp_Extractos_download]   
@ExtractoID INT = 0
AS
SET NOCOUNT ON  

SELECT 
FECHA,
CASE 
	WHEN a.BancoID=1 THEN 'HSBC'
	WHEN a.BancoID=2 THEN 'MP'
	WHEN a.BancoID IN (3,4) THEN 'CREDICOOP'
	ELSE 'NO DEFINIDO' END AS BANCO,
--CONVERT(VARCHAR(255), RazonSocial_CUIT_Valido COLLATE SQL_Latin1_General_CP1_CI_AS )  AS CLIENTE,
CASE  
	WHEN a.BancoID IN (3,4) THEN DescripcionCompleta COLLATE SQL_Latin1_General_CP1_CI_AS 
	ELSE CONVERT(VARCHAR(255), RazonSocial_CUIT_Valido COLLATE SQL_Latin1_General_CP1_CI_AS )   END
	AS CLIENTE,
Credito AS MONTO,
CONVERT(VARCHAR(255), CASE 
	WHEN a.BancoID=3 AND DescripcionCompleta like '%echeq%' THEN RTRIM(LTRIM( CONVERT(VARCHAR(255), SUBSTRING(Descripcion,CHARINDEX('|FechaPago:',Descripcion)+11,100)  )))
	WHEN a.BancoID=4  then  d.NombreCaja 
	WHEN a.BancoID=1  THEN '' 
	WHEN a.BancoID=2  THEN d.NombreCaja 
	ELSE '' END
	) AS FECHA_DEPOSITO,
-- esto debe estar igual
--[dbo].[usp_Extractos_Mover_A_Transferencias] 
CASE 
	WHEN DescripcionCompleta like '%echeq%' THEN ''
	WHEN( d.NombreCaja  like '%center%') THEN 'OK'  
	WHEN a.BancoID=1  THEN '' 
	WHEN a.BancoID=2  AND  (d.CUIT_Archivo IS NOT NULL AND d.NombreCaja  like '%center%') THEN 'OK'  
	ELSE '' END
	AS OK,
'' AS RECIBO,
'' AS CLIENTE
FROM ExtractosBancariosDatos d  
INNER JOIN ExtractosBancarios a on a.ExtractoID=d.ExtractoID
WHERE  d.ExtractoID=@ExtractoID
and d.SkipIT = 0 
ORDER BY RowID


GO
