USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transferencias_Cliente_save]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

CREATE PROCEDURE [dbo].[usp_Transferencias_Cliente_save]
@RowID			INT,
@OK				VARCHAR(10),
@NroCliente		VARCHAR(50),
@UpdatedBY		VARCHAR(50)
AS

SET NOCOUNT ON 

BEGIN TRY
	UPDATE transferencias SET
		NroCliente			= CASE WHEN ISNULL(NroCliente	,'')		= @NroCliente		THEN NroCliente				ELSE @NroCliente	END ,
		OK					= UPPER(CASE WHEN ISNULL(OK			,'')	= @OK				THEN Ok						ELSE @OK			END) ,
		UpdatedBY			= @UpdatedBY,
		LastUpdated			= getdate()
	WHERE RowID=@RowID 

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH





GO
