USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transferencias_Pendientes_View]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Transferencias_Pendientes_View]
@RowID INT,
@PUNTO_VENTA_ID TINYINT =1
AS

SET NOCOUNT ON 


  
IF @PUNTO_VENTA_ID = 1
BEGIN 

  
	SELECT c.RowID,c.Fecha,b.Nombre AS Banco,c.cliente,c.Monto,c.NroCliente,c.NroRecibo,FechaDepositoECheck
	FROM Transferencias c
	INNER JOIN Bancos b on b.BancoID=c.BancoID  and c.PUNTO_VENTA_ID=b.PUNTO_VENTA_ID
	INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
	WHERE ISNULL(c.OK,'') = ''
	AND p.RowID = @RowID
	AND c.PUNTO_VENTA_ID = @PUNTO_VENTA_ID 
	ORDER BY C.Fecha

END


  
IF @PUNTO_VENTA_ID = 2
BEGIN 

  
	SELECT c.RowID,c.Fecha,b.Nombre AS Banco,c.cliente,c.Monto,c.NroCliente,c.NroRecibo,FechaDepositoECheck
	FROM Transferencias c
	INNER JOIN Bancos b on b.BancoID=c.BancoID  and c.PUNTO_VENTA_ID=b.PUNTO_VENTA_ID
	INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
	WHERE ISNULL(c.OK,'') = ''
	AND c.BancoID IN (7,3) 
	AND p.RowID = @RowID  
	ORDER BY C.Fecha

END


GO
