USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Guardar]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Campania_Guardar]
    @NombreCampania    NVARCHAR(200),
    @Descripcion       NVARCHAR(500) = NULL,
    @Canal             NVARCHAR(20), -- WhatsApp o Email
    @MensajeWhatsApp   NVARCHAR(1000) = NULL,
    @TemplateWhatsApp  NVARCHAR(200) = NULL,
    @AsuntoEmail       NVARCHAR(200) = NULL,
    @CuerpoEmail       NVARCHAR(MAX) = NULL, 
    @UsuarioCreador    NVARCHAR(100) = NULL
AS
BEGIN

-- Estados: 
--			0 - Creacion de campania
--			1 - Lista para envio
--			2 - Enviado


    SET NOCOUNT ON;  
    INSERT INTO dbo.Campanias (
        NombreCampania,
        Descripcion,
        Canal,
        MensajeWhatsApp,
        TemplateWhatsApp,
        AsuntoEmail,
        CuerpoEmail,
         
        UsuarioCreador,
        FechaCreacion
    )
    VALUES (
        @NombreCampania,
        @Descripcion,
        @Canal,
        CASE WHEN @Canal = 'WhatsApp' THEN @MensajeWhatsApp ELSE NULL END,
        CASE WHEN @Canal = 'WhatsApp' THEN @TemplateWhatsApp ELSE NULL END,
        CASE WHEN @Canal = 'Email' THEN @AsuntoEmail ELSE NULL END,
        CASE WHEN @Canal = 'Email' THEN @CuerpoEmail ELSE NULL END,
        
        @UsuarioCreador,
        GETDATE()
    );

    SELECT SCOPE_IDENTITY() AS NuevaCampaniaID;
END

GO
