USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Ondemand_Procesar]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[usp_Ordenes_Ondemand_Procesar]   
AS
SET NOCOUNT ON 

DECLARE @FileID INT, @RowID INT, @ret INT
 
  
-- Declare a FAST_FORWARD cursor
DECLARE OrdenesFast CURSOR FAST_FORWARD FOR
SELECT FileID, RowID
FROM OrdenesOndemand 

-- Open the cursor
OPEN OrdenesFast;

-- Fetch the first row
FETCH NEXT FROM OrdenesFast INTO @FileID, @RowID;

-- Loop through the result set
WHILE @@FETCH_STATUS = 0
BEGIN 

    -- Fetch the next row
	EXEC @Ret = dbo.usp_Ordenes_Procesar @FileID
	IF @Ret=0
	BEGIN
		DELETE FROM OrdenesOndemand WHERE RowID = @RowID
	END
	ELSE 
	BEGIN
		SELECt 1/0
    END 

	FETCH NEXT FROM OrdenesFast INTO @FileID, @RowID
END;

-- Close the cursor
CLOSE OrdenesFast; 
-- Deallocate the cursor to release resources
DEALLOCATE OrdenesFast;
 

GO
