USE [Administracion]
GO
/****** Object:  Table [dbo].[Campanias]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campanias](
	[CampaniaID] [int] IDENTITY(5000,1) NOT NULL,
	[NombreCampania] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Canal] [nvarchar](20) NOT NULL,
	[MensajeWhatsApp] [nvarchar](1000) NULL,
	[TemplateWhatsApp] [nvarchar](200) NULL,
	[AsuntoEmail] [nvarchar](200) NULL,
	[CuerpoEmail] [nvarchar](max) NULL,
	[ArchivoRuta] [nvarchar](500) NULL,
	[UsuarioCreador] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Estado] [int] NULL,
	[Enviado] [int] NULL,
	[TotalDestinatarios] [int] NULL,
	[CantidadDiaria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CampaniaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Campanias] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Campanias] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Campanias] ADD  DEFAULT ((0)) FOR [Enviado]
GO
ALTER TABLE [dbo].[Campanias] ADD  DEFAULT ((0)) FOR [TotalDestinatarios]
GO
