USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Eliminar_Extractos_NoProcesado]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Eliminar_Extractos_NoProcesado]
@ExtractoID INT
AS

SET NOCOUNT ON

DELETE d
from ExtractosBancariosDatos D
INNER JOIN ExtractosBancarios R ON R.ExtractoID = D.ExtractoID 
WHERE R.Estado<>5 and R.ExtractoID = @ExtractoID

DELETE
FROM ExtractosBancarios 
WHERE Estado<>5 and ExtractoID = @ExtractoID


GO
