USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_PDF_Upd]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Campania_PDF_Upd]
@CampaniaID INT,
@ArchivoPDF VARCHAR(255)
AS

UPDATE Campanias SET ArchivoRuta = @ArchivoPDF
WHERE CampaniaID=@CampaniaID


GO
