USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_sel]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[usp_Transferencias_sel] 1

CREATE PROCEDURE [dbo].[usp_Ordenes_sel]
@RowID INT 
AS

SET NOCOUNT ON 

SELECT c.* 
FROM dbo.OrdenesCobranza c  
WHERE RowID=@RowID


GO
