USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Procesadas]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

  --[dbo].[usp_Ordenes_Procesadas]  1001
CREATE PROCEDURE [dbo].[usp_Ordenes_Procesadas]  
@FileID INT = 0
AS
SET NOCOUNT ON 

-- ALTER TABLE Ordenesdatos ADD FacturaNro VARCHAR(50), FacturaArchivo VARCHAR(255)


SELECT  top 20  a.FileID 
,REPLACE(a.NombreArchivo,'C:\Reclamos\Ordenes\','') AS NombreArchivo
,a.TotalClientes 
,a.TotalClientesMatched 
,a.TotalClientesNoMatched 
,SUM(CASE WHEN d.SkipIT=0 AND d.ClienteID IS NULL THEN 1 ELSE 0 END  ) AS ClientesMissing
,SUM(CASE WHEN d.SkipIT=0 AND d.VendedorID IS NULL THEN 1 ELSE 0 END ) AS VendedoresMissing
,SUM(CASE WHEN d.SkipIT=0 AND d.FacturaNro IS NULL THEN 1 ELSE 0 END ) AS FacturasMissing
,SUM(CASE WHEN d.SkipIT=0 AND d.FacturaArchivo IS NULL THEN 1 ELSE 0 END ) AS FacturaArchivoMissing
,SUM(CASE WHEN d.SkipIT=0 AND d.FacturaValidada IS NULL THEN 1 ELSE 0 END ) AS FacturaValidadaMissing
,SUM(CASE WHEN d.SkipIT=0 AND d.FacturaValidada IS NOT NULL AND d.FacturaValidada = 0 THEN 1 ELSE 0 END ) AS FacturaValidadaWarning
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado IN  (1,2)  theN 'Iniciando'
WHEN Estado IN  (3)  theN 'Procesando'
WHEN Estado IN  (4)  theN 'Terminado'
WHEN Estado IN  (5) THEN 'Aplicado' 
WHEN Estado IN  (6) THEN 'Marcado para Envio'
WHEN Estado IN  (7) THEN 'Enviando'
WHEN Estado IN  (8) THEN 'Aplicado y Enviado' 
ELSE 'Avisar a sebastian'
END AS Estado,
Estado as Status,
CajasOro = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND Producto LIKE '%caja%oro%' and ISNULL(X.SkipIT,0)=0 ),
CajasPlata = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND Producto LIKE '%caja%Plata%' and ISNULL(X.SkipIT,0)=0),
CajasPlatino = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND Producto LIKE '%caja%Platino%' and ISNULL(X.SkipIT,0)=0),
CajasEspecial = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND  Producto LIKE '%caja%Espe%' and ISNULL(X.SkipIT,0)=0),
CajasBronce = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND  Producto LIKE '%caja%Bronce%' and ISNULL(X.SkipIT,0)=0),
CajasEstrella = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND  Producto LIKE '%caja%Estrella%' and ISNULL(X.SkipIT,0)=0),
TotalCajas = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID and ISNULL(X.SkipIT,0)=0)
FROM dbo.Ordenes a
INNER JOIN Ordenesdatos d on d.FileID = a.FileID 
WHERE (@FileID=0 OR a.FileID=@FileID)
AND Estado IN (2,3,4,5,6,7,8) 
GROUP BY a.FileID
,a.NombreArchivo
,a.TotalClientes
,a.TotalClientesMatched 
,a.TotalClientesNoMatched 
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado IN  (1,2)  theN 'Iniciando'
WHEN Estado IN  (3)  theN 'Procesando'
WHEN Estado IN  (4)  theN 'Terminado'
WHEN Estado IN  (5) THEN 'Aplicado' 
WHEN Estado IN  (6) THEN 'Marcado para Envio'
WHEN Estado IN  (7) THEN 'Enviando'
WHEN Estado IN  (8) THEN 'Aplicado y Enviado' 
ELSE 'Avisar a sebastian'
END,
Estado 
order by a.FileID desc
 




GO
