USE [Administracion]
GO
/****** Object:  Table [dbo].[TMPOrdenes]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPOrdenes](
	[#] [float] NULL,
	[Fecha] [nvarchar](255) NULL,
	[Cliente] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Teléfono] [nvarchar](255) NULL,
	[Pago] [nvarchar](255) NULL,
	[Método de pago] [nvarchar](255) NULL,
	[Envío] [nvarchar](255) NULL,
	[Método de envío] [nvarchar](255) NULL,
	[Costo de envío] [nvarchar](255) NULL,
	[Total (sin envío)] [nvarchar](255) NULL,
	[Tipo de envío] [nvarchar](255) NULL,
	[Sucursal] [nvarchar](255) NULL,
	[Envío - Nombre] [nvarchar](255) NULL,
	[Envío - Apellido] [nvarchar](255) NULL,
	[Envío - Tipo de documento] [nvarchar](255) NULL,
	[Envío - Número de documento] [nvarchar](255) NULL,
	[Envío - Calle] [nvarchar](255) NULL,
	[Envío - Número] [nvarchar](255) NULL,
	[Envío - Piso] [nvarchar](255) NULL,
	[Envío - Dpto] [nvarchar](255) NULL,
	[Envío - Ciudad] [nvarchar](255) NULL,
	[Envío - Provincia] [nvarchar](255) NULL,
	[Envío - CP] [nvarchar](255) NULL,
	[Fact - Razón social] [nvarchar](255) NULL,
	[Fact - Tipo de documento] [nvarchar](255) NULL,
	[Fact - Número de documento] [nvarchar](255) NULL,
	[Fact - Calle] [nvarchar](255) NULL,
	[Fact - Número] [nvarchar](255) NULL,
	[Fact - Piso] [nvarchar](255) NULL,
	[Fact - Dpto] [nvarchar](255) NULL,
	[Fact - Ciudad] [nvarchar](255) NULL,
	[Fact - Provincia] [nvarchar](255) NULL,
	[Fact - CP] [nvarchar](255) NULL,
	[Facturada] [nvarchar](255) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Productos] [nvarchar](255) NULL
) ON [PRIMARY]

GO
