USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Pendientes_del]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Campania_Pendientes_del]
@CampaniaID INT
AS

SET NOCOUNT ON 

IF EXISTS( SELECT NULL FROM Campanias WHERE CampaniaID= @CampaniaID AND Estado=0)
BEGIN 
	
	DELETE FROM Campanias_Destinatarios WHERE CampaniaID= @CampaniaID
	DELETE FROM Campanias WHERE CampaniaID= @CampaniaID

END





GO
