USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Pendientes_PorClientes_Sel]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Ordenes_Pendientes_PorClientes_Sel]
@RowID INT
AS

SET NOCOUNT ON 
  
SELECT c.Fecha, c.cliente,c.Monto as Importe, c.RowID
FROM OrdenesCobranza c
INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin 
WHERE ISNULL(c.OK,'') = ''
AND p.RowID = @RowID
--GROUP BY c.fecha, b.Nombre, c.Cliente 
ORDER BY 3 desc
GO
