USE [Administracion]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ordenes](
	[FileID] [int] IDENTITY(1000,1) NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[Estado] [int] NULL,
	[DateAdded] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[TotalClientes] [int] NULL,
	[TotalClientesNoMatched] [int] NULL,
	[TotalClientesMatched] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT ((0)) FOR [TotalClientes]
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT ((0)) FOR [TotalClientesNoMatched]
GO
ALTER TABLE [dbo].[Ordenes] ADD  DEFAULT ((0)) FOR [TotalClientesMatched]
GO
