USE [Administracion]
GO
/****** Object:  Table [dbo].[OrdenesCobranza]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdenesCobranza](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Cliente] [varchar](500) NULL,
	[Monto] [numeric](36, 2) NULL,
	[OK] [varchar](10) NULL,
	[NroRecibo] [varchar](50) NULL,
	[NroCliente] [varchar](50) NULL,
	[AppliedBy] [varchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[UpdatedBY] [varchar](50) NULL,
	[LastUpdated] [datetime] NULL,
	[CUIT_Valido] [varchar](13) NULL,
	[ClienteID] [int] NULL,
	[VendedorID] [varchar](5) NULL,
	[FileID] [int] NULL,
	[OrdenID] [int] NULL,
	[FacturaArchivo] [varchar](255) NULL,
	[FechaEntrega] [date] NULL,
	[ObservacionADM] [varchar](1000) NULL,
	[ObservacionLogistica] [varchar](1000) NULL,
	[Estado] [int] NULL,
	[FacturaArchivoLocal] [varchar](255) NULL,
	[FechaEntregado] [date] NULL,
	[ComisionPorcentaje] [int] NULL,
	[ComisionImporte] [numeric](32, 2) NULL,
	[ComisionPagada] [int] NULL,
	[ComisionPagadaFecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OrdenesCobranza] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[OrdenesCobranza] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[OrdenesCobranza] ADD  DEFAULT ((0)) FOR [ComisionPagada]
GO
