USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_Save_Missing]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Extractos_Save_Missing]    
@ExtractoID INT = 0,
@ExtractoRow INT = 0,
@Cuit VARCHAR(14) = '',
@Rsocial VARCHAR(200) = '',
@chksincuit INT = 0
AS
SET NOCOUNT ON 

IF @chksincuit = 1 
BEGIN 
	UPDATE ExtractosBancariosDatos SET 
		Nombre_Cuit_Valido = @Rsocial,
		RazonSocial_CUIT_Valido = @Rsocial,
		MatchManual=1		
	WHERE RowID=@ExtractoRow

	SELECT 0 hasError, '' ErrorMessage
	RETURN 0
END

IF (LEN(@Cuit)<>13)
BEGIN
	SELECT 1 hasError, 'Longitud cuit incorrecta' ErrorMessage
	RETURN
END

BEGIN TRY 
	DECLARE @Cuit_NUMERO BIGINT
	SET @Cuit_NUMERO  = REPLACE(@Cuit,'-','')

	INSERT INTO CUITs (NumeroDocumento,CUIT,Nombre,RazonSocial,CUIT_NUMERO)
	SELECt @Cuit_NUMERO,@Cuit,@Rsocial,@Rsocial,@Cuit_NUMERO
	WHERE NOT EXISTS (SELECT null FROM CUITs WHERE CUIT_NUMERO = @Cuit_NUMERO)
 
	UPDATE ExtractosBancariosDatos SET
		CUIT_Valido=@Cuit,
		Nombre_Cuit_Valido = @Rsocial,
		RazonSocial_CUIT_Valido = @Rsocial,
		MatchManual=1
	WHERE RowID=@ExtractoRow

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH



 
GO
