USE [Administracion]
GO
/****** Object:  Table [dbo].[Clientes_TMP]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes_TMP](
	[codigo] [varchar](100) NULL,
	[nombre] [varchar](500) NULL,
	[razonsocial] [varchar](500) NULL,
	[cuit] [varchar](28) NULL,
	[numero_doc] [int] NULL,
	[email] [varchar](200) NULL,
	[Latitud] [decimal](12, 6) NULL,
	[Longitud] [decimal](12, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Clientes_TMP] ADD  DEFAULT ('') FOR [email]
GO
