USE [Administracion]
GO
/****** Object:  Table [dbo].[Campanias_Destinatarios]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campanias_Destinatarios](
	[DestinatarioID] [int] IDENTITY(1,1) NOT NULL,
	[CampaniaID] [int] NOT NULL,
	[Destinatario] [nvarchar](255) NULL,
	[Estado] [int] NULL,
	[DateAdded] [datetime] NULL,
	[FechaEnvio] [datetime] NULL,
	[EstadoWhatsApp] [nvarchar](50) NULL,
	[FechaEstadoWhatsApp] [datetime] NULL,
	[WhatsAppID] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DestinatarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Campanias_Destinatarios] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Campanias_Destinatarios] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
