USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_ExtractosBancarios_load]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[usp_ExtractosBancarios_load] 
@BancoID INT,
@FileName VARCHAR(255) = NULL
AS
SET NOCOUNT ON 
DECLARE @RowID INT,@TotalRows INT=0,@TotalCuitsValidos INT ,@TotalCuitsNoMatched INT, @TotalCuitsArchivo INT, @TotalCuitsMatched INT, @RowCount INT


BEGIN TRY
	BEGIN TRAN

		INSERT INTO dbo.ExtractosBancarios (NombreArchivo,BancoID) VALUES (@FileName, @BancoID)
		SET @RowID = @@IDENTITY

		IF @BancoID=1  
		BEGIN 
			INSERT INTO dbo.ExtractosBancariosDatos(ExtractoID
			,Fecha
			,TipoOperacion
			,Comprobante
			 ,Descripcion
			 ,Debito
			,Credito
			 ,DescripcionCompleta
			--,MoveDesc2
			--,MoveDesc3
			)
			SELECT @RowID
			,CONVERT(DATE,Fecha,103)
			,TipoOperacion
			,Comprobante
			,Descripcion
			,CONVERT(NUMERIC(20,4),REPLACE(c.Debito, ',','.'))
			,CONVERT(NUMEriC(20,4),REPLACE(c.Credito , ',','.'))
			,CASE WHEN LEN(RTRIM(LTRIM(REPLACE(DescripcionCompleta,'"','')))) >0 THEN RTRIM(LTRIM(REPLACE(DescripcionCompleta,'"',''))) ELSE NULL END 
			FROM tmp.ExtractosBancarios c

			SET @RowCount = @@ROWCOUNT
		END

		IF @BancoID = 2
		BEGIN 
			INSERT INTO dbo.ExtractosBancariosDatos(ExtractoID
			,Fecha
			,TipoOperacion
			,Comprobante
			 ,Descripcion
			 ,Debito
			,Credito
			 ,DescripcionCompleta
			 ,NombreCaja
			--,MoveDesc3
			)
			SELECT @RowID
			,CONVERT(DATE,FechaOrigen,103)
			,Operacion
			,NULL
			,replace(Identificacion,'"','')
			,CASE WHEN Operacion='REFUND' THEN CONVERT(NUMERIC(20,4),REPLACE(c.ValorCompra, ',','.')) ELSE NULL END
			,CASE WHEN Operacion='SETTLEMENT' THEN CONVERT(NUMEriC(20,4),REPLACE(c.ValorCompra , ',','.')) ELSE NULL END
			,CASE WHEN LEN(RTRIM(LTRIM(REPLACE(NumeroIdentificacionPago,'"','')))) >0 THEN RTRIM(LTRIM(REPLACE(NumeroIdentificacionPago,'"',''))) ELSE NULL END
			, Caja 
			FROM tmp.ExtractosBancariosMP c

	 
			SET @RowCount = @@ROWCOUNT

		END


		IF @BancoID = 3
		BEGIN 
			INSERT INTO dbo.ExtractosBancariosDatos(ExtractoID
			,Fecha
			,TipoOperacion
			,Comprobante
			 ,Descripcion
			 ,Debito
			,Credito
			 ,DescripcionCompleta
			 ,NombreCaja
			--,MoveDesc3
			,CUIT_Archivo
			)
			select  @RowID
			 ,CONVERT(DATE,c.[Fecha Ult  Modificacion],103)
			,c.Caracter
			,c.[Nro  de Cheque]
			,ISNULL(c.Emisor,'') + '|' + ISNULL(c.[Id  Cheque],'') + '|FechaPago:' + ISNULL(c.[Fecha de Pago],'')
			,NULL
			,c.Monto
			,'ECHEQ ' + RTRIM(LTRIM(ISNULL(c.Emisor,'')))+ case when RTRIM(LTRIM(ISNULL(c.[Endosado Por],'')))<>'' THEN '/' + c.[Endosado Por] ELSE '' END    + ' - ' + 'Nº'+ ISNULL(c.[Nro  de Cheque],'')
			, NULL 	 
			,REPLACE(c.[CUIT-CUIL CDI],'-','')  
			FROM tmp.ExtractosBancariosCP_CHEQUE c
			
			SET @RowCount = @@ROWCOUNT
		END

		IF @BancoID = 4
		BEGIN 
			INSERT INTO dbo.ExtractosBancariosDatos(ExtractoID
			,Fecha
			,TipoOperacion
			,Comprobante
			 ,Descripcion
			 ,Debito
			,Credito
			 ,DescripcionCompleta 
			--,MoveDesc3
			,CUIT_Archivo
			,CUIT_Valido
			,Nombre_Cuit_Valido
			,RazonSocial_CUIT_Valido
			,MatchCUITs
			,NombreCaja
			)
			SELECT @RowID 
			,CONVERT(DATE,c.[Fecha],103)
			,NULL
			,LEFT(c.Comprobante,50)
			,LEFT(c.Concepto,100)
			,NULL
			,c.Credito
			,CASE WHEN LEFT(c.Concepto,3) = 'TII' THEN SUBSTRING(c.Concepto,charindex('PCT-',c.Concepto)+4,100) + ' - ' + SUBSTRING(c.concepto,charindex('Dist Tit ',c.concepto)+9,8) ELSE c.concepto END 
 
			,REPLACE(CASE WHEN LEFT(c.Concepto,3) = 'TII' THEN SUBSTRING(c.concepto,charindex('Dist Tit ',c.concepto)+9,8) ELSE NULL END,'-','')
			,REPLACE(CASE WHEN LEFT(c.Concepto,3) = 'TII' THEN SUBSTRING(c.concepto,charindex('Dist Tit ',c.concepto)+9,8) ELSE NULL END,'-','')
			,REPLACE(CASE WHEN LEFT(c.Concepto,3) = 'TII' THEN SUBSTRING(c.Concepto,charindex('PCT-',c.Concepto)+4,100)	   ELSE NULL END,'-','')
			,REPLACE(CASE WHEN LEFT(c.Concepto,3) = 'TII' THEN SUBSTRING(c.Concepto,charindex('PCT-',c.Concepto)+4,100)	   ELSE NULL END,'-','')
			,1
			,CASE WHEN LEFT(c.Concepto,3) = 'TII' THEN 'Center' ELSE NULL END
			FROM tmp.ExtractosBancariosCP c
			
			SET @RowCount = @@ROWCOUNT
		END

		IF @BancoID = 5
		BEGIN 
			INSERT INTO dbo.ExtractosBancariosDatos(ExtractoID
			,Fecha
			,TipoOperacion
			,Comprobante
			 ,Descripcion
			 ,Debito
			,Credito
			 ,DescripcionCompleta 
			--,MoveDesc3
			,CUIT_Archivo
	 
			)
			SELECT @RowID
			,CONVERT(DATE,c.FechaOperacion,103)
			,NULL
			,LEFT(c.cuenta,50)
			,LEFT(c.Descripcion,100)
			,NULL
			,REPLACE(c.Importe,',','.')
			,c.detalle
			,CASE WHEN CHARINDEX('DNI/CUIT: ',c.detalle)>0  THEN SUBSTRING(c.detalle,charindex('DNI/CUIT: ',c.detalle)+9,12) ELSE NULL END 
    
			FROM tmp.ExtractosBancariosBPN c
			
			SET @RowCount = @@ROWCOUNT
		END

		
		IF @BancoID=6 
		BEGIN

			IF EXISTS(select null FROM tmp.ExtractosBancariosGalicia c WHERE fecha <> '' and CONVERT(DATE,REPLACE(c.fecha,'"',''),103)>= CONVERT(DATE,GETDATE(),103))
			BEGIN

				SELECT 1 AS HasError, 'El archivo contine transacciones del dia, posiblemente no estan bien, genere el archivo con un dia anterior a la fecha.' AS Mensaje
				ROLLBACK TRANSACTION
				RETURN 0
			END 

			INSERT INTO dbo.ExtractosBancariosDatos(ExtractoID
			,Fecha
			,TipoOperacion
			,Comprobante
			,Descripcion
			,Debito
			,Credito
			,DescripcionCompleta 
			,CUIT_Archivo
			)
			select  @RowID
			,CONVERT(DATE,REPLACE(c.fecha,'"',''),103)
			,''
			,replace(c.Comprobante,'"','')
			,replace(descripcion,'"','')
			,NULL
			,replace(replace(Creditos,'"',''),',','.')
			,LEFT(Concepto + REPLACE( Adicionales1 + Adicionales2,'"',''),500) 
			,CASE WHEN isNumeric(REPLACE(Adicionales2 ,'"','')) =1 THEN REPLACE(Adicionales2 ,'"','') ELSE '' END
 
			FROM tmp.ExtractosBancariosGalicia c
			WHERE fecha<>''

		END


		IF @BancoID=7 -- viejo
		BEGIN
			IF EXISTS(select null FROM tmp.ExtractosBancariosGalicia c WHERE fecha <> '' and CONVERT(DATE,REPLACE(c.fecha,'"',''),103)>= CONVERT(DATE,GETDATE(),103))
			BEGIN

				SELECT 1 AS HasError, 'El archivo contine transacciones del dia, posiblemente no estan bien, genere el archivo con un dia anterior a la fecha.' AS Mensaje
				ROLLBACK TRANSACTION
				RETURN 0
			END 

			INSERT INTO dbo.ExtractosBancariosDatos(ExtractoID
			,Fecha
			,TipoOperacion
			,Comprobante
			,Descripcion
			,Debito
			,Credito
			,DescripcionCompleta 
			,CUIT_Archivo
			)
			select  @RowID
			,CONVERT(DATE,REPLACE(c.fecha,'"',''),103)
			,''
			,replace(c.Comprobante,'"','')
			,replace(descripcion,'"','')
			,NULL
			,replace(replace(Creditos,'"',''),',','.')
			,LEFT(Concepto + REPLACE( Adicionales1 + Adicionales2,'"',''),500) 
			,CASE WHEN isNumeric(REPLACE(Adicionales2 ,'"','')) =1 THEN REPLACE(Adicionales2 ,'"','') ELSE '' END
 
			FROM tmp.ExtractosBancariosGalicia c
			WHERE fecha<>''

		END
		-- validaciones por banco

		IF @BancoID=1 
		BEGIN 

			-- skipeo todos 
			UPDATE dbo.ExtractosBancariosDatos SET MatchCUITs = 0, MatchPython=0, SkipIt = 0
			WHERE ExtractoID=@RowID
	 	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito IS NULL 
			AND SkipIT = 0	 	 

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND DescripcionCompleta IS NULL 
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Descripcion LIKE '%DEPOSITO%'
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND  SUBSTRING(DescripcionCompleta,charindex('ORIGINANTE:',DescripcionCompleta)+len('ORIGINANTE:'),11) like '%30672700406%'

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 0, CUIT_Archivo = SUBSTRING(DescripcionCompleta,len(DescripcionCompleta)-10,11)
			WHERE ExtractoID=@RowID
			AND ( Descripcion LIKE '%INTERBANKING%' or  Descripcion LIKE '%INSTRUCCION%' ) AND Credito IS NOT NULL
	  
			UPDATE dbo.ExtractosBancariosDatos SET CUIT_Archivo = SUBSTRING(DescripcionCompleta,charindex('ORIGINANTE:',DescripcionCompleta)+len('ORIGINANTE:'),11)
			WHERE ExtractoID=@RowID
			and SkipIT=0
			and  charindex('ORIGINANTE:',DescripcionCompleta) >0
	 
	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND DescripcionCompleta like '%30672700406%'
		END
 

 
		IF @BancoID=2
		BEGIN 

			-- skipeo todos 
			UPDATE dbo.ExtractosBancariosDatos SET MatchCUITs =  0, MatchPython=0, SkipIt = 0
			WHERE ExtractoID=@RowID
	 	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito IS NULL 
			AND SkipIT = 0	 	

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Descripcion LIKE '%WC-ARCOR%'
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito<=0
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND DescripcionCompleta like '%30672700406%'

 
			UPDATE dbo.ExtractosBancariosDatos SET CUIT_Archivo = DescripcionCompleta
			WHERE ExtractoID=@RowID
			and SkipIT=0 
	

	
		END

		IF @BancoID=3
		BEGIN 

			-- skipeo todos 
			UPDATE dbo.ExtractosBancariosDatos SET MatchCUITs = 0, MatchPython=0, SkipIt = 0
			WHERE ExtractoID=@RowID
	 	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito IS NULL 
			AND SkipIT = 0	 	 

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito<=0
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND DescripcionCompleta like '%30672700406%'
	
		END


		IF @BancoID=4
		BEGIN 

			-- skipeo todos 
			UPDATE dbo.ExtractosBancariosDatos SET MatchCUITs = CASE WHEN MatchCUITs= 1 THEN 1 ELSE 0 END , MatchPython=0, SkipIt = 0
			WHERE ExtractoID=@RowID
	 	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND (Credito IS NULL or Credito=0)
			AND SkipIT = 0	 	
 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito<=0
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%30672700406%'

	
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Acreditacion Valores%'

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Titulo%'

	
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Deposito%'
	
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Rescate%'

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Pago a Comercios%'
			
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Transferencia por Pago de Haberes%'
	
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Impuesto Ley 25.413%'
				
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%Reg. de Recaudacion SIRCREB-Convenio%'
	
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%IVA - Alicuota Inscripto%'
		END

		IF @BancoID=5
		BEGIN 

			-- skipeo todos 
			UPDATE dbo.ExtractosBancariosDatos SET MatchCUITs = 0 , MatchPython=0, SkipIt = 0
			WHERE ExtractoID=@RowID
	 	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND (Credito IS NULL or Credito=0)
			AND SkipIT = 0	 	
 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito<=0
			AND SkipIT = 0
	
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND Descripcion like '%30672700406%'

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID 
			AND SkipIT = 0
			AND DescripcionCompleta like '%30672700406%'
	

		END
		
		
		IF @BancoID=6
		BEGIN 

			UPDATE dbo.ExtractosBancariosDatos SET MatchCUITs = CASE WHEN MatchCUITs= 1 THEN 1 ELSE 0 END , MatchPython=0, SkipIt = 0
			WHERE ExtractoID=@RowID
	 	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND (Credito IS NULL or Credito=0)
			AND SkipIT = 0	 	
 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito<=0
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND CUIT_Archivo like '%30672700406%'
			AND DescripcionCompleta NOT LIKE '%TRANSFERENCIA%'
			
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND DescripcionCompleta  like '%TRASPASO DE SALDO%' 

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND DescripcionCompleta  like '%RESCATE FI%' 

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND DescripcionCompleta  like '%DEPOSITO%' 


			--UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 0
			--WHERE ExtractoID=@RowID
			--AND SkipIT = 1
			--AND Descripcion  like '%INTERBA%'

			--UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			--WHERE ExtractoID=@RowID  
			--AND Descripcion  like '%INTERBA%'
			--AND Credito=0


		END
		
		IF @BancoID=7
		BEGIN 

			UPDATE dbo.ExtractosBancariosDatos SET MatchCUITs = CASE WHEN MatchCUITs= 1 THEN 1 ELSE 0 END , MatchPython=0, SkipIt = 0
			WHERE ExtractoID=@RowID
	 	 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND (Credito IS NULL or Credito=0)
			AND SkipIT = 0	 	
 
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND Credito<=0
			AND SkipIT = 0

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND CUIT_Archivo like '%30672700406%'
			AND DescripcionCompleta NOT LIKE '%TRANSFERENCIA%'
			
			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND DescripcionCompleta  like '%TRASPASO DE SALDO%' 

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND DescripcionCompleta  like '%RESCATE FI%' 

			UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			WHERE ExtractoID=@RowID
			AND SkipIT = 0
			AND DescripcionCompleta  like '%DEPOSITO%' 


			--UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 0
			--WHERE ExtractoID=@RowID
			--AND SkipIT = 1
			--AND Descripcion  like '%INTERBA%'

			--UPDATE dbo.ExtractosBancariosDatos SET SkipIT = 1
			--WHERE ExtractoID=@RowID  
			--AND Descripcion  like '%INTERBA%'
			--AND Credito=0


		END


		UPDATE UPD SET CUIT_Valido = c.CUIT, Nombre_Cuit_Valido = C.Nombre, RazonSocial_CUIT_Valido= c.[RazonSocial], MatchCUITs = 1
		FROM dbo.ExtractosBancariosDatos UPD
		INNER JOIN CUITs C ON (C.CUIT_NUMERO = UPD.CUIT_Archivo or C.NumeroDocumento=UPD.CUIT_Archivo)
		WHERE UPD.ExtractoID=@RowID
		AND SkipIT=0

		SELECT 
			@TotalRows = COUNT(*), 
			@TotalCuitsArchivo = SUM(CASE WHEN SkipIT = 0 THEN 1 ELSE 0 END),
			@TotalCuitsValidos = SUM(CASE WHEN SkipIT = 0 AND CUIT_Valido is NOT NULL THEN 1 ELSE 0 END),
			@TotalCuitsNoMatched = SUM(CASE WHEN SkipIT = 0 AND CUIT_Valido is NULL THEN 1 ELSE 0 END),
			@TotalCuitsMatched = SUM(CASE WHEN SkipIT = 0 AND MatchCUITs = 1 THEN 1 ELSE 0 END)
		FROM dbo.ExtractosBancariosDatos d
		WHERE ExtractoID =@RowID 
 
 
		UPDATE dbo.ExtractosBancarios SET 
			TotalFilas			= @TotalRows,
			TotalCuitsValidos	= @TotalCuitsValidos,
			TotalCuitsNoMatched = @TotalCuitsNoMatched,
			TotalCuitsArchivo	= @TotalCuitsArchivo,
			TotalCuitsMatched	= @TotalCuitsMatched
		WHERE ExtractoID = @RowID


	If @TotalRows=0 AND @RowCount =0
	BEGIN
		-- el archivo estaba vacio, borrar extractos
		EXEC usp_Eliminar_Extractos_NoProcesado @RowID
		SELECT 1 AS HasError, 'El archivo estaba vacio. 0 Transacciones registradas' AS Mensaje 
	END


 --select * from ExtractosBancariosDatos where skipit =0
--select * from ExtractosBancariosDatos 
--	WHERE ExtractoID=1
--	AND Credito IS NOT NULL and DescripcionCompleta IS NOT NULL
--TRUNCATE TABLE ExtractosBancariosDatos
--TRUNCATE TABLE ExtractosBancarios




	SELECT 0 AS HasError, 'Archivo: ' + CONVERT(VARCHAR(100),@FileName) + ' procesado correctamente' AS Mensaje 

	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	SELECT 1 AS HasError, ERROR_MESSAGE() + ' 0 transacciones registradas' AS Mensaje

END CATCH


GO
