USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Procesar]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1143
-- [dbo].[usp_Ordenes_load] 'C:\Reclamos\Ordenes\Exportacion-ventas-06-08-25 (1).xls'

CREATE PROCEDURE [dbo].[usp_Ordenes_Procesar] 
@FileID INT
AS
SET NOCOUNT ON 

DECLARE @TotalCuitsValidos INT ,@TotalCuitsNoMatched INT, @TotalCuitsArchivo INT, @TotalCuitsMatched INT, @RowCount INT, @Result INT=0

--TRUNCATE TABLE  dbo.Ordenes
--TRUNCATE TABLE  dbo.OrdenesDatos  
--TRUNCATE TABLE  dbo.OrdenesDatosItems 

BEGIN TRY
	BEGIN TRAN  
	  
		UPDATE dbo.Ordenes  SET
			Estado = 3 -- Pongo en proceso
		 WHERE FileID = @FileID
		  
		UPDATE A
		SET SkipIT = 1 -- ORDEN YA CARGADA
		FROM dbo.OrdenesDatos A
		WHERE A.FileID = @FileID
		  AND EXISTS (
			  SELECT 1
			  FROM dbo.OrdenesDatos B
			  WHERE B.OrdenID = A.OrdenID
				AND B.FileID <> @FileID
				AND ISNULL(B.SkipIT,1) =0
		  );
		 
		UPDATE UPD SET CUIT_Valido = c.CUIT, Nombre_Cuit_Valido = C.Nombre, RazonSocial_CUIT_Valido= c.[RazonSocial], MatchCUITs = 1, ClienteID = C.ClienteID
		FROM dbo.OrdenesDatos UPD
		INNER JOIN Clientes C ON (C.CUIT = UPD.CUIT_Archivo) -- or CONVERT(VARCHAR(11),C.numero_doc)=UPD.CUIT_Archivo)
		WHERE UPD.FileID=@FileID
		AND SkipIT=0 

		UPDATE UPD SET CUIT_Valido = c.CUIT, Nombre_Cuit_Valido = C.Nombre, RazonSocial_CUIT_Valido= c.[RazonSocial], MatchCUITs = 1, ClienteID = C.ClienteID
		FROM dbo.OrdenesDatos UPD
		INNER JOIN Clientes C ON CONVERT(VARCHAR(11),C.numero_doc)=UPD.CUIT_Archivo
		WHERE UPD.FileID=@FileID
		AND SkipIT=0
		AND CUIT_Valido IS NULL
		 
		;WITH Digitos AS (
		SELECT t.OrdenID,
			t.observaciones,
			pos = CHARINDEX('cuit', t.observaciones) + 5,
			LEN(t.observaciones) AS largo
		FROM OrdenesDatos t
		WHERE t.FileID=@FileID 
		AND CHARINDEX('cuit', t.observaciones) > 0
		),
		Recursivo AS (
			-- Parte ancla
			SELECT d.OrdenID,
				d.observaciones,
				d.pos,
				d.largo,
				CAST('' AS VARCHAR(20)) AS SoloDigitos
			FROM Digitos d

			UNION ALL

			-- Parte recursiva
			SELECT r.OrdenID,
				r.observaciones,
				r.pos + 1,
				r.largo,
				CAST(r.SoloDigitos + 
					CASE WHEN SUBSTRING(r.observaciones, r.pos, 1) LIKE '[0-9]' 
						 THEN SUBSTRING(r.observaciones, r.pos, 1) 
						 ELSE '' END
				AS VARCHAR(20)) AS SoloDigitos
			FROM Recursivo r
			WHERE r.pos <= r.largo AND LEN(r.SoloDigitos) < 11
		)
		SELECT ordenid,
			observaciones,
			MAX(CASE WHEN LEN(SoloDigitos) = 11 THEN SoloDigitos ELSE '' END) AS CUIT_11digitos
		INTO #CuitsFormObservaciones
		FROM Recursivo
		GROUP BY ordenid,observaciones
		OPTION (MAXRECURSION 0); 
		 
		-- Sobreescribe con observaciones.
		UPDATE A SET
			CUIT_Archivo = CUIT_11digitos,
			[MatchCUITsObservaciones] = 1
		FROM dbo.OrdenesDatos A
		INNER JOIN #CuitsFormObservaciones B ON B.OrdenID = A.OrdenID 
		WHERE A.FileID = @FileID
  
		
		UPDATE UPD SET CUIT_Valido = c.CUIT, Nombre_Cuit_Valido = C.Nombre, RazonSocial_CUIT_Valido= c.[RazonSocial], MatchCUITs = 1,ClienteID= C.ClienteID
		FROM dbo.OrdenesDatos UPD
		INNER JOIN Clientes C ON (C.CUIT = UPD.CUIT_Archivo or CONVERT(VARCHAR(11),C.numero_doc)=UPD.CUIT_Archivo)
		WHERE UPD.FileID=@FileID
		AND SkipIT=0
		AND [MatchCUITsObservaciones]=1
		 

		
		-- Script para extraer el número de cliente desde observaciones
		SELECT
			FileID,
			OrdenID,
			Observaciones,
			LTRIM(RTRIM(
				SUBSTRING(
					LTRIM(SUBSTRING(
						Observaciones,
						CASE 
							WHEN CHARINDEX('CLIENTE NRO', Observaciones) > 0 
								THEN CHARINDEX('CLIENTE NRO', Observaciones) + LEN('CLIENTE NRO')
							ELSE CHARINDEX('CLIENTE', Observaciones) + LEN('CLIENTE')
						END,
						50
					)),
					1,
					PATINDEX('%[^0-9]%', LTRIM(SUBSTRING(
						Observaciones,
						CASE 
							WHEN CHARINDEX('CLIENTE NRO', Observaciones) > 0 
								THEN CHARINDEX('CLIENTE NRO', Observaciones) + LEN('CLIENTE NRO')
							ELSE CHARINDEX('CLIENTE', Observaciones) + LEN('CLIENTE')
						END,
						50
					)) + 'X') - 1
				)
			)) AS NumeroCliente
		INTO #ClientesFromObservaciones
		FROM dbo.OrdenesDatos UPD
		WHERE FileID=@FileID
		AND  SkipIT=0
		AND  CUIT_Valido is null
		AND Observaciones LIKE '%CLIENTE%'
		 
		
		UPDATE UPD SET CUIT_Valido = A.CUIT, Nombre_Cuit_Valido = A.Nombre, RazonSocial_CUIT_Valido= A.[RazonSocial], MatchCUITs = 1,ClienteID= A.ClienteID
		FROM dbo.OrdenesDatos UPD
		INNER JOIN #ClientesFromObservaciones C ON C.FileID = UPD.FileID AND C.OrdenID=UPD.OrdenID 
		INNER JOIN Clientes A ON  A.ClienteID = C.NumeroCliente
		WHERE UPD.FileID=@FileID
		AND SkipIT=0
		AND UPD.CUIT_Valido is null
		AND UPD.Observaciones LIKE '%CLIENTE%'
		--FIN  Script para extraer el número de cliente desde observaciones
		 
		
		--UPDATE UPD SET CUIT_Valido = A.CUIT, Nombre_Cuit_Valido = A.Nombre, RazonSocial_CUIT_Valido= A.[RazonSocial], MatchCUITs = 1,ClienteID= A.ClienteID
		--FROM dbo.OrdenesDatos UPD 
		--INNER JOIN Clientes A ON   (A.cuit =UPD.CUIT_Archivo OR CONVERT(VARCHAR(20),A.numero_doc) = UPD.CUIT_Archivo)
		--WHERE UPD.FileID=@FileID
		--AND SkipIT=0
		--AND UPD.CUIT_Valido is null
		

		UPDATE UPD SET CUIT_Valido = A.CUIT, Nombre_Cuit_Valido = A.Nombre, RazonSocial_CUIT_Valido= A.[RazonSocial], MatchCUITs = 1,ClienteID= A.ClienteID
		FROM dbo.OrdenesDatos UPD 
		INNER JOIN Clientes A ON   (A.cuit LIKE '%'+UPD.CUIT_Archivo + '%' )
		WHERE UPD.FileID=@FileID   
		AND SkipIT=0
		AND UPD.Fact_TipoDeDocumento = 'DNI'
		AND UPD.CUIT_Valido is null

		UPDATE UPD SET CUIT_Valido = A.CUIT, Nombre_Cuit_Valido = A.Nombre, RazonSocial_CUIT_Valido= A.[RazonSocial], MatchCUITs = 1,ClienteID= A.ClienteID
		FROM dbo.OrdenesDatos UPD 
		INNER JOIN Clientes A ON   ( CONVERT(VARCHAR(20),A.numero_doc) = UPD.CUIT_Archivo)
		WHERE UPD.FileID=@FileID   
		AND SkipIT=0
		AND  UPD.Fact_TipoDeDocumento = 'DNI'
		AND UPD.CUIT_Valido is null

		UPDATE dbo.OrdenesDatos SET EntregaIllanes = CASE WHEN TipoDeEnvio='Domicilio' THEN 1 ELSE 0 END
		WHERE FileID=@FileID   
		AND SkipIT=0 


		-- Tabla de números para ayudar a separar las cadenas
		;WITH N AS (
			SELECT TOP (1000) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS n
			FROM sys.objects a CROSS JOIN sys.objects b
		)
		-- Separar items por coma
		, SplitItems AS (
			SELECT
				p.ORdenID AS PedidoID,
				LTRIM(RTRIM(SUBSTRING(p.Productos, v.Pos+1, ISNULL(NULLIF(CHARINDEX(',', p.Productos, v.Pos+1),0)-v.Pos-1, LEN(p.Productos))))) AS Item
			FROM OrdenesDatos p
			CROSS APPLY (
				SELECT n-1 AS Pos
				FROM N
				WHERE n = 1 OR SUBSTRING(',' + p.Productos, n, 1) = ','
			) v
			WHERE p.FileID=@FileID
		)
		-- Insertar en tabla destino separando Cantidad y Producto

		INSERT INTO [dbo].[OrdenesDatosItems] (FileID, OrdenID,Cantidad, Producto, SkipIT)
		SELECT
			@FileID,
			PedidoID,
			CAST(LEFT(Item, CHARINDEX('x', Item)-1) AS INT) AS Cantidad,
			LTRIM(RTRIM(SUBSTRING(Item, CHARINDEX('x', Item)+1, LEN(Item)))) AS Producto,
			0
		FROM SplitItems
		WHERE Item <> '';


		-- = = = = = = = = = = = = = = = = = = 
		-- VENDEDORES
		-- = = = = = = = = = = = = = = = = = = 
		SELECT  FileID, OrdenID,  CASE 
					WHEN PATINDEX('%[^0-9][0-9][0-9][0-9][^0-9]%', ' ' + Observaciones + ' ') > 0
					THEN SUBSTRING(' ' + Observaciones + ' ', 
								   PATINDEX('%[^0-9][0-9][0-9][0-9][^0-9]%', ' ' + Observaciones + ' ')+1, 
								   3)
					ELSE NULL
				END AS Vendedor
		INTO #Vendedores
		FROM OrdenesDatos 
		WHERE FileID = @FileID  
		AND Observaciones like '%vende%'

		DELETE FROM #Vendedores WHERE Vendedor IS NULL

		UPDATE OrdenesDatos SET	VendedorID= V.Vendedor
		FROM OrdenesDatos UPD 
		INNER JOIN #Vendedores V on V.FileID = UPD.FileID AND V.OrdenID=UPD.OrdenID 
		WHERE  UPD.FileID = @FileID
		 
		SELECT   
			@TotalCuitsArchivo		= SUM(CASE WHEN SkipIT = 0 THEN 1 ELSE 0 END),
			@TotalCuitsValidos		= SUM(CASE WHEN SkipIT = 0 AND CUIT_Valido is NOT NULL THEN 1 ELSE 0 END),
			@TotalCuitsNoMatched	= SUM(CASE WHEN SkipIT = 0 AND CUIT_Valido is NULL THEN 1 ELSE 0 END),
			@TotalCuitsMatched		= SUM(CASE WHEN SkipIT = 0 AND MatchCUITs = 1 THEN 1 ELSE 0 END)
		FROM dbo.OrdenesDatos d
		WHERE FileID =@FileID 

		UPDATE I
		SET SkipIT = 1
		FROM OrdenesDatosItems I
		WHERE I.FileID = @FileID
		  AND EXISTS (
			  SELECT 1
			  FROM OrdenesDatos D
			  WHERE D.FileID = I.FileID
				AND D.OrdenID = I.OrdenID
				AND D.SkipIT = 1
		  );
		UPDATE dbo.Ordenes SET	
			Estado						= 4,   
			[TotalClientesNoMatched]	= @TotalCuitsNoMatched,
			[TotalClientesMatched]		= @TotalCuitsMatched
		WHERE FileID = @FileID

		 

		 
	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN
	select ERROR_MESSAGE()
	SET @Result = 1

END CATCH

RETURN @Result


GO
