USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_WhatsAPP_ins]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Campania_WhatsAPP_ins]
    @NombreCampania NVARCHAR(255),
    @Descripcion NVARCHAR(500),
    @TemplateWhatsApp NVARCHAR(255),
    @MensajeWhatsApp NVARCHAR(MAX),
    @ExcelTelefonos NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Campanias (NombreCampania, Descripcion, Canal, TemplateWhatsApp, MensajeWhatsApp, ExcelTelefonos)
    VALUES (@NombreCampania, @Descripcion, 'WhatsApp', @TemplateWhatsApp, @MensajeWhatsApp, @ExcelTelefonos);

    SELECT SCOPE_IDENTITY() AS CampaniaID;
END


GO
