USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_load]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [dbo].[usp_Ordenes_load] 'C:\Reclamos\Ordenes\Exportacion-ventas-06-08-25 (1).xls'

CREATE PROCEDURE [dbo].[usp_Ordenes_load]  
@FileName VARCHAR(255) = NULL
AS
SET NOCOUNT ON 
DECLARE @FileID INT,@TotalRows INT=0,@TotalCuitsValidos INT ,@TotalCuitsNoMatched INT, @TotalCuitsArchivo INT, @TotalCuitsMatched INT, @RowCount INT

--TRUNCATE TABLE  dbo.Ordenes
--TRUNCATE TABLE  dbo.OrdenesDatos  
--TRUNCATE TABLE  dbo.OrdenesDatosItems 

BEGIN TRY
	BEGIN TRAN  
		INSERT INTO dbo.Ordenes (NombreArchivo) VALUES (@FileName)
		SET @FileID = @@IDENTITY

		INSERT INTO dbo.OrdenesDatos(FileID,
			OrdenID,Fecha,Cliente,Email,Telefono,Pago,FormaPago,Envio,FormaEnvio,CostoEnvio,Total,TipoDeEnvio,Sucursal,
			Envio_Nombre,Envio_Apellido,Envio_TipoDeDocumento,Envio_NumeroDeDocumento,Envio_Calle,Envio_Numero,Envio_Piso,Envio_Dpto,Envio_Ciudad,Envio_Provincia,Envio_CP,
			Fact_Razonsocial,Fact_TipoDeDocumento,Fact_NumeroDeDocumento,Fact_Calle,Fact_Numero,Fact_Piso,Fact_Dpto,Fact_Ciudad,Fact_Provincia,Fact_CP,Facturada,Observaciones,
			Productos,CUIT_Archivo
			)
		SELECT @FileID
		,OrdenID,CONVERT(DATETIME, fecha, 3) ,Cliente,Email,Telefono,Pago,FormaPago,Envio,FormaEnvio,CostoEnvio,Total,TipoDeEnvio,Sucursal,
		Envio_Nombre,Envio_Apellido,Envio_TipoDeDocumento,Envio_NumeroDeDocumento,Envio_Calle,Envio_Numero,Envio_Piso,Envio_Dpto,Envio_Ciudad,Envio_Provincia,Envio_CP,
		Fact_Razonsocial,Fact_TipoDeDocumento,Fact_NumeroDeDocumento,Fact_Calle,Fact_Numero,Fact_Piso,Fact_Dpto,Fact_Ciudad,Fact_Provincia,Fact_CP,Facturada,Observaciones,
		Productos,REPLACE(Fact_NumeroDeDocumento,'-','')
		FROM tmp.Ordenes c 

		SET @RowCount = @@ROWCOUNT
		  
		UPDATE A SET
			SkipIT = 1 --ORDEN YA CARGADA
		FROM dbo.OrdenesDatos A
		INNER JOIN dbo.OrdenesDatos B ON B.OrdenID = A.OrdenID AND B.FileID <> @FileID AND ISNULL(B.SkipIT,1)=0
		WHERE A.FileID = @FileID

		UPDATE dbo.Ordenes SET	  
			 TotalClientes = @RowCount
		WHERE FileID = @FileID

		   
	If  @RowCount =0
	BEGIN
		-- el archivo estaba vacio, borrar extractos
		EXEC [usp_Eliminar_Ordenes_NoProcesado] @FileID
		SELECT 1 AS HasError, 'El archivo estaba vacio. 0 Transacciones registradas' AS Mensaje 
	END
	  
	SELECT 0 AS HasError, 'Archivo: ' + CONVERT(VARCHAR(100),@FileName) + ' procesado correctamente' AS Mensaje 

	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	SELECT 1 AS HasError, ERROR_MESSAGE() + ' 0 transacciones registradas' AS Mensaje

END CATCH


GO
