USE [Administracion]
GO
/****** Object:  Table [dbo].[Extracto_Galicia]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Extracto_Galicia](
	["Fecha"] [varchar](50) NULL,
	["Descripción"] [varchar](50) NULL,
	["Origen"] [varchar](50) NULL,
	["Débitos"] [varchar](50) NULL,
	["Créditos"] [varchar](50) NULL,
	["Grupo de Conceptos"] [varchar](50) NULL,
	["Concepto"] [varchar](50) NULL,
	["Número de Terminal"] [varchar](50) NULL,
	["Observaciones Cliente"] [varchar](50) NULL,
	["Número de Comprobante"] [varchar](50) NULL,
	["Leyendas Adicionales1"] [varchar](50) NULL,
	["Leyendas Adicionales2"] [varchar](50) NULL,
	["Leyendas Adicionales3"] [varchar](50) NULL,
	["Leyendas Adicionales4"] [varchar](50) NULL,
	["Tipo de Movimiento"] [varchar](50) NULL,
	["Saldo"] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
