USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Mover_A_Cobranzas]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from OrdenesCobranza

-- select * from Ordenes

CREATE PROCEDURE [dbo].[usp_Ordenes_Mover_A_Cobranzas]   
@FileID INT = 0 ,
@AppliedBy VARCHAR(50) = NULL
AS
SET NOCOUNT ON 

BEGIN TRY
	BEGIN TRAN
	DECLARE @RowsAffected INT = 0    
	INSERT INTO OrdenesCobranza (Fecha,Cliente,Monto,CUIT_Valido,ClienteID,VendedorID,AppliedBy,FileID,OrdenID,FacturaArchivo)
	SELECT 
		D.Fecha, C.razonsocial,ISNULL(F.Total,CONVERT(numeric(32,2),REPLACE(d.Total,',','.'))),D.CUIT_Valido,D.ClienteID,VendedorID,@AppliedBy,D.FileID,D.OrdenID,FacturaArchivo
	FROM dbo.OrdenesDatos D
	INNER JOIN dbo.Ordenes E ON E.FileID=D.FileID
	INNER JOIN dbo.Clientes C on C.ClienteID=D.ClienteID
	LEFT JOIN dbo.Cliente_Factura F ON F.cliente like '%'+convert(varchar(10), D.ClienteID) + '%' and F.facturanro=D.FacturaNro
	WHERE D.FileID=@FileID
	AND NOT EXISTS (
		SELECT  NULL 
		FROM dbo.OrdenesCobranza  A
		WHERE A.OrdenID = D.OrdenID
	)
	AND D.SkipIT=0 
	AND (D.CUIT_Valido IS NOT NULL or D.RazonSocial_CUIT_Valido IS NOT NULL OR d.FacturaArchivo IS NOT NULL)
 
	SET @RowsAffected= @@ROWCOUNT
	
	IF @RowsAffected > 0 
	BEGIN
		UPDATE Ordenes SET Estado=5 WHERE FileID = @FileID
	END

	SELECT 0 AS HasError, CONVERT(VARCHAR,@RowsAffected) + ' transacciones registradas' AS Mensaje 

	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	SELECT 1 AS HasError, ERROR_MESSAGE() + ' 0 transacciones registradas' AS Mensaje

END CATCH

 



GO
