USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_save]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[usp_Ordenes_save]
@RowID			INT,
@NroRecibo		VARCHAR(50),
@OK				VARCHAR(10),
@UpdatedBY		VARCHAR(50)
AS

SET NOCOUNT ON 

BEGIN TRY
	UPDATE OrdenesCobranza SET
		NroRecibo			= CASE WHEN ISNULL(NroRecibo	,'')		= @NroRecibo		THEN NroRecibo				ELSE @NroRecibo		END ,
		OK					= UPPER(CASE WHEN ISNULL(OK			,'')	= @OK				THEN Ok						ELSE @OK			END) ,
		UpdatedBY			= @UpdatedBY,
		LastUpdated			= getdate()
	WHERE RowID=@RowID 

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH




GO
