USE [Administracion]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] NULL,
	[codigo] [varchar](10) NULL,
	[nombre] [varchar](100) NULL,
	[razonsocial] [varchar](100) NULL,
	[cuit] [varchar](11) NULL,
	[dateadded] [datetime] NULL,
	[numero_doc] [int] NULL,
	[email] [varchar](200) NULL,
	[Latitud] [decimal](12, 6) NULL,
	[Longitud] [decimal](12, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [dateadded]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ('') FOR [email]
GO
