USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Marcar_Para_Envio]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from OrdenesCobranza

-- select * from Ordenes

CREATE PROCEDURE [dbo].[usp_Ordenes_Marcar_Para_Envio]   
@FileID INT = 0 
AS
SET NOCOUNT ON 

BEGIN TRY
	BEGIN TRAN
	DECLARE @RowsAffected INT = 0    
	
	UPDATE Ordenes SET 
		Estado=6	
	WHERE FileID=@FileID	
	
	SET @RowsAffected= @@ROWCOUNT
	
	
	SELECT 0 AS HasError, CONVERT(VARCHAR,@RowsAffected) + ' transacciones registradas' AS Mensaje 

	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	SELECT 1 AS HasError, ERROR_MESSAGE() + ' 0 transacciones registradas' AS Mensaje

END CATCH

 



GO
