USE [Administracion]
GO
/****** Object:  Table [dbo].[Bancos]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bancos](
	[BancoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Encabezado] [tinyint] NULL,
	[PrimeraFila] [tinyint] NULL,
	[Orden] [tinyint] NULL,
	[NombreCorto] [varchar](10) NULL,
	[PUNTO_VENTA_ID] [tinyint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
