USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_Mover_A_Transferencias]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Extractos_Mover_A_Transferencias]    
@ExtractoID INT = 0 ,
@AppliedBy VARCHAR(50) = NULL
AS
SET NOCOUNT ON 

BEGIN TRY
	BEGIN TRAN
	DECLARE @RowsAffected INT = 0 
	 
	INSERT INTO Transferencias (Fecha,BancoID,Cliente,Monto,FechaDepositoECheck,OK,CUIT_Valido,AppliedBy,ExtractoID,ExtractoDatosID,PUNTO_VENTA_ID)
	SELECT 
		D.Fecha,E.BancoID
		,CASE  
			WHEN E.BancoID IN (3,4,6) THEN DescripcionCompleta COLLATE SQL_Latin1_General_CP1_CI_AS  
			ELSE CONVERT(VARCHAR(255), RazonSocial_CUIT_Valido COLLATE SQL_Latin1_General_CP1_CI_AS )   END
		,D.Credito,
		CONVERT(VARCHAR(255), CASE 
			WHEN E.BancoID=3 AND DescripcionCompleta like '%echeq%' THEN RTRIM(LTRIM( CONVERT(VARCHAR(255), SUBSTRING(Descripcion,CHARINDEX('|FechaPago:',Descripcion)+11,100)  )))
			WHEN E.BancoID=4  then  d.NombreCaja 
			WHEN E.BancoID=1  THEN '' 
			WHEN E.BancoID=2  THEN d.NombreCaja 
			ELSE '' END
			),
		CASE 
			WHEN DescripcionCompleta like '%echeq%' THEN ''
			WHEN( d.NombreCaja  like '%center%') THEN 'OK'  
			WHEN E.BancoID=1  THEN '' 
			WHEN E.BancoID=2  AND  (d.CUIT_Archivo IS NOT NULL AND d.NombreCaja  like '%center%') THEN 'OK'  
			ELSE '' END
		,D.CUIT_Valido
		,@AppliedBy
		,D.ExtractoID,D.RowID,B.PUNTO_VENTA_ID
	FROM dbo.ExtractosBancariosDatos D
	INNER JOIN dbo.ExtractosBancarios E ON E.ExtractoID=D.ExtractoID 
	INNER JOIN dbo.Bancos B ON B.BancoID= E.BancoID
	WHERE D.ExtractoID=@ExtractoID
	AND NOT EXISTS (
		SELECT  NULL 
		FROM dbo.Transferencias A
		WHERE A.Fecha=D.Fecha
		AND A.BancoID=E.BancoID
		AND A.Cliente=	CASE  
							WHEN E.BancoID IN (3,4,6) THEN DescripcionCompleta COLLATE SQL_Latin1_General_CP1_CI_AS 
							ELSE CONVERT(VARCHAR(255), RazonSocial_CUIT_Valido COLLATE SQL_Latin1_General_CP1_CI_AS )   
						END
		AND CONVERT(NUMERIC(20,2),A.Monto)=CONVERT(NUMERIC(20,2),D.Credito)
		--AND A.FechaDepositoECheck=CONVERT(VARCHAR(255), CASE 
		--										WHEN D.DescripcionCompleta like '%echeq%' THEN CONVERT(VARCHAR(255), Fecha )
		--										WHEN E.BancoID=1  THEN '' 
		--										WHEN E.BancoID=2  THEN D.NombreCaja 
		--										ELSE '' END)
		--AND ISNULL(A.OK,'')=CASE 
		--						WHEN DescripcionCompleta like '%echeq%' THEN ''
		--						WHEN( d.NombreCaja  like '%center%') THEN 'OK'  
		--						WHEN E.BancoID=1  THEN '' 
		--						WHEN E.BancoID=2  AND  (d.CUIT_Archivo IS NOT NULL AND d.NombreCaja  like '%center%') THEN 'OK'  
		--					ELSE '' END
		--				
		) 
	AND D.SkipIT=0 
	AND (D.CUIT_Valido IS NOT NULL or D.RazonSocial_CUIT_Valido IS NOT NULL )
 
	SET @RowsAffected= @@ROWCOUNT
	
	IF @RowsAffected > 0 
	BEGIN
		UPDATE ExtractosBancarios SET Estado=5 WHERE ExtractoID = @ExtractoID
	END

	SELECT 0 AS HasError, CONVERT(VARCHAR,@RowsAffected) + ' transacciones registradas' AS Mensaje 

	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	SELECT 1 AS HasError, ERROR_MESSAGE() + ' 0 transacciones registradas' AS Mensaje

END CATCH

 


GO
