USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_download]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--[dbo].[usp_Extractos_download]   23
CREATE PROCEDURE [dbo].[usp_Ordenes_download]   
@FileID INT = 0
AS
SET NOCOUNT ON  

 
SELECT OrdenID,
d.Fecha,
d.Cliente,
d.Telefono,
d.Email,
d.TipoDeEnvio,
d.EntregaIllanes,
d.Fact_Razonsocial,
d.Fact_TipoDeDocumento,
d.Fact_NumeroDeDocumento,
CUIT_Archivo,
CUIT_Valido,
Nombre_Cuit_Valido,
CONVERT(VARCHAR(255), RazonSocial_CUIT_Valido COLLATE SQL_Latin1_General_CP1_CI_AS ) AS RazonSocial,
ClienteID,
VendedorID,
Productos,
Observaciones,
 
CajasBronce = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=d.FileID AND X.OrdenID=d.OrdenID  AND Producto LIKE '%caja%Bronce%'),
CajasPlata = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=d.FileID AND X.OrdenID=d.OrdenID  AND Producto LIKE '%caja%Plata%'),
CajasOro = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=d.FileID AND X.OrdenID=d.OrdenID AND Producto LIKE '%caja%oro%'),
CajasPlatino = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=d.FileID AND X.OrdenID=d.OrdenID  AND Producto LIKE '%caja%Platino%'),
CajasEspecial = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=d.FileID AND X.OrdenID=d.OrdenID  AND  Producto LIKE '%caja%Espe%'),
CajasEstrella = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=d.FileID AND X.OrdenID=d.OrdenID  AND  Producto LIKE '%caja%Estrella%')


FROM OrdenesDatos d  
WHERE  d.FileID=@FileID
and d.SkipIT = 0 
ORDER BY d.OrdenID


GO
