USE [Administracion]
GO
/****** Object:  Table [dbo].[Vendedores_TMP]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendedores_TMP](
	[codigo] [varchar](5) NULL,
	[nombre] [varchar](100) NULL,
	[super] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
