USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_enviar]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- preparando envio

CREATE PROCEDURE [dbo].[usp_Ordenes_enviar]
@FileID INT = 0
AS
SET NOCOUNT ON 

UPDATE Ordenes SET Estado=2
WHERE  FileID =@FileID

INSERT INTO OrdenesOndemand  (FileID) 
SELECT @FileID
WHERE NOT EXISTS (SELECT  NULL FROM OrdenesOnDemand d WHERE d.FileID=@FileID)
 



GO
