USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Email_ins]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Campania_Email_ins]
    @NombreCampania NVARCHAR(255),
    @Descripcion NVARCHAR(500),
    @MensajeEmailAsunto NVARCHAR(255),
    @MensajeEmailCuerpo NVARCHAR(MAX),
    @AdjuntoEmail NVARCHAR(255) = NULL,
    @ExcelEmails NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Campanias (NombreCampania, Descripcion, Canal, MensajeEmailAsunto, MensajeEmailCuerpo, AdjuntoEmail, ExcelEmails)
    VALUES (@NombreCampania, @Descripcion, 'Email', @MensajeEmailAsunto, @MensajeEmailCuerpo, @AdjuntoEmail, @ExcelEmails);

    SELECT SCOPE_IDENTITY() AS CampaniaID;
END


GO
