USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_Procesados]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  --[dbo].[usp_Extractos_Procesados]  1
CREATE PROCEDURE [dbo].[usp_Extractos_Procesados]  
@ExtractoID INT = 0
AS
SET NOCOUNT ON 

SELECT  top 10  a.ExtractoID
,b.Nombre AS BancoNombre
,REPLACE(a.NombreArchivo,'C:\Reclamos\Extractos\','') AS NombreArchivo
,a.TotalFilas 
,a.TotalCuitsValidos 
,a.TotalCuitsArchivo
,a.TotalCuitsMatched
,SUM(CASE WHEN d.MatchPython=1 AND  CUIT_Valido IS NOT NULL  THEN 1 ELSE 0 END) AS TotalCuitsOnline
,SUM(CASE WHEN d.MatchPython=1  and d.MatchCUITs= 0 AND CUIT_Valido IS NULL THEN 1 ELSE 0  END) AS TotalCuitsOnlineNoEncontrados
,SUM(CASE WHEN d.SkipIT =0 AND d.MatchPython=0 AND d.MatchManual = 0 AND CUIT_Valido IS NULL THEN 1 ELSE 0  END) AS TotalCuitsInvalidos
,SUM(CASE WHEN d.SkipIT =0 AND d.MatchManual = 1 THEN 1 ELSE 0  END) AS TotalCuitsManual
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado IN  (1,2)  theN 'Iniciando'
WHEN Estado IN  (3)  theN 'Procesando'
WHEN Estado IN  (4)  theN 'Terminado'
WHEN Estado IN  (5) THEN 'Aplicado' 
ELSE 'Avisar a sebastian'
END AS Estado,
Estado as Status ,
SUM(CASE WHEN d.SkipIT = 0 THEN ISNULL(d.Credito,0) ELSE 0 END) as Importe

FROM dbo.ExtractosBancarios a
INNER JOIN ExtractosBancariosDatos d on d.ExtractoID = a.ExtractoID
INNER JOIN Bancos b on b.BancoID = a.BancoID
WHERE (@ExtractoID=0 OR a.ExtractoID=@ExtractoID)
AND Estado IN (2,3,4,5)
GROUP BY a.ExtractoID
,b.Nombre
,a.NombreArchivo
,a.TotalFilas
,a.TotalCuitsValidos 
,a.TotalCuitsArchivo
,a.TotalCuitsMatched  
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado IN  (1,2)  theN 'Iniciando'
WHEN Estado IN  (3)  theN 'Procesando'
WHEN Estado IN  (4)  theN 'Terminado'
WHEN Estado IN  (5) THEN 'Aplicado' 
ELSE 'Avisar a sebastian'
END,
Estado 
order by a.ExtractoID desc

--GO

--EXEC xp_cmdshell 'C:\Reclamos\Python\getExtractosCuitOnline.py'

--select * from ExtractosBancariosDatos where MatchPython=0 and SkipIT=0

--select TOP 1  a.ExtractoID,b.RowID,b.CUIT_Archivo from ExtractosBancarios a INNER JOIN ExtractosBancariosDatos b on b.ExtractoID=a.ExtractoID WHERE a.ExtractoID = 1 AND a.Estado IN (2,3) and b.SkipIT=0 and b.MatchCUITs=0 and b.CUIT_Valido is null
GO
