USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_EnProceso]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Ordenes_EnProceso]  
@FileID INT = 0
AS
SET NOCOUNT ON 

SELECT a.FileID
,a.NombreArchivo 
,a.TotalClientes
,a.TotalClientesNoMatched
,a.TotalClientesMatched
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado = 1 theN 'En Proceso'
WHEN Estado = 2 THEN 'Procesado'
WHEN Estado = 3 THEN 'Procesando'
ELSE 'Procesado' END AS Estado,
Estado as Status,
SUM(CASE WHEN d.SkipIT=0 AND d.ClienteID IS NULL THEN 1 ELSE 0 END  ) AS ClientesMissing,
SUM(CASE WHEN d.SkipIT=0 AND d.VendedorID IS NULL THEN 1 ELSE 0 END ) AS VendedoresMissing

FROM dbo.Ordenes a
INNER JOIN OrdenesDatos d on d.FileID = a.FileID
WHERE (@FileID=0 OR a.FileID=@FileID)
AND Estado IN (0,1)
GROUP BY a.FileID
,a.NombreArchivo 
,a.TotalClientes 
,a.TotalClientesNoMatched
,a.TotalClientesMatched   
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado = 1 theN 'En Proceso'
WHEN Estado = 2 THEN 'Procesado'
WHEN Estado = 3 THEN 'Procesando'
ELSE 'Procesado' END ,
Estado 
order by a.FileID

--GO

--EXEC xp_cmdshell 'C:\Reclamos\Python\getOrdenesCuitOnline.py'

--select * from OrdenesDatos where MatchPython=0 and SkipIT=0

--select TOP 1  a.ExtractoID,b.RowID,b.CUIT_Archivo from Ordenes a INNER JOIN OrdenesDatos b on b.ExtractoID=a.ExtractoID WHERE a.ExtractoID = 1 AND a.Estado IN (2,3) and b.SkipIT=0 and b.MatchCUITs=0 and b.CUIT_Valido is null
GO
