USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Campania_Pendientes_Enviar_Upd]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Campania_Pendientes_Enviar_Upd]
@CampaniaID INT
AS

UPDATE Campanias SET Estado=2
WHERE CampaniaID=@CampaniaID
GO
