USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_upd]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE PROCEDURE [dbo].[usp_Ordenes_upd]    
@FileID INT = 0
AS
SET NOCOUNT ON

BEGIN
 
	-- Refrescar HDR
	UPDAte Ordenes SET
		Estado = 
			CASE 
				WHEN Estado>1 AND UPD.TotalClientes = TotalFacturas THEN 4
				--WHEN Estado>1 AND TotalItems <> TotalTelefonos or TotalItems <> TotalFacturas THEN 3
			ELSE
				Estado
			END

	FROM Ordenes UPD
	INNER JOIN ( 			
		SELECT FileID, COUNT(*) TotalItems , SUM(CASE WHEN d.FacturaArchivo is NOT null THEN 1 ELSE 0 END) TotalFacturas 
		FROM OrdenesDatos D  
		WHERE (@FileID =0  or D.FileID= @FileID)
		GROUP BY FileID
		) A ON A.FileID = UPD.FileID
	WHERE (@FileID= 0 or UPD.FileID=@FileID)
	AND UPD.Estado<=4


END


GO
