USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transferencias_save]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[usp_Transferencias_save]
@RowID			INT,
@depositoecheq	VARCHAR(100),
@NroRecibo		VARCHAR(50),
@NroCliente		VARCHAR(50),
@OK				VARCHAR(10),
@UpdatedBY		VARCHAR(50)
AS

SET NOCOUNT ON 

BEGIN TRY
	UPDATE transferencias SET
		FechaDepositoECheck	= CASE WHEN ISNULL(FechaDepositoECheck,'')	= @depositoecheq	THEN FechaDepositoECheck	ELSE @depositoecheq END ,
		NroRecibo			= CASE WHEN ISNULL(NroRecibo	,'')		= @NroRecibo		THEN NroRecibo				ELSE @NroRecibo		END ,
		NroCliente			= CASE WHEN ISNULL(NroCliente	,'')		= @NroCliente		THEN NroCliente				ELSE @NroCliente	END ,
		OK					= UPPER(CASE WHEN ISNULL(OK			,'')	= @OK				THEN Ok						ELSE @OK			END) ,
		UpdatedBY			= @UpdatedBY,
		LastUpdated			= getdate()
	WHERE RowID=@RowID 

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH




GO
