USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_send_emails]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Ordenes_send_emails]
AS


DECLARE @RowIDMin INT, @RowIDMax INT, @RowID INT
DECLARE @OrdenID INT, @email VARCHAR(100), @FileID INT

DECLARE @emailrecipients varchar(255), @vQuery nvarchar(4000),@vQuerybody nvarchar(4000),@emailcopy_recipients varchar(1024),
		@vBody nvarchar(MAX), @FullName varchar(100), @EmailAddress varchar(100), @vSubject nvarchar(100), @FromEmailAddress varchar(255), @CurrentTime datetime,
		@bcc_recipients varchar(512), @SessionDate int,@css NVARCHAR(4000), @ArchivoAdjunto VARCHAR(255)
		  
SELECT RowID = ROW_NUMBER() OVER ( ORDER BY d.OrdenID),d.OrdenID, a.FileID, d.Email, d.FacturaArchivo
INTO #emails
FROM Ordenes a
INNER JOIN OrdenesDatos d on d.FileID=a.FileID
WHERE a.Estado=6
and d.SkipIT=0


SELECT @RowIDMin = MIN(RowID), @RowIDMax = MAX(RowID) FROM #emails
SET @RowID = @RowIDMin

WHILE @RowID<= @RowIDMax
BEGIN 
	SELECT @OrdenID = OrdenID,@FileID = FileID,@Email = Email,@ArchivoAdjunto=FacturaArchivo 
	FROM #emails 
	WHERE RowID = @RowID
	 
	 
	SELECT @vBody = '',@vSubject = N'Factura de su compra – Cajas Navideñas Arcor 🎁';

	SET @emailrecipients = @email -- el que genera el reclamo
	SET @emailcopy_recipients = '' -- el que genera el reclamo
	SET @bcc_recipients = 'elvio@illanes.com.ar' -- este es el que va a ver administracion

	 

	SET @vBody = N'  
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Factura - Grupo Illanes</title>
</head>
<body style="margin:0;padding:0;background-color:#f4f6f8;font-family:Arial, Helvetica, sans-serif;color:#333;">
  <center style="width:100%;background-color:#f4f6f8;padding:24px 0;">
    <table role="presentation" width="600" cellpadding="0" cellspacing="0" style="max-width:600px;margin:0 auto;background:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 6px rgba(0,0,0,0.06);">
      <!-- Header -->
      <tr>
        <td style="background:#003366;padding:18px 20px;color:#ffffff;text-align:left;">
          <span style="font-size:18px;font-weight:700;">Grupo Illanes</span>
          <div style="font-size:12px;margin-top:4px;opacity:0.95;">Distribuidor oficial Arcor</div>
        </td>
      </tr>

      <!-- Body -->
      <tr>
        <td style="padding:22px 24px;">
          <p style="margin:0 0 14px 0;font-size:15px;">Estimado/a cliente,</p>

          <p style="margin:0 0 14px 0;font-size:15px;line-height:1.5;">
            ¡Gracias por confiar en nosotros un año más! 🎁
          </p>

          <p style="margin:0 0 14px 0;font-size:15px;line-height:1.5;">
            Adjunto encontrará la factura correspondiente a su compra de <strong>Cajas Navideñas Arcor</strong>.
          </p>

          <p style="margin:0 0 12px 0;font-size:15px;line-height:1.5;">
            👉 Ante cualquier duda sobre su pedido o si necesita asistencia, por favor escríbanos a este mismo correo.
          </p>

          <p style="margin:0 0 20px 0;font-size:15px;line-height:1.5;">
            👉 También puede conocer más de nuestros productos en
            <a href="https://www.grupoillanes.com.ar" target="_blank" style="color:#0066cc;text-decoration:none;">www.grupoillanes.com.ar</a>.
          </p>

          <blockquote style="margin:0 0 20px 0;padding:12px 16px;border-left:4px solid #e6e9ef;background:#fbfcfe;border-radius:4px;font-size:15px;line-height:1.5;">
            Le deseamos unas felices fiestas, para que las disfrute con lo mejor de Arcor. 🥂✨
          </blockquote>

          <p style="margin:18px 0 0 0;font-size:15px;">Atentamente,<br>
            <strong>Grupo Illanes</strong><br>
            Distribuidor oficial Arcor
          </p>
        </td>
      </tr>

      <!-- Footer -->
      <tr>
        <td style="background:#fafbfc;padding:14px 20px;text-align:center;font-size:12px;color:#7a8896;">
          <div style="margin-bottom:6px;">¿Necesita ayuda? Responda este correo y le atenderemos.</div>
          <div>© Grupo Illanes</div>
        </td>
      </tr>
    </table>

    <!-- Small note for visibility on mobile -->
    <div style="max-width:600px;margin:12px auto;text-align:center;color:#9aa5b1;font-size:12px;">
      Si no ve el adjunto, por favor revise la carpeta de spam o responda este correo solicitándolo nuevamente.
    </div>
  </center>
</body>
</html> 
	'

		EXEC msdb.dbo.sp_send_dbmail 
			@profile_name =  'CAJAS_NAVIDENAS',
			@from_address = 'cajasnavidenas@illanes.com.ar',
			@reply_to = '',
			@recipients =  @emailrecipients,
			@copy_recipients = @emailcopy_recipients ,
			@blind_copy_recipients = @bcc_recipients,
			@subject = @vSubject,
			@body = @vBody,
			@body_format = 'HTML', 
			@sensitivity = 'NORMAL',
			@file_attachments = @ArchivoAdjunto

SET @RowID = @RowID+ 1
END

if (select count(*) from #emails) > 0
BEGIN

	UPDATE Ordenes SET Estado=7 
	WHERE FileID IN (SELECT DISTINCT t.FileID FROM #emails t)


END


GO
