USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Send_Email_Status_upd]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Ordenes_Send_Email_Status_upd]
AS
SET NOCOUNT ON

UPDATE Ordenes SET Estado=8 WHERE Estado=7
GO
