USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_EnProceso]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_Extractos_EnProceso]  
@ExtractoID INT = 0
AS
SET NOCOUNT ON 

SELECT a.ExtractoID
,b.Nombre AS BancoNombre
,a.NombreArchivo
,a.TotalFilas 
,a.TotalCuitsValidos 
,a.TotalCuitsArchivo
,a.TotalCuitsMatched
,a.TotalCuitsNoMatched
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado = 1 theN 'En Proceso'
WHEN Estado = 2 THEN 'Procesado'
WHEN Estado = 3 THEN 'Procesando'
ELSE 'Procesado' END AS Estado,
Estado as Status,
SUM(CASE WHEN d.SkipIT = 0 THEN ISNULL(d.Credito,0) ELSE 0 END) as Importe

FROM dbo.ExtractosBancarios a
INNER JOIN ExtractosBancariosDatos d on d.ExtractoID = a.ExtractoID
INNER JOIN Bancos b on b.BancoID = a.BancoID
WHERE (@ExtractoID=0 OR a.ExtractoID=@ExtractoID)
AND Estado IN (0,1)
GROUP BY a.ExtractoID
,b.Nombre
,a.NombreArchivo
,a.TotalFilas
,a.TotalCuitsValidos 
,a.TotalCuitsArchivo
,a.TotalCuitsMatched 
,a.TotalCuitsNoMatched  
,CASE WHEN Estado IN (0) theN 'Pendiente'
WHEN Estado = 1 theN 'En Proceso'
WHEN Estado = 2 THEN 'Procesado'
WHEN Estado = 3 THEN 'Procesando'
ELSE 'Procesado' END ,
Estado 
order by a.ExtractoID

--GO

--EXEC xp_cmdshell 'C:\Reclamos\Python\getExtractosCuitOnline.py'

--select * from ExtractosBancariosDatos where MatchPython=0 and SkipIT=0

--select TOP 1  a.ExtractoID,b.RowID,b.CUIT_Archivo from ExtractosBancarios a INNER JOIN ExtractosBancariosDatos b on b.ExtractoID=a.ExtractoID WHERE a.ExtractoID = 1 AND a.Estado IN (2,3) and b.SkipIT=0 and b.MatchCUITs=0 and b.CUIT_Valido is null
GO
