USE [Administracion]
GO
/****** Object:  Table [dbo].[ExtractosBancariosDatos]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtractosBancariosDatos](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[ExtractoID] [int] NOT NULL,
	[Fecha] [date] NULL,
	[TipoOperacion] [varchar](50) NULL,
	[Comprobante] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
	[Debito] [numeric](20, 4) NULL,
	[Credito] [numeric](20, 4) NULL,
	[DescripcionCompleta] [varchar](500) NULL,
	[MoveDesc2] [varchar](100) NULL,
	[MoveDesc3] [varchar](100) NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [CUIT_Archivo] [varchar](13) NULL
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [CUIT_Valido] [varchar](13) NULL
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [Nombre_Cuit_Valido] [varchar](255) NULL
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [RazonSocial_CUIT_Valido] [varchar](255) NULL
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [MatchCUITs] [tinyint] NULL
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [MatchPython] [tinyint] NULL
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [SkipIT] [tinyint] NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [NombreCaja] [varchar](100) NULL
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD [MatchManual] [tinyint] NULL
 CONSTRAINT [PK_ExtractosBancariosDatos] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC,
	[ExtractoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ExtractosBancariosDatos] ADD  DEFAULT ((0)) FOR [MatchManual]
GO
