USE [Administracion]
GO
/****** Object:  Table [dbo].[ExtractosBancarios]    Script Date: 30/04/2026 12:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExtractosBancarios](
	[ExtractoID] [int] IDENTITY(1,1) NOT NULL,
	[BancoID] [int] NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[TotalFilas] [int] NULL,
	[Estado] [int] NULL,
	[DateAdded] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
	[TotalCuitsValidos] [int] NULL,
	[TotalCuitsArchivo] [int] NULL,
	[TotalCuitsNoMatched] [int] NULL,
	[TotalCuitsMatched] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExtractoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ExtractosBancarios] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[ExtractosBancarios] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[ExtractosBancarios] ADD  DEFAULT ((0)) FOR [TotalCuitsValidos]
GO
ALTER TABLE [dbo].[ExtractosBancarios] ADD  DEFAULT ((0)) FOR [TotalCuitsArchivo]
GO
ALTER TABLE [dbo].[ExtractosBancarios] ADD  DEFAULT ((0)) FOR [TotalCuitsNoMatched]
GO
ALTER TABLE [dbo].[ExtractosBancarios] ADD  DEFAULT ((0)) FOR [TotalCuitsMatched]
GO
