USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Extractos_enviar]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- preparando envio

CREATE PROCEDURE [dbo].[usp_Extractos_enviar]
@ExtractoID INT = 0
AS
SET NOCOUNT ON 
UPDATE ExtractosBancarios SET Estado=2
WHERE  ExtractoID =@ExtractoID
 



GO
