USE [Administracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Ordenes_Pendientes_View]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Ordenes_Pendientes_View]
@RowID INT
AS

SET NOCOUNT ON 
  
SELECT c.RowID,c.Fecha,c.cliente,c.Monto,c.ClienteID,c.NroRecibo
FROM OrdenesCobranza c
INNER JOIN dbo.PeriodosNew p on convert(varchar(10),c.fecha,112) between p.inicio and p.fin
WHERE ISNULL(c.OK,'') = ''
AND p.RowID = @RowID
ORDER BY C.Fecha

GO
