USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Facturas_Para_Procesar]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 CREATE PROCEDURE [python].[usp_Facturas_Para_Procesar] 
 AS
 SET NOCOUNT ON 

 SELECT FileID, OrdenID, FacturaArchivo AS Archivo
 FROM OrdenesDatos D 
 WHERE 1=1
 AND ISNULL(SkipIT,0) = 0
 AND Deleted=0
 AND FacturaNro IS NOT NULL
 AND FacturaValidada IS NULL
	 

GO
