USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Campania_upd]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Campania_upd] 
@CampaniaID INT
AS 
SET NOCOUNT ON 

IF (SELECT COUNT(*) FROM Campanias_Destinatarios WHERE CampaniaID=@CampaniaID) = (SELECT COUNT(*) FROM Campanias_Destinatarios WHERE CampaniaID=@CampaniaID AND FechaEnvio IS NOT NULL)
BEGIN
	UPDATE Campanias SET
		 Estado=3
	WHERE CampaniaID=@CampaniaID 
END

GO
