USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Ordenes_Look_For_Files]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Ordenes_Look_For_Files]    
AS
SET NOCOUNT ON 


SELECT d.RowID,d.FacturaArchivo
FROM OrdenesCobranza d   
WHERE (d.FacturaArchivoLocal IS NULL)  
 


GO
