USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Ordenes_UpdatePDF]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_Ordenes_UpdatePDF]    
@FileID INT,
@OrdenID INT,
@Archivo VARCHAR(255)
AS
SET NOCOUNT ON 

UPDATE OrdenesDatos SET
	FacturaArchivo = @Archivo
WHERE FileID = @FileID
AND OrdenID= @OrdenID


IF @@ROWCOUNT>0
BEGIN
	UPDAte Ordenes SET
		Estado = 3
	WHERE FileID=@FileID
	and Estado in (1,2)
END 
  

EXEC [dbo].[usp_Ordenes_upd] @FileID



GO
