USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Campania_ReadyToSend]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [python].[usp_Campania_ReadyToSend] 1

CREATE PROCEDURE [python].[usp_Campania_ReadyToSend] 
@Canal VARCHAR(20) = 'Email'
AS
SET NOCOUNT ON

IF OBJECT_ID('tempdb..#tmp') IS NOT NULL
	DROP TABLE #tmp

SELECT c.CampaniaID,c.AsuntoEmail,c.CuerpoEmail, C.CantidadDiaria, C.TotalDestinatarios,C.ArchivoRuta AS ArchivoAdjunto,C.NombreCampania,C.Canal,
Pending = (SELECT COUNT(*) FROM Campanias_Destinatarios D WHERE D.CampaniaID=C.CampaniaID AND FechaEnvio IS NULL),
EnviadosTotal = (SELECT COUNT(*) FROM Campanias_Destinatarios D WHERE D.CampaniaID=C.CampaniaID AND FechaEnvio IS NOT NULL),
EnviadosTotalDay = (SELECT COUNT(*) FROM Campanias_Destinatarios D WHERE D.CampaniaID=C.CampaniaID AND FechaEnvio IS NOT NULL AND DATEDIFF(dd,D.FechaEnvio,getdate())=0 )
INTO #tmp
FROM Campanias C 
WHERE 1 = 1
AND Estado=2
AND C.Canal = @Canal
AND C.Enviado = 0 

SELECT *  , 
	CASE 
		WHEN EnviadosTotalDay<= CantidadDiaria AND Pending>= 20 THEN 20 /* pongo 20 para enviar 20 por hora */   
		WHEN EnviadosTotalDay<= CantidadDiaria AND Pending<  20 THEN CantidadDiaria /* pongo 20 para enviar 20 por hora */   
		WHEN EnviadosTotalDay<= Pending THEN Pending  
	ELSE Pending END AS CantidadAEnviar
FROM #tmp T
WHERE T.CantidadDiaria > T.EnviadosTotalDay

--IF @manual = 0
--BEGIN 
--	--para whatsapp
--	EXEC python.usp_Campania_WhatsAPP_ReadyToSend 
--END



GO
