USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Campania_WhatsAPP_ReadyToSend]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Campania_WhatsAPP_ReadyToSend] 
AS

SET NOCOUNT ON



-- Declaración de variables para el cursor
DECLARE 
    @CampaniaID INT,
    @AsuntoEmail NVARCHAR(255),
    @CuerpoEmail NVARCHAR(MAX),
    @CantidadDiaria INT,
    @TotalDestinatarios INT,
    @ArchivoAdjunto NVARCHAR(500),
    @Pending INT,
    @EnviadosTotal INT,
    @EnviadosTotalDay INT,
	@CantidadAEnviar INT,
	@templateNombre NVARCHAR(400),
	@mensajeWhatsapp NVARCHAR(2000)
-- Declaración del cursor
DECLARE cursorCampanias CURSOR FOR
SELECT 
	c.TemplateWhatsApp,
    c.CampaniaID,
    c.AsuntoEmail,
    c.CuerpoEmail,
    c.CantidadDiaria,
    c.TotalDestinatarios,
    c.ArchivoRuta AS ArchivoAdjunto,
    Pending = (SELECT COUNT(*) 
               FROM Campanias_Destinatarios D 
               WHERE D.CampaniaID = C.CampaniaID AND FechaEnvio IS NULL),
    EnviadosTotal = (SELECT COUNT(*) 
                     FROM Campanias_Destinatarios D 
                     WHERE D.CampaniaID = C.CampaniaID AND FechaEnvio IS NOT NULL),
    EnviadosTotalDay = (SELECT COUNT(*) 
                        FROM Campanias_Destinatarios D 
                        WHERE D.CampaniaID = C.CampaniaID 
                          AND FechaEnvio IS NOT NULL 
                          AND DATEDIFF(dd, D.FechaEnvio, GETDATE()) = 0),
	c.MensajeWhatsApp
FROM Campanias C
WHERE 1 = 1
AND Estado=2
AND C.Canal = 'WhatsAPP'
AND C.Enviado = 0 


-- Abrir cursor
OPEN cursorCampanias

-- Obtener la primera fila
FETCH NEXT FROM cursorCampanias INTO 
	@templateNombre,
    @CampaniaID, 
    @AsuntoEmail, 
    @CuerpoEmail, 
    @CantidadDiaria, 
    @TotalDestinatarios, 
    @ArchivoAdjunto, 
    @Pending, 
    @EnviadosTotal, 
    @EnviadosTotalDay,
	@mensajeWhatsApp 
	 
-- Loop a través de todas las filas
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @CantidadAEnviar =
	CASE 
		WHEN @EnviadosTotalDay<= @CantidadDiaria AND @Pending>= 20 THEN 20 /* pongo 20 para enviar 20 por hora */   
		WHEN @EnviadosTotalDay<= @CantidadDiaria AND @Pending<  20 THEN @CantidadDiaria /* pongo 20 para enviar 20 por hora */   
		WHEN @EnviadosTotalDay<= @Pending THEN @Pending  
	ELSE @Pending END 

    -- Aquí va la lógica que quieras aplicar para cada campaña
    -- Por ejemplo, procesar envío de WhatsApp

	
	IF OBJECT_ID('tempdb..#Telefono') IS NOT NULL
		DROP TABLE #Telefono

	CREATE TABLE  #Telefono(Telefono varchar(50), DestinatarioID INT)

	INSERT INTO #Telefono (Telefono,DestinatarioID)
	SELECT TOP (@CantidadAEnviar) CONVERT(varchar(50),CONVERT(BIGINT,Destinatario)), DestinatarioID
	FROM [dbo].Campanias_Destinatarios
	WHERE CampaniaID=@CampaniaID 
	AND Estado=0 

	IF @templateNombre = 'navidad2025'
	BEGIN 
  
		INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono,CampaniaID) 
		select N'{
		   "messaging_product":"whatsapp",
		   "to":"'+CONVERT(NVARCHAR(50),Telefono)+'",
		   "type":"template",
		   "template":{
			  "name":"navidad2025",
			  "language":{
				 "code":"es_AR"
			  },
				"components": [
					{
						"type": "header",
						"parameters": [
							{
								"type": "document",
								"document": {
									"link": "https://drive.google.com/uc?export=download&id=1EzWZ7254qJxYWE8GnvF2PNz-8oV1lA43",
									"filename": "GRUPO_ILLANES_NAVIDAD_2025.PDF"
								}
							}
						]
					},
					{
						"type": "body",
						"parameters": [
							{
								"type": "text",
								"text": "2996273524"
							} 
						]
					}
				]
			}
		}
		','navidad2025', Telefono, @CampaniaID
		FROM #Telefono
	END
	IF @templateNombre = 'navidadrecordatorio1510'
	BEGIN 

		INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono,CampaniaID) 
			select N'{
			   "messaging_product":"whatsapp",
			   "to":"'+CONVERT(NVARCHAR(50),Telefono)+'",
			   "type":"template",
			   "template":{
				  "name":"navidadrecordatorio1510",
				  "language":{
					 "code":"en_US"
				  },
					"components": [
						{
							"type": "header",
							"parameters": [
								{
									"type": "document",
									"document": {
										"link": "https://illanes-encuesta.ddns.net/navidad/GRUPO_ILLANES_CATALOGO.PDF",
										"filename": "GRUPO_ILLANES_NAVIDAD_2025.PDF"
									}
								}
							]
						},
						{
							"type": "body",
							"parameters": [
								{
									"type": "text",
									"text": "2996273524"
								} 
							]
						}
					]
				}
			}
			','navidadrecordatorio1510', Telefono, @CampaniaID
			FROM #Telefono


	END 

	IF @templateNombre = 'purchase_receipt_2' --navidad recordatorio
		BEGIN 

			INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono,CampaniaID) 
				select N'{
				   "messaging_product":"whatsapp",
				   "to":"'+CONVERT(NVARCHAR(50),Telefono)+'",
				   "type":"template",
				   "template":{
					  "name":"purchase_receipt_2",
					  "language":{
						 "code":"en_US"
					  },
						"components": [
							{
								"type": "header",
								"parameters": [
									{
										"type": "document",
										"document": {
											"link": "https://illanes-encuesta.ddns.net/navidad/GRUPOILLANESCATALOGONAVIDAD2025.PDF",
											"filename": "GRUPO_ILLANES_NAVIDAD_2025.PDF"
										}
									}
								]
							} 
						]
					}
				}
				','purchase_receipt_2', Telefono, @CampaniaID
				FROM #Telefono


		END 

	IF @templateNombre = 'ultimodia2025' --navidad ultimo dia
		BEGIN 

			INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono,CampaniaID) 
				select N'{
				   "messaging_product":"whatsapp",
				   "to":"'+CONVERT(NVARCHAR(50),Telefono)+'",
				   "type":"template",
				   "template":{
					  "name":"ultimodia2025",
					  "language":{
						 "code":"en_US"
					  },
						"components": [
							{
								"type": "header",
								"parameters": [
									{
										"type": "document",
										"document": {
											"link": "https://illanes-encuesta.ddns.net/navidad/GRUPOILLANESCATALOGONAVIDAD2025.PDF",
											"filename": "GRUPO_ILLANES_NAVIDAD_2025.PDF"
										}
									}
								]
							} 
						]
					}
				}
				','ultimodia2025', Telefono, @CampaniaID
				FROM #Telefono


		END 

	IF @templateNombre = 'enc_feriados' --navidad ultimo dia 
	BEGIN 
		INSERT INTO WhatsAppAPI.TMP.WhatsAPP_API_OnDemand_Envios (PayLoad,NombreTemplate,Telefono,CampaniaID) 
			select N'{
			   "messaging_product":"whatsapp",
			   "to":"'+CONVERT(NVARCHAR(50),Telefono)+'",
			   "type":"template",
			   "template":{
				  "name":"'+@templateNombre+'",
				  "language":{
					 "code":"es_AR"
				  },
					"components": [
						{
							"type": "body",
							"parameters": [
								{
									"type": "text",
									"text": "'+@mensajeWhatsapp+'"
								} 
							]
						}
					]
				}
			}
			',@templateNombre, Telefono, @CampaniaID
			FROM #Telefono
			 
		INSERT INTO WhatsAppAPI.sofia.WhatsAPP_API_EncuestaFeriado
		(
			Numero,
			Feriado,
			EstadoFlujo,
			FechaAlta
		)
		SELECT telefono,@mensajeWhatsapp,'encuesta_feriado_inicio',getdate() 
		FROM #Telefono



	END 

	UPDATE UPD SET
		Estado=1
	FROM  [dbo].Campanias_Destinatarios UPD
	INNER JOIN #Telefono T ON T.DestinatarioID=UPD.DestinatarioID
	WHERE upd.CampaniaID=@CampaniaID  

	IF OBJECT_ID('tempdb..#Telefono') IS NOT NULL
		DROP TABLE #Telefono


    -- Siguiente fila
    FETCH NEXT FROM cursorCampanias INTO 
		@templateNombre,
        @CampaniaID, 
        @AsuntoEmail, 
        @CuerpoEmail, 
        @CantidadDiaria, 
        @TotalDestinatarios, 
        @ArchivoAdjunto, 
        @Pending, 
        @EnviadosTotal, 
        @EnviadosTotalDay,
		@mensajeWhatsapp
END

-- Cerrar y liberar cursor
CLOSE cursorCampanias
DEALLOCATE cursorCampanias


GO
