USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Facturas_Para_Procesar_upd]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Facturas_Para_Procesar_upd]
    @FileID INT,
	@OrdenID INT,
    @Estado INT,
    @MensajeError NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

	-- 0 --> Cantidades no coinciden
	-- 1 --> Canitdades coinciden
	DECLARE @NewEstado INT = 0, @FacturaNro INT = 999999
	SELECT @FacturaNro = D.FacturaNro
	FROM OrdenesDatos D
	WHERE 1=1
		AND D.FileID=@FileID
		AND D.OrdenID= @OrdenID


	IF @Estado <> -99
	BEGIN
		-- 
		IF EXISTS(
		SELECT NULL
		FROM OrdenesDatosItems T
		INNER JOIN FacturaCabecera FC ON FC.FacturaID=@FacturaNro
		LEFT JOIN FacturaDetalle FD ON FD.CabeceraID=FC.Id AND T.Producto LIKE '%' + FD.Articulo + '%' 
		WHERE 1=1
		AND T.FileID=@FileID
		AND T.OrdenID= @OrdenID
		AND ISNULL(T.SkipIT,0) = 0
		AND (FD.Articulo IS NULL OR T.Cantidad<>FD.Cantidad)

		)
		BEGIN
			UPDATE OrdenesDatos SET FacturaValidada = 0 
			WHERE FileID= @FileID
			AND OrdenID=@OrdenID

		END
		ELSE
		BEGIN
			UPDATE OrdenesDatos SET FacturaValidada = 1
				WHERE FileID= @FileID
				AND OrdenID=@OrdenID

		END


	END
	 
END


GO
