USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Campania_Destinatarios_toSend]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Campania_Destinatarios_toSend] 
@CampaniaID INT,
@CantidadAEnviar INT
AS

SELECT TOP (@CantidadAEnviar)  *
FROM Campanias_Destinatarios
WHERE CampaniaID = @CampaniaID
AND FechaEnvio IS NULL

GO
