USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Campania_Destinatarios_upd]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Campania_Destinatarios_upd] 
@DestinatarioID INT=0,
@Estado INT=-1
AS

UPDATE Campanias_Destinatarios SET 
	Estado= @Estado, FechaEnvio = GETDATE()
WHERE DestinatarioID= @DestinatarioID
GO
