USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Ordenes_Look_For_Files_Upd]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_Ordenes_Look_For_Files_Upd]    
@RowID INT,
@Path VARCHAR(255)
AS
SET NOCOUNT ON 

UPDATE OrdenesCobranza SET
	FacturaArchivoLocal = @Path
WHERE RowID = @RowID

 


GO
