USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Ordenes_LookForPDF]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Ordenes_LookForPDF]    
AS
SET NOCOUNT ON 


SELECT d.FileID,d.OrdenID,d.FacturaNro AS FacturaID,d.ClienteID,'\\192.168.200.9\America\PDF\' AS Ruta,d.FacturaArchivo
FROM OrdenesDatos d  
INNER JOIN Ordenes a ON a.FileID=d.FileID
WHERE (d.FacturaArchivo IS NULL) 
AND d.FacturaNro IS NOT NULL
AND D.SkipIT=0
--AND a.Estado BETWEEN 2 and 4 
--AND ( d.FechaAsignacionFactura IS NOT NULL AND DATEDIFF(DD,d.FechaAsignacionFactura,GETDATE())=0 )
 

--and isnull(d.Excluido,0)=0 
--AND datediff(dd,Dateadded,getdate())<4
 


GO
