USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Factura_Cabecera_Ins]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [python].[usp_Factura_Cabecera_Ins] (
    @Factura VARCHAR(20),
    @Subtotal FLOAT,
    @IVA FLOAT,
    @PercepIVA FLOAT,
    @PercepIIBB FLOAT,
    @Total FLOAT,
	@IdFactura INT OUTPUT 
)
AS
BEGIN
	SET NOCOUNT ON 
    INSERT INTO FacturaCabecera(Factura, Subtotal, IVA, PercepIVA, PercepIIBB, Total)
    VALUES (@Factura, @Subtotal, @IVA, @PercepIVA, @PercepIIBB, @Total)
	SET @IdFactura = SCOPE_IDENTITY(); 
 
END

GO
