USE [Administracion]
GO
/****** Object:  StoredProcedure [python].[usp_Factura_Item_ins]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Factura_Item_ins](
	@cabeceraID INT,
    @Factura VARCHAR(20),
    @Articulo VARCHAR(20),
    @Cantidad INT,
    @Descripcion NVARCHAR(255),
    @Dto FLOAT,
    @PrecioUnitario FLOAT,
    @PrecioSugerido FLOAT,
    @Importe FLOAT
)
AS
BEGIN
    INSERT INTO FacturaDetalle(CabeceraID,Factura, Articulo, Cantidad, Descripcion, Dto, PrecioUnitario, PrecioSugerido, Importe)
    VALUES (@CabeceraID,@Factura, @Articulo, @Cantidad, @Descripcion, @Dto, @PrecioUnitario, @PrecioSugerido, @Importe)
END

-- Para totales


GO
