USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_PorFecha_Tipo]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Ordenes_Ventas_PorFecha_Tipo]
    @FechaInicio DATE = NULL,
    @FechaFin DATE = NULL,
	@Estados VARCHAR(100) = '-1'
AS
BEGIN
  
	SELECT a.FechaEntrega, count(DISTINCT d.ClienteID) TotalClientes,
		CASE 
			WHEN p.Producto LIKE '%caja%oro%' THEN 'Oro'
			WHEN p.Producto LIKE '%caja%Plata%' THEN 'Plata'
			WHEN p.Producto LIKE '%caja%Bronce%' THEN 'Bronce'
			WHEN p.Producto LIKE '%caja%Platino%' THEN 'Platino'
			WHEN p.Producto LIKE '%caja%Especi%' THEN 'Especial'
			WHEN p.Producto LIKE '%caja%Estrella%' THEN 'Estrella'
			ELSE 'ups' END TipoCaja, 
			Sum(p.Cantidad) TotalCajas,
			CONVERT(VARCHAR(4000),(SELECT STUFF(
				(SELECT DISTINCT  ', ' + ISNULL(ObservacionADM,'')
				 FROM OrdenesCobranza C2
				INNER JOIN OrdenesDatos D2 ON D2.FileID=c2.FileID AND D2.OrdenID=c2.OrdenID 
				INNER JOIN OrdenesDatosItems P2 ON P2.FileID=C2.FileID AND P2.OrdenID=C2.OrdenID
				 where  C2.FechaEntrega=a.FechaEntrega and p2.Producto=p.Producto and ISNULL(P2.SkipIT,0)=0 and ISNULL(D2.SkipIT,0)=0
				AND c2.FechaEntrega IS NOT NULL
				AND c2.OK = 'OK'
				 FOR XML PATH('')), 1, 1, '') AS ConcatenatedString) )
	 
			AS Observaciones
			, CONVERT(VARCHAR(4000),(SELECT STUFF(
				(SELECT   ', ' + CONVERT(VARCHAR(10),D2.ClienteID )+'-' + D2.Cliente
				 FROM OrdenesCobranza C2
				INNER JOIN OrdenesDatos D2 ON D2.FileID=c2.FileID AND D2.OrdenID=c2.OrdenID 
				INNER JOIN OrdenesDatosItems P2 ON P2.FileID=C2.FileID AND P2.OrdenID=C2.OrdenID
				where C2.FechaEntrega=a.FechaEntrega and p2.Producto=p.Producto and ISNULL(P2.SkipIT,0)=0 and ISNULL(D2.SkipIT,0)=0
				AND c2.FechaEntrega IS NOT NULL
				AND c2.OK = 'OK' 
				 FOR XML PATH('')), 1, 1, '') AS ConcatenatedString)
	  )
			AS Clientes 
	FROM OrdenesCobranza a
	INNER JOIN OrdenesDatos D ON D.FileID=a.FileID AND D.OrdenID=a.OrdenID 
	INNER JOIN OrdenesDatosItems P ON P.FileID=D.FileID AND P.OrdenID=D.OrdenID
	WHERE (@FechaInicio IS NULL OR FechaEntrega >= @FechaInicio)
    AND (@FechaFin IS NULL OR FechaEntrega <= @FechaFin)
	 
	AND ISNULL(d.SkipIT,0) = 0
	AND ISNULL(P.SkipIT,0) = 0
	AND a.FechaEntrega IS NOT NULL
	AND a.OK = 'OK'
  

    GROUP BY FechaEntrega, 		CASE 
			WHEN p.Producto LIKE '%caja%oro%' THEN 'Oro'
			WHEN p.Producto LIKE '%caja%Plata%' THEN 'Plata'
			WHEN p.Producto LIKE '%caja%Bronce%' THEN 'Bronce'
			WHEN p.Producto LIKE '%caja%Platino%' THEN 'Platino'
			WHEN p.Producto LIKE '%caja%Especi%' THEN 'Especial'
			WHEN p.Producto LIKE '%caja%Estrella%' THEN 'Estrella'
			ELSE 'ups' END, P.Producto
    ORDER BY FechaEntrega
END

 



GO
