USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_Eliminar]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [report].[usp_Ordenes_Ventas_Eliminar]
@FileID INT = 0,
@OrdenID INT 
AS

DELETE FROM OrdenesCobranza WHERE FileID=@FileID AND OrdenID=@OrdenID
 
UPDATE OrdenesDatos SET Deleted =1 WHERE FileID=@FileID AND OrdenID=@OrdenID
UPDATE OrdenesDatosItems SET Deleted =1 WHERE FileID=@FileID AND OrdenID=@OrdenID
 
GO
