USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Comisiones_Detalle_sel]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE procedure [report].[usp_Ordenes_Comisiones_Detalle_sel]
@FechaInicio DATE,
@FechaFin DATE,
@ColumnSort VARCHAR(50) = null,
@Order VARCHAR(50) = null,
@sector varchar(20) = 'Administracion'
AS

SET NOCOUNT ON 


DECLARE @SqlExec NVARCHAR(4000)


IF @sector = 'Administracion'
BEGIN 
	SET @SqlExec =' 
	-- Obtengo totales
	SELECT a.FileID, a.OrdenID,a.Monto,a.Fecha,a.Cliente,a.ClienteID,a.NroCliente,d.Envio_Ciudad as Zona,ISNULL(V.nombre, a.VendedorID ) AS Vendedor,a.VendedorID,
	CASE 
		WHEN ISNULL(a.ComisionPagada,0) = 1 THEN 1 
		WHEN ISNULL(a.ComisionPagada,0) = 0 and a.ComisionImporte IS NOT NULL THEN 2 
		ELSE 3 END as Estado
	, CASE WHEN EXISTS(SELECT NUlL FROM OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND X.Modificado=1 ) THEN 1 ELSE 0 END AS Modificado,
	CASE WHEN a.OK = ''OK'' THEN ''Si'' ELSE ''No'' END AS Pagado , d.Telefono,d.Email as mail,d.Observaciones,
	 CajasOro = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND Producto LIKE ''%caja%oro%'' and ISNULL(X.SkipIT,0)=0 ),
	CajasPlata = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND Producto LIKE ''%caja%Plata%'' and ISNULL(X.SkipIT,0)=0),
	CajasPlatino = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND Producto LIKE ''%caja%Platino%'' and ISNULL(X.SkipIT,0)=0),
	CajasEspecial = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND  Producto LIKE ''%caja%Espe%'' and ISNULL(X.SkipIT,0)=0),
	CajasBronce = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND  Producto LIKE ''%caja%Bronce%'' and ISNULL(X.SkipIT,0)=0),
	CajasEstrella = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND  Producto LIKE ''%caja%estrell%'' and ISNULL(X.SkipIT,0)=0),
	TotalCajas = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID and ISNULL(X.SkipIT,0)=0),
	FechaEntrega = a.FechaEntrega,
	ISNULL(a.FacturaArchivoLocal,d.FacturaArchivo) FacturaArchivo,
	D.FacturaValidada
	--REPLACE(d.FacturaArchivo,''\\192.168.200.9\America\PDF\'','''' ) AS FacturaArchivo
	FROM OrdenesCobranza a
	INNER JOIN OrdenesDatos D ON D.FileID=a.FileID AND D.OrdenID=a.OrdenID 
	LEFT JOIN Vendedores V ON RIGHT(''000000'' + +CONVERT(VARCHAR(5),ltrim(rtrim(V.codigo))),5)=RIGHT(''000000'' +CONVERT(VARCHAR(5), ltrim(rtrim(a.VendedorID))),5)
	WHERE d.SkipIT=0
	--AND ISNULL(a.ComisionPagada,0) = 0
	AND a.Fecha BETWEEN ''' +CONVERT(VARCHAR(12), @FechaInicio)   + ''' AND ''' + CONVERT(VARCHAR(12), @FechaFin  )+ '''
	ORDER BY 
	'
	+ CASE WHEN @ColumnSort IS NULL THEN ' a.RowID ' ELSE @ColumnSort END 
	+ ' '
	+ CASE WHEN @Order IS NULL THEN ' ASC ' ELSE @Order END
END
 

EXEC (@sqlExec)

PRINT @sqlExec

 

GO
