USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_FechaInicio]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [report].[usp_Ordenes_FechaInicio]
AS

SET NOCOUNT ON 

DECLARE @Date DATE

SELECT @Date = CAST( MIN(Fecha) AS DAte)   FROM OrdenesCobranza

SELECT RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(dd,@Date)),2) + '/' + RIGHT('0'+CONVERT(VARCHAR(2),DATEPART(MM,@Date) ),2)  +'/' + CONVERT(VARCHAR(4),DATEPART(YYYY,@Date) )



GO
