USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_Update]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Ordenes_Ventas_Update]
    @FileID INT,
    @OrdenID INT,
    @VendedorID VARCHAR(5),
    @FechaEntrega DATE = NULL,
    @Zona NVARCHAR(200),
    @ObservacionesAdicional NVARCHAR(1000),
	@Estado INT = 0
AS
BEGIN
    SET NOCOUNT ON;
	
	/*
	Ademas quiero que las filas tengan colores de fondos. 
	Si Estado = 0, sin color Si Estado = 1 verde Si Estado = 2 amarillo Si estado = 3 azul
	*/

    UPDATE OrdenesCobranza
    SET Estado = @Estado,
        VendedorID = @VendedorID,
        FechaEntrega = @FechaEntrega, 
        ObservacionADM = @ObservacionesAdicional
    WHERE FileID= @FileID
	AND OrdenID = @OrdenID;



    UPDATE OrdenesDatos
    SET  
        Envio_Ciudad = @Zona 

    WHERE FileID= @FileID
	AND OrdenID = @OrdenID;



END
 
GO
