USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Comisiones_Ventas_Registrar]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [report].[usp_Ordenes_Comisiones_Ventas_Registrar]
    @OrdenID INT,
    @FileID INT,
    @Porcentaje INT,
    @Valor DECIMAL(18,2),
	@Pagada INT =0,
	@Fecha DATETIME = NULL
AS
BEGIN
   
   UPDATE OrdenesCobranza SET
		ComisionPorcentaje = @Porcentaje,
		ComisionImporte = @Valor,
		ComisionPagada = @Pagada,
		ComisionPagadaFecha = CASE WHEN @pagada =1 THEN ISNULL(@Fecha,GETDATE()) ELSE NULL END 
	WHERE 
		FileID= @FileID
		AND OrdenID=@OrdenID


END

GO
