USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_Detalle_sel_ID]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [report].[usp_Ordenes_Ventas_Detalle_sel_ID]
@FileID INT = 0,
@OrdenID INT 

AS

SET NOCOUNT ON 

 
-- Obtengo totales
SELECT 
	a.Cliente,isnull(v.vendedorid,a.VendedorID) AS VendedorID ,
	d.Email,
	d.Envio_Ciudad as Zona, 
	d.Telefono,
	d.Observaciones, 
	a.FechaEntrega,
	a.ObservacionADM, 
d.Observaciones ObservacionesEmpretienda,
a.ObservacionLogistica,
CajasOro = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND Producto LIKE '%caja%oro%' and ISNULL(X.SkipIT,0)=0 ),
CajasPlata = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND Producto LIKE '%caja%Plata%' and ISNULL(X.SkipIT,0)=0),
CajasPlatino = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND Producto LIKE '%caja%Platino%' and ISNULL(X.SkipIT,0)=0),
CajasEspecial = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND  Producto LIKE '%caja%Espe%' and ISNULL(X.SkipIT,0)=0),
CajasBronce = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND  Producto LIKE '%caja%Bronce%' and ISNULL(X.SkipIT,0)=0),
CajasEstrella = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID AND  Producto LIKE '%caja%Estrella%' and ISNULL(X.SkipIT,0)=0),
TotalCajas = (select ISNULL(sum(Cantidad),0) from OrdenesDatosItems X WHERE X.FileID=a.FileID AND X.OrdenID=a.OrdenID and ISNULL(X.SkipIT,0)=0),
d.Envio_Calle,d.Envio_Numero,d.Envio_Piso,d.Envio_Dpto,d.Envio_Ciudad,
CASE WHEN a.FechaEntregado IS NOT NULL THEN 1 ELSE 0 END AS  Entregado,
a.FechaEntregado,
d.OrdenID,
d.ClienteID,
a.Monto,
fc.Subtotal AS ImporteSinIVA,
v.nombre AS Vendedor,
a.ComisionPorcentaje,
a.ComisionImporte,
a.ComisionPagada,
a.ComisionPagadaFecha
FROM OrdenesCobranza a
INNER JOIN OrdenesDatos D ON D.FileID=a.FileID AND D.OrdenID=a.OrdenID 
LEFT JOIN Vendedores V ON RIGHT('000000' + +CONVERT(VARCHAR(5),ltrim(rtrim(V.codigo))),5)=RIGHT('000000' +CONVERT(VARCHAR(5), ltrim(rtrim(a.VendedorID))),5)
LEFT JOIN FacturaCabecera  FC ON FC.FacturaID=D.FacturaNro
WHERE d.FileID = @FileID
AND d.OrdenID=@OrdenID
AND d.SkipIT=0 

 

GO
