USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_Logistica_Update]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [report].[usp_Ordenes_Ventas_Logistica_Update]
    @FileID INT,
    @OrdenID INT,
    @VendedorID VARCHAR(5),
    @FechaEntrega DATE = NULL,
    @ObservacionesLogistica NVARCHAR(1000),
	@Envio_Calle	NVARCHAR(510),
	@Envio_Numero	NVARCHAR(510),
	@Envio_Piso		NVARCHAR(510),
	@Envio_Dpto		NVARCHAR(510),
	@Envio_Ciudad	NVARCHAR(510),
	@Estado INT = 0,
	@OrdenEntregado INT = 0,
	@FechaEntregado DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
	
	/*
	Ademas quiero que las filas tengan colores de fondos. 
	Si Estado = 0, sin color Si Estado = 1 verde Si Estado = 2 amarillo Si estado = 3 azul
	*/

    UPDATE OrdenesCobranza
    SET Estado = CASE 
					WHEN @OrdenEntregado=1 THEN 3 
					WHEN @FechaEntregado IS NOT NULL THEN 3
					WHEN @FechaEntrega IS NOT NULL THEN 2
				ELSE  @Estado END ,
        VendedorID = @VendedorID,
        FechaEntrega = @FechaEntrega, 
		ObservacionLogistica = CASE WHEN rtrim(ltrim(@ObservacionesLogistica)) = '' THEN NULL ELSE @ObservacionesLogistica END,
		FechaEntregado = CASE WHEN @OrdenEntregado=1 THEN @FechaEntregado ELSE NULL END

    WHERE FileID= @FileID
	AND OrdenID = @OrdenID;



    UPDATE OrdenesDatos
    SET  
        Envio_Calle		= @Envio_Calle, 
		Envio_Numero	= @Envio_Numero, 
		Envio_Piso		= @Envio_Piso, 
		Envio_Dpto		= @Envio_Dpto, 
		Envio_Ciudad	= @Envio_Ciudad

    WHERE FileID= @FileID
	AND OrdenID = @OrdenID;



END

GO
