USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_Cajas_Sel]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [report].[usp_Ordenes_Ventas_Cajas_Sel]
@FileID INT = 0,
@OrdenID INT 

AS

SET NOCOUNT ON 

 
-- Obtengo totales
SELECT P.Producto AS TipoCaja, P.Cantidad,P.RowID AS CajaID, P.Modificado
FROM OrdenesCobranza a
INNER JOIN OrdenesDatos D ON D.FileID=a.FileID AND D.OrdenID=a.OrdenID 
INNER JOIN OrdenesDatosItems P ON P.FileID=D.FileID AND P.OrdenID=D.OrdenID
WHERE d.FileID = @FileID
AND d.OrdenID=@OrdenID
AND d.SkipIT  = 0 
AND ISNULL(P.SkipIT,0) = 0
 
  
GO
