USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_Cajas_Update_Modificado]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Ordenes_Ventas_Cajas_Update_Modificado]
    @CajaID INT,
    @Modificado BIT
AS
BEGIN
    SET NOCOUNT ON;
	 
    UPDATE OrdenesDatosItems
    SET Modificado = @Modificado
    WHERE RowID = @CajaID;
END

GO
