USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Campania_WhastApp_Dashboard_Respuestas]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [report].[usp_Campania_WhastApp_Dashboard_Respuestas]  
    @CampaniaID INT,
	@Source INT 
AS
BEGIN
    SET NOCOUNT ON;

	IF @Source=1

		SELECT 
			D.Destinatario AS Numero,
			D.FechaEstadoWhatsApp AS FechaEnvio,
			CONVERT(NVARCHAR(2000),MAX(H.Contenido)) AS UltimaRespuesta ,
			CASE WHEN B.Destinatario IS NOT NULL THEN 1 ELSE 0 END AS EnBlacklist
 
		from Campanias_Destinatarios D
		INNER JOIN  WhatsAppAPI.sofia.WhatsAPP_API_Historial H ON H.WhatsAPPID= D.WhatsAPPID 
		LEFT JOIN  WhatsAPPAPI.sofia.WhatsAPP_API_Blacklist B 
			ON D.Destinatario = B.Destinatario
		WHERE D.CampaniaID = @CampaniaID
		AND D.EstadoWhatsApp='RESPONDED' 

		GROUP BY D.Destinatario, D.FechaEstadoWhatsApp,   B.Destinatario 
		ORDER BY 2 DESC
		
	IF @Source=2
	
		SELECT 
			D.Destinatario AS Numero,
			D.FechaEstadoWhatsApp AS FechaEnvio,
			CONVERT(NVARCHAR(2000),MAX(H.Contenido)) AS UltimaRespuesta ,
			CASE WHEN B.Destinatario IS NOT NULL THEN 1 ELSE 0 END AS EnBlacklist
 
		from Campanias_Destinatarios D
		INNER JOIN  WhatsAppAPI.sofia.WhatsAPP_API_Historial H ON H.WhatsAPPID= D.WhatsAPPID 
		LEFT JOIN  WhatsAPPAPI.sofia.WhatsAPP_API_Blacklist B 
			ON D.Destinatario = B.Destinatario
		WHERE D.CampaniaID = @CampaniaID
		AND D.EstadoWhatsApp='failed' 

		GROUP BY D.Destinatario, D.FechaEstadoWhatsApp,   B.Destinatario 
		ORDER BY 2 DESC
		

END

GO
