USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[Vendedores_combo]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [report].[Vendedores_combo]
AS
SET NOCOUNT ON 
SELECT * FROM Vendedores
GO
