USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_sel]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [report].[usp_Ordenes_Ventas_sel]
@FechaInicio DATE,
@FechaFin DATE,
@Vista VARCHAR(20) = 'Administracion'
AS

SET NOCOUNT ON 

IF @Vista = 'Administracion'
BEGIN
	-- Obtengo totales
	SELECT COUNT(DISTINCT d.OrdenID) Clientes, SUM(o.Monto) ImporteTotal,
	SUM(CASE WHEN o.NroRecibo IS NOT NULL or o.NroRecibo <> '' THEN o.Monto ELSE 0 END) AS Cobrado ,	
	SUM(CASE WHEN o.NroRecibo IS NOT NULL or o.NroRecibo <> '' THEN 0 ELSE o.Monto END) AS FaltaCobrar
	INTO #totalesglobales
	FROM OrdenesCobranza o
	INNER JOIN OrdenesDatos D ON D.FileID=o.FileID AND D.OrdenID=o.OrdenID 
	WHERE d.SkipIT=0
	AND o.Fecha BETWEEN @FechaInicio AND @FechaFin

	SELECT   
	CajasOro		=  SUM(CASE WHEN I.Producto LIKE '%caja%oro%'		THEN I.Cantidad ELSE 0 END),
	CajasPlata		=  SUM(CASE WHEN I.Producto LIKE '%caja%Plata%'		THEN I.Cantidad ELSE 0 END),  
	CajasPlatino	=  SUM(CASE WHEN I.Producto LIKE '%caja%Platino%'	THEN I.Cantidad ELSE 0 END),  
	CajasEspecial	=  SUM(CASE WHEN I.Producto LIKE '%caja%Espe%'		THEN I.Cantidad ELSE 0 END),  
	CajasBronce		=  SUM(CASE WHEN I.Producto LIKE '%caja%Bronce%'	THEN I.Cantidad ELSE 0 END),  
	CajasEstrella	=  SUM(CASE WHEN I.Producto LIKE '%caja%Estrella%'	THEN I.Cantidad ELSE 0 END)
	INTO #CantidadesGlobales													  
	FROM OrdenesCobranza o
	INNER JOIN OrdenesDatos D ON D.FileID=o.FileID AND D.OrdenID=o.OrdenID
	INNER JOIN OrdenesDatosItems I ON I.FileID=D.FileID AND I.OrdenID=D.OrdenID
	WHERE ISNULL(d.SkipIT,0) = 0
	AND o.Fecha BETWEEN @FechaInicio AND @FechaFin


	SELECT *
	FROM #totalesglobales, #CantidadesGlobales

	RETURN

END

IF @Vista = 'Logistica'
BEGIN
	-- Obtengo totales
	SELECT COUNT(DISTINCT d.OrdenID) Pedidos, 
	SUM(CASE WHEN o.FechaEntrega IS NULL	THEN 1 ELSE 0 END) AS PedidosPendientesDeClasificacion,
	SUM(CASE WHEN o.FechaEntregado IS NULL	THEN 1 ELSE 0 END) AS PedidosPendientesDeEntrega
	INTO #logisticaglobales
	FROM OrdenesCobranza o
	INNER JOIN OrdenesDatos D ON D.FileID=o.FileID AND D.OrdenID=o.OrdenID 
	WHERE ISNULL(d.SkipIT,0)=0
	AND o.Fecha BETWEEN @FechaInicio AND @FechaFin
	--AND o.OK = 'OK'
	AND o.FechaEntregado IS NULL

	SELECT   
	CajasOro		=  SUM(CASE WHEN I.Producto LIKE '%caja%oro%'		THEN I.Cantidad ELSE 0 END),
	CajasPlata		=  SUM(CASE WHEN I.Producto LIKE '%caja%Plata%'		THEN I.Cantidad ELSE 0 END),  
	CajasPlatino	=  SUM(CASE WHEN I.Producto LIKE '%caja%Platino%'	THEN I.Cantidad ELSE 0 END),  
	CajasEspecial	=  SUM(CASE WHEN I.Producto LIKE '%caja%Espe%'		THEN I.Cantidad ELSE 0 END),  
	CajasBronce		=  SUM(CASE WHEN I.Producto LIKE '%caja%Bronce%'	THEN I.Cantidad ELSE 0 END),  
	CajasEstrella	=  SUM(CASE WHEN I.Producto LIKE '%caja%Estrella%'	THEN I.Cantidad ELSE 0 END)
	INTO #LogisticaCantidadesGlobales													  
	FROM OrdenesCobranza o
	INNER JOIN OrdenesDatos D ON D.FileID=o.FileID AND D.OrdenID=o.OrdenID
	INNER JOIN OrdenesDatosItems I ON I.FileID=D.FileID AND I.OrdenID=D.OrdenID
	WHERE ISNULL(d.SkipIT,0)=0
	AND o.Fecha BETWEEN @FechaInicio AND @FechaFin
	-- AND o.OK = 'OK'
	AND o.FechaEntregado IS NULL


	SELECT *
	FROM #logisticaglobales, #LogisticaCantidadesGlobales

	RETURN

END

IF @Vista = 'LogisticaPendientes'
BEGIN
	-- Obtengo totales
	SELECT COUNT(DISTINCT d.OrdenID) Pedidos, 
	SUM(CASE WHEN o.FechaEntrega IS NULL	THEN 1 ELSE 0 END) AS PedidosPendientesDeClasificacion,
	SUM(CASE WHEN o.FechaEntregado IS NULL	THEN 1 ELSE 0 END) AS PedidosPendientesDeEntrega
	INTO #logisticaglobalesPendientes
	FROM OrdenesCobranza o
	INNER JOIN OrdenesDatos D ON D.FileID=o.FileID AND D.OrdenID=o.OrdenID 
	WHERE ISNULL(d.SkipIT,0)=0
	AND o.Fecha BETWEEN @FechaInicio AND @FechaFin
	AND ISNULL(o.OK,'') <> 'OK' 
	AND o.FechaEntregado IS NULL

	SELECT   
	CajasOro		=  SUM(CASE WHEN I.Producto LIKE '%caja%oro%'		THEN I.Cantidad ELSE 0 END),
	CajasPlata		=  SUM(CASE WHEN I.Producto LIKE '%caja%Plata%'		THEN I.Cantidad ELSE 0 END),  
	CajasPlatino	=  SUM(CASE WHEN I.Producto LIKE '%caja%Platino%'	THEN I.Cantidad ELSE 0 END),  
	CajasEspecial	=  SUM(CASE WHEN I.Producto LIKE '%caja%Espe%'		THEN I.Cantidad ELSE 0 END),  
	CajasBronce		=  SUM(CASE WHEN I.Producto LIKE '%caja%Bronce%'	THEN I.Cantidad ELSE 0 END),  
	CajasEstrella	=  SUM(CASE WHEN I.Producto LIKE '%caja%Estrella%'	THEN I.Cantidad ELSE 0 END)
	INTO #LogisticaCantidadesGlobalesPendientes													  
	FROM OrdenesCobranza o
	INNER JOIN OrdenesDatos D ON D.FileID=o.FileID AND D.OrdenID=o.OrdenID
	INNER JOIN OrdenesDatosItems I ON I.FileID=D.FileID AND I.OrdenID=D.OrdenID
	WHERE ISNULL(d.SkipIT,0)=0
	AND o.Fecha BETWEEN @FechaInicio AND @FechaFin
	AND ISNULL(o.OK,'') <> 'OK'
	AND o.FechaEntregado IS NULL


	SELECT *
	FROM #logisticaglobalesPendientes, #LogisticaCantidadesGlobalesPendientes

	RETURN

END

GO
