USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Campania_WhastApp_Dashboard]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Campania_WhastApp_Dashboard]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.CampaniaID,
        C.NombreCampania,
        COUNT(D.DestinatarioID) AS TotalDestinatarios,
        SUM(CASE WHEN D.EstadoWhatsApp IN ('sent', 'sent_file') THEN 1 ELSE 0 END) AS Enviados,
        SUM(CASE WHEN D.EstadoWhatsApp = 'delivered' THEN 1 ELSE 0 END) AS Entregados,
        SUM(CASE WHEN D.EstadoWhatsApp = 'failed' THEN 1 ELSE 0 END) AS Errores,
        SUM(CASE WHEN D.EstadoWhatsApp = 'read' THEN 1 ELSE 0 END) AS Leidos,
        SUM(CASE WHEN D.EstadoWhatsApp = 'RESPONDED' THEN 1 ELSE 0 END) AS Respondidos,
        CAST(
            CASE WHEN COUNT(D.DestinatarioID) = 0 THEN 0
                 ELSE 100.0 * SUM(CASE WHEN D.EstadoWhatsApp = 'read' THEN 1 ELSE 0 END) / COUNT(D.DestinatarioID)
            END AS DECIMAL(5,2)
        ) AS PorcentajeLeidos,
        CAST(
            CASE WHEN COUNT(D.DestinatarioID) = 0 THEN 0
                 ELSE 100.0 * SUM(CASE WHEN D.EstadoWhatsApp = 'RESPONDED' THEN 1 ELSE 0 END) / COUNT(D.DestinatarioID)
            END AS DECIMAL(5,2)
        ) AS PorcentajeRespondidos,
        MAX(D.FechaEstadoWhatsApp) AS UltimaActualizacion
    FROM Campanias C
    LEFT JOIN Campanias_Destinatarios D ON C.CampaniaID = D.CampaniaID
	WHERE C.Canal like '%Whats%'
    GROUP BY C.CampaniaID, C.NombreCampania
    ORDER BY MAX(D.FechaEstadoWhatsApp) DESC;
END
GO
