USE [Administracion]
GO
/****** Object:  StoredProcedure [report].[usp_Ordenes_Ventas_Administracion_FechaEntrega_Update]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [report].[usp_Ordenes_Ventas_Administracion_FechaEntrega_Update]
    @FileID INT,
    @OrdenID INT, 
	@Estado INT = 0,
	@OrdenEntregado INT = 0,
	@FechaEntregado DATE = NULL
AS
BEGIN
    SET NOCOUNT ON; 

    UPDATE OrdenesCobranza
    SET Estado = CASE 
					WHEN @OrdenEntregado=1 THEN 3 
					WHEN @FechaEntregado IS NOT NULL THEN 3 
				ELSE  @Estado END,
		FechaEntregado = CASE WHEN @OrdenEntregado=1 THEN @FechaEntregado ELSE NULL END

    WHERE FileID= @FileID
	AND OrdenID = @OrdenID;
	  


END

GO
