USE [Administracion]
GO
/****** Object:  Table [temp].[ExtractisBancariosGalicia_ELIMINAR]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [temp].[ExtractisBancariosGalicia_ELIMINAR](
	[Fecha] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[Origen] [varchar](50) NULL,
	[Debitos] [varchar](50) NULL,
	[Creditos] [varchar](50) NULL,
	[Conceptos] [varchar](50) NULL,
	[Concepto] [varchar](50) NULL,
	[NumerodeTerminal] [varchar](50) NULL,
	[Observaciones] [varchar](50) NULL,
	[Comprobante] [varchar](50) NULL,
	[Adicionales1] [varchar](50) NULL,
	[Adicionales2] [varchar](50) NULL,
	[Adicionales3] [varchar](50) NULL,
	[Adicionales4] [varchar](50) NULL,
	[TipodeMovimiento] [varchar](50) NULL,
	[Saldo] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
