USE [Administracion]
GO
/****** Object:  StoredProcedure [tmp].[usp_ExtractosBancarios_Ins_20241126]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [tmp].[usp_ExtractosBancarios_Ins_20241126] 
@Fecha VARCHAR(10) = '',
@TipoOperacion VARCHAR(10) = '',
@Comprobante VARCHAR(50) = '',
@Descripcion VARCHAR(100) = '',
@Debito VARCHAR(255) = '',
@Credito VARCHAR(255) = '',
@DescripcionCompleta VARCHAR(500) = '',
@MoveDesc2 VARCHAR(100) = '',
@MoveDesc3 VARCHAR(100) = ''
AS
SET NOCOUNT ON 
 
INSERT INTO tmp.ExtractosBancarios (Fecha
,TipoOperacion
,Comprobante
,Descripcion
,Debito
,Credito
,DescripcionCompleta)
VALUES (
@Fecha
,@TipoOperacion
,@Comprobante
,@Descripcion
,@Debito
,@Credito
,@DescripcionCompleta
)



GO
