USE [Administracion]
GO
/****** Object:  StoredProcedure [tmp].[usp_Ordenes_Ins]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [tmp].[usp_Ordenes_Ins]
@OrdenID						VARCHAR(255),
@Fecha							VARCHAR(255),
@Cliente						VARCHAR(255),
@Email							VARCHAR(255),
@Telefono						VARCHAR(255),
@Pago							VARCHAR(255),
@FormaPago						VARCHAR(255),
@Envio							VARCHAR(255),
@FormaEnvio						VARCHAR(255),
@CostoEnvio						VARCHAR(255),
@Total							VARCHAR(255),
@TipoDeEnvio					VARCHAR(255),
@Sucursal						VARCHAR(255),
@Envio_Nombre					VARCHAR(255),
@Envio_Apellido					VARCHAR(255),
@Envio_TipoDeDocumento			VARCHAR(255),
@Envio_NumeroDeDocumento		VARCHAR(255),
@Envio_Calle					VARCHAR(255),
@Envio_Numero					VARCHAR(255),
@Envio_Piso						VARCHAR(255),
@Envio_Dpto						VARCHAR(255),
@Envio_Ciudad					VARCHAR(255),
@Envio_Provincia				VARCHAR(255),
@Envio_CP						VARCHAR(255),
@Fact_Razonsocial				VARCHAR(255),
@Fact_TipoDeDocumento			VARCHAR(255),
@Fact_NumeroDeDocumento			VARCHAR(255),
@Fact_Calle						VARCHAR(255),
@Fact_Numero					VARCHAR(255),
@Fact_Piso						VARCHAR(255),
@Fact_Dpto						VARCHAR(255),
@Fact_Ciudad					VARCHAR(255),
@Fact_Provincia					VARCHAR(255),
@Fact_CP						VARCHAR(255),
@Facturada						VARCHAR(255),
@Observaciones					VARCHAR(255),
@Productos						VARCHAR(255)

AS
SET NOCOUNT ON 

INSERT INTO tmp.Ordenes  (OrdenID
,Fecha
,Cliente
,Email
,Telefono
,Pago
,FormaPago
,Envio
,FormaEnvio
,CostoEnvio
,Total
,TipoDeEnvio
,Sucursal
,Envio_Nombre
,Envio_Apellido
,Envio_TipoDeDocumento
,Envio_NumeroDeDocumento
,Envio_Calle
,Envio_Numero
,Envio_Piso
,Envio_Dpto
,Envio_Ciudad
,Envio_Provincia
,Envio_CP
,Fact_Razonsocial
,Fact_TipoDeDocumento
,Fact_NumeroDeDocumento
,Fact_Calle
,Fact_Numero
,Fact_Piso
,Fact_Dpto
,Fact_Ciudad
,Fact_Provincia
,Fact_CP
,Facturada
,Observaciones
,Productos
)
VALUES (
@OrdenID								
,@Fecha
,@Cliente						
,@Email							
,@Telefono						
,@Pago							
,@FormaPago						
,@Envio							
,@FormaEnvio						
,@CostoEnvio						
,@Total							
,@TipoDeEnvio					
,@Sucursal						
,@Envio_Nombre					
,@Envio_Apellido					
,@Envio_TipoDeDocumento			
,@Envio_NumeroDeDocumento		
,@Envio_Calle					
,@Envio_Numero					
,@Envio_Piso						
,@Envio_Dpto						
,@Envio_Ciudad					
,@Envio_Provincia				
,@Envio_CP						
,@Fact_Razonsocial				
,@Fact_TipoDeDocumento			
,@Fact_NumeroDeDocumento			
,@Fact_Calle						
,@Fact_Numero					
,@Fact_Piso						
,@Fact_Dpto						
,@Fact_Ciudad					
,@Fact_Provincia					
,@Fact_CP						
,@Facturada						
,@Observaciones					
,@Productos						
)
GO
