USE [Administracion]
GO
/****** Object:  Table [tmp].[Ordenes]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[Ordenes](
	[OrdenID] [nvarchar](10) NULL,
	[Fecha] [nvarchar](255) NULL,
	[Cliente] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Telefono] [nvarchar](255) NULL,
	[Pago] [nvarchar](255) NULL,
	[FormaPago] [nvarchar](255) NULL,
	[Envio] [nvarchar](255) NULL,
	[FormaEnvio] [nvarchar](255) NULL,
	[CostoEnvio] [nvarchar](255) NULL,
	[Total] [nvarchar](255) NULL,
	[TipoDeEnvio] [nvarchar](255) NULL,
	[Sucursal] [nvarchar](255) NULL,
	[Envio_Nombre] [nvarchar](255) NULL,
	[Envio_Apellido] [nvarchar](255) NULL,
	[Envio_TipoDeDocumento] [nvarchar](255) NULL,
	[Envio_NumeroDeDocumento] [nvarchar](255) NULL,
	[Envio_Calle] [nvarchar](255) NULL,
	[Envio_Numero] [nvarchar](255) NULL,
	[Envio_Piso] [nvarchar](255) NULL,
	[Envio_Dpto] [nvarchar](255) NULL,
	[Envio_Ciudad] [nvarchar](255) NULL,
	[Envio_Provincia] [nvarchar](255) NULL,
	[Envio_CP] [nvarchar](255) NULL,
	[Fact_Razonsocial] [nvarchar](255) NULL,
	[Fact_TipoDeDocumento] [nvarchar](255) NULL,
	[Fact_NumeroDeDocumento] [nvarchar](255) NULL,
	[Fact_Calle] [nvarchar](255) NULL,
	[Fact_Numero] [nvarchar](255) NULL,
	[Fact_Piso] [nvarchar](255) NULL,
	[Fact_Dpto] [nvarchar](255) NULL,
	[Fact_Ciudad] [nvarchar](255) NULL,
	[Fact_Provincia] [nvarchar](255) NULL,
	[Fact_CP] [nvarchar](255) NULL,
	[Facturada] [nvarchar](255) NULL,
	[Observaciones] [nvarchar](255) NULL,
	[Productos] [nvarchar](255) NULL
) ON [PRIMARY]

GO
