USE [Administracion]
GO
/****** Object:  Table [tmp].[ExtractosBancariosGalicia_LOAD]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tmp].[ExtractosBancariosGalicia_LOAD](
	[Data] [varchar](4000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
