USE [Administracion]
GO
/****** Object:  StoredProcedure [tmp].[usp_Ordenes_Del]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [tmp].[usp_Ordenes_Del]
AS
SET NOCOUNT ON


TRUNCATE TABLE  [TMP].[Ordenes]
 





GO
