USE [Administracion]
GO
/****** Object:  Table [tmp].[ExtractosBancarios]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tmp].[ExtractosBancarios](
	[Fecha] [varchar](255) NULL,
	[TipoOperacion] [varchar](255) NULL,
	[Comprobante] [varchar](255) NULL,
	[Descripcion] [varchar](255) NULL,
	[Debito] [varchar](255) NULL,
	[Credito] [varchar](255) NULL,
	[DescripcionCompleta] [varchar](500) NULL,
	[MoveDesc2] [varchar](255) NULL,
	[MoveDesc3] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
