USE [Administracion]
GO
/****** Object:  Table [tmp].[ExtractosBancariosMP]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tmp].[ExtractosBancariosMP](
	[Identificacion] [varchar](255) NULL,
	[Operacion] [varchar](255) NULL,
	[ValorCompra] [varchar](255) NULL,
	[FechaOrigen] [varchar](255) NULL,
	[Caja] [varchar](255) NULL,
	[TipoIdentificacionPago] [varchar](255) NULL,
	[NumeroIdentificacionPago] [varchar](255) NULL,
	[Pagador] [varchar](255) NULL,
	[Detalle] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
