USE [Administracion]
GO
/****** Object:  StoredProcedure [tmp].[usp_ExtractosBancarios_Del]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [tmp].[usp_ExtractosBancarios_Del]
AS
SET NOCOUNT ON


TRUNCATE TABLE  [TMP].[ExtractosBancarios]
TRUNCATE TABLE  [TMP].[ExtractosBancariosCP]
TRUNCATE TABLE  [TMP].ExtractosBancariosCP_CHEQUE
TRUNCATE TABLE  [TMP].ExtractosBancariosCP_CHEQUE_LOAD
TRUNCATE TABLE  [TMP].ExtractosBancariosMP
TRUNCATE TABLE  [TMP].ExtractosBancariosBPN
 





GO
