USE [Administracion]
GO
/****** Object:  StoredProcedure [tmp].[usp_Campania_Destinatarios_Ins]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [tmp].[usp_Campania_Destinatarios_Ins]
    @CampaniaID INT, 
    @Destinatario NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON; 
    INSERT INTO tmp.Campanias_Destinatarios (CampaniaID, Destinatario)
    VALUES (@CampaniaID, @Destinatario);
END



GO
