USE [Administracion]
GO
/****** Object:  Table [tmp].[Campanias_Destinatarios]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[Campanias_Destinatarios](
	[CampaniaID] [int] NOT NULL,
	[Destinatario] [nvarchar](255) NULL
) ON [PRIMARY]

GO
