USE [Administracion]
GO
/****** Object:  Table [tmp].[Transferencias]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tmp].[Transferencias](
	[FECHA] [date] NULL,
	[BANCO] [nvarchar](255) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[MONTO] [money] NULL,
	[FECHA DEPOSITO E-CHECK] [nvarchar](255) NULL,
	[OK] [nvarchar](255) NULL,
	[NRO RECIBO] [varchar](50) NULL,
	[Nro CLIENTE] [varchar](50) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
