USE [Administracion]
GO
/****** Object:  StoredProcedure [tmp].[usp_ExtractosBancarios_Ins20250702]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from tmp.ExtractosBancariosGalicia
--[tmp].[usp_ExtractosBancarios_Ins]  6, 'C:\temp\Extracto_CC593167386 (9).csv'
--[dbo].[usp_ExtractosBancarios_load] 3, 'C:\Reclamos\Extractos\consulta_echeq_lista_cheques.csv'

CREATE PROCEDURE [tmp].[usp_ExtractosBancarios_Ins20250702] 
@BancoID INT,
@FileName VARCHAR(255) = NULL 
AS

SET NOCOUNT ON 

DECLARE @bulk_cmd nvarchar(max),@bulk_cmd_del varchar(2048), @ret int, @RowInserted INT 
DECLARE @RecordCount int 

DECLARE @DataRow VARCHAR(4000), @Monto VARCHAR(20)

IF @BancoID  = 1 -- HSBC
BEGIN
	TRUNCATE TABLE Administracion.tmp.ExtractosBancarios
	-- HSBC
	SET @ret = -1 
	SELECT @bulk_cmd = N'BULK INSERT Administracion.tmp.ExtractosBancarios FROM ''' + @FileName + '''  WITH ( KEEPIDENTITY,ROWTERMINATOR = ''' + CHAR(13) + CHAR(10) + ''',FIELDTERMINATOR = '','',FIRSTROW = 2,TABLOCK)'
	--PRINT @bulk_cmd
	EXEC sp_executesql @bulk_cmd
	SET @ret = @@ROWCOUNT

	IF @ret > 0 
	BEGIN
		SET @bulk_cmd_del = 'del "'+@FileName+'"'
		EXEC master.dbo.xp_cmdshell @bulk_cmd_del, no_output
	END


END
IF @BancoID=2 -- MP
BEGIN

	TRUNCATE TABLE Administracion.tmp.ExtractosBancariosMP
	-- MP
	SET @ret = -1 
	SELECT @bulk_cmd = N'BULK INSERT Administracion.tmp.ExtractosBancariosMP FROM ''' + @FileName + '''  WITH ( KEEPIDENTITY,ROWTERMINATOR = ''' + CHAR(10) + ''',FIELDTERMINATOR = '';'',FIRSTROW = 2,TABLOCK)'
	PRINT @bulk_cmd
	EXEC sp_executesql @bulk_cmd
	SET @ret = @@ROWCOUNT

	IF @ret > 0 
	BEGIN
		SET @bulk_cmd_del = 'del "'+@FileName+'"'
		EXEC master.dbo.xp_cmdshell @bulk_cmd_del, no_output
	END


END 
IF @BancoID=3 -- CREDICOOP
BEGIN
 
	TRUNCATE TABLE Administracion.tmp.ExtractosBancariosCP_CHEQUE
	TRUNCATE TABLE Administracion.tmp.ExtractosBancariosCP_CHEQUE_LOAD
	-- CP
	SET @ret = -1 
	SELECT @bulk_cmd = N'BULK INSERT Administracion.tmp.ExtractosBancariosCP_CHEQUE_LOAD FROM ''' + @FileName + '''  WITH ( KEEPIDENTITY,ROWTERMINATOR = ''' + CHAR(10) + ''',FIRSTROW = 2,TABLOCK)'
	PRINT @bulk_cmd
	EXEC sp_executesql @bulk_cmd
	SET @ret = @@ROWCOUNT

	DECLARE MyCursor CURSOR FAST_FORWARD FOR
		SELECT Data FROM Administracion.tmp.ExtractosBancariosCP_CHEQUE_LOAD
	OPEN MyCursor

	FETCH NEXT FROM MyCursor INTO @DataRow

	WHILE @@FETCH_STATUS = 0
		BEGIN
 
			IF CHARINDEX('"',@DataRow)>0
			BEGIN
				IF OBJECT_ID('tempdb..#DataRows') IS NOT NULL
				BEGIN
					DROP TABLE #DataRows
				END
				SET @Monto = ''
				SET @Monto = (SELECT Item  FROM CLR.dbo.DelimitedSplit8K_LEAD(@DataRow,'"') WHERE ItemNumber = 2 )

				IF ISNUMERIC(@Monto)=0 -- porque a veces cambian las columnas
				BEGIN 
					SET @Monto = (SELECT Item  FROM CLR.dbo.DelimitedSplit8K_LEAD(@DataRow,'"') WHERE ItemNumber = 4 )
				END

				IF ISNUMERIC(@Monto)>0
				BEGIN
					UPDATE Administracion.tmp.ExtractosBancariosCP_CHEQUE_LOAD SET 
						Data = REPLACE(Data,'"'+@Monto+'"',REPLACE(REPLACE(@Monto,'.',''),',','.'))
					WHERE Data= @DataRow
					
					SET @DataRow = REPLACE(@DataRow,'"'+@Monto+'"',REPLACE(REPLACE(@Monto,'.',''),',','.'))

					SET @DataRow = REPLACE(@DataRow,'"','')
				END
			END 
			 
			INSERT INTO Administracion.tmp.ExtractosBancariosCP_CHEQUE
			SELECT  [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16]
			from
			(
			  select Item value, ItemNumber as columnname
			  from clr.dbo.DelimitedSplit8K_LEAD(@DataRow,',')
			) d
			pivot
			(
			  max(value)
			  for columnname in ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16])
			) piv;



			FETCH NEXT FROM MyCursor INTO @DataRow
		END

	CLOSE MyCursor
	DEALLOCATE MyCursor


	IF @ret > 0 
	BEGIN
		SET @bulk_cmd_del = 'del "'+@FileName+'"'
		EXEC master.dbo.xp_cmdshell @bulk_cmd_del, no_output
	END


END 


IF @BancoID=4 -- CREEDICOOP
BEGIN

	TRUNCATE TABLE Administracion.tmp.ExtractosBancariosCP
	-- MP
	SET @ret = -1 
	SELECT @bulk_cmd = N'BULK INSERT Administracion.tmp.ExtractosBancariosCP FROM ''' + @FileName + '''  WITH ( KEEPIDENTITY,ROWTERMINATOR = ''' +  CHAR(10) + ''',FIELDTERMINATOR = '','',FIRSTROW = 2,TABLOCK)'
	PRINT @bulk_cmd
	EXEC sp_executesql @bulk_cmd
	SET @ret = @@ROWCOUNT

	IF @ret > 0 
	BEGIN
		SET @bulk_cmd_del = 'del "'+@FileName+'"'
		EXEC master.dbo.xp_cmdshell @bulk_cmd_del, no_output
	END

END  




IF @BancoID  = 5 -- BPN
BEGIN
	PRINT 'NADA QUE HACER,RESUELTO EN ASP'
END

 

IF @BancoID IN (6,7) -- GALICIA Y GALICIA + 
BEGIN

	TRUNCATE TABLE Administracion.tmp.ExtractosBancariosGalicia
	TRUNCATE TABLE Administracion.tmp.ExtractosBancariosGalicia_LOAD

	-- CP
	SET @ret = -1 
	SELECT @bulk_cmd = N'BULK INSERT Administracion.tmp.ExtractosBancariosGalicia_LOAD FROM ''' + @FileName + '''  WITH ( KEEPIDENTITY,ROWTERMINATOR = ''' + CHAR(10) + ''',FIRSTROW = 2,TABLOCK)'
	PRINT @bulk_cmd
	EXEC sp_executesql @bulk_cmd
	SET @ret = @@ROWCOUNT

	DELETE FROM Administracion.tmp.ExtractosBancariosGalicia_LOAD WHERE Data IS NULL

	DECLARE MyCursor CURSOR FAST_FORWARD FOR
		SELECT Data FROM Administracion.tmp.ExtractosBancariosGalicia_LOAD
	OPEN MyCursor

	FETCH NEXT FROM MyCursor INTO @DataRow

	WHILE @@FETCH_STATUS = 0
		BEGIN
 
			IF CHARINDEX('"',@DataRow)>0
			BEGIN
				IF OBJECT_ID('tempdb..#DataRows') IS NOT NULL
				BEGIN
					DROP TABLE #DataRows
				END
				SET @Monto = ''
				SET @Monto = (SELECT Item  FROM CLR.dbo.DelimitedSplit8K_LEAD(@DataRow,'"') WHERE ItemNumber = 6 )

				IF @Monto<>''
				BEGIN
					UPDATE Administracion.tmp.ExtractosBancariosGalicia_LOAD SET 
						Data = REPLACE(Data,'"'+@Monto+'"',REPLACE(REPLACE(@Monto,'.',''),',','.'))
					WHERE Data= @DataRow
					
					SET @DataRow = REPLACE(@DataRow,'"'+@Monto+'"',REPLACE(REPLACE(@Monto,'.',''),',','.'))

				END

				PRINT @DataRow
			END

			INSERT INTO Administracion.tmp.ExtractosBancariosGalicia
			SELECT  [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16]
			from
			(
			  select Item value, ItemNumber as columnname
			  from clr.dbo.DelimitedSplit8K_LEAD(@DataRow,';')
			) d
			pivot
			(
			  max(value)
			  for columnname in ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16])
			) piv;



			FETCH NEXT FROM MyCursor INTO @DataRow
		END

	CLOSE MyCursor
	DEALLOCATE MyCursor


	IF @ret > 0 
	BEGIN
		SET @bulk_cmd_del = 'del "'+@FileName+'"'
		EXEC master.dbo.xp_cmdshell @bulk_cmd_del, no_output
	END


END 

GO
