USE [Administracion]
GO
/****** Object:  StoredProcedure [tmp].[usp_ExtractosBancariosBPN_Ins]    Script Date: 30/04/2026 12:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [tmp].[usp_ExtractosBancariosBPN_Ins]
@Cuenta					VARCHAR(255) = NULL,
@FechaValor				VARCHAR(255) = NULL,
@FechaOperacion			VARCHAR(255) = NULL,
@MovimientoFechaValor	VARCHAR(255) = NULL,
@Descripcion			VARCHAR(255) = NULL,
@Detalle				VARCHAR(255) = NULL,
@Importe				VARCHAR(255) = NULL,
@Saldo					VARCHAR(255) = NULL,
@Categoria				VARCHAR(255) = NULL,
@Referencia				VARCHAR(255) = NULL,
@Etiquetas				VARCHAR(255) = NULL

AS
SET NOCOUNT ON 

INSERT INTO tmp.ExtractosBancariosBPN  (Cuenta
,FechaValor
,FechaOperacion
,MovimientoFechaValor
,Descripcion
,Detalle
,Importe
,Saldo
,Categoria
,Referencia
,Etiquetas
)
VALUES (
@Cuenta					
,@FechaValor				
,@FechaOperacion			
,@MovimientoFechaValor	
,@Descripcion			
,@Detalle				
,@Importe				
,@Saldo					
,@Categoria				
,@Referencia				
,@Etiquetas				
)


GO
