USE [Administracion]
GO
/****** Object:  Table [tmp].[ExtractosBancariosBPN]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[ExtractosBancariosBPN](
	[Cuenta] [nvarchar](255) NULL,
	[FechaValor] [nvarchar](255) NULL,
	[FechaOperacion] [nvarchar](255) NULL,
	[MovimientoFechaValor] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Detalle] [nvarchar](255) NULL,
	[Importe] [nvarchar](255) NULL,
	[Saldo] [nvarchar](255) NULL,
	[Categoria] [nvarchar](255) NULL,
	[Referencia] [nvarchar](255) NULL,
	[Etiquetas] [nvarchar](255) NULL
) ON [PRIMARY]

GO
