USE [Administracion]
GO
/****** Object:  Table [tmp].[ExtractosBancariosCP_CHEQUE]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tmp].[ExtractosBancariosCP_CHEQUE](
	[Nro  de Cheque] [varchar](100) NULL,
	[Caracter] [varchar](100) NULL,
	[Fecha de Pago] [varchar](100) NULL,
	[Fecha Ult  Modificacion] [varchar](100) NULL,
	[Moneda] [varchar](100) NULL,
	[Monto] [varchar](100) NULL,
	[Emisor_Fake] [varchar](100) NULL,
	[Emisor] [varchar](100) NULL,
	[CUIT-CUIL CDI] [varchar](100) NULL,
	[Motivo] [varchar](100) NULL,
	[Id  Cheque] [varchar](100) NULL,
	[Endosado Por] [varchar](100) NULL,
	[CUIT Endosante] [varchar](100) NULL,
	[Cedido Por] [varchar](100) NULL,
	[Codigo Banco] [varchar](100) NULL,
	[Banco] [varchar](100) NULL,
	[Estado] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
