USE [Administracion]
GO
/****** Object:  Table [tmp].[ExtractosBancariosCP]    Script Date: 30/04/2026 12:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tmp].[ExtractosBancariosCP](
	[Fecha] [varchar](100) NULL,
	[Concepto] [varchar](1000) NULL,
	[Comprobante] [varchar](100) NULL,
	[Debito] [varchar](100) NULL,
	[Credito] [varchar](100) NULL,
	[Monto] [varchar](100) NULL,
	[codigo] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
