USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Ver_Faltantes]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Ver_Faltantes]    
@HojaDeRutaID INT = 0,
@Excluido INT =0
AS
SET NOCOUNT ON 


SELECT *
--, (select Valor from Configuraciones WHERE Clave = 'Directorio_Archivos') AS Origen, (select Valor from Configuraciones WHERE Clave = 'Directorio_Local')  + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Destino
FROM HojaDeRutaDatos d  
WHERE  (d.HojaDeRutaID=@HojaDeRutaID or @HojaDeRutaID=0)
AND d.Excluido=@Excluido
--and (d.Telefono IS NULL OR d.DirectorioFactura IS NULL)
ORDER BY  d.RowID
 
  
GO
