USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_Eliminar_HojaDeRuta_NoProcesado]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Eliminar_HojaDeRuta_NoProcesado]
@HojaDeRutaID INT
AS

SET NOCOUNT ON

DECLARE @EstaAgrupado INT
EXEC [dbo].[usp_HojaDeRuta_Agrupacion_Sel] @HojaDeRutaID, @EstaAgrupado OUTPUT

DELETE d
from dbo.HojaDeRutaDatos D
INNER JOIN dbo.HojaDeRuta R ON R.RowID = D.HojaDeRutaID
WHERE R.Estado<>5 and R.RowID = @HojaDeRutaID

DELETE
FROM HojaDeRuta 
WHERE Estado<>5 and RowID = @HojaDeRutaID

IF @@ROWCOUNT>0 and @EstaAgrupado=1
BEGIN

	DELETE  HojaDeRutaDatosAgrupado 
	WHERE   HojaDeRutaID = @HojaDeRutaID

END



GO
