USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Copy]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Copy]
@HDR int
 
AS
-- [dbo].[usp_HojaDeRuta_Copy] 3946
BEGIN

	-- EL HDR que viene por paramentro es un el id interno, no es el hdr de america.
	-- con este parche el el campo HojaDeRutaID va a ser lo que viene en el texto del filename
 
	SET NOCOUNT ON 

	DECLARE @TotalFact INT
	DECLARE @AgrupacionDeFacturas INT
	DECLARE @HojaDeRutaID VARCHAR(6), @NewHDR INT = NULL

	BEGIN TRY
		SELECt @HojaDeRutaID = LEFT(REPLACE(NombreArchivo,'C:\Reclamos\HojasDeRuta\','') ,6)
		from Reclamos.dbo.HojaDeRuta
		WHERE RowID=@HDR

		IF isNumeric(@HojaDeRutaID)>0	
		BEGIN 
			SET @NewHDR = @HojaDeRutaID
		END
		ELSE
		BEGIN
			SET @NewHDR = @HDR
		END
		 


		SELECT @AgrupacionDeFacturas= Valor
		FROM Configuraciones
		WHERE Clave = 'AgrupacionDeFacturas'
		
		SET @AgrupacionDeFacturas= CASE WHEN @AgrupacionDeFacturas IS NULL THEN 0 ELSE @AgrupacionDeFacturas END


		DELETE FROM dbo.HojaDeRutaDatos WHERE HojaDeRutaID = @NewHDR
		INSERT INTO dbo.HojaDeRutaDatos(RowID,HojaDeRutaID,NombreArchivo,TipoFact,CodigoFact,FacturaID,ClienteID,ClienteNombre,RazonSocial,FormaPago,ImporteFactura,ImporteAPagar )
		SELECT RowID,@NewHDR,NombreArchivo,TipoFact,CodigoFact,FacturaID,ClienteID,ClienteNombre,RazonSocial,FormaPago,ImporteFactura,ImporteAPagar 
		FROM Reclamos.dbo.HojaDeRutaDatos
		WHERE HojaDeRutaID = @HDR

		SET @TotalFact = @@ROWCOUNT
		
		DELETE FROM dbo.HojaDeRutaDatosAgrupado WHERE HojaDeRutaID = @NewHDR
		INSERT INTO dbo.HojaDeRutaDatosAgrupado (HojaDeRutaID,ClienteID,FormaPago,ImporteFactura,ImporteAPagar,TotalFacturas,Facturas)
			SELECT HojaDeRutaID, ClienteID,max(FormaPago),Sum(ImporteFactura),Sum(ImporteAPagar),Count(1),
				  STUFF((SELECT '-' + CONVERT(VARCHAR(10),HDR2.FacturaID) 
				  FROM HojaDeRutaDatos HDR2
				  WHERE HDR2.HojaDeRutaID = HDR.HojaDeRutaID
				  AND HDR2.ClienteID=HDR.ClienteID
				  FOR XML PATH('')), 1, 1, '') [Facturas] 
			FROM HojaDeRutaDatos HDR 
			WHERE HDR.HojaDeRutaID = @NewHDR
			GROUP BY HojaDeRutaID, ClienteID
				
		
		
		DELETE FROM dbo.HojaDeRuta WHERE RowID = @NewHDR
		INSERT INTO dbo.HojaDeRuta (RowID,NombreArchivo,Clientes,Facturas,AgrupacionDeFacturas)
		SELECT  @NewHDR,NombreArchivo,Clientes,@TotalFact,@AgrupacionDeFacturas
		from Reclamos.dbo.HojaDeRuta
		WHERE RowID=@HDR
		


	END TRY
	BEGIN CATCH
		SELECT ERROR_MESSAGE()
	END CATCH
	 
END

GO
