USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[Cliente_Telefono_bkp]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente_Telefono_bkp](
	[ClienteID] [int] NOT NULL,
	[Telefono] [numeric](30, 0) NULL,
	[AgregadoDesde] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
