USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Save_Missing]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Save_Missing]    
@HojaDeRutaID INT = 0,
@HojaDeRutaDatosID INT = 0, 
@telefono VARCHAR(20) = '' 
AS
SET NOCOUNT ON 
 
IF (LEN(@telefono)<10)
BEGIN
	SELECT 1 hasError, 'Longitud telefono incorrecta' ErrorMessage
	RETURN
END

BEGIN TRY 
	
	/* estados hoja de ruta datos
	0 - Sin Datos
	1 - Sin Telefono
	2 - Sin PDF
	3 - Completo
	*/ 

	DECLARE @tel VARCHAR(20), @ClienteID INT =0, @AgrupacionDeFacturas INT=0
	SET @AgrupacionDeFacturas = (SELECT AgrupacionDeFacturas FROM HojaDeRuta WHERE RowID=@HojaDeRutaID)
	SET @tel  = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','')
	SET @ClienteID = (SELECT ClienteID FROM HojaDeRutaDatos WHERE RowID=@HojaDeRutaDatosID)
	IF ISNUMERIC(@tel)<>1
	BEGIN 
		SELECT 1 hasError, 'Numero de telefono no númerico' ErrorMessage
		RETURN
	END

	IF  @ClienteID IS NULL OR @ClienteID = 0
	BEGIN 
		SELECT 1 hasError, 'No fue posible encontrar al cliente' ErrorMessage
		RETURN
	END

	IF EXISTS(SELECT null FROM Cliente_Telefono WHERE ClienteID= @ClienteID) 
	BEGIN
		UPDATE Cliente_Telefono SET Telefono=@tel WHERE ClienteID= @ClienteID 
		--IF EXISTS(SELECT null FROM Cliente_Telefono WHERE ClienteID= @ClienteID AND Telefono<>@tel) 
		--BEGIN
		-- 	SELECT 1 hasError, 'El número de cliente ya tiene un telefono asociado' ErrorMessage
		--	RETURN
		--END
	END
	ELSE
	BEGIN
		INSERT INTO Cliente_Telefono(ClienteID,Telefono)
		SELECt @ClienteID,@tel
	END 

	UPDATE HojaDeRutaDatos SET 
		Telefono=@tel,
		estado = 
			CASE 
				WHEN DirectorioFactura is null Then 2 
				WHEN @telefono IS NOT NULL THEN 3 
			ELSE Estado END
	WHERE (RowID=@HojaDeRutaDatosID OR (HojaDeRutaID=@HojaDeRutaID AND ClienteID=@ClienteID))

	IF @AgrupacionDeFacturas=1
	BEGIN
		
		UPDATE HojaDeRutaDatosAgrupado SET 
			Telefono=@tel,
			estado = 
				CASE 
					WHEN DirectorioFactura is null Then 2 
					WHEN @telefono IS NOT NULL THEN 3 
				ELSE Estado END
		WHERE (HojaDeRutaID=@HojaDeRutaID AND ClienteID=@ClienteID)
	END


	EXEC [dbo].[usp_HojaDeRuta_upd] @HojaDeRutaID

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH



 

GO
