USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[Clave] [varchar](100) NULL,
	[Valor] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
