USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_EnProceso]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_EnProceso]  
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 

SELECT a.RowID as HojaDeRutaID
,REPLACE(a.NombreArchivo,'C:\Reclamos\HojasDeRuta\','') AS NombreArchivo
,a.Clientes
,a.Facturas
,CASE WHEN a.Estado IN (0) theN 'Pendiente' 
ELSE 'Procesado' END AS Estado,
a.Estado as Status,
SUM(ISNULL(d.ImporteAPagar,0) ) as Importe
FROM dbo.HojaDeRuta a
INNER JOIN dbo.HojaDeRutaDatos d on d.hojaderutaid = a.RowID
WHERE (@HojaDeRutaID=0 OR a.RowID=@HojaDeRutaID)
AND a.Estado IN (0)
GROUP BY a.RowID
,a.NombreArchivo
,a.Clientes
,a.Facturas
,CASE WHEN a.Estado IN (0) theN 'Pendiente' 
ELSE 'Procesado' END ,
a.Estado 
order by a.RowID
 

GO
