USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_enviar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_HojaDeRuta_enviar]
@HojaDeRutaID INT = 0
--WITH EXECUTE AS 'sa'
AS
SET NOCOUNT ON 

DECLARE @EstaAgrupado INT
EXEC [dbo].[usp_HojaDeRuta_Agrupacion_Sel] @HojaDeRutaID, @EstaAgrupado OUTPUT


UPDATE dbo.HojaDeRuta SET Estado=2
WHERE  RowID =@HojaDeRutaID

--SELECT ClienteID, MAX(Telefono) Telefono
--INTO #telefonos
--FROM Reclamos.dbo.Reclamo_Cliente
--GROUP BY ClienteID

UPDATE UPD SET 
	Telefono = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-',''),
	estado = 
			CASE 
				WHEN DirectorioFactura is null Then 2 
				WHEN REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','') IS NOT NULL THEN 3 
			ELSE upd.estado END
FROM dbo.HojaDeRutaDatos UPD
INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID
--LEFT JOIN #telefonos RCT ON RCT.ClienteID=upd.ClienteID 
LEFT JOIN Cliente_Telefono CT ON CT.ClienteID = UPD.ClienteID
WHERE ( x.Estado= 2  ) -- listo para enviar
AND ISNULL(upd.Enviado,0) = 0 -- no fue enviado previamente 
AND x.RowID =@HojaDeRutaID

-- parche para que siempre ponga el telefono de la empreesa
-- start
UPDATE UPD SET 
	Telefono = '2995360747',
	estado = 
			CASE 
				WHEN DirectorioFactura is null Then 2 
				WHEN REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE('2995360747',',',''),'.',''),'(',''),')',''),'+',''),'-','') IS NOT NULL THEN 3 
			ELSE upd.estado END
FROM dbo.HojaDeRutaDatos UPD
INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID 
WHERE ( x.Estado= 2  ) -- listo para enviar
AND ISNULL(upd.Enviado,0) = 0
-- end 


UPDATE dbo.HojaDeRutaDatos SET 
	Estado = 
		CASE 
			WHEN Telefono	IS NULL THEN 1 /* Sin telefonos */ 
			WHEN DirectorioFactura	IS NULL THEN 2 /* Sin Facturas */ 
			ELSE 3  END --Completo
WHERE HojaDeRutaID=@HojaDeRutaID



IF @EstaAgrupado=1
BEGIN
	--GROUP BY ClienteID
	
-- parche para que siempre ponga el telefono de la empreesa
-- start
	UPDATE UPD SET 
		Telefono = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-',''),
		estado = 
				CASE 
					WHEN DirectorioFactura is null Then 2 
					WHEN REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','') IS NOT NULL THEN 3 
				ELSE upd.estado END
	FROM dbo.HojaDeRutaDatosAgrupado UPD
	INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID
	--LEFT JOIN #telefonos RCT ON RCT.ClienteID=upd.ClienteID 
	LEFT JOIN Cliente_Telefono CT ON CT.ClienteID = UPD.ClienteID
	WHERE ( x.Estado= 2  ) -- listo para enviar
	AND ISNULL(upd.Enviado,0) = 0 -- no fue enviado previamente 
	AND x.RowID =@HojaDeRutaID

	UPDATE UPD SET 
		Telefono = '2995360747',
		estado = 
				CASE 
					WHEN DirectorioFactura is null Then 2 
					WHEN REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE('2995360747',',',''),'.',''),'(',''),')',''),'+',''),'-','') IS NOT NULL THEN 3 
				ELSE upd.estado END
	FROM dbo.HojaDeRutaDatosAgrupado UPD
	INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID 
	WHERE ( x.Estado= 2  ) -- listo para enviar
	AND ISNULL(upd.Enviado,0) = 0 -- no fue enviado previamente 
	AND x.RowID =@HojaDeRutaID
	 
-- end

	UPDATE dbo.HojaDeRutaDatosAgrupado SET 
		Estado = 
			CASE 
				WHEN Telefono	IS NULL THEN 1 /* Sin telefonos */ 
				WHEN DirectorioFactura	IS NULL THEN 2 /* Sin Facturas */ 
				ELSE 3  END --Completo
	WHERE HojaDeRutaID=@HojaDeRutaID


END


EXEC [dbo].[usp_HojaDeRuta_upd]  @HojaDeRutaID



 
 




GO
