USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[WhatsAPP_API_Log]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WhatsAPP_API_Log](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[HojaDeRutaDatosID] [int] NOT NULL,
	[AgrupacionDeFacturas] [int] NOT NULL,
	[PayLoad] [nvarchar](4000) NULL,
	[ResponseCode] [varchar](20) NULL,
	[dateadded] [datetime] NULL,
	[ClienteID] [int] NULL,
	[EsReenvio] [int] NULL,
 CONSTRAINT [PK__WhatsAPP__API_Log] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC,
	[HojaDeRutaID] ASC,
	[HojaDeRutaDatosID] ASC,
	[AgrupacionDeFacturas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[WhatsAPP_API_Log] ADD  DEFAULT (getdate()) FOR [dateadded]
GO
ALTER TABLE [dbo].[WhatsAPP_API_Log] ADD  DEFAULT ((0)) FOR [EsReenvio]
GO
