USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Reenvio_Save_Missing]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Reenvio_Save_Missing]    
@HojaDeRutaID INT = 0,
@HojaDeRutaDatosID INT = 0, 
@AgrupacionDeFacturas INT = 0, 
@telefono VARCHAR(20) = '' 
AS
SET NOCOUNT ON 
 
IF (LEN(@telefono)<10)
BEGIN
	SELECT 1 hasError, 'Longitud telefono incorrecta' ErrorMessage
	RETURN
END

BEGIN TRY 
	
	/* estados hoja de ruta datos
	0 - Sin Datos
	1 - Sin Telefono
	2 - Sin PDF
	3 - Completo
	*/ 

	IF ISNULL(@HojaDeRutaID,0) = 0 or  ISNULL(@HojaDeRutaDatosID,0) = 0 
	BEGIN 
		SELECT 1 hasError, 'Parametros incorrectos @HojaDeRutaDatosID o @HojaDeRutaID' AS ErrorMessage
		RETURN
	END


	DECLARE @tel VARCHAR(20), @ClienteID INT =0
	SET @tel  = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','')

	IF ISNUMERIC(@tel)<>1
	BEGIN 
		SELECT 1 hasError, 'Numero de telefono no númerico' ErrorMessage
		RETURN
	END
	
	IF @AgrupacionDeFacturas=1
	BEGIN
		SET @ClienteID = (SELECT ClienteID FROM HojaDeRutaDatosAgrupado WHERE RowID=@HojaDeRutaDatosID)
	END
	ELSE
	BEGIN
		SET @ClienteID = (SELECT ClienteID FROM HojaDeRutaDatos WHERE RowID=@HojaDeRutaDatosID)
	END
	  

	IF  @ClienteID IS NULL OR @ClienteID = 0
	BEGIN 
		SELECT 1 hasError, 'No fue posible encontrar al cliente' ErrorMessage
		RETURN
	END

	IF NOT EXISTS( SELECT NULL FROM tmp.Cliente_Factura_Reenvio WHERE HojaDeRutaID=@HojaDeRutaID and HojaDeRutaDatosID=@HojaDeRutaDatosID and ClienteID=@ClienteID)
	BEGIN
		INSERT INTO tmp.Cliente_Factura_Reenvio (HojaDeRutaID,HojaDeRutaDatosID,ClienteID,Telefono,AgrupacionDeFacturas)
		VALUES (@HojaDeRutaID,@HojaDeRutaDatosID,@ClienteID,@tel,@AgrupacionDeFacturas)
	END
	ELSE
	BEGIN
		UPDATE tmp.Cliente_Factura_Reenvio SET 
			Telefono=@tel   
		WHERE HojaDeRutaID=@HojaDeRutaID and HojaDeRutaDatosID=@HojaDeRutaDatosID and ClienteID=@ClienteID
	END


	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH



GO
