USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Reenvio_ins]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Reenvio_ins]     
@HojaDeRutaID INT = 0 ,
@ClienteID INT,
@TelefonoNew VARCHAR(20) = NULL
AS
SET NOCOUNT ON 


BEGIN TRY 

	DECLARE @telefono VARCHAR(20) = '', @AgrupacionDeFacturas INT =0, @RowIDReenvio INT,@Inserted INT, @Deleted INT, @HojaDeRutaDatosID INT
 
	SELECT @AgrupacionDeFacturas=AgrupacionDeFacturas FROM HojaDeRuta WHERE RowID=@HojaDeRutaID

	IF @AgrupacionDeFacturas=1
	BEGIN
		INSERT INTO tmp.Cliente_Factura_Reenvio (HojaDeRutaID,HojaDeRutaDatosID,ClienteID,Telefono,AgrupacionDeFacturas)
		SELECT HojaDeRutaID,RowID,ClienteID,ISNULL(@TelefonoNew,Telefono), 1
		FROM HojaDeRutaDatosAgrupado 
		WHERE HojaDeRutaID=@HojaDeRutaID AND ClienteID=@ClienteID
	END
	ELSE
	BEGIN
		INSERT INTO tmp.Cliente_Factura_Reenvio (HojaDeRutaID,HojaDeRutaDatosID,ClienteID,Telefono,AgrupacionDeFacturas)
		SELECT  HojaDeRutaID,RowID,ClienteID,ISNULL(@TelefonoNew,Telefono), 0 FROM HojaDeRutaDatos WHERE HojaDeRutaID=@HojaDeRutaID AND ClienteID=@ClienteID
	END
	 
	INSERT INTO dbo.Cliente_Factura_Reenvio (RowID,HojaDeRutaID,HojaDeRutaDatosID,ClienteID,Telefono,AgrupacionDeFacturas,ListoParaEnvio,Enviado,Estado)
	SELECT RowID, HojaDeRutaID,HojaDeRutaDatosID,ClienteID,telefono,AgrupacionDeFacturas,1,0,0
	FROM  tmp.Cliente_Factura_Reenvio a
	--WHERE NOT EXISTS (SELECT NULL FROM dbo.Cliente_Factura_Reenvio X WHERE X.HojaDeRutaID= a.HojaDeRutaID AND x.HojaDeRutaDatosID=a.HojaDeRutaDatosID AND a.ClienteID=x.ClienteID)
	SET @Inserted= @@ROWCOUNT
	 
	DELETE del
	FROM tmp.Cliente_Factura_Reenvio del
	INNER JOIN dbo.Cliente_Factura_Reenvio X ON X.HojaDeRutaID= del.HojaDeRutaID AND x.HojaDeRutaDatosID=del.HojaDeRutaDatosID AND del.ClienteID=x.ClienteID 
	
	SET @Deleted= @@ROWCOUNT

	IF @Inserted<>@Deleted
	BEGIN
		RAISERROR (N'Error al insertar y borrar:  %s ',  
    10, -- Severity,
    1, -- State,
    N'[dbo].[usp_HojaDeRuta_Reenvio_Update]'
	); -- Second argument. 
	END

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH
GO
