USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_WhatsAPP_Preparar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_WhatsAPP_Preparar]
@HojaDeRutaID INT = 0 
AS
SET NOCOUNT ON 


DECLARE @RowsAffected INT = 0, @Valor VARCHAR(10)=NULL

BEGIN TRY
	BEGIN TRAN
	
	SELECT @Valor= Valor FROM Configuraciones WHERE Clave='FacturaObligatoria'
	IF ISNULL(@Valor,1) = 0
	BEGIN
		UPDATE dbo.HojaDeRuta SET Estado=8
		WHERE  RowID =@HojaDeRutaID
	
		SET @RowsAffected=@@ROWCOUNT
	END
	ELSE
	BEGIN
		UPDATE dbo.HojaDeRuta SET Estado=5
		WHERE  RowID =@HojaDeRutaID
		and estado=4
		SET @RowsAffected=@@ROWCOUNT

	END

	
	SELECT 0 AS HasError, CONVERT(VARCHAR,@RowsAffected) + ' transacciones registradas' AS Mensaje 

	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	SELECT 1 AS HasError, ERROR_MESSAGE() + ' 0 transacciones registradas' AS Mensaje

END CATCH






GO
