USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[WhatsAPP_API_OnDemand_Log]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WhatsAPP_API_OnDemand_Log](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[PayLoad] [nvarchar](4000) NULL,
	[Telefono] [varchar](20) NULL,
	[NombreTemplate] [varchar](50) NULL,
	[ResponseCode] [varchar](20) NULL,
	[dateadded] [datetime] NULL,
 CONSTRAINT [PK_WhatsAPP_API_OnDemand_Log] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[WhatsAPP_API_OnDemand_Log] ADD  DEFAULT (getdate()) FOR [dateadded]
GO
