USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_WhatsAPP_API_preparar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_HojaDeRuta_WhatsAPP_API_preparar] 
AS
SET NOCOUNT ON 

-- cambiado a estado 9 para que no envie por whatsapp hasta que tengamos todos los telefonos
-- cuando tengamos los telefonos cambiar el update a SET estado=8
UPDATE dbo.HojaDeRuta 
	-- SET Estado=8
	SET Estado=9 -- (enviado ok)
WHERE  Estado=7


GO
