USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_WhatsAPP_Buscar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_HojaDeRuta_WhatsAPP_Buscar]      
@HojaDeRutaID INT = 0,
@ClienteID INT = 0,
@Factura VARCHAR(50) = ''

AS
SET NOCOUNT ON 

IF (SELECT COUNT(*) FROM Configuraciones WHERE Clave = 'AgrupacionDeFacturas' AND Valor=1)>0
BEGIN 

	SELECT  d.RowID,d.ClienteID,d.Facturas as FacturaID,d.FormaPago,d.ImporteFactura,d.ImporteAPagar,isnull(f.Telefono,d.Telefono) AS Telefono,d.DirectorioFactura,
	 a.Estado StatusHDR, c.Nombre AS ClienteNombre, d.HojaDeRutaID, a.AgrupacionDeFacturas
	FROM dbo.HojaDeRutaDatosAgrupado d 
	INNER JOIN dbo.HojaDeRuta a on a.RowID=d.HojaDeRutaID 
	LEFT JOIN Reclamos.dbo.Cliente	c on c.Id = d.ClienteID 
	LEFT JOIN tmp.Cliente_Factura_Reenvio f on f.HojaDeRutaID=d.HojaDeRutaID and f.HojaDeRutaDatosID=d.RowID 
	WHERE  
		(@HojaDeRutaID=0 or d.HojaDeRutaID = @HojaDeRutaID)
	AND
		(@ClienteID=0 or d.ClienteID = @ClienteID)
	AND
		(@Factura='' or d.DirectorioFactura LIKE '%' + @Factura + '%')

	AND d.Excluido=0
	-- esto es para mostrar los que estan listos para reenviar en otra lista.
	--AND NOT exists( SELECT NULL FROM Cliente_Factura_Reenvio f2 WHERE f2.HojaDeRutaID=d.HojaDeRutaID and f2.HojaDeRutaDatosID=d.RowID AND f2.[ListoParaEnvio] = 1 )

	ORDER BY a.DateAdded desc, RowID ASC
END
ELSE
BEGIN

	SELECT  d.RowID,d.ClienteID,d.FacturaID as FacturaID,d.FormaPago,d.ImporteFactura,d.ImporteAPagar,isnull(f.Telefono,d.Telefono) AS Telefono,d.DirectorioFactura
	, a.Estado StatusHDR,ClienteNombre, d.HojaDeRutaID, a.AgrupacionDeFacturas
	FROM dbo.HojaDeRutaDatos d 
	INNER JOIN dbo.HojaDeRuta a on a.RowID=d.HojaDeRutaID 
	LEFT JOIN tmp.Cliente_Factura_Reenvio f on f.HojaDeRutaID=d.HojaDeRutaID and f.HojaDeRutaDatosID=d.RowID
	WHERE  
		(@HojaDeRutaID=0 or d.HojaDeRutaID = @HojaDeRutaID)
	AND
		(@ClienteID=0 or d.ClienteID = @ClienteID)
	AND
		(@Factura='' or d.DirectorioFactura LIKE '%' + @Factura + '%')

	AND d.Excluido=0
	--AND NOT exists( SELECT NULL FROM Cliente_Factura_Reenvio f2 WHERE f2.HojaDeRutaID=d.HojaDeRutaID and f2.HojaDeRutaDatosID=d.RowID AND f2.[ListoParaEnvio] = 1 )
	ORDER BY a.DateAdded desc, RowID ASC

END

GO
