USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Procesados]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Procesados]  
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 

SELECT TOP 20   a.RowID AS HojaDeRutaID 
,REPLACE(a.NombreArchivo,'C:\Reclamos\HojasDeRuta\','') AS NombreArchivo
,a.Clientes 
,a.Facturas
,SUM(CASE WHEN d.Telefono IS NOT NULL AND ISNULL(d.Excluido,0)=0 THEN 1 ELSE 0 END)   as TotalTelefonos
,SUM(CASE WHEN d.DirectorioFactura IS NOT NULL AND ISNULL(d.Excluido,0)=0 THEN 1 ELSE 0 END)  as TotalDirectorios
,SUM( CASE WHEN d.SubidoFTP=1  AND ISNULL(d.Excluido,0)=0  THEN 1 ELSE 0 END)  as SubidosFTP
,COUNT(DISTINCT CASE WHEN d.Enviado=1    AND ISNULL(d.Excluido,0)=0  THEN d.ClienteID ELSE NULL END)  as Enviados
,CASE  
WHEN a.Estado IN  (1)  theN 'Iniciado'
WHEN a.Estado IN  (2)  theN 'Sin Información'
WHEN a.Estado IN  (3)  theN 'En Revisión'
WHEN a.Estado IN  (4)  theN 'Completo'
WHEN a.Estado IN  (5) THEN 'Preparando Envio'
WHEN a.Estado IN  (6) THEN 'Subiendo PDF a FTP'
WHEN a.Estado IN  (7) THEN 'PDF Listo en FTP'
WHEN a.Estado IN  (8) THEN 'Enviando WhatsApp'
WHEN a.Estado IN  (9) THEN 'Enviado' 
WHEN a.Estado IN  (10) THEN 'Enviado con errores' 
ELSE 'Avisar a sebastian'
END AS Estado,
a.Estado as Status ,
SUM(ISNULL(d.ImporteAPagar,0)) as Importe,
CASE 
	-- por ahora tiene que ser facturas porque un cliente puede tener varias facturas y la columna cliente es un distinct
	WHEN a.facturas = SUM(CASE WHEN d.Telefono is not null and d.Excluido=0 THEN 1  ELSE 0 END ) THEN 1
	ELSE 0  
END AS EstadoTelefonos,
CASE 
	WHEN a.facturas = SUM(CASE WHEN d.DirectorioFactura is not null and d.Excluido=0 THEN 1  ELSE 0 END ) THEN 1
	ELSE 0  
END AS EstadoPDFs,
(SELECT Valor FROM Configuraciones WHERE Clave = 'FacturaObligatoria') AS FacturaObligatoria
FROM dbo.HojaDeRuta a
INNER JOIN HojaDeRutaDatos d on d.HojaDeRutaID= a.RowID
WHERE (@HojaDeRutaID=0 OR a.RowID=@HojaDeRutaID)
AND a.Estado >=2
GROUP BY a.RowID 
,a.NombreArchivo
,a.Clientes 
,a.Facturas  
,CASE 
WHEN a.Estado IN  (1)  theN 'Iniciado'
WHEN a.Estado IN  (2)  theN 'Sin Información'
WHEN a.Estado IN  (3)  theN 'En Revisión'
WHEN a.Estado IN  (4)  theN 'Completo'
WHEN a.Estado IN  (5) THEN 'Preparando Envio'
WHEN a.Estado IN  (6) THEN 'Subiendo PDF a FTP'
WHEN a.Estado IN  (7) THEN 'PDF Listo en FTP'
WHEN a.Estado IN  (8) THEN 'Enviando WhatsApp'
WHEN a.Estado IN  (9) THEN 'Enviado' 
WHEN a.Estado IN  (10) THEN 'Enviado con errores' 
ELSE 'Avisar a sebastian'
END,
a.Estado 
order by  a.RowID 
 desc
  
GO
