USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Agrupacion_Sel]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Agrupacion_Sel]
@HojaDeRutaID INT = 0,
@EstaAgrupado INT = 0 OUTPUT
--WITH EXECUTE AS 'sa'
AS
SET NOCOUNT ON 

SELECT @EstaAgrupado = AgrupacionDeFacturas
FROM HojaDeRuta a
WHERE RowID=@HojaDeRutaID


GO
