USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Terminados_Pendientes]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Terminados_Pendientes]  
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 

SELECT  a.RowID AS HojaDeRutaID 
,REPLACE(a.NombreArchivo,'C:\Reclamos\HojasDeRuta\','') AS NombreArchivo
-- INFORMACION DE CLIENTES
,COUNT(DISTINCT d.ClienteID) AS ClientesTotales
,COUNT(DISTINCT CASE WHEN (d.Excluido=0) THEN d.ClienteID ELSE NULL END ) AS ClientesIncluidos
,COUNT(DISTINCT CASE WHEN (d.Excluido=1) THEN d.ClienteID ELSE NULL END ) AS ClientesExcluidos

-- INFORMACION DE ENVIOS
,COUNT(DISTINCT CASE WHEN (d.Excluido=0) THEN d.ClienteID ELSE NULL END ) AS EnviosTotales
,COUNT(DISTINCT CASE WHEN (d.Excluido=0  AND d.ResponseCodePDF=1) THEN d.ClienteID ELSE NULL END ) AS EnviosOK
,COUNT( DISTINCT CASE WHEN (d.Excluido=0 AND d.ResponseCodePDF=2) THEN d.ClienteID ELSE NULL END ) AS EnviosError
,CASE  
WHEN a.Estado IN  (1)  theN 'Iniciado'
WHEN a.Estado IN  (2)  theN 'Sin Información'
WHEN a.Estado IN  (3)  theN 'En Revisión'
WHEN a.Estado IN  (4)  theN 'Completo'
WHEN a.Estado IN  (5) THEN 'Preparando Envio'
WHEN a.Estado IN  (6) THEN 'Subiendo PDF a FTP'
WHEN a.Estado IN  (7) THEN 'PDF Listo en FTP'
WHEN a.Estado IN  (8) THEN 'Enviando WhatsApp'
WHEN a.Estado IN  (9) THEN 'Enviado' 
WHEN a.Estado IN  (10) THEN 'Enviado con errores' 
ELSE 'Avisar a sebastian'
END AS Estado,
a.Estado as Status 
FROM dbo.HojaDeRuta a
INNER JOIN HojaDeRutaDatos d on d.HojaDeRutaID= a.RowID
WHERE (@HojaDeRutaID=0 OR a.RowID=@HojaDeRutaID)
AND a.Estado >= 9  
GROUP BY a.RowID 
,a.NombreArchivo
,CASE 
WHEN a.Estado IN  (1)  theN 'Iniciado'
WHEN a.Estado IN  (2)  theN 'Sin Información'
WHEN a.Estado IN  (3)  theN 'En Revisión'
WHEN a.Estado IN  (4)  theN 'Completo'
WHEN a.Estado IN  (5) THEN 'Preparando Envio'
WHEN a.Estado IN  (6) THEN 'Subiendo PDF a FTP'
WHEN a.Estado IN  (7) THEN 'PDF Listo en FTP'
WHEN a.Estado IN  (8) THEN 'Enviando WhatsApp'
WHEN a.Estado IN  (9) THEN 'Enviado' 
WHEN a.Estado IN  (10) THEN 'Enviado con errores' 
ELSE 'Avisar a sebastian'
END,
a.Estado 
order by a.RowID desc



--select * FROM dbo.HojaDeRuta a
--INNER JOIN HojaDeRutaDatos d on d.HojaDeRutaID= a.RowID
--WHERE (3594=0 OR a.RowID=3594)
--AND a.Estado >= 9 
--AND  (d.Excluido=1 or d.ResponseCodePDF<>1)
GO
