USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Terminados_Pendientes_Download]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Terminados_Pendientes_Download]  
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON  


DECLARE @EstaAgrupado INT
EXEC [dbo].[usp_HojaDeRuta_Agrupacion_Sel] @HojaDeRutaID, @EstaAgrupado OUTPUT


IF @EstaAgrupado=0
BEGIN 
	SELECT     
	RowID,  
	HojaDeRutaID,
	ClienteID,
	FacturaID,
	--ClienteNombre,
	--RazonSocial,
	FormaPago,
	ImporteFactura,
	ImporteAPagar,
	--Enviado,
	Telefono,
	DirectorioFactura,
	--Estado,
	--ResponseCodePDF,
	--ResponseTextPDF,
	--ResponseCodePalabra,
	--ResponseTextCodePalabra,
	--PalabraClave,
	Excluido
	FROM dbo.HojaDeRutaDatos d  
	WHERE  d.HojaDeRutaID=@HojaDeRutaID
	AND (d.Excluido=1 or ResponseCodePDF=2)
	ANd d.Enviado=0
	ORDER BY RowID

END 

IF @EstaAgrupado=1
BEGIN 
	SELECT     
	RowID,  
	HojaDeRutaID,
	ClienteID,
	Facturas as FacturaID,
	--c.clClienteNombre,
	--RazonSocial,
	FormaPago,
	ImporteFactura,
	ImporteAPagar,
	--Enviado,
	Telefono,
	DirectorioFactura,
	--Estado,
	--ResponseCodePDF,
	--ResponseTextPDF,
	--ResponseCodePalabra,
	--ResponseTextCodePalabra,
	--PalabraClave,
	Excluido
	FROM dbo.HojaDeRutaDatosAgrupado d  
	--LEFT JOIN Reclamos.dbo.Cliente c on c.Id=d.ClienteID
	WHERE  d.HojaDeRutaID=@HojaDeRutaID
	AND (d.Excluido=1 or ResponseCodePDF=2)
	ANd d.Enviado=0
	ORDER BY RowID

END 

GO
