USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_WhatsAPP_API_Terminar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_HojaDeRuta_WhatsAPP_API_Terminar] 
@HojaDeRutaID INT
AS
SET NOCOUNT ON 

UPDATE dbo.HojaDeRuta SET Estado=9
WHERE  RowID = @HojaDeRutaID AND Estado=8


 

 
 





GO
