USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[HojaDeRutaDatos]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HojaDeRutaDatos](
	[RowID] [int] NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[TipoFact] [varchar](10) NULL,
	[CodigoFact] [varchar](10) NULL,
	[FacturaID] [int] NULL,
	[ClienteID] [int] NULL,
	[ClienteNombre] [varchar](255) NULL,
	[RazonSocial] [varchar](255) NULL,
	[FormaPago] [varchar](100) NULL,
	[ImporteFactura] [numeric](18, 2) NULL,
	[ImporteAPagar] [numeric](18, 2) NULL,
	[Enviado] [int] NULL,
	[Telefono] [varchar](20) NULL,
	[DirectorioFactura] [varchar](255) NULL,
	[Estado] [int] NULL,
	[ResponseCodePDF] [int] NULL,
	[ResponseTextPDF] [varchar](1000) NULL,
	[ResponseCodePalabra] [int] NULL,
	[ResponseTextCodePalabra] [varchar](1000) NULL,
	[PalabraClave] [int] NULL,
	[SubidoFTP] [int] NOT NULL,
	[FTPComments] [varchar](1000) NULL,
	[Excluido] [int] NULL,
	[FTP_Depurado] [int] NULL,
	[FechaEnviado] [datetime] NULL,
	[HojaDeRutaDatos_Archivos_id] [int] NULL,
	[GoogleDriveId] [nvarchar](100) NULL,
	[GoogleDriveLink] [nvarchar](500) NULL,
 CONSTRAINT [PK_HojaDeRutaDatos] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC,
	[HojaDeRutaID] ASC,
	[NombreArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [Enviado]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT (NULL) FOR [Telefono]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT (NULL) FOR [DirectorioFactura]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [ResponseCodePDF]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT (NULL) FOR [ResponseTextPDF]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [ResponseCodePalabra]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT (NULL) FOR [ResponseTextCodePalabra]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [PalabraClave]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [SubidoFTP]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [Excluido]
GO
ALTER TABLE [dbo].[HojaDeRutaDatos] ADD  DEFAULT ((0)) FOR [FTP_Depurado]
GO
