USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_WhatsAPP_FTP_preparar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_HojaDeRuta_WhatsAPP_FTP_preparar] 
AS
SET NOCOUNT ON 

UPDATE dbo.HojaDeRuta SET Estado=6
WHERE  Estado=5
 



GO
