USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Reenvio_Update]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Reenvio_Update]     
@HojaDeRutaID INT = 0 ,
@HojaDeRutaDatosID INT = 0 ,
@AgrupacionDeFacturas INT = 0
AS
SET NOCOUNT ON 


BEGIN TRY 

	DECLARE @existe INT=0, @telefono VARCHAR(20) = '', @clienteID INT, @RowIDReenvio INT,@Inserted INT, @Deleted INT
	SELECT @existe= 1, @telefono = Telefono, @clienteID=ClienteID,@RowIDReenvio = RowID FROM tmp.Cliente_Factura_Reenvio f2 WHERE f2.HojaDeRutaID=@HojaDeRutaID and f2.HojaDeRutaDatosID=@HojaDeRutaDatosID

	IF @existe=0
	BEGIN
		IF @AgrupacionDeFacturas=1
			SELECT @telefono = Telefono, @clienteID=ClienteID FROM HojaDeRutaDatosAgrupado WHERE RowID=@HojaDeRutaDatosID 
		Else
			SELECT @telefono = Telefono, @clienteID=ClienteID FROM HojaDeRutaDatos  WHERE RowID=@HojaDeRutaDatosID 

		INSERT INTO tmp.Cliente_Factura_Reenvio (HojaDeRutaID,HojaDeRutaDatosID,ClienteID,Telefono,AgrupacionDeFacturas)
		VALUES (@HojaDeRutaID,@HojaDeRutaDatosID,@ClienteID,@telefono,@AgrupacionDeFacturas)
		SET @RowIDReenvio= @@IDENTITY
	END 

		INSERT INTO dbo.Cliente_Factura_Reenvio (RowID,HojaDeRutaID,HojaDeRutaDatosID,ClienteID,Telefono,AgrupacionDeFacturas,ListoParaEnvio,Enviado,Estado)
		SELECT @RowIDReenvio, HojaDeRutaID,@HojaDeRutaDatosID,@ClienteID,@telefono,@AgrupacionDeFacturas,1,0,0
		FROM  tmp.Cliente_Factura_Reenvio
		WHERE RowID= @RowIDReenvio

	SET @Inserted= @@ROWCOUNT

	DELETE FROM tmp.Cliente_Factura_Reenvio WHERE RowID= @RowIDReenvio

	SET @Deleted= @@ROWCOUNT

	IF @Inserted<>@Deleted
	BEGIN
		RAISERROR (N'Error al insertar y borrar:  %s ',  
    10, -- Severity,
    1, -- State,
    N'[dbo].[usp_HojaDeRuta_Reenvio_Update]'
	); -- Second argument. 
	END

	SELECT 0 hasError, '' ErrorMessage
END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH
GO
