USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[WhatsAPP_API_OnDemand_Envios]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WhatsAPP_API_OnDemand_Envios](
	[RowID] [int] NULL,
	[PayLoad] [varchar](max) NULL,
	[Enviado] [int] NOT NULL,
	[NombreTemplate] [varchar](30) NULL,
	[Telefono] [varchar](20) NULL,
	[FechaProcesado] [datetime] NULL,
	[ResponseCode] [int] NULL,
	[ResponseText] [varchar](3000) NULL,
	[FechaEnvio] [datetime] NULL,
	[WhatsAppID]  AS (ltrim(rtrim(substring([ResponseText],charindex('"id":"',[ResponseText])+(6),charindex('"',[ResponseText],charindex('"id":"',[ResponseText])+(6))-(charindex('"id":"',[ResponseText])+(6))))))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[WhatsAPP_API_OnDemand_Envios] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
