USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[Cliente_Factura_Reenvio]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Cliente_Factura_Reenvio](
	[RowID] [int] NOT NULL,
	[HojaDeRutaID] [int] NULL,
	[HojaDeRutaDatosID] [int] NULL,
	[ClienteID] [int] NULL,
	[Telefono] [varchar](20) NULL,
	[AgrupacionDeFacturas] [int] NULL,
	[DateAdded] [datetime] NULL,
	[ListoParaEnvio] [int] NOT NULL,
	[Enviado] [int] NOT NULL,
	[Estado] [int] NULL,
	[ResponseCodePDF] [int] NULL,
	[ResponseTextPDF] [varchar](1000) NULL,
	[FechaEnvio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Cliente_Factura_Reenvio] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Cliente_Factura_Reenvio] ADD  DEFAULT ((0)) FOR [ListoParaEnvio]
GO
ALTER TABLE [dbo].[Cliente_Factura_Reenvio] ADD  DEFAULT ((0)) FOR [Enviado]
GO
ALTER TABLE [dbo].[Cliente_Factura_Reenvio] ADD  DEFAULT ((0)) FOR [Estado]
GO
