USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRutaDatos_Eliminar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[usp_HojaDeRutaDatos_Eliminar]   
@HojaDeRutaID INT = 0, 
@HojaDeRutaDatosID INT = 0
AS
SET NOCOUNT ON 

BEGIN TRY
	BEGIN TRAN
	DECLARE @RowsAffected INT = 0 
	DECLARE @ClienteID INT =0
	SET @ClienteID = (SELECT ClienteID FROM HojaDeRutaDatos WHERE RowID=@HojaDeRutaDatosID)

	--DELETE HojaDeRutaDatos WHERE RowID = @HojaDeRutaDatosID or (HojaDeRutaID = @HojaDeRutaID and ClienteID = @ClienteID)  
	UPDATE HojaDeRutaDatos SET Excluido = 1 
	WHERE RowID = @HojaDeRutaDatosID or (HojaDeRutaID = @HojaDeRutaID and ClienteID = @ClienteID) 

 
	SET @RowsAffected= @@ROWCOUNT
	

	DECLARE @EstaAgrupado INT
	EXEC [dbo].[usp_HojaDeRuta_Agrupacion_Sel] @HojaDeRutaID, @EstaAgrupado OUTPUT
	IF @EstaAgrupado=1
	BEGIN
		--DELETE HojaDeRutaDatosAgrupado WHERE  (HojaDeRutaID = @HojaDeRutaID and ClienteID = @ClienteID)  
		UPDATE HojaDeRutaDatosAgrupado SET Excluido = 1  WHERE  (HojaDeRutaID = @HojaDeRutaID and ClienteID = @ClienteID)
	END
	
	IF @RowsAffected > 0 
	BEGIN
		EXEC dbo.[usp_HojaDeRuta_upd] @HojaDeRutaID
	END

	SELECT 0 AS HasError, CONVERT(VARCHAR,@RowsAffected) + CASE WHEN @RowsAffected>1 THEN ' registros excluidos' ELSE ' registro excluidos' END AS Mensaje 

	COMMIT TRAN
END TRY
BEGIN CATCH
	ROLLBACK TRAN

	SELECT 1 AS HasError, ERROR_MESSAGE() + ' No hay registros para excluir' AS Mensaje

END CATCH

GO
