USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Reenviados]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Reenviados]  
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 


	SELECT d.RowID,d.ClienteID,CONVERT(VARCHAR(255),d.Facturas) as FacturaID,d.FormaPago,d.ImporteFactura,d.ImporteAPagar,isnull(f.Telefono,d.Telefono) AS Telefono,d.DirectorioFactura,
		 a.Estado StatusHDR, c.Nombre AS ClienteNombre, d.HojaDeRutaID, a.AgrupacionDeFacturas,
		CASE  
		WHEN f.Estado IN  (0,1)  theN 'Iniciado'
		WHEN f.Estado IN  (2)  theN 'Sin Información'
		WHEN f.Estado IN  (3)  theN 'En Revisión'
		WHEN f.Estado IN  (4)  theN 'Completo'
		WHEN f.Estado IN  (5) THEN 'Preparando Envio'
		WHEN f.Estado IN  (6) THEN 'Subiendo PDF a FTP'
		WHEN f.Estado IN  (7) THEN 'PDF Listo en FTP'
		WHEN f.Estado IN  (8) THEN 'Enviando WhatsApp'
		WHEN f.Estado IN  (9) THEN 'Enviado' 
		WHEN f.Estado IN  (10) THEN 'Enviado con errores' 
		ELSE 'Avisar a sebastian'
		END AS Estado, f.Estado as status
	FROM dbo.HojaDeRutaDatosAgrupado d 
	INNER JOIN dbo.HojaDeRuta a on a.RowID=d.HojaDeRutaID 
	INNER JOIN dbo.Cliente_Factura_Reenvio f on f.HojaDeRutaID=d.HojaDeRutaID and f.HojaDeRutaDatosID=d.RowID  
	LEFT JOIN Reclamos.dbo.Cliente	c on c.Id = d.ClienteID  
	WHERE (@HojaDeRutaID=0 OR a.RowID=@HojaDeRutaID)
	AND a.AgrupacionDeFacturas=1
UNION ALL
	SELECT  d.RowID,d.ClienteID,CONVERT(VARCHAR(255),a.Facturas)as FacturaID,d.FormaPago,d.ImporteFactura,d.ImporteAPagar,isnull(f.Telefono,d.Telefono) AS Telefono,d.DirectorioFactura
	, a.Estado StatusHDR,ClienteNombre, d.HojaDeRutaID, a.AgrupacionDeFacturas,
		CASE  
		WHEN f.Estado IN  (0,1)  theN 'Iniciado'
		WHEN f.Estado IN  (2)  theN 'Sin Información'
		WHEN f.Estado IN  (3)  theN 'En Revisión'
		WHEN f.Estado IN  (4)  theN 'Completo'
		WHEN f.Estado IN  (5) THEN 'Preparando Envio'
		WHEN f.Estado IN  (6) THEN 'Subiendo PDF a FTP'
		WHEN f.Estado IN  (7) THEN 'PDF Listo en FTP'
		WHEN f.Estado IN  (8) THEN 'Enviando WhatsApp'
		WHEN f.Estado IN  (9) THEN 'Enviado' 
		WHEN f.Estado IN  (10) THEN 'Enviado con errores' 
		ELSE 'Avisar a sebastian'
		END AS Estado, f.Estado as status
	FROM dbo.HojaDeRutaDatos d 
	INNER JOIN dbo.HojaDeRuta a on a.RowID=d.HojaDeRutaID 
	INNER JOIN dbo.Cliente_Factura_Reenvio f on f.HojaDeRutaID=d.HojaDeRutaID and f.HojaDeRutaDatosID=d.RowID  
	WHERE (@HojaDeRutaID=0 OR a.RowID=@HojaDeRutaID)
	AND a.AgrupacionDeFacturas=1

	 


GO
