USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[FTP_HTTPS]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FTP_HTTPS](
	[https] [int] NOT NULL
) ON [PRIMARY]

GO
