USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[Cliente_Telefono]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente_Telefono](
	[ClienteID] [int] NOT NULL,
	[Telefono] [numeric](30, 0) NULL,
	[AgregadoDesde] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Cliente_Telefono] ADD  DEFAULT ('PLATAFORMA') FOR [AgregadoDesde]
GO
