USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[HojaDeRuta]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HojaDeRuta](
	[RowID] [int] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[Clientes] [int] NOT NULL,
	[Facturas] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[AgrupacionDeFacturas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HojaDeRuta] ADD  DEFAULT ((0)) FOR [Clientes]
GO
ALTER TABLE [dbo].[HojaDeRuta] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[HojaDeRuta] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
