USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cliente_Guardar_Telefono]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Cliente_Guardar_Telefono]
@ClienteID INT,
@Telefono varchar(20)
AS

SET NOCOUNT ON 

IF (LEN(@Telefono)<10)
BEGIN
	SELECT 1 hasError, 'Longitud telefono incorrecta' ErrorMessage
	RETURN
END

BEGIN TRY 
	 -- = = = = = = = = 
	 -- Cambiar tabla Cliente_Telefono_def por Cliente_Telefono cuando lancemos el 1/7/2025

	DECLARE @tel VARCHAR(20), @Cli INT
	SET @tel  = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','')
 
	IF ISNUMERIC(@tel)<>1
	BEGIN 
		SELECT 1 hasError, 'Numero de telefono no númerico' ErrorMessage
		RETURN
	END

	-- valido cliente
	SET @Cli=0
	SELECT @Cli=ClienteID
	FROM Ventas.dbo.Clientes 
	where ClienteID =@ClienteID

	IF isnull(@Cli,0)=0
	BEGIN
		SELECT @Cli=Id
		FROM Reclamos.dbo.Cliente
		WHERE id = @ClienteID
	END
	IF  @Cli IS NULL OR @Cli = 0
	BEGIN 
		SELECT 1 hasError, 'No fue posible encontrar el número de cuenta, por favor verifique el número ingresado' ErrorMessage
		RETURN
	END
	-- Fin valido cliente

	-- Verifico colaborador
	IF EXISTS (SELECT  NULL FROM colaboradores_telefono WHERE Telefono=@tel)
	BEGIN
		SELECT 1 hasError, 'No se puede agregar este número ya que el telefono pertenece a un colaborador nuestro' ErrorMessage
		RETURN
	END

	IF EXISTS(SELECT null FROM Cliente_Telefono_def WHERE ClienteID= @ClienteID) 
	BEGIN
		UPDATE Cliente_Telefono SET Telefono=@tel WHERE ClienteID= @ClienteID 
	END
	ELSE
	BEGIN
		INSERT INTO Cliente_Telefono_def(ClienteID,Telefono)
		SELECt @ClienteID,@tel
	END 
	 
	SELECT 0 hasError, 'El telefono fue registrado correctamente' ErrorMessage

	-- descomentar cuando se lance el 1/7/2025
	--EXEC [dbo].[usp_HojaDeRuta_Telefonos_upd] @Cli

END TRY
BEGIN CATCH
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage
END CATCH



  
GO
