USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Telefonos_upd]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Telefonos_upd]    
@ClienteID INT = 0
AS
SET NOCOUNT ON

DECLARE @RowID INT=0, @RowIDMax INT=0, @HDR INT

BEGIN
	IF OBJECT_ID('tempdb..#tempHojaDeRuta') IS NOT NULL
		DROP TABLE #tempHojaDeRuta 


	CREATE TABLE #tempHojaDeRuta (RowID INT IDENTITY(1,1) NOT NULL PRIMARY KEY, HojaDeRutaID INT )
	INSERT INTO #tempHojaDeRuta (HojaDeRutaID)
	SELECT UPD.HojaDeRutaID 
	FROM dbo.HojaDeRutaDatos UPD
	INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID 
	LEFT JOIN Cliente_Telefono_def CT ON CT.ClienteID = UPD.ClienteID
	WHERE ( x.Estado BETWEEN 2 AND 3  ) -- listo para enviar
	AND UPD.Estado<3 -- no este completo
	AND UPD.Telefono IS NULL 
	AND UPD.ClienteID=@ClienteID
	GROUP BY UPD.HojaDeRutaID

 
	UPDATE UPD SET 
		Telefono = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-',''),
		estado = 
				CASE 
					WHEN DirectorioFactura is null Then 2 
					WHEN REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','') IS NOT NULL THEN 3 
				ELSE upd.estado END
	FROM dbo.HojaDeRutaDatos UPD
	INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID 
	LEFT JOIN Cliente_Telefono_def CT ON CT.ClienteID = UPD.ClienteID
	WHERE ( x.Estado BETWEEN 2 AND 3  ) -- listo para enviar
	AND UPD.Estado<3 -- no este completo
	AND UPD.Telefono IS NULL 
	AND UPD.ClienteID=@ClienteID


	UPDATE UPD SET 
		Estado = 
			CASE 
				WHEN Telefono	IS NULL THEN 1 /* Sin telefonos */ 
				WHEN DirectorioFactura	IS NULL THEN 2 /* Sin Facturas */ 
				ELSE 3  END --Completo 
	FROM dbo.HojaDeRutaDatos UPD
	INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID 
	WHERE ( x.Estado BETWEEN 2 AND 3  ) 
		AND UPD.Estado<3
		AND UPD.Enviado=0
		AND UPD.ClienteID=@ClienteID

		 
	UPDATE UPD SET 
		Telefono = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-',''),
		estado = 
				CASE 
					WHEN DirectorioFactura is null Then 2 
					WHEN REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CT.Telefono,',',''),'.',''),'(',''),')',''),'+',''),'-','') IS NOT NULL THEN 3 
				ELSE upd.estado END
	FROM dbo.HojaDeRutaDatosAgrupado UPD
	INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID 
	LEFT JOIN Cliente_Telefono_def CT ON CT.ClienteID = UPD.ClienteID
	WHERE ( x.Estado BETWEEN 2 AND 3  ) -- listo para enviar
	AND UPD.Estado<3 -- no este completo
	AND UPD.Telefono IS NULL 
	AND UPD.ClienteID=@ClienteID


	UPDATE dbo.HojaDeRutaDatosAgrupado SET 
		Estado = 
			CASE 
				WHEN Telefono	IS NULL THEN 1 /* Sin telefonos */ 
				WHEN DirectorioFactura	IS NULL THEN 2 /* Sin Facturas */ 
				ELSE 3  END --Completo
	FROM dbo.HojaDeRutaDatosAgrupado UPD
	INNER JOIN dbo.HojaDeRuta x  ON UPD.HojaDeRutaID = x.RowID 
	WHERE ( x.Estado BETWEEN 2 AND 3  ) 
		AND UPD.Estado<3
		AND UPD.Enviado=0
		AND UPD.ClienteID=@ClienteID



	SELECT @RowID = MIN(RowID), @RowIDMax=MAX(RowID) FROM #tempHojaDeRuta

	WHILE @RowID<=@RowIDMax
	BEGIN
		SELECT @HDR = HojaDeRutaID FROM #tempHojaDeRuta WHERE RowID=@RowID

		EXEC [dbo].[usp_HojaDeRuta_upd] @HDR

		SET @RowID = @RowID +1 

	END



END

GO
