USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[FacturaExtraccionLog]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[FacturaExtraccionLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[NombreArchivo] [nvarchar](255) NULL,
	[NumeroFactura] [varchar](20) NULL,
	[Resultado] [nvarchar](50) NULL,
	[Mensaje] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FacturaExtraccionLog] ADD  DEFAULT (getdate()) FOR [FechaHora]
GO
