USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_Reenvio_Missing]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[usp_HojaDeRuta_Reenvio_Missing]     
@HojaDeRutaDatosID INT = 0 ,
@AgrupacionDeFacturas INT = 0
AS
SET NOCOUNT ON 
  
IF (@AgrupacionDeFacturas=0)
BEGIN

	SELECT isnull(f.telefono,d.Telefono) AS telefono,d.ClienteID,d.RazonSocial
	FROM dbo.HojaDeRutaDatos d
	LEFT JOIN tmp.Cliente_Factura_Reenvio f on f.HojaDeRutaID=d.HojaDeRutaID and f.HojaDeRutaDatosID=d.RowID
	WHERE d.RowID=@HojaDeRutaDatosID
	-- esto es para mostrar los que estan listos para reenviar en otra lista.
	--AND NOT exists( SELECT NULL FROM Cliente_Factura_Reenvio f2 WHERE f2.HojaDeRutaID=d.HojaDeRutaID and f2.HojaDeRutaDatosID=d.RowID AND f2.[ListoParaEnvio] = 1 )

END


IF (@AgrupacionDeFacturas=1)
BEGIN

	SELECT isnull(f.telefono,d.Telefono) AS telefono,d.ClienteID,a.Nombre as RazonSocial
	FROM dbo.HojaDeRutaDatosAgrupado d
	LEFT JOIN tmp.Cliente_Factura_Reenvio f on f.HojaDeRutaID=d.HojaDeRutaID and f.HojaDeRutaDatosID=d.RowID
	LEFT JOIN Reclamos.dbo.Cliente a on a.Id= d.ClienteID
	WHERE d.RowID=@HojaDeRutaDatosID 
	-- esto es para mostrar los que estan listos para reenviar en otra lista.
	--AND NOT exists( SELECT NULL FROM Cliente_Factura_Reenvio f2 WHERE f2.HojaDeRutaID=d.HojaDeRutaID and f2.HojaDeRutaDatosID=d.RowID AND f2.[ListoParaEnvio] = 1 )

END
 
GO
