USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_view]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_HojaDeRuta_view]    
@HojaDeRutaID INT = 0,
@excluidos	INT = 0
AS
SET NOCOUNT ON 


SELECT  *
FROM dbo.HojaDeRutaDatos d  
WHERE  d.HojaDeRutaID=@HojaDeRutaID
AND (d.Excluido=@excluidos)


 
GO
