USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_GetRow_Missing]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_HojaDeRuta_GetRow_Missing]     
@HojaDeRutaDatosID INT = 0 
AS
SET NOCOUNT ON 
 
SELECT Telefono,ClienteID,RazonSocial
FROM dbo.HojaDeRutaDatos
WHERE RowID=@HojaDeRutaDatosID



GO
