USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[HojaDeRutaDatosReenvio]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HojaDeRutaDatosReenvio](
	[RowID] [int] NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[TipoFact] [varchar](10) NULL,
	[CodigoFact] [varchar](10) NULL,
	[FacturaID] [int] NULL,
	[ClienteID] [int] NULL,
	[FormaPago] [varchar](100) NULL,
	[ImporteFactura] [numeric](18, 2) NULL,
	[ImporteAPagar] [numeric](18, 2) NULL,
	[Enviado] [int] NULL,
	[Telefono] [varchar](20) NULL,
	[DirectorioFactura] [varchar](255) NULL,
	[ResponseCodePDF] [int] NULL,
	[ResponseTextPDF] [varchar](1000) NULL,
 CONSTRAINT [PK_HojaDeRutaDatosReenvio] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC,
	[HojaDeRutaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HojaDeRutaDatosReenvio] ADD  DEFAULT ((0)) FOR [Enviado]
GO
ALTER TABLE [dbo].[HojaDeRutaDatosReenvio] ADD  DEFAULT (NULL) FOR [Telefono]
GO
ALTER TABLE [dbo].[HojaDeRutaDatosReenvio] ADD  DEFAULT (NULL) FOR [DirectorioFactura]
GO
ALTER TABLE [dbo].[HojaDeRutaDatosReenvio] ADD  DEFAULT ((0)) FOR [ResponseCodePDF]
GO
ALTER TABLE [dbo].[HojaDeRutaDatosReenvio] ADD  DEFAULT (NULL) FOR [ResponseTextPDF]
GO
