USE [WhatsAppAPI]
GO
/****** Object:  Table [dbo].[Factura_Cliente]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Factura_Cliente](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaID] [int] NULL,
	[FacturaID] [int] NULL,
	[ClienteID] [int] NULL,
	[ImporteFactura] [numeric](18, 2) NULL,
	[FormaPago] [varchar](50) NULL,
	[Archivo] [varchar](255) NULL,
	[Estado] [int] NOT NULL,
	[MensajeError] [nvarchar](1000) NULL,
	[DateAddeed] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Factura_Cliente] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Factura_Cliente] ADD  DEFAULT (getdate()) FOR [DateAddeed]
GO
