USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_upd]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_upd]    
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON

BEGIN

	DECLARE @EstaAgrupado INT
	EXEC [dbo].[usp_HojaDeRuta_Agrupacion_Sel] @HojaDeRutaID, @EstaAgrupado OUTPUT

	-- Refrescar HDR
	UPDAte HojaDeRuta SET
		Estado = 
			CASE 
				WHEN Estado>1 AND TotalItems = TotalTelefonos AND TotalItems = TotalFacturas THEN 4
				WHEN Estado>1 AND TotalItems <> TotalTelefonos or TotalItems <> TotalFacturas THEN 3
			ELSE
				Estado
			END,
		Facturas = TotalItems,
		Clientes = TotalClientes
	FROM HojaDeRuta UPD
	INNER JOIN ( 			
		SELECT HojaDeRutaID, COUNT(*) TotalItems, COUNT(Distinct ClienteID) TotalClientes, SUM(CASE WHEN d.Telefono is NOT null THEN 1 ELSE 0 END) TotalTelefonos, SUM(CASE WHEN d.DirectorioFactura is NOT null THEN 1 ELSE 0 END) TotalFacturas 
		FROM HojaDeRutaDatos D  
		WHERE (@HojaDeRutaID =0  or D.HojaDeRutaID= @HojaDeRutaID)
		AND ISNULL(D.Excluido,0)=0
		GROUP BY HojaDeRutaID
		) A ON A.HojaDeRutaID = UPD.RowID
	WHERE (@HojaDeRutaID= 0 or RowID=@HojaDeRutaID)
	AND UPD.Estado<=4

	IF @EstaAgrupado = 1
	BEGIN
	
		SELECT HojaDeRutaID, ClienteID,Telefono,max(FormaPago) AS FormaPago,Sum(ImporteFactura) AS ImporteFactura,Sum(ImporteAPagar) AS ImporteAPagar,Count(1) AS TotalFacturas,
				STUFF((SELECT '-' + CONVERT(VARCHAR(10),HDR2.FacturaID) 
				FROM HojaDeRutaDatos HDR2
				WHERE HDR2.HojaDeRutaID = HDR.HojaDeRutaID
				AND HDR2.ClienteID=HDR.ClienteID
				AND ISNULL(HDR2.Excluido,0)=0
				FOR XML PATH('')), 1, 1, '') [Facturas] 

		INTO #ForUpdate
		FROM HojaDeRutaDatos HDR 
		INNER JOIN HojaDeRuta a ON a.RowID=HDR.HojaDeRutaID
		WHERE (@HojaDeRutaID =0  or HDR.HojaDeRutaID= @HojaDeRutaID)
		AND ISNULL(HDR.Excluido,0)=0
		AND a.Estado<=4
		GROUP BY HojaDeRutaID, ClienteID, Telefono

		UPDAte UPD SET
			FormaPago=x.FormaPago,
			ImporteFactura= x.ImporteFactura,
			ImporteAPagar = x.ImporteAPagar,
			TotalFacturas = x.TotalFacturas,
			Facturas = x.Facturas,
			Telefono = x.Telefono
		FROM HojaDeRutaDatosAgrupado UPD
		INNER JOIN #ForUpdate x on x.HojaDeRutaID= UPD.HojaDeRutaID AND x.ClienteID= UPD.ClienteID
  
		UPDATE HDR Set Excluido=1
		FROM HojaDeRutaDatosAgrupado HDR
		INNER JOIN HojaDeRuta a ON a.RowID=HDR.HojaDeRutaID
		WHERE (@HojaDeRutaID =0 or HDR.HojaDeRutaID= @HojaDeRutaID)
		AND ISNULL(HDR.Excluido,0)=0
		AND HDR.Estado<=4
		AND NOT Exists(SELECT NULL FROM #ForUpdate Upd WHERE Upd.HojaDeRutaID=HDR.HojaDeRutaID AND Upd.ClienteID = HDR.ClienteID)
 
	END

END

GO
