USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_download]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_download]   
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON  

SELECT     
RowID,  
HojaDeRutaID,
ClienteID,
FacturaID,
ClienteNombre,
RazonSocial,
FormaPago,
ImporteFactura,
ImporteAPagar,
Enviado,
Telefono,
DirectorioFactura,
Estado,
ResponseCodePDF,
ResponseTextPDF,
ResponseCodePalabra,
ResponseTextCodePalabra,
PalabraClave,
Excluido
FROM dbo.HojaDeRutaDatos d  
WHERE  d.HojaDeRutaID=@HojaDeRutaID
ORDER BY RowID



GO
