USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_Drive_UpLoad_Agrupado]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_Drive_UpLoad_Agrupado]    
AS
SET NOCOUNT ON 
 

SELECT d.HojaDeRutaID,d.RowID AS HojaDeRutaDatosAgrupadoID, a.AgrupacionDeFacturas,
(select Valor from Configuraciones WHERE Clave = 'Directorio_Local') + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Origen,  
DirectorioFactura NombreArchivo,d.ClienteID
FROM HojaDeRutaDatosAgrupado d  
INNER JOIN HojaDeRuta a ON a.RowID=d.HojaDeRutaID
WHERE (d.DirectorioFactura IS NOT NULL) 
AND d.Enviado<>1 
AND d.SubidoFTP=0 
AND ISNULL(d.Excluido,0)=0
AND EXISTS (
	SELECT NULL 
	FROM HojaDeRuta D2 
	INNER JOIN HojaDeRutaDatos X ON x.HojaDeRutaID=D2.RowID
	WHERE D2.RowID=d.HojaDeRutaID AND (D2.Estado=7 or x.SubidoFTP=1)
	)
ORDER BY d.HojaDeRutaID,d.ClienteID


GO
