USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_Drive_Log_Ins]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_Drive_Log_Ins]
@HojaDeRutaID INT,
@HojaDeRutaDatosID INT,
@AgrupacionDeFacturas INT,
@StepProcess VARCHAR(1000)
AS
SET NOCOUNT ON 

INSERT INTO python.WhatsAPP_GoogleDrive_API_Log (HojaDeRutaID
,HojaDeRutaDatosID
,AgrupacionDeFacturas
,StepProcess)
VALUES
(
 @HojaDeRutaID
,@HojaDeRutaDatosID
,@AgrupacionDeFacturas
,@StepProcess
)

RETURN 0
GO
