USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_Drive_UpLoad]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_Drive_UpLoad]    
AS
SET NOCOUNT ON 


SELECT d.HojaDeRutaID,d.RowID AS HojaDeRutaDatosID, 0 AS AgrupacionDeFacturas /* para que se vea bien el el log*/,
(select Valor from Configuraciones WHERE Clave = 'Directorio_Local') + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Origen,  
DirectorioFactura NombreArchivo,d.ClienteID
FROM HojaDeRutaDatos d  
INNER JOIN HojaDeRuta a ON a.RowID=d.HojaDeRutaID
WHERE (d.DirectorioFactura IS NOT NULL)
 --descomentar esto cuando este listo
AND d.Enviado<>1
AND a.Estado=6 
AND d.SubidoFTP=0
AND ISNULL(d.Excluido,0)=0
ORDER BY d.HojaDeRutaID,d.RowID

GO
