USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_FTP_UpLoad]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_FTP_UpLoad]    
AS
SET NOCOUNT ON 


SELECT d.HojaDeRutaID,d.RowID,
(select Valor from Configuraciones WHERE Clave = 'Directorio_Local') + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Origen, 
'\\'+(select Valor from Configuraciones WHERE Clave = 'FTP')  + '\FacturaDigital\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Destino
, DirectorioFactura NombreArchivo,
first_value(d.RowID) over(partition by d.HojaDeRutaID  order by d.RowID DESC) as LastHojaDeRutaDatosID,

(select Valor from Configuraciones WHERE Clave = 'FTP_Ip')  AS ServerIP,
(select Valor from Configuraciones WHERE Clave = 'FTP_Ip_Folder') + '/' + CONVERT(VARCHAR(20),ClienteID) + '/' AS DestinoIP
FROM HojaDeRutaDatos d  
INNER JOIN HojaDeRuta a ON a.RowID=d.HojaDeRutaID
WHERE (d.DirectorioFactura IS NOT NULL)
AND d.Enviado<>1
AND a.Estado=6 
AND d.SubidoFTP=0
AND ISNULL(d.Excluido,0)=0
ORDER BY d.HojaDeRutaID,d.RowID

GO
