USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaEnvio_Detalle_Actualizar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaEnvio_Detalle_Actualizar]   
@RowID INT,
@FacturasAgrupadas INT,
@ResponseCode VARCHAR(50),
@ResponseText VARCHAR(1000)
AS
SET NOCOUNT ON  
DECLARE @ClienteID INT, @Facturas VARCHAR(255), @TotalFacturas INT, @HojaDeRutaID INT
DECLARE @tbFacturas TABLE (RowID INT,FacturaID INT)

IF @FacturasAgrupadas=0
BEGIN 
	UPDATE HojaDeRutaDatos SET
		Enviado = CASE WHEN @ResponseCode='1' THEN 1 ELSE 0 END,
		ResponseCodePDF=@ResponseCode,
		ResponseTextPDF =@ResponseText,
		FechaEnviado = GETDATE() -- Enivado o no enviendo
	WHERE RowID= @RowID
END

IF @FacturasAgrupadas=1
BEGIN 
	
	SELECT @HojaDeRutaID=HojaDeRutaID, @ClienteID=ClienteID, @Facturas=Facturas, @TotalFacturas = TotalFacturas
	FROM HojaDeRutaDatosAgrupado WITH(NOLOCK)
	WHERE RowID=@RowID

	IF @TotalFacturas=1 
	BEGIN
		UPDATE HojaDeRutaDatos SET 
			Enviado = CASE WHEN @ResponseCode='1' THEN 1 ELSE 0 END,
			ResponseCodePDF= @ResponseCode,
			ResponseTextPDF =@ResponseText,
			FechaEnviado = GETDATE() -- Enivado o no enviendo
		WHERE HojaDeRutaID = @HojaDeRutaID
		AND ClienteID=@ClienteID
		AND FacturaID=@Facturas
	END 
	ELSE
	BEGIN
		INSERT INTO @tbFacturas (RowID,FacturaID)
		SELECT ItemNumber,ID from [dbo].[udf_DelimitedSplit8K] (@Facturas,'-') 
		
		UPDATE UPD SET 
			Enviado = CASE WHEN @ResponseCode='1' THEN 1 ELSE 0 END,
			ResponseCodePDF= @ResponseCode,
			ResponseTextPDF =@ResponseText,
			FechaEnviado = GETDATE() -- Enivado o no enviendo
		FROM HojaDeRutaDatos UPD
		INNER JOIN @tbFacturas F ON F.FacturaID=UPD.FacturaID
		WHERE UPD.HojaDeRutaID = @HojaDeRutaID
		AND UPD.ClienteID=@ClienteID
	END


	UPDATE HojaDeRutaDatosAgrupado SET
		Enviado = CASE WHEN @ResponseCode='1' THEN 1 ELSE 0 END,
		ResponseCodePDF= @ResponseCode,
		ResponseTextPDF =@ResponseText,
		FechaEnviado = GETDATE() -- Enivado o no enviendo
	WHERE RowID= @RowID
END


GO
