USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRutaDatos_Archivos_Upd]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRutaDatos_Archivos_Upd]
    @Id INT, 
    @GoogleDriveId NVARCHAR(100),
    @GoogleDriveLink NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [python].[HojaDeRutaDatos_Archivos]
    SET 
        GoogleDriveId = @GoogleDriveId,
        GoogleDriveLink = @GoogleDriveLink,
        FechaSubida = GETDATE()
    WHERE Id = @Id;
END;

GO
