USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_LookForPDF]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_LookForPDF]    
AS
SET NOCOUNT ON 


SELECT d.HojaDeRutaID,d.RowID,d.FacturaID,d.ClienteID, (select Valor from Configuraciones WHERE Clave = 'Directorio_Archivos') AS Origen, (select Valor from Configuraciones WHERE Clave = 'Directorio_Local')  + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Destino
,a.DateAdded, (select Valor from Configuraciones WHERE Clave = 'Directorio_Pre_Drive') + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS PreDrive
FROM HojaDeRutaDatos d  
INNER JOIN HojaDeRuta a ON a.RowID=d.HojaDeRutaID
WHERE (d.DirectorioFactura IS NULL)
AND d.Enviado<>1
AND d.Estado<5
AND a.Estado BETWEEN 2 and 4 

--and isnull(d.Excluido,0)=0 
--AND datediff(dd,Dateadded,getdate())<4


GO
