USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_Terminar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_Terminar]   
@HojaDeRutaID INT,
@HasError INT
AS
SET NOCOUNT ON 


UPDATE HojaDeRuta SET
	Estado = CASE WHEN @HasError=0 THEN 9 ELSE 10 END
WHERE RowID= @HojaDeRutaID
AND Estado=8


GO
