USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_WhatsAPP_API_OnDemand_Log_Ins]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_WhatsAPP_API_OnDemand_Log_Ins]   
@PayLoad NVARCHAR(4000),
@NombreTemplate VARCHAR(50),
@telefono VARCHAR(20),
@ResponseCode VARCHAR(20)

AS
SET NOCOUNT ON 
 


INSERT INTO [dbo].WhatsAPP_API_OnDemand_Log(PayLoad,Telefono,NombreTemplate,ResponseCode) 
VALUES (@PayLoad,@Telefono,@NombreTemplate,@ResponseCode)







GO
