USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_https_upd]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [python].[usp_https_upd]
@estado INT =0
AS
BEGIN 
	SET NOCOUNT ON;
	UPDATE [dbo].[FTP_HTTPS] SET https =@estado
END

GO
