USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_FacturaInsertarLog]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_FacturaInsertarLog]
    @NombreArchivo NVARCHAR(255),
    @NumeroFactura VARCHAR(20),
    @Resultado NVARCHAR(50),
    @Mensaje NVARCHAR(1000)
AS
BEGIN
    INSERT INTO dbo.FacturaExtraccionLog (NombreArchivo, NumeroFactura, Resultado, Mensaje)
    VALUES (@NombreArchivo, @NumeroFactura, @Resultado, @Mensaje)
END

GO
