USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaEnvio]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaEnvio]    
AS
SET NOCOUNT ON 


SELECT RowID AS HojaDeRutaID, AgrupacionDeFacturas
FROM HojaDeRuta a WITH(NOLOCK)
WHERE a.Estado=8

GO
