USE [WhatsAppAPI]
GO
/****** Object:  Table [python].[HojaDeRutaDatos_Archivos]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [python].[HojaDeRutaDatos_Archivos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaID] [int] NULL,
	[HojaDeRutaDatosID] [int] NULL,
	[AgrupacionDeFacturas] [int] NULL,
	[RutaArchivo] [nvarchar](255) NULL,
	[GoogleDriveId] [nvarchar](100) NULL,
	[GoogleDriveLink] [nvarchar](500) NULL,
	[FechaSubida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
