USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_UpdatePDF_Agrupado]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_UpdatePDF_Agrupado]    
@HojaDeRutaID INT,  
@ClienteID INT,
@Archivo VARCHAR(255)
AS
SET NOCOUNT ON 

UPDATE HojaDeRutaDatosAgrupado SET
	DirectorioFactura = @Archivo,
	estado = CASE 
				WHEN Telefono is null Then 1 
				WHEN @Archivo IS NOT NULL THEN 3
				ELSE estado END
WHERE HojaDeRutaID= @HojaDeRutaID
AND ClienteID = @ClienteID 

-- ya no es necesario porque lo hace hace no agrupado que corre siempre
--IF @@ROWCOUNT>0
--BEGIN
--	UPDAte HojaDeRuta SET
--		Estado = 3
--	WHERE RowID=@HojaDeRutaID
--	and Estado<>3
--END 
 
GO
