USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_Facturas_Para_Procesar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [python].[usp_Facturas_Para_Procesar] 
 AS
 SET NOCOUNT ON

 SELECT RowID,Archivo 
 FROM Factura_Cliente 
 WHERE Estado=0  or estado=-3 -- or FacturaID = 579955  





 

GO
