USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_Drive_Terminar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_Drive_Terminar]    
@HojaDeRutaID INT
AS
SET NOCOUNT ON 

UPDATE HojaDeRuta SET
	Estado=7
WHERE RowID=@HojaDeRutaID
and Estado=6

GO
