USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaReenvio_Detalle_Actualizar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaReenvio_Detalle_Actualizar]   
@RowID INT, 
@ResponseCode VARCHAR(50),
@ResponseText VARCHAR(1000)
AS
SET NOCOUNT ON   
 
 UPDATE dbo.Cliente_Factura_Reenvio SET
	Enviado = CASE WHEN @ResponseCode='1' THEN 1 ELSE 0 END,
	ResponseCodePDF= @ResponseCode,
	ResponseTextPDF =@ResponseText,
	FechaEnvio=getdate()
WHERE RowID = @RowID
 





GO
