USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_Log_Ins]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_Log_Ins]   
@HojaDeRutaID INT,
@HojaDeRutaDatosID INT,
@FacturasAgrupadas INT,
@ResponseCode VARCHAR(20),
@PayLoad NVARCHAR(4000),
@esReenvio INT=0
AS
SET NOCOUNT ON 


DECLARE @ClienteID INT 
IF @FacturasAgrupadas=1
BEGIN
SELECT @ClienteID = ClienteID FROM HojaDeRutaDatosAgrupado WHERE RowID=@HojaDeRutaDatosID
END
IF @FacturasAgrupadas=0
BEGIN
SELECT @ClienteID = ClienteID FROM HojaDeRutaDatos WHERE RowID=@HojaDeRutaDatosID 
END


INSERT INTO [dbo].[WhatsAPP_API_Log] (HojaDeRutaID,HojaDeRutaDatosID,AgrupacionDeFacturas,PayLoad,ResponseCode,ClienteID,EsReenvio) 
VALUES (@HojaDeRutaID,@HojaDeRutaDatosID,@FacturasAgrupadas,@PayLoad,@ResponseCode,@ClienteID,@EsReenvio)





GO
