USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_Reenvio_Terminar]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_Reenvio_Terminar]   
@RowID INT,
@HasError INT
AS
SET NOCOUNT ON 


UPDATE Cliente_Factura_Reenvio SET
	Estado = CASE WHEN @HasError=0 THEN 9 ELSE 10 END
WHERE RowID= @RowID
 



GO
