USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_https_sel]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [python].[usp_https_sel]
@estado INT =0
AS
BEGIN 
	SET NOCOUNT ON;
	select * from dbo.ftp_https
END

GO
