USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaReenvio]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaReenvio]    
AS
SET NOCOUNT ON 


SELECT  RowID, HojaDeRutaID, HojaDeRutaDatosID , AgrupacionDeFacturas
 
FROM dbo.Cliente_Factura_Reenvio a WITH(NOLOCK)
WHERE a.Estado IN (0,1)
and a.ListoParaEnvio= 1

GO
