USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaEnvio_Detalle]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaEnvio_Detalle] 
@HojaDeRutaID INT,
@FacturasAgrupadas INT
AS
SET NOCOUNT ON 

IF @FacturasAgrupadas=0 
BEGIN 

	SELECT RowID,FacturaID,ClienteID,FormaPago,ImporteFactura,
	CASE WHEN LEFT(Telefono,2) = '54' THEN Telefono ELSE '54'+Telefono END AS Telefono,
	DirectorioFactura AS NombreFactura,ImporteAPagar,
	1 AS TotalFacturas,
	GoogleDriveLink
	FROM HojaDeRutaDatos a WITH(NOLOCK)
	WHERE a.HojaDeRutaID= @HojaDeRutaID
	AND a.Enviado=0
	AND ISNULL(a.Excluido,0)=0
	ORDER BY a.ClienteID

END

IF @FacturasAgrupadas=1
BEGIN 

	SELECT RowID,Facturas,ClienteID,FormaPago,ImporteFactura,
	CASE WHEN LEFT(Telefono,2) = '54' THEN Telefono ELSE '54'+Telefono END AS Telefono,
	DirectorioFactura AS NombreFactura,ImporteAPagar,
	TotalFacturas,
	GoogleDriveLink

	FROM HojaDeRutaDatosAgrupado a WITH(NOLOCK)
	WHERE a.HojaDeRutaID = @HojaDeRutaID
	AND a.Enviado=0
	AND ISNULL(a.Excluido,0)=0
	--and rowid in (13,15)
	ORDER BY a.ClienteID
END 


GO
