USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_FTP_Update]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_FTP_Update]    
@HojaDeRutaDatosID INT,
@Subido INT,
@MensajeFTP VARCHAR(1000)=null
AS
SET NOCOUNT ON 

UPDATE HojaDeRutaDatos SET
	SubidoFTP=@Subido,
	FTPComments= CASE WHEN ISNULL(@MensajeFTP,'') = '' THEN NULL ELSE @MensajeFTP END
WHERE RowID=@HojaDeRutaDatosID
AND SubidoFTP=0

GO
