USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_WhatsAPP_Depurar_Archivos_Local]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_WhatsAPP_Depurar_Archivos_Local]   
AS
SET NOCOUNT ON 
 
	SELECT 
		(select Valor from Configuraciones WHERE Clave = 'Directorio_Local') + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Origen,  
		d.DirectorioFactura
	FROM HojaDeRutaDatos  d
	WHERE d.Estado>=3
	AND d.Enviado=1
	AND d.SubidoFTP=1
	and d.FTP_Depurado = 1
	and DATEDIFF(dd,d.FechaEnviado,getdate())>=15
UNION
	SELECT 
		(select Valor from Configuraciones WHERE Clave = 'Directorio_Local') + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Origen,  
		d.DirectorioFactura
	FROM HojaDeRutaDatosAgrupado  d
	--INNER JOIN WhatsAPP_API_Log a on a.HojaDeRutaID=d.HojaDeRutaID and a.HojaDeRutaDatosID=d.RowID AND a.AgrupacionDeFacturas=1
	WHERE d.Estado>=3
	AND d.Enviado=1 
	AND d.SubidoFTP=1
	and d.FTP_Depurado = 1
	and DATEDIFF(dd,d.FechaEnviado,getdate())>=15


GO
