USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_Facturas_Para_Procesar_upd]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [python].[usp_Facturas_Para_Procesar_upd]
    @RowID INT,
    @Estado INT,
    @MensajeError NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Factura_Cliente
    SET 
        Estado = @Estado,
        DateUpdated = GETDATE(),
        MensajeError = @MensajeError
    WHERE RowID = @RowID;
END

GO
