USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_WhatsAPP_Reparto_Preparar_Facturas]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [python].[usp_WhatsAPP_Reparto_Preparar_Facturas]    
AS
SET NOCOUNT ON 

INSERT INTO dbo.Factura_Cliente (HojaDeRutaID,FacturaID,ClienteID,ImporteFactura,FormaPago,Archivo,Estado)
SELECT HojaDeRutaID,FacturaID,ClienteID,ImporteFactura,FormaPago,'\\192.168.200.13\\c$\\FacturaDigital\\Facturas\\'+CONVERT(VARCHAR(20),ClienteID)+'\\'+DirectorioFactura,0
FROM HojaDeRutaDatos d
WHERE Estado>=3 and DirectorioFactura IS NOT NULL
AND NOT EXISTS (SELECT NULL FROM dbo.Factura_Cliente x WHERE x.FacturaID = d.FacturaID and x.ClienteID=d.ClienteID )
GO
