USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_FTP_Up]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_FTP_Up]    
AS
SET NOCOUNT ON 


SELECT d.HojaDeRutaID,d.RowID,d.FacturaID,d.ClienteID, (select Valor from Configuraciones WHERE Clave = 'Directorio_Archivos') AS Origen, (select Valor from Configuraciones WHERE Clave = 'Directorio_Local')  + '\' +CONVERT(VARCHAR(20),ClienteID) + '\' AS Destino
,a.DateAdded
FROM HojaDeRutaDatos d  
INNER JOIN HojaDeRuta a ON a.RowID=d.HojaDeRutaID
WHERE (d.DirectorioFactura IS NOT NULL)
AND d.Enviado<>1
AND a.Estado=6 


 
GO
