USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_Factura_Existe]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [python].[usp_Factura_Existe]
    @Factura VARCHAR(20)
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM FacturaCabecera WHERE Factura = @Factura) THEN 1
        ELSE 0
    END AS Existe
END
GO
