USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_WhatsAPP_API_OnDemand_ListosParaEnvio]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [python].[usp_WhatsAPP_API_OnDemand_ListosParaEnvio]    
AS
SET NOCOUNT ON 


SELECT RowID,PayLoad,NombreTemplate,Telefono
FROM tmp.WhatsAPP_API_OnDemand_Envios a WITH(NOLOCK)
 
 


GO
