USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_Sincronizar_Mensajes_Campanias]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_Sincronizar_Mensajes_Campanias]
AS
BEGIN
    SET NOCOUNT ON;

	-- esto revisa si hay algun mensaje/respuesta, sin importar si esta relacionado a la conversacion que abrimos
	-- este es el primer paso 
	SELECT 
		substring(Numero,4,100) AS Numero,
		MAX(H.Fecha) AS UltimaFecha
	INTO #NumeroUltimaFecha
	FROM sofia.WhatsAPP_API_Historial H WITH(NOLOCK)
	WHERE H.Tipo = 'message'
	AND H.Estado = 'received'  
	AND Fecha>=(GETDATE()-1)
	GROUP BY substring(Numero,4,100)

	 
	UPDATE D 
	SET 
		D.EstadoWhatsApp = 'RESPONDED',
		D.FechaEstadoWhatsApp = H.Fecha,
		D.WhatsAppID = H.WhatsAppID
	FROM Administracion.dbo.Campanias_Destinatarios D WITH(NOLOCK)
    INNER JOIN Administracion.dbo.Campanias C WITH(NOLOCK) ON C.CampaniaID = D.CampaniaID AND C.Canal LIKE '%WhatsAPP%' 
    INNER JOIN sofia.WhatsAPP_API_Historial H  WITH(NOLOCK)
        ON (D.Destinatario = substring(H.Numero,4,100) OR D.Destinatario = H.Numero)
    INNER JOIN #NumeroUltimaFecha U 
        ON substring(H.Numero,4,100) = U.Numero AND H.Fecha = U.UltimaFecha

	WHERE H.Tipo = 'message'
	AND H.Estado = 'received' 
	AND D.Estado=1
	AND D.FechaEstadoWhatsApp IS NULL



	 -- esto revisa mensajes enviados
	 -- este el segundo, actuliza si no paso por el primer paso
	SELECT 
        H.WhatsAppID,
        MAX(H.Fecha) AS UltimaFecha
    INTO #WhatsAPPNumero
	FROM sofia.WhatsAPP_API_Historial H
    WHERE H.Tipo = 'status'
    GROUP BY H.WhatsAppID
	 
    UPDATE D
    SET  
        D.EstadoWhatsApp = H.Estado,
        D.FechaEstadoWhatsApp = H.Fecha,
        D.WhatsAppID = H.WhatsAppID
	
	FROM Administracion.dbo.Campanias_Destinatarios D WITH(NOLOCK)
    INNER JOIN Administracion.dbo.Campanias C WITH(NOLOCK) ON C.CampaniaID = D.CampaniaID AND C.Canal LIKE '%WhatsAPP%'
	INNER JOIN WhatsAPP_API_OnDemand_Envios E WITH(NOLOCK) ON E.Telefono= D.Destinatario AND E.NombreTemplate=C.TemplateWhatsApp
	INNER JOIN  sofia.WhatsAPP_API_Historial H WITH(NOLOCK) ON H.WhatsAppID  = E.WhatsAppID
	INNER JOIN #WhatsAPPNumero U 
        ON H.WhatsAppID = U.WhatsAppID AND H.Fecha = U.UltimaFecha  
    WHERE D.Estado=1
	AND D.FechaEstadoWhatsApp IS NULL
	AND DATEDIFF(DD,D.FechaEnvio,H.Fecha)=0 
	AND C.Estado IN (2,3)
	AND H.Tipo = 'status' 
	AND D.FechaEnvio<=H.Fecha 
	   

	/*
    ;WITH UltimoEstado AS (
        SELECT 
            substring(Numero,4,100) AS Numero,
            MAX(Fecha) AS UltimaFecha
        FROM sofia.WhatsAPP_API_Historial
        WHERE Tipo = 'status'
		AND Fecha>=(GETDATE()-1)
        GROUP BY substring(Numero,4,100)
    )
    UPDATE D
    SET 
        D.EstadoWhatsApp = H.Estado,
        D.FechaEstadoWhatsApp = H.Fecha,
        D.WhatsAppID = H.WhatsAppID
    FROM Administracion.dbo.Campanias_Destinatarios D
    INNER JOIN Administracion.dbo.Campanias C
		ON C.CampaniaID = D.CampaniaID AND C.Canal LIKE '%WhatsAPP%'
    INNER JOIN sofia.WhatsAPP_API_Historial H 
        ON (D.Destinatario = substring(H.Numero,4,100) OR D.Destinatario = H.Numero)
    INNER JOIN UltimoEstado U 
        ON substring(H.Numero,4,100) = U.Numero AND H.Fecha = U.UltimaFecha
    WHERE D.Estado=1
	AND D.FechaEstadoWhatsApp IS NULL
	AND DATEDIFF(DD,D.FechaEnvio,H.Fecha)=0 
	AND C.Estado IN (2,3)
	AND H.Tipo = 'status' 
	AND D.FechaEnvio<=H.Fecha 


	*/
END 
  

GO
