USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaReenvio_Detalle]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_API_ListosParaReenvio_Detalle] 
@RowID INT,
@FacturasAgrupadas INT
AS
SET NOCOUNT ON 

IF @FacturasAgrupadas=0 
BEGIN 

	SELECT a.RowID,a.FacturaID,a.ClienteID,FormaPago,ImporteFactura,
	CASE WHEN LEFT(f.Telefono,2) = '54' THEN f.Telefono ELSE '54'+f.Telefono END AS Telefono,
	DirectorioFactura AS NombreFactura,ImporteAPagar,
	1 AS TotalFacturas,
	GoogleDriveLink
	FROM HojaDeRutaDatos a WITH(NOLOCK)
	INNER JOIN dbo.Cliente_Factura_Reenvio f WITH(NOLOCK) ON f.HojaDeRutaID=a.HojaDeRutaID AND f.HojaDeRutaDatosID=a.RowID
	WHERE f.RowID=@RowID 

END

IF @FacturasAgrupadas=1
BEGIN 

	SELECT a.RowID,a.Facturas,a.ClienteID,FormaPago,ImporteFactura,
	CASE WHEN LEFT(f.Telefono,2) = '54' THEN f.Telefono ELSE '54'+f.Telefono END AS Telefono,
	DirectorioFactura AS NombreFactura,ImporteAPagar,
	TotalFacturas,
	GoogleDriveLink

	FROM HojaDeRutaDatosAgrupado a WITH(NOLOCK) 
	INNER JOIN dbo.Cliente_Factura_Reenvio f WITH(NOLOCK) ON f.HojaDeRutaID=a.HojaDeRutaID AND f.HojaDeRutaDatosID=a.RowID
	WHERE f.RowID=@RowID 
	--and rowid in (13,15)
	ORDER BY a.ClienteID
END 


GO
