USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_WhatsAPP_Depurar_Archivos_FTP]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_WhatsAPP_Depurar_Archivos_FTP]   
AS
SET NOCOUNT ON 
 
	SELECT 
		(select Valor from Configuraciones WHERE Clave = 'FTP_Ip')  AS ServerIP,
		(select Valor from Configuraciones WHERE Clave = 'FTP_Ip_Folder') + '/' + CONVERT(VARCHAR(20),D.ClienteID) + '/' AS DestinoIP, 
		d.DirectorioFactura
	FROM HojaDeRutaDatos  d
	WHERE d.Estado>=3
	AND d.Enviado=1
	AND d.SubidoFTP=1
	and d.FTP_Depurado = 0
	and DATEDIFF(dd,d.FechaEnviado,getdate())>=5
UNION
	SELECT 		
		(select Valor from Configuraciones WHERE Clave = 'FTP_Ip')  AS ServerIP,
		(select Valor from Configuraciones WHERE Clave = 'FTP_Ip_Folder') + '/' + CONVERT(VARCHAR(20),D.ClienteID) + '/' AS DestinoIP, 
		d.DirectorioFactura
	FROM HojaDeRutaDatosAgrupado  d
	--INNER JOIN WhatsAPP_API_Log a on a.HojaDeRutaID=d.HojaDeRutaID and a.HojaDeRutaDatosID=d.RowID AND a.AgrupacionDeFacturas=1
	WHERE d.Estado>=3
	AND d.Enviado=1
	AND d.TotalFacturas>1
	AND d.SubidoFTP=1
	and DATEDIFF(dd,d.FechaEnviado,getdate())>=5

 
GO
