USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_LookForPDF_Agrupados]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [python].[usp_HojaDeRuta_LookForPDF_Agrupados]    
AS
SET NOCOUNT ON 

SELECT d.HojaDeRutaID,d.ClienteID,
				STUFF((SELECT '-' + CONVERT(VARCHAR(100),HDR2.DirectorioFactura) 
				FROM HojaDeRutaDatos HDR2
				WHERE HDR2.HojaDeRutaID = d.HojaDeRutaID
				AND HDR2.ClienteID=d.ClienteID
				GROUP BY HDR2.HojaDeRutaID,HDR2.ClienteID,HDR2.DirectorioFactura
				FOR XML PATH('')), 1, 1, '') 
				AS Archivos,
(select Valor from Configuraciones WHERE Clave = 'Directorio_Local')  + '\' +CONVERT(VARCHAR(20),d.ClienteID) + '\' AS Ruta,
CASE WHEN c.TotalFacturas>1 THEN 
'Facturas_000000_'+convert(varchar(10),d.ClienteID)+'_Cantidad_'+RIGHT('00'+convert(varchar(10),c.TotalFacturas),2)+'.PDF'
ELSE MAX(d.DirectorioFactura) END As NombreArchivo,  (select Valor from Configuraciones WHERE Clave = 'Directorio_Pre_Drive') + '\' +CONVERT(VARCHAR(20),d.ClienteID) + '\' AS PreDrive
FROM HojaDeRutaDatosAgrupado c WITH(nolock)
INNER JOIN HojaDeRutaDatos d WITH(nolock) on d.HojaDeRutaID=c.HojaDeRutaID AND d.ClienteID=c.ClienteID
INNER JOIN HojaDeRuta a WITH(nolock) ON a.RowID=d.HojaDeRutaID
WHERE (d.DirectorioFactura IS NOT NULL AND c.DirectorioFactura IS NULL)
AND d.Enviado<>1
AND d.Estado<5
AND a.Estado BETWEEN 2 and 4
--and isnull(d.Excluido,0)=0 
--AND datediff(dd,Dateadded,getdate())<4
GROUP BY d.HojaDeRutaID,d.ClienteID,c.Facturas,c.TotalFacturas
HAVING MAX(c.TotalFacturas) = count(distinct d.DirectorioFactura)



GO
