USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_WhatsAPP_API_OnDemand_upd]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [python].[usp_WhatsAPP_API_OnDemand_upd]   
@RowID INT,
@ResponseCode INT,
@ResponseText VARCHAR(4000) 
AS
SET NOCOUNT ON 

DECLARE @TemplateName VARCHAR(30), @Destinatario VARCHAR(20), @CampaniaID INT 

BEGIN TRY 
	BEGIN TRANSACTION
	
	SELECT @TemplateName=NombreTemplate, @Destinatario  = Telefono, @CampaniaID = CampaniaID FROM tmp.WhatsAPP_API_OnDemand_Envios a WITH(NOLOCK)
	WHERE a.RowID=@RowID

	INSERT INTO dbo.WhatsAPP_API_OnDemand_Envios (RowID,PayLoad,Enviado,NombreTemplate,Telefono,FechaEnvio,ResponseCode,ResponseText)
		SELECT RowID,PayLoad,	
		CASE WHEN @ResponseCode='1' THEN 1 ELSE 0 END AS Enviado,
		a.NombreTemplate,
		a.telefono,
		FechaEnvio=getdate(),
		ResponseCodePDF= @ResponseCode,
		ResponseTextPDF =@ResponseText
		FROM tmp.WhatsAPP_API_OnDemand_Envios a WITH(NOLOCK)
		WHERE a.RowID=@RowID
 
  
	
	IF @TemplateName in ('navidad2025','navidadrecordatorio1510','purchase_receipt_2','ultimodia2025','enc_feriados')
	BEGIN 
		UPDATE Administracion.dbo.Campanias_Destinatarios SET
			estado = @ResponseCode, fechaenvio=getdate() 
		WHERE CampaniaID= @CampaniaID AND Destinatario= @Destinatario 

		exec Administracion.[python].[usp_Campania_upd] @CampaniaID	

	END 

	IF @TemplateName in ('emplado_notificacion','empleado_notificacion_recibo')
	BEGIN 
		UPDATE RRHH.rrhh.RecibosNotificaciones SET
			EstadoEnvio = CASE WHEN  @ResponseCode='1' THEN 'ENVIADO' ELSE 'ERROR' END
		WHERE NotificacionID= @CampaniaID  
		 
	END 

	DELETE  FROM tmp.WhatsAPP_API_OnDemand_Envios WHERE RowID= @RowID
 
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
  
	SELECT 1 hasError, ERROR_MESSAGE() ErrorMessage

    -- Test XACT_STATE:
    -- If 1, the transaction is committable.
    -- If -1, the transaction is uncommittable and should
    --     be rolled back.
    -- XACT_STATE = 0 means that there is no transaction and
    --     a commit or rollback operation would generate an error.
    -- Test whether the transaction is uncommittable.
    IF (XACT_STATE()) = -1
    BEGIN
        PRINT N'The transaction is in an uncommittable state. Rolling back transaction.'

        ROLLBACK TRANSACTION;
    END;

    -- Test whether the transaction is committable.
    -- You may want to commit a transaction in a catch block if you want to commit changes to statements that ran prior to the error.
    IF (XACT_STATE()) = 1
    BEGIN
        PRINT N'The transaction is committable. Committing transaction.'

        COMMIT TRANSACTION;
    END;
END CATCH;



GO
