USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_WhatsAPP_Drive_Agrupado_Update]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [python].[usp_HojaDeRuta_WhatsAPP_Drive_Agrupado_Update]
    @HojaDeRutaID INT,
    @HojaDeRutaDatosID INT,
    @AgrupacionDeFacturas INT,
    @RutaArchivo NVARCHAR(500),
    @GoogleDriveId NVARCHAR(100),
    @GoogleDriveLink NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;


	DECLARE @Id INT 
	


    INSERT INTO [python].[HojaDeRutaDatos_Archivos] (
		HojaDeRutaID,
        HojaDeRutaDatosID,
        AgrupacionDeFacturas,
        RutaArchivo,
        GoogleDriveId,
        GoogleDriveLink,
        FechaSubida
    )
    VALUES (
		@HojaDeRutaID,
        @HojaDeRutaDatosID,
        @AgrupacionDeFacturas,
        @RutaArchivo,
        @GoogleDriveId,
        @GoogleDriveLink,
        GETDATE()
    );

	SET @Id = @@IDENTITY 

	 

	UPDATE HojaDeRutaDatosAgrupado SET 
		SubidoFTP=1,
		FTPComments= CASE WHEN ISNULL(@GoogleDriveLink,'') = '' THEN NULL ELSE @GoogleDriveId + '<-->' + @GoogleDriveLink END,
		HojaDeRutaDatos_Archivos_id = @Id,
		GoogleDriveId = @GoogleDriveId,
		GoogleDriveLink = @GoogleDriveLink
	WHERE RowID=@HojaDeRutaDatosID

		 
END

GO
