USE [WhatsAppAPI]
GO
/****** Object:  Table [python].[WhatsAPP_GoogleDrive_API_Log]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [python].[WhatsAPP_GoogleDrive_API_Log](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[HojaDeRutaDatosID] [int] NOT NULL,
	[AgrupacionDeFacturas] [int] NOT NULL,
	[StepProcess] [varchar](1000) NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [python].[WhatsAPP_GoogleDrive_API_Log] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
