USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [python].[usp_HojaDeRuta_UpdatePDF]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [python].[usp_HojaDeRuta_UpdatePDF]    
@HojaDeRutaID INT,
@HojaDeRutaDatosID INT,
@FacturaID INT,
@ClienteID INT,
@Archivo VARCHAR(255)
AS
SET NOCOUNT ON 

UPDATE HojaDeRutaDatos SET
	DirectorioFactura = @Archivo,
	estado = CASE 
				WHEN Telefono is null Then 1 
				WHEN @Archivo IS NOT NULL THEN 3
				ELSE estado END
WHERE RowID = @HojaDeRutaDatosID
AND HojaDeRutaID= @HojaDeRutaID
AND FacturaID = @FacturaID
AND ClienteID = @ClienteID 


IF @@ROWCOUNT>0
BEGIN
	UPDAte HojaDeRuta SET
		Estado = 3
	WHERE RowID=@HojaDeRutaID
	and Estado in (1,2)
END 
 
-- Si solo tengo una factura actualizo agrupados, asi no lo toma el que concatena
UPDATE HojaDeRutaDatosAgrupado SET
	DirectorioFactura = @Archivo,
	estado = CASE 
				WHEN Telefono is null Then 1 
				WHEN @Archivo IS NOT NULL THEN 3
				ELSE estado END
WHERE HojaDeRutaID= @HojaDeRutaID
AND ClienteID = @ClienteID 
AND TotalFacturas=1


EXEC [dbo].[usp_HojaDeRuta_upd] @HojaDeRutaID


GO
