USE [WhatsAppAPI]
GO
/****** Object:  Table [sofia].[WhatsAPP_API_Historial]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sofia].[WhatsAPP_API_Historial](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WhatsAppID] [nvarchar](100) NULL,
	[Numero] [nvarchar](50) NULL,
	[Tipo] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[Contenido] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
	[NombreContacto] [nvarchar](200) NULL,
	[Origen] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [sofia].[WhatsAPP_API_Historial] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
