USE [WhatsAppAPI]
GO
/****** Object:  StoredProcedure [sofia].[usp_Sincronizar_Nombres_WhatsApp]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [sofia].[usp_Sincronizar_Nombres_WhatsApp]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE H
    SET H.NombreContacto = C.Nombre
    FROM sofia.WhatsAPP_API_Historial H
    INNER JOIN sofia.WhatsAPP_API_Contacto C
        ON H.Numero = C.WhatsAppNumero
    WHERE (H.NombreContacto IS NULL OR H.NombreContacto = '')
      AND (C.Nombre IS NOT NULL AND C.Nombre <> '');
END;

GO
