USE [WhatsAppAPI]
GO
/****** Object:  Table [sofia].[WhatsAPP_API_Contacto]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sofia].[WhatsAPP_API_Contacto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NULL,
	[Telefono] [nvarchar](50) NULL,
	[WhatsAppNumero] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Estado] [nvarchar](50) NULL,
	[Comentario] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [sofia].[WhatsAPP_API_Contacto] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
