USE [WhatsAppAPI]
GO
/****** Object:  Table [sofia].[WhatsAPP_API_EncuestaFeriado]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [sofia].[WhatsAPP_API_EncuestaFeriado](
	[EncuestaID] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [varchar](30) NOT NULL,
	[Feriado] [varchar](100) NOT NULL,
	[EstadoFlujo] [varchar](50) NOT NULL,
	[AceptaEncuesta] [bit] NULL,
	[LocalAbierto] [bit] NULL,
	[Horario] [varchar](50) NULL,
	[QuiereReparto] [bit] NULL,
	[FechaAlta] [datetime] NOT NULL,
	[FechaUltimaRespuesta] [datetime] NULL,
	[FechaFin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EncuestaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [sofia].[WhatsAPP_API_EncuestaFeriado] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
