USE [WhatsAppAPI]
GO
/****** Object:  Table [tmp].[Cliente_Factura_Reenvio]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [tmp].[Cliente_Factura_Reenvio](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaID] [int] NULL,
	[HojaDeRutaDatosID] [int] NULL,
	[AgrupacionDeFacturas] [int] NULL,
	[ClienteID] [int] NULL,
	[Telefono] [varchar](20) NULL,
	[DateAdded] [datetime] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [tmp].[Cliente_Factura_Reenvio] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
