USE [WhatsAppAPI]
GO
/****** Object:  Table [tmp].[WhatsAPP_API_OnDemand_Envios]    Script Date: 30/04/2026 12:46:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [tmp].[WhatsAPP_API_OnDemand_Envios](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[PayLoad] [varchar](max) NULL,
	[FechaAgregado] [datetime] NULL,
	[NombreTemplate] [varchar](50) NULL,
	[Telefono] [varchar](20) NULL,
	[CampaniaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [tmp].[WhatsAPP_API_OnDemand_Envios] ADD  CONSTRAINT [DF_WhatsAPP_API_OnDemandEnvios_FechaAgregado]  DEFAULT (getdate()) FOR [FechaAgregado]
GO
