USE [Reclamos]
GO
/****** Object:  StoredProcedure [dba].[usp_reclamos_del]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dba].[usp_reclamos_del]
@ReclamoNumero VARCHAR(25)
AS
SET NOCOUNT ON 

DELETE FROM Reclamo_Cliente where ReclamoNumero=@ReclamoNumero
DELETE FROM TMP.Reclamo_Cliente where ReclamoNumero=@ReclamoNumero
DELETE FROM Reclamo_Armador_Controlador where ReclamoNumero =@ReclamoNumero

GO
