USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[feriados_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[feriados_sel]
AS

SELECT *
FROM Feriados WITH(NOLOCK)
WHERE DATEADD(YEAR,-1,GETDATE()) >= YEAR(Fecha)


GO
