USE [Reclamos]
GO
/****** Object:  Table [dbo].[Armadores2024-01-Controladores]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armadores2024-01-Controladores](
	[Fecha] [datetime] NULL,
	[Altamirano Maxi] [int] NULL,
	[Tropan Milagros] [int] NULL,
	[Trejo        Edith] [int] NULL,
	[Aguirre Tobias ] [int] NULL,
	[Rivera Onan1] [int] NULL,
	[Riffo Katy1] [int] NULL,
	[Guzman Brian1] [int] NULL,
	[Jofre Gerardo1] [int] NULL,
	[Cabrera Santiago] [int] NULL,
	[Henriquez Willy] [int] NULL,
	[Espinosa Luis ] [int] NULL,
	[Oviedo Nicolas1] [int] NULL,
	[Torres Gaston1] [int] NULL,
	[Naty/Carlos/Maxi] [int] NULL,
	[FIAMA] [int] NULL,
	[LUCIANA] [int] NULL,
	[MORALES FRANCO1] [int] NULL
) ON [PRIMARY]

GO
