USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[send_emails_hojaderuta_test]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[send_emails_hojaderuta_test]
AS 


DECLARE @RowIDMin INT, @RowIDMax INT, @RowID INT 

DECLARE @emailrecipients varchar(255), @vQuery nvarchar(4000),@vQuerybody nvarchar(4000),@emailcopy_recipients varchar(1024),
		@vBody nvarchar(MAX), @FullName varchar(100), @EmailAddress varchar(100), @vSubject varchar(100), @FromEmailAddress varchar(255), @CurrentTime datetime,
		@bcc_recipients varchar(512), @SessionDate int,@css NVARCHAR(4000)

DECLARE 
		@hojaderutaid INT,
		@colTD NVARCHAR(2000),
		@ClienteID INT,
		@header NVARCHAR(500),
		@email VARCHAR(100),  
		@totalacobrar NUMERIC(18,2),
		@CantidadFacturas INT

SELECT @css = dbo.getCSSemail()    

SELECT 
	RowID = ROW_NUMBER() OVER ( ORDER BY x.RowID, d.ClienteID), 
	x.RowID AS HojaDeRutaID,
	d.ClienteID,
	d.RazonSocial,
	count(distinct d.FacturaID) as CantidadFacturas,
	Sum(d.ImporteAPagar) as TotalACobrar, 
	header= 'Estimado/a Cliente: ' + d.RazonSocial + CASE WHEN COUNT(Distinct d.FacturaID) > 1 THEN ' sus pedidos están en camino' ELSE  ' su pedido está en camino' END,
	ISNULL(d.TokinEmail,d.ReclamosEmail) as ClienteEmail
INTO #email
FROM dbo.HojaDeRuta x
INNER JOIN dbo.HojaDeRutaDatos d on d.HojaDeRutaID = x.RowID
where d.HojaDeRutaID=3783 and d.ClienteID= 13507
GROUP BY x.RowID,d.ClienteID,d.RazonSocial,ISNULL(d.TokinEmail,d.ReclamosEmail) 

SELECT @RowIDMin = MIN(RowID), @RowIDMax = MAX(RowID) FROM #email
SET @RowID = @RowIDMin

WHILE @RowID<= @RowIDMax
BEGIN 
	SELECT @HojaDeRutaID = a.HojaDeRutaID,@Email = 'sillanes@illanes.com.ar', @header= header, @totalacobrar = a.TotalACobrar, @CantidadFacturas = a.CantidadFacturas, @ClienteID = a.ClienteID
	FROM #email a
	LEFT JOIN Clientes_Email C ON C.ClienteID = a.ClienteID 
	WHERE RowID = @RowID 
	 
	SELECT @vBody = '',@vSubject = CASE WHEN @CantidadFacturas>1 THEN 'Sus pedidos se encuentran en camino' ELSE  'Su pedido se encuentra en camino' END;


	
	-- = = = = = = = = = = = = = = = = = = = = = = = =
	SET @emailrecipients = 'sillanes@illanes.com.ar' -- mail cliente 
	-- SET @emailrecipients = 'sillanes@illanes.com.ar' -- mail cliente 
	SET @emailcopy_recipients = '' -- mail cc 
	SET @bcc_recipients = 'sillanes@illanes.com.ar' -- este es el que va a ver administracion
	-- SET @bcc_recipients = 'ana@illanes.com.ar' -- este es el que va a ver administracion
	-- = = = = = = = = = = = = = = = = = = = = = = = =

	SET @colTD = ''
	SELECT  @colTD = @colTD + '<tr  align="left" class="itemTD11">' +'<td>' + TipoFact + '</td>'+ '<td>' + CONVERT(varchar(8),FacturaID) + '</td>'+ '<td>' + CONVERT(varchar(20),FormaPago) + '</td>'+ '<td>' + CONVERT(varchar(20),ImporteAPagar) + '</td>' + '</tr>' 
	FROM  dbo.hojaderutadatos 
	WHERE HojaDeRutaID = @hojaderutaid AND ClienteID = @ClienteID


	SET @vBody = N'<HTML><HEAD><style>' + ISNULL(@css,'') + '</style></HEAD>'

	SET @vBody =  @vBody  + N'
	<body>
	<span class="pagetitle">
		<div class="pagetitle">'+REPLACE(@header,CHAR(10),'<br/>') + '</div>
	 </span>
		<table border="0" align="left" cellpadding="0" cellspacing="0" class="contentTable table-width-lg" style="width: 100%;margin-bottom: 15px;">
			<tbody>
			<tr>
				<td colspan="4" height="20">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr class="tableHeader">
						<td align="left" colspan="4"><span class="formHeader">Pedido/s</span></td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
			</tbody>
			<tr align="left" class="columnTop">
				<td height="5" width="50"><b>Tipo Factura</b></td>
				<td height="5" width="50"><b>Nro Factura</b></td>
				<td height="5" width="50"><b>Condición</b></td>
				<td height="5" width="30"><b>Importe a Pagar</b></td> 
			</tr> 
			'
			+
			@colTD
			+
			'  
				   
		</table>
		<div class="pagetitle">'+ 'Recuerde disponer de: $' + CONVERT(VARCHAR(20), @totalacobrar)  + '</div>
		
		
		<br/>
		<div class="spanTextRed">
			A partir del 01/07/2025 comenzaremos a enviar sus facturas por WhatsAPP. Por favor adhierase <a href="http://illanes-encuesta.ddns.net/facturaDigital.asp" title="Adherirse">aqui</a> <br/>
		</div>
		<br/>
		
		<div class="pagetitle">
			Cualquier inconveniente puede comunicarse con nosotros a través de nuestra web de reclamos http://illanes-encuesta.ddns.net/ <br/>
			Estamos para ayudarlo.<br/>
			Muchas gracias.! 
			pd: por favor no responder este e-mail.
		</div>
		
 
		<br/>
		<span class="labelError"> Estimado cliente, los reclamos deben realizarse dentro de las 72hs hábiles desde la fecha de facturación</span>
		<br/>		 

	</body></html>
	' 

	If @emailrecipients IS NOT NULL
	BEGIN 

 
		EXEC msdb.dbo.sp_send_dbmail 
			@profile_name =  'PEDIDOS',
			@from_address = 'pedidos@illanes.com.ar',
			@reply_to = '',
			@recipients =  @emailrecipients,
			@copy_recipients = @emailcopy_recipients ,
			@blind_copy_recipients = @bcc_recipients,
			@subject = @vSubject,
			@body = @vBody,
			@body_format = 'HTML', 
			@sensitivity = 'NORMAL'
			 

	END

	WAITFOR DELAY '00:00:02';
	 

	SET @RowID = @RowID+ 1
END 
GO
