USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRutaPxP_load]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_HojaDeRutaPxP_load] 
@FileName VARCHAR(255) = NULL
AS
SET NOCOUNT ON
DECLARE @RowID INT,@ClientesCount INT=0,@FacturasCount INT=0, @HDRNRO INT = 0
SELECT @HDRNRO = CONVERT(INT,REPLACE(REPLACE(MAX(HojaDeRutaNro), ',',''),'.','')) FROM tmp.HojaDeRutaPxP 
INSERT INTO dbo.HojaDeRutaPxP (NombreArchivo,HojaDeRutaNro) VALUES (@FileName,@HDRNRO)
SET @RowID = @@IDENTITY
   
INSERT INTO dbo.HojaDeRutaDatosPxP(HojaDeRutaID,HojaDeRutaNro
,NombreArchivo
,TipoFact
,CodigoFact
,FacturaID
,ClienteID
,ClienteNombre
,RazonSocial
,FormaPago
,ImporteFactura
,ImporteAPagar )
SELECT  @RowID,@HDRNRO,@FileName, 
c.TipoFact,c.CodigoFact,
CONVERT(INT,c.FacturaID),
CONVERT(INT,c.ClienteID),
c.ClienteNombre,
c.RazonSocial,
c.FormaPago,
CONVERT(NUMERIC(18,2),REPLACE(REPLACE(CASE WHEN c.ImporteFactura ='' THEN '0' ELSE c.ImporteFactura END,'.','') ,',','.')),
CONVERT(NUMEriC(18,2),REPLACE(REPLACE(CASE WHEN c.ImporteAPagar  ='' THEN '0' ELSE c.ImporteAPagar END,'.','') ,',','.')) 
 FROM tmp.HojaDeRutaPxp c 
 WHERE  CONVERT(INT,c.ClienteID) <> 0
 and 
 --(@FileName LIKE '%Center%' or
 not exists 
	(select  null from dbo.HojaDeRutaDatosPxP X WHERE X.ClienteID= CONVERT(INT,c.ClienteID) and X.FacturaID= CONVERT(INT,c.FacturaID) and x.CodigoFact = X.CodigoFact )
 --)
  
SELECT 
	@ClientesCount = COUNT(DISTINCT ClienteID), 
	@FacturasCount = COUNT(DISTINCT FacturaID) 
FROM dbo.HojaDeRutaDatosPxP d
WHERE HojaDeRutaID =@RowID
AND NombreArchivo = @FileName


 
UPDATE dbo.HojaDeRutaPxP SET Estado = 1, Clientes = @ClientesCount, Facturas = @FacturasCount WHERE RowID = @RowID

--TRUNCATE TABLE tmp.HojaDeRuta
  
GO
