USE [Reclamos]
GO
/****** Object:  Table [dbo].[TokinV2]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TokinV2](
	[F1] [nvarchar](255) NULL,
	[F2] [float] NULL,
	[F3] [nvarchar](255) NULL,
	[F4] [float] NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
	[F10] [nvarchar](255) NULL
) ON [PRIMARY]

GO
