USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Process_External_Data]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Process_External_Data]
AS

--CREATE TABLE Client ( Id INT NOT NULL PRIMARY KEY, Name VARCHAR(200)) 


SELECT [Cód# Cliente] As Id,Cliente as Nombre
into #Client_stg
FROM ClientesFAC_TMP
GROUP BY [Cód# Cliente],Cliente

SELECT CONVERT(INT,Id) Id, Nombre
INTO #client
FROM #Client_stg

UPDATE UPD SET
	Nombre = stg.Nombre
FROM Cliente UPD
INNER JOIN #Client_stg stg on stg.Id = UPD.Id
WHERE UPD.Nombre<>stg.Nombre

INSERT INTO Cliente (Id,Nombre)
SELECT stg.Id, stg.Nombre
FROM #Client_stg stg
WHERE NOT EXISTS (SELECT NULL FROM Cliente c WHERE c.Id = stg.Id)


-- = = = = = = = = = = = = = = = = = = = = =
-- UPDATE Invoice
-- = = = = = = = = = = = = = = = = = = = = =
-- DROP TABLE Client_Invoice 
-- CREATE TABLE Client_Invoice (Client_Id INT, Fecha_Fact DATE, Nro_Fact INT, Cod_Fact VARCHAR(8), Sucursal INT,TotalFactura DECIMAL(18,2))

SELECT CONVERT(INT,[Cód# Cliente]) As Cliente_Id, [Fecha registración] as Fecha_Fact, [Número de factura] AS Nro_Fact, [Código de factura] as Cod_Fact, Sucursal, Total as TotalFactura, Vendedor 
into #Cliente_Fact
FROM ClientesFAC_TMP 



UPDATE UPD SET 
	Vendedor= stg.Vendedor
FROM Cliente_Factura UPD
INNER JOIN #Cliente_fact stg on 
			stg.Cliente_Id	= UPD.ClienteId
		AND stg.Fecha_Fact	= UPD.Fecha_Fact
		AND stg.Nro_Fact	= UPD.FacturaID
		AND stg.Cod_Fact	= UPD.CodFact
		AND stg.Sucursal	= UPD.Sucursal

UPDATE UPD SET
	TotalFactura = stg.TotalFactura,
	Vendedor= stg.Vendedor
FROM Cliente_Factura UPD
INNER JOIN #Cliente_fact stg on 
			stg.Cliente_Id	= UPD.ClienteId
		AND stg.Fecha_Fact	= UPD.Fecha_Fact
		AND stg.Nro_Fact	= UPD.FacturaID
		AND stg.Cod_Fact	= UPD.CodFact
		AND stg.Sucursal	= UPD.Sucursal
WHERE UPD.TotalFactura<>stg.TotalFactura
 
INSERT INTO Cliente_Factura (ClienteId,Fecha_Fact,FacturaID,CodFact,Sucursal,TotalFactura,FechaFact,Vendedor)
SELECT Cliente_Id,Fecha_Fact,Nro_Fact,Cod_Fact,Sucursal,TotalFactura,CONVERT(VARCHAR(8),Fecha_Fact,112), CONVERT(VARCHAR(500),f.Vendedor)
FROM #Cliente_fact f
WHERE NOT EXISTS (
		SELECT NULL 
		FROM Cliente_Factura c 
		WHERE	c.ClienteId	= f.Cliente_Id
			AND c.Fecha_Fact	= f.Fecha_Fact
			AND c.FacturaID		= f.Nro_Fact
			AND c.CodFact		= f.Cod_Fact
			AND c.Sucursal		= f.Sucursal)


DELETE DEL
FROM ClientesFAC_TMP DEL
INNER JOIN Cliente_Factura CF ON 
	CF.FechaFact = CONVERT(VARCHAR(8),DEL.[Fecha registración],112)
	AND CF.ClienteId = DEL.[Cód# Cliente]
	AND CF.FacturaID = DEL.[Número de factura]





GO
