USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Mensajes_Save]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Reclamos_Mensajes_Save]
@ReclamoID VARCHAR(27)
AS
BEGIN
	SET NOCOUNT ON; 

	-- ACTULIZAR EL STATUS 
	UPDATE UPD	SET 
		Enviado			= 0 
	FROM TMP.Reclamo_Cliente_Mensaje UPD 
	WHERE UPD.ReclamoID = @ReclamoID 
	AND UPD.Enviado = -1

	-- MOVER MENSAJES PARA ENVIO DE EMAILS
	INSERT INTO dbo.Reclamo_Cliente_Mensaje
		SELECT * FROM TMP.Reclamo_Cliente_Mensaje TMP 
		WHERE ReclamoID = @ReclamoID
		AND NOT EXISTS (SELECT NULL FROM dbo.Reclamo_Cliente_Mensaje A WHERE A.ReclamoID = TMP.ReclamoID AND A.MensajeItem = TMP.MensajeItem)

	-- UPDATE STATUS TO ENPROCESO
	UPDATE TMP.Reclamo_Cliente SET status=1 WHERE ReclamoNumero = @ReclamoID
	UPDATE dbo.Reclamo_Cliente SET status=1 WHERE ReclamoNumero = @ReclamoID
	 
END





GO
