USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Resolucion_Save]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Reclamos_Resolucion_Save]
@ReclamoID VARCHAR(27)
AS
BEGIN
	SET NOCOUNT ON; 

	-- SI EXISTE atulizo
	IF EXISTS (SELECT NULL FROM dbo.Reclamo_Cliente_Resolucion RC WHERE RC.ReclamoID = @ReclamoID)
	BEGIN
		UPDATE UPD	SET
			comentario		= TMP.comentario,
			ArchivoAdjunto	= TMP.ArchivoAdjunto,
			Enviado			= 0,
			Modificado		= 1,
			FechaModificacion = TMP.FechaModificacion,
			FechaResuelto	= TMP.FechaResuelto
		FROM dbo.Reclamo_Cliente_Resolucion UPD
		INNER JOIN TMP.Reclamo_Cliente_Resolucion TMP ON TMP.ReclamoID = UPD.ReclamoID
		WHERE UPD.ReclamoID = @ReclamoID
		
		UPDATE UPD	SET 
			Abierto		= TMP.Abierto,
			FechaResuelto = TMP.FechaResuelto
		FROM dbo.Reclamo_Cliente UPD
		INNER JOIN TMP.Reclamo_Cliente TMP ON TMP.ReclamoNumero = UPD.ReclamoNumero
		WHERE UPD.ReclamoNumero = @ReclamoID

		DELETE FROM TMP.Reclamo_Cliente_Resolucion WHERE ReclamoID= @ReclamoID
		DELETE FROM TMP.Reclamo_Cliente WHERE ReclamoNumero= @ReclamoID
		 
	END
	ELSE
	-- SI NO EXISTE inserto
	BEGIN
		INSERT INTO dbo.Reclamo_Cliente_Resolucion
		SELECT * FROM TMP.Reclamo_Cliente_Resolucion TMP WHERE ReclamoID = @ReclamoID
			
		UPDATE UPD	SET 
			Abierto		= TMP.Abierto,
			FechaResuelto = TMP.FechaResuelto
		FROM dbo.Reclamo_Cliente UPD
		INNER JOIN TMP.Reclamo_Cliente TMP ON TMP.ReclamoNumero = UPD.ReclamoNumero
		WHERE UPD.ReclamoNumero = @ReclamoID

		DELETE FROM TMP.Reclamo_Cliente_Resolucion WHERE ReclamoID = @ReclamoID
		DELETE FROM TMP.Reclamo_Cliente WHERE ReclamoNumero= @ReclamoID

	END
END

GO
