USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_enviadas]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_HojaDeRuta_enviadas]
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 


SELECT TOP 10 a.RowID
,a.NombreArchivo
,a.Clientes
,a.ClientesTokin
,a.ClientesEmailreclamo
,a.TotalEmailEnviados,
SUM(d.ImporteFactura) AS ImporteFacturado, SUM(d.ImporteAPagar) as ImporteaCobrar

FROM HojaDeRuta a
INNER JOIN HojaDeRutaDatos d on d.HojaDeRutaID = a.RowID
WHERE (@HojaDeRutaID=0 OR a.RowID=@HojaDeRutaID)
AND Estado IN (3)
GROUP BY a.RowID
,a.NombreArchivo
,a.Clientes
,a.ClientesTokin
,a.ClientesEmailreclamo
,CASE WHEN Estado IN (0,1) theN 'En Proceso'
WHEN Estado = 3 THEN 'Enviando'
ELSE '' END  ,Estado  ,a.TotalEmailEnviados
ORDER BY a.rowid DESC


GO
