USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[wsp_Reclamo_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[wsp_Reclamo_upd]
@FechaFact INT,
@ClienteID INT,
@FacturaID INT,
@Respuesta1 VARCHAR(2), -- pedido cerrado
@Respuesta2 VARCHAR(2), -- falto producto
@Respuesta3 VARCHAR(2), -- produto mal estado
@text1 VARCHAR(500), -- texto falto producto
@text2 VARCHAR(500), -- texto producto mal estado
@comentarios VARCHAR(500),
@email VARCHAR(100),
@telefono VARCHAR(20) = NULL
AS
-- EXEC wsp_Reclamo_upd 20230628,1082,94842,'Si','Si','Si','caca','pepe','jota'
SET NOCOUNT ON

DECLARE @ReclamoGenerado VARCHAR(25), @Action INT = 0
DECLARE @Date DATE
select  @Date = LEFT(@FechaFact,4) + '-' + RIGHT(CONCAT('0',LEFT(@FechaFact,6)),2) + '-' + RIGHT(CONCAT('0',RIGHT(@FechaFact,2)),2)

SET @ReclamoGenerado = 'R-'+RIGHT('0000'+CONVERT(VARCHAR(7),@ClienteID),7) + '-' + RIGHT('00000000'+ CONVERT(VARCHAR(8),@FacturaID),8) + '-' + CONVERT(VARCHAR(8),@FechaFact)
 
-- verificar si exise factura, cambiar columna Fecha_Fact para que sea un int

IF not exists ( SELECT  NULL FROM Cliente_Factura WITH(NOLOCK) WHERE FechaFact = @FechaFact  AND ClienteId = @ClienteID AND FacturaID= @FacturaID)
BEGIN 
	SELECT 'No existe factura para los datos seleccionados' AS ReclamoGenerado, 0 AS Accion

	RETURN
END 

IF EXISTS( SELECT NULL FROM Reclamo_Cliente WITH(NOLOCK) WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID and Status>=1 )
BEGIN
	SELECT @ReclamoGenerado AS ReclamoGenerado, 3 AS Accion

	RETURN
END


-- validacion 72hs
-- 
IF   ( [dbo].[DiasLaborales] (@Date,getdate()) ) > 5
BEGIN
	SELECT 'No se puede ingresar un relcamo de una factura con fecha mayor a 72hs' AS ReclamoGenerado, 4 AS Accion

	RETURN
END




DECLARE @CantUPD INT -- problema hacking
IF EXISTS( SELECT NULL FROM Reclamo_Cliente WITH(NOLOCK) WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID )
BEGIN
	SELECT @CantUPD = CantUpdate FROM Reclamo_Cliente WITH(NOLOCK) WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID 
	
	IF @CantUPD <20 
	BEGIN
		UPDATE Reclamo_Cliente SET
			PedidoCerrado			= @Respuesta1, 
			FaltoProducto			= @Respuesta2, 
			ProductoMalEstado		= @Respuesta3, 
			FaltoProductoTexto		= @text1	 , 
			ProductoMalEstadoTexto	= @text2	 , 
			Comentario				= @comentarios,
			email					= @email ,
			telefono				= @telefono,
			FechaModificacion		= GETDATE(),
			CantUpdate				= CantUpdate+1,
			Fecha					= CONVERT(DATE,GETDATE()),
			Abierto					=1
		WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID 
		SET @Action = 1
	END
	ELSE
	BEGIN
		SET @Action = 99
	END 
 	

END
ELSE

BEGIN
	INSERT INTO Reclamo_Cliente (FechaFact
								,ClienteID
								,FacturaID
								,PedidoCerrado
								,FaltoProducto
								,ProductoMalEstado
								,FaltoProductoTexto
								,ProductoMalEstadoTexto
								,Comentario
								,email
								,telefono
								,Fecha
								)
						VALUES ( @FechaFact
								,@ClienteID
								,@FacturaID
								,@Respuesta1 
								,@Respuesta2
								,@Respuesta3
								,@text1 
								,@text2
								,@comentarios
								,@email
								,@telefono
								,CONVERT(DATE,GETDATE())
								)

	SET @Action = 2

END

INSERT INTO Reclamo_Cliente_Status (ReclamoID,Email) 
SELECT @ReclamoGenerado,@email
WHERE NOT EXISTS ( SELECT NULL FROM Reclamo_Cliente_Status x WHERE x.ReclamoID = @ReclamoGenerado )
IF @@ROWCOUNT=0
BEGIN
	UPDATE Reclamo_Cliente_Status SET Email = @email, Modificado = 1 WHERE ReclamoID = @ReclamoGenerado
END

SELECT @ReclamoGenerado AS ReclamoGenerado, @Action AS Accion



GO
