USE [Reclamos]
GO
/****** Object:  Table [dbo].[HojaDeRutaPxP]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HojaDeRutaPxP](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaNro] [int] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[Clientes] [int] NOT NULL,
	[Facturas] [int] NOT NULL,
	[Estado] [int] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HojaDeRutaPxP] ADD  DEFAULT ((0)) FOR [Clientes]
GO
ALTER TABLE [dbo].[HojaDeRutaPxP] ADD  DEFAULT ((0)) FOR [Facturas]
GO
ALTER TABLE [dbo].[HojaDeRutaPxP] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[HojaDeRutaPxP] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
