USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Export_Data]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Export_Data]
AS
SET NOCOUNT ON 



--DECLARE @Return tinyint, @Query varchar(4000)
--SELECT @Query = 'BCP "EXEC reclamos.dbo.usp_Export_Data" queryout C:\Temp\Reclamos.xls -c -t\t -T'
--PRINT @Query
--EXEC @Return = master.dbo.xp_cmdshell @Query
--SELECT @Return
 



select A.ClienteID,a.FacturaID,CONVERT(date,convert(varchar(10),a.FechaFact,112),112) AS FechaFact,a.ReclamoNumero, 
	Transportista= B.Apellido +'  '+ B.Nombre,
	Armador= C.Apellido +'  '+ C.Nombre,
	Controlaor= D.Apellido +' '+ D.Nombre,
	Ayudante= E.Apellido +' '+ E.Nombre ,
	--X.Observacion,X.FaltoProducto,X.FaltoProductoTexto,X.ProductoMalEstado,X.ProductoMalEstadoTexto,X.PedidoCerrado,X.Comentario,
	X.FechaResuelto, M.Nombre AS Motivo,
	X.FechaAlta, X.Observacion

from dbo.Reclamo_Armador_Controlador A
INNER join dbo.Reclamo_Cliente X ON X.ReclamoNumero = A.ReclamoNumero
INNER JOIN dbo.Reclamo_Resolucion_Motivo M ON M.Id = X.ResolucionMotivoID
LEFT JOIN dbo.Nomina B ON B.EmpleadoID = A.Transportista
LEFT JOIN dbo.Nomina C ON C.EmpleadoID = A.Armador
LEFT JOIN dbo.Nomina D ON D.EmpleadoID = A.Controlador
LEFT JOIN dbo.Nomina E ON E.EmpleadoID = A.Ayudante

GO
