USE [Reclamos]
GO
/****** Object:  Table [dbo].[Armadores_count_202403]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armadores_count_202403](
	[Fecha] [int] NOT NULL,
	[ArmadorID] [int] NOT NULL,
	[Total] [int] NULL
) ON [PRIMARY]

GO
