USE [Reclamos]
GO
/****** Object:  Table [dbo].[FacturasAmerica20250517]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturasAmerica20250517](
	[factu_codi] [nvarchar](255) NULL,
	[factu_nume] [float] NULL,
	[sucur] [float] NULL,
	[fecha] [nvarchar](255) NULL,
	[esta] [nvarchar](255) NULL,
	[cliente] [float] NULL,
	[vende] [float] NULL,
	[conver_base] [float] NULL,
	[percep_varias_ori] [float] NULL
) ON [PRIMARY]

GO
