USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Notas_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Actualizacion Reclamo clasificacion error control
-- =============================================
CREATE PROCEDURE [dbo].[usp_Reclamos_Notas_upd]
@ReclamoID VARCHAR(27), 
@Notas VARCHAR(4000) = ''
AS
BEGIN
	SET NOCOUNT ON; 

	-- ACTUALIZO ESQUEMA DBO Reclamos
	UPDATE UPD SET 
		Notas				= @Notas
	FROM dbo.Reclamo_Cliente  UPD 
	WHERE UPD.ReclamoNumero = @ReclamoID

	-- ACTUALIZO ESQUEMA TMP Mensajes
	UPDATE UPD SET 
		Notas				= @Notas
	FROM TMP.Reclamo_Cliente  UPD 
	WHERE UPD.ReclamoNumero = @ReclamoID
END

 
GO
