USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Resolucion_Motivos_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


CREATE PROCEDURE [dbo].[usp_Reclamos_Resolucion_Motivos_sel]
AS
SET NOCOUNT ON 

SELECT *
FROM Reclamo_Resolucion_Motivo


GO
