USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_Armadores_Controladores_Combo]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


CREATE PROCEDURE [dbo].[usp_Transportista_Armadores_Controladores_Combo]
@ReclamoID VARCHAR(27)

AS
SET NOCOUNT ON 


EXEC [dbo].[usp_Transportista_Armadores_Controladores_Combo_V2] @ReclamoID 

RETURN

/*
	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE esTransportista = 1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE esTransportista = 1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE logistica = 1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE logistica = 1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 
*/
GO
