USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- preparando envio

CREATE PROCEDURE [dbo].[usp_HojaDeRuta_sel]
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 

SELECT a.RowID
,a.NombreArchivo
,a.Clientes
,a.ClientesTokin
,a.ClientesEmailreclamo
,CASE WHEN Estado IN (0,1) theN 'En Proceso'
WHEN Estado = 2 THEN 'Enviando'
ELSE 'Enviado' END AS Estado,Estado as Status,a.TotalEmailEnviados,
SUM(d.ImporteFactura) AS ImporteFacturado, SUM(d.ImporteAPagar) as ImporteaCobrar

FROM HojaDeRuta a
INNER JOIN HojaDeRutaDatos d on d.HojaDeRutaID = a.RowID
WHERE (@HojaDeRutaID=0 OR a.RowID=@HojaDeRutaID)
AND Estado IN (0,1,2)
GROUP BY a.RowID
,a.NombreArchivo
,a.Clientes
,a.ClientesTokin
,a.ClientesEmailreclamo
,CASE WHEN Estado IN (0,1) theN 'En Proceso'
WHEN Estado = 2 THEN 'Enviando'
ELSE 'Enviado' END  ,Estado  ,a.TotalEmailEnviados
order by a.rowid


GO
