USE [Reclamos]
GO
/****** Object:  Table [dbo].[Armadores2024-04-Armadores]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armadores2024-04-Armadores](
	[Fecha] [datetime] NULL,
	[Altamirano, Maxi] [int] NULL,
	[Chama, Juan] [int] NULL,
	[Espinosa, Luis] [int] NULL,
	[Trejo, Edith] [int] NULL,
	[Cabrera, Santiago] [int] NULL,
	[Aguirre, Tobías] [int] NULL,
	[Tropan, Milagros] [int] NULL,
	[Henriquez, Willy] [int] NULL,
	[Payllalef Luciana] [int] NULL,
	[Torres Gaston] [int] NULL,
	[Guzman Brian] [int] NULL,
	[Ñanco Marcos] [int] NULL,
	[Jofre Gerardo] [int] NULL,
	[Briceño Maxi] [int] NULL,
	[Morales Franco] [int] NULL,
	[Rivera Onan] [int] NULL,
	[Riffo Katy] [int] NULL,
	[Medrano Naty] [int] NULL,
	[Cancio Javier] [int] NULL,
	[Astete Fiama] [int] NULL,
	[Gaspar Lionel, Huenupi] [int] NULL,
	[Damaris Abril, Rotela Janitschke] [int] NULL,
	[Micaela Roxana, Urrutia] [int] NULL,
	[Mayra Alejandra, Orellano Contreras] [int] NULL,
	[Tomas] [int] NULL,
	[Arias] [int] NULL
) ON [PRIMARY]

GO
