USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[feriados_upsert]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[feriados_upsert]
@Fecha INT,
@Accion INT = 1
AS

DECLARE @FechaToDate DATE = CONVERT(DATE,RIGHT(@Fecha,2) + '/' + RIGHT(LEFT(@Fecha,6),2) + '/' +LEFT(@Fecha,4),103)  
IF @Accion = 1
	INSERT INTO Feriados VALUES (@Fecha, @FechaToDate)
ELSE
	DELETE Feriados WHERE Fecha_To_INT = @Fecha
 


GO
