USE [Reclamos]
GO
/****** Object:  Table [dbo].[Nomina]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nomina](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[TransportistaID] [int] NULL,
	[esTransportista] [tinyint] NULL,
	[logistica] [int] NULL,
	[esArmador] [int] NULL,
	[esControlador] [int] NULL,
	[esActivo] [int] NULL,
	[esResponsableDivision] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Nomina] ADD  DEFAULT ((0)) FOR [esTransportista]
GO
ALTER TABLE [dbo].[Nomina] ADD  DEFAULT ((0)) FOR [logistica]
GO
ALTER TABLE [dbo].[Nomina] ADD  DEFAULT ((1)) FOR [esActivo]
GO
ALTER TABLE [dbo].[Nomina] ADD  DEFAULT ((0)) FOR [esResponsableDivision]
GO
