USE [Reclamos]
GO
/****** Object:  Table [dbo].[Armadores2024-01-Limpio]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armadores2024-01-Limpio](
	[Fecha] [datetime] NULL,
	[Altamirano, Maxi] [int] NULL,
	[Chama, Juan] [int] NULL,
	[Espinosa, Luis] [int] NULL,
	[Trejo, Edith] [int] NULL,
	[Cabrera, Santiago] [int] NULL,
	[Aguirre, Tobías] [int] NULL,
	[Tropan, Milagros] [int] NULL,
	[Henriquez, Willy] [int] NULL,
	[Payllalef Luciana] [int] NULL,
	[Torres Gaston] [int] NULL,
	[Villalba, Pablo] [int] NULL,
	[Guzman Brian] [int] NULL,
	[Ñanco Marcos] [int] NULL,
	[Jofre Gerardo] [int] NULL,
	[Briceño Maxi] [int] NULL,
	[Morales Franco] [int] NULL,
	[Rivera Onan] [int] NULL,
	[Riffo Katy] [int] NULL,
	[Medrano Naty] [int] NULL,
	[Cancio Javier] [int] NULL,
	[Astete Fiama] [int] NULL,
	[Oviedo Nicolas] [int] NULL,
	[Altamirano Maxi] [int] NULL,
	[Tropan Milagros] [int] NULL,
	[Trejo        Edith] [int] NULL,
	[Aguirre Tobias ] [int] NULL,
	[Rivera Onan1] [int] NULL,
	[Riffo Katy1] [int] NULL,
	[Guzman Brian1] [int] NULL,
	[Jofre Gerardo1] [int] NULL,
	[Cabrera Santiago] [int] NULL,
	[Henriquez Willy] [int] NULL,
	[Espinosa Luis ] [int] NULL,
	[Oviedo Nicolas1] [int] NULL,
	[Torres Gaston1] [int] NULL,
	[Naty/Carlos/Maxi] [int] NULL,
	[FIAMA] [int] NULL,
	[LUCIANA] [int] NULL,
	[MORALES FRANCO1] [int] NULL
) ON [PRIMARY]

GO
