USE [Reclamos]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](200) NULL,
	[Codigo] [varchar](10) NULL,
	[MaestroNombre] [varchar](100) NULL,
	[MaestroRazon] [varchar](100) NULL,
	[Direccion] [varchar](100) NULL,
	[Latitud] [decimal](18, 6) NULL,
	[Longitud] [decimal](18, 6) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
