USE [Reclamos]
GO
/****** Object:  Table [dbo].[Cliente_Factura]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente_Factura](
	[FechaFact] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[FacturaID] [int] NOT NULL,
	[CodFact] [varchar](8) NOT NULL,
	[Sucursal] [int] NULL,
	[TotalFactura] [decimal](18, 2) NULL,
	[Fecha_Fact] [date] NOT NULL,
	[DateAdded] [datetime] NULL,
	[Vendedor] [varchar](500) NULL,
 CONSTRAINT [PK_Cliente_Factura] PRIMARY KEY CLUSTERED 
(
	[FechaFact] ASC,
	[ClienteId] ASC,
	[FacturaID] ASC,
	[CodFact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Cliente_Factura] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
