USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_enviar]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- preparando envio

CREATE PROCEDURE [dbo].[usp_HojaDeRuta_enviar]
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 
UPDATE HojaDeRuta SET Estado=2
WHERE  RowID =@HojaDeRutaID
 


GO
