USE [Reclamos]
GO
/****** Object:  Table [dbo].[Reclamo_Cliente_Resolucion]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reclamo_Cliente_Resolucion](
	[ReclamoID] [char](27) NOT NULL,
	[Email] [varchar](100) NULL,
	[comentario] [varchar](500) NULL,
	[ArchivoAdjunto] [varchar](255) NULL,
	[Enviado] [tinyint] NOT NULL,
	[Modificado] [tinyint] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[FechaResuelto] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReclamoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Reclamo_Cliente_Resolucion] ADD  DEFAULT ((0)) FOR [Enviado]
GO
ALTER TABLE [dbo].[Reclamo_Cliente_Resolucion] ADD  DEFAULT ((0)) FOR [Modificado]
GO
ALTER TABLE [dbo].[Reclamo_Cliente_Resolucion] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
