USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Pendientes_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Lista reclamos pendintes
-- =============================================
CREATE PROCEDURE [dbo].[usp_Reclamos_Pendientes_sel]
@idReclamo VARCHAR(25) = ''
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	RC.FechaAlta AS FechaReclamo,
			RC.ReclamoNumero,
			RIGHT('0000'+CONVERT(varchar(8),C.Id),6)+' - '+ C.Nombre AS Cliente,
			--C.Nombre AS ClienteNombre,
			CONVERT( nvarchar, CAST( CAST( RC.FechaFact AS char(8)) AS date), 103 ) AS FechaFactura,
			RC.FacturaID AS FacturaNumero,
			RC.PedidoCerrado,
			RC.FaltoProducto,
			RC.FaltoProductoTexto,
			RC.ProductoMalEstado,
			RC.ProductoMalEstadoTexto,
			RC.Comentario,
			RC.email,
			RC.telefono,
			C.Nombre as NombreCliente

	FROM Reclamo_Cliente RC
	INNER JOIN Cliente C ON C.Id = RC.ClienteID
	WHERE 
		(Abierto = 1 AND (@idReclamo = '' OR ReclamoNumero = @idReclamo ))
		OR
		(Abierto = 0 AND ReclamoNumero = @idReclamo )

	ORDER BY RC.FechaAlta
END

GO
