USE [Reclamos]
GO
/****** Object:  Table [dbo].[ClientesFAC_TMP]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientesFAC_TMP](
	[Cód# Cliente] [nvarchar](255) NULL,
	[Cliente] [nvarchar](255) NULL,
	[Fecha ingreso] [datetime] NULL,
	[Fecha registración] [datetime] NULL,
	[Código de factura] [nvarchar](255) NULL,
	[Número de factura] [float] NULL,
	[Sucursal] [float] NULL,
	[Cód# Moneda] [nvarchar](255) NULL,
	[Moneda] [nvarchar](255) NULL,
	[Importe Gravado] [float] NULL,
	[Importe Exento] [float] NULL,
	[Total de Conceptos] [float] NULL,
	[Cód# Centro de costo] [float] NULL,
	[Centro de costo] [float] NULL,
	[Vendedor] [nvarchar](255) NULL,
	[Total] [float] NULL
) ON [PRIMARY]

GO
