USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerarReclamosDiarios_sel_v2]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GenerarReclamosDiarios_sel_v2]
AS


DECLARE @emailrecipients varchar(255), @vQuery nvarchar(4000),@vQuerybody nvarchar(4000),@emailcopy_recipients varchar(1024),
		@vBody nvarchar(MAX), @FullName varchar(100), @EmailAddress varchar(100), @vSubject varchar(100), @FromEmailAddress varchar(255), @CurrentTime datetime,
		@bcc_recipients varchar(512), @SessionDate int,@css NVARCHAR(4000)



DECLARE
		@FileName VARCHAR(255),
		@Return tinyint,
		@Query varchar(2000),
		@ReclamosGenerados INT

SELECT @FileName = '\\192.168.200.10\e$\Pública\Reclamos\Archivos_Diarios\Reclamos_Generados_' + CONVERT(VARCHAR(10),DATEADD(DD,-1,GETDATE()),112) + '.csv'


TRUNCATE TABLE GenerarReclamosDiarios_TMP

INSERT INTO GenerarReclamosDiarios_TMP (
										 FECHA_FACTURA
										,FACTURAID
										,CLIENTEID
										,CLIENTENOMBRE
										,EMAIL
										,TELEFONO
										,TOTALFACTURA
										,RECLAMONUMERO
										,PEDIDOCERRADO
										,FALTOPRODUCTO
										,FALTOTEXTOCOMENARIO
										,PRODUCTOMALESTADO
										,PRODUCTOMALESTADOCOMENTARIO
										,CLIENTECOMENTARIO
										,FECHA_ALTA)

VALUES 
										('FECHA_FACTURA'
										,'FACTURAID'
										,'CLIENTEID'
										,'CLIENTENOMBRE'
										,'EMAIL'
										,'TELEFONO'
										,'TOTALFACTURA'
										,'RECLAMONUMERO'
										,'PEDIDOCERRADO'
										,'FALTOPRODUCTO'
										,'FALTOTEXTOCOMENARIO'
										,'PRODUCTOMALESTADO'
										,'PRODUCTOMALESTADOCOMENTARIO'
										,'CLIENTECOMENTARIO'
										,'FECHA_ALTA')



INSERT INTO GenerarReclamosDiarios_TMP (
										 FECHA_FACTURA
										,FACTURAID
										,CLIENTEID
										,CLIENTENOMBRE
										,EMAIL
										,TELEFONO
										,TOTALFACTURA
										,RECLAMONUMERO
										,PEDIDOCERRADO
										,FALTOPRODUCTO
										,FALTOTEXTOCOMENARIO
										,PRODUCTOMALESTADO
										,PRODUCTOMALESTADOCOMENTARIO
										,CLIENTECOMENTARIO
										,FECHA_ALTA)
SELECT 
	CF.Fecha_Fact AS FECHA_FACTURA,	
	CF.FacturaID AS FACTURAID,	
	CF.ClienteID AS CLIENTEID,	
	REPLACE(C.Nombre,',','') AS CLIENTENOMBRE,	
	REPLACE(RC.email,',','') AS EMAIL, 
	REPLACE(RC.telefono,',','') AS TELEFONO,
	CF.TOTALFACTURA, 
	RC.RECLAMONUMERO, 
	RC.PEDIDOCERRADO, 
	RC.FALTOPRODUCTO, 
	REPLACE(RC.FaltoProductoTexto,',','') AS FALTOTEXTOCOMENARIO, 
	RC.PRODUCTOMALESTADO, 
	REPLACE(RC.ProductoMalEstadoTexto ,',','') AS PRODUCTOMALESTADOCOMENTARIO, 
	REPLACE(RC.Comentario ,',','') AS CLIENTECOMENTARIO ,
	CONVERT(VARCHAR,RC.FechaAlta,20) AS FECHA_ALTA
FROM Reclamos.dbo.Reclamo_Cliente RC WITH(NOLOCK) 
INNER JOIN Reclamos.dbo.Cliente_Factura CF WITH(NOLOCK) ON  CF.FechaFact=RC.FechaFact AND CF.ClienteID=RC.ClienteID AND CF.FacturaID=RC.FacturaID 
INNER JOIN Reclamos.dbo.Cliente C WITH(NOLOCK) ON  C.Id = Rc.ClienteID 
WHERE DATEDIFF(DD,FechaAlta, DATEADD(DD,-1,GETDATE())) = 0
ORDER BY FechaAlta
SET @ReclamosGenerados = @@ROWCOUNT
 
IF @ReclamosGenerados=	0
BEGIN
	SET @vSubject =  'No hay reclamos para el dia '+CONVERT(VARCHAR(10),DATEADD(DD,-1,GETDATE()),103) 
	SET @vBody = @vSubject 
	SET @emailrecipients = 'reclamos@illanes.com.ar'
	SET @emailcopy_recipients = 'marianela@illanes.com.ar;sillanes@illanes.com.ar;raulariel@illanes.com.ar;'
	
	EXEC msdb.dbo.sp_send_dbmail 
		@profile_name =  'WEBMAIL',
		@from_address = 'reclamosweb@illanes.com.ar',
		@reply_to = '',
		@recipients =  @emailrecipients,
		@copy_recipients = @emailcopy_recipients ,
		@blind_copy_recipients = @bcc_recipients,
		@subject = @vSubject,
		@body = @vBody,
		@body_format = 'HTML', 
		@sensitivity = 'NORMAL'

	PRINT 'No hay reclamos para el dia '+ CONVERT(VARCHAR(10),DATEADD(DD,-1,GETDATE()),103) 
	RETURN
END
ELSE
BEGIN
	SELECT @Query = 'BCP "SELECT FECHA_FACTURA,FACTURAID,CLIENTEID,CLIENTENOMBRE,EMAIL,TELEFONO,TOTALFACTURA,RECLAMONUMERO,PEDIDOCERRADO,FALTOPRODUCTO,FALTOTEXTOCOMENARIO,PRODUCTOMALESTADO,PRODUCTOMALESTADOCOMENTARIO,CLIENTECOMENTARIO FROM Reclamos.dbo.GenerarReclamosDiarios_TMP ORDER BY RowID " queryout '+@FileName+' -c -C 1252 -t"," -T' 
	EXEC master.dbo.xp_cmdshell @Query
	
	SET @vSubject =  'Reclamos del dia '+ CONVERT(VARCHAR(10),DATEADD(DD,-1,GETDATE()),103) 
	SET @vBody = 'Se generaron ' + CONVERT(VARCHAR(10),@ReclamosGenerados) + ' reclamos.' + CHAR(10)+CHAR(13) + 'Se adjunta archivo ubicado en ' + @FileName
	SET @emailrecipients = 'reclamos@illanes.com.ar'
	SET @emailcopy_recipients = 'marianela@illanes.com.ar;sillanes@illanes.com.ar;raulariel@illanes.com.ar;'
	
	EXEC msdb.dbo.sp_send_dbmail 
		@profile_name =  'WEBMAIL',
		@from_address = 'reclamosweb@illanes.com.ar',
		@reply_to = '',
		@recipients =  @emailrecipients,
		@copy_recipients = @emailcopy_recipients ,
		@blind_copy_recipients = @bcc_recipients,
		@subject = @vSubject,
		@body = @vBody,
		@body_format = 'HTML', 
		@sensitivity = 'NORMAL',
		@file_attachments = @FileName

END



GO
