USE [Reclamos]
GO
/****** Object:  Table [dbo].[Reclamo_Armador_Controlador]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reclamo_Armador_Controlador](
	[ClienteID] [int] NULL,
	[FacturaID] [int] NULL,
	[FechaFact] [int] NULL,
	[ReclamoNumero] [varchar](25) NULL,
	[Transportista] [int] NULL,
	[Armador] [int] NULL,
	[Controlador] [int] NULL,
	[Ayudante] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
