USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerarReclamosDiarios_sel_wrapper]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GenerarReclamosDiarios_sel_wrapper]
AS

EXEC [usp_GenerarReclamosDiarios_sel_V2]


GO
