USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transportista_Armadores_Controladores_Combo_V2]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
-- [dbo].[usp_Transportista_Armadores_Controladores_Combo] 'R-10435-00492140-20240805'

CREATE PROCEDURE [dbo].[usp_Transportista_Armadores_Controladores_Combo_V2]
@ReclamoID VARCHAR(27)
AS
SET NOCOUNT ON 


DECLARE @ClienteID INT, @FacturaID INT


select @ClienteID = ID from [dbo].[udf_DelimitedSplit8K] (@ReclamoID, '-') WHERE ItemNumber = 2
select @FacturaID = ID from [dbo].[udf_DelimitedSplit8K] (@ReclamoID, '-') WHERE ItemNumber = 3


	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE esTransportista = 1 and esActivo=1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE esTransportista = 1 and esActivo=1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre, 
			CASE WHEN EXISTS ( 
				SELECT  NULL 
				FROM v_HDR_Armadores_Controladores v
				WHERE v.ClienteID = @ClienteID AND v.FacturaID = @FacturaID AND v.ArmadorID = EmpleadoID
				) THEN 1 ELSE 0 END AS Selected
	FROM Nomina 
	WHERE logistica = 1 and esArmador=1 
UNION 
	SELECT 0, 'AAA Sin Definir',0
ORDER BY 2 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre, 
			CASE WHEN EXISTS ( 
				SELECT  NULL 
				FROM v_HDR_Armadores_Controladores v
				WHERE v.ClienteID = @ClienteID AND v.FacturaID = @FacturaID AND v.ControladorID = EmpleadoID
				) THEN 1 ELSE 0 END AS Selected
	FROM Nomina
	WHERE logistica = 1 and esControlador = 1
UNION 
	SELECT 0, 'AAA Sin Definir',0
ORDER BY 2 



GO
