USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Eliminar_HojaDeRuta_NoEnviada]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Eliminar_HojaDeRuta_NoEnviada]
@RowID INT
AS

SET NOCOUNT ON

DELETE d
from HojaDeRutaDatos D
INNER JOIN HojaDeRuta R ON R.RowID = D.HojaDeRutaID 
WHERE R.Estado= 1 and R.RowID = @RowID

DELETE
FROM HojaDeRuta 
WHERE Estado= 1 and RowID = @RowID

GO
