USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Lista reclamos [usp_Reclamos_sel]
-- =============================================
CREATE PROCEDURE [dbo].[usp_Reclamos_sel]
@idReclamo VARCHAR(27) = '' 
AS
BEGIN
	SET NOCOUNT ON; 
	SELECT	RC.FechaAlta AS FechaReclamo,
			RC.ReclamoNumero,
			RIGHT('0000'+CONVERT(varchar(8),C.Id),6)+' - '+ C.Nombre AS Cliente,
			--C.Nombre AS ClienteNombre,
			CONVERT( nvarchar, CAST( CAST( RC.FechaFact AS char(8)) AS date), 103 ) AS FechaFactura,
			RC.FacturaID AS FacturaNumero,
			RC.PedidoCerrado,
			RC.FaltoProducto,
			RC.FaltoProductoTexto,
			RC.ProductoMalEstado,
			RC.ProductoMalEstadoTexto,
			RC.Comentario,
			RC.email,
			RC.telefono,
			RC.Status,
			'Estimado/a '+C.Nombre as NombreCliente,
			MotivoDescripcion = CASE WHEN RM.ID IS NULL THEN 'MOTIVO NO DEFINIDO' ELSE RM.Nombre END,
			RC.observacion,
			RC.Notas

	FROM Reclamo_Cliente RC
	INNER JOIN Cliente C ON C.Id = RC.ClienteID
	LEFT JOIN Reclamo_Resolucion_Motivo RM ON RM.Id = RC.ResolucionMotivoID
	WHERE RC.ReclamoNumero = @idReclamo
	
END


GO
