USE [Reclamos]
GO
/****** Object:  Table [dbo].[GenerarReclamosDiarios_TMP]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GenerarReclamosDiarios_TMP](
	[FECHA_FACTURA] [varchar](100) NOT NULL,
	[FACTURAID] [varchar](100) NOT NULL,
	[CLIENTEID] [varchar](100) NOT NULL,
	[CLIENTENOMBRE] [varchar](100) NULL,
	[EMAIL] [varchar](200) NULL,
	[TELEFONO] [varchar](200) NULL,
	[TOTALFACTURA] [varchar](200) NULL,
	[RECLAMONUMERO] [varchar](200) NULL,
	[PEDIDOCERRADO] [varchar](100) NULL,
	[FALTOPRODUCTO] [varchar](100) NULL,
	[FALTOTEXTOCOMENARIO] [varchar](500) NULL,
	[PRODUCTOMALESTADO] [varchar](100) NULL,
	[PRODUCTOMALESTADOCOMENTARIO] [varchar](500) NULL,
	[CLIENTECOMENTARIO] [varchar](500) NULL,
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_ALTA] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
