USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRutaPxP_Cargada]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_HojaDeRutaPxP_Cargada]  
@HDR INT
AS
SET NOCOUNT ON

DECLARE @Status INT =0
SELECT @Status =1 
WHERE EXISTS (SELECT NULL FROM dbo.HojaDeRutaPxP WHERE HojaDeRutaNro = @HDR )

SELECT @Status as Status 


GO
