USE [Reclamos]
GO
/****** Object:  UserDefinedFunction [dbo].[DiasLaborales]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DiasLaborales]
(@FechaInicial DATE,
@FechaFinal DATE )
RETURNS INT
AS
BEGIN

	DECLARE @fecha DATE
	DECLARE @diaslaborales int

	SET @fecha = @FechaInicial
	SET @diaslaborales = 0
	
	WHILE (@fecha<>DATEADD(day,1,@FechaFinal))
	BEGIN
		IF (DATEPART(dw,@fecha) NOT IN (7,1))
		BEGIN	
			SET @diaslaborales = @diaslaborales +1
		END
		SET @fecha = DATEADD(day,1,@fecha)
	END

	RETURN @diaslaborales
END
GO
