USE [Reclamos]
GO
/****** Object:  Table [dbo].[Tokin]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokin](
	[clientEmail] [nvarchar](255) NULL,
	[cluster2] [nvarchar](255) NULL,
	[sellerId] [float] NULL,
	[sellerName] [nvarchar](255) NULL,
	[Seller name] [nvarchar](255) NULL,
	[status] [nvarchar](255) NULL,
	[vendorCustomerId] [float] NULL,
	[createdIn] [datetime] NULL,
	[Compra] [nvarchar](255) NULL,
	[N° Compra] [nvarchar](255) NULL,
	[Gerente Nacional] [nvarchar](255) NULL,
	[Gerente Regional] [nvarchar](255) NULL,
	[Jefe de Cuenta] [nvarchar](255) NULL
) ON [PRIMARY]

GO
