USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Clasificacion_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Actualizacion Reclamo clasificacion error control
-- =============================================
CREATE PROCEDURE [dbo].[usp_Reclamos_Clasificacion_upd]
@ReclamoID VARCHAR(27),
@MotivoReclamoID INT = 0, 
@esReclamoxControl INT = 0 
AS
BEGIN
	SET NOCOUNT ON; 

	-- ACTUALIZO ESQUEMA DBO Reclamos
	UPDATE UPD SET
		esReclamoxControl	= @esReclamoxControl,
		ResolucionMotivoID	= @MotivoReclamoID
	FROM dbo.Reclamo_Cliente  UPD 
	WHERE UPD.ReclamoNumero = @ReclamoID

	-- ACTUALIZO ESQUEMA TMP Mensajes
	UPDATE UPD SET
		esReclamoxControl	= @esReclamoxControl,
		ResolucionMotivoID	= @MotivoReclamoID 
	FROM TMP.Reclamo_Cliente  UPD 
	WHERE UPD.ReclamoNumero = @ReclamoID
END

 
GO
