USE [Reclamos]
GO
/****** Object:  Table [dbo].[Controladores_count]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Controladores_count](
	[Fecha] [int] NOT NULL,
	[ControladorID] [int] NOT NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC,
	[ControladorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
