USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Mensajes_Close]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Cerrar Reclamo reclamos
-- =============================================
CREATE PROCEDURE [dbo].[usp_Reclamos_Mensajes_Close]
@ReclamoID VARCHAR(27),
@Observacion VARCHAR(500) = NULL,
@RM INT = NULL 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @FechaResuelto DATETIME = GETDATE()

	-- ACTUALIZO ESQUEMA DBO Reclamos
	UPDATE UPD SET
		Abierto				= TMP.Abierto,
		FechaResuelto		= TMP.FechaResuelto,
		Status				= TMP.Status, 
		Observacion			= @Observacion,
		ResolucionMotivoID	= ISNULL(@RM,UPD.ResolucionMotivoID)
	FROM dbo.Reclamo_Cliente  UPD
	INNER JOIN TMP.Reclamo_Cliente TMP ON TMP.ReclamoNumero = UPD.ReclamoNumero
	WHERE UPD.ReclamoNumero = @ReclamoID

	-- ACTUALIZO ESQUEMA DBO Mensajes

	UPDATE UPD SET
		Mensaje			= TMP.Mensaje,
		Enviado			= TMP.Enviado,
		Archivo			= TMP.Archivo
	FROM dbo.Reclamo_Cliente_Mensaje  UPD
	INNER JOIN TMP.Reclamo_Cliente_Mensaje TMP ON TMP.ReclamoID = UPD.ReclamoID and TMP.MensajeItem = UPD.MensajeItem
	WHERE UPD.ReclamoID= @ReclamoID


	-- INSERTO ESQUEMA DBO Reclamos
	INSERT INTO dbo.Reclamo_Cliente (FechaFact
									,ClienteID
									,FacturaID
									,PedidoCerrado
									,FaltoProducto
									,ProductoMalEstado
									,FaltoProductoTexto
									,ProductoMalEstadoTexto
									,Comentario
									,Abierto
									,enviado
									,email
									,telefono
									,FechaAlta
									,FechaModificacion
									,CantUpdate
									,Fecha
									,FechaResuelto
									,Status
									,ResolucionMotivoID
									,Observacion
									,esReclamoxControl)
	SELECT 
									 TMP.FechaFact
									,TMP.ClienteID
									,TMP.FacturaID
									,TMP.PedidoCerrado
									,TMP.FaltoProducto
									,TMP.ProductoMalEstado
									,TMP.FaltoProductoTexto
									,TMP.ProductoMalEstadoTexto
									,TMP.Comentario
									,TMP.Abierto
									,TMP.enviado
									,TMP.email
									,TMP.telefono
									,TMP.FechaAlta
									,TMP.FechaModificacion
									,TMP.CantUpdate
									,TMP.Fecha
									,TMP.FechaResuelto
									,TMP.Status
									,TMP.ResolucionMotivoID
									,@Observacion
									,TMP.esReclamoxControl
	FROM TMP.Reclamo_Cliente TMP
	LEFT JOIN dbo.Reclamo_Cliente INS ON
		TMP.FechaFact = INS.FechaFact AND
		TMP.ClienteID = INS.ClienteID AND
		TMP.FacturaID = INS.FacturaID
		--TMP.ReclamoNumero = INS.ReclamoNumero
	WHERE TMP.ReclamoNumero = @ReclamoID AND INS.ReclamoNumero IS NULL

	-- INSERTO ESQUEMA DBO Mensajes
	INSERT INTO dbo.Reclamo_Cliente_Mensaje (
									 ReclamoID
									,MensajeItem
									,Mensaje
									,Enviado
									,Archivo)
	SELECT							 TMP.ReclamoID
									,TMP.MensajeItem
									,TMP.Mensaje
									,TMP.Enviado
									,TMP.Archivo
	FROM TMP.Reclamo_Cliente_Mensaje TMP
	LEFT JOIN dbo.Reclamo_Cliente_Mensaje  UPD ON TMP.ReclamoID = UPD.ReclamoID and TMP.MensajeItem = UPD.MensajeItem
	WHERE TMP.ReclamoID = @ReclamoID AND UPD.ReclamoID IS NULL

	DELETE FROM TMP.Reclamo_Cliente WHERE ReclamoNumero = @ReclamoID
	DELETE FROM TMP.Reclamo_Cliente_Mensaje WHERE ReclamoID = @ReclamoID

	/* -- commented on 31/10/2024
	SET @TransportistaID	= CASE WHEN @TransportistaID = 0 THEN NULL ELSE @TransportistaID END
	SET @ArmadorID			= CASE WHEN @ArmadorID = 0 THEN NULL ELSE @ArmadorID END
	SET @ControladorID		= CASE WHEN @ControladorID = 0 THEN NULL ELSE @ControladorID END
	SET @AyudanteID			= CASE WHEN @AyudanteID = 0 THEN NULL ELSE @AyudanteID END

	-- GUARDO ARMADORES/Controladores
	IF NOT EXISTS (SELECT NULL FROM [dbo].[Reclamo_Armador_Controlador] WHERE ReclamoNumero = @ReclamoID )
	BEGIN
		INSERT INTO [Reclamo_Armador_Controlador] (ClienteID,FacturaID,FechaFact,ReclamoNumero,Transportista,Armador,Controlador,Ayudante)
			SELECT ClienteID,FacturaID,FechaFact,ReclamoNumero,@TransportistaID,@ArmadorID,@ControladorID,@AyudanteID FROM  dbo.Reclamo_Cliente WHERE ReclamoNumero = @ReclamoID
	END  
	ELSE
	BEGIN
		-- ACTULIZO ARMADORES/Controladores
		UPDATE [Reclamo_Armador_Controlador]  SET 
			Transportista	= @TransportistaID,
			Armador			= @ArmadorID,
			Controlador		= @ControladorID,
			Ayudante		= @AyudanteID
		WHERE  ReclamoNumero = @ReclamoID
	END
	*/ -- commented on 31/10/2024

END


GO
