USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[send_emails_resolucion2]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[send_emails_resolucion2]
AS


DECLARE @RowIDMin INT, @RowIDMax INT, @RowID INT
DECLARE @ReclamoID VARCHAR(27), @email VARCHAR(100), @modificado TINYINT, @ArchivoAdjunto VARCHAR(255), @hasFile INT

DECLARE @emailrecipients varchar(255), @vQuery nvarchar(4000),@vQuerybody nvarchar(4000),@emailcopy_recipients varchar(1024),
		@vBody nvarchar(MAX), @FullName varchar(100), @EmailAddress varchar(100), @vSubject varchar(100), @FromEmailAddress varchar(255), @CurrentTime datetime,
		@bcc_recipients varchar(512), @SessionDate int,@css NVARCHAR(4000)

DECLARE 
		@Comentarios NVARCHAR(500),
		@ReclamoNumero VARCHAR(25), 
		@EmailCliente VARCHAR(200) 

SELECT @css = dbo.getCSSemail()


SELECT RowID = ROW_NUMBER() OVER ( ORDER BY ReclamoID), ReclamoID, Email,Modificado,ArchivoAdjunto
INTO #emails
FROM Reclamo_Cliente_Resolucion
WHERE ( Enviado= 0 OR (Enviado = 1 and Modificado= 1) )


SELECT @RowIDMin = MIN(RowID), @RowIDMax = MAX(RowID) FROM #emails
SET @RowID = @RowIDMin



WHILE @RowID<= @RowIDMax
BEGIN 
	SELECT @ReclamoID = ReclamoID,@Email = Email, @Modificado = Modificado, @ArchivoAdjunto = ArchivoAdjunto, @hasfile = CASE WHEN LTRIM(RTRIM(ISNULL(ArchivoAdjunto,'')))<>'' THEN 1 ELSE 0 END
	FROM #emails 
	WHERE RowID = @RowID

	SELECT  
		@Comentarios = Comentario,
		@EmailCliente = email

	FROM Reclamo_Cliente_Resolucion  WITH(NOLOCK)

	WHERE ReclamoID = @ReclamoID
	 
	SELECT @vBody = '',@vSubject = 'Sistema de gestión de Reclamos - '+ @ReclamoID + CASE WHEN @modificado= 1 THen ' - MODIFICADO' ELSE '' END;

	SET @emailrecipients = @email -- el que genera el reclamo
	SET @emailcopy_recipients = '' -- el que genera el reclamo
	SET @bcc_recipients = 'reclamos@illanes.com.ar' -- este es el que va a ver administracion


	SET @vBody = N'<HTML><HEAD><style>' + ISNULL(@css,'') + '</style></HEAD>'

	SET @vBody =  @vBody  + N'
	<body>
	<span class="pagetitle">
		<div class="pagetitle">'+REPLACE(@Comentarios,CHAR(10),'<br/>') + '</div>
	 </span>
	</body></html>
	' 


	IF @hasFile >0 
	BEGIN
		EXEC msdb.dbo.sp_send_dbmail 
			@profile_name =  'WEBMAIL',
			@from_address = 'reclamosweb@illanes.com.ar',
			@reply_to = '',
			@recipients =  @emailrecipients,
			@copy_recipients = @emailcopy_recipients ,
			@blind_copy_recipients = @bcc_recipients,
			@subject = @vSubject,
			@body = @vBody,
			@body_format = 'HTML', 
			@sensitivity = 'NORMAL',
			@file_attachments = @ArchivoAdjunto
	END
	ELSE
	BEGIN 
 
		EXEC msdb.dbo.sp_send_dbmail 
			@profile_name =  'WEBMAIL',
			@from_address = 'reclamosweb@illanes.com.ar',
			@reply_to = '',
			@recipients =  @emailrecipients,
			@copy_recipients = @emailcopy_recipients ,
			@blind_copy_recipients = @bcc_recipients,
			@subject = @vSubject,
			@body = @vBody,
			@body_format = 'HTML', 
			@sensitivity = 'NORMAL'
	END




	UPDATE Reclamo_Cliente_Resolucion SET Enviado= 1, Modificado =0  WHERE ReclamoID = @ReclamoID
 
SET @RowID = @RowID+ 1
END



GO
