USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Pendientes_update]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Actulizacion reclamos
-- =============================================
CREATE PROCEDURE [dbo].[usp_Reclamos_Pendientes_update]
@ReclamoID VARCHAR(27),
@comentario VARCHAR(500),
@archivoadjunto VARCHAR(255) = NULL
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Reclamo_Cliente  SET Abierto = 0 
	WHERE ReclamoNumero = @ReclamoID

	INSERT INTO Reclamo_Cliente_Resolucion (ReclamoID,Email,comentario,ArchivoAdjunto,Enviado,Modificado)
	SELECT RC.ReclamoNumero, RC.email, @comentario, REPLACE(@archivoadjunto,'\\\','\'),0,0
	FROM Reclamo_Cliente RC
	WHERE RC.ReclamoNumero = @ReclamoID
	AND NOT EXISTS ( SELECT NULL FROM Reclamo_Cliente_Resolucion X WHERE X.ReclamoID = @ReclamoID)
	IF @@ROWCOUNT= 0
	BEGIN
		UPDATE Reclamo_Cliente_Resolucion set Modificado = 1, comentario= @comentario, ArchivoAdjunto = @archivoadjunto WHERE @ReclamoID= @ReclamoID
	END
END
 
GO
