USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Nomina_ins]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Nomina_ins]
@Apellido VARCHAR(100),
@Nombre VARCHAR(100),
@esLogistica VARCHAR(50),
@esTransportista VARCHAR(50) 
AS
SET NOCOUNT ON 
 

IF (SELECT COUNT(*) FROM Nomina where Apellido = @Apellido and Nombre = @Nombre)=0
BEGIN  
	INSERT INTO Nomina (Apellido,Nombre,esTransportista,logistica,esActivo)
	VALUES (@Apellido,@Nombre,@esTransportista,@esLogistica,1)
END
ELSE
BEGIN
	UPDATE Nomina SET esTransportista = @esTransportista, logistica=@esLogistica
	WHERE Apellido = @Apellido and Nombre = @Nombre
END
 

GO
