USE [Reclamos]
GO
/****** Object:  Table [dbo].[Enero2024]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enero2024](
	[ClienteID] [float] NULL,
	[FacturaID] [float] NULL,
	[FechaFact] [float] NULL,
	[ReclamoNumero] [nvarchar](255) NULL,
	[Transportista] [nvarchar](255) NULL,
	[Armador] [nvarchar](255) NULL,
	[Controlador] [nvarchar](255) NULL
) ON [PRIMARY]

GO
