USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[DBA_Audit_login]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DBA_Audit_login]
AS


DECLARE @RowIDMin INT, @RowIDMax INT, @RowID INT
DECLARE @ReclamoID VARCHAR(27), @email VARCHAR(100) = 'sebaillanes@gmail.com' 

DECLARE @emailrecipients varchar(255),@emailcopy_recipients varchar(1024),
		@vBody nvarchar(MAX), @vSubject varchar(100),
		@bcc_recipients varchar(512), @SessionLoginName VARCHAR(200),@TotalCount INT,@css NVARCHAR(4000), @texto VARCHAR(3500)


SELECT @css = dbo.getCSSemail()

SELECT  RowID = ROW_NUMBER() OVER ( ORDER BY convert(int,convert(varchar(8),StartTime,112),112)), convert(int,convert(varchar(8),StartTime,112),112) DateStart, SessionLoginName,count(*) Total,
MAX( LEFT(CONVERT(VARCHAR(4000),TextData),4000)) as texto
INTO #tmp
FROM    sys.fn_trace_gettable(CONVERT(VARCHAR(150), 
( SELECT TOP 1 f.[value]
  FROM    sys.fn_trace_getinfo(NULL) f
  WHERE   f.property = 2
   )), DEFAULT) T
 JOIN sys.trace_events TE ON T.EventClass = TE.trace_event_id
WHERE name like 'Audit Login Failed'
AND DATEDIFF(dd,StartTime,GETDATE())=0
GROUP BY  convert(int,convert(varchar(8),StartTime,112),112),SessionLoginName
HAVING COUNT(*)>10

IF @@ROWCOUNT>0
BEGIN 
 
	SELECT @RowIDMin = MIN(RowID), @RowIDMax = MAX(RowID) FROM #tmp
	SET @RowID = @RowIDMin


	SELECT @vBody = '',@vSubject = 'ALERTAS DE INICIO DE SESSION SRV-MULTI';

	SET @emailrecipients = @email  
	SET @emailcopy_recipients = '' 


	SET @vBody = N'<HTML><HEAD><style>' + @css + '</style></HEAD>'

	SET @vBody =  @vBody  + N'
	<body>
	<div class="wrap">
	<div>' 
	 
	WHILE @RowID<= @RowIDMax
	BEGIN 
		SELECT @SessionLoginName=SessionLoginName, @TotalCount = Total, @texto = left(texto,3500)
		FROM #tmp 
		WHERE RowID = @RowID
	 
		SET @vBody= @vBody + '<h1>Intentos de login a : '+@SessionLoginName+'. TotalCount: '+convert(varchar(10),@TotalCount) +' --> texto '+@texto+'.</h1>'
 


	SET @RowID = @RowID+ 1
	END

	SET @vBody= @vBody +'
	</div> 
	</div>
	</body></html>'
	EXEC msdb.dbo.sp_send_dbmail 
		@profile_name =  'WEBMAIL',
		@from_address = 'reclamosweb@illanes.com.ar',
		@reply_to = '',
		@recipients =  @emailrecipients,
		@copy_recipients = @emailcopy_recipients ,
		@blind_copy_recipients = @bcc_recipients,
		@subject = @vSubject,
		@body = @vBody,
		@body_format = 'HTML', 
		@sensitivity = 'NORMAL'
		 
END


--SELECT * FROM Reclamo_Cliente_status
-- update Reclamo_Cliente_status SET Modificado=1 WHERE ReclamoID= 'R-01082-00423451-20230628'
GO
