USE [Reclamos]
GO
/****** Object:  UserDefinedFunction [dbo].[getCSSemail]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getCSSemail]()
RETURNS NVARCHAR(4000)
AS
BEGIN

DECLARE @css  NVARCHAR(4000) = '.itemTD11 { 
    color: #4c4c4c;
    font-size: 10pt !important; 
    text-align: center;
    font-family: "PT Sans", Verdana, Arial, Helvetica; 
} 
body {
    background: #f7f7f7;
    height: auto;  
    height: initial;
    position: relative;
	margin: 0;
    min-height: 100vh;
}

input:not([type=button]):not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]):not([type=image]),
select,
textarea {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    padding: 5px;
    height: auto;
    border: 1px solid #ddd;
    color: #3b4146;
    width: 100%;
    font-size: 10px;   
    font-family: "PT Sans", "Segoe UI", "Lucida Grande";
    margin-top: 1px;
    margin-bottom: 1px;
    outline-color: #4792CF;
}

.contentTable input:not([type=button]):not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=image]),
.contentTable select,
.contentTable textarea {
   
    background: #f5f5f5;
    width:95%;
    margin: 2;
}
  
.contentTable {
    margin-top: 15px;
    margin-bottom: 50px;
    width: 80%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #eee;
    background-color: #fff; 
    padding: 5px;
    font-size: 11px;
    font-family: "PT Sans", Verdana, Arial;
}
   
.contentTable .tableHeader {
    background-color: #152b4f;
    height: 25px;
}

.contentTable .tableHeader > td {
    background-color: #152b4f;
}

.contentTable .tableHeader select {
    margin: 5px;
}

.contentTable .tableHeader a.hlp {
    margin-right: 5px;
}

.contentTable .tableHeader .formHeader {
    background-color: #152b4f;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    margin-top: 1px;
    font-family: "PT Sans";
}

.contentTable .subHeader div {
    float: right;
    margin-right: 5px;
}

.contentTable .tableHeader div {
    float: right;
    margin: 5px;
}

.contentTable .columnTop {
    background-color: #eee;
    text-transform: uppercase;
    font-size: 11px;
    font-family: "PT Sans";
    height: 25px !important;
}

   

.table-width-lg.TabbedPanels,
.table-width-lg {
    width: 650px;
}
   
.spanTextRed {
    font-family: "PT Sans", "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif";
    font-size: 25px; 
    font-weight: bold;
    color: #FF0000;  
}
 
.pagetitle { 
    font-family: "PT Sans", "Verdana", "Geneva", "Arial", "Helvetica", "sans-serif";
    font-size: 25px; 
    font-weight: bold;
    color: #142D4E;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}'

RETURN @css
END

GO
