USE [Reclamos]
GO
/****** Object:  Table [dbo].[Leo]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leo](
	[FechaFact] [float] NULL,
	[ClienteID] [float] NULL,
	[FacturaID] [float] NULL,
	[ReclamoNumero] [nvarchar](255) NULL,
	[ResolucionMotivoID] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL
) ON [PRIMARY]

GO
