USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_test]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_test]
AS
SET NOCOUNT ON
  
select * from pxp.PeriodosNew
GO
