USE [Reclamos]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ArmadorEfiencia_get]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[fn_ArmadorEfiencia_get] (@PeriodoID INT,@Eficiencia NUMERIC(6,2), @Cantidad INT)
RETURNS INT
AS
BEGIN
    DECLARE @Resultado INT

	IF EXISTS (SELECT NULL FROM pxp.ProductividadArmadoPeriodo WHERE PeriodoRowID =  @PeriodoID AND @Eficiencia BETWEEN RangoInicial AND RangoFinal AND PremioHasta999 IS NOT NULL )
	BEGIN

		SELECT @Resultado =
			CASE 
				WHEN @Cantidad <= 299 THEN PremioHasta299 
				WHEN @Cantidad <= 399 THEN PremioHasta399 
				WHEN @Cantidad <= 499 THEN PremioHasta499 
			ELSE 
				PremioHasta999 
			END
		FROM pxp.ProductividadArmadoPeriodo
		WHERE PeriodoRowID =  @PeriodoID  AND @Eficiencia BETWEEN RangoInicial AND RangoFinal

	END
	ELSE
	BEGIN
		SELECT @Resultado = Premio
		FROM pxp.ProductividadArmadoPeriodo
		WHERE PeriodoRowID =  @PeriodoID  AND @Eficiencia BETWEEN RangoInicial AND RangoFinal

	END

	 
    RETURN ISNULL(@Resultado,0)
END

GO
