USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[wsp_Reclamos_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[wsp_Reclamos_sel] 
@ReclamoID INT = 1
AS


SELECT *
FROM Reclamo e WITH(NOLOCK) 
WHERE e.Id = @ReclamoID


GO
