USE [Reclamos]
GO
/****** Object:  Table [dbo].[Reclamo_Cliente]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reclamo_Cliente](
	[FechaFact] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[FacturaID] [int] NOT NULL,
	[PedidoCerrado] [varchar](2) NULL,
	[FaltoProducto] [varchar](2) NULL,
	[ProductoMalEstado] [varchar](2) NULL,
	[FaltoProductoTexto] [varchar](500) NULL,
	[ProductoMalEstadoTexto] [varchar](500) NULL,
	[Comentario] [varchar](500) NULL,
	[ReclamoNumero]  AS ((((('R-'+right('0000'+CONVERT([varchar](7),[ClienteID]),(7)))+'-')+right('00000000'+CONVERT([varchar](8),[FacturaID]),(8)))+'-')+CONVERT([varchar](8),[FechaFact])) PERSISTED,
	[Abierto] [int] NULL,
	[enviado] [int] NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[FechaAlta] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[CantUpdate] [int] NOT NULL,
	[Fecha] [date] NULL,
	[FechaResuelto] [datetime] NULL,
	[Status] [tinyint] NULL,
	[ResolucionMotivoID] [int] NULL,
	[Observacion] [varchar](500) NULL,
	[esReclamoxControl] [int] NULL,
	[AddedBy] [varchar](20) NULL,
	[Notas] [varchar](4000) NULL,
 CONSTRAINT [PK_Reclamos] PRIMARY KEY CLUSTERED 
(
	[FechaFact] ASC,
	[ClienteID] ASC,
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Reclamo_Cliente] ADD  DEFAULT ((1)) FOR [Abierto]
GO
ALTER TABLE [dbo].[Reclamo_Cliente] ADD  DEFAULT ((0)) FOR [enviado]
GO
ALTER TABLE [dbo].[Reclamo_Cliente] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Reclamo_Cliente] ADD  DEFAULT ((0)) FOR [CantUpdate]
GO
ALTER TABLE [dbo].[Reclamo_Cliente] ADD  DEFAULT ('USUARIO_WEB') FOR [AddedBy]
GO
