USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_load]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_HojaDeRuta_load]
@FileName VARCHAR(255) = NULL
AS
SET NOCOUNT ON

DECLARE @RowID INT,@ClientesCount INT=0, @ClientesTokinCount INT = 0,@ReclamosCliente INT =0
INSERT INTO dbo.HojaDeRuta (NombreArchivo) VALUES (@FileName)
SET @RowID = @@IDENTITY
  

INSERT INTO dbo.HojaDeRutaDatos(HojaDeRutaID
,NombreArchivo
,TipoFact
,CodigoFact
,FacturaID
,ClienteID
,ClienteNombre
,RazonSocial
,FormaPago
,ImporteFactura
,ImporteAPagar
,TokinEmail)
SELECT @RowID,@FileName,
c.TipoFact,c.CodigoFact,
CONVERT(INT,c.FacturaID),
CONVERT(INT,c.ClienteID),
c.ClienteNombre,
c.RazonSocial,
c.FormaPago,
CONVERT(NUMERIC(18,2),REPLACE(c.ImporteFactura, ',','.')),
CONVERT(NUMEriC(18,2),REPLACE(c.ImporteAPagar , ',','.')), 
e.email 
FROM tmp.HojaDeRuta c
LEFT JOIN (SELECT vendorCustomerId AS ClienteID,MAX(clientEmail) AS email FROM dbo.Tokin GROUP BY vendorCustomerId) e ON e.ClienteID = c.ClienteID


UPDATE UPD SET
	ReclamosEmail = R.emails
FROM dbo.HojaDeRutaDatos UPD
INNER JOIN (SELECT rc.ClienteID, max(email) emails from Reclamo_Cliente RC GROUP BY rc.ClienteID ) R ON R.ClienteID = UPD.ClienteID
WHERE HojaDeRutaID =@RowID
AND NombreArchivo = @FileName
AND TokinEmail IS NULL 

SELECT 
	@ClientesCount = COUNT(DISTINCT ClienteID), 
	@ClientesTokinCount = COUNT(DISTINCT TokinEmail),
	@ReclamosCliente = COUNT(DISTINCT ReclamosEmail)
FROM dbo.HojaDeRutaDatos d
WHERE HojaDeRutaID =@RowID
AND NombreArchivo = @FileName


 
UPDATE dbo.HojaDeRuta SET Estado = 1, Clientes = @ClientesCount, ClientesTokin = @ClientesTokinCount, ClientesEmailReclamo = @ReclamosCliente WHERE RowID = @RowID

BEGIN TRY
	EXEC WhatsAppAPI.dbo.usp_HojaDeRuta_Copy @RowID
END TRY
BEGIN CATCH
END CATCH
--TRUNCATE TABLE tmp.HojaDeRuta

GO
