USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Mensajes_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Lista reclamos usp_Reclamos_Mensajes_sel
-- =============================================
CREATE PROCEDURE [dbo].[usp_Reclamos_Mensajes_sel]
@idReclamo VARCHAR(27) = ''
AS
BEGIN
	SET NOCOUNT ON;
   
	SELECT RC.MensajeItem, RC.Mensaje
	FROM dbo.Reclamo_Cliente_Mensaje RC
	WHERE RC.ReclamoID = @idReclamo
	UNION 
	SELECT 1 AS MensajeItem, RC.comentario as Mensaje
	FROM dbo.Reclamo_Cliente_Resolucion RC
	WHERE RC.ReclamoID = @idReclamo
 
	  
END


GO
