USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HDR_Update_FechaFact]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
CREATE PROCEDURE [dbo].[usp_HDR_Update_FechaFact]
AS

SET NOCOUNT ON

UPDATE 	HojaDeRutaDatosPxP SET FechaFact =CF.FechaFact	
FROM HojaDeRutaDatosPxP X
INNER JOIN dbo.Cliente_Factura CF ON CF.ClienteId= X.ClienteID AND CF.FacturaID=X.FacturaID
WHERE X.FechaFact IS NULL
	 
GO
