USE [Reclamos]
GO
/****** Object:  Table [dbo].[HojaDeRutaDatosPxP]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HojaDeRutaDatosPxP](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[HojaDeRutaID] [int] NOT NULL,
	[HojaDeRutaNro] [int] NOT NULL,
	[NombreArchivo] [varchar](255) NOT NULL,
	[TipoFact] [varchar](10) NULL,
	[CodigoFact] [varchar](10) NULL,
	[FacturaID] [int] NULL,
	[ClienteID] [int] NULL,
	[ClienteNombre] [varchar](255) NULL,
	[RazonSocial] [varchar](255) NULL,
	[FormaPago] [varchar](100) NULL,
	[ImporteFactura] [numeric](18, 2) NULL,
	[ImporteAPagar] [numeric](18, 2) NULL,
	[FechaFact] [int] NULL,
 CONSTRAINT [PK_HojaDeRutaDatosPxP] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC,
	[HojaDeRutaID] ASC,
	[NombreArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
