USE [Reclamos]
GO
/****** Object:  Table [dbo].[Armadores2024-01]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Armadores2024-01](
	[N° de hdr] [float] NULL,
	[Fecha] [datetime] NULL,
	[Zona] [nvarchar](255) NULL,
	[Repartidor] [nvarchar](255) NULL,
	[Cli# Desp] [float] NULL,
	[Altamirano, Maxi] [nvarchar](255) NULL,
	[Chama, Juan] [float] NULL,
	[Espinosa, Luis] [float] NULL,
	[Trejo, Edith] [float] NULL,
	[Cabrera, Santiago] [float] NULL,
	[Aguirre, Tobías] [float] NULL,
	[Tropan, Milagros] [nvarchar](255) NULL,
	[Henriquez, Willy] [float] NULL,
	[Payllalef Luciana] [float] NULL,
	[Torres Gaston] [float] NULL,
	[Villalba, Pablo] [nvarchar](255) NULL,
	[Guzman Brian] [nvarchar](255) NULL,
	[Ñanco Marcos] [nvarchar](255) NULL,
	[Jofre Gerardo] [float] NULL,
	[Briceño Maxi] [nvarchar](255) NULL,
	[Morales Franco] [float] NULL,
	[Rivera Onan] [nvarchar](255) NULL,
	[Riffo Katy] [nvarchar](255) NULL,
	[Medrano Naty] [nvarchar](255) NULL,
	[Cancio Javier] [nvarchar](255) NULL,
	[Astete Fiama] [float] NULL,
	[Oviedo Nicolas] [float] NULL,
	[F28] [nvarchar](255) NULL,
	[F29] [nvarchar](255) NULL,
	[F30] [nvarchar](255) NULL,
	[F31] [nvarchar](255) NULL,
	[Verificación] [float] NULL,
	[Altamirano Maxi] [nvarchar](255) NULL,
	[Tropan Milagros] [float] NULL,
	[Trejo        Edith] [nvarchar](255) NULL,
	[Aguirre Tobias ] [float] NULL,
	[Rivera Onan1] [nvarchar](255) NULL,
	[Riffo Katy1] [nvarchar](255) NULL,
	[Guzman Brian1] [nvarchar](255) NULL,
	[Jofre Gerardo1] [float] NULL,
	[Cabrera Santiago] [float] NULL,
	[Henriquez Willy] [nvarchar](255) NULL,
	[Espinosa Luis ] [nvarchar](255) NULL,
	[Oviedo Nicolas1] [nvarchar](255) NULL,
	[Torres Gaston1] [float] NULL,
	[Naty/Carlos/Maxi] [float] NULL,
	[FIAMA] [float] NULL,
	[LUCIANA] [float] NULL,
	[MORALES FRANCO1] [nvarchar](255) NULL,
	[F50] [nvarchar](255) NULL,
	[SIN VERIFICAR] [float] NULL
) ON [PRIMARY]

GO
