USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[send_emails]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[send_emails]
AS


DECLARE @RowIDMin INT, @RowIDMax INT, @RowID INT
DECLARE @ReclamoID VARCHAR(27), @email VARCHAR(100), @modificado TINYINT

DECLARE @emailrecipients varchar(255), @vQuery nvarchar(4000),@vQuerybody nvarchar(4000),@emailcopy_recipients varchar(1024),
		@vBody nvarchar(MAX), @FullName varchar(100), @EmailAddress varchar(100), @vSubject varchar(100), @FromEmailAddress varchar(255), @CurrentTime datetime,
		@bcc_recipients varchar(512), @SessionDate int,@css NVARCHAR(4000)

DECLARE
		@FechaFact INT,
		@ClienteID INT,
		@FacturaID INT, 
		@PedidoCerrado VARCHAR(2),
		@FaltoProducto VARCHAR(2),
		@ProductoMalEstado	VARCHAR(2),
		@FaltoProductoTexto	VARCHAR(500),
		@ProductoMalEstadoTexto VARCHAR(500),
		@Comentarios VARCHAR(500),
		@ReclamoNumero VARCHAR(25),
		@ClienteNombre VARCHAR(200),
		@Fecha_Fact VARCHAR(10),
		@EmailCliente VARCHAR(200),
		@telefono VARCHAR(20)

SELECT @css = dbo.getCSSemail()


SELECT RowID = ROW_NUMBER() OVER ( ORDER BY ReclamoID), ReclamoID, Email,Modificado
INTO #emails
FROM Reclamo_Cliente_Status
WHERE ( Enviado= 0 OR (Enviado = 1 and Modificado= 1) )


SELECT @RowIDMin = MIN(RowID), @RowIDMax = MAX(RowID) FROM #emails
SET @RowID = @RowIDMin



WHILE @RowID<= @RowIDMax
BEGIN 
	SELECT @ReclamoID = ReclamoID,@Email = Email, @Modificado = Modificado
	FROM #emails 
	WHERE RowID = @RowID

	SELECT 
		@ClienteID = ClienteID, @FechaFact = FechaFact, @FacturaID = FacturaID,
		@PedidoCerrado = PedidoCerrado, 
		@FaltoProducto = FaltoProducto, @FaltoProductoTexto = FaltoProductoTexto,
		@ProductoMalEstado = ProductoMalEstado, @ProductoMalEstadoTexto = ProductoMalEstadoTexto,
		@Comentarios = Comentario,
		@EmailCliente = email,
		@telefono = telefono

	FROM Reclamo_Cliente  WITH(NOLOCK)

	WHERE ReclamoNumero = @ReclamoID

	SET @Fecha_Fact = RIGHT(@FechaFact,2)+'/'+LEFT(RIGHT(@FechaFact,4),2)+'/'+LEFT (@FechaFact,4)

	SELECT @ClienteNombre = Nombre from Cliente WITH(NOLOCK) WHERE  Id= @ClienteID 
	 
	SELECT @vBody = '',@vSubject = 'Sistema de gestión de Reclamos - '+ @ReclamoID + CASE WHEN @modificado= 1 THen ' - MODIFICADO' ELSE '' END;

	SET @emailrecipients = @email -- el que genera el reclamo
	SET @emailcopy_recipients = '' -- el que genera el reclamo
	SET @bcc_recipients = 'reclamos@illanes.com.ar' -- este es el que va a ver administracion


	SET @vBody = N'<HTML><HEAD><style>' + @css + '</style></HEAD>'

	SET @vBody =  @vBody  + N'
	<body>
	<div class="wrap">
	<div> 
		<h1>Su reclamo ha sido generado bajo el número: '+@ReclamoID+', lo resolveremos a la brevedad.</h1>
	</div>
		<table border="0" align="left" cellpadding="0" cellspacing="0" class="contentTable table-width-lg" style="width: 100%;margin-bottom: 15px;">
			<tbody>
			<tr>
				<td colspan="5" height="20">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr class="tableHeader">
						<td align="left" colspan="5"><span class="formHeader">Datos seleccionados</span></td>
						</tr>
					</tbody>
				</table>
				</td>
			</tr>
			</tbody>
			<tr align="left" class="columnTop">
				<td height="20" width="50"><b>Cliente</b></td>
				<td height="20" width="30"><b>Fecha</b></td>
				<td height="20" width="50"><b>Nro Factura</b></td>
				<td height="20" width="30"><b>Email</b></td>
				<td height="20" width="30"><b>Telefono</b></td>
			</tr>
 

			<tr  align="left" class="itemTD11">
				<td align="left" width="60%">'+@ClienteNombre+'</td>
				<td align="left" >'+@Fecha_Fact+'</td>
				<td width="50"> '+CONVERT(VARCHAR(20),@FacturaID)+'</td>
				<td>'+CONVERT(VARCHAR(200),@EmailCliente)+'</td>
				<td>'+CONVERT(VARCHAR(20),@Telefono)+'</td>

			</tr>
				 
					   
		</table>
	
		<div  class="pagetitle">
			<span align="left"> ¿Su pedido llegó cerrado?</span>
			<br/>
			<span class="itemTD11">'+@PedidoCerrado+'</span>
		</div>
		  
		<div  class="pagetitle">
			<span>¿Faltó algun producto?</span>	
			<br/>
			<span class="itemTD11">'+@FaltoProducto+'</span> ' + CASE WHEN  @FaltoProducto= 'Si' THEN ' 
			<br/>
			<span class="itemTD11">Comentario</span>	
			<br/>
			<span class="itemTD11">'+@FaltoProductoTexto+'</span>	
			<br/> '  ELSE '' END +'
		</div> 
	
		<div  class="pagetitle">
			<span>¿Llego algo en mal estado?</span>
			<br/>
			<span class="itemTD11">'+@ProductoMalEstado+'</span>' + CASE WHEN  @ProductoMalEstado= 'Si' THEN ' 	  
			<br/>
			<span class="itemTD11">Comentario</span>	
			<br/>
			<span class="itemTD11">'+@ProductoMalEstadoTexto+'</span>	
			<br/> '  ELSE '' END +'
		</div>
 
		<div  class="pagetitle">
			<span>Comentarios</span>
			<br/>
			<span class="itemTD11">'+@Comentarios+'</span>	
		</div>
	 
				
	</div>
	</body></html>
	'

	EXEC msdb.dbo.sp_send_dbmail 
		@profile_name =  'WEBMAIL',
		@from_address = 'reclamosweb@illanes.com.ar',
		@reply_to = '',
		@recipients =  @emailrecipients,
		@copy_recipients = @emailcopy_recipients ,
		@blind_copy_recipients = @bcc_recipients,
		@subject = @vSubject,
		@body = @vBody,
		@body_format = 'HTML', 
		@sensitivity = 'NORMAL'

	UPDATE Reclamo_Cliente SET enviado=1 WHERE ReclamoNumero = @ReclamoID
	UPDATE Reclamo_Cliente_Status SET Enviado= 1, Modificado =0  WHERE ReclamoID = @ReclamoID

SET @RowID = @RowID+ 1
END



--SELECT * FROM Reclamo_Cliente_status
-- update Reclamo_Cliente_status SET Modificado=1 WHERE ReclamoID= 'R-01082-00423451-20230628'
GO
