USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerarReclamosDiarios_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GenerarReclamosDiarios_sel]
AS

DECLARE
		@FileName VARCHAR(255),
		@Return tinyint,
		@Query varchar(2000)

SELECT @FileName = '\\192.168.200.10\e$\Pública\Reclamos\Archivos_Diarios\Reclamos_Generados_' + CONVERT(VARCHAR(10),DATEADD(DD,-1,GETDATE()),112) + '.csv'
SELECT @FileName


SELECT @Query = 'BCP "SELECT CF.Fecha_Fact AS Fecha_Factura,	CF.FacturaID,	CF.ClienteID,	REPLACE(C.Nombre,'','','''') AS ClienteNombre,	REPLACE(RC.email,'','','''') AS Email, REPLACE(RC.telefono,'','','''') AS Telefono, 	CF.TotalFactura, RC.ReclamoNumero, RC.PedidoCerrado, RC.FaltoProducto, REPLACE(RC.FaltoProductoTexto,'','','''') AS FaltoTextoComenario, RC.ProductoMalEstado, REPLACE(RC.ProductoMalEstadoTexto ,'','','''') AS ProductoMalEstadoComentario, REPLACE(RC.Comentario ,'','','''') AS ClienteComentario FROM Reclamos.dbo.Reclamo_Cliente RC WITH(NOLOCK) INNER JOIN Reclamos.dbo.Cliente_Factura CF WITH(NOLOCK) ON  CF.FechaFact=RC.FechaFact AND CF.ClienteID=RC.ClienteID AND CF.FacturaID=RC.FacturaID INNER JOIN Reclamos.dbo.Cliente C WITH(NOLOCK) ON  C.Id = Rc.ClienteID WHERE DATEDIFF(DD,FechaAlta, DATEADD(DD,-1,GETDATE())) = 0" queryout '+@FileName+' -c -C 1252 -t"," -T' 


EXEC master.dbo.xp_cmdshell @Query




GO
