USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_HojaDeRuta_view]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_HojaDeRuta_view]
@HojaDeRutaID INT = 0
AS
SET NOCOUNT ON 


SELECT RowID
,TipoFact
,CodigoFact
,FacturaID
,ClienteID
,ClienteNombre
,RazonSocial
,FormaPago
,ImporteFactura
,ImporteAPagar
,ISNULL(TokinEmail,ReclamosEmail) email 
FROM HojaDeRutaDatos d  
WHERE  d.HojaDeRutaID=@HojaDeRutaID
 


GO
