USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Facturas_Cliente_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Facturas_Cliente_sel]
@ClienteID INT,
@StartDate INT
AS

SET NOCOUNT ON

--DECLARE @Date DATE

--SET @Date  = LEFT(@StartDate,4) + '-' + RIGHT(LEFT(@StartDate,6),2) + '-' + RIGHT(CONCAT('0',RIGHT(@StartDate,2)),2)
 

SELECT * FROM Cliente_Factura WHERE ClienteId = @ClienteID AND FechaFact=@StartDate and CodFact not like 'NC%'



GO
