USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Error_Controlador_Combo]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Reclamos_Error_Controlador_Combo]
AS

SELECT '1' AS Id, 'Si' Nombre
UNION
SELECT '0' AS Id, 'No' Nombre

GO
