USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cliente_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[usp_Cliente_sel]
@ClienteID INT
AS
SET NOCOUNT ON

SELECT Nombre FROM Cliente where Id = @ClienteID

RETURN 0



GO
