USE [Reclamos]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reclamos_Mensaje_Status_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[usp_Reclamos_Mensaje_Status_upd]
@ReclamoID VARCHAR(27)
AS
SET NOCOUNT ON

UPDATE TMP.Reclamo_Cliente SET
	Status = 1
WHERE ReclamoNumero = @ReclamoID


UPDATE dbo.Reclamo_Cliente SET
	Status = 1
WHERE ReclamoNumero = @ReclamoID


GO
