USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Buscar_Armador_Controlador]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pxp].[usp_Buscar_Armador_Controlador]
@FacturaID INT = 0,
@ClienteID INT = 0 
AS

SET NOCOUNT ON
 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

SELECT 
	P.HojaDeRutaNro,P.FacturaID,P.ClienteID,P.ClienteNombre,P.RazonSocial,
	HDR.Fecha,ISNULL(C.FechaFact,HDR.FechaInt) AS FechaFact,
	HDR.ArmadorID, A.Apellido + ' '+ A.Nombre AS Armador,
	HDR.ControladorID, B.Apellido + ' '+ B.Nombre AS Controlador, 
	ExisteReclamo = CASE WHEN (SELECT COUNT(*) FROM Reclamo_Cliente RC WHERE RC.ClienteID=HDR.ClienteID AND P.FacturaID = RC.FacturaID) > 0 THEN 1 ELSE 0 END
FROM [dbo].[HojaDeRutaDatosPxP] P
INNER JOIN pxp.HojaDeRuta_Armador_Controlador HDR ON HDR.HojaDeRutaNro=P.HojaDeRutaNro AND  HDR.ClienteID = P.ClienteID
INNER JOIN dbo.Nomina A ON A.EmpleadoID = HDR.ArmadorID
INNER JOIN dbo.Nomina B ON B.EmpleadoID = HDR.ControladorID
LEFT JOIN Cliente_Factura C ON C.ClienteId=P.ClienteID AND C.FacturaID=P.FacturaID
 
WHERE 
		(@FacturaID = 0 OR P.FacturaID= @FacturaID)
	AND 
		
		(@ClienteID = 0  OR P.ClienteID = @ClienteID)

 



GO
