USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Armadores_Controladores_Combo]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


CREATE PROCEDURE [pxp].[usp_Armadores_Controladores_Combo]
AS
SET NOCOUNT ON 
 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE esArmador = 1 and esActivo = 1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 

	SELECT EmpleadoID, Apellido + ', ' + Nombre AS Nombre
	FROM Nomina
	WHERE esControlador = 1 and esActivo = 1
UNION 
	SELECT 0, 'AAA Sin Definir'
ORDER BY 2 
GO
