USE [Reclamos]
GO
/****** Object:  UserDefinedFunction [pxp].[fn_GetEmpleadoNombre]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [pxp].[fn_GetEmpleadoNombre] ( @EmpleadoID INT )
RETURNS VARCHAR(500)
AS
BEGIN 

	DECLARE @Nombre VARCHAR(500)
	SELECT @Nombre  = CONVERT(VARCHAR(500),Apellido + ' ' + Nombre)
	FROM dbo.Nomina WITH(NOLOCK)
	WHERE EmpleadoID=@EmpleadoID
 
	RETURN ISNULL(@Nombre,'')
END


GO
