USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Armador_Controlador_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


CREATE PROCEDURE [pxp].[usp_Armador_Controlador_upd]
@HDR INT = 0,
@ClienteID INT =0,
@ArmadorID INT =0,
@ControladorID INT =0,
@Errores INT =0

AS
SET NOCOUNT ON 
 

IF NOT EXISTS (SELECT NULL FROM pxp.HojaDeRuta_Armador_Controlador WHERE HojaDeRutaNro = @HDR AND ClienteID=@ClienteID )
BEGIN
	INSERT INTO pxp.HojaDeRuta_Armador_Controlador (HojaDeRutaNro,ClienteID,ArmadorID,ControladorID,Errores) VALUES (@HDR,@ClienteID,@ArmadorID,@ControladorID,@Errores)
END
ELSE
BEGIN
	UPDATE pxp.HojaDeRuta_Armador_Controlador SET 
		ArmadorID=@ArmadorID,
		ControladorID= @ControladorID,
		Errores = @Errores,
		Estado =2 
	WHERE HojaDeRutaNro = @HDR AND ClienteID=@ClienteID

END 

GO
