USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[Periodos_Combo]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [pxp].[Periodos_Combo]
AS

SELECT  *, Descripcion = CONVERT(CHAR(4),PeriodoAnio) + '-' + PeriodoNombre
FROM pxp.PeriodosNew P
WHERE EXISTS(SELECt null FROM pxp.HojaDeRuta_Armador_Controlador HDR WITH(NOLOCK) WHERE HDR.FechaInt BETWEEN P.Inicio AND P.fin)
ORDER BY RowID DESC


GO
