USE [Reclamos]
GO
/****** Object:  Table [pxp].[Periodos]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [pxp].[Periodos](
	[PeriodoID] [int] NULL,
	[PeriodoCodigo] [char](2) NULL,
	[PeriodoNombre] [varchar](15) NULL,
	[PeriodoNombreLargo] [varchar](50) NULL,
	[Inicio] [char](4) NULL,
	[Fin] [char](4) NULL,
	[AnoOffset] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [pxp].[Periodos] ADD  DEFAULT ((0)) FOR [AnoOffset]
GO
