USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_HojaDeRuta_Pendientes_Sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [pxp].[usp_HojaDeRuta_Pendientes_Sel]
@HojaDeRutaNro INT
AS
SET NOCOUNT ON

SELECT   b.HojaDeRutaID,b.HojaDeRutaNro,b.ClienteID,b.RazonSocial,STUFF(
        (SELECT ', ' + CONVERT(VARCHAR(500),b2.FacturaID)
         FROM dbo.HojaDeRutaDatosPxP b2 
         WHERE B2.HojaDeRutaNro = B.HojaDeRutaNro AND B2.ClienteID=b.ClienteID
         FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),
        1, 2, ''
    ) AS FacturaID
FROM dbo.HojaDeRutaPxp a 
INNER JOIN dbo.HojaDeRutaDatosPxP b on b.HojaDeRutaNro=a.HojaDeRutaNro
LEFT JOIN pxp.HojaDeRuta_Armador_Controlador c on c.HojaDeRutaNro=a.HojaDeRutaNro and c.ClienteID=b.ClienteID
WHERE a.HojaDeRutaNro=@HojaDeRutaNro and c.clienteid is NULL
GROUP BY   b.HojaDeRutaID,b.HojaDeRutaNro,b.ClienteID,b.RazonSocial


GO
