USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_HojaDeRuta_Pendientes]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [pxp].[usp_HojaDeRuta_Pendientes]
AS
SET NOCOUNT ON

SELECT CONVERT(DATE,DateAdded,101) Fecha, HojaDeRutaNro,Clientes,Facturas,
Controladas=(SELECT  COUNT(*) FROM pxp.HojaDeRuta_Armador_Controlador c WHERE c.HojaDeRutaNro = a.HojaDeRutaNro ) 
FROM dbo.HojaDeRutaPxp a 
WHERE Clientes <>(SELECT  COUNT(*) FROM pxp.HojaDeRuta_Armador_Controlador c WHERE c.HojaDeRutaNro = a.HojaDeRutaNro ) 
AND a.HojaDeRutaNro>0

GO
