USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Controladores_Periodo_sel_v2]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [pxp].[usp_Controladores_Periodo_sel] 20,18,1
-- [pxp].[usp_Controladores_Periodo_sel] 20,18,0


CREATE PROCEDURE [pxp].[usp_Controladores_Periodo_sel_v2]
@PeriodoID	INT,
@EmpleadoID INT,
@FromChart	INT = 0
AS

SET NOCOUNT ON
 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
 

DECLARE 
@DEVOLUCION_DE_MERCADERIA INT = 0,
@ERROR_UNIDAD_DE_MEDIDA	  INT = 0,
@FALTANTE_DE_MERCADERIA	  INT = 0,
@MERCADERI_DAÑADA		  INT = 0,
@MERCADERIA_EQUIVOCADA	  INT = 0,
@NO_DEFINIDO			  INT = 0,
@OTRO					  INT = 0,
@TotalRC				  INT = 0


SELECT HDR.ClienteID,HDR.Fecha,R.ResolucionMotivoID,M.Nombre,R.FacturaID, HDR.HojaDeRutaNro 
INTO #temp
FROM  pxp.HojaDeRuta_Armador_Controlador HDR WITH(NOLOCK) 
INNER JOIN HojaDeRutaDatosPxP HDRD ON  HDRD.ClienteID = HDR.ClienteID AND HDRD.HojaDeRutaNro=HDR.HojaDeRutaNro
INNER JOIN dbo.Reclamo_Cliente R ON R.ClienteID=HDR.ClienteID AND  esReclamoxControl=1 AND HDRD.FacturaID = R.FacturaID 
INNER JOIN pxp.PeriodosNew N WITH(NOLOCK) ON HDR.FechaInt BETWEEN N.Inicio and N.Fin 
INNER JOIN Reclamo_Resolucion_Motivo M ON M.Id=R.ResolucionMotivoID  
WHERE  N.RowID = @PeriodoID 
AND HDR.ControladorID=@EmpleadoID  


IF @FromChart=0
BEGIN
	SELECT * FROM #temp
END
ELSE
BEGIN


	SELECT @DEVOLUCION_DE_MERCADERIA= COUNT(*)	FROM #temp WHERE Nombre  = 'DEVOLUCION DE MERCADERIA'
	SELECT @ERROR_UNIDAD_DE_MEDIDA	= COUNT(*) 	FROM #temp WHERE Nombre  = 'ERROR UNIDAD DE MEDIDA'
	SELECT @FALTANTE_DE_MERCADERIA	= COUNT(*) 	FROM #temp WHERE Nombre  = 'FALTANTE DE MERCADERIA'
	SELECT @MERCADERI_DAÑADA		= COUNT(*) 	FROM #temp WHERE Nombre  = 'MERCADERIA DAÑADA'
	SELECT @MERCADERIA_EQUIVOCADA	= COUNT(*) 	FROM #temp WHERE Nombre  = 'MERCADERIA EQUIVOCADA' 
	SELECT @OTRO					= COUNT(*) 	FROM #temp WHERE Nombre  = 'OTRO'
	SELECT @TotalRC					= COUNT(*) 	FROM #temp
	
	 

	SELECT   @DEVOLUCION_DE_MERCADERIA	AS DEVOLUCION_DE_MERCADERIA,
			 @ERROR_UNIDAD_DE_MEDIDA	AS ERROR_UNIDAD_DE_MEDIDA	, 	 
			 @FALTANTE_DE_MERCADERIA	AS FALTANTE_DE_MERCADERIA	, 	 
			 @MERCADERI_DAÑADA		 	AS MERCADERIA_DANADA		,
			 @MERCADERIA_EQUIVOCADA	 	AS MERCADERIA_EQUIVOCADA	,  
			 @OTRO					 	AS OTRO						, 
			 @TotalRC					AS TotalRC
END
 







 
GO
