USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Periodo_Actual]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [pxp].[usp_Periodo_Actual]
AS
SET NOCOUNT ON
 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
  

SELECT MAX(RowID) PeriodoID
FROM pxp.PeriodosNew N WITH(NOLOCK) 
WHERE CONVERT(INT,CONVERT(VARCHAR(8),GETDATE(),112),112) BETWEEN N.Inicio and N.Fin 
 
 

GO
