USE [Reclamos]
GO
/****** Object:  Table [pxp].[HojaDeRuta_Armador_Controlador]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pxp].[HojaDeRuta_Armador_Controlador](
	[HojaDeRutaNro] [int] NULL,
	[ClienteID] [int] NULL,
	[ArmadorID] [int] NULL,
	[ControladorID] [int] NULL,
	[Estado] [int] NULL,
	[DateAdded] [datetime] NULL,
	[Errores] [int] NULL,
	[FechaInt]  AS (CONVERT([int],CONVERT([varchar](8),[DateAdded],(112)),(112))),
	[Fecha]  AS (CONVERT([date],CONVERT([varchar](10),[DateAdded],(112))))
) ON [PRIMARY]

GO
ALTER TABLE [pxp].[HojaDeRuta_Armador_Controlador] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [pxp].[HojaDeRuta_Armador_Controlador] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [pxp].[HojaDeRuta_Armador_Controlador] ADD  DEFAULT ((0)) FOR [Errores]
GO
