USE [Reclamos]
GO
/****** Object:  Table [pxp].[ProductividadControlPeriodo]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pxp].[ProductividadControlPeriodo](
	[PeriodoRowID] [int] NULL,
	[RangoInicial] [numeric](6, 2) NULL,
	[RangoFinal] [numeric](6, 2) NULL,
	[Premio] [numeric](8, 2) NULL
) ON [PRIMARY]

GO
