USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_HojaDeRuta_status]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [pxp].[usp_HojaDeRuta_status]
AS
SET NOCOUNT ON

SELECT HojaDeRutaNro,Clientes,Facturas,
Controladas=(SELECT  COUNT(*) FROM pxp.HojaDeRuta_Armador_Controlador c WHERE c.HojaDeRutaNro = a.HojaDeRutaNro ) 
FROM dbo.HojaDeRutaPxp a 

GO
