USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_HDR_Close]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [pxp].[usp_HDR_Close]
@HDR INT = 0
AS
SET NOCOUNT ON

UPDATE dbo.HojaDeRutaPxp SET Estado=2, DateUpdated = GETDATE() WHERE HojaDeRutaNro=@HDR 


GO
