USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Armadores_Controladores_Periodo_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- [pxp].[usp_Armadores_Controladores_Periodo_sel] 20


CREATE PROCEDURE [pxp].[usp_Armadores_Controladores_Periodo_sel]
@PeriodoID INT
AS

SET NOCOUNT ON
 
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
 
IF OBJECT_ID('tempdb..#Clientes') IS NOT NULL
	DROP TABLE #Clientes

select ClienteID,MAX(ClienteNombre) ClienteNombre
INTO #Clientes
FROM HojaDeRutaDatosPxP
GROUP BY ClienteID 
 
 SELECT 
	HDR.HojaDeRutaNro,HDR.ClienteID, C.ClienteNombre,
	--HDR.Fecha,ISNULL(C.FechaFact,HDR.FechaInt) AS FechaFact,
	HDR.Fecha,HDR.FechaInt AS FechaFact,
	HDR.ArmadorID, A.Apellido + ' '+ A.Nombre AS Armador,
	HDR.ControladorID, B.Apellido + ' '+ B.Nombre AS Controlador, 
	HDR.Errores,
	ExisteReclamo = (
		SELECT COUNT(DISTINCT RC.ReclamoNumero) 
		FROM Reclamo_Cliente RC 
		-- ojo con esto, la prueba que hice no exista la factura que el cliente seleccion en las hdr
		INNER JOIN dbo.Cliente_Factura CF ON CF.ClienteId= RC.ClienteID AND CF.FacturaID=RC.FacturaID
		INNER JOIN HojaDeRutaDatosPxP HDRD ON HDRD.HojaDeRutaNro=HDR.HojaDeRutaNro AND HDRD.ClienteID = RC.ClienteID AND HDRD.FacturaID = CF.FacturaID 
		WHERE  RC.FechaFact = CF.FechaFact AND  HDRD.ClienteID=HDR.ClienteID
		AND ISNULL(RC.esReclamoxControl,0) = 1

		)
	--ExisteReclamo2 = CASE WHEN (
	--	SELECT COUNT(DISTINCT RC.ReclamoNumero) 
	--	FROM Reclamo_Cliente RC 
	--	-- ojo con esto, la prueba que hice no exista la factura que el cliente seleccion en las hdr
	--	INNER JOIN HojaDeRutaDatosPxP HDRD ON  HDRD.ClienteID = RC.ClienteID AND HDRD.FacturaID = RC.FacturaID 
	--	WHERE  RC.FechaFact = HDR.FechaInt AND  
	--	HDRD.ClienteID=HDR.ClienteID AND 
	--	HDRD.HojaDeRutaNro=HDR.HojaDeRutaNro AND 
	--	ISNULL(RC.esReclamoxControl,0) = 1
	--) > 0 THEN 1 ELSE 0 END
FROM  pxp.HojaDeRuta_Armador_Controlador HDR WITH(NOLOCK) 
INNER JOIN pxp.PeriodosNew N WITH(NOLOCK) ON HDR.FechaInt BETWEEN N.Inicio and N.Fin
INNER JOIN dbo.Nomina A WITH(NOLOCK)ON A.EmpleadoID = HDR.ArmadorID
INNER JOIN dbo.Nomina B WITH(NOLOCK)ON B.EmpleadoID = HDR.ControladorID
LEFT JOIN #Clientes C ON C.ClienteID=HDR.ClienteID
WHERE  N.RowID = @PeriodoID

/*


SELECT 
	P.HojaDeRutaNro,P.FacturaID,P.ClienteID,P.ClienteNombre,P.RazonSocial,
	--HDR.Fecha,ISNULL(C.FechaFact,HDR.FechaInt) AS FechaFact,
	HDR.Fecha,HDR.FechaInt AS FechaFact,
	HDR.ArmadorID, A.Apellido + ' '+ A.Nombre AS Armador,
	HDR.ControladorID, B.Apellido + ' '+ B.Nombre AS Controlador, 
	HDR.Errores,
	ExisteReclamo = CASE WHEN (
		SELECT COUNT(DISTINCT RC.ReclamoNumero) 
		FROM Reclamo_Cliente RC 
		-- ojo con esto, la prueba que hice no exista la factura que el cliente seleccion en las hdr
		INNER JOIN HojaDeRutaDatosPxP HDRD ON  HDRD.ClienteID = RC.ClienteID AND HDRD.FacturaID = RC.FacturaID 
		WHERE  RC.FechaFact = HDR.FechaInt AND  
		HDRD.HojaDeRutaNro=HDR.HojaDeRutaNro AND 
		HDRD.ClienteID=HDR.ClienteID AND
		HDRD.FacturaID=P.FacturaID AND
		ISNULL(RC.esReclamoxControl,0) = 1
		 ) > 0 THEN 1 ELSE 0 END
FROM [dbo].[HojaDeRutaDatosPxP] P WITH(NOLOCK)
INNER JOIN pxp.HojaDeRuta_Armador_Controlador HDR WITH(NOLOCK) ON HDR.HojaDeRutaNro=P.HojaDeRutaNro AND  HDR.ClienteID = P.ClienteID
INNER JOIN pxp.PeriodosNew N WITH(NOLOCK) ON HDR.FechaInt BETWEEN N.Inicio and N.Fin
INNER JOIN dbo.Nomina A WITH(NOLOCK)ON A.EmpleadoID = HDR.ArmadorID
INNER JOIN dbo.Nomina B WITH(NOLOCK)ON B.EmpleadoID = HDR.ControladorID
--LEFT JOIN Cliente_Factura C WITH(NOLOCK) ON C.ClienteId=P.ClienteID AND C.FacturaID=P.FacturaID
WHERE  N.RowID = @PeriodoID

 
 */

GO
