USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Buscar_HDR_Cliente_V4]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pxp].[usp_Buscar_HDR_Cliente_V4]
@HDR INT = 0,
@ClienteID INT =0 
AS
SET NOCOUNT ON

SET @HDR = ISNULL(@HDR,0)
SET @ClienteID = ISNULL(@ClienteID,0)

SELECT a.HojadeRutaNro,a.ClienteID, a.RazonSocial,COUNT(DISTINCT a.FacturaID) TotalFacturas ,  
Facturas= STUFF  
(  
    (  
      SELECT ', '+ CAST(b.FacturaID AS VARCHAR(MAX))  
      FROM [dbo].[HojaDeRutaDatosPxP] b   
      WHERE b.HojadeRutaNro = a.HojadeRutaNro and b.ClienteID = a.ClienteID
      FOR XML PATH('')  
    ),1,1,''  
) ,
isnull(MAX(c.Errores),0)  AS Errores,
Controlado = CONVERT(INT,CASE WHEN EXISTS (SELECT  NULL FROM pxp.HojaDeRuta_Armador_Controlador c WHERE c.HojaDeRutaNro = a.HojaDeRutaNro and c.ClienteID = a.ClienteID) THEN 1 ELSE 0 END), 
Armador =    pxp.fn_GetEmpleadoNombre ( MAX(c.ArmadorID) ) ,
Controlador=   pxp.fn_GetEmpleadoNombre ( MAX(c.ControladorID)  ),
Dia = MAX(CONVERT(varchar(10),c.Fecha,103)),
Hora = MAX(convert(char(8),c.DateAdded,108)),
fecha = MAX( c.DateAdded )
FROM [dbo].[HojaDeRutaDatosPxP] a WITH(NOLOCK)
LEFT JOIN  pxp.HojaDeRuta_Armador_Controlador c WITH(NOLOCK) ON c.HojaDeRutaNro = a.HojaDeRutaNro and c.ClienteID = a.ClienteID
WHERE (@HDR = 0 or a.HojaDeRutaNro = @HDR) 
AND 
	(@ClienteID = 0 or a.ClienteID=@ClienteID )
GROUP BY a.HojadeRutaNro,a.ClienteID,a.RazonSocial
ORDER BY a.HojadeRutaNro DESC,a.ClienteID 


GO
