USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Buscar_HDR_Cliente_V2]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pxp].[usp_Buscar_HDR_Cliente_V2]
@HDR INT = 0,
@ClienteID INT =0 
AS

SET NOCOUNT ON

SET @HDR = ISNULL(@HDR,0)
SET @ClienteID = ISNULL(@ClienteID,0)

SELECT a.HojadeRutaNro,a.ClienteID, a.RazonSocial,COUNT(DISTINCT a.FacturaID) TotalFacturas ,  
Facturas= STUFF  
(  
    (  
      SELECT ', '+ CAST(b.FacturaID AS VARCHAR(MAX))  
      FROM [dbo].[HojaDeRutaDatosPxP] b   
      WHERE b.HojadeRutaNro = a.HojadeRutaNro and b.ClienteID = a.ClienteID
      FOR XML PATH('')  
    ),1,1,''  
) ,
Controlado = CASE WHEN EXISTS (SELECT  NULL FROM pxp.HojaDeRuta_Armador_Controlador c WHERE c.HojaDeRutaNro = a.HojaDeRutaNro and c.ClienteID = a.ClienteID) THEN 1 ELSE 0 END
FROM [dbo].[HojaDeRutaDatosPxP] a  
WHERE (@HDR = 0 or a.HojaDeRutaNro = @HDR) 
AND 
	(@ClienteID = 0 or a.ClienteID=@ClienteID )
GROUP BY a.HojadeRutaNro,a.ClienteID,a.RazonSocial
ORDER BY a.HojadeRutaNro,a.ClienteID


GO
