USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[usp_Buscar_HDR_Cliente_V1]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [pxp].[usp_Buscar_HDR_Cliente_V1]
@HDR INT = 0,
@ClienteID INT =0 
AS

SET NOCOUNT ON

SET @HDR = ISNULL(@HDR,0)
SET @ClienteID = ISNULL(@ClienteID,0)

SELECT * , 
-- no tocar, sirve para el asp/html
ROW_NUMBER() OVER ( PARTITION BY HojaDeRutaID,ClienteID ORDER BY HojaDeRutaID,ClienteID,FacturaID) RowOrder , 
ROW_NUMBER() OVER ( PARTITION BY HojaDeRutaID,ClienteID ORDER BY HojaDeRutaID DESC,ClienteID DESC ,FacturaID DESC) RowSpan
FROM [dbo].[HojaDeRutaDatosPxP] 
WHERE (@HDR = 0 or HojaDeRutaNro = @HDR) 
AND 
	(@ClienteID = 0 or ClienteID=@ClienteID )
ORDER BY HojadeRutaNro,ClienteID,FacturaID


GO
