USE [Reclamos]
GO
/****** Object:  UserDefinedFunction [pxp].[fn_GetPeriodo]    Script Date: 30/04/2026 12:40:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [pxp].[fn_GetPeriodo] ( @Fecha DATE )
RETURNS INT
AS
BEGIN 

	DECLARE @PeriodoID INT
	SELECT @PeriodoID  = PeriodoID
	FROM pxp.Periodos
	WHERE CONVERT(VARCHAR(10),@Fecha,112) 
		BETWEEN 
			--CASE 
			--	WHEN MONTH(@Fecha) = 12 THEN CONCAT(CONVERT(VARCHAR(4),DATEPART(YYYY,DATEADD(YYYY,AnoOffset,@Fecha))),Inicio)
			--ELSE 
				 CONCAT(CONVERT(VARCHAR(4),DATEPART(YYYY,@Fecha)),Inicio)
			--END
		AND 
			--CASE 
			--	WHEN MONTH(@Fecha) = 12 and PeriodoID = 1 THEN CONCAT(CONVERT(VARCHAR(4),DATEPART(YYYY,DATEADD(YYYY,0,@Fecha))),Fin)
			--ELSE 
				 CONCAT(CONVERT(VARCHAR(4),DATEPART(YYYY,@Fecha)),Fin)
			--END
		 
			
		
		
		--CONCAT(CONVERT(VARCHAR(4),DATEPART(YYYY,DATEADD(YYYY,0,@Fecha))),Inicio) AND CONCAT(CONVERT(VARCHAR(4),DATEPART(YYYY,@Fecha)),Fin)

	RETURN ISNULL(@PeriodoID,1)
END

GO
