USE [Reclamos]
GO
/****** Object:  StoredProcedure [pxp].[wsp_Reclamo_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [pxp].[wsp_Reclamo_upd]
@FechaFact INT,
@ClienteID INT,
@FacturaID INT,
@Respuesta1 VARCHAR(2), -- pedido cerrado
@Respuesta2 VARCHAR(2), -- falto producto
@Respuesta3 VARCHAR(2), -- produto mal estado
@text1 VARCHAR(500), -- texto falto producto
@text2 VARCHAR(500), -- texto producto mal estado
@comentarios VARCHAR(500),
@email VARCHAR(100),
@telefono VARCHAR(20) = NULL,
@ResolucionMotivoID INT = 0
AS
-- EXEC wsp_Reclamo_upd 20230628,1082,94842,'Si','Si','Si','caca','pepe','jota'
SET NOCOUNT ON

DECLARE @ReclamoGenerado VARCHAR(25), @Action INT = 0

SET @ReclamoGenerado = 'R-'+RIGHT('0000'+CONVERT(VARCHAR(5),@ClienteID),5) + '-' + RIGHT('00000000'+ CONVERT(VARCHAR(8),@FacturaID),8) + '-' + CONVERT(VARCHAR(8),@FechaFact)
 
-- verificar si exise factura, cambiar columna Fecha_Fact para que sea un int

IF not exists ( SELECT  NULL FROM Cliente_Factura WITH(NOLOCK) WHERE FechaFact = @FechaFact  AND ClienteId = @ClienteID AND FacturaID= @FacturaID)
BEGIN 
	SELECT 'No existen datos' AS ReclamoGenerado, 0 AS Accion

	RETURN
END 

IF EXISTS( SELECT NULL FROM Reclamo_Cliente WITH(NOLOCK) WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID and Status>=1 )
BEGIN
	SELECT @ReclamoGenerado AS ReclamoGenerado, 3 AS Accion

	RETURN
END


DECLARE @CantUPD INT -- problema hacking
IF EXISTS( SELECT NULL FROM Reclamo_Cliente WITH(NOLOCK) WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID )
BEGIN
	SELECT @CantUPD = CantUpdate FROM Reclamo_Cliente WITH(NOLOCK) WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID 
	
	IF @CantUPD <20 
	BEGIN
		UPDATE Reclamo_Cliente SET
			PedidoCerrado			= @Respuesta1, 
			FaltoProducto			= @Respuesta2, 
			ProductoMalEstado		= @Respuesta3, 
			FaltoProductoTexto		= @text1	 , 
			ProductoMalEstadoTexto	= @text2	 , 
			Comentario				= @comentarios,
			email					= @email ,
			telefono				= @telefono,
			FechaModificacion		= GETDATE(),
			CantUpdate				= CantUpdate+1,
			Fecha					= CONVERT(DATE,GETDATE()),
			ResolucionMotivoID		= @ResolucionMotivoID
		WHERE FechaFact = @FechaFact AND ClienteID = @ClienteID AND FacturaID = @FacturaID 
		SET @Action = 1
	END
	ELSE
	BEGIN
		SET @Action = 99
	END 
 	

END
ELSE

BEGIN
	INSERT INTO Reclamo_Cliente (FechaFact
								,ClienteID
								,FacturaID
								,PedidoCerrado
								,FaltoProducto
								,ProductoMalEstado
								,FaltoProductoTexto
								,ProductoMalEstadoTexto
								,Comentario
								,email
								,telefono
								,Fecha
								,AddedBy
								,Abierto
								,Status
								,esReclamoxControl
								,ResolucionMotivoID)
						VALUES ( @FechaFact
								,@ClienteID
								,@FacturaID
								,@Respuesta1 
								,@Respuesta2
								,@Respuesta3
								,@text1 
								,@text2
								,@comentarios
								,@email
								,@telefono
								,CONVERT(DATE,GETDATE())
								,'USUARIO_LOGISTICA'
								,0
								,2
								,1
								,@ResolucionMotivoID)

	SET @Action = 2

END
 

SELECT @ReclamoGenerado AS ReclamoGenerado, @Action AS Accion




GO
