USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Pxp_Armadores_Eficiencia]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [report].[usp_Pxp_Armadores_Eficiencia]
@Periodo INT = 0,
@PeriodoAnio INT = 2024
AS

-- Periodo =0, quiere corte por mes
IF @Periodo = 0 
BEGIN

	SELECT HRC.Fecha, HRC.ArmadorID, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErrores
	FROM pxp.HojaDeRuta_Armador_Controlador HRC
	INNER JOIN pxp.PeriodosNew P ON P.PeriodoID = pxp.fn_GetPeriodo ( HRC.Fecha )  AND p.PeriodoAnio = @PeriodoAnio
	WHERE (@Periodo = 0 OR P.PeriodoID= @Periodo)
	GROUP BY HRC.Fecha, HRC.ArmadorID 


	RETURN 
END

-- Periodo =0, quiere corte por mes
SELECT P.PeriodoAnio + P.PeriodoCodigo PeriodoMes, HRC.ArmadorID, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErrores
FROM pxp.HojaDeRuta_Armador_Controlador HRC
INNER JOIN pxp.PeriodosNew P ON P.PeriodoID = pxp.fn_GetPeriodo ( HRC.Fecha ) AND p.PeriodoAnio = @PeriodoAnio 
WHERE (@Periodo = 0 OR P.PeriodoID= @Periodo)
GROUP BY P.PeriodoAnio + P.PeriodoCodigo, HRC.Fecha, HRC.ArmadorID 


GO
