USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_Resolucion_Por_Motivos_Rep]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC report.usp_Reclamos_Resolucion_Motivos_Rep '2023-06-01 00:00:00.000', '2023-06-30 00:00:00.000'

CREATE PROCEDURE [report].[usp_Reclamos_Resolucion_Por_Motivos_Rep]
@Startdate VARCHAR(10) = NULL,
@EndDate VARCHAR(10) = NULL
AS

SET NOCOUNT ON

EXEC [report].[usp_Reclamos_Resolucion_Por_Motivos_Rep_V3] @StartDate, @EndDate


RETURN 
DECLARE @dStartDate DATE, @dEndDate DATE, @idStartDate INT, @idEndDate INT, @Rango VARCHAR(255), @TotalRC INT = 0
SET @dStartDate = @StartDate
SET @dEndDate = @EndDate 
 

IF @Startdate IS NULL AND @EndDate IS NULL
BEGIN
	SELECT @dStartdate= CONVERT(VARCHAR(8),MIN(FechaFact),112), @dEndDate=CONVERT(VARCHAR(8),MAX(FechaFact),112) FROM Reclamo_Cliente 
END

IF @dStartDate = @dEndDate or datediff(dd,@dstartDate, @dEndDate) = 0
BEGIN
	SET @Rango =  CONVERT(VARCHAR(10),@dStartDate)
END
ELSE
BEGIN
	SET @Rango = CONVERT(VARCHAR(10),@dStartDate) + ' a ' + CONVERT(VARCHAR(10),@dEndDate)
END

SELECT @idStartDate = CONVERT(VARCHAR(8),@dStartDate,112)
SELECT @idEndDate = CONVERT(VARCHAR(8),@dEndDate,112)



IF OBJECT_ID('tempdb..#mytable') IS NOT NULL 
BEGIN 
    DROP TABLE #mytable
END
 

SELECT  CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103)     Mes, left(RC.FechaFact,4) + '-' + RIGHT(LEFT(RC.FechaFact,6),2) Fecha, RM.Nombre, COUNT(DISTINCT RC.ReclamoNumero) Total
Into #mytable
FROM   Reclamo_Cliente RC
LEFT JOIN [dbo].[Reclamo_Resolucion_Motivo] RM ON RM.id= ISNULL(RC.ResolucionMotivoID,0)
WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate  and RC.Abierto=0  
GROUP BY CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103) , left(RC.FechaFact,4) + '-' + RIGHT(LEFT(RC.FechaFact,6),2) , RM.NOMBRE
ORDER BY 1 
SET @TotalRC = (SELECT COUNT(*) FROM Reclamo_Cliente RC  WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate AND  Abierto = 0 )

DECLARE @cols AS NVARCHAR(MAX),@cols2 AS NVARCHAR(MAX), @query  AS NVARCHAR(MAX) ;
    
-- para corregir la N
UPDATE #mytable SET Nombre = REPLACE(Nombre,'Ñ','N')

SET @cols = STUFF((SELECT distinct ',' + QUOTENAME(REPLACE(t.Nombre,'Ñ','N'))
            FROM [dbo].[Reclamo_Resolucion_Motivo] t
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'') ;

print '@cols' ;
print @cols ;

SET @cols2 = STUFF((SELECT distinct '+ ISNULL(' +  QUOTENAME(REPLACE(t.Nombre,'Ñ','N'))  + ',0)'
            FROM [dbo].[Reclamo_Resolucion_Motivo] t
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'') ;

update  #mytable set Total = ISNULL(total,0)		 

--now create query string using value from @cols ; this is 'dynamic SQL'
set @query = '
SELECT *, '+@cols2+' AS Total from 
	(
	select Fecha,ISNULL(Total,0) AS Total,Nombre from #mytable
	) x
	pivot 
	(
	SUM(Total) for Nombre in (' + @cols + ')
	) p
	order by Fecha
' ;
--  print @query
execute(@query) ; 


GO
