USE [Reclamos]
GO
/****** Object:  Table [report].[REP_Armadores_Controladores_Excel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [report].[REP_Armadores_Controladores_Excel](
	[HojaDeRutaNro] [int] NULL,
	[ClienteID] [int] NULL,
	[ArmadorID] [int] NULL,
	[controladorID] [int] NULL,
	[Fecha] [date] NULL,
	[Errores] [int] NULL,
	[Armador] [varchar](201) NULL,
	[Controlador] [varchar](201) NULL,
	[Reclamos] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
