USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[Test]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[Test]
AS 
select A.*,AR.Apellido +' ' + AR.Nombre AS Armador,  
AC.Apellido + ' ' + AC.Nombre AS Controlador,  
Reclamos = (SELECT COUNT(DISTINCT P.ReclamoNumero) FROM dbo.Reclamo_Cliente P WHERE P.ClienteID = A.ClienteID AND P.FechaFact = A.FechaInt ) 
from pxp.HojaDeRuta_Armador_Controlador A
LEFT JOIN Nomina AR ON AR.EmpleadoID = A.ArmadorID
LEFT JOIN Nomina AC ON AC.EmpleadoID = A.ControladorID
GO
