USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_rep_por_mes_v2]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [report].[usp_Reclamos_rep_por_mes_v2] 
@FechaStart INT = NULL
AS
SET NOCOUNT ON
SET ANSI_WARNINGS OFF


SELECT  left(p.PeriodoAnio,4) + '-' + p.PeriodoCodigo  as FechaFact,
	
	COUNT(DISTINCT(CASE WHEN RC.PedidoCerrado = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS PedidoCerrado,
	COUNT(DISTINCT(CASE WHEN RC.FaltoProducto = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS FaltoProducto,
	COUNT(DISTINCT(CASE WHEN RC.ProductoMalEstado = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS ProductoMalEstado,
	COUNT(DISTINCT(CASE WHEN RC.Abierto = 1 THEN RC.ReclamoNumero ELSE NULL END)) AS Abiertos,
	COUNT(DISTINCT(CASE WHEN RC.Abierto = 0 THEN RC.ReclamoNumero ELSE NULL END)) AS Cerrados,
	COUNT(DISTINCT(CASE WHEN ISNULL(RC.Status,0) = 0 THEN RC.ReclamoNumero ELSE NULL END)) AS Pendientes,
	COUNT(DISTINCT(CASE WHEN ISNULL(RC.Status,0) = 1 THEN RC.ReclamoNumero ELSE NULL END)) AS EnProceso,
	COUNT(DISTINCT(  RC.ReclamoNumero  )) AS TotalReclamos,
	TotalFacturas = (SELECT COUNT(*) FROM Cliente_Factura CF2 WHERE    CF2.FechaFact BETWEEN P.Inicio and Fin   ),
	ReclamosPorcentaje = CONVERT(NUMERIC(9,2),
		ROUND(
			CONVERT(FLOAT,COUNT(DISTINCT(  RC.ReclamoNumero  )))
			/
			(SELECT COUNT(*) FROM Cliente_Factura CF2 WHERE  CF2.FechaFact BETWEEN P.Inicio and Fin    )
		,4)*100.00
		), MAX(P.RowID) PeriodoID
FROM [dbo].Reclamo_Cliente RC 

INNER JOIN pxp.PeriodosNew P ON RC.FechaFact BETWEEN P.Inicio and Fin 

WHERE @FechaStart IS NULL OR RC.FechaFact>=@FechaStart

GROUP BY    left(p.PeriodoAnio,4) + '-' + p.PeriodoCodigo, p.Inicio,p.Fin

ORDER BY  p.Inicio,p.Fin



GO
