USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_Resolucion_Motivos_Rep]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC report.usp_Reclamos_Resolucion_Motivos_Rep '2023-06-01 00:00:00.000', '2023-06-30 00:00:00.000'

CREATE PROCEDURE [report].[usp_Reclamos_Resolucion_Motivos_Rep]
@Startdate VARCHAR(10) = NULL,
@EndDate VARCHAR(10) = NULL
AS

SET NOCOUNT ON

DECLARE @dStartDate DATE, @dEndDate DATE, @idStartDate INT, @idEndDate INT, @Rango VARCHAR(255), @TotalRC INT = 0
SET @dStartDate = @StartDate
SET @dEndDate = @EndDate 
 

IF @Startdate IS NULL AND @EndDate IS NULL
BEGIN
	SELECT @dStartdate= CONVERT(VARCHAR(8),MIN(FechaFact),112), @dEndDate=CONVERT(VARCHAR(8),MAX(FechaFact),112) FROM Reclamo_Cliente 
END

IF @dStartDate = @dEndDate or datediff(dd,@dstartDate, @dEndDate) = 0
BEGIN
	SET @Rango =  CONVERT(VARCHAR(10),@dStartDate)
END
ELSE
BEGIN
	SET @Rango = CONVERT(VARCHAR(10),@dStartDate) + ' a ' + CONVERT(VARCHAR(10),@dEndDate)
END

SELECT @idStartDate = CONVERT(VARCHAR(8),@dStartDate,112)
SELECT @idEndDate = CONVERT(VARCHAR(8),@dEndDate,112)
 
SELECT RM.Nombre, COUNT(DISTINCT RC.ReclamoNumero) Total
INTO #temp
FROM  [dbo].[Reclamo_Resolucion_Motivo] RM
LEFT JOIN  Reclamo_Cliente RC ON RM.id= ISNULL(RC.ResolucionMotivoID,0) and RC.Abierto=0 and RC.FechaFact BETWEEN @idStartDate and @idEndDate
GROUP BY RM.NOMBRE
SET @TotalRC = (SELECT COUNT(*) FROM Reclamo_Cliente RC  WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate AND  Abierto = 0 )
 

DECLARE 
@DEVOLUCION_DE_MERCADERIA				INT = 0,
@ERROR_UNIDAD_DE_MEDIDA					INT = 0,
@FALTANTE_DE_MERCADERIA_SIN_STOCK		INT = 0,
@FALTANTE_DE_MERCADERIA_ENVIADA			INT = 0,
@MERCADERI_DAÑADA						INT = 0,
@MERCADERIA_EQUIVOCADA					INT = 0,
@NO_DEFINIDO							INT = 0,
@OTRO									INT = 0

SELECT @DEVOLUCION_DE_MERCADERIA			= Total		FROM #temp WHERE Nombre  = 'DEVOLUCION DE MERCADERIA'
SELECT @ERROR_UNIDAD_DE_MEDIDA				= Total 	FROM #temp WHERE Nombre  = 'ERROR UNIDAD DE MEDIDA'
SELECT @FALTANTE_DE_MERCADERIA_SIN_STOCK	= Total 	FROM #temp WHERE Nombre  = 'FALTANTE MERCADERIA SIN STOCK'
SELECT @FALTANTE_DE_MERCADERIA_ENVIADA		= Total 	FROM #temp WHERE Nombre  = 'FALTANTE MERCADERIA ENVIADA'
SELECT @MERCADERI_DAÑADA					= Total 	FROM #temp WHERE Nombre  = 'MERCADERIA DAÑADA'
SELECT @MERCADERIA_EQUIVOCADA				= Total 	FROM #temp WHERE Nombre  = 'MERCADERIA EQUIVOCADA'
 
SELECT @OTRO								= Total 	FROM #temp WHERE Nombre  = 'OTRO'

	
	 

SELECT   @DEVOLUCION_DE_MERCADERIA			AS DEVOLUCION_DE_MERCADERIA			,
	     @ERROR_UNIDAD_DE_MEDIDA			AS ERROR_UNIDAD_DE_MEDIDA			, 	 
	     @FALTANTE_DE_MERCADERIA_SIN_STOCK	AS FALTANTE_DE_MERCADERIA_SIN_STOCK	, 	 
	     @FALTANTE_DE_MERCADERIA_ENVIADA	AS FALTANTE_DE_MERCADERIA_ENVIADA	, 	 
	     @MERCADERI_DAÑADA		 			AS MERCADERIA_DANADA				,
	     @MERCADERIA_EQUIVOCADA	 			AS MERCADERIA_EQUIVOCADA			, 
	     --@NO_DEFINIDO						AS NO_DEFINIDO			 			,	
	     @OTRO					 			AS OTRO								,
		 @Rango								AS RANGO							,
		 @DEVOLUCION_DE_MERCADERIA	+
		 @ERROR_UNIDAD_DE_MEDIDA	+
		 @FALTANTE_DE_MERCADERIA_SIN_STOCK	+
		 @FALTANTE_DE_MERCADERIA_ENVIADA	+
		 @MERCADERI_DAÑADA			+	
		 @MERCADERIA_EQUIVOCADA		+	
		 --@NO_DEFINIDO				+
		 @OTRO					 	AS TotalCL					,
		 @TotalRC					AS TotalRC
GO
