USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Pxp_Errores_Dia]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [report].[usp_Pxp_Errores_Dia]  
CREATE PROCEDURE [report].[usp_Pxp_Errores_Dia]   
AS 

DECLARE @PeriodoID INT
  
	 
SELECT 	@PeriodoID = MAX(RowID) from pxp.PeriodosNew WHERE CONVERT(VARCHAR(10), DATEADD(MM,0,GETDATE()) ,112) BETWEEN Inicio AND Fin
 
 
;WITH Datos AS (
	SELECT 
		HRC.ArmadorID,
		NA.Apellido + ' ' + NA.Nombre AS Nombre,
		HRC.HojaDeRutaNro,
		HRC.ClienteID,
		HRC.Errores,
		HRC.ControladorID,
		NC.Apellido + ' ' + NC.Nombre AS Controlador
	FROM pxp.HojaDeRuta_Armador_Controlador HRC
	INNER JOIN pxp.PeriodosNew P 
		ON HRC.FechaInt BETWEEN P.Inicio AND P.Fin
	LEFT JOIN Nomina NA 
		ON NA.EmpleadoID = HRC.ArmadorID
	LEFT JOIN Nomina NC 
		ON NC.EmpleadoID = HRC.ControladorID
	WHERE P.RowID = @PeriodoID
		AND DATEDIFF(DAY, HRC.DateAdded, GETDATE()) = 0
		AND ISNULL(Errores,0)>0
)
SELECT
	Nombre,
	SUM(Errores) AS CantidadErrores,
	COUNT(*)     AS CantidadPedidos,
	STUFF((
		SELECT ' - HojaDeRutaNro:' + CAST(d2.HojaDeRutaNro AS VARCHAR(20)) + 
				', ClienteID:' + CAST(d2.ClienteID AS VARCHAR(20)) +
				', Errores:' + CAST(d2.Errores    AS VARCHAR(10)) +
				', Controlador:' + CAST(d2.Controlador    AS VARCHAR(50))
		FROM Datos d2
		WHERE d2.Nombre = d.Nombre
		FOR XML PATH(''), TYPE
	).value('.', 'NVARCHAR(MAX)'), 1, 3, '') AS Detalle
FROM Datos d
GROUP BY Nombre
ORDER BY 2 desc;
 


GO
