USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Nomina_Armadores_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Nomina_Armadores_sel]
AS 
SET NOCOUNT ON 

SELECT EmpleadoID, Apellido +' ' +Nombre as Nombre FROM Nomina WITH(NOLOCK) WHERE esArmador = 1

GO
