USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Nomina_Controlador_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Nomina_Controlador_upd]
@EmpleadoID INT,
@Action INT = 1 -- 1 agregar, 2 quitar
AS 
SET NOCOUNT ON 

IF NOT EXISTS (SELECT NULL FROM Nomina WHERE EmpleadoID = @EmpleadoID)
BEGIN
	RETURN 
END 

IF @Action = 1
	UPDATE Nomina SET esControlador=1, esActivo=1 WHERE  EmpleadoID = @EmpleadoID
ELSE
	UPDATE Nomina SET esControlador=0 WHERE  EmpleadoID = @EmpleadoID



GO
