USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Pxp_Armadores_Eficiencia_Mensual]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [report].[usp_Pxp_Armadores_Eficiencia_Mensual]
@PeriodoRowID INT = 0
AS 
-- Periodo =0, todos los meses
SELECT	P.PeriodoAnio + P.PeriodoCodigo PeriodoMes, 
		N.Apellido + N.Nombre AS Nombre, 
		COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErrores
FROM pxp.HojaDeRuta_Armador_Controlador HRC
INNER JOIN Nomina N ON N.EmpleadoID = HRC.ArmadorID
INNER JOIN pxp.PeriodosNew P ON   HRC.Fecha BETWEEN P.Inicio AND P.Fin 
WHERE @PeriodoRowID  =0 OR P.RowID = @PeriodoRowID 
GROUP BY P.PeriodoAnio + P.PeriodoCodigo,  N.Apellido + N.Nombre
ORDER BY 1 
GO
