USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_rep]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [report].[usp_Reclamos_rep] 
@FechaStart INT = NULL
AS
SET NOCOUNT ON
SET ANSI_WARNINGS OFF


SELECT TOP 10 CONVERT(DATE,RIGHT(RC.FechaFact,2) + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103) as FechaFact,
	
	COUNT(DISTINCT(CASE WHEN RC.PedidoCerrado = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS PedidoCerrado,
	COUNT(DISTINCT(CASE WHEN RC.FaltoProducto = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS FaltoProducto,
	COUNT(DISTINCT(CASE WHEN RC.ProductoMalEstado = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS ProductoMalEstado,
	COUNT(DISTINCT(CASE WHEN RC.Abierto = 1 THEN RC.ReclamoNumero ELSE NULL END)) AS Abiertos,
	COUNT(DISTINCT(CASE WHEN RC.Abierto = 0 THEN RC.ReclamoNumero ELSE NULL END)) AS Cerrados,
	COUNT(DISTINCT(CASE WHEN ISNULL(RC.Status,0) = 0 THEN RC.ReclamoNumero ELSE NULL END)) AS Pendientes,
	COUNT(DISTINCT(CASE WHEN ISNULL(RC.Status,0) = 1 THEN RC.ReclamoNumero ELSE NULL END)) AS EnProceso,
	COUNT(DISTINCT(  RC.ReclamoNumero  )) AS TotalReclamos,
	TotalFacturas = (SELECT COUNT(*) FROM Cliente_Factura CF2 WHERE CF2.FechaFact=RC.FechaFact  ),
	ReclamosPorcentaje = CONVERT(NUMERIC(9,2),
		ROUND(
			CONVERT(FLOAT,COUNT(DISTINCT(  RC.ReclamoNumero  )))
			/
			(SELECT COUNT(*) FROM Cliente_Factura CF2 WHERE CF2.FechaFact=RC.FechaFact  )
		,4)*100.00
		)
FROM [dbo].Reclamo_Cliente RC 

WHERE @FechaStart IS NULL OR RC.FechaFact>=@FechaStart

GROUP BY CONVERT(DATE,RIGHT(RC.FechaFact,2) + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103),RC.FechaFact

ORDER BY 1 desc



GO
