USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Pxp_Eficiencia_Armadores_PeriodoActual]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [report].[usp_Pxp_Eficiencia_Mes] 0, 2
CREATE PROCEDURE [report].[usp_Pxp_Eficiencia_Armadores_PeriodoActual]   
AS 

DECLARE @PeriodoID INT
   
SELECT @PeriodoID = MAX(RowID)  
FROM pxp.PeriodosNew N WITH(NOLOCK) 
WHERE CONVERT(INT,CONVERT(VARCHAR(8),GETDATE(),112),112) BETWEEN N.Inicio and N.Fin 
 

 
SELECT P.PeriodoAnio, P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre AS Nombre, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErrores,P.Inicio,P.Fin, P.RowID AS PeriodoRowID
INTO #EficienciaArmadoresMensual
FROM pxp.HojaDeRuta_Armador_Controlador HRC
INNER JOIN pxp.PeriodosNew P ON HRC.FechaInt BETWEEN P.Inicio and Fin
LEFT JOIN Nomina NA ON NA.EmpleadoID = HRC.ArmadorID
WHERE P.RowID=@PeriodoID
GROUP BY P.PeriodoAnio , P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre,P.Inicio,P.Fin,P.RowID
ORDER BY P.PeriodoAnio,P.Inicio,P.Fin, NA.Apellido + ' ' + NA.Nombre
----ORDER BY HRC.Fecha,P.Inicio,P.Fin

SELECT A.PeriodoAnio,A.PeriodoCodigo,A.PeriodoNombre, A.PeriodoNombreLargo,A.ArmadorID,A.Nombre,A.CantErrores,A.CantPedidos,A.Inicio,A.Fin,
CONVERT(NUMERIC(8,2),(1-(CONVERT(NUMERIC(8,2),CantErrores)/CantPedidos))*100) AS Eficiencia, P.Premio AS Premio, 
A.CantPedidos*P.Premio AS Total
FROM #EficienciaArmadoresMensual A
INNER JOIN pxp.ProductividadArmadoPeriodo P ON P.PeriodoRowID = A.PeriodoRowID
AND CONVERT(INT,(1-(CONVERT(FLOAT,CantErrores)/CantPedidos))*100) BETWEEN P.RangoInicial AND P.RangoFinal
ORDER BY A.PeriodoAnio,A.Inicio,A.Fin, A.Nombre
	  
GO
