USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[Armadores_Controladores_Historico]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[Armadores_Controladores_Historico]

AS 

DECLARE @StartDate INT
SELECT @StartDate= CONVERT(VARCHAR(10),DATEADD(dd,-390,GETDATE()),112) 


select A.HojaDeRutaNro,A.ClienteID,A.ArmadorID,A.controladorID,CONVERT(DATE,A.Fecha,101) AS Fecha,A.Errores,AR.Apellido +' ' + AR.Nombre AS Armador,  
AC.Apellido + ' ' + AC.Nombre AS Controlador,  
--Reclamos = (SELECT COUNT(DISTINCT P.ReclamoNumero) FROM dbo.Reclamo_Cliente P WHERE P.ClienteID = A.ClienteID AND P.FechaFact = A.FechaInt AND P.esReclamoxControl=1) 
 Reclamos = (
		SELECT COUNT(DISTINCT RC.ReclamoNumero) 
		FROM Reclamo_Cliente RC 
		-- ojo con esto, la prueba que hice no exista la factura que el cliente seleccion en las hdr
		INNER JOIN dbo.Cliente_Factura CF ON CF.ClienteId= RC.ClienteID AND CF.FacturaID=RC.FacturaID
		INNER JOIN HojaDeRutaDatosPxP HDRD ON HDRD.HojaDeRutaNro=A.HojaDeRutaNro AND HDRD.ClienteID = RC.ClienteID AND HDRD.FacturaID = RC.FacturaID 
		WHERE  RC.FechaFact = CF.FechaFact AND  HDRD.ClienteID=A.ClienteID
		AND ISNULL(RC.esReclamoxControl,0) = 1
		)  
, B.PeriodoAnio, B.PeriodoAnio + ' - ' + B.PeriodoNombre AS PeriodoNombre
from pxp.HojaDeRuta_Armador_Controlador A WITH(nolock) 
INNER JOIN pxp.PeriodosNew B  WITH(nolock)  ON A.FechaInt BETWEEN B.Inicio AND B.Fin
LEFT JOIN Nomina AR  WITH(nolock)  ON AR.EmpleadoID = A.ArmadorID
LEFT JOIN Nomina AC  WITH(nolock)  ON AC.EmpleadoID = A.ControladorID
WHERE A.FechaInt>= @StartDate





GO
