USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_excel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [report].[usp_Reclamos_excel] 
@FechaStart INT = NULL
AS
SET NOCOUNT ON
SET ANSI_WARNINGS OFF


SELECT CONVERT(DATE,RIGHT(RC.FechaFact,2) + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103) as FechaFact,ClienteID as Cliente, FacturaID AS Factura,FechaAlta AS FechaReclamo, RC.ReclamoNumero
FROM [dbo].Reclamo_Cliente RC  WITH(NOLOCK)
WHERE @FechaStart IS NULL OR RC.FechaFact>=@FechaStart


GO
