USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Controladores_Combo]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Controladores_Combo]
AS 
SET NOCOUNT ON 

SELECT EmpleadoID, Apellido +' ' +Nombre as Nombre 
FROM Nomina a WITH(NOLOCK) 
WHERE logistica=1 and esActivo =1 and esControlador=1

GO
