USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Periodos_Meses]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [report].[usp_Periodos_Meses]
AS

SET NOCOUNT ON

SELECT PeriodoNombre, PeriodoCodigo
FROM pxp.PeriodosNew
GROUP BY PeriodoNombre, PeriodoCodigo
ORDER BY PeriodoCodigo

GO
