USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Periodos_Anios]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [report].[usp_Periodos_Anios]
AS

SET NOCOUNT ON

SELECT PeriodoAnio
FROM pxp.PeriodosNew
GROUP BY PeriodoAnio 

GO
