USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_Resolucion_Motivos_Rep_V3]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC report.usp_Reclamos_Resolucion_Motivos_Rep '2023-06-01 00:00:00.000', '2023-06-30 00:00:00.000'

CREATE PROCEDURE [report].[usp_Reclamos_Resolucion_Motivos_Rep_V3]
@PeriodoID INT
AS

SET NOCOUNT ON

DECLARE @dStartDate DATE, @dEndDate DATE, @idStartDate INT, @idEndDate INT, @Rango VARCHAR(255), @TotalRC INT = 0, @TotalEC INT = 0
SET @dStartDate = NULL
SET @dEndDate = NULL  
 
  
SELECT @idStartDate= P.Inicio , @idEndDate= P.Fin FROM pxp.PeriodosNew P WHERE RowID=@PeriodoID 

SELECT @dStartDate = CONVERT (datetime,convert(char(8),@idStartDate)),@dEndDate = CONVERT (datetime,convert(char(8),@idEndDate))
 
SET @Rango = CONVERT(VARCHAR(11),@dStartDate,113) + ' a ' + CONVERT(VARCHAR(11),@dEndDate,113)
  
 
SELECT RM.Nombre, COUNT(DISTINCT RC.ReclamoNumero) Total
INTO #temp
FROM  [dbo].[Reclamo_Resolucion_Motivo] RM
LEFT JOIN  Reclamo_Cliente RC ON RM.id= ISNULL(RC.ResolucionMotivoID,0) and RC.Abierto=0 and RC.FechaFact BETWEEN @idStartDate and @idEndDate
GROUP BY RM.NOMBRE
SET @TotalRC = (SELECT COUNT(*) FROM Reclamo_Cliente RC  WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate AND  Abierto = 0 )
SET @TotalEC = (SELECT COUNT(*) FROM Reclamo_Cliente RC  WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate AND  Abierto = 0 and esReclamoxControl=1)


DECLARE 
@DEVOLUCION_DE_MERCADERIA				INT = 0,
@ERROR_UNIDAD_DE_MEDIDA					INT = 0,
@FALTANTE_DE_MERCADERIA_SIN_STOCK		INT = 0,
@FALTANTE_DE_MERCADERIA_ENVIADA			INT = 0,
@MERCADERI_DAÑADA						INT = 0,
@MERCADERIA_EQUIVOCADA					INT = 0,
@NO_DEFINIDO							INT = 0,
@OTRO									INT = 0

SELECT @DEVOLUCION_DE_MERCADERIA			= Total		FROM #temp WHERE Nombre  = 'DEVOLUCION DE MERCADERIA'
SELECT @ERROR_UNIDAD_DE_MEDIDA				= Total 	FROM #temp WHERE Nombre  = 'ERROR UNIDAD DE MEDIDA'
SELECT @FALTANTE_DE_MERCADERIA_SIN_STOCK	= Total 	FROM #temp WHERE Nombre  = 'FALTANTE MERCADERIA SIN STOCK'
SELECT @FALTANTE_DE_MERCADERIA_ENVIADA		= Total 	FROM #temp WHERE Nombre  = 'FALTANTE MERCADERIA ENVIADA'
SELECT @MERCADERI_DAÑADA					= Total 	FROM #temp WHERE Nombre  = 'MERCADERIA DAÑADA'
SELECT @MERCADERIA_EQUIVOCADA				= Total 	FROM #temp WHERE Nombre  = 'MERCADERIA EQUIVOCADA'
 
SELECT @OTRO								= Total 	FROM #temp WHERE Nombre  = 'OTRO'

	
	 

SELECT   @DEVOLUCION_DE_MERCADERIA			AS DEVOLUCION_DE_MERCADERIA			,
	     @ERROR_UNIDAD_DE_MEDIDA			AS ERROR_UNIDAD_DE_MEDIDA			, 	 
	     @FALTANTE_DE_MERCADERIA_SIN_STOCK	AS FALTANTE_DE_MERCADERIA_SIN_STOCK	, 	 
	     @FALTANTE_DE_MERCADERIA_ENVIADA	AS FALTANTE_DE_MERCADERIA_ENVIADA	, 	 
	     @MERCADERI_DAÑADA		 			AS MERCADERIA_DANADA				,
	     @MERCADERIA_EQUIVOCADA	 			AS MERCADERIA_EQUIVOCADA			, 
	     --@NO_DEFINIDO						AS NO_DEFINIDO			 			,	
	     @OTRO					 			AS OTRO								,
		 @Rango								AS RANGO							,
		 @DEVOLUCION_DE_MERCADERIA	+
		 @ERROR_UNIDAD_DE_MEDIDA	+
		 @FALTANTE_DE_MERCADERIA_SIN_STOCK	+
		 @FALTANTE_DE_MERCADERIA_ENVIADA	+
		 @MERCADERI_DAÑADA			+	
		 @MERCADERIA_EQUIVOCADA		+	
		 --@NO_DEFINIDO				+
		 @OTRO					 	AS TotalCL					,
		 @TotalRC					AS TotalRC			,
		 @TotalEC					AS TotalEC			
GO
