USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Pxp_Eficiencia_Mes_20240608]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC [report].[usp_Pxp_Eficiencia_Mes]  1, 1
CREATE PROCEDURE [report].[usp_Pxp_Eficiencia_Mes_20240608]   
@ShowBy INT = 0, -- 0 global, 1 as ShowbyArmador
@ShowByArmador INT = 1 ,--, 1 armador, 2 Controlador
@Periodo INT = 0
AS 
IF @ShowBy = 0 AND @ShowByArmador = 1 
BEGIN 

	SELECT P.PeriodoAnio, P.PeriodoCodigo,p.PeriodoNombreLargo, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErrores,P.Inicio,P.Fin,P.RowID AS PeriodoRowID
	INTO #EficienciaArmadoMensual
	FROM pxp.HojaDeRuta_Armador_Controlador HRC
	INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ArmadorID
	INNER JOIN pxp.PeriodosNew P ON HRC.FechaInt BETWEEN P.Inicio and Fin
	--WHERE (@Periodo = 0 OR P.PeriodoID= @Periodo)
	GROUP BY P.PeriodoAnio , P.PeriodoCodigo,p.PeriodoNombreLargo,P.Inicio,P.Fin,P.RowID
	ORDER BY P.PeriodoAnio,P.Inicio,P.Fin 

	SELECT A.PeriodoAnio,A.PeriodoCodigo,A.PeriodoNombreLargo,A.CantErrores,A.CantPedidos,A.Inicio,A.Fin,
	CONVERT(NUMERIC(8,2),(1-(CONVERT(NUMERIC(8,2),CantErrores)/CantPedidos))*100) AS Eficiencia, P.Premio AS Premio, 
	A.CantPedidos*P.Premio AS Total
	FROM #EficienciaArmadoMensual A
	INNER JOIN pxp.ProductividadArmadoPeriodo P ON P.PeriodoRowID = A.PeriodoRowID
	AND (1-(CONVERT(FLOAT,CantErrores)/CantPedidos))*100 BETWEEN P.RangoInicial AND P.RangoFinal
	ORDER BY A.PeriodoAnio,A.Inicio,A.Fin

	RETURN

END
IF @ShowBy = 0 AND @ShowByArmador = 2
BEGIN 

	SELECT P.PeriodoAnio, HRC.FechaInt,P.PeriodoCodigo,p.PeriodoNombreLargo, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErroresCorregidos,
	(
		SELECT COUNT(DISTINCT RC.ReclamoNumero) 
		FROM Reclamo_Cliente RC 
		-- ojo con esto, la prueba que hice no exista la factura que el cliente seleccion en las hdr
		INNER JOIN HojaDeRutaDatosPxP HDRD ON HDRD.ClienteID = RC.ClienteID AND HDRD.FacturaID = RC.FacturaID 
		WHERE  RC.FechaFact = HRC.FechaInt 
		AND ISNULL(RC.esReclamoxControl,0) = 1
	) CantReclamos
	, P.Inicio , P.Fin
	-- una negrada debido al agrupamiento 
	INTO #HojaDeRutaXControladorTot
	FROM pxp.HojaDeRuta_Armador_Controlador HRC
	INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ControladorID
	INNER JOIN pxp.PeriodosNew P ON HRC.FechaInt BETWEEN P.Inicio and P.Fin
	--WHERE (@Periodo = 0 OR P.PeriodoID= @Periodo)
	GROUP BY P.PeriodoAnio, HRC.FechaInt,P.PeriodoCodigo,p.PeriodoNombreLargo, P.Inicio , P.Fin

	SELECT HRC.PeriodoAnio,HRC.PeriodoCodigo,HRC.PeriodoNombreLargo, 
		SUM(HRC.CantPedidos) AS CantPedidos, 
		SUM(HRC.CantErroresCorregidos) AS CantErroresCorregidos, 
		SUM(HRC.CantReclamos) AS CantReclamos 

	FROM #HojaDeRutaXControladorTot HRC
	GROUP BY HRC.PeriodoAnio,HRC.PeriodoCodigo,HRC.PeriodoNombreLargo,HRC.Inicio,HRC.Fin
	ORDER BY HRC.PeriodoAnio ,HRC.Inicio,HRC.Fin 
	RETURN

END


IF @ShowBy = 1 AND @ShowByArmador = 1
BEGIN

	

	SELECT P.PeriodoAnio, P.PeriodoCodigo,p.PeriodoNombreLargo, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre AS Nombre, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErrores,P.Inicio,P.Fin, P.RowID AS PeriodoRowID
	INTO #EficienciaArmadoresMensual
	FROM pxp.HojaDeRuta_Armador_Controlador HRC
	INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ArmadorID
	INNER JOIN pxp.PeriodosNew P ON HRC.FechaInt BETWEEN P.Inicio and Fin
	--WHERE (@Periodo = 0 OR P.PeriodoID= @Periodo)
	GROUP BY P.PeriodoAnio , P.PeriodoCodigo,p.PeriodoNombreLargo, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre,P.Inicio,P.Fin,P.RowID
	ORDER BY P.PeriodoAnio,P.Inicio,P.Fin, NA.Apellido + ' ' + NA.Nombre
	----ORDER BY HRC.Fecha,P.Inicio,P.Fin

	SELECT A.PeriodoAnio,A.PeriodoCodigo,A.PeriodoNombreLargo,A.ArmadorID,A.Nombre,A.CantErrores,A.CantPedidos,A.Inicio,A.Fin,
	CONVERT(NUMERIC(8,2),(1-(CONVERT(NUMERIC(8,2),CantErrores)/CantPedidos))*100) AS Eficiencia, P.Premio AS Premio, 
	A.CantPedidos*P.Premio AS Total
	FROM #EficienciaArmadoresMensual A
	INNER JOIN pxp.ProductividadArmadoPeriodo P ON P.PeriodoRowID = A.PeriodoRowID
	AND (1-(CONVERT(FLOAT,CantErrores)/CantPedidos))*100 BETWEEN P.RangoInicial AND P.RangoFinal
	ORDER BY A.PeriodoAnio,A.Inicio,A.Fin, A.Nombre

	RETURN 

END

 
IF @ShowBy = 1 AND @ShowByArmador = 2
BEGIN
 
 
	SELECT P.PeriodoAnio, HRC.FechaInt,P.PeriodoCodigo,p.PeriodoNombreLargo, HRC.ControladorID, NA.Apellido + ' ' + NA.Nombre AS Nombre, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErroresCorregidos,
	(
		SELECT COUNT(DISTINCT RC.ReclamoNumero) 
		FROM Reclamo_Cliente RC 
		-- ojo con esto, la prueba que hice no exista la factura que el cliente seleccion en las hdr
		INNER JOIN HojaDeRutaDatosPxP HDRD ON HDRD.ClienteID = RC.ClienteID AND HDRD.FacturaID = RC.FacturaID AND HDRD.ClienteID = HRC.ClienteID
		WHERE  RC.FechaFact = HRC.FechaInt  
		AND ISNULL(RC.esReclamoxControl,0) = 1
	) CantReclamos
	, P.Inicio , P.Fin, HRC.ClienteID
	-- una negrada debido al agrupamiento 
	INTO #HojaDeRutaXControlador
	FROM pxp.HojaDeRuta_Armador_Controlador HRC
	INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ControladorID
	INNER JOIN pxp.PeriodosNew P ON HRC.FechaInt BETWEEN P.Inicio and P.Fin
	--WHERE (@Periodo = 0 OR P.PeriodoID= @Periodo)
	GROUP BY P.PeriodoAnio, HRC.FechaInt,P.PeriodoCodigo,p.PeriodoNombreLargo, HRC.ControladorID, NA.Apellido + ' ' + NA.Nombre, P.Inicio , P.Fin, HRC.ClienteID

	SELECT HRC.PeriodoAnio,HRC.PeriodoCodigo,HRC.PeriodoNombreLargo,Nombre,
		SUM(HRC.CantPedidos) AS CantPedidos, 
		SUM(HRC.CantErroresCorregidos) AS CantErroresCorregidos, 
		SUM(HRC.CantReclamos) AS CantReclamos 

	FROM #HojaDeRutaXControlador HRC
	GROUP BY HRC.PeriodoAnio,HRC.PeriodoCodigo,HRC.PeriodoNombreLargo,Nombre,HRC.Inicio,HRC.Fin
	ORDER BY HRC.PeriodoAnio ,HRC.Inicio,HRC.Fin, HRC.Nombre




	  
END 

GO
