USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_Resolucion_Por_Armador_Rep_new]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [report].[usp_Reclamos_Resolucion_Por_Armador_Rep_new]
@Startdate VARCHAR(10) = NULL,
@EndDate VARCHAR(10) = NULL
AS

SET NOCOUNT ON

/*
[report].[usp_Reclamos_Resolucion_Por_Armador_Rep_new] 20240801,20240831
*/

DECLARE @dStartDate DATE, @dEndDate DATE, @idStartDate INT, @idEndDate INT, @Rango VARCHAR(255), @TotalRC INT = 0
SET @dStartDate = @StartDate
SET @dEndDate = @EndDate 
 

IF @Startdate IS NULL AND @EndDate IS NULL
BEGIN
	SELECT @dStartdate= CONVERT(VARCHAR(8),MIN(FechaFact),112), @dEndDate=CONVERT(VARCHAR(8),MAX(FechaFact),112) FROM Reclamo_Cliente 
END

IF @dStartDate = @dEndDate or datediff(dd,@dstartDate, @dEndDate) = 0
BEGIN
	SET @Rango =  CONVERT(VARCHAR(10),@dStartDate)
END
ELSE
BEGIN
	SET @Rango = CONVERT(VARCHAR(10),@dStartDate) + ' a ' + CONVERT(VARCHAR(10),@dEndDate)
END

SELECT @idStartDate = CONVERT(VARCHAR(8),@dStartDate,112)
SELECT @idEndDate = CONVERT(VARCHAR(8),@dEndDate,112)

--select @idStartDate, @idEndDate

IF OBJECT_ID('tempdb..#mytable') IS NOT NULL 
BEGIN 
    DROP TABLE #mytable
END

-- totales por amador y fecha
SELECT  CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaInt,6),2) + '/' +LEFT(RC.FechaInt,4),103)     Mes, ArmadorID, COUNT(DISTINCT ClienteID) AS Cant_Armador
INTO #armadores
FROM pxp.HojaDeRuta_Armador_Controlador RC
WHERE  RC.FechaInt BETWEEN @idStartDate and @idEndDate  
GROUP BY CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaInt,6),2) + '/' +LEFT(RC.FechaInt,4),103)   , ArmadorID

SELECT  CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103)     Mes, left(RC.FechaFact,4) + '-' + RIGHT(LEFT(RC.FechaFact,6),2) Fecha,N.EmpleadoID, N.Apellido +' '+ N.Nombre AS Nombre, COUNT(DISTINCT RC.ReclamoNumero) Total
, CONVERT(INT, NULL ) AS Cant_Armador
Into #mytable
FROM   Reclamo_Cliente RC
INNER JOIN pxp.HojaDeRuta_Armador_Controlador RM ON RM.ClienteID= RC.ClienteID
INNER JOIN dbo.HojaDeRutaDatosPxP HDR ON HDR.ClienteID = RM.ClienteID AND HDR.HojaDeRutaNro=RM.HojaDeRutaNro AND HDR.FacturaID= RC.FacturaID AND RC.FechaFact = RM.FechaInt
LEFT JOIN Nomina N ON N.EmpleadoID = RM.ArmadorID
WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate AND RC.Abierto=0
GROUP BY CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103) , left(RC.FechaFact,4) + '-' + RIGHT(LEFT(RC.FechaFact,6),2),N.EmpleadoID , N.Apellido +' '+ N.Nombre
ORDER BY 1 
SET @TotalRC = (SELECT COUNT(*) FROM Reclamo_Cliente RC
INNER JOIN pxp.HojaDeRuta_Armador_Controlador RM ON RM.ClienteID= RC.ClienteID
INNER JOIN dbo.HojaDeRutaDatosPxP HDR ON HDR.ClienteID = RM.ClienteID AND HDR.HojaDeRutaNro=RM.HojaDeRutaNro AND HDR.FacturaID= RC.FacturaID AND RC.FechaFact = RM.FechaInt  WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate   AND RC.Abierto=0)

DECLARE @cols AS NVARCHAR(MAX),@cols2 AS NVARCHAR(MAX), @query  AS NVARCHAR(MAX) ;
 
-- para corregir la N
UPDATE #mytable SET Nombre = REPLACE(Nombre,'Ñ','N')

UPDATE UPD SET Cant_Armador = A.Cant_Armador
FROM #mytable UPD
INNER JOIN #armadores A ON A.Mes = UPD.Mes AND a.ArmadorID = UPD.EmpleadoID

SET @cols = STUFF((SELECT distinct ',' + QUOTENAME(REPLACE(t.Apellido +' '+ t.Nombre,'Ñ','N'))
            FROM [dbo].Nomina t
			
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'') ;

print '@cols' ;
print @cols ;

--SET @cols2 = STUFF((SELECT distinct '+ ISNULL(' +  QUOTENAME(REPLACE(t.Apellido +' '+t.Nombre,'Ñ','N'))  + ',1)'
--            FROM [dbo].Nomina t
--            FOR XML PATH(''), TYPE
--            ).value('.', 'NVARCHAR(MAX)') 
--        ,1,1,'') ;

--update  #mytable set Total = ISNULL(total,0)		 


select Fecha,ISNULL(Nombre,'Sin definr') as Nombre,Total, ISNULL(Cant_Armador,0)  AS Cant_Armados,
CONVERT(NUMERIC(8,2),ROUND(ISNULL(Total,0)*100.00/@TotalRC,2)) AS '% Reclamos',
CASE WHEN Cant_Armador = 0  THEN  0 ELSE CONVERT(NUMERIC(8,2),ROUND(ISNULL(Total,0)*100.00/Cant_Armador,2)) END  AS '% Armados'
from #mytable 
ORDER BY  ISNULL(Nombre,'ZZZZZ')   
----now create query string using value from @cols ; this is 'dynamic SQL'
--set @query = '
--SELECT *, '+Convert(varchar(10),@TotalRC)+' AS Total from 
--	(
--	select Fecha,ISNULL(Total,1) AS Total,Nombre from #mytable
--	) x
--	pivot 
--	(
--	SUM(Total) for Nombre in (' + @cols + ')
--	) p
--	order by Fecha
--' ;
----  print @query
--execute(@query) ; 



GO
