USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_Resolucion_Por_Armador_RepV3]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [report].[usp_Reclamos_Resolucion_Por_Armador_RepV3]
@PeriodoID INT
AS

SET NOCOUNT ON

/*
[report].[usp_Reclamos_Resolucion_Por_Armador_RepV3] 22
*/

DECLARE @dStartDate DATE, @dEndDate DATE, @idStartDate INT, @idEndDate INT, @Rango VARCHAR(255), @TotalRC INT = 0

SELECT @idStartDate= P.Inicio , @idEndDate= P.Fin FROM pxp.PeriodosNew P WHERE RowID=@PeriodoID 

SELECT @dStartDate = CONVERT (datetime,convert(char(8),@idStartDate)),@dEndDate = CONVERT (datetime,convert(char(8),@idEndDate))
 
SET @Rango = CONVERT(VARCHAR(11),@dStartDate,113) + ' a ' + CONVERT(VARCHAR(11),@dEndDate,113)

SELECT  p.RowID AS PeriodoID, HRC.ArmadorID, COUNT(*) CantPedidos 
INTO #Armados
FROM pxp.HojaDeRuta_Armador_Controlador HRC
INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ArmadorID
INNER JOIN pxp.PeriodosNew P ON HRC.FechaInt BETWEEN P.Inicio and P.Fin
WHERE p.RowID=@PeriodoID
GROUP BY p.RowID, HRC.ArmadorID



SELECT  P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre AS Nombre 
 , COUNT(DISTINCT RC.ReclamoNumero) CantReclamos
INTO #tmp
FROM Reclamo_Cliente RC   
INNER JOIN dbo.HojaDeRutaDatosPxP DP ON   Dp.ClienteID=RC.ClienteID  AND DP.FacturaID=RC.FacturaID 
INNER JOIN pxp.HojaDeRuta_Armador_Controlador HRC ON HRC.HojaDeRutaNro = DP.HojaDeRutaNro and HRC.ClienteID=DP.ClienteID
INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ArmadorID
INNER JOIN pxp.PeriodosNew P ON RC.FechaFact BETWEEN P.Inicio and P.Fin
WHERE RC.FechaFact between @idStartDate and @idEndDate 
GROUP BY   P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre, HRC.ArmadorID  

	SELECT P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, ISNULL(T.Nombre,N.Apellido + ' ' + N.Nombre) AS Nombre,
		SUM(ISNULL(R.CantPedidos,0)) CantPedidos,
		SUM(ISNULL(T.CantReclamos,0)) CantReclamos
INTO #Resultado
	FROM Nomina N
	LEFT JOIN Pxp.PeriodosNew P ON P.RowID=@PeriodoID
	LEFT JOIN #tmp T ON T.ArmadorID=N.EmpleadoID
	LEFT JOIN #Armados R ON R.ArmadorID=N.EmpleadoID
	WHERE N.esActivo=1 and N.esArmador=1
	GROUP BY P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, ISNULL(T.Nombre,N.Apellido + ' ' + N.Nombre)
UNION 
	SELECT P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre,'ZZZ - Sin Pedido Armado y Controlado',0,  COUNT(DISTINCT RC.ReclamoNumero) CantReclamos
	FROM Reclamo_Cliente RC
	INNER JOIN pxp.PeriodosNew P ON RC.FechaFact BETWEEN P.Inicio and P.Fin
	WHERE NOT EXISTS (

		SELECT NULL 
		FROM   dbo.HojaDeRutaPxP D    
		INNER JOIN dbo.HojaDeRutaDatosPxP DP ON DP.HojaDeRutaNro = D.HojaDeRutaNro AND Dp.ClienteID=RC.ClienteID  AND DP.FacturaID=RC.FacturaID
		INNER JOIN pxp.HojaDeRuta_Armador_Controlador HRC ON HRC.HojaDeRutaNro = DP.HojaDeRutaNro and HRC.ClienteID=DP.ClienteID
		WHERE dp.Fechafact between @idStartDate and @idEndDate
	 )
	AND RC.FechaFact between @idStartDate and @idEndDate  
	GROUP BY   P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre
ORDER BY 5 
 
 

 
SELECT @TotalRC = SUM(CantReclamos) FROM #Resultado 
SELECT x.PeriodoAnio + '-' + X.PeriodoCodigo as Fecha, Nombre, SUm(CantReclamos) Total, SUM(CantPedidos) Cant_Armados,
CONVERT(NUMERIC(8,2),ROUND(ISNULL(SUM(CantReclamos),0)*100.00/@TotalRC,2)) AS '% Reclamos',
CASE WHEN ISNULL(SUM(CantPedidos),0) = 0 THEN 0.00 ELSE CONVERT(NUMERIC(8,2),ROUND(ISNULL(SUM(CantReclamos),0)*100.00/SUM(ISNULL(NULLIF(CantPedidos,0),1)),2)) END AS '% Armados'
FROM #Resultado x
GROUP BY x.PeriodoAnio + '-' + X.PeriodoCodigo,Nombre
ORDER BY 1,2



RETURN 
SELECT  P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre AS Nombre 
		,HRC.HojaDeRutaNro,RC.FechaFact , COUNT(DISTINCT RC.ReclamoNumero) CantReclamos
INTO #RC
FROM Reclamo_Cliente RC   
INNER JOIN dbo.HojaDeRutaDatosPxP DP ON   Dp.ClienteID=RC.ClienteID  AND DP.FacturaID=RC.FacturaID 
INNER JOIN pxp.HojaDeRuta_Armador_Controlador HRC ON HRC.HojaDeRutaNro = DP.HojaDeRutaNro and HRC.ClienteID=DP.ClienteID
INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ArmadorID
INNER JOIN pxp.PeriodosNew P ON RC.FechaFact BETWEEN P.Inicio and P.Fin
WHERE RC.FechaFact between @idStartDate and @idEndDate 
GROUP BY   P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre, HRC.ArmadorID ,HRC.HojaDeRutaNro,RC.FechaFact  
--UNION
--SELECT P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre,0,'Sin Pedido Armado y Controlado',0,RC.FechaFact , COUNT(DISTINCT RC.ReclamoNumero) CantReclamos
--FROM Reclamo_Cliente RC
--INNER JOIN pxp.PeriodosNew P ON RC.FechaFact BETWEEN P.Inicio and P.Fin
--WHERE NOT EXISTS (

--	SELECT NULL 
--	FROM   dbo.HojaDeRutaPxP D    
--	INNER JOIN dbo.HojaDeRutaDatosPxP DP ON DP.HojaDeRutaNro = D.HojaDeRutaNro AND Dp.ClienteID=RC.ClienteID  AND DP.FacturaID=RC.FacturaID
--	INNER JOIN pxp.HojaDeRuta_Armador_Controlador HRC ON HRC.HojaDeRutaNro = DP.HojaDeRutaNro and HRC.ClienteID=DP.ClienteID
--	WHERE dp.Fechafact between @idStartDate and @idEndDate
-- )
--AND RC.FechaFact between @idStartDate and @idEndDate  
--GROUP BY   P.PeriodoAnio,  P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre,RC.FechaFact 
/*
SELECT RC.PeriodoAnio, RC.PeriodoCodigo,RC.PeriodoNombreLargo,RC.PeriodoNombre, RC.ArmadorID, RC.Nombre, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErroresCorregidos, MAX(RC.CantReclamos) As CantReclamos
INTO #HojaDeRutaXArmador
FROM #RC RC 
INNER JOIN pxp.HojaDeRuta_Armador_Controlador HRC ON HRC.HojaDeRutaNro = RC.HojaDeRutaNro and HRC.ArmadorID=RC.ArmadorID
GROUP BY RC.PeriodoAnio, RC.PeriodoCodigo,RC.PeriodoNombreLargo,RC.PeriodoNombre, RC.ArmadorID, RC.Nombre 
*/
/*
SELECT  HRC.HojaDeRutaNro,P.PeriodoAnio, HRC.FechaInt,P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre AS Nombre, COUNT(*) CantPedidos, SUM(ISNULL(Errores,0)) CantErroresCorregidos,
(
	SELECT COUNT( RC.ReclamoNumero) 
	FROM Reclamo_Cliente RC 
	-- ojo con esto, la prueba que hice no exista la factura que el cliente seleccion en las hdr
	INNER JOIN dbo.Cliente_Factura CF ON CF.ClienteId= RC.ClienteID AND CF.FacturaID=RC.FacturaID
	INNER JOIN HojaDeRutaDatosPxP HDRD ON HDRD.HojaDeRutaNro=HRC.HojaDeRutaNro AND HDRD.ClienteID = RC.ClienteID AND HDRD.FacturaID = RC.FacturaID 
	WHERE  RC.FechaFact = CF.FechaFact AND  HDRD.ClienteID=HRC.ClienteID
	--AND ISNULL(RC.esReclamoxControl,0) = 1
) CantReclamos
, P.Inicio , P.Fin, HRC.ClienteID, P.RowID AS PeriodoRowID,NA.EmpleadoID
-- una negrada debido al agrupamiento 
INTO #HojaDeRutaXArmador 
FROM pxp.HojaDeRuta_Armador_Controlador HRC
INNER JOIN Nomina NA ON NA.EmpleadoID = HRC.ArmadorID
INNER JOIN pxp.PeriodosNew P ON HRC.FechaInt BETWEEN P.Inicio and P.Fin
WHERE (@PeriodoID = 0 OR P.RowID= @PeriodoID)
GROUP BY  HRC.HojaDeRutaNro,P.PeriodoAnio, HRC.FechaInt,P.PeriodoCodigo,p.PeriodoNombreLargo,p.PeriodoNombre, HRC.ArmadorID, NA.Apellido + ' ' + NA.Nombre, P.Inicio , P.Fin, HRC.ClienteID,P.RowID,NA.EmpleadoID
 */
SELECT @TotalRC = SUM(CantReclamos) FROM #HojaDeRutaXArmador 
SELECT x.PeriodoAnio + '-' + X.PeriodoCodigo as Fecha, Nombre, SUM(CantReclamos) Total, SUM(CantPedidos) Cant_Armados,
CONVERT(NUMERIC(8,2),ROUND(ISNULL(SUM(CantReclamos),0)*100.00/@TotalRC,2)) AS '% Reclamos',
CONVERT(NUMERIC(8,2),ROUND(ISNULL(SUM(CantReclamos),0)*100.00/SUM(CantPedidos),2)) AS '% Armados'
FROM #HojaDeRutaXArmador x
GROUP BY x.PeriodoAnio + '-' + X.PeriodoCodigo,Nombre
ORDER BY 1,2

 

select * from #HojaDeRutaXArmador order by 6
 
RETURN 

IF OBJECT_ID('tempdb..#mytable') IS NOT NULL 
BEGIN 
    DROP TABLE #mytable
END

-- totales por amador y fecha
SELECT  CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaInt,6),2) + '/' +LEFT(RC.FechaInt,4),103)     Mes, ArmadorID, COUNT(DISTINCT ClienteID) AS Cant_Armador
INTO #armadores
FROM pxp.HojaDeRuta_Armador_Controlador RC
WHERE  RC.FechaInt BETWEEN @idStartDate and @idEndDate  
GROUP BY CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaInt,6),2) + '/' +LEFT(RC.FechaInt,4),103)   , ArmadorID

SELECT  CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103)     Mes, left(RC.FechaFact,4) + '-' + RIGHT(LEFT(RC.FechaFact,6),2) Fecha,N.EmpleadoID, N.Apellido +' '+ N.Nombre AS Nombre, COUNT( RC.ReclamoNumero) Total
, CONVERT(INT, NULL ) AS Cant_Armador
Into #mytable
FROM   Reclamo_Cliente RC
INNER JOIN pxp.HojaDeRuta_Armador_Controlador RM ON RM.ClienteID= RC.ClienteID
INNER JOIN dbo.HojaDeRutaDatosPxP HDR ON HDR.ClienteID = RM.ClienteID AND HDR.HojaDeRutaNro=RM.HojaDeRutaNro AND HDR.FacturaID= RC.FacturaID AND RC.FechaFact =  HDR.FechaFact
LEFT JOIN Nomina N ON N.EmpleadoID = RM.ArmadorID
WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate 
GROUP BY CONVERT(DATE,'01' + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4),103) , left(RC.FechaFact,4) + '-' + RIGHT(LEFT(RC.FechaFact,6),2),N.EmpleadoID , N.Apellido +' '+ N.Nombre
ORDER BY 1 
SET @TotalRC = (SELECT COUNT(*) FROM Reclamo_Cliente RC
INNER JOIN pxp.HojaDeRuta_Armador_Controlador RM ON RM.ClienteID= RC.ClienteID
INNER JOIN dbo.HojaDeRutaDatosPxP HDR ON HDR.ClienteID = RM.ClienteID AND HDR.HojaDeRutaNro=RM.HojaDeRutaNro AND HDR.FacturaID= RC.FacturaID AND RC.FechaFact = HDR.FechaFact
WHERE  RC.FechaFact BETWEEN @idStartDate and @idEndDate    )

DECLARE @cols AS NVARCHAR(MAX),@cols2 AS NVARCHAR(MAX), @query  AS NVARCHAR(MAX) ;
 
-- para corregir la N
UPDATE #mytable SET Nombre = REPLACE(Nombre,'Ñ','N')

UPDATE UPD SET Cant_Armador = A.Cant_Armador
FROM #mytable UPD
INNER JOIN #armadores A ON A.Mes = UPD.Mes AND a.ArmadorID = UPD.EmpleadoID

SET @cols = STUFF((SELECT distinct ',' + QUOTENAME(REPLACE(t.Apellido +' '+ t.Nombre,'Ñ','N'))
            FROM [dbo].Nomina t
			
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'') ;

print '@cols' ;
print @cols ;

--SET @cols2 = STUFF((SELECT distinct '+ ISNULL(' +  QUOTENAME(REPLACE(t.Apellido +' '+t.Nombre,'Ñ','N'))  + ',1)'
--            FROM [dbo].Nomina t
--            FOR XML PATH(''), TYPE
--            ).value('.', 'NVARCHAR(MAX)') 
--        ,1,1,'') ;

--update  #mytable set Total = ISNULL(total,0)		 


select Fecha,ISNULL(Nombre,'Sin definr') as Nombre,Total, ISNULL(Cant_Armador,0)  AS Cant_Armados,
CONVERT(NUMERIC(8,2),ROUND(ISNULL(Total,0)*100.00/@TotalRC,2)) AS '% Reclamos',
CASE WHEN Cant_Armador = 0  THEN  0 ELSE CONVERT(NUMERIC(8,2),ROUND(ISNULL(Total,0)*100.00/Cant_Armador,2)) END  AS '% Armados'
from #mytable 
ORDER BY  ISNULL(Nombre,'ZZZZZ')   
----now create query string using value from @cols ; this is 'dynamic SQL'
--set @query = '
--SELECT *, '+Convert(varchar(10),@TotalRC)+' AS Total from 
--	(
--	select Fecha,ISNULL(Total,1) AS Total,Nombre from #mytable
--	) x
--	pivot 
--	(
--	SUM(Total) for Nombre in (' + @cols + ')
--	) p
--	order by Fecha
--' ;
----  print @query
--execute(@query)  

select * from #mytable


GO
