USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Pxp_Eficiencia_Periodo_Actual_Sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [report].[usp_Pxp_Eficiencia_Periodo_Actual_Sel]
AS

select * from pxp.PeriodosNew WHERE CONVERT(VARCHAR(10), DATEADD(MM,0,GETDATE()) ,112) BETWEEN Inicio AND Fin
GO
