USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Reclamos_refresh]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [report].[usp_Reclamos_refresh]
AS
SET NOCOUNT OFF 

DECLARE @DateStart DATETIME = DATEADD(dd,-30,GETDATE())


SELECT CONVERT(DATE,RIGHT(RC.FechaFact,2) + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4)) as FechaFact,
	
	COUNT(DISTINCT(CASE WHEN RC.PedidoCerrado = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS PedidoCerrado,
	COUNT(DISTINCT(CASE WHEN RC.FaltoProducto = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS FaltoProducto,
	COUNT(DISTINCT(CASE WHEN RC.ProductoMalEstado = 'Si' THEN RC.ReclamoNumero ELSE NULL END)) AS ProductoMalEstado,
	COUNT(DISTINCT(CASE WHEN RC.Abierto = 1 THEN RC.ReclamoNumero ELSE NULL END)) AS Abiertos,
	COUNT(DISTINCT(CASE WHEN RC.Abierto = 0 THEN RC.ReclamoNumero ELSE NULL END)) AS Cerrados,
	COUNT(DISTINCT(CASE WHEN ISNULL(RC.Status,0) = 0 THEN RC.ReclamoNumero ELSE NULL END)) AS Pendientes,
	COUNT(DISTINCT(CASE WHEN ISNULL(RC.Status,1) = 1 THEN RC.ReclamoNumero ELSE NULL END)) AS EnProceso,
	COUNT(DISTINCT(  RC.ReclamoNumero  )) AS TotalReclamos,
	TotalFacturas = (SELECT COUNT(*) FROM Cliente_Factura CF2 WHERE CF2.FechaFact=RC.FechaFact  )
INTO #tmp
FROM [dbo].Reclamo_Cliente RC 
WHERE FechaAlta>=@DateStart
GROUP BY CONVERT(DATE,RIGHT(RC.FechaFact,2) + '/' + RIGHT(LEFT(RC.FechaFact,6),2) + '/' +LEFT(RC.FechaFact,4)),RC.FechaFact

UPDATE UPD SET
	PedidoCerrado		= T.PedidoCerrado,
	FaltoProducto		= T.FaltoProducto,		
	ProductoMalEstado	= T.ProductoMalEstado,
	Abiertos			= T.Abiertos		,	
	TotalReclamos		= T.TotalReclamos	,	
	TotalFacturas		= T.TotalFacturas	,
	Cerrados			= T.Cerrados,
	Pendientes			= T.Pendientes,
	EnProceso			= T.EnProceso
FROM report.Reclamo_Rep UPD
INNER JOIN #tmp T ON T.FechaFact = UPD.FechaFact


INSERT INTO report.Reclamo_Rep (FechaFact,PedidoCerrado,FaltoProducto,ProductoMalEstado,Abiertos,TotalReclamos,TotalFacturas,cerrados,pendientes,enproceso)
SELECT FechaFact,PedidoCerrado,FaltoProducto,ProductoMalEstado,Abiertos,TotalReclamos,TotalFacturas,cerrados,pendientes,enproceso FROM #tmp t WHERE not exists ( select null from report.Reclamo_Rep x WHERE  x.fechafact = t.FechaFact)
 
GO
