USE [Reclamos]
GO
/****** Object:  StoredProcedure [report].[usp_Nomina_Controladores_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [report].[usp_Nomina_Controladores_sel]
AS 
SET NOCOUNT ON 

SELECT EmpleadoID, Apellido +' ' +Nombre  as Nombre FROM Nomina WITH(NOLOCK) WHERE esControlador = 1


GO
