USE [Reclamos]
GO
/****** Object:  Table [report].[Reclamo_Rep]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [report].[Reclamo_Rep](
	[FechaFact] [date] NOT NULL,
	[PedidoCerrado] [int] NULL,
	[FaltoProducto] [int] NULL,
	[ProductoMalEstado] [int] NULL,
	[Abiertos] [int] NULL,
	[TotalReclamos] [int] NULL,
	[TotalFacturas] [int] NULL,
	[Cerrados] [int] NULL,
	[Pendientes] [int] NULL,
	[EnProceso] [int] NULL,
 CONSTRAINT [PK_Reclamorep] PRIMARY KEY CLUSTERED 
(
	[FechaFact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
