USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_step_3_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Actulizacion reclamos TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_step_3_upd]
@ReclamoID VARCHAR(27), 
@archivoadjunto VARCHAR(255) = NULL
AS
BEGIN
	SET NOCOUNT ON; 

	UPDATE TMP.Reclamo_Cliente_Resolucion set ArchivoAdjunto = REPLACE(@archivoadjunto,'\\\','\'), FechaModificacion = GETDATE() WHERE @ReclamoID= @ReclamoID
END
 

GO
