USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_HojaDeRutaPxP_Ins]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [TMP].[usp_HojaDeRutaPxP_Ins]
-- @TipoFact		VARCHAR(10) = '',
@CodigoFact		VARCHAR(10) = '',
@FacturaID		VARCHAR(10) = '',
@ClienteID		VARCHAR(10) = '',
@ClienteNombre	VARCHAR(255) = '',
@RazonSocial	VARCHAR(255) = '',
@FormaPago		VARCHAR(100) = '',
@ImporteFactura	VARCHAR(100) = '',
@ImporteAPagar	VARCHAR(100) = '',
@p2			VARCHAR(255) = '',
@p3			VARCHAR(255) = '',
@HDR			VARCHAR(10) = ''
AS
SET NOCOUNT ON

IF @ClienteID <> ''
BEGIN  
	INSERT INTO tmp.HojaDeRutaPxP (TipoFact
	,CodigoFact
	,FacturaID
	,ClienteID
	,ClienteNombre
	,RazonSocial
	,FormaPago
	,ImporteFactura
	,ImporteAPagar
	,HojaDeRutaNro)
	VALUES (''
	,@CodigoFact
	,@FacturaID
	,@ClienteID
	,@ClienteNombre
	,@RazonSocial
	,@FormaPago
	,@ImporteFactura
	,@ImporteAPagar
	,@HDR)
END 
GO
