USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_EnProceso_get]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Lista reclamos pendintes TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_EnProceso_get]
@idReclamo VARCHAR(27) = ''
AS
BEGIN
	SET NOCOUNT ON;
  
  	INSERT INTO TMP.Reclamo_Cliente_Mensaje
	SELECT *
	FROM dbo.Reclamo_Cliente_Mensaje  TMP
	WHERE NOT EXISTS (SELECT NULL FROM TMP.Reclamo_Cliente_Mensaje A WHERE A.ReclamoID = TMP.ReclamoID AND A.MensajeItem = TMP.MensajeItem)

	UPDATE UPD SET
		Enviado = A.Enviado,
		Archivo = A.Archivo
	FROM TMP.Reclamo_Cliente_Mensaje UPD
	INNER JOIN dbo.Reclamo_Cliente_Mensaje A ON A.ReclamoID = UPD.ReclamoID AND A.MensajeItem = UPD.MensajeItem
	WHERE ISNULL(UPD.Enviado,0)<>ISNULL(A.Enviado,0)
	OR ISNULL(UPD.Archivo,'')<>ISNULL(A.Archivo,'')
	
	

	SELECT	RC.FechaAlta AS FechaReclamo,
			RC.ReclamoNumero,
			/*RIGHT('0000'+CONVERT(varchar(8),C.Id),6)+' - '+*/ C.Nombre AS Cliente,
			--C.Nombre AS ClienteNombre,
			CONVERT( nvarchar, CAST( CAST( RC.FechaFact AS char(8)) AS date), 103 ) AS FechaFactura,
			RC.FacturaID AS FacturaNumero,
			RC.PedidoCerrado,
			RC.FaltoProducto,
			RC.FaltoProductoTexto,
			RC.ProductoMalEstado,
			RC.ProductoMalEstadoTexto,
			RC.Comentario,
			RC.email,
			RC.telefono,
			'Estimado/a '+C.Nombre +':' as NombreCliente,
			RC.Status,
			esErrorControl = 
				CASE 
					WHEN Rc.esReclamoxControl IS NULL THEN 'SIN DEFINIR' 
					ELSE 
						CASE WHEN RC.esReclamoxControl=1 THEN 'SI' ELSE 'NO' END	 
				END,
			MotivoDescripcion = CASE WHEN RM.ID IS NULL THEN 'MOTIVO NO DEFINIDO' ELSE RM.Nombre END,
			RC.Notas

	FROM TMP.Reclamo_Cliente RC
	INNER JOIN Cliente C ON C.Id = RC.ClienteID
	LEFT JOIN Reclamo_Resolucion_Motivo RM ON RM.Id = RC.ResolucionMotivoID
	--LEFT JOIN [TMP].[Reclamo_Cliente_Mensaje] S ON S.ReclamoID=ReclamoNumero
	WHERE RC.Status = 1
	AND
		(
			(Abierto = 1 AND (@idReclamo = '' OR ReclamoNumero = @idReclamo ))
			OR
			(Abierto = 0 AND ReclamoNumero = @idReclamo )
		)

	ORDER BY RC.FechaAlta
END


GO
