USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Mensaje_Ins]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Actulizacion reclamos TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Mensaje_Ins]
@ReclamoID VARCHAR(27), 
@comentario VARCHAR(500)
AS
BEGIN
	SET NOCOUNT ON; 
	DECLARE @FechaModificacion DATETIME = GETDATE()
	
	DECLARE @RowItemID INT
	SELECT @RowItemID = ISNULL(max(MensajeItem),0)+1
	FROM TMP.Reclamo_Cliente_Mensaje TMP
	WHERE TMP.ReclamoID=@ReclamoID

	INSERT INTO TMP.Reclamo_Cliente_Mensaje(ReclamoID,Mensaje,MensajeItem,Enviado,Archivo,DateAdded)
	SELECT RC.ReclamoNumero, @comentario,@RowItemID,-1,'',@FechaModificacion
	FROM TMP.Reclamo_Cliente RC
	WHERE RC.ReclamoNumero = @ReclamoID
	AND NOT EXISTS ( SELECT NULL FROM TMP.Reclamo_Cliente_Mensaje X WHERE X.ReclamoID = @ReclamoID and enviado=-1)
	IF @@ROWCOUNT=0
	BEGIN
		UPDATE TMP.Reclamo_Cliente_Mensaje set  Mensaje= @comentario WHERE ReclamoID= @ReclamoID and enviado=-1
	END
END
 


GO
