USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Resolucion_Save]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Cerrar Reclamo reclamos
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Resolucion_Save]
@ReclamoID VARCHAR(27) 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @FechaResuelto DATETIME = GETDATE()
	UPDATE TMP.Reclamo_Cliente  SET Abierto = 0, FechaResuelto = @FechaResuelto
	WHERE ReclamoNumero = @ReclamoID
	IF @@ROWCOUNT<> 0
	BEGIN
		UPDATE TMP.Reclamo_Cliente_Resolucion set Modificado = 1, FechaResuelto = @FechaResuelto WHERE ReclamoID= @ReclamoID
	END
END


GO
