USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_HojaDeRuta_Del]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [TMP].[usp_HojaDeRuta_Del]
AS
SET NOCOUNT ON


TRUNCATE TABLE TMP.HojaDeRuta


GO
