USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Pendientes_get]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Lista reclamos pendintes TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Pendientes_get]
@idReclamo VARCHAR(27) = '' 
AS
BEGIN
	SET NOCOUNT ON;
 
	INSERT INTO TMP.Reclamo_Cliente (FechaFact
	,ClienteID
	,FacturaID
	,PedidoCerrado
	,FaltoProducto
	,ProductoMalEstado
	,FaltoProductoTexto
	,ProductoMalEstadoTexto
	,Comentario
	,ReclamoNumero
	,Abierto
	,enviado
	,email
	,telefono
	,FechaAlta
	,FechaModificacion
	,CantUpdate
	,Fecha
	,Status
	,ResolucionMotivoID
	,esReclamoxControl
	,Notas
	)
	SELECT FechaFact
	,ClienteID
	,FacturaID
	,PedidoCerrado
	,FaltoProducto
	,ProductoMalEstado
	,FaltoProductoTexto
	,ProductoMalEstadoTexto
	,Comentario
	,ReclamoNumero
	,Abierto
	,enviado
	,email
	,telefono
	,FechaAlta
	,FechaModificacion
	,CantUpdate
	,Fecha
	,Rc.Status
	,RC.ResolucionMotivoID
	,RC.esReclamoxControl
	,RC.Notas
	FROM dbo.Reclamo_Cliente RC
	WHERE NOT EXISTS (
		SELECT NULL 
		FROM TMP.Reclamo_Cliente TMP 
		WHERE TMP.FechaFact=RC.FechaFact
		AND TMP.ClienteID =RC.ClienteID
		AND TMP.FacturaID = RC.FacturaID
		--AND TMP.ReclamoNumero = RC.ReclamoNumero
		)
	AND (
			(Abierto = 1 AND (@idReclamo = '' OR ReclamoNumero = @idReclamo ))
			OR
			(Abierto = 0 AND ReclamoNumero = @idReclamo )
	)

	UPDATE UPD SET
		email = RC.email,
		abierto = RC.Abierto,
		enviado = RC.enviado,
		PedidoCerrado = RC.PedidoCerrado,
		FaltoProducto = RC.FaltoProducto,
		ProductoMalEstado = RC.ProductoMalEstado,
		FaltoProductoTexto= RC.FaltoProductoTexto,
		ProductoMalEstadoTexto = RC.ProductoMalEstadoTexto,
		Comentario = RC.Comentario,
		Status=RC.Status,
		ResolucionMotivoID=RC.ResolucionMotivoID,
		esReclamoxControl=RC.esReclamoxControl,
		Notas = RC.Notas

	FROM TMP.Reclamo_Cliente UPD
	INNER JOIN dbo.Reclamo_Cliente RC ON RC.ReclamoNumero= UPD.ReclamoNumero
	WHERE 
		RC.email<>UPD.email OR
		RC.Abierto<>UPD.Abierto OR
		RC.enviado<>UPD.enviado OR
		ISNULL(RC.PedidoCerrado,'')<>ISNULL(UPD.PedidoCerrado,'') OR
		ISNULL(RC.FaltoProducto,'')<>ISNULL(UPD.FaltoProducto,'') OR
		ISNULL(RC.ProductoMalEstado,'')<>ISNULL(UPD.ProductoMalEstado,'') OR
		ISNULL(RC.FaltoProductoTexto,'')<>ISNULL(UPD.FaltoProductoTexto,'') OR
		ISNULL(RC.ProductoMalEstadoTexto,'')<>ISNULL(UPD.ProductoMalEstadoTexto,'') OR
		ISNULL(RC.Comentario,'')<>ISNULL(UPD.Comentario,'') OR
		ISNULL(RC.Status,'')<>ISNULL(UPD.Status,'')  OR
		ISNULL(RC.ResolucionMotivoID,'')<>ISNULL(UPD.ResolucionMotivoID,'')  OR
		ISNULL(RC.esReclamoxControl,'')<>ISNULL(UPD.esReclamoxControl,'') OR
		ISNULL(RC.Notas,'')<>ISNULL(UPD.Notas,'') 
		 
	INSERT INTO TMP.Reclamo_Cliente_Mensaje
	SELECT *
	FROM dbo.Reclamo_Cliente_Mensaje TMP
	WHERE NOT EXISTS (SELECT NULL FROM TMP.Reclamo_Cliente_Mensaje A WHERE A.ReclamoID = TMP.ReclamoID AND A.MensajeItem = TMP.MensajeItem)

	UPDATE UPD SET
		Enviado = A.Enviado,
		Archivo = A.Archivo
	FROM TMP.Reclamo_Cliente_Mensaje UPD
	INNER JOIN dbo.Reclamo_Cliente_Mensaje A ON A.ReclamoID = UPD.ReclamoID AND A.MensajeItem = UPD.MensajeItem
	WHERE ISNULL(UPD.Enviado,0)<>ISNULL(A.Enviado,0)
	OR ISNULL(UPD.Archivo,'')<>ISNULL(A.Archivo,'')
	
	SELECT	RC.FechaAlta AS FechaReclamo,
			RC.ReclamoNumero,
			RIGHT('0000'+CONVERT(varchar(8),C.Id),7)+' - '+ C.Nombre AS Cliente,
			--C.Nombre AS ClienteNombre,
			CONVERT( nvarchar, CAST( CAST( RC.FechaFact AS char(8)) AS date), 103 ) AS FechaFactura,
			RC.FacturaID AS FacturaNumero,
			RC.PedidoCerrado,
			RC.FaltoProducto,
			RC.FaltoProductoTexto,
			RC.ProductoMalEstado,
			RC.ProductoMalEstadoTexto,
			RC.Comentario,
			RC.email,
			RC.telefono,
			RC.Status,
			'Estimado/a '+C.Nombre as NombreCliente,
			RC.ResolucionMotivoID,
			RC.esReclamoxControl,
			RC.Notas
	FROM TMP.Reclamo_Cliente RC
	INNER JOIN Cliente C ON C.Id = RC.ClienteID
	WHERE 
	ISNULL(RC.Status,0) = 0
	AND
		(
			(Abierto = 1 AND (@idReclamo = '' OR ReclamoNumero = @idReclamo ))
			OR
			(Abierto = 0 AND ReclamoNumero = @idReclamo )

		)
	ORDER BY RC.FechaAlta
END


GO
