USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Pendientes_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Lista reclamos pendintes TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Pendientes_sel]
@idReclamo VARCHAR(25) = ''
AS
BEGIN
	SET NOCOUNT ON;
 
	INSERT INTO TMP.Reclamo_Cliente (FechaFact
	,ClienteID
	,FacturaID
	,PedidoCerrado
	,FaltoProducto
	,ProductoMalEstado
	,FaltoProductoTexto
	,ProductoMalEstadoTexto
	,Comentario
	,ReclamoNumero
	,Abierto
	,enviado
	,email
	,telefono
	,FechaAlta
	,FechaModificacion
	,CantUpdate
	,Fecha
	,Status
	,ResolucionMotivoID
	,esReclamoxControl
	)
	SELECT FechaFact
	,ClienteID
	,FacturaID
	,PedidoCerrado
	,FaltoProducto
	,ProductoMalEstado
	,FaltoProductoTexto
	,ProductoMalEstadoTexto
	,Comentario
	,ReclamoNumero
	,Abierto
	,enviado
	,email
	,telefono
	,FechaAlta
	,FechaModificacion
	,CantUpdate
	,Fecha
	,Rc.Status
	,RC.ResolucionMotivoID
	,RC.esReclamoxControl
	FROM dbo.Reclamo_Cliente RC
	WHERE NOT EXISTS (SELECT NULL FROM TMP.Reclamo_Cliente TMP WHERE TMP.ReclamoNumero = RC.ReclamoNumero)
	AND (
			(Abierto = 1 AND (@idReclamo = '' OR ReclamoNumero = @idReclamo ))
			OR
			(Abierto = 0 AND ReclamoNumero = @idReclamo )
	)



	SELECT	RC.FechaAlta AS FechaReclamo,
			RC.ReclamoNumero,
			RIGHT('0000'+CONVERT(varchar(8),C.Id),6)+' - '+ C.Nombre AS Cliente,
			--C.Nombre AS ClienteNombre,
			CONVERT( nvarchar, CAST( CAST( RC.FechaFact AS char(8)) AS date), 103 ) AS FechaFactura,
			RC.FacturaID AS FacturaNumero,
			RC.PedidoCerrado,
			RC.FaltoProducto,
			RC.FaltoProductoTexto,
			RC.ProductoMalEstado,
			RC.ProductoMalEstadoTexto,
			RC.Comentario,
			RC.email,
			RC.telefono,
			IIF(S.Comentario IS NULL,'Estimado/a '+C.Nombre +':', S.Comentario) as NombreCliente
			,Rc.Status
			,RC.ResolucionMotivoID
			,RC.esReclamoxControl
	FROM TMP.Reclamo_Cliente RC
	INNER JOIN Cliente C ON C.Id = RC.ClienteID
	LEFT JOIN [TMP].[Reclamo_Cliente_Resolucion] S ON S.ReclamoID=ReclamoNumero
	WHERE 
		(Abierto = 1 AND (@idReclamo = '' OR ReclamoNumero = @idReclamo ))
		OR
		(Abierto = 0 AND ReclamoNumero = @idReclamo )

	ORDER BY RC.FechaAlta
END


GO
