USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_step_2_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Actulizacion reclamos TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_step_2_sel]
@ReclamoID VARCHAR(27) 
AS
BEGIN
	SET NOCOUNT ON; 

	SELECT comentario 
	FROM TMP.Reclamo_Cliente_Resolucion 
	WHERE ReclamoID= @ReclamoID; 
END
 

GO
