USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_HojaDeRuta_Ins]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [TMP].[usp_HojaDeRuta_Ins]
--@TipoFact		VARCHAR(10) = '',
@CodigoFact		VARCHAR(10) = '',
@FacturaID		VARCHAR(10) = '',
@ClienteID		VARCHAR(10) = '',
@ClienteNombre	VARCHAR(255) = '',
@RazonSocial	VARCHAR(255) = '',
@FormaPago		VARCHAR(100) = '',
@ImporteFactura	VARCHAR(100) = '',
@ImporteAPagar	VARCHAR(100) = '',
@p1	VARCHAR(100) = '',
@p2	VARCHAR(100) = ''

AS
SET NOCOUNT ON 

INSERT INTO tmp.HojaDeRuta (TipoFact
,CodigoFact
,FacturaID
,ClienteID
,ClienteNombre
,RazonSocial
,FormaPago
,ImporteFactura
,ImporteAPagar)
VALUES (''
,@CodigoFact
,@FacturaID
,@ClienteID
,@ClienteNombre
,@RazonSocial
,@FormaPago
,@ImporteFactura
,@ImporteAPagar)

GO
