USE [Reclamos]
GO
/****** Object:  Table [TMP].[HojaDeRutaPxP]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TMP].[HojaDeRutaPxP](
	[TipoFact] [varchar](10) NULL,
	[CodigoFact] [varchar](10) NULL,
	[FacturaID] [varchar](10) NULL,
	[ClienteID] [varchar](10) NULL,
	[ClienteNombre] [varchar](255) NULL,
	[RazonSocial] [varchar](255) NULL,
	[FormaPago] [varchar](100) NULL,
	[ImporteFactura] [varchar](100) NULL,
	[ImporteAPagar] [varchar](100) NULL,
	[HojaDeRutaNro] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
