USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Mensajes_Actual]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Actulizacion reclamos TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Mensajes_Actual] 
@ReclamoID VARCHAR(27) 
AS
BEGIN
	SET NOCOUNT ON; 

	SELECT Mensaje 
	FROM TMP.Reclamo_Cliente_Mensaje
	WHERE ReclamoID= @ReclamoID and enviado=-1
	
END

GO
