USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Mensajes_UpdateFile]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Actulizacion reclamos TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Mensajes_UpdateFile]
@ReclamoID VARCHAR(27), 
@archivoadjunto VARCHAR(255) = NULL
AS
BEGIN
	SET NOCOUNT ON; 

	UPDATE TMP.Reclamo_Cliente_Mensaje set Archivo = REPLACE(@archivoadjunto,'\\\','\') WHERE @ReclamoID= @ReclamoID and Enviado=-1
END
 


GO
