USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_step_2_upd]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Actulizacion reclamos TMP
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_step_2_upd]
@ReclamoID VARCHAR(27), 
@comentario VARCHAR(500)
AS
BEGIN
	SET NOCOUNT ON; 
	DECLARE @FechaModificacion DATETIME = GETDATE()

	INSERT INTO TMP.Reclamo_Cliente_Resolucion (ReclamoID,Email,comentario,Enviado,Modificado,FechaModificacion)
	SELECT RC.ReclamoNumero, RC.email, @comentario,0,0,@FechaModificacion
	FROM TMP.Reclamo_Cliente RC
	WHERE RC.ReclamoNumero = @ReclamoID
	AND NOT EXISTS ( SELECT NULL FROM TMP.Reclamo_Cliente_Resolucion X WHERE X.ReclamoID = @ReclamoID)
	IF @@ROWCOUNT=0
	BEGIN
		UPDATE TMP.Reclamo_Cliente_Resolucion set  comentario= @comentario, ArchivoAdjunto='', FechaModificacion = @FechaModificacion WHERE @ReclamoID= @ReclamoID
	END
END
 

GO
