USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Mensajes_sel]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Lista reclamos usp_Reclamos_Mensajes_sel
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Mensajes_sel]
@idReclamo VARCHAR(27) = ''
AS
BEGIN
	SET NOCOUNT ON;
  
	INSERT INTO [TMP].Reclamo_Cliente_Mensaje 
	SELECT *
	FROM dbo.Reclamo_Cliente_Mensaje RC
	WHERE RC.ReclamoID = @idReclamo
	AND NOT EXISTS(SELECT NULL FROM TMP.Reclamo_Cliente_Mensaje R2 WHERE R2.ReclamoID = RC.ReclamoID and R2.MensajeItem=RC.MensajeItem)


	UPDATE UPD SET
		Enviado = A.Enviado,
		Archivo = A.Archivo
	FROM TMP.Reclamo_Cliente_Mensaje UPD
	INNER JOIN dbo.Reclamo_Cliente_Mensaje A ON A.ReclamoID = UPD.ReclamoID AND A.MensajeItem = UPD.MensajeItem
	WHERE ISNULL(UPD.Enviado,0)<>ISNULL(A.Enviado,0)
	OR ISNULL(UPD.Archivo,'')<>ISNULL(A.Archivo,'')
	

	SELECT	Rc.Mensaje,Rc.MensajeItem
	FROM [TMP].Reclamo_Cliente_Mensaje RC
	WHERE RC.ReclamoID = @idReclamo and ISNULL(enviado,0) IN (0,1)
	ORDER BY RC.MensajeItem
END


GO
