USE [Reclamos]
GO
/****** Object:  Table [TMP].[Reclamo_Cliente_Mensaje]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [TMP].[Reclamo_Cliente_Mensaje](
	[ReclamoID] [varchar](27) NOT NULL,
	[MensajeItem] [int] NOT NULL,
	[Mensaje] [varchar](500) NULL,
	[Enviado] [smallint] NULL,
	[Archivo] [varchar](255) NULL,
	[DateAdded] [datetime] NULL,
 CONSTRAINT [PK_TMP_Reclamo_Cliente_Mensaje] PRIMARY KEY CLUSTERED 
(
	[ReclamoID] ASC,
	[MensajeItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [TMP].[Reclamo_Cliente_Mensaje] ADD  DEFAULT ((-1)) FOR [Enviado]
GO
ALTER TABLE [TMP].[Reclamo_Cliente_Mensaje] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
