USE [Reclamos]
GO
/****** Object:  StoredProcedure [TMP].[usp_Reclamos_Mensajes_Close]    Script Date: 30/04/2026 12:40:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Cerrar Reclamo reclamos
-- =============================================
CREATE PROCEDURE [TMP].[usp_Reclamos_Mensajes_Close]
@ReclamoID VARCHAR(27) 
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @FechaResuelto DATETIME = GETDATE()
	UPDATE TMP.Reclamo_Cliente  SET Abierto = 0, FechaResuelto = @FechaResuelto, Status=2
	WHERE ReclamoNumero = @ReclamoID

	UPDATE UPD	SET 
		Enviado			= 0 
	FROM TMP.Reclamo_Cliente_Mensaje UPD 
	WHERE UPD.ReclamoID = @ReclamoID 
	AND UPD.Enviado = -1
 
END


GO
